{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Attribute</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper white-wrapper-padding">
                <div class="d-flex d-grid">
                    <div>
                     
                        <div class="inv-input-container h-30">
                            <i class="fa fa-search inv-icon-input" aria-hidden="true"></i>
                            <input type="text" placeholder="Search Attribute" id="search-bar" class="inv-input w-250" onchange ="set_params_go()" value="{{search_query|default_if_none:''}}" name="attributes">
                          </div>
                    
                    
                    </div>
                    <div class="right-pos m-mt-10">
                        <button class="inv-blue-btn add_attribute" onclick="showDrawer('add')" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Attribute </button>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-7 mt-20">
                        <div class="d-flex">
                            <div>
                                <label for="favcity" style="width:100%;"> 
                                    <select style="padding: 5px 50px 5px 7px !important; " name="no_of_entries" id="no_of_entries" onchange="set_params_go();"> 
                                    <option value="20" {% if no_of_entries == '20' %}selected{% endif %}>20 Entries</option>
                                    <option value="50" {% if no_of_entries == '50' %}selected{% endif %}>50 Entries</option>
                                    <option value="100" {% if no_of_entries == '100' %}selected{% endif %}>100 Entries</option>
                                    </select>
                                    </label>
                            </div>
                            <div class="right-pos">
                                <p>{{no_of_entries}} Entries</p>
                            </div>
                        </div>
                        <div class="attribute-table">
                            <table class="inv-table footable "> 
                                <thead>
                                <tr>
                                    <th style="width: %;">
                                        Attribute Name
                                    </th>
                                    <th data-hide="phone,tablet" style="width: %; text-align: center;">
                                        Total Values
                                    </th>
                                    <th  style="width: %;" >
                                        Status
                                    </th>
                                 
                                    <th data-hide="phone,tablet" style="width: 18%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attribute in attributes %}
                                <tr class="attribute_row" onclick="getvalues({{attribute.id}})" data-name="{{attribute.name}}">
                                    <td class="inv-green-border">
                                
                                        {{attribute.name}}
                                    </td>
                                    <td class="text-center">
                                        {{attribute.value_count}}
                                    </td>
                                    <td>
                                        {% if attribute.status == True %}
                                        <span class="inv-dot c-active ml-5"></span>Active
                                        {% else %}
                                        <span class="inv-dot c-active ml-5"></span>Not Active
                                        {% endif %}
                                        
                                    </td>
                                    <td>
                                  
                                        <button class="inv-plan-img-btn edit_attribute" data-attributeid="{{attribute.id}}" data-attributename="{{attribute.name}}" data-attributecategory="{{attribute.attribute_category.id}}" data-attributesegment="{{attribute.attribute_segment.id}}" data-attributeline="{{attribute.attribute_line.id}}" data-attributestatus="{{attribute.status}}" onclick="showDrawer('edit')" > <img src="{% static 'files/inventory/icons/edit.png' %}"  alt=""> </button>
                                        <button class="inv-plan-img-btn delete_attribute" data-attributeid="{{attribute.id}}" data-attributename="{{attribute.name}}" data-attributestatus="{{attribute.status}}" data-toggle="modal" data-target="#deleteModel" > <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button>
        
                                    </td>
                                </tr>
                                {% empty%}
                                <tr><td></td><td>No Data</td><td></td><td></td></tr>
                                {% endfor %}                               
                              
                            </tbody>
                            </table>
                        </div>
                        
                        <div class="text-right">
                            <ul class="pagination">
     
                                {% if attributes.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ attributes.previous_page_number }}&search={{request.GET.search}}" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                {% endif %}

                                {% for pg in page_range %}
                                    {% if vus.number == pg %}
                                        <li class="page-item"><a class="page-link active" href="?page={{pg}}&search={{request.GET.search}}" >{{pg}}</a></li> 
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{pg}}&search={{request.GET.search}}" >{{pg}}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if attributes.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ attributes.next_page_number }}&search={{request.GET.search}}" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                                {% endif %}
                                
                              </ul>
                        </div>
                        <div style="color: #928F8F;">
                            Showing {{attributes.start_index}} to {{attributes.end_index}} of {{attributes.paginator.count}} entries
                        </div>
        
                    </div>

                    <!-- <div class="col-md-7 mt-10">
                        
                    </div> -->
                    <div class="col-md-5 mt-10 pt-4 ">
                        <h3>Lines under <span id="attribute_name"></span> </h3>
                        <div class="attribute-table-2 " >
                        
                            <div class="attribute-table-div2">
                                <table class="inv-table value_table"> 
                                    <tr>
                                        <th style="width: %;">
                                            Value Name
                                        </th>
                                        <th style="width: %;">
                                            Action
                                        </th>
                                    </tr>
                                    
                                   
                                </table>
                            </div>
                          
                            <div class="attribute-footer p-5">
                                <button class="inv-plan-btn" onclick="openNavAddValue('add')" > <img src="{% static 'files/inventory/icons/add.png' %}" class="btn-img mr-5" alt=""> Add Value</button>

                            </div>
                        </div>
                    </div>
                </div>
               

            </div>
        </div>

       
    </section>

    <div id="addAttribute" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head  inv-drawer-head-common">
                    Add Atribute
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddAttribute()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <form method="POST" action="">{% csrf_token %}
            <input type="hidden" name="action" id="attribute_action" value="add_attribute" />
            <input type="hidden" name="attribute_edit_id" id="id_edit_attribute" />
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Attribute Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" id="name_attribute" name="attribute">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Category</div>

                    <!-- <select class="minimal" name="attribute_category" id="id_category" required>
                        <option value="">--Select Category--</option>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}

                    </select> -->
                    <input hidden type="text" name="attribute_category" id="id_category" required>
                    <div class="wrap-drop" id="noble-gases"  >
                        <span id="id_selectText">--Select Category--</span>
                        <ul class="drop">
                            {% for category in categories %}
                            <li id="cat_id{{category.id}}" onclick="changeSelect({{category.id}})"><a>{{category.name}}</a></li>
                   
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row mt-20 segment_dropdown">
                <div class="col-md-12 ">
                    <div class="model-input-name">Segment</div>

                    <!-- <select class="minimal" name="attribute_segment" id="id_segment">
                        <option value="">--Select Segment--</option>
                    
                    </select> -->
                    <input hidden type="text" name="attribute_segment" id="id_segment" required>

                    <div class="wrap-drop" id="noble-gases2" style="z-index: 5 !important;" >
                        <span id="id_seg_text">--Select Segment--</span>
                        <ul class="drop" id="id_ul_seg">
                           
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row mt-20 line_dropdown">
                <div class="col-md-12 ">
                    <div class="model-input-name">Line</div>

                    <!-- <select class="minimal" name="attribute_line" id="id_line">
                        <option value="">--Select Line--</option>
                    
                    </select> -->
                    <input  hidden type="text" name="attribute_line" id="id_line" required>

                    <div class="wrap-drop" id="noble-gases3" style="z-index: 3 !important;" >
                        <span id="id_line_text">--Select Line--</span>
                        <ul class="drop" id="id_ul_line">
                           
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                   <!-- <select class="minimal" name="status" id="status_attribute" required>
                        <option value="True" selected>Active</option>
                        <option value="False">Inactive</option>

                    </select> -->
                    <input hidden type="text" name="status" id="status_attribute" value="True">
                    <div class="wrap-drop" id="noble-gases4" style="z-index: 2 !important;"  >
                        <span id="id_selectText2">Active</span>
                        <ul class="drop">
                            <li onclick="changeSelect4('True')"><a>Active</a></li>
                            <li onclick="changeSelect4('False')"><a>Inactive</a></li> 
                        </ul>
                    </div>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button attribute-form-btn" type="submit" >Add</button>
            </form>
                        <button data-dismiss="modal" onclick="closeNavAddAttribute()" class="view-button">Cancel</button>
        </div>
        
    </div>
    <div id="addValue" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="valueHead">
                    Add Value
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddValue()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <form method="POST" action="" >{% csrf_token %}
            <input type="hidden" name="action" id="value_action" value="add_value" />
            <input type="hidden" name="value_attribute_id" id="value_attribute_id" />
            <input type="hidden" name="edit_value_id" id="id_edit_value" />
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Value Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text" id="value_name_id" name="value_name" class="w-p-100 inv-in" >
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <!-- <select id="value_status_id" name="value_status" class="minimal">
                        <option value="True" selected>Active</option>
                        <option value="False">Inactive</option>

                    </select> -->
                    <input hidden type="text"  id="value_status_id" name="value_status"value="True">
                    <div class="wrap-drop" id="noble-gases5" style="z-index: 2 !important;"  >
                        <span id="id_selectText3">Active</span>
                        <ul class="drop">
                            <li onclick="changeSelect5('True')"><a>Active</a></li>
                            <li onclick="changeSelect5('False')"><a>Inactive</a></li> 
                        </ul>
                    </div>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button value-form-btn" type="submit" >Submit</button>
            </form>
                        <button data-dismiss="modal" onclick="closeNavAddValue()" class="view-button">Cancel</button>
        </div>
        
    </div>
    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete Attribute</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <form method="POST" action="" >{% csrf_token %}
                        <input type="hidden" name="action" value="delete_attribute" id="delete_action_id" />
                        <input type="hidden" name="object_id" id="id_object" />
                        <div class="cancel-model-content">
                            <button class="sent-button" type="submit" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
      </div>
</div>


{% endblock %}

{% block javascript %}
<script>
    function DropDown(el) {
    this.dd = el;
    this.placeholder = this.dd.children('span');
    this.opts = this.dd.find('ul.drop li');
    this.val = '';
    this.index = -1;
    this.initEvents();
}

DropDown.prototype = {
    initEvents: function () {
        var obj = this;
        obj.dd.on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).toggleClass('active');
        });
        obj.opts.on('click', function () {
           
            var opt = $(this);
            obj.val = opt.text();
            obj.index = opt.index();
            obj.placeholder.text(obj.val);
            opt.siblings().removeClass('selected');
            opt.filter(':contains("' + obj.val + '")').addClass('selected');
        }).change();
    },
    getValue: function () {
        return this.val;
    },
    getIndex: function () {
        return this.index;
    }
};

$(function () {
    // create new variable for each menu
    var dd1 = new DropDown($('#noble-gases'));
    var dd2 = new DropDown($('#noble-gases2'));
    var dd3 = new DropDown($('#noble-gases3'));
    var dd4 = new DropDown($('#noble-gases4'));
    var dd5 = new DropDown($('#noble-gases5'));
    


    // var dd2 = new DropDown($('#other-gases'));
    $(document).click(function () {
        // close menu on document click
        $('.wrap-drop').removeClass('active');
    });
});
</script>
<script>
    function changeSelect4(va){
        $('#status_attribute').val(va)
    }
    function changeSelect5(va){
        $('#value_status_id').val(va)
    }
   // var dd2 = new DropDown($('#noble-gases2'));
   function changeSelect(va){
        $('#id_category').val(va);
        $('#id_segment').val('');
       
        var category_id = $('#id_category').val();
        console.log(category_id,"cid")
        getsegments(category_id);
        $('.line_dropdown').hide();
        $('#id_line').attr("required",false);
    }
    function changeSelect2(id){
        $('#id_line').val('');
         $('#id_segment').val(id);
        $('#id_seg_text').text($('#seg_id'+id).text());
        var segment_id = $('#id_segment').val();
        getlines(segment_id);
    }
    function changeSelect3(id){
         $('#id_line').val(id);
        $('#id_line_text').text($('#line_id'+id).text());
       
    }
    $(document).ready(function(){
        $('.segment_dropdown').hide();
        $('.line_dropdown').hide();

        
        {% for attribute in attributes %}
        {% if forloop.first %}
        console.log({{attribute.id}},"lopattr")
        getvalues({{attribute.id}});
        $('.attribute_row:first').addClass('inv-selected-row');
        $('#attribute_name').text("{{attribute.name}}");
        {% endif %}
        {% endfor %}
    
    })

    //highlighting row and adding selected item name to table top
    $('.attribute_row').click(function(){
        $('.attribute_row').each(function(i, obj) {
            $(obj).removeClass('inv-selected-row');
        });

        $(this).addClass('inv-selected-row');
        $('#attribute_name').text($(this).data('name'));
    })

    function showDrawer(d){
        console.log(d)
        if(d == 'add'){
            $('#status_attribute').val('True')
            $('#id_selectText2').text('Active');
            $('#id_selectText').text('--Select Category--')
            $('#id_category').val('');
            $(".inv-drawer-head-common").text("Add Attribute");
            $('#attribute_action').val('add_attribute');
        }
        if(d == 'edit'){
            $(".inv-drawer-head-common").text("Edit Attribute");
            $('#attribute_action').val('edit_attribute');
        }
        openNavAddAttribute()
    }
    function openNavAddAttribute() {
        if(screen.width<= 600){
            document.getElementById("addAttribute").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addAttribute").style.width = "50%";
        }
        else{
            document.getElementById("addAttribute").style.width = "30%";
        }  
    }
    function closeNavAddAttribute() {
        document.getElementById("addAttribute").style.width = "0";
    }
    function openNavAddValue(d) {
        if(d == 'add'){
            
            $('#value_status_id').val('True')
            $('#id_selectText3').text('Active');
            $("#valueHead").text("Add Value");
            $(".value-form-btn").text("Add");
            
        }
        if(d == 'edit'){
            $("#valueHead").text("Edit Value");
            
        }
        console.log(d)
        if(screen.width<= 600){
            document.getElementById("addValue").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addValue").style.width = "50%";
        }
        else{
            document.getElementById("addValue").style.width = "30%";
        }  
    }

    function openNavEditValue(d) {
        $("#valueHead").text("Edit Value");
        $(".value-form-btn").text("Update");

        $('#value_action').val('edit_value');
        $('#id_edit_value').val($(d).data('valueid'));
        $('#value_name_id').val($(d).data('valuename'));

        if ($(d).data('valuestatus') == true){
            document.getElementById("value_status_id").value = 'True';
            $('#id_selectText3').text('Active');

        }
        else{
            document.getElementById("value_status_id").value = 'False';
            $('#id_selectText3').text('Inactive');
            
        }
      

        console.log(d)
        if(screen.width<= 600){
            document.getElementById("addValue").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addValue").style.width = "50%";
        }
        else{
            document.getElementById("addValue").style.width = "30%";
        }  
    }

    function closeNavAddValue() {
        document.getElementById("addValue").style.width = "0";
    }

    //delete attribute
    $('.delete_attribute').click(function(){
        $('#id_object').val($(this).data('attributeid'));
        $('#delete_action_id').val('delete_attribute');
    })

    //edit attribute
    $('.edit_attribute').click(async function(){
        $('#id_selectText').text($('#cat_id'+$(this).data('attributecategory')).text());
        $('#id_edit_attribute').val($(this).data('attributeid'));
        $('#name_attribute').val($(this).data('attributename'));

       await getsegments($(this).data('attributecategory'));
       await getlines($(this).data('attributesegment'));
       $('#id_seg_text').text($('#seg_id'+$(this).data('attributesegment')).text());
       $('#id_line_text').text($('#line_id'+$(this).data('attributeline')).text());

        console.log($(this).data('attributecategory'),$(this).data('attributesegment'),$(this).data('attributeline'),"attrcheck")
        
        document.getElementById("id_category").value = $(this).data('attributecategory');
        document.getElementById("id_line").value = $(this).data('attributeline');

        console.log('seg',$(this).data('attributesegment'))
        document.getElementById("id_segment").value = $(this).data('attributesegment');
        
        document.getElementById("status_attribute").value = $(this).data('attributestatus');
        if($('#status_attribute').val() == 'True'){
            console.log("true")
            $('#id_selectText2').text('Active');
        }else{
            $('#id_selectText2').text('Inactive');

        }
        $('.attribute-form-btn').text('Update');

    })

    $('.add_attribute').click(function(){
        console.log("click")
        $('#id_edit_attribute').val($(this).data('attributeid'));
        $('#name_attribute').val('');
        document.getElementById("status_attribute").value = 'True';
        $('.attribute-form-btn').text('Add');
        $('.segment_dropdown').hide();
        $('.line_dropdown').hide();
        $('#id_segment').attr("required",false);
        $('#id_line').attr("required",false);
    })

    //EDIT VALUE
    function editValue(value_id,value_name){
        console.log(value_id,""+value_name+"","logged")
        openNavAddValue('edit');
    }

    //Delete VALUE
    function deleteValue(value_id){
        $('#id_object').val(value_id);
        $('#delete_action_id').val('delete_value');
    }

    $('#id_category').change(function(){
        var category_id = $('#id_category').val();
        console.log(category_id,"cid")
        getsegments(category_id);
        $('.line_dropdown').hide();
        $('#id_line').attr("required",false);
    })

    $('#id_segment').change(function(){
        var segment_id = $('#id_segment').val();
        console.log(segment_id,"cid")
        getlines(segment_id);
    })
        
    async function getsegments(category_id){
         var result = await _get('api/inventory-segments/?category_id='+category_id);
         
         if(result.status == 200){
             console.log(result.data.inventory_segment,"stat")
            if (result.data.inventory_segment.length > 0){
                $('#id_seg_text').text('--Select Segment--');
                $('#id_ul_seg').empty();
                $('#id_segment').attr("required",true);
                $.each(result.data.inventory_segment,function(key,value){
                    console.log(key.id,value.id,"stat")
                    var tempName = String(value.name)
                    console.log(tempName)
                        $('#id_ul_seg').append(' <li id="seg_id'+value.id+'" data-id='+value.id+'  onclick="changeSelect2('+value.id+')" ><a>'+value.name+'</a></li>')
                })
                

                // $('#id_segment').find('option').remove();
                // $('#id_segment').append('<option value="">--Select Segment--</option>')
                // $('#id_segment').attr("required",true);
                // $.each(result.data.inventory_segment,function(key,value){
                //     console.log(key.id,value.id,"stat")
                //         $('#id_segment').append('<option value='+value.id+'>'+value.name+'</option>')
                // })

                $('.segment_dropdown').show();
            }else{
                showNotification('No Segments','error')
            }
            
         }else{
             $('#id_segment').attr("required",false);
            showNotification('Something went wrong','error')
         }
    }

    async function getlines(segment_id){
         var result = await _get('api/inventory-lines/?segment_id='+segment_id);
         
         if(result.status == 200){
             console.log(result.data.inventory_line,"stat")
            if (result.data.inventory_line.length > 0 ){
                $('#id_line_text').text('--Select Line--');
                $('#id_ul_line').empty();

                $.each(result.data.inventory_line,function(key,value){
                    console.log(key.id,value.id,"stat")
                       
                        $('#id_ul_line').append(' <li id="line_id'+value.id+'" data-id='+value.id+'  onclick="changeSelect3('+value.id+')" ><a>'+value.name+'</a></li>')
                })


                // $('#id_line').find('option').remove();
                // $('#id_line').append('<option value="">--Select Line--</option>')
                // $('#id_line').attr("required",true);
                // $.each(result.data.inventory_line,function(key,value){
                //     console.log(key.id,value.id,"stat")
                //         $('#id_line').append('<option value='+value.id+'>'+value.name+'</option>')
                // })

                $('.line_dropdown').show();
            }else{
                $('#id_line').attr("required",false);
                showNotification('No Lines','error')
            }
            
         }else{
            showNotification('Something went wrong','error')
         }
    }

    async function getvalues(attribute_id){
        $('#value_attribute_id').val(attribute_id); //adding value to hidden input for adding value

         var result = await _get('api/inventory-values/?attribute_id='+attribute_id);
         
         if(result.status == 200){
            if (result.data.inventory_value.length > 0){
                $(".value_table tr:not(:first)").remove(); 
                var edit = "edit";
                $.each(result.data.inventory_value,function(key,value){
                        $('.value_table').append('<tr><td>'+value.name+'</td><td><button class="value_edit inv-plan-img-btn mr-5" onclick="openNavEditValue(this)" data-valueid='+value.id+' data-valuename='+value.name+' data-valuestatus='+value.status+'> <img src="{% static 'files/inventory/icons/edit.png' %}"  alt=""> </button><button class="inv-plan-img-btn value_delete" onclick="deleteValue('+value.id+')" data-valueid='+value.id+' data-toggle="modal" data-target="#deleteModel"> <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button></td></tr>')
                })
            }else{
                $(".value_table tr:not(:first)").remove(); 
            }
         }else{
            showNotification('Something went wrong','error')
         }
    }

    function set_params_go(args)
    {
    var url='{% url 'inventory:inventory-attribute' %}';
    var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),
    };
    for(key in args) 
        params[key]=args[key];
    var query='';
    for(key in params)
        if(params[key]) 
            query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;  
    }
</script>

{% endblock %}