{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .chosen-container-multi .chosen-choices {
            border: 1px solid #4b4b4b !important;
            border-radius: 4px !important;
        }
        .multiselect{
            background: #fff !important;
        }
        .multiselect-container li{
            padding-left: 5px !important;
        }
    </style>
<div class="wrapper" id="bundle"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Bundle</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper">
                <div class="d-flex d-grid">
                    <div>
                     
                        <div class="inv-input-container h-30">
                            <i class="fa fa-search inv-icon-input" aria-hidden="true"></i>
                            <input type="text" placeholder="Search Attributes" class="inv-input w-250" name="attributes">
                          </div>
                    
                    
                    </div>
                    <div class="right-pos">
                        <button class="inv-blue-btn" onclick="openNavAddBundle('add')"> <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Bundle </button>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-7 mt-20">
                        <div class="d-flex">
                            <div>
                                <label for="favcity" style="width:100%;"> 
                                    <select style="padding: 5px 50px 5px 7px !important; " name="no_of_entries" id="no_of_entries" onchange="set_params_go();"> 
                                    <option value="20">20 Entries</option>
                                    <option value="50">50 Entries</option>
                                    <option value="100">100 Entries</option>
                                    </select>
                                    </label>
                            </div>
                            <div class="right-pos">
                                <p>20 Entries</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 mt-10">
                        <div class="attribute-table">
                            <table class="inv-table footable" id="table1"> 
                                <thead>
                                    <tr >
                                        <th  style="width: %;">
                                            Bundle Name
                                        </th>
                                        <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                            Items
                                        </th>
                                        <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                            Price
                                        </th>
                                        <th style="width: %;" >
                                            Status
                                        </th>
                                     
                                        <th data-hide="phone,tablet"  style="width: 18%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bundle in bundles %}
                                    <tr onclick="getitems({{bundle.id}})" >
                                        <td class="r">
                                    
                                           {{bundle.name}}
                                        </td>
                                        <td class="text-center">
                                            {{bundle.items_count}}
                                        </td>
                                        <td class="text-center">
                                            {{bundle.bundle_price|floatformat:3}} KD
                                        </td>
                                        <td>
                                            {% if bundle.status == True %}
                                            <span class="inv-dot c-active ml-5"></span>Active
                                            {% else %}
                                            <span class="inv-dot c-active ml-5"></span>Not Active
                                            {% endif %}
                                        </td>
                                        <td>
                                      
                                            <button class="inv-plan-img-btn edit_bundle" onclick="openNavAddBundle('edit')" data-bundleid="{{bundle.id}}" data-bundlename="{{bundle.name}}" data-bundlecode="{{bundle.bundle_code}}" data-bundleprice="{{bundle.bundle_price|floatformat:3}}" data-bundlestatus="{{bundle.status}}"> <img src="{% static 'files/inventory/icons/edit.png' %}"  alt=""> </button>
                                            <button class="inv-plan-img-btn delete_bundle" data-bundleid="{{bundle.id}}" data-toggle="modal" data-target="#deleteModel"> <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button>
            
                                        </td>
                                         
                                    </tr>
                                    {% endfor %}
                                </tbody>
                               
                               
                                
                            </table>
                        </div>
                        <div class="text-right">
                            <ul class="pagination">
     
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                        <li class="page-item"><a class="page-link" >1</a></li>                             
                                        <li class="page-item"><a class="page-link" >2</a></li>
                                        <li class="page-item"><a class="page-link" >3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="?page=2&amp;search=&amp;governorate=&amp;area=&amp;customertype=&amp;status=&amp;no_of_entries=" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                                
                              </ul>
                        </div>
                    </div>
                    <div class="col-md-5 mt-10">
                        <div class="attribute-table-2">
                            <div class="attribute-table-div2">
                                <table class="inv-table footable" id="table2"> 
                                    <thead>
                                        <tr>
                                            <th style="width: %;">
                                                Item Name
                                            </th>
                                            <th  style="width: %;">
                                                Count
                                            </th>
                                            <th data-hide="phone,tablet"  style="width: %;">
                                                Price
                                            </th>
                                            <th data-hide="phone,tablet"  style="width: %;">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                    
    
                                   
                                   
                                </table>
                            </div>
                           
                            <div class="attribute-footer p-5">
                                <button class="inv-plan-btn" onclick="openNavAddItem('add')"> <img src="{% static 'files/inventory/icons/add.png' %}" class="btn-img mr-5" alt=""> Add Item</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div style="color: #928F8F;">
                    Showing 1 to 20 of 2119 entries 
                </div>


            </div>
        </div>

        <div class="modal fade" id="addModel" role="dialog">
            <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 mt-20">
    
                            
                            <div class="d-flex ">
                                <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Add Attribute</p></div>
                                <button data-dismiss="modal" class="img-button" style="margin-left: auto;">
    
                                    <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                                </button>
        
                            </div>
                        </div>
                    </div>
                    <div class="row mt-40" >
                        <div class="col-md-9 pr-0">
                            <div class="model-input-name">Attribute Name</div>
                            <div class="inv-input-container h-30"> 
                                <input type="text"  class="w-p-100 inv-in" name="attributes">
                              </div>
                        </div>
        
                      
                        <div class="col-md-3 ">
                            <div class="model-input-name">Status</div>
    
                            <select id="id_payment" class="minimal">
                                <option style="background: #fff;" value="Prepaid">Active</option>
                                <option value="Post Paid">Inactive</option>
                                
                              </select>
                        </div>
        
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="cancel-model-content">
                                <button class="sent-button" >Submit</button>
                                <button data-dismiss="modal" class="view-button">Cancel</button>
                              
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
          </div>
    </section>
    <div id="addBundle" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="bundleHead">
                    Add Bundle
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddBundle()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>

            <form method="POST" action="" >{% csrf_token %}
            <input type="hidden" name="action" id="bundle_action" value="add_bundle" />
            <input type="hidden" name="bundle_edit_id" id="id_edit_bundle" />
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Bundle Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" id="id_bundle_name" name="bundle_name">
                      </div>
                </div>

            </div>

            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Bundle Code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" id="id_code_bundle"  name="bundle_code" value="{{bundle_code}}" readonly>
                      </div>
                </div>

            </div>

            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Items</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" id="id_item_count" name="bundle_item_count" value="0" readonly>
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Price</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" id="id_bundle_price" name="bundle_price" value="0.000" readonly>
                      </div>
                </div>

            </div>
            
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <select id="id_bundle_status" class="minimal" name="bundle_status">
                        <option  value="True" selected>Active</option>
                        <option value="False">Inactive</option>

                    </select>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button bundle-form-btn" type="submit" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNavAddBundle()" class="view-button">Cancel</button>
        </div>
        </form>
    </div>
    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete bundle</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <form method="POST" action="" >{% csrf_token %}
                    <input type="hidden" name="action" value="delete_bundle" />
                    <input type="hidden" name="bundle_delete_id" id="id_delete_bundle" />
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <button class="sent-button" type="submit" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <div class="modal fade" id="deleteModel2" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete Item</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <form method="POST" action="" >{% csrf_token %}
                    <input type="text" name="action" value="delete_bundle_item" />
                    <input type="text" name="delete_item_id" id="id_delete_item" />
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <button class="sent-button" type="submit" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <div id="addItem" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Add Item
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddItem()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>

            <form method="POST" action="" >{% csrf_token %}
            <input type="hidden" name="action" id="value_action" value="add_item" />
            <input type="text" name="item_bundle_id" id="item_bundle_id" />
            <input type="hidden" name="edit_item_id" id="id_edit_item" />
            {% comment %} <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Item Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div> {% endcomment %}
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Item</div>

                    <select class="minimal" name="attribute_category" id="id_item" onchange="getunits()" required>
                        <option value="">--Select Item--</option>
                        {% for item in items %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}

                    </select>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Units</div>

                    <select id="multiple-checkboxes" multiple="multiple" id="item_unit_id">
                       
                    </select>

                    <!-- <select  multiple class="chosen-select" name="test" class="minimal" id="item_unit_id">
                       
                    </select> -->
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Count</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Price</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
             
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" type="submit" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNavAddItem()" class="view-button">Cancel</button>
        </div>
        </form>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script>
   $(document).ready(function() {
        $('#multiple-checkboxes').multiselect({
          includeSelectAllOption: true,
        });
    });
$(document).ready(function(){
        {% for bundle in bundles %}
        {% if forloop.first %}
        getitems({{bundle.id}});
        {% endif %}
        {% endfor %}
    })

function openNavAddBundle(d) {
    if(d == 'add'){
            $("#bundleHead").text("Add Bundle");
            $("#bundle_action").val("add_bundle");
            $('.bundle-form-btn').text('Add');
        }
        if(d == 'edit'){
            $("#bundleHead").text("Edit Bundle");
            $("#bundle_action").val("edit_bundle");
            $('.bundle-form-btn').text('Update');
        }
        if(screen.width<= 600){
            document.getElementById("addBundle").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addBundle").style.width = "50%";
        }
        else{
            document.getElementById("addBundle").style.width = "30%";
        }  
    }
    function closeNavAddBundle() {
        document.getElementById("addBundle").style.width = "0";
    }



    function openNavAddItem(d) {
    if(d == 'add'){
            $("#itemHead").text("Add Item");
        }
        if(d == 'edit'){
            $("#itemHead").text("Edit Item");
            
        }
        if(screen.width<= 600){
            document.getElementById("addItem").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addItem").style.width = "50%";
        }
        else{
            document.getElementById("addItem").style.width = "30%";
        }  
    }
    function closeNavAddItem() {
        document.getElementById("addItem").style.width = "0";
    }

    function set_params_go(args)
    {
    var url='{% url 'inventory:inventory-category' %}';
    var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),
    };
    for(key in args) 
        params[key]=args[key];
    var query='';
    for(key in params)
        if(params[key]) 
            query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;  
    }

    $('.edit_bundle').click(function(){
        $('#id_edit_bundle').val($(this).data('bundleid'));
        $('#id_bundle_name').val($(this).data('bundlename'));
        $('#id_code_bundle').val($(this).data('bundlecode'));
        $('#id_bundle_price').val($(this).data('bundleprice'));
        document.getElementById("bundle_status").value = $(this).data('bundlestatus');
    })

    $('.delete_bundle').click(function(){
        $('#id_delete_bundle').val($(this).data('bundleid'));
    })

    async function getitems(bundle_id){
        $('#item_bundle_id').val(bundle_id); //adding value to hidden input for adding value

         var result = await _get('api/inventory-items/?bundle_id='+bundle_id);
         
         if(result.status == 200){
            if (result.data.inventory_item.length > 0){
                $("#table2 tr:not(:first)").remove(); 
                var edit = "edit";
                $.each(result.data.inventory_item,function(key,value){
                        $('#table2').append('<tr><td>'+value.name+'</td><td><button class="value_edit inv-plan-img-btn mr-5" onclick="openNavEditValue(this)" data-valueid='+value.id+' data-valuename='+value.name+' data-valuestatus='+value.status+'> <img src="{% static 'files/inventory/icons/edit.png' %}"  alt=""> </button><button class="inv-plan-img-btn value_delete" onclick="deleteValue('+value.id+')" data-valueid='+value.id+' data-toggle="modal" data-target="#deleteModel"> <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button></td></tr>')
                })
            }else{
                $("#table2 tr:not(:first)").remove(); 
            }
         }else{
            showNotification('Something went wrong','error')
         }
    }
    

    async function getunits(){
        //$('#item_bundle_id').val(item_id); //adding value to hidden input for adding value
        var item_id = $('#id_item').val();
        console.log(item_id,"itmid")

         var result = await _get('api/inventory-item-units/?item_id='+item_id);
         
         if(result.status == 200){
            if (result.data.inventory_item_unit.length > 0){
                //$("#item_unit_id").remove(); 
               
                $.each(result.data.inventory_item_unit,function(key,value){
                    console.log(key,value.unit_code,"rome")
                        $('#multiple-checkboxes').append('<option value="'+value.id+'">'+value.unit_code+'</option>').multiselect("destroy").multiselect();
                })
                 $("#multiple-checkboxes").multiselect('destroy');
                 $("#multiple-checkboxes").multiselect({
                includeSelectAllOption: true,
                });
                //$('#item_unit_id').multiselect('refresh');
                // $('#Select1').multiselect( 'refresh' );
                 
            //    $('.multiselect').multiselect('destroy');
            // $('.multiselect').multiselect();
         
                
            }else{
                console.log("no units")
                //$("#table2 tr:not(:first)").remove(); 
            }
         }else{
            showNotification('Something went wrong','error')
         }
    }
</script>
{% endblock %}