{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Categories</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper white-wrapper-padding">
                <div class="d-flex d-grid">
                    <div>
                     
                        <div class="inv-input-container h-30">
                            <i class="fa fa-search inv-icon-input" aria-hidden="true"></i>
                            <input type="text" placeholder="Search Category" id="search-bar" class="inv-input w-250" onchange ="set_params_go()" value="{{search_query|default_if_none:''}}" name="attributes">
                          </div>
                    
                    
                    </div>
                    <div class="right-pos">
                        <button class="inv-blue-btn add_category" onclick="showDrawer('add')" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Category </button>
                    </div>
                </div>
                <div class="mt-20">
                    <table class="inv-table footable" style="border-top:1px solid #c4c4c4"> 
                        <thead>
                        <tr>
                            <th style="width: %;">
                                Category Name
                            </th>
                            <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                Category Code
                            </th>
                            <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                Segments
                            </th>
                            <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                Lines
                            </th>
                            <th>
                                Status
                            </th>
                            <th data-hide="phone,tablet"  style="width: %;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            {% if category.status == True %}
                            <td class="inv-green-border">
                                
                                {{category.name}}
                             </td>
                                {% else %}
                                <td class="inv-gray-border">
                                
                                    {{category.name}}
                                 </td>
                                {% endif %}
                           
                            <td class="text-center">
                                {{category.category_code}}
                            </td>
                            <td class="text-center">
                                {{category.segments_count}}
                            </td>
                            <td class="text-center">
                                {{category.lines_count}}
                            </td>
                            <td>
                                {% if category.status == True %}
                                <span class="inv-dot c-active ml-5"></span>Active
                                {% else %}
                                <span class="inv-dot c-inactive ml-5"></span>Not Active
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group" id="actionDropdown">
                                    <div class="order-dropdown " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                      Action
                                      <i class="fa fa-chevron-down action-icon" aria-hidden="true" ></i>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu-orders">   
                                        <a class="d-flex dropdown-orders" href="/bleach-inventory/segment/{{category.id}}/"><img src="{% static 'files/inventory/view.png'%}" class="dropdown-icon2 pr-2"/> <div class="ml-2 dropdown-text">View Segment</div></a>    
 
                                      <a class="d-flex dropdown-orders"  onclick="showDrawer('edit')" data-categoryid="{{category.id}}" data-categoryname="{{category.name}}" data-categorycode="{{category.category_code}}" data-categorystatus="{{category.status}}"><img src="{% static 'files/inventory/pencil.png'%}" class="dropdown-icon2 pr-2"/> <div class="ml-2 dropdown-text">Edit</div></a>    
                                        {% if category.segments_count == 0 %}
                                      <a class="d-flex dropdown-orders" data-categoryid="{{category.id}}" data-toggle="modal" data-target="#deleteModel"><img src="{% static 'files/inventory/bin.png'%}" class="dropdown-icon2 pr-2"/> <div class="ml-2 dropdown-text">Delete</div></a>                                                                                                       
                                        {% endif %}
                                    </div>
                                  </div>
                              
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete Category</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <form method="POST" action="" >{% csrf_token %}
                        <input type="hidden" name="action" value="delete_category" />
                        <input type="hidden" name="category_id" id="id_category" />
                        <div class="cancel-model-content">
                            <button class="sent-button" type="submit" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
      </div>

      <div id="addCategory" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head">
                    Add Category 
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddCategory()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
        <form method="POST" id="addcategoryform" action="" >{% csrf_token %}
            <input type="hidden" name="action" id="category_action" value="add_category" />
            <input type="hidden" name="category_edit_id" id="id_edit_category" />
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name required-field">Category Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text" id="name_category" class="w-p-100 inv-in" name="category_name" required>
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Category Code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" id="code_category"  name="category_code" value="{{new_category_code}}" readonly>
                      </div>
                </div>

            </div>
            <div class="row mt-20" id="category_id_div">
                <div class="col-md-12 ">
                    <div class="model-input-name required-field">Category Id</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in"  name="category_id" id="id_cat_id" maxlength="2"  minlength="2" required>
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <!-- <select id="status_category" name="category_status" class="minimal">
                        <option value="True" selected>Active</option>
                        <option value="False">Inactive</option>
                    </select> -->
                    <input hidden type="text" id="status_category" name="category_status" value="True">
                    <div class="wrap-drop" id="noble-gases"  >
                        <span id="id_selectText">Active</span>
                        <ul class="drop">
                            <li onclick="changeSelect('True')"><a>Active</a></li>
                            <li onclick="changeSelect('False')"><a>Inactive</a></li> 
                        </ul>
                    </div>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button category-form-btn" type="button" onclick="formvalidation()" >Submit</button>
            </form>
                        <button data-dismiss="modal" onclick="closeNavAddCategory()" class="view-button">Cancel</button>
        </div>
        
    </div>
    <div id="editCategory" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head">
                    Edit Category
                </div>
                <div class="right-pos">

                    <button onclick="closeNavEditCategory()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name required-field">Category  Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text" class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name required-field">Category  Code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name required-field">Status</div>

                    <select id="id_payment" class="minimal">
                        <option  >Active</option>
                        <option value="Post Paid">Inactive</option>

                    </select>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button category-form-btn" type="button" onclick="formvalidation()" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNavEditCategory()" class="view-button">Cancel</button>
        </div>
    </div>
    <div id="addSegment2" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head">
                    Add Segment
                </div>
                <div class="right-pos">

                    <button onclick="closeNavaddSegment2()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name required-field">Category  Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name ">Category  Code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name required-field">Status</div>

                    <select id="status_category" class="minimal">
                        <option value="True" selected>Active</option>
                        <option value="False">Inactive</option>

                    </select>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNavaddSegment2()" class="view-button">Cancel</button>
        </div>
    </div>
</div>



{% endblock %}

{% block javascript %}
<script src="{% static 'files/js/validation.js' %}"></script>  
<script>

    function DropDown(el) {
    this.dd = el;
    this.placeholder = this.dd.children('span');
    this.opts = this.dd.find('ul.drop li');
    this.val = '';
    this.index = -1;
    this.initEvents();
}

DropDown.prototype = {
    initEvents: function () {
        var obj = this;
        obj.dd.on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).toggleClass('active');
        });
        obj.opts.on('click', function () {
            var opt = $(this);
            obj.val = opt.text();
            obj.index = opt.index();
            obj.placeholder.text(obj.val);
            opt.siblings().removeClass('selected');
            opt.filter(':contains("' + obj.val + '")').addClass('selected');
        }).change();
    },
    getValue: function () {
        return this.val;
    },
    getIndex: function () {
        return this.index;
    }
};

$(function () {
    // create new variable for each menu
    var dd1 = new DropDown($('#noble-gases'));
    // var dd2 = new DropDown($('#other-gases'));
    $(document).click(function () {
        // close menu on document click
        $('.wrap-drop').removeClass('active');
    });
});
</script>
<script>

    function changeSelect(va){
        $('#status_category').val(va)
    }
    function showDrawer(d){
        console.log(d)
        if(d == 'add'){
            $(".inv-drawer-head").text("Add Category");
            $('#category_action').val('add_category');
            $('#id_selectText').text('Active');
            $('#status_category').val('True');
            // $('#addCategory').show()

            openNavAddCategory()
        }
        if(d == 'edit'){

            $(".inv-drawer-head").text("Edit Category");
            $('#category_action').val('edit_category');

            // $('#addCategory').hide()
            openNavAddCategory()
        }
        
    }

    function openNavAddCategory() {
        if(screen.width<= 600){
            document.getElementById("addCategory").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addCategory").style.width = "50%";
        }
        else{
            document.getElementById("addCategory").style.width = "30%";
        }  
    }
    function closeNavAddCategory() {
        document.getElementById("addCategory").style.width = "0";
    }
    function openNavEditCategory() {
        if(screen.width<= 600){
            document.getElementById("editCategory").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("editCategory").style.width = "50%";
        }
        else{
            document.getElementById("editCategory").style.width = "30%";
        }  
    }
    function closeNavEditCategory() {
        document.getElementById("editCategory").style.width = "0";
    }
    function openNavaddSegment2() {
        console.log("clied")
        if(screen.width<= 600){
            document.getElementById("addSegment2").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addSegment2").style.width = "50%";
        }
        else{
            document.getElementById("addSegment2").style.width = "30%";
        }  
    }
    function closeNavaddSegment2() {
        document.getElementById("addSegment2").style.width = "0";
    }

    
    $('.add_category').click(function(){
        console.log("click")
        $('#id_edit_category').val($(this).data('categoryid'));

        $('#category_id_div').show();
        document.getElementById("id_cat_id").required = true;

        $('#name_category').val('');
        document.getElementById("status_category").value = 'True';
        $('.category-form-btn').text('Add');
    })
    
    //form validation
    function formvalidation(){
        console.log($('#id_cat_id').val(),"nio")

        if ($('#category_action').val() == 'add_category'){
            if ($('input[name=category_name]').val() == ''){
                $('input[name=category_name]').addClass('red-border-input');
            }else if ($('#id_cat_id').val() == ''){
                $('#id_cat_id').addClass('red-border-input');
            }else{
                console.log("lolo555")
                $('#addcategoryform').submit();
            }
        }else{
            if ($('input[name=category_name]').val() == ''){
                $('input[name=category_name]').addClass('red-border-input');
            }else{
                console.log("lolo555")
                $('#addcategoryform').submit();
            }
        }
    }

    //edit category
    $('.edit_category').click(function(){
        console.log($(this).data('categoryid'),$(this).data('categoryname'),"editc")
        $('#id_edit_category').val($(this).data('categoryid'));
        $('#name_category').val($(this).data('categoryname'));
        $('#code_category').val($(this).data('categorycode'));
        document.getElementById("id_cat_id").required = false;
        $('#category_id_div').hide();
        document.getElementById("status_category").value = $(this).data('categorystatus');
        console.log($('#status_category').val(),'cat')
        if($('#status_category').val() == 'True'){
            console.log("true")
            $('#id_selectText').text('Active');
        }else{
            $('#id_selectText').text('Inactive');

        }

        $('.category-form-btn').text('Update');

    })

    
    //delete category
    $('.delete_category').click(function(){
        $('#id_category').val($(this).data('categoryid'));
    })

    function set_params_go(args)
    {
    var url='{% url 'bleach-inventory:inventory-category' %}';
    var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),
    };
    for(key in args) 
        params[key]=args[key];
    var query='';
    for(key in params)
        if(params[key]) 
            query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;  
    }

</script>

{% endblock %}