{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper">
    <!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Create Purchase Order</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder">
            <!--main-content-holder-->
            <div class="white-wrapper white-wrapper-padding2">
                <div class="row">
                    <div class="col-md-12">
                        <span class="inv-po-id">BLPO00000001</span>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-3">
                        <div class="model-input-name">Select Seller</div>

                        <select id="id_payment" class="minimal">
                            <option></option>


                        </select>
                    </div>
                    <!-- <div class="col-md-9 text-right">
                        <button class="inv-plan-btn" onclick="openNavAddStore()"> <img
                            src="{% static 'files/inventory/icons/add.png' %}" class="btn-img mr-5"
                            alt=""> Add Item</button>
                    </div> -->
                </div>
                <div class="row mt-20">
                    <div class="col-md-12 inv-text-normal">
                        Supplier Address
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-md-12 inv-text-normal">
                        Supplier contact
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-md-12 ">
                        <table class="inv-table footable">
                            <thead>
                                <tr>
                                    <th style="width: %;">
                                        Product ID
                                    </th>
                                    <th style="width: %;">
                                        Product
                                    </th>
                                    <th data-hide="phone,tablet" style="width: %; ">
                                        Unit Cost
                                    </th>
                                    <th data-hide="phone,tablet" style="width: %;">
                                        Number of units
                                    </th>
                                    <th data-hide="phone,tablet" style="width: %;">
                                        Total Cost
                                    </th>

                                    <th data-hide="phone,tablet" style="width: %;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0000000</td>
                                    <td>0000000</td>
                                    <td>232</td>
                                    <td>232</td>
                                    <td>222</td>
                                    <td>
                                        <button class="inv-plan-img-btn"> <img
                                            src="{% static 'files/inventory/icons/edit.png' %}" alt="" onclick="openNavAddStore('edit')"> </button>
                                        <button class="inv-plan-img-btn"> <img
                                                src="{% static 'files/inventory/icons/delete.png' %}" alt=""> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="inv-plan-btn" onclick="openNavAddStore('add')"> <img
                                                src="{% static 'files/inventory/icons/add.png' %}" class="btn-img mr-5"
                                                alt=""> Add Item</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-20 text-center">
                    <button class="sent-button" >Submit</button>
                                  <button  class="view-button">Cancel</button>
                  </div>
            </div>
        </div>
    </section>
    <div id="addStore" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Add Item
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddStore()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Product</div>

                    <div style="position: relative;">
                        <div class="inv-input-container inv-border h-30">
                            <input type="text" id="pro-name" style="border: none !important; width: 90%;" class=" inv-in"
                                name="attributes" oninput="showProducts()">
                            <!-- <div class="inv-hr"></div>
                            <div class="model-filter">
                                <button class="inv-normal-btn" onclick="showDrop()">
                                    <i class="fa fa-angle-down fa-lg " style="color: #707070;" aria-hidden="true"></i>
                                </button>

                            </div> -->



                        </div>
                        <div id="id_search" class="row inv-result-box" style="display: none;">
                            <div class="col-md-12" onclick="closeProductShow(this)" data-pro="12" data-name="! fri">
                                <div class="inv-search-result">
                                    ! fri
                                </div>
                            </div>
                            <div class="col-md-12" onclick="closeProductShow(this)" data-pro="13" data-name="1! fri">
                                <div class="inv-search-result">
                                    ! fri
                                </div>
                            </div>
                            <div class="col-md-12" onclick="closeProductShow(this)" data-pro="13" data-name="! fri">
                                <div class="inv-search-result">
                                    ! fri
                                </div>
                            </div>
                        </div>
                        <div id="id_cat" class="row inv-result-box" style="display: none;">
                            <div class="col-md-12">
                                <div class="inv-search-result">
                                    
                                    <label class="c-container">cat 1
                                        <input type="checkbox">
                                        <span style="top:2px !important;" class="c-checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="inv-search-result">
                                    
                                    <label class="c-container">cat 1
                                        <input type="checkbox">
                                        <span style="top:2px !important;" class="c-checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="inv-search-result">
                                    
                                    <label class="c-container">cat 1
                                        <input type="checkbox">
                                        <span style="top:2px !important;" class="c-checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="inv-search-result">
                                    
                                    <label class="c-container">cat 1
                                        <input type="checkbox">
                                        <span style="top:2px !important;" class="c-checkmark"></span>
                                    </label>
                                </div>
                            </div>
                          
                           
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit Price   <span id="id_price"> 00</span></div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit</div>

                    <div class="qty ">
                        <span style="color: #4B4B4B;"  class="minus bg-dark qty-border-two">-</span>
                        <input style="color: #4B4B4B;"  type="" class="count qty-border-two" name="qty" value="1" >
                        <span style="color: #4B4B4B; margin-left: -4px !important;" class="plus bg-dark qty-border-two">+</span>
                    </div>
                </div>

            </div>






        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button">Submit</button>
            <button data-dismiss="modal" onclick="closeNavAddStore()" class="view-button">Cancel</button>
        </div>
    </div>
    
    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">


                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;">
                                <p class="text-center model-head">Do you want to delete inventory</p>
                            </div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}"
                                    class="cl-modal-icon close-evaluation" />
                            </button>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <button class="sent-button">Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block javascript %}

<script>
    	$(document).ready(function(){
		    $('.count').prop('disabled', true);
   			$(document).on('click','.plus',function(){
				$('.count').val(parseInt($('.count').val()) + 1 );
    		});
        	$(document).on('click','.minus',function(){
    			$('.count').val(parseInt($('.count').val()) - 1 );
    				if ($('.count').val() == 0) {
						$('.count').val(1);
					}
    	    	});
 		});
    $("#pro-name").click(function(){
        document.getElementById("id_cat").style.display="none"
    });
    function showDrop() {
       document.getElementById("id_cat").style.display="block"
    }


    function openNavAddStore(d) {
        if(d == 'add'){
            $('#itemHead').text('Add Item');
        }
        if(d == 'edit'){
            $('#itemHead').text('Edit Item');

        }
        if (screen.width <= 600) {
            document.getElementById("addStore").style.width = "100%";
        } else if (screen.width <= 720) {
            document.getElementById("addStore").style.width = "50%";
        }
        else {
            document.getElementById("addStore").style.width = "30%";
        }
    }
    function closeNavAddStore() {
        document.getElementById("addStore").style.width = "0";
    }



    function showProducts(){
        console.log( $('#pro-name').val());
        if($('#pro-name').val() !=""){
        document.getElementById("id_search").style.display="block"

        }else{
        document.getElementById("id_search").style.display="none"

        }
        
    }

    function closeProductShow(d){
        console.log(d);
        var proId = $(d).attr("data-pro")
        $('#id_price').text(proId);
        $('#pro-name').val($(d).attr("data-name"));


        document.getElementById("id_search").style.display="none"
    }

</script>
{% endblock %}