{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper">
  <!--wrapper-->
  {% include "inventory/common/header.html" %}
  <section class="content">
    <div class="container-fluid space topspace">
      <div class="welcome-wrapper">
        <!--welcome-wrapper-->
        <h1 class="dashboard-head">Create Check-Out List</h1>
        <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
      </div>
    </div>

    <div class="main-content-holder">
      <!--main-content-holder-->
      <div class="white-wrapper white-wrapper-padding">
        <div class="row av-font">
          <div class="col-md-3">
            <div class="inv-check-orderhead">
              {{visit.order.order_no}}
            </div>
            <div class="inv-text-normal">
              {{visit.order_scheduler_book.service_type}}
            </div>
            
            {% if visit.evaluation_details.evaluator %}
            <div class="mt-10 inv-text-normal">
              Evaluator Note - {{visit.evaluation_details.evaluator.name}}
            </div>
            <div class="inv-evaluation-note">
              {{visit.evaluation_details.evaluator_note|default_if_none:'-'}}
            </div>
            {% else %}
            <div class="mt-10 inv-text-normal">
              Attender note - {{visit.evaluation_details.evaluation.call_attender.name}}
            </div>
            <div class="inv-evaluation-note">
              {{visit.evaluation_details.attender_note|default_if_none:'-'}}
            </div>
            {% endif %}
          </div>
          <div class="col-md-2 m-mt30">

            <ul class="inv-ul">
              <li><i class="fas fa-check-circle yellow-tick "></i> {{visit.order_scheduler_book.cleaning_method}}</li>
              <li><i class="fas fa-check-circle yellow-tick "></i> {{visit.order_scheduler_book.area_type}}</li>
              <li><i class="fas fa-check-circle yellow-tick "></i> {{visit.order_scheduler_book.location_type}}</li>
              <li><i class="fas fa-check-circle yellow-tick "></i> {{visit.evaluation_details.address.customer.name}}</li>

            </ul>
          </div>
          <div class="col-md-2 m-mt30">

            <ul class="inv-ul">
              
              <li><i class="fas  test-color fa-users c-mr-10"></i> {{visit.no_of_cleaners}} cleaner(s)</li>
              <li><i class="fas  test-color fa-clock-o c-mr-10"></i> {{visit.cleaning_hours}} Hours</li>
              <li><i class="fas  test-color fa-calendar c-mr-10"></i> {{visit.start_at|date:'d-m-Y'}}</li>
              <li><i class="fas  test-color fa-map-marker c-mr-10"></i>&nbsp;<b>{{visit.evaluation_details.address.apartment}}</b>: {% if visit.evaluation_details.address.floor %}{{visit.evaluation_details.address.floor}}, {% else %}{% endif %} {{visit.evaluation_details.address.building}}, {{visit.evaluation_details.address.block}}, {{visit.evaluation_details.address.street}},<br> {% if visit.evaluation_details.address.avenue %}{{visit.evaluation_details.address.avenue}}, {% else %}{% endif %} {{visit.evaluation_details.address.area.name}}, {{visit.evaluation_details.address.governorate.name}}</li>



            </ul>
          </div>
          <div class="col-md-5 m-mt30">

            <ul class="inv-ul">
              <li>Team Leader <br></li>
              <li class="mt-5 inv-team-head">{% for teamleader in visit.cleaning_team %} {{teamleader.team_leader.name}} {% endfor %}</li>
            
              <li  class="mt-10">Cleaners</li>
              <li class="mt-5 inv-team-head">
              {% for cleaning in visit.cleaning_team %}
              {% for cleaner in cleaning.team_members %}
                {% if forloop.last %}{{cleaner.member.name}}{% else %}{{cleaner.member.name}},{% endif %}
              {% endfor %}
              {% endfor %}
              </li>

            </ul>
          </div>
        </div>

        {% for section in visit.order_scheduler_book.sections %}

        <div class="row mt-20">
          <div class="col-md-12 pl-0">
           <div class="inv-check-section">
             <div class="d-flex ">
               <div class="inv-check-section-head">
                 Section {{forloop.counter}} : {{section.section_name}}
                 
               </div>
               <div id="id_sec_item_{{forloop.counter}}" style="margin-left: 20px;">
               <p class="inv-section-in">
                 Size : <span class="red2-text inv-section-in">{{section.size}} </span>
               </p>
               </div>
               <div class="right-pos">
                 <button class="inv-normal-btn" data-toggle="collapse" data-target="#demo{{forloop.counter}}" id="id_section_btn_{{forloop.counter}}" onclick="showOf({{forloop.counter}})">
                   <i style="color: #000000 !important;" class="fa fa-chevron-right action-icon" aria-hidden="true"></i>
                 </button>
 
               </div>
             </div>
             <div id="demo{{forloop.counter}}" class="row mt-10 collapse ">
               <div class="col-md-6 c-right-border">
                <div class="order-details-content">
                  <div class="row c-mb-3">
                      <div class="col-md-6 col-xs-6 mb-10">
                          <div class="order-details-key">Size</div> 
                          <div class="c-text order-details-value">{{section.size}} </div>
                      </div>
                      <div class="col-md-6 col-xs-6 mb-10">
                          <div class="order-details-key">Wall Type</div> 
                          <div class="c-text order-details-value">{{section.wall_type|default_if_none:'-'}}</div>
                      </div>
                      <div class="col-md-6 col-xs-6 mb-10">
                          <div class="order-details-key">Celling Type</div> 
                          <div class="c-text order-details-value">{{section.ceiling_type|default_if_none:'-'}}</div>
                      </div>
                      <div class="col-md-6 col-xs-6 mb-10">
                          <div class="order-details-key">Floor Type</div> 
                          <div class="c-text order-details-value">{{section.floor_type|default_if_none:'-'}}</div>
                      </div>
                      <div class="col-md-6 col-xs-6 mb-10">
                          <div class="order-details-key">Cost</div> 
                          <div class="c-text order-details-value">{{section.section_cost|floatformat:'3'}} KD</div>
                      </div>
                  </div>
              </div>
                 
 
 
               </div>
               <div class="col-md-6 m-mt-10">
                 {% for keynote in section.keynotes %}
                 <div class="col-md-3 ml-0 pr-0 m-pl0"><div class="clean-section-card"><p class="inv-section-in">{{keynote.sub_area}}<span class="c-text2">{{keynote.quantity}}</span></p></div></div>
                 {% endfor %}
 
               </div>
               <div class="col-md-12 mt-10">
                 {% if section.sectionaddons %}
                 <div class="av-font mt-20" style="font-size: 18px;">
                   Add-ons
                 </div>
                 {% endif %}
                 <div class="row mt-10">
                  
                   {% for addon in section.sectionaddons%}
                   <div class="col-md-3 mt-10">
                    <div class="addon-card">
                      <div class="addon-title av-font">{{addon.name}}</div> 
                        <div class="row">
                          <div class="col-md-6 addon-details mt-10">
                            <div>

                            </div> 
                            <div class="addon-qty av-font">Qty : {{addon.quantity}}</div>
                          </div> 
                          <div class="col-md-6 mt-10">
                            <div class="addon-price av-font">{{addon.addon_net_cost|floatformat:3}} KD</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
               </div>
 
             </div>
           </div>
          </div>
         </div>

          {% endfor %}

         
        <div class="row mt-20">
          <div class="col-md-12">
            <div class="inv-check-orderhead">
              Recommended List
            </div>
            <div class="mt-20" style="border-top: 1px solid #c4c4c4;">
              <table class="inv-table footable"> 
                <thead>
                  <tr>
                      <th style="width: %;">
                        Ingredient
                      </th>
                      <th data-hide="phone,tablet"  style="width: %; ">
                          Item
                      </th>
                      <th data-hide="phone,tablet"  style="width: %; ">
                          Item Code
                      </th>
                      <th data-hide="phone,tablet"  style="width: %;" >
                          Unit
                      </th>
                     
                      <th data-hide="phone,tablet"  style="width: %;">Action</th>
                  </tr>
              </thead>
              <tbody id="id_table">
                {% for ingredient in service_recipe_ingredients %}
                {% for item in ingredient.service_recipe_items %}
                  {% if forloop.first %}
                  <tr data-itemid="{{item.item.id}}">
                  {% endif %}
                  {% endfor %}
               
                  <td>{{ingredient.ingredient}}</td>
                  {% for item in ingredient.service_recipe_items %}
                  {% if forloop.first %}
                  <td>{{item.item.name}}</td>
                  <td>{{item.item.item_code}}</td>
                  <td>
                  {% endif %}
                  {% endfor %}
                    <div class="qty ">
                      <span class="minus bg-dark" onclick="decrement({{forloop.counter}})" >-</span>
                      <input type="text" class="count" id="id_qty_{{forloop.counter}}" name="qty" value="{{ingredient.quantity}}">
                      <span class="plus bg-dark" onclick="increment({{forloop.counter}})">+</span>
                  </div>
                  </td>
                  <td>
                    <button class="inv-plan-img-btn" data-toggle="modal" data-target="#deleteModel" > <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button>
                  </td>
                </tr>
                {% endfor %}

                {% for checkout_item in check_out_items %}
                {% for item in ingredient.service_recipe_items %}
                  {% if forloop.first %}
                  <tr data-itemid="{{item.item.id}}">
                  {% endif %}
                  {% endfor %}
               
                  <td>-</td>
                  
                  <td>{{checkout_item.item.name}}</td>
                  <td>{{checkout_item.item.item_code}}</td>
                  <td>
                  
                    <div class="qty ">
                      <span class="minus bg-dark" onclick="decrement({{forloop.counter}})" >-</span>
                      <input type="text" class="count" id="id_qty_{{forloop.counter}}" name="qty" value="{{ingredient.quantity}}">
                      <span class="plus bg-dark" onclick="increment({{forloop.counter}})">+</span>
                  </div>
                  </td>
                  <td>
                    <button class="inv-plan-img-btn" data-toggle="modal" data-target="#deleteModel" > <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button>
                  </td>
                </tr>
                {% endfor %}

                <tr>
                  <td> <button class="inv-plan-btn" onclick="openNavAddStore()"> <img src="{% static 'files/inventory/icons/add.png' %}" class="btn-img mr-5" alt="" > Add Item</button></td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-20 text-center">
          <button class="sent-button" >Submit</button>
                        <button class="view-button">Cancel</button>
        </div>
      </div>  


    </div>
</div>


</section>
<div id="addStore" class="inv-sidedrawer">

  <div class="inv-sidedrawer-inner">
      <div class="d-flex">
          <div class="inv-drawer-head" id="itemHead">
              Add Item
          </div>
          <div class="right-pos">

              <button onclick="closeNavAddStore()" class="img-button">
                  <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
              </button>
          </div>
      </div>
      <hr>

      <form method="POST" action="" >{% csrf_token %}
      <input type="hidden" name="action" id="item_action" value="add_item" />
      <div class="row mt-20">
        <div class="col-md-12 ">
          <div class="model-input-name">Item</div>
          <input type="hidden" name="item" id="id_pro_sel" value="" />
          <div style="position: relative;">
              <div class="inv-input-container inv-border h-30">
                  <input autocomplete="off" onclick="ProductListShow()" type="text" id="pro-name" style="border: none !important; width: 90%;" class=" inv-in" name="service_item"  oninput="showProducts()">
                 
                  <!-- <div onclick="ProductListShow()" class="model-filter">
                      
                          <i class="fa fa-angle-down fa-lg " style="color: #707070;" aria-hidden="true"></i>
                      

                  </div> -->



              </div>
              <div id="id_search" class="row inv-result-box" style="display: none;">
                
              </div>
          </div>
         


      </div>

      </div>
      <!-- <div class="row mt-20">
          <div class="col-md-12 ">
              <div class="model-input-name">Unit</div>

              <div class="qty ">
                  <span style="color: #4B4B4B;"  class="minus bg-dark qty-border-two">-</span>
                  <input style="color: #4B4B4B;"  type="" class="count qty-border-two" name="qty" value="1" >
                  <span style="color: #4B4B4B; margin-left: -4px !important;" class="plus bg-dark qty-border-two">+</span>
              </div>
          </div>

      </div> -->






  </div>
  <div class="inv-drawer-footer">
      <button class="sent-button">Submit</button>
      </form>
      <button data-dismiss="modal" onclick="closeNavAddStore()" class="view-button">Cancel</button>
  </div>
</div>



</div>


{% endblock %}

{% block javascript %}

<script>


function hideselectedoptions(){
            

            var tempItem = [];
            var itemIn = [];
            var div = true;

            $('#id_search div').each(function(i) {
                if (div == true){
                    console.log($(this),"pro")
                    tempItem.push($(this).data("pro"))
                    //console.log($(this).data("id"));
                    div = false;
                }else{
                    div = true;
                }
                
            })
          
            $('#id_table tr').each(function() {
                itemIn.push($(this).data("itemid"))
                //console.log('table',$(this).data("itemid"));
            })

            itemIn.pop();

            console.log(tempItem,itemIn,"lopp")

            for(var i =0;i<tempItem.length;i++){
                document.getElementById("id_product"+tempItem[i]).style.display ="block";
                for(var j = 0;j<itemIn.length;j++){
                    if(tempItem[i] == itemIn[j]){
                        console.log('to be hide',tempItem[i]);
                        document.getElementById("id_product"+tempItem[i]).style.display ="none";
                    }
                }
            }
            console.log(tempItem,itemIn)
    }


function increment(id){
  console.log(id)
  $('#id_qty_'+id).val(parseInt($('#id_qty_'+id).val()) + 1 );
}
function decrement(id){
  $('#id_qty_'+id).val(parseInt($('#id_qty_'+id).val()) - 1 );
    				if ($('#id_qty_'+id).val() == 0) {
						$('#id_qty_'+id).val(1);
					}
}


var products = [];
{% for item in items %}
    var tempId = '{{item.id}}';
    var tempName = '{{item.name}}';
    products.push({id:tempId,name:tempName})
   // $('#id_search').append('<div class="col-md-12" onclick="closeProductShow(this)" data-pro="{{item.id}}" data-name="{{item.name}}"><div class="inv-search-result">{{item.name}}</div></div>');

    {% endfor %}
    


        $(document).ready(function(){

        });

        function showProducts(){
    $('#id_search').empty();
    for (var j=0; j<products.length; j++) {
        if (products[j].name.toUpperCase().match($('#pro-name').val().toUpperCase())){
            console.log(products[j]);
    $('#id_search').append('<div class="col-md-12 inv-search-drop" style="padding:0px !important;" onclick="closeProductShow(this)"  data-pro="'+products[j].id+'" data-name="'+products[j].name+'"><div class="inv-search-result">'+products[j].name+'</div></div>');

        }
    }
        console.log( $('#pro-name').val());
        if($('#pro-name').val() !=""){
        document.getElementById("id_search").style.display="block"

        }else{
        document.getElementById("id_search").style.display="none"

        }
        
    }

    function closeProductShow(d){
        console.log(d);
        var proId = $(d).attr("data-pro")
        $('#id_pro_sel').val($(d).attr("data-pro"));
        $('#pro-name').val($(d).attr("data-name"));


        document.getElementById("id_search").style.display="none"
    }
   $("#pro-name").click(function(){
        document.getElementById("id_cat").style.display="none"
    });
    function showDrop() {
       document.getElementById("id_cat").style.display="block"
    }
   function openNavAddStore() {
     $('#id_search').empty();
        {% for item in items %}
    var tempId = '{{item.id}}';
    var tempName = '{{item.name}}';
    console.log(tempName,'gh')
    $('#id_search').append('<div class="col-md-12 inv-search-drop" style="padding:0px !important;" id="id_product{{item.id}}"  onclick="closeProductShow(this)" data-pro="{{item.id}}" data-name="{{item.name}}"><div class="inv-search-result">{{item.name}}</div></div>');

    {% endfor %}

   
    
    if(screen.width<= 600){
        document.getElementById("addStore").style.width = "100%";
    }else if(screen.width<= 720){
        document.getElementById("addStore").style.width = "50%";
    }
    else{
        document.getElementById("addStore").style.width = "30%";
    }  
    hideselectedoptions();
}
function closeNavAddStore() {
    document.getElementById("addStore").style.width = "0";
}

  	$(document).ready(function(){
		    $('.count').prop('disabled', true);
   			// $(document).on('click','.plus',function(){
			  // 	$('.count').val(parseInt($('.count').val()) + 1 );
    		// });
        // 	$(document).on('click','.minus',function(){
    		// 	$('.count').val(parseInt($('.count').val()) - 1 );
    		// 		if ($('.count').val() == 0) {
				// 		$('.count').val(1);
				// 	}
    	  //   	});
 		});
  $(".action-icon").click(function(){
    console.log("celd")
 $(this).toggleClass("down2")  ; 
})

function ProductListShow(){
    searchFlag = true;
    document.getElementById("id_search").style.display="block"
}

function showOf(id){
  var a = document.getElementById("id_sec_item_"+id);
  console.log(a.style.display)
  if(a.style.display == 'none'){
    a.style.display = 'block'
  }else{
    a.style.display = 'none'
  }
  //document.getElementById("id_sec_item_"+id).style.display = "none";
}


</script>

{% endblock %}