{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper" ><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content" style="font-family: AvenirLTStd !important;">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Dashboard</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>
        <div class="main-content-holder">
            <div class="row">
                <div class="col-md-6">
                    <div class="white-wrapper m-0" >
                        <div class="inv-dash-card-head">
                            Insights
                        </div>
                        <div class="row mt-10">
                            <div class="col-md-4 mb-5">
                                <div class="inv-sm-card">
                                    <p class="inv-dash-card-head">
                                        Total Assets
                                    </p>
                                    <h1>2300</h1>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5 ">
                                <div class="inv-sm-card">
                                    <p class="inv-dash-card-head">
                                        Todays Order
                                    </p>
                                    <h1>2</h1>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5">
                                <div class="inv-sm-card">
                                    <p class="inv-dash-card-head">
                                        Purchase Remainder
                                    </p>
                                    <h1>3</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="white-wrapper m-0">
                        <div class="inv-dash-card-head">
                            Recently added item
                            <div>
                                <br>

                                <br>
                                to do
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 0px;">
                <div class="col-md-8">
                    <div class="row">
                        <div class="white-wrapper m-0" >
                            <div class="inv-dash-card-head">
                                Todays Order
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="white-wrapper m-0" >
                        <div class="inv-dash-card-head">
                            Non check-in Orders
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



{% endblock %}