{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'files/externalfiles/plugins/OwlCarousel2/dist/assets/owl.carousel.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .owl-theme .owl-nav {
        margin-top: 10px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }

    .owl-prev {
        position: absolute;
        top: 35px;
        left: -5px;

        display: block !important;
        border: 0px solid black;
        height: 30px;
        width: 30px;
        border-radius: 40px;
        background: #fff !important;

        box-shadow: 0px 3px 6px #00000029;
    }

    .owl-next {
        position: absolute;
        top: 35px;
        right: -5px;

        display: block !important;
        border: 0px solid black;
        height: 30px;
        width: 30px;
        border-radius: 40px;
        background: #fff !important;

        box-shadow: 0px 3px 6px #00000029;
    }
</style>
<div class="wrapper">
    <!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content" style="font-family: AvenirLTStd !important;">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Dashboard</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>
        <div class="main-content-holder">
            <div class="row">
                <div class="col-md-6">
                    <div class="white-wrapper m-0" style="margin-bottom: 10px !important;">
                        <div class="inv-dash-card-head">
                            Insights
                        </div>
                        <div class="row mt-10">
                            <div class="col-md-4 mb-5">
                                <div class="inv-sm-card">
                                    <p class="inv-dash-card-head">
                                        Total Assets
                                    </p>
                                    <h1>2300</h1>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5 ">
                                <div class="inv-sm-card">
                                    <p class="inv-dash-card-head">
                                        Todays Order
                                    </p>
                                    <h1>2</h1>
                                </div>
                            </div>
                            <div class="col-md-4 mb-5">
                                <div class="inv-sm-card">
                                    <p class="inv-dash-card-head">
                                        Purchase Remainder
                                    </p>
                                    <h1>3</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 h-100">
                    <div class="white-wrapper m-0"
                        style="margin-bottom: 10px !important; padding-bottom: 0px !important;">
                        <div class="inv-dash-card-head">
                            Recently added item
                        </div>
                        <div class="mt-10 row">
                            <div class="owl-carousel owl-theme">
                                <div class="col-md-12 item">
                                    <div class="row inv-card2 ml-0 mb-10">
                                        <div class="col-xs-7 av-font p-10">
                                            <p class="inv-item-card-head">Product Name</p>
                                            25665665
                                            <div class="mt-10">
                                                J&J Electricals
                                            </div>


                                        </div>
                                        <div class="col-xs-5 p-10">
                                            Machine
                                            <div class="inv-item-am ">
                                                25.00KD
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 item">
                                    <div class="row inv-card2 ml-0 mb-10">
                                        <div class="col-xs-7 av-font p-10">
                                            <p class="inv-item-card-head">Product Name</p>
                                            25665665
                                            <div class="mt-10">
                                                J&J Electricals
                                            </div>


                                        </div>
                                        <div class="col-xs-5 p-10">
                                            Machine
                                            <div class="inv-item-am ">
                                                25.00KD
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 item">
                                    <div class="row inv-card2 ml-0 mb-10">
                                        <div class="col-xs-7 av-font p-10">
                                            <p class="inv-item-card-head">Product Name</p>
                                            25665665
                                            <div class="mt-10">
                                                J&J Electricals
                                            </div>


                                        </div>
                                        <div class="col-xs-5 p-10">
                                            Machine
                                            <div class="inv-item-am ">
                                                25.00KD
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9" style="font-family: AvenirLTStd !important;">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="white-wrapper m-0" style="margin-bottom: 0px !important;">
                                <div class="inv-dash-card-head">
                                    Purchase order approval
                                </div>
                                <div class="mt-10">
                                    <table class="inv-table">
                                        <tr>
                                            <th style="width: %;">
                                                PO ID
                                            </th>
                                            <th style="width: %; text-align: center;">
                                                Initiated Date
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Initiated by
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Seller/vender
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Number Of units
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Total cost
                                            </th>

                                            <th style="width:%;" class="text-center"></th>
                                        </tr>
                                        <tr>
                                            <td >
                                                0000000
                                            </td>
                                            <td class="text-center">
                                                12/12/2021
                                            </td>
                                            <td class="text-center">
                                                Name
                                            </td>
                                            <td class="text-center">
                                                Name
                                            </td>
                                            <td class="text-center">
                                                23
                                            </td>
                                            <td class="text-center">
                                                2300
                                            </td>

                                            <td style="float: right;">

                                                <a href="/inventory/viewpo/"><button class="inv-plan-img-btn"> <img class="view-img"
                                                            src="{% static 'files/inventory/icons/view.png' %}" alt="">
                                                </button></a>

                                                <button class="btn-p inv-plan-img-btn" > <img class="btn-img2 mr-5" 
                                                    src="{% static 'files/inventory/icons/checklist.png' %}" alt=""> Approve </button>

                                            </td>
                                        </tr>
                                       

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-md-12">
                            <div class="white-wrapper m-0" style="margin-bottom: 0px !important;">
                                <div class="inv-dash-card-head">
                                    Todays Order
                                </div>
                                <div class="mt-10">
                                    <table class="inv-table">
                                        <tr>
                                            <th style="width: %;">
                                                Blc number
                                            </th>
                                            <th style="width: %; text-align: center;">
                                                Team lead
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Time
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Service
                                            </th>

                                            <th style="width:%;" class="text-center">Action</th>
                                        </tr>
                                        <tr>
                                            <td class="inv-blue-border">

                                                BLC6464544957
                                            </td>
                                            <td class="text-center">
                                                Name
                                            </td>
                                            <td class="text-center">
                                                8.00 AM
                                            </td>
                                            <td class="text-center">
                                                General
                                            </td>

                                            <td style="float: right;"><a href="/inventory/checkout/">
                                                <button class="btn-shadow btn-p inv-plan-img-btn "> <img
                                                        class="view-img"
                                                        src="{% static 'files/inventory/icons/icon4.png' %}" alt="">
                                                    Check out </button></a>


                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="inv-gray-border">

                                                BLC6464544957
                                            </td>
                                            <td class="text-center">
                                                Name
                                            </td>
                                            <td class="text-center">
                                                8.00 AM
                                            </td>
                                            <td class="text-center">
                                                General
                                            </td>

                                            <td style="float: right;">
                                                <button class=" inv-plan-img-btn btn-p inv-btn-dis"> <img
                                                        class="view-img"
                                                        src="{% static 'files/inventory/icons/icon4.png' %}" alt="">
                                                    Check out </button>



                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-md-12">
                            <div class="white-wrapper m-0">
                                <div class="inv-dash-card-head">
                                    Purchase Remainder
                                </div>
                                <div class="mt-10">
                                    <table class="inv-table">
                                        <tr>
                                            <th style="width: %;">
                                                Product Id
                                            </th>
                                            <th style="width: %; text-align: center;">
                                                Category
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Unit Price
                                            </th>
                                            <th style="width: %;" class="text-center">
                                                Seller
                                            </th>
                                            <th>
                                                Status
                                            </th>

                                            <th style="width:%;" class="text-center">Action</th>
                                        </tr>
                                        <tr>
                                            <td class="inv-about-finish-border">

                                                BLC6464544957
                                            </td>
                                            <td class="text-center">
                                                General
                                            </td>
                                            <td class="text-center">
                                                20.00KD
                                            </td>
                                            <td class="text-center">
                                                Name
                                            </td>
                                            <td class="">
                                                <span class="inv-dot c-about-finish ml-5"></span>
                                                About to finish

                                            </td>
                                            <td style="float: right;">
                                                <a href="/inventory/item/"><button class="inv-plan-img-btn"> <img class="view-img"
                                                        src="{% static 'files/inventory/icons/view.png' %}" alt="">
                                                </button></a>

                                                <button class="inv-plan-img-btn"> <img
                                                        src="{% static 'files/inventory/icons/edit.png' %}" alt="">
                                                </button>
                                                <button class="inv-plan-img-btn"> <img
                                                        src="{% static 'files/inventory/icons/delete.png' %}" alt="">
                                                </button>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="inv-out-of-order-border">

                                                BLC6464544957
                                            </td>
                                            <td class="text-center">
                                                Generale
                                            </td>
                                            <td class="text-center">
                                                20.00KD
                                            </td>
                                            <td class="text-center">
                                                Name
                                            </td>
                                            <td class="">
                                                <span class="inv-dot c-out-of-order ml-5"></span>
                                                Out of Order

                                            </td>
                                            <td style="float: right;">
                                                <button class="inv-plan-img-btn"> <img class="view-img"
                                                        src="{% static 'files/inventory/icons/view.png' %}" alt="">
                                                </button>

                                                <button class="inv-plan-img-btn"> <img
                                                        src="{% static 'files/inventory/icons/edit.png' %}" alt="">
                                                </button>
                                                <button class="inv-plan-img-btn"> <img
                                                        src="{% static 'files/inventory/icons/delete.png' %}" alt="">
                                                </button>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="inv-expired-border">

                                                BLC6464544957
                                            </td>
                                            <td class="text-center">
                                                Generale
                                            </td>
                                            <td class="text-center">
                                                20.00KD
                                            </td>
                                            <td class="text-center">
                                                Name
                                            </td>
                                            <td class="">
                                                <span class="inv-dot c-expired ml-5"></span>
                                                Expired

                                            </td>
                                            <td style="float: right;">
                                                <button class="inv-plan-img-btn"> <img class="view-img"
                                                        src="{% static 'files/inventory/icons/view.png' %}" alt="">
                                                </button>

                                                <button class="inv-plan-img-btn"> <img
                                                        src="{% static 'files/inventory/icons/edit.png' %}" alt="">
                                                </button>
                                                <button class="inv-plan-img-btn"> <img
                                                        src="{% static 'files/inventory/icons/delete.png' %}" alt="">
                                                </button>

                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pl-0">
                    <div class="white-wrapper m-0">
                        <div class="inv-dash-card-head">
                            Pending Check-in
                        </div>
                        <div class="mt-10">
                            <div class="row inv-card2 ml-0 mb-10">
                                <div class="col-xs-6 av-font p-10">
                                    BLC6464544957
                                    <div class="mt-10">
                                        Name
                                    </div>

                                </div>
                                <div class="col-xs-6 inv-green inv-card2-time p-10">
                                    <div class="inv-left">
                                        <i class="fa fa-arrow-up mr-10" aria-hidden="true"></i> 1 Hr 20 min &nbsp;

                                        <button onclick="openNavAddStore()" class="btn-shadow inv-plan-img-btn mt-5 btn-p"> <img class="view-img"
                                                src="{% static 'files/inventory/icons/icon3.png' %}" alt=""> Check-in
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="row inv-card2 ml-0 mb-10">
                                <div class="col-xs-6 av-font p-10">
                                    BLC6464544957
                                    <div class="mt-10">
                                        Name
                                    </div>

                                </div>
                                <div class="col-xs-6 inv-yellow inv-card2-time p-10">
                                    <div class="inv-left">
                                        <i class="fa fa-arrow-up mr-10" aria-hidden="true"></i> 1 Hr 20 min &nbsp;

                                        <button class="btn-shadow inv-plan-img-btn mt-5 btn-p"> <img class="view-img"
                                                src="{% static 'files/inventory/icons/icon3.png' %}" alt=""> Check-in
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row inv-card2 ml-0 mb-10">
                                <div class="col-xs-6 av-font p-10">
                                    BLC6464544957
                                    <div class="mt-10">
                                        Name
                                    </div>

                                </div>
                                <div class="col-xs-6 inv-orange inv-card2-time p-10">
                                    <div class="inv-left">
                                        <i class="fa fa-arrow-up mr-10" aria-hidden="true"></i> 1 Hr 20 min &nbsp;

                                        <button class="btn-shadow inv-plan-img-btn mt-5 btn-p"> <img class="view-img"
                                                src="{% static 'files/inventory/icons/icon3.png' %}" alt=""> Check-in
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row inv-card2 ml-0 mb-10">
                                <div class="col-xs-6 av-font p-10">
                                    BLC6464544957
                                    <div class="mt-10">
                                        Name
                                    </div>

                                </div>
                                <div class="col-xs-6 inv-red inv-card2-time p-10">
                                    <div class="inv-left">
                                        <i class="fa fa-arrow-up mr-10" aria-hidden="true"></i> 1 Hr 20 min &nbsp;

                                        <button class="btn-shadow inv-plan-img-btn mt-5 btn-p"> <img class="view-img"
                                                src="{% static 'files/inventory/icons/icon3.png' %}" alt=""> Check-in
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row inv-card2 ml-0 mb-10">
                                <div class="col-xs-6 av-font p-10">
                                    BLC6464544957
                                    <div class="mt-10">
                                        Name
                                    </div>

                                </div>
                                <div class="col-xs-6 inv-red inv-card2-time p-10">
                                    <div class="inv-left">
                                        <i class="fa fa-arrow-up mr-10" aria-hidden="true"></i> 1 Hr 20 min &nbsp;

                                        <button class="btn-shadow inv-plan-img-btn mt-5 btn-p"> <img class="view-img"
                                                src="{% static 'files/inventory/icons/icon3.png' %}" alt=""> Check-in
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="addStore" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Check-in
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddStore()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-10">
                <div class="col-md-12">
                    <div style="font-weight: 400;" class="inv-check-orderhead">
                        BLC6464544957
                      </div>
                </div>
            </div>
            <div class="row mt-10">
                <div class="col-md-12">
                    <div class="d-flex">
                        <div style="font-weight: 400;" class="inv-check-orderhead">
                            Name
                        </div>
                        <div style="font-weight: 400;"  class="right-pos inv-check-orderhead">
        
                            Visit date 12/12/2021
                        </div>
                    </div>
                </div>
            </div>
          <div class="row mt-20">
              <div class="col-md-12">
                <table class="inv-table"> 
                    <tr>
                        <th></th>
                        <th style="width: %;">
                            Item
                        </th>
                        <th style="width: %;">
                            Item code
                        </th>
                        <th style="width: %;">
                            Quantity
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <label style="padding-left: 0px !important;" class="c-container">
                                <input type="checkbox">
                                <span style="top:-4px !important;" class="c-checkmark"></span>
                            </label>
                        </td>
                        <td>
                    
                            00000
                        </td>
                        <td>
                    
                            00
                        </td>
                        <td>
                    
                            8
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="padding-left: 0px !important;" class="c-container">
                                <input type="checkbox">
                                <span style="top:-4px !important;" class="c-checkmark"></span>
                            </label>
                        </td>
                        <td>
                    
                            00000
                        </td>
                        <td>
                    
                            00
                        </td>
                        <td>
                    
                            <div class="qty ">
                                <span class="minus bg-dark">-</span>
                                <input type="number" class="count" name="qty" value="1">
                                <span class="plus bg-dark">+</span>
                              </div>
                        </td>
                    </tr>
                    
                   
                </table>
              </div>
          </div>






        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button">Check-in</button>
            <button data-dismiss="modal" onclick="closeNavAddStore()" class="view-button">Cancel</button>
        </div>
    </div>
</div>



{% endblock %}


{% block javascript %}

<script src="{% static '/files/externalfiles/plugins/OwlCarousel2/dist/owl.carousel.js'%}"></script>
<script>
    $(document).ready(function () {
    $('.count').prop('disabled', true);
    $(document).on('click', '.plus', function () {
      $('.count').val(parseInt($('.count').val()) + 1);
    });
    $(document).on('click', '.minus', function () {
      $('.count').val(parseInt($('.count').val()) - 1);
      if ($('.count').val() == 0) {
        $('.count').val(1);
      }
    });
  });
    function openNavAddStore() {

        if (screen.width <= 600) {
            document.getElementById("addStore").style.width = "100%";
        } else if (screen.width <= 720) {
            document.getElementById("addStore").style.width = "50%";
        }
        else {
            document.getElementById("addStore").style.width = "30%";
        }
    }
    function closeNavAddStore() {
        document.getElementById("addStore").style.width = "0";
    }
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            items: 2,
            nav: true,
            navText: [
                `<i style="color:#000000 !important;" class='fa fa-chevron-left service-control' @click='prevService()'></i>`,
                `<i style="color:#000000 !important;"  class='fa fa-chevron-right service-control'></i>`,
            ],
        });
    });
</script>

{% endblock %}