{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'files/externalfiles/plugins/OwlCarousel2/dist/assets/owl.carousel.css' %}" rel="stylesheet">
<style>
    .owl-theme .owl-nav {
        margin-top: 10px;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }

    .owl-prev {
        position: absolute;
        top: 50%;
        left: -5px;

        display: block !important;
        border: 0px solid black;
        height: 30px;
        width: 30px;
        border-radius: 40px;
        background: #fff !important;

        box-shadow: 0px 3px 6px #00000029;
    }

    .owl-next {
        position: absolute;
        top: 50%;   
        right: -5px;

        display: block !important;
        border: 0px solid black;
        height: 30px;
        width: 30px;
        border-radius: 40px;
        background: #fff !important;

        box-shadow: 0px 3px 6px #00000029;
    }
</style>
<div class="wrapper"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Item</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>
        <button  data-toggle="modal" data-target="#imgModel" id="id_model_button" hidden>Done </button>
        <button  data-toggle="modal" data-target="#addimgModel" id="id_model_close" hidden>Done </button>

        <button data-dismiss="modal" class="view-button" id="model_close" hidden>Cancel</button>
        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper f-gray" >
              
                <form method="POST" action="">{% csrf_token %}
                <input type="hidden" name="action" value="edit_item_details" />
              <div class="row">
                  <div class="col-md-12" style="position: relative;">
                    <div class="edit-div">
                        <img id="id_editButton" onclick="editItemData()" class="inv-edit-img"
                        src="{% static 'files/icons/edit.png' %}">
                        <button id="id_editDone" class="inv-blue-btn inv-hide" type="submit" onclick="doneEdit()">Done </button>
                    </div>
                  </div>
              </div>
                <div class="row mt-40">
                    <div class="col-md-8">
                        <div class="row" style="position: relative;">
                            <div class="col-md-2">
                                
                                {% if inventory_item.item_images %}
                                    {% for image in inventory_item.item_images %}
                                        {% if forloop.first %}
                                            <img onclick="viewImgModel()" style="width: 100%; cursor: pointer;" src="{{image.item_image.url}}"  alt="">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <img onclick="viewImgModel()" style="width: 100%; cursor: pointer;" src="{% static 'files/images/dummy-profile-pic.jpg' %}"  alt="">
                                {% endif %}
                            </div>
                            
                            <div class="col-md-9 m-mt-30">
                                <div class="inv-item-head">
                                    <!-- Item Name -->
                                    <span id="id_name_val" class="av-font">{{inventory_item.name}}</span>
                                    <div id="id_name_text" class="inv-input-container h-30 inv-hide" style="width: 50%;"> 
                                        <input type="text"  class="w-p-100 inv-in" name="item_name" value="{{inventory_item.name}}">
                                      </div>
                                </div>
                                <div class="inv-item-head-sub mt-20">
                                    865655
                                </div>
                                
                               <div class="row" style="margin-left: 0px; margin-top: 7%;">
                                <div class="col-md-4 pl-0">
                                    <div class="inv-item-head-sub-2">Category</div>
                                    <div class="inv-item-head-sub mt-20" id="id_cat" >
                                        <span id="id_cat_val"  class="av-font">  {{inventory_item.item_category.name}}</span>
                                       
                                        <select id="id_cat_select" name="item_category" class="minimal av-font inv-hide" >
                                            <option value="">--Select Category--</option>
                                            {% for category in categories %}
                                            <option value="{{category.id}}" {% if inventory_item.item_category.id == category.id %}selected{% endif %}>{{category.name}}</option>
                                            {% endfor %}
                                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0 m-mt-10">
                                    <div class="inv-item-head-sub-2">Segment</div>
                                    <div class="inv-item-head-sub mt-20">
                                        <span id="id_seg_val"  class="av-font">  {{inventory_item.item_segment.name|default_if_none:'-'}}</span>
                                       
                                        <select id="id_seg_select" name="item_segment" class="minimal av-font inv-hide">
                                            <option value="">--Select Segment--</option>
                                            
                                                            
                                        </select>
                                    </div>
                                
                                </div> <div class="col-md-4 pl-0 m-mt-10">
                                    <div class="inv-item-head-sub-2">Line</div>
                                    <div class="inv-item-head-sub mt-20">
                                        <span id="id_line_val" class="av-font">  {{inventory_item.item_line.name|default_if_none:'-'}}</span>
                                       
                                        <select id="id_line_select" name="item_line" class="minimal av-font inv-hide">
                                            <option value="">--Select Line--</option>
                                                            
                                        </select>
                                    </div>
                                </div>
                                
                               </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-2  h-100 m-mt-30">
                       <div class="inv-item-card ">
                        <div class="av-font text-center">
                            Inventory
                            <div class=" av-font mt-40">
                                <div class="row ">
                                    <div class="col-xs-6 text-left inv-text-1 " > Quantity</div>
                                    <div class="col-xs-6 inv-text-1 t text-left">135 Unit </div>

                                </div>
                               
                                <div class="row mt-30">
                                    <div class="col-xs-6 text-left inv-text-2"> Unit Price</div>
                                    
                                    <div class="col-xs-6 inv-text-2 text-left">135 KD </div>

                                </div>
                               
                            </div>
                           </div>
                       </div>
                                                 
                    </div>
                    <div class="col-md-2  h-100 m-mt-10">
                        <div class="inv-item-card ">
                         <div class="av-font text-center">
                            Reserve
                             <div class=" av-font mt-40">
                                <div class="row ">
                                    <div class="col-md-6 text-left inv-text-1 " > Quantity</div>
                                    <div class="col-md-6 inv-text-1">
                                        <div id="id_res_text" class="inv-input-container h-30 inv-hide" > 
                                            <input type="number"  class="w-p-100 inv-in" value="{{inventory_item.reserve_count|default_if_none:'0'}}" name="reserve">
                                          </div>    
                                        <!-- 135 Unit  -->
                                        <span id="id_res_val"> {{inventory_item.reserve_count|default_if_none:'0'}} unit(s)</span>
                                    
                                    </div>

                                </div>
                             </div>
                            </div>
                        </div>
                                                  
                     </div>
                </div>
                <div class="row mt-20">
                <div class="col-md-10 av-font" style="font-size: 16px;">
                    <textarea class="inv-hide" id="id_des_text" name="description" style="width: 100%; border-radius: 5px;" rows="4">vr</textarea>
                    <span id="id_des_val" class="av-font ">{{inventory_item.description|default_if_none:"-"}}</span>
                </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-12" style="position: relative;">
                      <div class="edit-div">
                          <img id="id_editButton" onclick="editItemDetials()" class="inv-edit-img"
                          src="{% static 'files/icons/edit.png' %}">
                        
                      </div>
                    </div>
                </div>
                </form>

                <div class="row mt-30 " style="font-size: 16px; margin-left: 0px;">
                    
                    <div class="col-md-3 inv-item-card2">
                    
                        <div class="row c-mb-3">
                            <div class="col-xs-6 av-font">Size</div>
                            <div class="col-xs-6 av-font">: 3</div>
                        </div>
                        <div class="row c-mb-3 mt-20">
                            <div class="col-xs-6 av-font">Colour</div>
                            <div class="col-xs-6 av-font">: Blue</div>
                        </div>
                        <div class="row c-mb-3 mt-20">
                            <div class="col-xs-6 av-font">Sample 1</div>
                            <div class="col-xs-6 av-font">: Value 1</div>
                        </div>
                    </div>
                    <div class="col-md-3 inv-item-card2">
                        <div class="row c-mb-3">
                            <div class="col-xs-6 av-font">Size</div>
                            <div class="col-xs-6 av-font">: 3</div>
                        </div>
                        <div class="row c-mb-3 mt-20">
                            <div class="col-xs-6 av-font">Colour</div>
                            <div class="col-xs-6 av-font">: Blue</div>
                        </div>
                        <div class="row c-mb-3 mt-20">
                            <div class="col-xs-6 av-font">Sample 1</div>
                            <div class="col-xs-6 av-font">: Value 1</div>
                        </div>
                    </div>

                   
                </div>
                <!-- <div class="row mt-20">
                   <div class="col-md-12">
                    <div class="inv-item-head-sub-2">Quantity</div>
              
                   </div>
                </div>
                <div class="row mt-20">
                   <div class="col-md-12">
                    <div class="inv-item-head-sub-2">Unit Price</div>
                    <div class="mt-20">
                        <span class="inv-item-amount">45.000KD</span>
                    </div>
                   </div>
                    
                </div> -->
                <div class="row mt-20">
                    <div class="col-md-12">
                        <div class="d-flex d-grid">
                           
                            <div class="right-pos m-mt-10">
                                <button class="inv-blue-btn" onclick="openNavAdd('add')"> <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Bundle </button>
                                <button class="inv-blue-btn" onclick="openNavAddBundle('add')" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Unit </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-10">
                        <table class="inv-table footable">
                            <thead>
                                <tr>
                                    <th style="width: %;">
                                        Unit ID
                                    </th>
                                    <th data-hide="phone,tablet"  style="width: %; ">
                                        Purchase date
                                    </th>
                                    
                                    <th data-hide="phone,tablet"  style="width: %;" >
                                        Expiry date
                                    </th>
                                    <th data-hide="phone,tablet"  class="text-center">
                                        Unit Price
                                    </th>
                                    
                                    <th>
                                        Status
                                    </th>
    
                                    <th data-hide="phone,tablet"  style="width:%;" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for unit in item_units %}
                                <tr>
                                    <td>
                                        {{unit.unit_code}}
                                    </td>
                                    <td>
                                        {{unit.purchase_date|date:'d-m-Y'}}
                                    </td>
                                    
                                    <td >
                                        {{unit.expiry_date|date:'d-m-Y'}}
                                        
                                    </td>
                                    <td class="text-center">
                                        {{unit.unit_price|floatformat:3}} KD
                                    </td>
                                    
                                    <td class="">
                                        <span class="inv-dot {% if unit.status == 'active' %}c-active{% elif unit.status == 'expired' %}c-expired{% else %}c-out-of-order{% endif %} ml-5"></span>
                                        {{unit.status}}
    
                                    </td>
                                    <td style="float: right;">
                                      
    
                                        <button onclick="openNavAddBundle('edit')" class="inv-plan-img-btn"> <img
                                                src="{% static 'files/inventory/icons/edit.png' %}" alt="">
                                        </button>
                                        <button class="inv-plan-img-btn"> <img
                                                src="{% static 'files/inventory/icons/delete.png' %}" alt="">
                                        </button>
    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          
                         

                        </table>
                    </div>
                </div>

            </div>
        </div>

      
    </section>

    <div id="addBundle" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="supHead">
                    Add Supplier
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddBundle()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>

            <form method="POST" action="" >{% csrf_token %}
            <input type="hidden" name="item_id" value="{{inventory_item.id}}">
            <input type="hidden" name="action" value="add_unit" id="unit_action" >
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Purchase Date</div>

                    <div class="inv-input-container h-30"> 
                        <input type="date" class="w-p-100 inv-in" name="purchase_date" id="id_purchase_date">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit Code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text" class="w-p-100 inv-in" value="{{new_unit_code}}" name="unit_code" id="id_unit_code" readonly>
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Expired Date</div>

                    <div class="inv-input-container h-30"> 
                        <input type="date" class="w-p-100 inv-in" name="expiry_date" id="id_expiry_date">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit Price</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="unit_price" id="id_unit_price">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <select id="id_unit_status" name="unit_status" class="minimal">
                        <option value="active">Active</option>
                        <option value="out_of_order">Out Of order</option>
                        <option value="expired">Expired</option>
                      


                    </select>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" type="submit" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNavAddBundle()" class="view-button">Cancel</button>
        </div>
        </form>

    </div>
    <div id="editExtra" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" >
                   Edit
                </div>
                <div class="right-pos">

                    <button onclick="closeExtraEdit()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
          
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Size</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Colour</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Sample</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>
            </div>
          
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" >Submit</button>
                        <button  onclick="closeExtraEdit()" class="view-button">Cancel</button>
        </div>
    </div>

    <div class="modal fade" id="imgModel" role="dialog">
        <div class="modal-dialog cancel-model " style="border: none !important;" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                        
                            <div class="owl-carousel owl-theme">
                            {% if inventory_item.item_images %}
                                {% for image in inventory_item.item_images %}
                                <div class="item" style="position: relative;">
                                    <img  style="width: 100%;" src="{{image.item_image.url}}"  alt="">

                                    <div style="position: absolute; top: 0; right: 0;">
                                        <button style="border: none; background: none; color: red;"> <i class="fa fa-trash fa-lg" aria-hidden="true"></i> Remove</button>
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <div class="item" style="position: relative;">
                                <img  style="width: 100%;" src="{% static 'files/images/dummy-profile-pic.jpg' %}"  alt="">
                                <div style="position: absolute; top: 0; right: 0;">
                                    <button style="border: none; background: none; color: red;"> <i class="fa fa-trash fa-lg" aria-hidden="true"></i> Remove</button>
                                </div>
                            </div>
                            {% endif %}
                            </div>
                           

                            <form method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
                            <input type="hidden" name="action" value="add_image" />
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="inv-input-container h-30"> 
                                        <input type="file"  class="w-p-100 inv-in" name="item_image">
                                      </div>
                                </div>
                                <div class="col-md-5">
                                    <button class="sent-button" type="submit">Add Image</button>
                                </div>
                            </div>
                            </form>
                          
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
      </div>
      <div class="modal fade" id="addimgModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border " role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                                
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                           
                            <button class="sent-button" >Add Image</button>
                            
                            <button data-dismiss="modal" class="view-button" id="model_close">Cancel</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
      </div>
      <div id="addBundle2" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="bundleHead">
                    Add Bundle
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAdd()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Bundle Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Items</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Price</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <select id="id_payment" class="minimal">
                        <option  ></option>
                        <option  >Active</option>
                        <option value="Post Paid">Inactive</option>

                    </select>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNavAdd()" class="view-button">Cancel</button>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}
<script src="{% static '/files/externalfiles/plugins/OwlCarousel2/dist/owl.carousel.js'%}"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            items: 1,
            nav: true,
            navText: [
                `<i style="color:#000000 !important;" class='fa fa-chevron-left service-control' @click='prevService()'></i>`,
                `<i style="color:#000000 !important;"  class='fa fa-chevron-right service-control'></i>`,
            ],
        });

        var categoryid = $('#id_cat_select').val();
        var segmentid = "{{inventory_item.item_segment.id}}";
        console.log(segmentid,"sid")

        getsegments(categoryid);
        getlines(segmentid);
    });
    function openNavAdd(d) {
    if(d == 'add'){
            $("#bundleHead").text("Add Bundle");
        }
        if(d == 'edit'){
            $("#bundleHead").text("Edit Bundle");
        }
        if(screen.width<= 600){
            document.getElementById("addBundle2").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addBundle2").style.width = "50%";
        }
        else{
            document.getElementById("addBundle2").style.width = "30%";
        }  
    }
    function closeNavAdd() {
        document.getElementById("addBundle2").style.width = "0";
    }

function viewImgModel(){
    console.log('c')
    $('#id_model_button').click()
    
}

$('#id_cat_select').change(function(){
    var categoryid = $('#id_cat_select').val();
    getsegments(categoryid);
})

$('#id_seg_select').change(function(){
    var segmentid = $('#id_seg_select').val();
    getlines(segmentid);
})

async function getsegments(categoryid){
         var result = await _get('api/inventory-segments/?category_id='+categoryid);
         $('#id_seg_select').find('option').remove();
         $('#id_line_select').find('option').remove();
         if(result.status == 200){
             console.log(result.data.inventory_segment,"stat")
            if (result.data.inventory_segment.length > 0){
                $('#id_seg_select').find('option').remove();
                $('#id_seg_select').append('<option value="">--Select Segment--</option>')
                $('#id_seg_select').attr("required",true);
                $.each(result.data.inventory_segment,function(key,value){
                    console.log(value.name,"stat")

                    if( parseInt(value.id) == parseInt("{{inventory_item.item_segment.id}}")){
                        $('#id_seg_select').append('<option value='+value.id+' selected>'+value.name+'</option>')
                    console.log("tat")
                    }else{
                        $('#id_seg_select').append('<option value='+value.id+'>'+value.name+'</option>')
                    console.log("tat2")
                    }
                        
                })

                document.getElementById("id_seg_select").value = "{{inventory_item.item_segment.id|default_if_none:""}}";
                
            }else{
                $('#id_seg_select').find('option').remove();
                $('#id_line_select').find('option').remove();
                $('#id_seg_select').attr("required",false);
                $('#id_line_select').attr("required",false);
                //showNotification('No Segments','error')
            }
            
         }else{
             
            showNotification('Something went wrong','error')
         }
    }

    async function getlines(segmentid){
         var result = await _get('api/inventory-lines/?segment_id='+segmentid);
         $('#id_line_select').find('option').remove();
         if(result.status == 200){
             console.log(result.data.inventory_line,"stat")
            if (result.data.inventory_line.length > 0 ){
                $('#id_line_select').find('option').remove();
                $('#id_line_select').append('<option value="">--Select Line--</option>')
                $('#id_line_select').attr("required",true);
                $.each(result.data.inventory_line,function(key,value){
                    console.log(key.id,value.id,"stat")
                        if( parseInt(value.id) == parseInt("{{inventory_item.item_line.id}}") ){
                            $('#id_line_select').append('<option value='+value.id+' selected>'+value.name+'</option>')
                        }else{
                            $('#id_line_select').append('<option value='+value.id+'>'+value.name+'</option>')
                        }
                })

                document.getElementById("id_line_select").value = "{{inventory_item.item_line.id|default_if_none:""}}";

            }else{
                
                $('#id_line_select').find('option').remove();
                $('#id_line_select').attr("required",false);
                //showNotification('No Lines','error')
            }
            
         }else{
            showNotification('Something went wrong','error')
         }
    }


function addImgModel(){
    // $('#imgModel').modal('hide');
    
    $('#model_close').click()
}
function editItemData(){
    document.getElementById('id_editButton').style.display = 'none';
    document.getElementById('id_editDone').style.display = 'block';
    document.getElementById('id_cat_val').style.display = 'none';
    document.getElementById('id_cat_select').style.display = 'block';
    document.getElementById('id_seg_val').style.display = 'none';
    document.getElementById('id_seg_select').style.display = 'block';
    document.getElementById('id_line_val').style.display = 'none';
    document.getElementById('id_line_select').style.display = 'block';
    document.getElementById('id_name_val').style.display = 'none';
    document.getElementById('id_name_text').style.display = 'block';
    document.getElementById('id_des_val').style.display = 'none';
    document.getElementById('id_des_text').style.display = 'block';
    document.getElementById('id_res_val').style.display = 'none';
    document.getElementById('id_res_text').style.display = 'block';

    
}

function doneEdit(){
    document.getElementById('id_editButton').style.display = 'block';
    document.getElementById('id_editDone').style.display = 'none';
    document.getElementById('id_cat_val').style.display = 'block';
    document.getElementById('id_cat_select').style.display = 'none';
    document.getElementById('id_seg_val').style.display = 'block';
    document.getElementById('id_seg_select').style.display = 'none';
    document.getElementById('id_line_val').style.display = 'block';
    document.getElementById('id_line_select').style.display = 'none';
    document.getElementById('id_name_val').style.display = 'block';
    document.getElementById('id_name_text').style.display = 'none';
    document.getElementById('id_des_val').style.display = 'block';
    document.getElementById('id_des_text').style.display = 'none';
    document.getElementById('id_res_val').style.display = 'block';
    document.getElementById('id_res_text').style.display = 'none';
}

function editItemDetials() {
  
        if(screen.width<= 600){
            document.getElementById("editExtra").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("editExtra").style.width = "50%";
        }
        else{
            document.getElementById("editExtra").style.width = "30%";
        }  
    }
    function closeExtraEdit() {
        document.getElementById("editExtra").style.width = "0";
    }
function openNavAddBundle(d) {
    if(d == 'add'){
            $("#supHead").text("Add Unit");
        }
        if(d == 'edit'){
            $("#supHead").text("Edit Unit");
        }
        if(screen.width<= 600){
            document.getElementById("addBundle").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addBundle").style.width = "50%";
        }
        else{
            document.getElementById("addBundle").style.width = "30%";
        }  
    }
    function closeNavAddBundle() {
        document.getElementById("addBundle").style.width = "0";
    }



   
</script>
{% endblock %}