{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper">
    <!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Orders</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder">
            <!--main-content-holder-->
            <div class="white-wrapper white-wrapper-padding">
                <div class="d-flex d-grid">
                    <div>

                        {% comment %} <div class="inv-input-container h-30">
                            <i class="fa fa-search inv-icon-input" aria-hidden="true"></i>
                            <input type="text" placeholder="Search Category" id="search-bar" class="inv-input w-250" onchange ="set_params_go()" value="{{search_query|default_if_none:''}}" name="attributes">
                        </div> {% endcomment %}

                        
                      
                        


                    </div>
                    {% comment %} <div class="right-pos">
                        <button class="inv-plan-btn">
                            <i class="fa fa-filter mr-5" aria-hidden="true"></i>
                            Filter
                        </button>
                        <!-- <button class="inv-blue-btn" data-toggle="modal" data-target="#addModel" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Store </button> -->
                    </div> {% endcomment %}
                </div>

               
                <div class="row">
                    <div class="col-md-12 mt-20">
                    <div class="d-flex">
                        <div>
                          
                        </div>
                        <div class="right-pos">
                            <div class="d-flex" style="z-index: 4;">
                                <div onclick="invPrevDay()" class="inv-day-round text-center pointer">
                                 <i class="fa fa-angle-left fa-lg" style="margin-top: 10px; color: #707070;" aria-hidden="true"></i>
                                </div>
                                <div onclick="viewPicker()" class="av-font inv-date-text text-center pointer" style="margin-left: -14px;">
                                    <div id="id_day_text" class="av-font" style="margin-top: 7px; font-size: 14px;">
                                     {{order_date|date:'d-m-Y'}}
                                    </div>
                                </div>
                                <div onclick="invNextDay()" class="inv-day-round text-center pointer" style="margin-left: -14px;">
                                 <i class="fa fa-angle-right fa-lg" style="margin-top: 10px; color: #707070;" aria-hidden="true"></i>
                                </div>
                               
                            </div>
                            <div style="margin-top: -22px;">
                                <input style="width: 20px; margin-left: 15px;" type="text" id="id_date_pick" value="{{order_date|date:'d-m-Y'}}" onchange="set_params_go();"  class=" date-box date_pick "> 
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                

                <div class="mt-20" style="border-top: 1px solid #c4c4c4;">
                    <table class="inv-table footable">

                        <thead>
                            <tr>
                                <th  style="width: %;">
                                    Visit Time
                                </th>
                                <th data-hide="phone,tablet" style="width: %;">
                                    Order Number
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;">
                                    Team Leader
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;">
                                    Service Type
                                </th>
                                {% comment %} <th data-hide="phone,tablet"  style="text-align: center;">
                                    Check Out/IN
                                </th> {% endcomment %}
    
                                <th >
                                    Status
                                </th>
                                <th data-hide="phone,tablet"  style="text-align: center;">
                                    Cleaning Status
                                </th>
    
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center table-w-20">Action</th>
                            </tr>
                        </thead>
                      <tbody>
                        {% comment %} <tr>
                            <td>
                                12/12/2021
                            </td>
                            <td>
                                0000000
                            </td>
                            <td>
                                Name
                            </td>
                            <td>
                                Name
                            <td>
                                Out
                            </td>

                            <td>
                                <span class="inv-dot c-checked-out ml-5"></span>
                                Checked-out
                               
                            </td>
                            <td style="float: right;">
                                <a href="/inventory/createcheckout/"><button class="btn-p inv-plan-img-btn btn-shadow" onclick="openNav()"> <img class="btn-img2"
                                    src="{% static 'files/inventory/icons/checklist.png' %}" alt=""> Create Check-out list </button></a>
                                <button class="inv-plan-img-btn" onclick="openNav()"> <img class="btn-img2"
                                        src="{% static 'files/inventory/icons/edit.png' %}" alt=""> </button>
                               

                            </td>
                        </tr>
                        <tr>
                            <td>
                                12/12/2021
                            </td>
                            <td>
                                0000000
                            </td>
                            <td>
                                Name
                            </td>
                            <td>
                                Name
                            <td>
                                Out
                            </td>

                            <td>
                                <span class="inv-dot c-created-out ml-5"></span>
                                List created
                                
                            </td>
                            <td style="float: right;">
                                <button class="btn-p inv-plan-img-btn inv-btn-dis" onclick="openNav()"> <img class="btn-img2"
                                    src="{% static 'files/inventory/icons/checklist.png' %}" alt=""> Create Check-out list </button>
                                <button class="inv-plan-img-btn" onclick="openNav()"> <img
                                        src="{% static 'files/inventory/icons/edit.png' %}" alt=""> </button>
                                

                            </td>
                        </tr> {% endcomment %}
                        {% for visit in visits %}
                        <tr>
                            <td>
                                {{visit.start_at|time:"g:i A"}}
                            </td>
                            <td>
                                {{visit.order.order_no}}
                            </td>
                            <td>
                                {% for team in visit.cleaning_team %}
                                {{team.team_leader.name}}
                                {% endfor %}
                            </td>
                            <td>
                                {{visit.order_scheduler_book.service_type.name}}
                            </td>
                            {% comment %} <td style="text-align: center;">
                                -
                            </td> {% endcomment %}
                            
                            <td>
                                {% if visit.work_status == 'CLEANING_FULFILLED' %}
                                <span class="inv-dot c-checked-in ml-5"></span>
                                    Stock-In
                                {% else %}
                                    {% if visit.stock_out_items_submitted == True %}
                                    <span class="inv-dot c-out-of-order ml-5"></span>
                                    Stock-Out
                                    {% else %}
                                    <span class="inv-dot c-waiting-out ml-5"></span>
                                    Waiting
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="text-align: center;">
                                {{visit.work_status}}
                            </td>
                            <td class="text-center">
                                {% if visit.stock_out_items_saved == True %}
                                <a {% if visit.work_status == 'CLEANING_FULFILLED' %}href="#"{% else %}href="/bleach-inventory/createcheckout/{{visit.id}}"{% endif %}><button class="btn-p inv-plan-img-btn2 btn-shadow" > <img class="btn-img2"
                                    src="{% static 'files/inventory/icons/checklist.png' %}" alt=""> Edit Check-out list </button></a>
                                {% else %}
                                <a href="/bleach-inventory/createcheckout/{{visit.id}}"><button class="btn-p inv-plan-img-btn2 btn-shadow" > <img class="btn-img2"
                                    src="{% static 'files/inventory/icons/checklist.png' %}" alt=""> Create Check-out list </button></a>
                                {% endif %}
                                    {% comment %} <button class="inv-plan-img-btn2" onclick="openNav()"> <img
                                        src="{% static 'files/inventory/icons/edit.png' %}" alt=""> </button> {% endcomment %}
                                

                            </td>
                        </tr>
                        {% endfor %}
                        {% comment %} <tr>
                            <td>
                                12/12/2021
                            </td>
                            <td>
                                0000000
                            </td>
                            <td>
                                Name
                            </td>
                            <td>
                                Name
                            <td>
                                Out
                            </td>

                            <td>
                                <span class="inv-dot c-checked-in ml-5"></span>
                                Checked-in
                              
                            </td>
                            <td style="float: right;">
                                <button class="btn-p inv-plan-img-btn inv-btn-dis" onclick="openNav()"> <img class="btn-img2"
                                    src="{% static 'files/inventory/icons/checklist.png' %}" alt=""> Create Check-out list </button>
                                <button class="inv-plan-img-btn" onclick="openNav()"> <img
                                        src="{% static 'files/inventory/icons/edit.png' %}" alt=""> </button>
                                

                            </td>
                        </tr> {% endcomment %}

                      </tbody>
                      


                    </table>

                </div>
            </div>
        </div>
    </section>

    <div id="orderEdit" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head">
                    Edit
                </div>
                <div class="right-pos">

                    <button onclick="closeNav()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Team Leader</div>

                    <select id="id_payment" class="minimal">
                        <option  ></option>
                        <option  >Active</option>
                        <option value="Post Paid">Inactive</option>

                    </select>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Service Type</div>

                    <select id="id_payment" class="minimal">
                        <option  ></option>
                        <option  >Active</option>
                        <option value="Post Paid">Inactive</option>

                    </select>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-6 ">
                    <div class="model-input-name">Check In/Out </div>

                    <select id="id_payment" class="minimal">
                        <option  ></option>
                        <option  >Active</option>
                        <option value="Post Paid">Inactive</option>

                    </select>
                </div>
                <div class="col-md-6 ">
                    <div class="model-input-name">Status</div>

                    <select id="id_payment" class="minimal">
                        <option  ></option>
                        <option  >Active</option>
                        <option value="Post Paid">Inactive</option>

                    </select>
                </div>

            </div>



          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNav()" class="view-button">Cancel</button>
        </div>
    </div>

    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete order</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <button class="sent-button" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
      </div>



    {% endblock %}


    {% block javascript %}

    <script>

    $(document).ready(function(){
        var $tmpSelectedDay     = new Date();
        var a = moment($tmpSelectedDay).format('DD-MM-YYYY')
        var b = "{{order_date|date:'d-m-Y'}}"
        if(a == b ){
            $('#id_day_text').text('Today')
        }
       

 	});

        function viewPicker(){
            $('#id_date_pick').click();
        }

        function invNextDay(){
           
            $selectedDay            = $('#id_date_pick').val()
            var a =  $selectedDay.split('-')
            var $tmpSelectedDay     = new Date(a[1]+'/'+ a[0]+'/' +a[2]);
            $tmpSelectedDay.setDate($tmpSelectedDay.getDate() + 1);
            var d = moment($tmpSelectedDay).format('DD-MM-YYYY');
            $('#id_date_pick').val(d)
            $('#id_day_text').text(d)
            set_params_go();

        }
        function invPrevDay(){
         
           $selectedDay            = $('#id_date_pick').val()
           var a =  $selectedDay.split('-')
           var $tmpSelectedDay     = new Date(a[1]+'/'+ a[0]+'/' +a[2]);
           $tmpSelectedDay.setDate($tmpSelectedDay.getDate() - 1);
           var d = moment($tmpSelectedDay).format('DD-MM-YYYY');
           $('#id_date_pick').val(d)
           $('#id_day_text').text(d)
           set_params_go();

           


       }
        function openNav() {
            
            if(screen.width<= 600){
                document.getElementById("orderEdit").style.width = "100%";
            }else if(screen.width<= 720){
                document.getElementById("orderEdit").style.width = "50%";
            }
            else{
                document.getElementById("orderEdit").style.width = "30%";
            }
           
        }

        function closeNav() {
            document.getElementById("orderEdit").style.width = "0";
        }

        function set_params_go(args)
        {
        var url='{% url 'bleach-inventory:inventory-order' %}';
        var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),order_date:$('#id_date_pick').val()
        };
        for(key in args) 
            params[key]=args[key];
        var query='';
        for(key in params)
            if(params[key]) 
                query+='&'+key+'='+params[key].toString();
        query=query.replace('&','?');
        window.location.href=url+query;  
        }
    </script>

    {% endblock %}