{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Pending</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper white-wrapper-padding">
                <div class="d-flex d-grid">
                    <div>
                     
                        <div class="inv-input-container h-30">
                            <i class="fa fa-search inv-icon-input" aria-hidden="true"></i>
                            <input type="text" placeholder="Search Items" id="search-bar" class="inv-input w-250" onchange ="set_params_go()" value="{{search_query|default_if_none:''}}" name="attributes">
                          </div>
                    
                    
                    </div>

                    
                    {% comment %} <div class="right-pos">
                        
                       
                        <button class="inv-blue-btn filter_btn"  data-toggle="modal" data-target="#filterModel" > Filter </button>
                    </div> {% endcomment %}
                </div>
                <br><br>
                <div class="d-flex">
                    <div>
                        <label for="favcity" style="width:100%;"> 
                            <select style="padding: 5px 50px 5px 7px !important; " name="no_of_entries" id="no_of_entries" onchange="set_params_go();"> 
                            <option value="20" {% if no_of_entries == '20' %}selected{% endif %}>20 Entries</option>
                            <option value="50" {% if no_of_entries == '50' %}selected{% endif %}>50 Entries</option>
                            <option value="100" {% if no_of_entries == '100' %}selected{% endif %}>100 Entries</option>
                            </select>
                            </label>
                    </div>
                    <div class="right-pos">
                        <p>{{no_of_entries}} Entries</p>
                    </div>
                </div>
                <div class="mt-20">
                    <table class="inv-table footable" style="border-top:1px solid #c4c4c4"> 
                        <thead>
                            <tr>
                                <th style="width: %;">
                                    Order
                                </th>
                                <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                   Team Leader
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                    Item Code
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                   Item Name
                                </th>
                               <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                    Checkout Date
                                </th>
                               
    
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center table-w-20">Action</th>
                            </tr>
                        </thead>
                     <tbody>
                        {% for item in checkout_items %}
                        <tr>
                            <td class="td-md-width">
                                {{item.visit.order.order_no}}
                            </td>
                            <td class="text-center">
                                {% for team in item.visit.cleaning_team %}
                                {{team.team_leader.name}}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                {% if item.service_item %}{{item.service_item.item.item_code}}{% else %}{{item.item.item_code}}{% endif %}
                            <td class="text-center td-md-width">
                                {% if item.service_item %}{{item.service_item.item.name}}{% else %}{{item.item.name}}{% endif %}
                            </td>
                            <td class="text-center td-md-width" >
                                {{item.checked_out_date|date:'d-m-Y'}}
                            </td>
                
                            
                            <td class="text-center">
                                <button onclick="openNavAddStore({{item.visit.id}})" class="btn-p inv-plan-img-btn2 btn-shadow"> <img class="btn-img2"
                                    src="{% static 'files/inventory/icons/icon3.png' %}" alt=""> Stock-In
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                       
                      
                     
                        
                    </table>
                </div>

                <div class="text-right">
                    <ul class="pagination">

                        {% if items.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ items.previous_page_number }}&search={{request.GET.search}}&item_category={{item_category}}&item_segment={{item_segment}}&item_line={{item_line}}&item_status={{item_status}}&no_of_entries={{no_of_entries}}" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        {% endif %}

                        {% for pg in page_range %}
                            {% if vus.number == pg %}
                                <li class="page-item"><a class="page-link active" href="?page={{pg}}&search={{request.GET.search}}&item_category={{item_category}}&item_segment={{item_segment}}&item_line={{item_line}}&item_status={{item_status}}&no_of_entries={{no_of_entries}}" >{{pg}}</a></li> 
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{pg}}&search={{request.GET.search}}&item_category={{item_category}}&item_segment={{item_segment}}&item_line={{item_line}}&item_status={{item_status}}&no_of_entries={{no_of_entries}}" >{{pg}}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if items.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ items.next_page_number }}&search={{request.GET.search}}&item_category={{item_category}}&item_segment={{item_segment}}&item_line={{item_line}}&item_status={{item_status}}&no_of_entries={{no_of_entries}}" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                        {% endif %}
                        
                      </ul>
                </div>
                <div style="color: #928F8F;">
                    Showing {{checkout_items.start_index}} to {{checkout_items.end_index}} of {{checkout_items.paginator.count}} entries
                </div>


            </div>
        </div>
    </section>


    <!--item drawer-->
    <div id="addStore" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Stock-in
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddStore()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
          
            <div class="row mt-10">
                <div class="col-md-12">
                    <div class="d-flex">
                        <div style="font-weight: 400;" class="inv-check-orderhead">
                            Name
                        </div>
                      
                    </div>
                </div>
            </div>
          <div class="row mt-20">
              <div class="col-md-12">
                  <div style="border-top:1px solid #c4c4c4">
                    <table class="inv-table"> 
                        <tr>
                            <th></th>
                            <th style="width: %;">
                                Item
                            </th>
                            <th style="width: %;">
                                Item code
                            </th>
                            <th style="width: %;">
                                Quantity
                            </th>
                        </tr>
                        <tbody id="items_container">
                            {% comment %} <tr>
                                <td>
                                    <label style="padding-left: 0px !important;" class="c-container">
                                        <input type="checkbox">
                                        <span style="top:-4px !important;" class="c-checkmark"></span>
                                    </label>
                                </td>
                                <td id="id_item_name">
                                    00000
                                </td>
                                <td id="id_item_code">
                                    00
                                </td>
                                <td id="id_quantity">
                                    8
                                </td>
                            </tr> {% endcomment %}

                        </tbody>
                     
                        
                        
                       
                    </table>
                  </div>
              
              </div>
          </div>






        </div>
        <div class="inv-drawer-footer">
            <form method="POST" id="checkinform" action="" >{% csrf_token %}
                <input type="hidden" name="item_ids" id="id_item_ids" >
                <button class="sent-button" type="button" onclick="checkinsubmit()">Stock-in</button>
            </form>        
            <button data-dismiss="modal" onclick="closeNavAddStore()" class="view-button">Cancel</button>
        </div>
    </div>




    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete inventory item ?</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <form method="POST" action="" >{% csrf_token %}
                        <input type="hidden" name="action" value="delete_item" id="delete_item_id" />
                        <input type="hidden" name="item_id" id="id_item" />
                        <div class="cancel-model-content">
                            <button class="sent-button" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
      </div>


      <div class="modal fade" id="filterModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row m-0">
                    <div class="col-md-12 mt-20">                       
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Filter options</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row m-0">
                    
                    <div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
                        <div class="ticket-form-left"><!--ticket-form-left-->
                                        <div class=" bold-text common-label"> <label>Category</label></div>
                                      <label for="favcity">
                                      <select name="category_filter" id="category_filter_id" >
                                      <option value=''>---ALL---</option>
                                      {% for category in categories %}
                                <option value='{{category.id}}' {% if category.id == item_category %}selected{%endif%} >{{category.name}}</option>
                                      {% endfor %}                
                                    </select>
                                      </label>
                        </div><!--ticket-form-left-->
                        <div class="ticket-form-right"><!--ticket-form-right-->
                                        <div class=" bold-text common-label"> <label>Segment</label></div>
                                      <label for="favcity">
                                      <select name="segment_filter" id="segment_filter_id">
                                      <option value=''>------</option> 
                                                   
                                    </select>
                                      </label>
                        </div><!--ticket-form-right-->
                      </div><!--ticket-wrapper-row ticket-forms-boxes--> 

                      <div class="ticket-wrapper-row ticket-forms-boxes mt-10"><!--ticket-wrapper-row ticket-forms-boxes-->
                        <div class="ticket-form-left"><!--ticket-form-left-->
                                        <div class=" bold-text common-label"> <label>Line</label></div>
                                      <label for="favcity">
                                      <select name="line_filter" id="line_filter_id">
                                      <option value=''>------</option>
                                                   
                                    </select>
                                      </label>
                        </div><!--ticket-form-left-->
                        <div class="ticket-form-right "><!--ticket-form-right-->
                                        <div class=" bold-text common-label"> <label>Item Status</label></div>
                                      <label for="favcity">
                                      <select name="item_status_filter" id="item_status_filter_id">
                                      <option value=''>---ALL---</option> 
                                      
                                      <option value='available' {% if item_status == 'available' %}selected{% endif %}>Available</option>
                                      <option value='about_to_finish' {% if item_status == 'about_to_finish' %}selected{% endif %}>About to Finish</option>
                                      <option value='out_of_stock' {% if item_status == 'out_of_stock' %}selected{% endif %}>Out of Stock</option>
                                                    
                                    </select>
                                      </label>
                        </div><!--ticket-form-right-->
                      </div><!--ticket-wrapper-row ticket-forms-boxes--> 
                    <div class="col-md-12 text-center">
                        
                        <div class="cancel-model-content">
                            <button class="sent-button" type="button" onclick="set_params_go()" >Submit</button>
                            <button data-dismiss="modal" class="view-button" type="button">Cancel</button>
                          
                        </div>
                        
                    </div>
                
                </div>
            </div>
        </div>
      </div>


</div>



{% endblock %}

{% block javascript %}
<script>
    function DropDown(el) {
    this.dd = el;
    this.placeholder = this.dd.children('span');
    this.opts = this.dd.find('ul.drop li');
    this.val = '';
    this.index = -1;
    this.initEvents();
}

DropDown.prototype = {
    initEvents: function () {
        var obj = this;
        obj.dd.on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).toggleClass('active');
        });
        obj.opts.on('click', function () {
            var opt = $(this);
            obj.val = opt.text();
            obj.index = opt.index();
            obj.placeholder.text(obj.val);
            opt.siblings().removeClass('selected');
            opt.filter(':contains("' + obj.val + '")').addClass('selected');
        }).change();
    },
    getValue: function () {
        return this.val;
    },
    getIndex: function () {
        return this.index;
    }
};

$(function () {
    // create new variable for each menu
    var dd1 = new DropDown($('#noble-gases'));
    var dd2 = new DropDown($('#noble-gases2'));
    var dd3 = new DropDown($('#noble-gases3'));
    var dd4 = new DropDown($('#noble-gases4'));
    var dd5 = new DropDown($('#noble-gases5'));
    var dd6 = new DropDown($('#noble-gases6'));
    var dd7 = new DropDown($('#noble-gases7'));



    // var dd2 = new DropDown($('#other-gases'));
    $(document).click(function () {
        // close menu on document click
        $('.wrap-drop').removeClass('active');
    });
});
</script>
<script>

     
function changeSelect4(va){
        $('#item_status_id').val(va)
    }

function changeSelect5(va){
        $('#item_reusable_id').val(va)
    }

function changeSelect6(va){
        $('#itemadd_type_id').val(va)
    }

function changeSelect7(va){
        $('#unit_measure_id').val(va)
    }

function changeSelect(va){
        $('#id_category').val(va);
        $('#id_segment').val('');
        var category_id = $('#id_category').val();
        getsegments(category_id);
        $('.line_dropdown').hide();
        $('#id_line').attr("required",false);
    }

    function changeSelect2(id){
        $('#id_line').val('');
         $('#id_segment').val(id);
        $('#id_seg_text').text($('#seg_id'+id).text());
        var segment_id = $('#id_segment').val();
        getlines(segment_id);
    }
    function changeSelect3(id){
         $('#id_line').val(id);
        $('#id_line_text').text($('#line_id'+id).text());
       
    }
    $(document).ready(function(){
        $('.segment_dropdown').hide();
        $('.line_dropdown').hide();

        getsegments($('#category_filter_id').val());

        {% if item_segment %}
            getlines({{item_segment}});
        {% else %}
            getlines($('#segment_filter_id').val());
        {% endif %}

    })

    $('.filter_btn').click(function(){
        {% if item_segment %}
        $("#segment_filter_id option[value="+{{item_segment}}+"]").attr('selected', true);
        {% endif %}

        {% if item_line %}
        $("#line_filter_id option[value="+{{item_line}}+"]").attr('selected', true);
        {% endif %}
    })

    async function openNavAddStore(visit_id) {
        $('#items_container').empty();

        if (screen.width <= 600) {
            document.getElementById("addStore").style.width = "100%";
        } else if (screen.width <= 720) {
            document.getElementById("addStore").style.width = "50%";
        }
        else {
            document.getElementById("addStore").style.width = "30%";
        }

        axios.get(url+'/api/items-check-in/',{params:{item_user:visit_id}})
              .then(function (response) {
                  
                  console.log(response,"resp")

                  $.each(response.data.items_list,function(obj,value){
                    if (value.item_type == 'quantity'){
                        $('#items_container').append('<tr><td><label style="padding-left: 0px !important;" class="c-container"><input type="checkbox" class="item_check" data-itemid="'+value.item_id+'"><span style="top:-4px !important;" class="c-checkmark"></span></label></td><td >'+value.item_name+'</td><td >'+value.item_code+'</td><td ><a class="quantity__minus pointer" onclick="decrement('+value.item_id+')"><span>-</span></a><input type="text" class="quantity__input" id="id_qty_'+value.item_id+'" value="0" name="qty"><a class="quantity__plus pointer" onclick="increment('+value.item_id+')"><span>+</span></a></td></tr>');
                    }
                    if (value.item_type == 'unit'){
                        $('#items_container').append('<tr><td><label style="padding-left: 0px !important;" class="c-container"><input type="checkbox" class="item_check" data-itemid="'+value.item_id+'"><span style="top:-4px !important;" class="c-checkmark"></span></label></td><td >'+value.item_name+'</td><td >'+value.item_code+'</td><td >'+value.quantity+'</td></tr>');
                    }
                    })
                  

              })
    }


    async function increment(id){
        console.log(id)
        $('#id_qty_'+id).val(parseInt($('#id_qty_'+id).val()) + 1 );
      
      }
      
      async function decrement(id){
        
        if ($('#id_qty_'+id).val() > 0) {
        $('#id_qty_'+id).val(parseInt($('#id_qty_'+id).val()) - 1 );
        }
      
        if ($('#id_qty_'+id).val() == 0) {
          $('#id_qty_'+id).val(parseInt($('#id_qty_'+id).val()) - 1 );
          $('#id_qty_'+id).val(0);
        }
      }

    function closeNavAddStore() {
        document.getElementById("addStore").style.width = "0";
    }


    //form validation
    function formvalidation(){

        if ($('input[name=item_name]').val() == ''){
            $('input[name=item_name]').addClass('red-border-input');
        }else if ($('input[name=item_category]').val() == ''){
            $('#noble-gases').addClass('red-border-input');
        }else if ($('input[name=item_segment]').val() == ''){
            $('#noble-gases2').addClass('red-border-input');
        }else if ($('input[name=item_line]').val() == ''){
            $('#noble-gases3').addClass('red-border-input');
        }else{
            console.log("lolo")
            $('#myForm').submit();
        }
    }

    
    async function getsegments(category_id){
         var result = await _get('api/inventory-segments/?category_id='+category_id);
         $('#id_segment').find('option').remove();
         $('#id_line').find('option').remove();
         if(result.status == 200){
             console.log(result.data.inventory_segment,"stat")
            if (result.data.inventory_segment.length > 0){
                $('#id_seg_text').text('--Select Segment--');
                $('#id_ul_seg').empty();
                $('#id_segment').attr("required",true);
                $.each(result.data.inventory_segment,function(key,value){
                    console.log(key.id,value.id,"stat")
                    var tempName = String(value.name)
                    console.log(tempName)
                        $('#id_ul_seg').append(' <li id="seg_id'+value.id+'" data-id='+value.id+'  onclick="changeSelect2('+value.id+')" ><a>'+value.name+'</a></li>')
                        $('#segment_filter_id').append('<option value="'+value.id+'" >'+value.name+'</option>')
                    })
                // $('#id_segment').find('option').remove();
                // $('#id_segment').append('<option value="">--Select Segment--</option>')
                // $('#id_segment').attr("required",true);
                // $.each(result.data.inventory_segment,function(key,value){
                //     console.log(key.id,value.id,"stat")
                //         $('#id_segment').append('<option value='+value.id+'>'+value.name+'</option>')
                // })

                $('.segment_dropdown').show();
            }else{
                console.log('No Segments','error')
            }
            
         }else{
             $('#id_segment').attr("required",false);
            showNotification('Something went wrong','error')
         }
    }

    async function getlines(segment_id){
         var result = await _get('api/inventory-lines/?segment_id='+segment_id);
         
         if(result.status == 200){
             console.log(result.data.inventory_line,"stat")
            if (result.data.inventory_line.length > 0 ){
                $('#id_line_text').text('--Select Line--');
                $('#id_ul_line').empty();

                $.each(result.data.inventory_line,function(key,value){
                    console.log(key.id,value.id,"stat")
                       
                        $('#id_ul_line').append(' <li id="line_id'+value.id+'" data-id='+value.id+'  onclick="changeSelect3('+value.id+')" ><a>'+value.name+'</a></li>')
                        $('#line_filter_id').append('<option value='+value.id+'>'+value.name+'</option>')
                    })
                // $('#id_line').find('option').remove();
                // $('#id_line').append('<option value="">--Select Line--</option>')
                // $('#id_line').attr("required",true);
                // $.each(result.data.inventory_line,function(key,value){
                //     console.log(key.id,value.id,"stat")
                //         $('#id_line').append('<option value='+value.id+'>'+value.name+'</option>')
                // })

                $('.line_dropdown').show();
            }else{
                $('#id_line').attr("required",false);
                console.log('No Lines','error')
            }
            
         }else{
            showNotification('Something went wrong','error')
         }
    }
   
    //filter data load
    $('#category_filter_id').change(function(){
        getsegments($(this).val());
    })

    $('#segment_filter_id').change(function(){
        getlines($(this).val());
    })

    $('#id_category').change(function(){
        var category_id = $('#id_category').val();
        console.log(category_id,"cid")
        getsegments(category_id);
        $('.line_dropdown').hide();
        $('#id_line').attr("required",false);
    })

    $('#id_segment').change(function(){
        var segment_id = $('#id_segment').val();
        console.log(segment_id,"cid")
        getlines(segment_id);
    })


    //edit attribute
    $('.edit-item').click(async function(){
        
        $('#id_edit_item').val($(this).data('itemid'));
        $('#item_action').val('edit_item');
        $('#id_item_name').val($(this).data('itemname'));
        $('#id_item_code').val($(this).data('itemcode'));
        $('#id_item_reserve').val($(this).data('itemreserve'));
        $('#id_item_description').val($(this).data('itemdescription'));

       await getsegments($(this).data('itemcategory'));
       await getlines($(this).data('itemsegment'));
        
        document.getElementById("id_category").value = $(this).data('itemcategory');
        document.getElementById("id_line").value = $(this).data('itemline');
        document.getElementById("id_segment").value = $(this).data('itemsegment');
        $('#id_selectText').text($('#cat_id'+$(this).data('itemcategory')).text());
        $('#id_seg_text').text($('#seg_id'+$(this).data('itemsegment')).text());
       $('#id_line_text').text($('#line_id'+$(this).data('itemline')).text());
       console.log($(this).data('itemstatus'),'s')
        document.getElementById("item_status_id").value = $(this).data('itemstatus');
        document.getElementById("item_reusable_id").value = $(this).data('itemreusbale');
        document.getElementById("itemadd_type_id").value = $(this).data('itemaddtype');
        document.getElementById("unit_measure_id").value = $(this).data('unitmeasure');
        $('#id_selectText5').text($(this).data('itemaddtype'));
        $('#id_selectText6').text($(this).data('unitmeasure'));

        if($('#item_status_id').val() == 'True'){
            console.log("true")
            $('#id_selectText3').text('Active');
        }else{
            $('#id_selectText3').text('Inactive');

        }

        if($('#item_reusable_id').val() == 'True'){
            console.log("true")
            $('#id_selectText4').text('Yes');
        }else{
           $('#id_selectText4').text('No');

        }
        
        $('.item-form-btn').text('Update');

    })

    function checkinsubmit(){
        
        var item_ids = [];
        var item_qtys = [];

        $('.item_check').each(function(){
            if ($(this).is(":checked")){
                item_ids.push($(this).data('itemid'))
                item_qtys.push($('#id_qty_'+$(this).data('itemid')+'').val())
            } 
        })

        var formdata = {
            'item_ids' : item_ids,
            'inventory_user' : "{{request.user.id}}",
            'quantities' : item_qtys
        }

        axios.post(url+'/api/items-check-in/',formdata)
              .then(function (response) {
                  
                  console.log(response,"resp")
                  window.location.reload()

              })

        console.log(item_ids,"kok")
        
    }

    //delete item
    $('.delete-item').click(function(){
        $('#id_item').val($(this).data('itemid'));
    })

    function set_params_go(args)
    {
    var url='{% url 'bleach-inventory:pending-items' %}';
    var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),item_category:$('#category_filter_id').val(),item_segment:$('#segment_filter_id').val(),item_line:$('#line_filter_id').val(),item_status:$('#item_status_filter_id').val()
    };
    for(key in args) 
        params[key]=args[key];
    var query='';
    for(key in params)
        if(params[key]) 
            query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;  
    }
</script>
{% endblock %}