{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head av-font">{{purchase_order.purchase_order_id}}</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper white-wrapper-padding">
                
                <div class="row mt-10">
                   <div class="col-md-4">
                    <div class="row c-mb-3 ">
                        <div class="col-xs-5  inv-section-in">Initiated date</div>
                        <div class="col-xs-7   ">: <span class="inv-section-in">{{purchase_order.created|date:'d-m-Y'}}</span></div>
                      </div>
                      <div class="row mt-10 ">
                        <div class="col-xs-5  inv-section-in">Initiated by</div>
                        <div class="col-xs-7   ">: <span class="inv-section-in">{{purchase_order.initiated_by.name}}</span></div>
                      </div>
                      {% comment %} <div class="row mt-10 ">
                        <div class="col-xs-5  inv-section-in">Supplier contact</div>
                        <div class="col-xs-7   ">: <span class="inv-section-in">12/12/2021</span></div>
                      </div> {% endcomment %}
                   </div>
                   <div class="col-md-4">
                    <div class="row c-mb-3 ">
                        <div class="col-xs-5  inv-section-in">Supplier</div>
                        <div class="col-xs-7   ">: <span class="inv-section-in">{{purchase_order.supplier.supplier_name}}</span></div>
                      </div>
                      <div class="row mt-10 ">
                        <div class="col-xs-5  inv-section-in">Supplier Address</div>
                        <div class="col-xs-7   ">: <span class="inv-section-in">{{purchase_order.supplier.address}}</span></div>
                      </div>
                      <div class="row mt-10 ">
                        <div class="col-xs-5  inv-section-in">Supplier contact</div>
                        <div class="col-xs-7   ">: <span class="inv-section-in">{{purchase_order.supplier.contact}}</span></div>
                      </div>
                   </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-3">
                        <input type="hidden" name="status" id="id_shipment_status" >
                        <div class="wrap-drop" id="noble-gases" style="z-index: 9999 !important;"  >
                            <span id="id_selectText">{% if purchase_order.is_received == True %}Shipment completed{% else %}Shipment not completed{% endif %}</span>
                            <ul class="drop">
                                <li onclick="changeSelect('complete')"><a>Shipment completed</a></li>
                                <li onclick="changeSelect('incomplete')"><a>Shipment not completed</a></li> 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mt-20">
                    <div class="d-flex" >
                        {% if purchase_order.is_received == True %}
                        <div class="inv-tab av-font inv-tab-active" onclick="selectTab('pen')" id="id_pen">By quantity</div>
                        <div class="inv-tab av-font" onclick="selectTab('rec')" id="id_rec">By unit</div>
                        <button style="margin-left: auto; margin-bottom: 5px;" class="inv-blue-btn" onclick="openNavAddStore()" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add to inventory</button>
                        {% endif %}

                    </div>
                    
                    {% if purchase_order.is_received == False %}
                    <table id="id_table_common" class="inv-table footable" style="border-top:1px solid #c4c4c4; margin-top: -2px; z-index: 10 !important;"> 
                        <thead>
                            <tr>
                                
                                <th style="width: %;">
                                    Product ID
                                </th>
                                <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                    Product Name
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-left">
                                    Number of units
                                </th>
                                <th  data-hide="phone,tablet"  style="width: %;" class="text-left">
                                    Unit Cost
                                </th>
                               
                                <th>
                                    Status
                                </th>
    
                            </tr>
                        </thead>
                     <tbody>
                      
                        {% for item in purchase_order.purchase_order_items %}
                        <tr>
                            
                            <td>
                                {{item.product.item.item_code}}
                            </td>
                            <td class="text-center">
                              {{item.product.item.name}}
                            </td>
                            <td class="text-left">
                              {{item.item_count}}
                              </td>

                            <td class="text-left">
                               {{item.unit_price|floatformat:3}}
                            </td>
                          
                            <td>
                                {% if item.is_received == True %}
                                <span class="inv-dot c-active ml-5"></span>Added
                                {% else %}
                                <span class="inv-dot c-active ml-5"></span>Waiting
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
        
                      
                     </tbody>
    
                    </table>

                    {% else %}

                    <table id="id_table_pen" class="inv-table footable" style="border-top:1px solid #c4c4c4; margin-top: -2px; z-index: 10 !important;"> 
                        <thead>
                            <tr>
                                <th>
                                    <label style="padding-left: 0px !important;"  class="c-container">
                                        <input type="checkbox" id="id_select_all" onclick="selectAllQua()" value="checked"  >
                                        <span style="top:-4px !important;"  class="c-checkmark"></span>
                                    </label>
                                </th>
                                <th style="width: %;">
                                    Product ID
                                </th>
                                <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                    Product Name
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-left">
                                    Number of units
                                </th>
                                <th  data-hide="phone,tablet"  style="width: %;" class="text-left">
                                    Unit Cost
                                </th>
                               
                                <th>
                                    Status
                                </th>
    
                            </tr>
                        </thead>
                     <tbody>
                      
                        {% for item in purchase_order.purchase_order_items %}
                        {% if item.product.item.item_add_type == 'quantity' %}
                        <tr>
                            <td>
                                {% if item.is_received == False %}
                                <label style="padding-left: 0px !important;" class="c-container">
                                    <input class="item_select selectCheckBox" type="checkbox" data-itemid="{{item.product.item.id}}" name="select-qua-item"  id="id_select_{{item.product.item.id}}"  data-itemname="{{item.product.item.name}}" data-itemcount="{{item.item_count}}" >
                                    <span style="top:-4px !important;" class="c-checkmark"></span>
                                </label>
                                {% endif %}

                            </td>
                            <td>
                                {{item.product.item.item_code}}
                            </td>
                            <td class="text-center">
                              {{item.product.item.name}}
                            </td>
                            <td class="text-left">
                              {{item.item_count}}
                              </td>

                            <td class="text-left">
                               {{item.unit_price|floatformat:3}}
                            </td>
                          
                            <td>
                                {% if item.is_received == True %}
                                <span class="inv-dot c-active ml-5"></span>Added
                                {% else %}
                                <span class="inv-dot c-active ml-5"></span>Waiting
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
        
                      
                     </tbody>
    
                    </table>

                    <table id="id_table_rec" class="inv-table footable inv-hide" style="border-top:1px solid #c4c4c4; margin-top: -2px; z-index: 10 !important; "> 
                        <thead>
                            <tr>
                                <th>
                                    <!-- <label style="padding-left: 0px !important;" class="c-container">
                                        <input type="checkbox">
                                        <span style="top:-4px !important;" class="c-checkmark"></span>
                                    </label> -->
                                </th>
                                <th style="width: %;">
                                    Product ID
                                </th>
                                <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                    Product Name
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-left">
                                    Number of units
                                </th>
                                <th  data-hide="phone,tablet"  style="width: %;" class="text-left">
                                    Unit Cost
                                </th>
                               
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                     <tbody>
                        {% for item in purchase_order.purchase_order_items %}
                        {% if item.product.item.item_add_type == 'unit' %}
                        <tr>
                            <td>
                                {% if item.is_received == False %}
                                <label style="padding-left: 0px !important;" class="c-container">
                                    <input class="item_select" type="radio" name="radio-select" data-itemid="{{item.product.item.id}}" data-itemname="{{item.product.item.name}}" data-itemcount="{{item.item_count}}" data-itemunitprice="{{item.unit_price}}" >
                                    <span style="top:-4px !important;" class="c-checkmark"></span>
                                </label>
                                {% endif %}
                            </td>
                            <td>
                                {{item.product.item.item_code}}
                            </td>
                            <td class="text-center">
                              {{item.product.item.name}}
                            </td>
                            <td class="text-left">
                              {{item.item_count}}
                              </td>

                            <td class="text-left">
                               {{item.unit_price|floatformat:3}}
                            </td>
                          
                            <td>
                                {% if item.is_received == True %}
                                <span class="inv-dot c-active ml-5"></span>Added
                                {% else %}
                                <span class="inv-dot c-active ml-5"></span>Waiting
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
        
                      
                     </tbody>
    
                    </table>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </section>
    
    

    <!-- add unit -->
    <div id="addBundle" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="supHead">
                    Add Unit
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddBundle()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>

            <form id="myform" method="POST" action="" >{% csrf_token %}
            <input type="text" name="item_id" id="add_item_id" >
            <input type="hidden" name="action" id="order_item_action" value="add_unit_to_inventory" />
            <input type="hidden" name="store" id="id_pro_sel" value="" />
            
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Store</div>

                    <div style="position: relative;">
                        <div class="inv-input-container inv-border h-30">
                            <input autocomplete="off" onclick="ProductListShow()" type="text" id="pro-name" name="storename" style="border: none !important; width: 90%;" class=" inv-in"  oninput="showProducts()" required>
                            <!-- <div class="inv-hr"></div>
                            <div class="model-filter">
                                <button class="inv-normal-btn" onclick="showDrop()">
                                    <i class="fa fa-angle-down fa-lg " style="color: #707070;" aria-hidden="true"></i>
                                </button>

                            </div> -->



                        </div>
                        <div id="id_search" class="row inv-result-box" style="display: none;">
                          
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Serial Number</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text" class="w-p-100 inv-in" name="serial_number" id="serial_number_id" required>
                      </div>
                </div>

            </div>

            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Purchase Date</div>

                    <div class="inv-input-container h-30"> 
                        <input type="date" class="w-p-100 inv-in" name="purchase_date" id="id_purchase_date" required>
                      </div>
                </div>

            </div>
            {% comment %} <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit Code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text" class="w-p-100 inv-in" value="{{new_unit_code}}" name="unit_code" id="id_unit_code" readonly>
                      </div>
                </div>

            </div> {% endcomment %}
            <div class="row mt-20 expiry_date_div">
                <div class="col-md-12 ">
                    <div class="model-input-name">Expiry Date</div>

                    <div class="inv-input-container h-30"> 
                        <input type="date" class="w-p-100 inv-in" name="expiry_date" id="id_expiry_date">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                
                    <div class="model-input-name"><input type="checkbox" name="no_expiry" id="id_no_expiry"> No Expiry</div>   
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit Price</div>

                    <div class="inv-input-container h-30"> 
                        <input type="number" step="0.001"  class="w-p-100 inv-in" name="unit_price" id="unit_price_id" required>
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <!-- <select id="id_unit_status" name="unit_status" class="minimal">
                        <option value="active">Active</option>
                        <option value="out_of_order">Out Of order</option>
                        <option value="expired">Expired</option>
                    </select> -->
                    <input hidden type="text" id="id_unit_status" name="unit_status" value="active" required>
                    <div class="wrap-drop" id="noble-gases2"  >
                        <span id="id_selectText">Active</span>
                        <ul class="drop">
                            <li onclick="changeSelect2('active')"><a>Active</a></li>
                            <li onclick="changeSelect2('out_of_order')"><a>Out Of order</a></li> 
                            <li onclick="changeSelect2('expired')"><a>Expired</a></li> 

                        </ul>
                    </div>
                </div>

            </div>
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" type="submit" >Submit</button>
            </form>
                        <button data-dismiss="modal" onclick="closeNavAddBundle()" class="view-button">Cancel</button>
        </div>
        

    </div>
    <!-- add unit -->



    <!-- add quantity -->
    <div id="addStore" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Add to Inventory
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddStore()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>

            <form method="POST" action="">{% csrf_token %}
            <input type="hidden" name="action" id="order_item_action" value="add_quantity_to_inventory" />
            
            <div class="row mt-20">
                <div class="col-md-6">
                    <div class="inv-item-head-sub" style="color: #707070;">Product</div>
                    
                </div>
                <div class="col-md-6">
                    <div class="inv-item-head-sub" style="color: #707070;">Quantity</div>
                    
                </div>

            </div>
            <div class="row mt-20" id="id_item_list">

            </div>
             
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" type="submit" >Submit</button>
            <button type="button" data-dismiss="modal" onclick="closeNavAddStore()" class="view-button">Cancel</button>
        </div>
    </div>
    <div id="editItem" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Edit Item
                </div>
                <div class="right-pos">

                    <button onclick="CloseEdit()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                <div class="col-md-6">
                    <div class="inv-item-head-sub" style="color: #707070;">Product</div>
                    <div class="inv-item-head-sub-2"> 0000000</div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
          
    
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" >Submit</button>
                        <button data-dismiss="modal" onclick="CloseEdit()" class="view-button">Cancel</button>
        </div>
    </div>
    <!-- add quantity -->


    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete inventory</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <button class="sent-button" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
      </div>
</div>



{% endblock %}

{% block javascript %}
<script>
    function DropDown(el) {
    this.dd = el;
    this.placeholder = this.dd.children('span');
    this.opts = this.dd.find('ul.drop li');
    this.val = '';
    this.index = -1;
    this.initEvents();
}



   
DropDown.prototype = {
    initEvents: function () {
        var obj = this;
        obj.dd.on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).toggleClass('active');
        });
        obj.opts.on('click', function () {
            var opt = $(this);
            obj.val = opt.text();
            obj.index = opt.index();
            obj.placeholder.text(obj.val);
            opt.siblings().removeClass('selected');
            opt.filter(':contains("' + obj.val + '")').addClass('selected');
        }).change();
    },
    getValue: function () {
        return this.val;
    },
    getIndex: function () {
        return this.index;
    }
};

$(function () {
    // create new variable for each menu
    var dd1 = new DropDown($('#noble-gases'));
    var dd2 = new DropDown($('#noble-gases2'));
    // var dd2 = new DropDown($('#other-gases'));
    $(document).click(function () {
        // close menu on document click
        $('.wrap-drop').removeClass('active');
    });
});
</script>

<script>
var c = true
var selectedTab = 'pen'
function deSelect(){  
                var ele=document.getElementsByName('select-qua-item');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=false;  
                      
                }  
            } 
function selectAllQua(){
    if(c){
        c = false
        var ele=document.getElementsByName('select-qua-item');  
            for(var i=0; i<ele.length; i++){  
                if(ele[i].type=='checkbox')  
                    ele[i].checked=true;  
            } 
    }
    else{
        c = true
        var ele=document.getElementsByName('select-qua-item');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=false;  
                      
                }  

    }
    
}

function selectTab(d){
    console.log(d)
    if(d =='rec'){
        setTimeout(function(){ $('.footable').trigger('footable_resize'); }, 1000);

        $('#id_pen').removeClass('inv-tab-active')
        $('#id_rec').addClass('inv-tab-active')

        $("#id_table_pen").hide()
        $("#id_table_rec").show()
        selectedTab = 'rec';

    }else{
        setTimeout(function(){ $('.footable').trigger('footable_resize'); }, 1000);
        
        $('#id_pen').addClass('inv-tab-active')
        $('#id_rec').removeClass('inv-tab-active')

        $("#id_table_pen").show()
        $("#id_table_rec").hide()
        selectedTab = 'pen';


    }
}

function ProductListShow(){
        document.getElementById("id_search").style.display="block"
    }

function closeProductShow(d){
        console.log(d);
        var proId = $(d).attr("data-pro")
        $('#id_pro_sel').val($(d).attr("data-pro"));
        //$('#unit_price_id').val($(d).attr("data-productprice"));
        //$('#id_total_price').val($(d).attr("data-productprice"));
        $('#pro-name').val($(d).attr("data-name"));


        document.getElementById("id_search").style.display="none"
    }

    function openNavAddStore() {

        var products = [];
        {% for store in stores %}
        console.log("{{store.store_name}}","kkk")
            var tempId = '{{store.id}}';
            var tempName = '{{store.store_name}}';
            var tempPrice = 'abc';
            products.push({id:tempId,name:tempName,price:tempPrice})
        $('#id_search').append('<div class="col-md-12" onclick="closeProductShow(this)" data-pro="{{store.id}}" data-name="{{store.store_name}}"><div class="inv-search-result">{{store.store_name}}</div></div>');

        {% endfor %}

        console.log(selectedTab)

        if(selectedTab == 'pen'){
                    $('.item_select').each(function() { 
                    console.log($(this),"lis")
                    //$('#id_item_list').remove();

                    if($(this).prop("checked") == true){
                        $('#id_item_list').append('<input type="hidden" name="product_id" value="'+$(this).data('itemid')+'" ><input type="hidden" name="item_count" value="'+$(this).data('itemcount')+'" ><div class="col-md-6 item_inventory"><div class="inv-item-head-sub-2">'+$(this).data('itemname')+'</div></div><div class="col-md-6"><div class="inv-item-head-sub-2">'+$(this).data('itemcount')+'</div></div>');
                    }
                });
            
                if(screen.width<= 600){
                    document.getElementById("addStore").style.width = "100%";
                }else if(screen.width<= 720){
                    document.getElementById("addStore").style.width = "50%";
                }
                else{
                    document.getElementById("addStore").style.width = "30%";
                } 
        }else if(selectedTab == 'rec'){

            if($('.item_select').prop("checked") == true){
                console.log("log")
            }

            var getSelectedValue = $( 'input[name="radio-select"]:checked');   
            if(getSelectedValue != null) {   
                $('#add_item_id').val($( 'input[name="radio-select"]:checked').data('itemid'));
                $('#unit_price_id').val($( 'input[name="radio-select"]:checked').data('itemunitprice'));
                    //alert("Selected radio button values is: " + $( 'input[name="radio-select"]:checked').data('itemname'));  
            }  


            if(screen.width<= 600){
                    document.getElementById("addBundle").style.width = "100%";
                }else if(screen.width<= 720){
                    document.getElementById("addBundle").style.width = "50%";
                }
                else{
                    document.getElementById("addBundle").style.width = "30%";
                } 

        }

         
    }
    function closeNavAddStore() {
        document.getElementById("addStore").style.width = "0";
    }
    function closeNavAddBundle() {
        document.getElementById("addBundle").style.width = "0";
    }


    function editNav() {
    
    if(screen.width<= 600){
        document.getElementById("editItem").style.width = "100%";
    }else if(screen.width<= 720){
        document.getElementById("editItem").style.width = "50%";
    }
    else{
        document.getElementById("editItem").style.width = "30%";
    }  
}
function CloseEdit() {
    document.getElementById("editItem").style.width = "0";
}

function changeSelect(va){
    $('#id_shipment_status').val(va);
    set_params_go();
}

function changeSelect2(va){
        $('#id_unit_status').val(va)
    }

function set_params_go(args)
    {
    var url='{% url 'bleach-inventory:inventory-purchaseorderitems' purchase_order.id %}';
    var params={shipment_status:$('#id_shipment_status').val()
    };
    for(key in args) 
        params[key]=args[key];
    var query='';
    for(key in params)
        if(params[key]) 
            query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;  
    }
</script>
{% endblock %}