{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Purchase Orders</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper white-wrapper-padding">
                <div class="d-flex d-grid">
                    <div>
                     
                        <div class="inv-input-container h-30">
                            <i class="fa fa-search inv-icon-input" aria-hidden="true"></i>
                            <input type="text" id="search-bar" placeholder="Search" class="inv-input w-250" onchange="set_params_go();" name="attributes" value="{{search_query|default_if_none:''}}">
                          </div>
                    
                    
                    </div>
                    <div class="right-pos">
                        {% comment %} <button class="inv-plan-btn">
                            <i class="fa fa-filter mr-5" aria-hidden="true"></i>
                            Filter
                        </button> {% endcomment %}
                        <a href="/bleach-inventory/createpo/"><button class="inv-blue-btn" onclick="showDrawer('add')" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Create PO</button></a>

                        <!-- <button class="inv-blue-btn" data-toggle="modal" data-target="#addModel" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Store </button> -->
                    </div>
                </div>
                <div class="mt-20">
                    <div class="d-flex" >
                        <div class="inv-tab av-font inv-tab-active" onclick="selectTab('pen')" id="id_pen">Pending</div>
                        <div class="inv-tab av-font" onclick="selectTab('rec')" id="id_rec">Received</div>
                    </div>
                    <table id="id_table_pen" class="inv-table footable" style="border-top:1px solid #c4c4c4; margin-top: -2px;"> 
                        <thead>
                            <tr>
                                <th style="width: %;">
                                    PO ID
                                </th>
                                <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                    Initiated Date
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                    Initiated by
                                </th>
                                <th  data-hide="phone,tablet"  style="width: %;" class="text-center td-md-width">
                                    Supplier
                                </th>
                                <th data-hide="phone,tablet"  class="text-center">
                                    Number Of units
                                </th>
                                <th data-hide="phone,tablet"  class="text-center">
                                    Total cost
                                </th>
                                <th>
                                    Status
                                </th>
    
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center table-w-25">Action</th>
                            </tr>
                        </thead>
                     <tbody>
                        {% for order in purchase_orders %}
                        {% if order.is_received == False %}
                        <tr>
                            <td>
                                {{order.purchase_order_id}}
                            </td>
                            <td class="text-center">
                                {{order.created|date:'d-m-Y'}}
                            </td>
                            <td class="text-center">
                                {{order.initiated_by.name}}
                            <td class="text-center">
                                {{order.supplier.supplier_name}}
                            </td>
                            <td class="text-center">
                                {{order.total_units}}
                            </td>
                            <td class="text-center">
                               {{order.total_price}}
                            </td>
                            <td>
                                {% if order.is_rejected == True %}
                                <span class="inv-dot c-out-of-order ml-5"></span>Rejected
                                {% else %}
                                    {% if order.is_admin_approved == True %}
                                    <span class="inv-dot c-active ml-5"></span>Approved
                                    {% else %}
                                    <span class="inv-dot c-about-finish ml-5"></span>Pending
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-center">
                               
                                <div class="btn-group" id="actionDropdown">
                                    <div class="order-dropdown " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                      Action
                                      <i class="fa fa-chevron-down action-icon" aria-hidden="true" ></i>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu-orders">  
                                        
                                        <a class="d-flex dropdown-orders"  href="/bleach-inventory/purchaseOrder/items/{{order.id}}/"><img src="{% static 'files/inventory/view.png'%}" class="dropdown-icon2 pr-2"/> <div class="ml-2 dropdown-text">View</div></a>    

                                        {% if order.is_admin_approved == True %}
                                            <a class="d-flex dropdown-orders" href="/bleach-inventory/purchaseorderpage/{{order.id}}/"><img
                                                src="{% static 'files/inventory/invoice.png' %}" class="dropdown-icon2 pr-2" alt=""><div class="ml-2 dropdown-text">Invoice</div></a>
                                        {% else %}
                                            <a class="inv-plan-img-btn2-disabled d-flex dropdown-orders" disabled> <img class="btn-img2 dropdown-icon2 pr-2" src="{% static 'files/inventory/invoice.png' %}" alt=""><div class="ml-2 dropdown-text">Invoice</div></a>
                                        {% endif %}

                                        {% if order.is_rejected == True or order.is_received == False %}                
                                        <a class="d-flex dropdown-orders" href="/bleach-inventory/editpo/{{order.id}}"><img class="dropdown-icon2 pr-2" src="{% static 'files/inventory/pencil.png' %}"  alt=""><div class="ml-2 dropdown-text">Edit</div></a>
                                        {% else %}
                                        <a class="d-flex dropdown-orders inv-plan-img-btn2-disabled" disabled> <img class="dropdown-icon2 pr-2 btn-img2" src="{% static 'files/inventory/pencil.png' %}"  alt=""><div class="ml-2 dropdown-text">Edit</div> </a>
                                        {% endif %}

                                      
                                        {% if request.user.user_type == 'INVENTORYADMIN' %}
                                        <a class="d-flex dropdown-orders delete-order" data-id="{{order.id}}"  data-toggle="modal" data-target="#deleteModel"> <img class="dropdown-icon2" src="{% static 'files/inventory/bin.png' %}"  alt=""> <div class="ml-2 dropdown-text">Delete</div> </button>
                                        {% endif %}
                                      
                                    </div>
                                  </div>
                        
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
        
                      
                     </tbody>
                       
                      
                     
                        
                    </table>
                    <table id="id_table_rec" class="inv-table footable inv-hide" style="border-top:1px solid #c4c4c4; margin-top: -2px;"> 
                        <thead>
                            <tr>
                                <th style="width: %;">
                                    PO ID
                                </th>
                                <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                    Initiated Date
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                    Initiated by
                                </th>
                                <th  data-hide="phone,tablet"  style="width: %;" class="text-center td-md-width">
                                    Supplier
                                </th>
                                <th data-hide="phone,tablet"  class="text-center">
                                    Number Of units
                                </th>
                                <th data-hide="phone,tablet"  class="text-center">
                                    Total cost
                                </th>
                                <th>
                                    Status
                                </th>
    
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">Action</th>
                            </tr>
                        </thead>
                     <tbody>
                        {% for order in purchase_orders %}
                        {% if order.is_received == True %}
                        <tr>
                            <td>
                                {{order.purchase_order_id}}
                            </td>
                            <td class="text-center">
                                {{order.created|date:'d-m-Y'}}
                            </td>
                            <td class="text-center">
                                {{order.initiated_by.name}}
                            <td class="text-center">
                                {{order.supplier.supplier_name}}
                            </td>
                            <td class="text-center">
                                {{order.total_units}}
                            </td>
                            <td class="text-center">
                               {{order.total_price}}
                            </td>
                            <td>
                                {% if order.total_units == order.total_added_units %}
                                <span class="inv-dot c-active ml-5"></span>Added
                                {% else %}
                                <span class="inv-dot c-about-finish ml-5"></span>Waiting
                                {% endif %}
                            </td>
                            <td class="text-center">
                               
                                <div class="btn-group" id="actionDropdown">
                                    <div class="order-dropdown " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                      Action
                                      <i class="fa fa-chevron-down action-icon" aria-hidden="true" ></i>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu-orders">  
                                        
                                        <a class="d-flex dropdown-orders"  href="/bleach-inventory/purchaseOrder/items/{{order.id}}/"><img src="{% static 'files/inventory/view.png'%}" class="dropdown-icon2 pr-2"/> <div class="ml-2 dropdown-text">View</div></a>    

                                        {% if order.is_admin_approved == True %}
                                            <a class="d-flex dropdown-orders" href="/bleach-inventory/purchaseorderpage/{{order.id}}/"><img
                                                src="{% static 'files/inventory/invoice.png' %}" class="dropdown-icon2 pr-2" alt=""><div class="ml-2 dropdown-text">Invoice</div></a>
                                        {% else %}
                                            <a class="inv-plan-img-btn2-disabled d-flex dropdown-orders" disabled> <img class="btn-img2 dropdown-icon2 pr-2" src="{% static 'files/inventory/invoice.png' %}" alt=""><div class="ml-2 dropdown-text">Invoice</div></a>
                                        {% endif %}

                                        {% if request.user.user_type == 'INVENTORYADMIN' %}
                                            {% if order.is_admin_approved == False or order.is_rejected == True %}                
                                            <a class="d-flex dropdown-orders" href="/bleach-inventory/editpo/{{order.id}}"><img class="dropdown-icon2 pr-2" src="{% static 'files/inventory/pencil.png' %}"  alt=""><div class="ml-2 dropdown-text">Edit</div></a>
                                            {% else %}
                                            <a class="d-flex dropdown-orders inv-plan-img-btn2-disabled" disabled> <img class="dropdown-icon2 pr-2 btn-img2" src="{% static 'files/inventory/pencil.png' %}"  alt=""><div class="ml-2 dropdown-text">Edit</div> </a>
                                            {% endif %}

                                            <a class="d-flex dropdown-orders delete-order" data-id="{{order.id}}"  data-toggle="modal" data-target="#deleteModel"> <img class="dropdown-icon2" src="{% static 'files/inventory/bin.png' %}"  alt=""> <div class="ml-2 dropdown-text">Delete</div> </button>
                                        {% endif %}
                                      
                                    </div>
                                  </div>
                        
                        
                        
                        
                        
                                {% comment %} <a href="/bleach-inventory/purchaseOrder/items/{{order.id}}/"><button class="inv-plan-img-btn"> <img class="view-img"
                                    src="{% static 'files/inventory/icons/view.png' %}" alt="">
                        </button></a>
                        <a href="/bleach-inventory/purchaseorderpage/{{order.id}}/"><button class="inv-plan-img-btn"> <img 
                            src="{% static 'files/inventory/invoice.png' %}" alt="">
                </button></a>
                {% if request.user.user_type == 'INVENTORYADMIN' %}                
                <a href="/bleach-inventory/editpo/{{order.id}}"><button class="inv-plan-img-btn" > <img src="{% static 'files/inventory/icons/edit.png' %}"  alt=""> </button></a>
                <button class="inv-plan-img-btn delete-order" data-id="{{order.id}}"  data-toggle="modal" data-target="#deleteModel"> <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button>
                {% else %}
                <button class="inv-plan-img-btn2-disabled" > <img class="btn-img2" src="{% static 'files/inventory/icons/edit.png' %}"  alt=""> </button>
                <button class="inv-plan-img-btn2-disabled" > <img class="btn-img2" src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button>
                {% endif %} {% endcomment %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
        
                      
                     </tbody>
                       
                      
                     
                        
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div id="addStore" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Add Store
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddStore()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Item</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Item code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Category</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Quantity</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Unit Price</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="attributes">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <select id="id_payment" class="minimal">
                        <option  ></option>
                        <option  >Active</option>
                        <option value="Post Paid">Inactive</option>

                    </select>
                </div>

            </div>
            
    
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button" >Submit</button>
                        <button data-dismiss="modal" onclick="closeNavAddStore()" class="view-button">Cancel</button>
        </div>
    </div>
    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete this purchase order ?</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <form method="POST" action="" >{% csrf_token %}
                            <input type="hidden" name="action" value="delete_order" />
                            <input type="hidden" name="order_id" id="id_order" />
                            <div style="align-items: center;
                            justify-content: center;" class="d-flex">
                                <button class="sent-button" >Delete</button>
                            </form>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                            </div>
                            
                          
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
      </div>
</div>



{% endblock %}

{% block javascript %}

<script>
function selectTab(d){
    console.log(d)
    if(d =='rec'){
        setTimeout(function(){ $('.footable').trigger('footable_resize'); }, 100);
        $('#id_pen').removeClass('inv-tab-active')
        $('#id_rec').addClass('inv-tab-active')

        $("#id_table_pen").hide()
        $("#id_table_rec").show()

    }else{
        setTimeout(function(){ $('.footable').trigger('footable_resize'); }, 100);
        $('#id_pen').addClass('inv-tab-active')
        $('#id_rec').removeClass('inv-tab-active')

        $("#id_table_pen").show()
        $("#id_table_rec").hide()

    }
}


    function openNavAddStore(d) {
    if(d == 'add'){
            $("#itemHead").text("Add Store");
        }
        if(d == 'edit'){
            $("#itemHead").text("Edit Inventory");
        }
        if(screen.width<= 600){
            document.getElementById("addStore").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addStore").style.width = "50%";
        }
        else{
            document.getElementById("addStore").style.width = "30%";
        }  
    }
    function closeNavAddStore() {
        document.getElementById("addStore").style.width = "0";
    }

    $('.delete-order').click(function(){
        $('#id_order').val($(this).data('id'));
    })

    function set_params_go(args)
    {
    var url='{% url 'bleach-inventory:inventory-purchaseorder' %}';
    var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),
    };
    for(key in args) 
        params[key]=args[key];
    var query='';
    for(key in params)
        if(params[key]) 
            query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;  
    }
</script>
{% endblock %}