{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="wrapper"><!--wrapper-->
    {% include "inventory/common/header.html" %}
    <section class="content">
        <div class="container-fluid space topspace">
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Store</h1>
                <!-- <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p> -->
            </div>
        </div>

        <div class="main-content-holder"><!--main-content-holder-->   
            <div class="white-wrapper white-wrapper-padding">
                <div class="d-flex d-grid">
                    <div>
                     
                        <div class="inv-input-container h-30">
                            <i class="fa fa-search inv-icon-input" aria-hidden="true"></i>
                            <input type="text" placeholder="Search Store" id="search-bar" class="inv-input w-250" onchange ="set_params_go()" value="{{search_query|default_if_none:''}}" name="attributes">
                          </div>
                    
                    
                    </div>
                    <div class="right-pos">
                        <button class="inv-blue-btn" onclick="openNavAddStore('add')" > <i class="fa fa-plus mr-10" aria-hidden="true"></i>Add Store </button>
                    </div>
                </div>
                <div class="mt-20">
                    <table class="inv-table footable"> 
                        <thead>
                            <tr>
                                <th style="width: %;">
                                    Store Name
                                </th>
                                <th data-hide="phone,tablet"  style="width: %; text-align: center;">
                                    Store Code
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                    Address
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">
                                    Contact
                                </th>
                                <th>
                                    Status
                                </th>
                                <th data-hide="phone,tablet"  style="width: %;" class="text-center">Action</th>
                            </tr>
                        </thead>
                       <tbody>

                        {% for store in stores %}
                        <tr>
                            <td>
                                
                                {{store.store_name}}
                            </td>
                            <td class="text-center">
                                {{store.store_code}}
                            </td>
                            <td class="text-center">
                                {{store.address}}
                            <td class="text-center">
                                {{store.contact}}
                            </td>
                            <td>
                                {% if store.status == True %}
                                <span class="inv-dot c-active ml-5"></span>Active
                                {% else %}
                                <span class="inv-dot c-active ml-5"></span>Not Active
                                {% endif %}
                            </td>
                            <td style="float: right;">
                              
                                <button class="inv-plan-img-btn edit_store" onclick="openNavAddStore('edit')" data-storeid="{{store.id}}" data-storename="{{store.store_name}}" data-storecontact="{{store.contact}}" data-storecode="{{store.store_code}}" data-storeaddress="{{store.address}}" data-storestatus="{{store.status}}" > <img src="{% static 'files/inventory/icons/edit.png' %}"  alt=""> </button>
                                <button class="inv-plan-img-btn delete_store" data-storeid="{{store.id}}" data-toggle="modal" data-target="#deleteModel"> <img src="{% static 'files/inventory/icons/delete.png' %}"  alt=""> </button>

                            </td>
                        </tr>
                        {% endfor %}
                        
                       </tbody>
                      
                     
                        
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div id="addStore" class="inv-sidedrawer">

        <div class="inv-sidedrawer-inner">
            <div class="d-flex">
                <div class="inv-drawer-head" id="itemHead">
                    Add Store
                </div>
                <div class="right-pos">

                    <button onclick="closeNavAddStore()" class="img-button">
                        <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                    </button>
                </div>
            </div>
            <hr>

            <form method="POST" action="" >{% csrf_token %}
            <input type="hidden" name="action" id="store_action" value="add_store" />
            <input type="hidden" name="store_edit_id" id="id_edit_store" />
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Store Name</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="store_name" id="name_store">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Store code</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" value="{{store_code}}" name="store_code" id="code_store">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Address</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="store_address" id="address_store">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Contact</div>

                    <div class="inv-input-container h-30"> 
                        <input type="text"  class="w-p-100 inv-in" name="store_contact" id="contact_store">
                      </div>
                </div>

            </div>
            <div class="row mt-20">
                <div class="col-md-12 ">
                    <div class="model-input-name">Status</div>

                    <select id="status_store" name="store_status" class="minimal">
                        <option value="True" selected>Active</option>
                        <option value="False">Inactive</option>
                    </select>
                </div>

            </div>
            
    
            


          
        </div>
        <div class="inv-drawer-footer">
            <button class="sent-button store-form-btn" type="submit" >Submit</button>
            <button data-dismiss="modal" onclick="closeNavAddStore()" class="view-button">Cancel</button>
        </div>
        </form>
    </div>
    <div class="modal fade" id="deleteModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border w-p-70" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-20">

                        
                        <div class="d-flex ">
                            <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Do you want to delete store</p></div>
                            <button data-dismiss="modal" class="img-button" style="margin-left: auto;">

                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12 text-center">
                    <form method="POST" action="" >{% csrf_token %}
                    <input type="hidden" name="action" value="delete_store" />
                    <input type="hidden" name="store_id_delete" id="id_store_delete" />
                        <div class="cancel-model-content">
                            <button class="sent-button" type="submit" >Delete</button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                          
                        </div>
                    </form>
                    </div>
    
                </div>
            </div>
        </div>
      </div>
</div>



{% endblock %}

{% block javascript %}

<script>



    function openNavAddStore(d) {
    if(d == 'add'){
            $("#itemHead").text("Add Store");
            $('.store-form-btn').text('Add');
            $('#store_action').val('add_store');
        }
        if(d == 'edit'){
            $("#itemHead").text("Edit Store");
            $('.store-form-btn').text('Update');
            $('#store_action').val('edit_store');
        }
        if(screen.width<= 600){
            document.getElementById("addStore").style.width = "100%";
        }else if(screen.width<= 720){
            document.getElementById("addStore").style.width = "50%";
        }
        else{
            document.getElementById("addStore").style.width = "30%";
        }  
    }
    function closeNavAddStore() {
        document.getElementById("addStore").style.width = "0";
    }

    //edit store
    $('.edit_store').click(function(){
        //console.log($(this).data('categoryid'),$(this).data('categoryname'),"editc")
        $('#id_edit_store').val($(this).data('storeid'));
        $('#name_store').val($(this).data('storename'));
        $('#code_store').val($(this).data('storecode'));
        $('#contact_store').val($(this).data('storecontact'));
        //$('#other_contact_store').val($(this).data('storecontactother'));
        $('#address_store').val($(this).data('storeaddress'));
        //$('#terms_store').val($(this).data('storeterms'));
        document.getElementById("status_store").value = $(this).data('storestatus');


    })

    //delete store
    $('.delete_store').click(function(){
        //console.log($(this).data('categoryid'),$(this).data('categoryname'),"editc")
        $('#id_store_delete').val($(this).data('storeid'));
    })

    function set_params_go(args)
    {
    var url='{% url 'inventory:inventory-store' %}';
    var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),
    };
    for(key in args) 
        params[key]=args[key];
    var query='';
    for(key in params)
        if(params[key]) 
            query+='&'+key+'='+params[key].toString();
    query=query.replace('&','?');
    window.location.href=url+query;  
    }
</script>
{% endblock %}