{% load static %}
<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid top-bg"><!--container-fluid top-bg-->
        <div class="navbar-header"><!--navbar-header-->
        <a class="navbar-brand" href="#"><div class="logo"><img  src="{% static 'files/images/logo.svg' %}"></div><span class="logo-text">Bleach-Kw</span></a>
        </div><!--navbar-header-->
            <div class="three">
            <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#" role="button" data-toggle-sidebar><i class="fa fa-fw fa-bars three-line"></i><span class="sr-only">Toggle navigation</span></a></li>
            </ul>
            </div>
        <div class="">
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle  white-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user  white-text"></i> <span class="white-text">Profile</span> <span class="caret  white-text"></span></a>
        <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{% url 'logout' %}">Sign out</a></li>
        </ul>
        </li>
        <li><a href="#"><i class="fa fa-bell-o white-text"></i><span class="sr-only">Notifications</span></a></li>
        </ul>
        </div>
    </div><!--container-fluid top-bg-->
    </nav>
    </header>

    <aside class="main-sidebar">
        <section>
        <div class="user-type-wrapper">
        <br>
        	<ul id="accordion" class="">
            <li class="image-profile-sidebar-avatar">
                    {% if request.user.profile_image %}
                    <img class="image-profile-sidebar" src="{{request.user.profile_image.url}}">
                    {% else %}
                    <img class="image-profile-sidebar" src="{% static 'files/images/usertype-avtar.svg' %}">
                    {% endif %}
            </li>
            <li class="profile-name">{{request.user.name}}<br><span>Agent</span></li>
            </ul>
            </div><br><br>
            <div id="accordion" class="user-typer-wrapper"><!--user-typer-wrapper-->

            </div><!--user-typer-wrapper-->
            <ul id="accordion" class="nav">
            <li class="lhs-home"><a href="{% url 'agent:agentdash-board' %}" title="Home"><span>My Dashboard</span></a></li>
            <li class="lhs-orders"><a href="{% url 'agent:agent-orders' %}" title="Home"><span>Orders</span></a></li>
            <li class="lhs-clients"><a href="{% url 'agent:agent-clients' %}" title="Home"><span>Clients</span></a></li>
            <li class="lhs-tickets"><a href="{% url 'agent:agent-tickets' %}" title="Home"><span>Tickets</span></a></li>
            <li class="lhs-feedbacks"><a href="{% url 'agent:agent-feedbacks' %}" title="Home"><span>Feedbacks</span></a></li>
            <li class="lhs-resources border"><a href="{% url 'agent:resource-management' %}" title="Home"><span>Resources</span></a></li>
            <br> <br>
            <li class="lhs-new-enquiry cap"><a href="#"><span>New Enquiry</span></a></li>
            <li class="lhs-addfeedback cap"><a href="#"><span>Add Feedback</span></a></li>
            <li class="lhs-raiseticket cap border"><a href="#"><span>Raise Ticket</span></a></li>
            </ul>
        </section>
    </aside>