<tr>
    <td {% if invoice.payment_status == 'PENDING' %}
        class="red-line"
        {% elif invoice.payment_status == 'COMPLETED' %}
        class="green-line" 
        {% else %}
        class="yellow-line"
        {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
    <td class="text-left"  >{{invoice.order_no}}</td>
    <td>{{invoice.evaluation.customer.name}}</td>
    <td class="text-center">{{invoice.evaluation.payment_method}}</td>
    </td>
    <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
    <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
    <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
    <td class="text-center">
    {% for inv in invoice.paymenthistory|slice:":1" %}
    {% if inv.payment_mode == 'ONLINECREDIT' %}
    {{inv.payment_gateway|default_if_none:'-'}},
    {% else %}
    {{inv.payment_mode|default_if_none:'-'}},
    {% endif %}
    {% empty %}
    -
    {% endfor %}
    </td>
    <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
        {% if invoice.completed_count == 0 %}
        <span class="text-center blue-bg clickable-row">Not Started</span>
        {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
        <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
        {% elif invoice.completed_count == invoice.orderschedule_count %}
        <span class="text-center green-bg clickable-row" >COMPLETED</span>
        {% endif %}
        {% comment %} {% for schedule in invoice.orderschedules %}
        <p>{{schedule.work_status}}</p>
        <p>{{invoice.orderschedule_count}}</p>
        <p>{{invoice.completed_count}}</p>
        {% endfor %} {% endcomment %}
        </td>
    </tr>

    {% empty %}
    <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td><td></td><td></td></tr>






    <!--job status payments load-->
    {% if fil_order_status == 'CLEANING_FULFILLED' %}

      {% for invoice in invoices %}

        {% if invoice.orderschedule_count == invoice.completed_count %}
          <tr>
          <td {% if invoice.payment_status == 'PENDING' %}
              class="red-line"
              {% elif invoice.payment_status == 'COMPLETED' %}
              class="green-line" 
              {% else %}
              class="yellow-line"
              {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
          <td class="text-left"  >{{invoice.order_no}}</td>
          <td>{{invoice.evaluation.customer.name}}</td>
          <td class="text-center">{{invoice.evaluation.payment_method}}</td>
          </td>
          <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-center">
          {% for inv in invoice.paymenthistory|slice:":1" %}
          {% if inv.payment_mode == 'ONLINECREDIT' %}
          {{inv.payment_gateway|default_if_none:'-'}},
          {% else %}
          {{inv.payment_mode|default_if_none:'-'}},
          {% endif %}
          {% empty %}
          -
          {% endfor %}
          </td>
          <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
              {% if invoice.completed_count == 0 %}
              <span class="text-center blue-bg clickable-row">Not Started</span>
              {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
              <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
              {% elif invoice.completed_count == invoice.orderschedule_count %}
              <span class="text-center green-bg clickable-row" >COMPLETED</span>
              {% endif %}
              {% comment %} {% for schedule in invoice.orderschedules %}
              <p>{{schedule.work_status}}</p>
              <p>{{invoice.orderschedule_count}}</p>
              <p>{{invoice.completed_count}}</p>
              {% endfor %} {% endcomment %}
              </td>
          </tr>
          {% endif %}

          {% empty %}

          <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td><td></td><td></td></tr>
        
      {% endfor %}

    {% elif fil_order_status == 'CLEANING_TEAM_ASSIGNED' %}
    
      {% for invoice in invoices %}

        {% if invoice.completed_count == 0 %}
          <tr>
          <td {% if invoice.payment_status == 'PENDING' %}
              class="red-line"
              {% elif invoice.payment_status == 'COMPLETED' %}
              class="green-line" 
              {% else %}
              class="yellow-line"
              {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
          <td class="text-left"  >{{invoice.order_no}}</td>
          <td>{{invoice.evaluation.customer.name}}</td>
          <td class="text-center">{{invoice.evaluation.payment_method}}</td>
          </td>
          <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-center">
          {% for inv in invoice.paymenthistory|slice:":1" %}
          {% if inv.payment_mode == 'ONLINECREDIT' %}
          {{inv.payment_gateway|default_if_none:'-'}},
          {% else %}
          {{inv.payment_mode|default_if_none:'-'}},
          {% endif %}
          {% empty %}
          -
          {% endfor %}
          </td>
          <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
              {% if invoice.completed_count == 0 %}
              <span class="text-center blue-bg clickable-row">Not Started</span>
              {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
              <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
              {% elif invoice.completed_count == invoice.orderschedule_count %}
              <span class="text-center green-bg clickable-row" >COMPLETED</span>
              {% endif %}
              {% comment %} {% for schedule in invoice.orderschedules %}
              <p>{{schedule.work_status}}</p>
              <p>{{invoice.orderschedule_count}}</p>
              <p>{{invoice.completed_count}}</p>
              {% endfor %} {% endcomment %}
              </td>
          </tr>
          {% endif %}

          {% empty %}

          <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td><td></td><td></td></tr>
        
      {% endfor %}

    {% elif fil_order_status == 'CLEANING_IN_PROGRESS' %}

      {% for invoice in invoices %}

        {% if invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
          <tr>
          <td {% if invoice.payment_status == 'PENDING' %}
              class="red-line"
              {% elif invoice.payment_status == 'COMPLETED' %}
              class="green-line" 
              {% else %}
              class="yellow-line"
              {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
          <td class="text-left"  >{{invoice.order_no}}</td>
          <td>{{invoice.evaluation.customer.name}}</td>
          <td class="text-center">{{invoice.evaluation.payment_method}}</td>
          </td>
          <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-center">
          {% for inv in invoice.paymenthistory|slice:":1" %}
          {% if inv.payment_mode == 'ONLINECREDIT' %}
          {{inv.payment_gateway|default_if_none:'-'}},
          {% else %}
          {{inv.payment_mode|default_if_none:'-'}},
          {% endif %}
          {% empty %}
          -
          {% endfor %}
          </td>
          <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
              {% if invoice.completed_count == 0 %}
              <span class="text-center blue-bg clickable-row">Not Started</span>
              {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
              <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
              {% elif invoice.completed_count == invoice.orderschedule_count %}
              <span class="text-center green-bg clickable-row" >COMPLETED</span>
              {% endif %}
              {% comment %} {% for schedule in invoice.orderschedules %}
              <p>{{schedule.work_status}}</p>
              <p>{{invoice.orderschedule_count}}</p>
              <p>{{invoice.completed_count}}</p>
              {% endfor %} {% endcomment %}
              </td>
          </tr>
          {% endif %}

          {% empty %}

          <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td><td></td><td></td></tr>
        
      {% endfor %}

    {% endif %}
    <!--job status payment load-->

    <!--payment status filtered load-->

    {% if fil_payment_status == 'PENDING' or fil_payment_policy == 'POSTPAID' or fil_payment_policy == 'PREPAID' or fil_payment_policy == 'BREAKDOWN' %}

      {% for invoice in invoices %}

          {% if invoice.evaluation.payment_method == 'POSTPAID' and invoice.completed_count == invoice.orderschedule_count %}
            <tr>
            <td {% if invoice.payment_status == 'PENDING' %}
                class="red-line"
                {% elif invoice.payment_status == 'COMPLETED' %}
                class="green-line" 
                {% else %}
                class="yellow-line"
                {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
            <td class="text-left"  >{{invoice.order_no}}</td>
            <td>{{invoice.evaluation.customer.name}}</td>
            <td class="text-center">{{invoice.evaluation.payment_method}}</td>
            </td>
            <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
            <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
            <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
            <td class="text-center">
            {% for inv in invoice.paymenthistory|slice:":1" %}
            {% if inv.payment_mode == 'ONLINECREDIT' %}
            {{inv.payment_gateway|default_if_none:'-'}},
            {% else %}
            {{inv.payment_mode|default_if_none:'-'}},
            {% endif %}
            {% empty %}
            -
            {% endfor %}
            </td>
            <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
                {% if invoice.completed_count == 0 %}
                <span class="text-center blue-bg clickable-row">Not Started</span>
                {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
                <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
                {% elif invoice.completed_count == invoice.orderschedule_count %}
                <span class="text-center green-bg clickable-row" >COMPLETED</span>
                {% endif %}
                {% comment %} {% for schedule in invoice.orderschedules %}
                <p>{{schedule.work_status}}</p>
                <p>{{invoice.orderschedule_count}}</p>
                <p>{{invoice.completed_count}}</p>
                {% endfor %} {% endcomment %}
                </td>
            </tr>
          {% endif %}

          {% if invoice.evaluation.payment_method == 'PREPAID' and invoice.amount_paid == 0.0 %}
            <tr>
            <td {% if invoice.payment_status == 'PENDING' %}
                class="red-line"
                {% elif invoice.payment_status == 'COMPLETED' %}
                class="green-line" 
                {% else %}
                class="yellow-line"
                {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
            <td class="text-left"  >{{invoice.order_no}}</td>
            <td>{{invoice.evaluation.customer.name}}</td>
            <td class="text-center">{{invoice.evaluation.payment_method}}</td>
            </td>
            <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
            <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
            <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
            <td class="text-center">
            {% for inv in invoice.paymenthistory|slice:":1" %}
            {% if inv.payment_mode == 'ONLINECREDIT' %}
            {{inv.payment_gateway|default_if_none:'-'}},
            {% else %}
            {{inv.payment_mode|default_if_none:'-'}},
            {% endif %}
            {% empty %}
            -
            {% endfor %}
            </td>
            <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
                {% if invoice.completed_count == 0 %}
                <span class="text-center blue-bg clickable-row">Not Started</span>
                {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
                <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
                {% elif invoice.completed_count == invoice.orderschedule_count %}
                <span class="text-center green-bg clickable-row" >COMPLETED</span>
                {% endif %}
                {% comment %} {% for schedule in invoice.orderschedules %}
                <p>{{schedule.work_status}}</p>
                <p>{{invoice.orderschedule_count}}</p>
                <p>{{invoice.completed_count}}</p>
                {% endfor %} {% endcomment %}
                </td>
            </tr>
          {% endif %}

          {% if invoice.evaluation.payment_method == 'BREAKDOWN' %}

            {% if invoice.preamount_paid == 0.0 or invoice.postamount_paid == 0.0 %}
              
              <tr>
              <td {% if invoice.payment_status == 'PENDING' %}
                  class="red-line"
                  {% elif invoice.payment_status == 'COMPLETED' %}
                  class="green-line" 
                  {% else %}
                  class="yellow-line"
                  {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
              <td class="text-left"  >{{invoice.order_no}}</td>
              <td>{{invoice.evaluation.customer.name}}</td>
              <td class="text-center">{{invoice.evaluation.payment_method}}</td>
              </td>
              <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
              <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
              <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
              <td class="text-center">
              {% for inv in invoice.paymenthistory|slice:":1" %}
              {% if inv.payment_mode == 'ONLINECREDIT' %}
              {{inv.payment_gateway|default_if_none:'-'}},
              {% else %}
              {{inv.payment_mode|default_if_none:'-'}},
              {% endif %}
              {% empty %}
              -
              {% endfor %}
              </td>
              <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
                  {% if invoice.completed_count == 0 %}
                  <span class="text-center blue-bg clickable-row">Not Started</span>
                  {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
                  <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
                  {% elif invoice.completed_count == invoice.orderschedule_count %}
                  <span class="text-center green-bg clickable-row" >COMPLETED</span>
                  {% endif %}
                  {% comment %} {% for schedule in invoice.orderschedules %}
                  <p>{{schedule.work_status}}</p>
                  <p>{{invoice.orderschedule_count}}</p>
                  <p>{{invoice.completed_count}}</p>
                  {% endfor %} {% endcomment %}
                  </td>
              </tr>

            {% endif %}

          {% endif %}

          {% empty %}

          <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td><td></td><td></td></tr>
        
      {% endfor %}

    {% endif %}

    <!--payment status filtered load-->

    <!--default payment load-->
    {% if fil_order_status == None and fil_payment_policy == None and fil_payment_status == None %}
    
      {% for invoice in invoices %}

          <tr>
          <td {% if invoice.payment_status == 'PENDING' %}
              class="red-line"
              {% elif invoice.payment_status == 'COMPLETED' %}
              class="green-line" 
              {% else %}
              class="yellow-line"
              {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
          <td class="text-left"  >{{invoice.order_no}}</td>
          <td>{{invoice.evaluation.customer.name}}</td>
          <td class="text-center">{{invoice.evaluation.payment_method}}</td>
          </td>
          <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
          <td class="text-center">
          {% for inv in invoice.paymenthistory|slice:":1" %}
          {% if inv.payment_mode == 'ONLINECREDIT' %}
          {{inv.payment_gateway|default_if_none:'-'}},
          {% else %}
          {{inv.payment_mode|default_if_none:'-'}},
          {% endif %}
          {% empty %}
          -
          {% endfor %}
          </td>
          <td class="clickable-row" {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}>
              {% if invoice.completed_count == 0 %}
              <span class="text-center blue-bg clickable-row">Not Started</span>
              {% elif invoice.completed_count != 0 and invoice.completed_count < invoice.orderschedule_count %}
              <span class="text-center yellow-bg clickable-row">IN PROGRESS</span>
              {% elif invoice.completed_count == invoice.orderschedule_count %}
              <span class="text-center green-bg clickable-row" >COMPLETED</span>
              {% endif %}
              {% comment %} {% for schedule in invoice.orderschedules %}
              <p>{{schedule.work_status}}</p>
              <p>{{invoice.orderschedule_count}}</p>
              <p>{{invoice.completed_count}}</p>
              {% endfor %} {% endcomment %}
              </td>
          </tr>

          {% empty %}

          <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td><td></td><td></td></tr>
        
      {% endfor %}
    
    {% endif %}
    <!--default payments load-->