{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "accountant/common/header.html" %}

    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Payments</h1>
                <p>Bleach CRM-PS Version 0.1 (Beta) developed and owned by Bleach-Kw</p>    
            </div><!--welcome-wrapper-->
       
     <div class="clients-top-card-wrapper"><!--clients-top-card-wrapper-->
     	<div class="clients-card-wrapper"><!--clients-card-wrapper-->
       	<div class="clients-card-column clients-column-left"><!--clients-card-column clients-column-left-->
        <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-pending-payment-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
              	<!--  <h1>Evaluations</h1>-->
            	<h2 class="blue-text"><label>Pending <br>Payments<span>{{total_pending_amount|default_if_none:'0.00'|floatformat:'2'}}</span><br><span class="orders">Rate</span></label> </h2>
            	<!--<p><label>This Week <span>42</span></label></p>-->
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-pending-payment-orders-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
            	<h2 class="green-text"><label>Pending<br>payments<span>{{total_pending_orders|default_if_none:'0'}}</span><br><span class="orders">Orders</span></label>  </h2>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        </div><!--clients-card-column clients-column-left-->
		  
        <div class="clients-card-column clients-column-right whitebg hover ltyellow-border"><!--clients-card-column clients-column-right-->
                 
		<div class="chart_boxDiv"><!--chart_boxDiv-->
  			<div class="chart_box_Right"><!--chart_box_Right-->
 				<!-- <button type="button" id="mnt_btn" class="set2" >Update</button> -->
            	<div id="chart_div" ></div>
  			</div><!--chart_box_Right-->
		</div><!--chart_boxDiv-->   
            
        <div class="chart_boxDiv"><!--chart_boxDiv-->    
        
         <div class="chart_box_Left"><!--chart_box_Left-->
         <div class="legend-wrapper"><!--legend-wrapper--> 
            <div class="legend-result count_div"><label class="legend-label">PAID AMOUNT </label> <b class="legend-result-blue" id="total_submitted"></b> <b>KD</b></div>
            <div class="legend-result count_div"><label class="legend-label">PENDING AMOUNT </label> <b class="legend-result-red" id="total_approved"></b> <b>KD</b></div>
         </div><!--legend-wrapper-->
  		</div><!--chart_box_Left-->
        <div class="chart_box_Left"><!--chart_box_Left-->        
        <div class="Button_wrapperChart">
            <div class="blue-sliderbutton"><label class="switch"><input type="checkbox" id="daymonthtoggle"><div class="slider round"><span class="on">MONTH</span><span class="off">DATE</span></div></label></div>
            <input type="text" id="ord_fromdate" class="date_pick_chart_from date_pick2 date-picker set1 date-pick-left"  >
            <input type="text" id="ord_todate" class="date_pick_chart_to date_pick2 date-picker set1 date-pick-right" >
            <input type="text" id="month1" class="month_pick set2 date-pick-left" >
            <input type="text" id="month2" class="month_pick set2 date-pick-right" >
            <div><button id="reset_tickets" class="green-button-chart">Reset</button></div>
            </div>
            	           
        </div><!--chart_box_Left-->
            
        </div><!--chart_boxDiv-->    
            
        </div><!--lients-card-column clients-column-right-->

        </div><!--clients-card-wrapper-->

</div><!--clients-top-card-wrapper-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
     <div class="white-wrapper-search"><!--white-wrapper-search-->
     <div class="left-box leftbox-item1"><!--left-box leftbox-item1-->
          <span class="search-wrapper"><input type="text" class="search-bar" id="search-bar" placeholder="Search BLC Number & Customer Name Here..." value="{{search_query|default_if_none:''}}" onchange ="set_params_go()"><a href="#" onclick="set_params_go();"><img class="search-icon" src="{% static 'files/images/search-icon.png' %}"></a></span>
     </div><!--left-box leftbox-item1-->
     
     
     <div class="left-box leftbox-item2"><!--right-box leftbox-item1-->
     {% comment %} <input type="text" id="payment_fromdate" class="date_pick date-pick-left" placeholder="Select From Date" onchange="set_params_go();" value="{{fromdate|date:'d-m-Y'}}" readonly>
     
     <input type="text" id="payment_todate" class="date_pick date-pick-left" placeholder="Select To Date" onchange="set_params_go();" value="{{todate|date:'d-m-Y'}}" readonly> {% endcomment %}
     
     <input name="filter" type="button" value="Filter" id="filter" class="blue-button arrow"> 
     

     <div class="menu-filter ltgreen-border" style="display:none;"><!--menu-filter ltgreen-border-->

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>From Date</label></div>
        <input type="text" name="from_date" id="payment_fromdate" class="date_pick textBox" placeholder="Select From Date" value="{{fromdate|date:'d-m-Y'}}" required readonly>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>To Date</label></div>
                <input type="text" name="to_date" id="payment_todate" class="date_pick textBox" placeholder="Select To Date" value="{{todate|date:'d-m-Y'}}" required readonly>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad"> 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Cleaning Policy</label></div>
				<label for="favcity">
                <select name="cleaning_policy_filter" id="cleaning_policy_filter_id">
                <option value=''>---ALL---</option>
                <option value="ONE TIME SERVICE" {% if fil_cleaning_policy == 'ONE TIME SERVICE' %}selected{%endif%}>ONE TIME SERVICE</option>
                <option value="SUBSCRIPTION" {% if fil_cleaning_policy == 'SUBSCRIPTION' %}selected{%endif%}>SUBSCRIPTION</option>                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Cleaning Status</label></div>
                <label for="favcity">
                <select name="status_filter" id="status_filter_id">
                <option value=''>---ALL---</option>
                <option value="ORDER_IN_PROGRESS" {% if fil_status == 'ORDER_IN_PROGRESS' %}selected{% endif %}>ORDER IN PROGRESS</option>
                <option value="ORDER_CLOSED" {% if fil_status == 'ORDER_CLOSED' %}selected{% endif %}>ORDER CLOSED</option>              
              </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<hr class="hr-dashedpad"> 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Service Type</label></div>
				<label for="favcity">
                <select name="service_type_filter" id="service_type_filter_id">
                <option value=''>---ALL---</option>
                {% for service_type in service_types %}
                <option value="{{service_type.id}}" {% if service_type.id == fil_service_type %}selected{% endif %}>{{service_type.name}}</option>
                {% endfor %}                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Payment Policy</label></div>
                <label for="favcity">
                <select name="payment_policy" id="payment_policy_id">
                <option value=''>---ALL---</option> 
                
                <option value='PREPAID' {% if fil_payment_policy == 'PREPAID' %}selected{% endif %}>PREPAID</option>
                <option value='POSTPAID' {% if fil_payment_policy == 'POSTPAID' %}selected{% endif %}>POSTPAID</option>
                <option value='BREAKDOWN' {% if fil_payment_policy == 'BREAKDOWN' %}selected{% endif %}>BREAKDOWN</option>
                           
              </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<div align="center"> <input class="assignButton" name="assing" type="button" onclick="set_params_go({});" value="Submit"> <input class="cancel-Button close-btn arrow-close" name="cancel" type="button" value="Reset"></div>

     
     </div><!--menu-filter ltgreen-border-->
     </div><!--right-box leftbox-item1-->         
 
     </div><!--white-wrapper-search-->
     
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Payment List</h2>
<label for="favcity" style="width:20%;"> 
<select name="no_of_entries" id="no_of_entries" onchange="set_params_go();"> 
<option value="20" {% if no_of_entries == '20' %}selected{% endif %}>20 Entries</option>
<option value="50" {% if no_of_entries == '50' %}selected{% endif %}>50 Entries</option>
<option value="100" {% if no_of_entries == '100' %}selected{% endif %}>100 Entries</option>
</select>
</label>
<br>
<button class="blue-button export_btn" style="font-size:15px;"><i class="fa fa-file-excel-o" aria-hidden="true"></i>  Export</button>
<br>

<div class="page-entries">Show {{entry_per_page}} entries</div>
<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
<tr>
<th>Order Date</th>
<th>Order Number</th>
<th data-hide="phone,tablet">Payment Policy</th>
<th data-hide="phone,tablet">Payment Mode</th>
<th data-hide="phone,tablet">Client Name</th>
{% comment %} <th data-hide="phone">Area</th>
<th>Contact</th> {% endcomment %}
<th data-hide="phone,tablet">Amount (in KD)</th>
<th data-hide="phone,tablet">Paid (in KD)</th>
<th data-hide="phone,tablet">Balance (in KD)</th>
{% comment %} <th class="align-center" data-hide="phone">Status</th> {% endcomment %}
</tr>
</thead>
<tbody>
    {% for invoice in invoices %}
    <tr>
    <td {% if invoice.payment_status == 'PENDING' %}
        class="red-line"
        {% elif invoice.payment_status == 'COMPLETED' %}
        class="green-line" 
        {% else %}
        class="yellow-line"
        {% endif %}>{{invoice.created|date:'d-m-Y'}}</td>
    <td>{{invoice.order_no}}</td>
    <td>{{invoice.evaluation.payment_method}}</td>

    {% for inv in invoice.paymenthistory%}
    <td>{{inv.payment_mode}}</td>
    {% empty %}
    <td>-</td>
    {% endfor %}

    <td>{{invoice.evaluation.customer.name}}</td>
    {% comment %} <td>
    {% for evaluation_details in invoice.evaluation.invoice_evaluation_details %}
    {{evaluation_details.address.area.name}}<br>
    {% endfor %}
    </td>
    <td>{{invoice.evaluation.customer.mobile_number}}</td> {% endcomment %}
    <td class="text-right">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
    <td class="text-right">{{invoice.amount_paid|default_if_none:'0.00'|floatformat:'3'}}</td>
    <td class="text-right">{{invoice.remining_amount|default_if_none:'0.00'|floatformat:'3'}}</td>
    
    {% comment %} <td><span 
        {% if invoice %}data-href="{% url 'accountant:accountant-client-orderdetails' invoice.id %}"{% else %}data-href="#"{% endif %}

        {% if invoice.payment_status == 'PENDING' %}
        class="red-bg clickable-row"
        {% elif invoice.payment_status == 'COMPLETED' %}
        class="green-bg clickable-row" 
        {% else %}
        class="yellow-bg clickable-row"
        {% endif %}
        >{{invoice.payment_status|default_if_none:''}}</span></td> {% endcomment %}
    </tr>
    {% empty %}
    <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td></tr>
    {% endfor %}

</tbody>
<tfoot>
 
</tfoot>
</table>

<div class="white-wrapper-pagination"><!--white-wrapper-pagination-->   
    <div class="pagination-containter"><!--pagination-containter-->
    	<div class="pagination-column pagination-column-left"><!--pagination-column pagination-column-left-->
        Showing {{invoices.start_index}} to {{invoices.end_index}} of {{invoices.paginator.count}} entries
        </div><!--pagination-column pagination-column-left-->
        
        <div class="pagination-column pagination-column-right"><!--pagination-column pagination-column-right-->
        <!--paginated-->
   {% if invoices.has_other_pages %}
   <nav aria-label="Page navigation example">
  <ul class="pagination">
     {% if invoices.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ invoices.previous_page_number }}&search={{request.GET.search}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for pg in page_range %}
    {% if vus.number == pg %}
            <li class="page-item"><a class="page-link active" href="?page={{pg}}&search={{request.GET.search}}">{{pg}}</a></li>
    {% else %}
            <li class="page-item"><a class="page-link" href="?page={{pg}}&search={{request.GET.search}}">{{pg}}</a></li>
    {% endif %}
    {% endfor %}
    {% if invoices.has_next %}        
    <li class="page-item">
      <a class="page-link" href="?page={{ invoices.next_page_number}}&search={{request.GET.search}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
    {% endif %}
    <!--paginated-->
        </div><!--pagination-column pagination-column-right-->
    </div><!--pagination-containter-->         
</div><!--white-wrapper-pagination--> 
</div><!--white-wrapper-->      
            
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->

<!-- export popup -->
<div class="overlay" id="export_popup">
    <div class="popup-assign-eval"><!--popup-assign-eval-->
        <a id="close_export_popup" class="close">&times;</a>
            <div class="content"><!--content-->
            
<form method="post" action="{% url 'accountant:export_payment_xls' %}" enctype="multipart/form-data">{% csrf_token %}                      

    <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->  
          
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>From Date</label></div>
        <input type="text" name="from_date" class="textBox id_from_date readonly" required readonly>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>To Date</label></div>
                <input type="text" name="to_date" class="textBox id_to_date readonly" required readonly>
                <p id="time_alert" style="color:red" hidden>Please select proper date and time !</p>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
   
<div align="center"> <input class="assignButton export_payment" name="assing" type="button" value="Export" ></div>  

</div><!--ticket-wrapper-full-->             
</form>
            </div><!--content-->
    </div><!--popup-assign-eval-->
</div><!--overlay-->
<!-- export popup -->

{% include 'accountant/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src='js/footable.js'></script>
<script src="{% static 'files/js/charts/payment-chart.js' %}"></script>  
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });


// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
    </script>

    <script>

var date = new Date();

date.setDate(date.getDate()-1)
date.setMonth(date.getMonth()+1)
var datestring = ("0" + (date.getDate())).slice(-2)  + "-" + ("0" + (date.getMonth())).slice(-2) + "-" + date.getFullYear();

var date2 = new Date();
date2.setDate(date2.getDate()-30);
date2.setMonth(date2.getMonth()+1)
var datestring2 = ("0" + (date2.getDate())).slice(-2)  + "-" + ("0" + (date2.getMonth())).slice(-2) + "-" + date2.getFullYear();
console.log(datestring,datestring2)

$('.id_from_date').val(datestring2);
$('.id_to_date').val(datestring);


$('.export_btn').click(function(){
  
  $('#export_popup').css({'visibility':'visible','opacity':1,});
});

$("#close_export_popup").click(function () {
    $('#export_popup').css({'visibility':'hidden','opacity':0,});
});

$(".export_payment").click(function () {
  console.log("poi")
    $('#export_popup').css({'visibility':'hidden','opacity':0,});
    
    submitAnyForm($(this));
    
});

// //datepicker and timepicker for popup
    $(document).on("click", ".content", function () {
       $('.id_from_date').datetimepicker({ 
            pickTime: false, 
            format: "DD-MM-YYYY", 
            startDate: new Date(), 
        });

        $('.id_to_date').datetimepicker({ 
            pickTime: false, 
            format: "DD-MM-YYYY", 
            startDate: new Date(), 
        });

    });

$("#governorate_filter_id").change(function(){  

  $.ajax({

        url: "{% url 'agent:ajax-getarea' %}",

        data: {'governorate_id':this.value}, 

        dataType: 'json',

        success: function (data) { 

          ajax_ret_areas = data;     

       $("#area_filter_id").empty();

       $("#area_filter_id").append($('<option>', {

            value: "", 

           text: "---ALL---"

        })); 

        $.each( ajax_ret_areas, function( key, values ) {

              $("#area_filter_id").append($('<option>', {        

              value: key, 

              text: values   

            }));   
        });

                                  }  

      }); 

});

function set_params_go(args)
{
var url='{% url 'accountant:accountant-payments' %}';
var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),status:$('#status_filter_id').val(),cleaning_policy:$('#cleaning_policy_filter_id').val(),service_type:$('#service_type_filter_id').val(),payment_policy:$('#payment_policy_id').val(),
fromdate:$('#payment_fromdate').val(),todate:$('#payment_todate').val()
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}
    </script>
{% endblock %}