django==1.11.17
django-countries==6.1.2
tzlocal
pillow
python-dateutil
pandas
django-mathfilters
googletrans
WeasyPrint
djangorestframework==3.5.3
requests==2.18.4
opencv-python
xlwt
django-crontab==0.7.1