{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "agent/common/header.html" %}
    
<section class="content"><!--content-->
	<div class="container-fluid space topspace"><!--container-fluid space topspace-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
            <h1 class="dashboard-head">Order {{followup_details.investigation.order.order_no}}</h1>
            {% if followup_details.status == 'INVESTIGATOR_APPROVED' %}
            <p><input name="open" type="button" class="green-button" value="Approved" id="approved"></p>
            {% elif followup_details.status == 'FOLLOWUP_IN_PROGRESS' %}
            <p><input name="open" type="button" class="yellow-button" value="Open" id="open"></p>
            {% elif followup_details.status == 'FOLLOWUP_CLOSED' %}
            <p><input name="open" type="button" class="red-button" value="Closed" id="closed"></p>
            {% elif followup_details.status == 'TICKET_RISED' %}
            <p><input name="open" type="button" class="blue-button" value="Ticket Rised" id="closed"></p>
            {% else %}
            <p><input name="open" type="button" class="red-button" value="Cancelled" id="cancelled"></p> 
            {% endif %}
            </div><!--welcome-wrapper-->
        
        
        
        
        
<div class="order-top-wrapper"><!--order-top-wrapper-->
    <div class="order-steps-wrapper"><!--order-steps-wrapper-->
            <div class="order-left-stretch"><!--order-left-stretch-->
 
                <div class="order-bar-container"><!--order-bar-container-->
                    <div class="order-loaderbar"><!--order-loaderbar-->
                    	<div class="bar-loader"></div>
                    </div><!--order-loaderbar-->
                </div><!--order-bar-container-->
 				
                <div class="order-progress-wrapper"><!--order-progress-wrapper-->
                
                    <div class="order-progress-widget order-progress-widget-column1"><!--order-progress-widget order-progress-widget-column1-->
                    	<div class="evaluation">Tickets</div>
                    	<div class="evaluation-icon"><img src="{% static 'files/images/tickets-green.svg' %}" class="orderEval-icon"></div>
                        <div class="evaluation-status">Completed</div>
                    </div><!--order-progress-widget order-progress-widget-column1-->
                   
                    <div class="order-progress-widget order-progress-widget-column2"><!--order-progress-widget order-progress-widget-column2-->
                        <div class="evaluation">Investigation</div>
                    	<div class="evaluation-icon"><img src="{% static 'files/images/investigation-green.svg' %}" class="orderEval-icon %}"></div>
                        <div class="evaluation-status">Completed</div>
                    </div><!--order-progress-widget order-progress-widget-column2-->                  
                    
                    <div class="order-progress-widget order-progress-widget-column5"><!--order-progress-widget order-progress-widget-column5-->
                        <div class="evaluation">Cleaning</div>
                    	<div class="evaluation-icon"><img src="{% static 'files/images/order-cleaning.svg' %}" class="orderEval-icon"></div>
                        <div class="evaluation-status">Completed</div>
                    </div><!--order-progress-widget order-progress-widget-column5-->                      
                    
                    <div class="order-progress-widget order-progress-widget-column6"><!--order-progress-widget order-progress-widget-column6-->
                        <div class="evaluation">Closed</div>
                    	
                        {% if followup_details.status == 'FOLLOWUP_CLOSED' %}
                        <div class="evaluation-icon"><img src="{% static 'files/images/closed-green.svg' %}" class="orderEval-icon"></div>
                        <div class="evaluation-status">Completed</div>
                        {% elif followup_details.status == 'FOLLOWUP_CANCELLED' %}
                        <div class="evaluation-icon"><img src="{% static 'files/images/closed-gray.svg' %}" class="orderEval-icon"></div>
                        <div class="evaluation-status">Cancelled</div>
                        {% else %}
                        <div class="evaluation-icon"><img src="{% static 'files/images/closed-yellow.svg' %}" class="orderEval-icon"></div>
                        <div class="evaluation-status">Waiting</div>
                        {% endif %}

                    </div><!--order-progress-widget order-progress-widget-column6-->                      
 				</div><!--order-progress-wrapper-->
            </div><!--order-left-stretch-->
            
        <div class="order-right-fixed"><!--order-right-fixed-->
			<div class="order-card-column whitebg red-border"><!--order-card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-orders-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Orders</h1>
            	<h2 class="red-text"><label>Active<span>{{active_orders_count}}</span></label> </h2>
            	<p><label>Total<span>{{total_orders_count}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--order-card-column-->
		</div><!--order-right-fixed-->
    </div><!--order-steps-wrapper-->
    
    
<div class="order-details-wrapper"><!--order-details-wrapper--> 
	<div class="order-details-left-stretch"><!--order-details-left-stretch-->
	
    	<div class="details-head">Details <div class="order-date">{{followup_details.investigation.order_schedule.start_at}}</div></div>	
     	<hr class="style-three" > 
		<div class="order-clean-Details-wrapper"><!--order-clean-Details-wrapper-->
        	<div class="order-clean-Details-widget order-clean-Details-widget-column1"><!--order-clean-Details-widget order-clean-Details-widget-column1-->
			<div class="cleaning-img"><img src="{% static 'files/images/cleaning.jpg' %}"></div>
            </div><!--order-clean-Details-widget order-clean-Details-widget-column1-->
            
        	<div class="order-clean-Details-widget order-clean-Details-widget-column2"><!--order-clean-Details-widget order-clean-Details-widget-column2-->
                <div class="details-head align-left">{{followup_details.investigation.order_schedule.order_scheduler_book.cleaning_type.name}}</div>

                {% if followup_details.investigation.order_schedule.order_scheduler_book.cleaning_policy == 'ONE TIME SERVICE' %}
                <div class="green-bg-sm">ONE TIME</div>
                {% else %}
                <div class="green-bg-sm">SUBSCRIBED</div>
                {% endif %}

                
                {% if followup_details.investigation.order_schedule.order_scheduler_book.cleaning_method %}
                <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> {{followup_details.investigation.order_schedule.order_scheduler_book.cleaning_method}} Method</div>
                {% endif %}


                {% if followup_details.investigation.order_schedule.order_scheduler_book.area_type %}
                <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> {{followup_details.investigation.order_schedule.order_scheduler_book.area_type}}</div>
                {% endif %}

                {% if followup_details.investigation.order_schedule.order_scheduler_book.location_type %}
                <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> {{followup_details.investigation.order_schedule.order_scheduler_book.location_type}}</div>
                {% endif %}

            </div><!--order-clean-Details-widget order-clean-Details-widget-column2-->            
            
        	<div class="order-clean-Details-widget order-clean-Details-widget-column3"><!--order-clean-Details-widget order-clean-Details-widget-column3-->
            <br>
                <div class="common-gray-text align-left"><i class="fa fa-lg fa-calendar red-text" aria-hidden="true"></i> {{followup_details.investigation.order_schedule.start_at}}</div>
                <br>
                <div class="common-gray-text align-left"><i class="fa fa-lg fa-building-o green-text" aria-hidden="true"></i> {{followup_details.investigation.order_schedule.customer_address.building}}, {{followup_details.investigation.order_schedule.customer_address.street}}, {{followup_details.investigation.order_schedule.customer_address.area.name}}, {{followup_details.investigation.order_schedule.customer_address.governorate.name}}</div>
                <br>
                <div class="common-gray-text align-left"><i class="fa fa-lg fa-users blue-text" aria-hidden="true"></i> {{followup_details.investigation.order_schedule.order_scheduler_book.number_of_cleaners}} Cleaners</div>
                <br>
                <div class="common-gray-text align-left"><i class="fa fa-lg fa-credit-card orange-text" aria-hidden="true"></i> {{followup_details.investigation.order_schedule.order_scheduler_book.total_cost}} KD</div>
            </div><!--order-clean-Details-widget order-clean-Details-widget-column3-->                        
        </div><!--order-clean-Details-wrapper--> 
         
        
        
        
<div class="details-sub-head align-left">Investigation</div>     
<div class="investigation-columns"><!--investigation-columns-->
    	<div class="investigation-columns-left"><!--investigation-columns-left-->
            {% if followup_details.investigation.investigator.profile_image %}
			<div class="profile-pic"><img src="{{followup_details.investigation.investigator.profile_image.url}}"></div>
            {% else %}
            <div class="profile-pic"><img src="{% static 'files/images/profile-pic.png' %}"></div>            
            {% endif %}
            <div class="client-name">{{followup_details.investigation.investigator.name}}<div class="common-gray-text">{{followup_details.investigation.investigator.user_type}}</div></div>
    	</div><!--investigation-columns-left-->

        <div class="investigation-columns-middle"><!--investigation-columns-middle-->
        <div class="order-invest-date">{{followup_details.investigation.sheduled_at}}</div>
            <div class="notes">Notes</div>
            <p>{{followup_details.investigation.notes}}</p>
        </div><!--investigation-columns-middle-->

        <div class="investigation-columns-right"><!--investigation-columns-right-->
        	<div class=" "><img src="{% static 'files/images/cleaning1.jpg' %}"></div>
        </div><!--investigation-columns-right-->
</div><!--investigation-columns-->
            
{% for follow_up_scheduler in followup_details.follow_up_schedules %}
{% for team in follow_up_scheduler.followupteams %}

{% if team.followupmembers %}
<div class="details-sub-head align-left">Follow-up Cleaning</div>
    <div class="order-clean-outer-wrapper"><!--order-clean-outer-wrapper-->
        <div class="order-clean-team-wrapper"><!--order-clean-team-wrapper-->
            <div class="order-common-date">{{follow_up_scheduler.start_at}}</div>
                    <div class="order-clean-team-widget order-clean-team-widget-column1"><!--order-clean-team-widget order-clean-team-widget-column1-->
                        <div class="team-profile-pic"><img src="{% static 'files/images/team-leader.svg' %}"></div>
                    </div><!--order-clean-team-widget order-clean-team-widget-column1-->
                    
                <div class="order-clean-team-widget order-clean-team-widget-column2"><!--order-clean-team-widget order-clean-team-widget-column1-->
                    <div class="order-clean-team-inside-wrapper"><!--order-clean-team-inside-wrapper-->
                        <div class="order-clean-inColumn"><!--order-clean-inColumn-->
                            <div class="team-Name">{{team.team_leader}}</div>
                            <div class="team-profile">Team Leader</div>
                        </div><!--order-clean-inColumn-->                   
                    </div> <!--order-clean-team-inside-wrapper-->
                </div><!--order-clean-team-widget order-clean-team-widget-column2-->
        </div><!--order-clean-team-wrapper-->
        
<hr class="bar">
        
        
        <div class="order-clean-team-wrapper"><!--order-clean-team-wrapper-->
            <div class="order-clean-team-widget order-clean-team-widget-column1"><!--order-clean-team-widget order-clean-team-widget-column1-->
            	<div class="team-profile-pic"><img src="{% static 'files/images/team-member.svg' %}"></div>
            </div><!--order-clean-team-widget order-clean-team-widget-column1-->
            
            <div class="order-clean-team-widget order-clean-team-widget-column2"><!--order-clean-team-widget order-clean-team-widget-column2-->
                <div class="order-clean-team-inside-wrapper"><!--order-clean-team-inside-wrapper-->
                    {% for member in team.followupmembers %}
                    <div class="order-clean-inColumn"><!--order-clean-inColumn-->
                        <div class="team-Name">{{member.member.name}}</div>
                        <div class="team-profile">Team Member</div>
                    </div><!--order-clean-inColumn-->
                    {% endfor %}
                </div><!--order-clean-team-inside-wrapper-->     
            </div><!--order-clean-team-widget order-clean-team-widget-column2-->  
        </div><!--order-clean-team-wrapper-->
        
<hr class="bar">        

        <div class="order-clean-team-wrapper"><!--order-clean-team-wrapper-->
            <div class="order-clean-team-widget order-clean-team-widget-column1"><!--order-clean-team-widget order-clean-team-widget-column1-->
            	<div class="team-profile-pic"><img src="{% static 'files/images/driver.svg' %}"></div>
            </div><!--order-clean-team-widget order-clean-team-widget-column1-->
            
            <div class="order-clean-team-widget order-clean-team-widget-column2"><!--order-clean-team-widget order-clean-team-widget-column2-->
                <div class="order-clean-team-inside-wrapper"><!--order-clean-team-inside-wrapper-->
                    <div class="order-clean-inColumn"><!--order-clean-inColumn-->
                        <div class="team-Name">{{team.drop_off_driver.name}}</div>
                        <div class="team-profile">Dropoff Driver</div>
                    </div><!--order-clean-inColumn-->
                    <div class="order-clean-inColumn"><!--order-clean-inColumn-->
                        <div class="team-Name">{{team.pick_up_driver.name}}</div>
                        <div class="team-profile">Pickup Driver</div>
                    </div><!--order-clean-inColumn-->
                </div><!--order-clean-team-inside-wrapper-->     
            </div><!--order-clean-team-widget order-clean-team-widget-column2-->  
        </div><!--order-clean-team-wrapper-->
        
    </div><!--order-clean-outer-wrapper-->
{% endif %}
{% endfor %}
{% endfor %}



 <div class="details-sub-head align-left">Media</div>
<div class="order-clean-outer-wrapper"><!--order-clean-outer-wrapper-->
<div class="gallery-wrapper"><!--gallery-wrapper-->
	<div class="gallery-widget-column-column1"><!--gallery-widget-column-column1-->
    <div class="media-heading align-left">Investigation</div>
    <section>
        <div data-pn="1" data-src="{% for investigationmedia in followup_details.investigation.investigationmedias %}
        {% if investigationmedia.taken_status != 'CUSTOMER_SEND' %}
        {{investigationmedia.media.url}},
        {% endif %}
        {% endfor %}"></div>
    </section>
  
    </div><!--gallery-widget-column-column1-->
    
	<div class="gallery-widget-column-column2"><!--gallery-widget-column-column2-->
    <div class="media-heading align-left">From Customer</div>
        <section>
        <div data-pn="2" data-src="{% for investigationmedia in followup_details.investigation.investigationmedias %}
        {% if investigationmedia.taken_status == 'CUSTOMER_SEND' %}
        {{investigationmedia.media.url}},
        {% endif %}
        {% endfor %}"></div>
    </section>
    
    </div><!--gallery-widget-column-column2-->    
</div><!--gallery-wrapper-->

 
</div><!--order-clean-outer-wrapper-->

 
 
       
       
	</div><!--order-details-left-stretch-->

	<div class="order-details-right-fixed"><!--order-details-right-fixed-->
  		<div class="profile-pic"><img src="{% static 'files/images/profile-pic.png' %}"></div>
    	<div class="client-name">{{client_details.name}}</div>
        <div class="common-gray-text">{{client_details.mobile_number}}</div>
        <div class="common-gray-text">{{client_details.email}}</div>
        <br>
        <hr class="hr">
        <div class="common-gray-text">Comapany Name : <span class="bold-text">{{client_details.company}}</span></div>
        <div class="common-gray-text">Nationality : <span class="bold-text">{{client_details.nationality}}</span></div>
        <div class="common-gray-text">Other Contact : <span class="bold-text">{{client_details.phone_number}}</span></div>
        <hr class="hr">
        <br>
        {% for address in client_details.customer_addresses %}
            <div class="address-bold"><i class="fa fa-lg fa-home green-text" aria-hidden="true"></i> Address {{forloop.counter}}: {{address.apartment}}</div>
            <div class="address">{{address.building}}, {{address.street}}, {{address.area.name}}, {{address.governorate.name}}</div>
            <br>
        {% endfor %} 
    </div><!--order-details-right-fixed-->








</div><!--order-details-wrapper-->    
</div><!--order-top-wrapper-->  
            
            
            
            
                 
	</div><!--container-fluid space topspace-->
</section><!--content-->
    
{% include 'agent/common/footer.html' %} 
</div><!--wrapper-->
{% endblock %}
