{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "agent/common/header.html" %}

{% comment %} <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Ticket Registration</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->
		</div><!--container-fluid space-->
<div class="main-content-holder"><!--main-content-holder-->

<div class="white-wrapper"><!--white-wrapper-->
	<div class="orders">
        <label>Select BLC Number</label>
          <select name="order" class="chosen-select" id="order_id">
                <option value="">-- select --</option>
                {% for order in orders %}
                <option value="{{order.id}}">{{order.evaluation}}</option> {% endfor %}
          </select> 
   </div>
   <div class="name">
   	<label>Name:</label>
   	<input class="form-control" type="text" name="name" id="name_id" readonly="true">
   </div>
   <div class="mobile_number">
   	<label>Mobile Number:</label>
   	<input class="form-control" type="text" name="mobile_number" id="mobile_no_id" readonly="true">
   </div>

   <div class="row">  
    <div class="col-12">
      <div class="page-form">
        <form method="post" action="">{%csrf_token%}
          <div class="page-body">
          	<div class="div-section">
              <div class="page-form-head">
                <h1>Ticket Rising Form</h1>  
              </div>
              <input type="hidden" name="order_id" id="order_id_hidden">
              	{% for field in investigation_form %} 
			    <div class="page-col">
					{{ field.errors }} 
					{{ field.label_tag }} {{ field }}
					<p class="help">{{ field.help_text|safe }}</p>
          	    </div>
          		{% endfor %}
          	</div>
          	</div>	
            <div class="page-footer text-center">
            <button type="submit" class="primary-btn">Rise Ticket</button>
            </div>
       </form>
      </div>
    </div>
  </div>
</div><!--white-wrapper-->      
    

</div><!--main-content-holder-->	

</div><!--container-fluid space-->
 </section><!--content--> {% endcomment %}

<div class="wrapper"><!--wrapper-->
   
<section class="content"><!--content-->
	<div class="container-fluid space topspace"><!--container-fluid space-->
		<div class="welcome-wrapper"><!--welcome-wrapper-->
	<h1 class="dashboard-head">Raise Ticket</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>  
		</div><!--welcome-wrapper-->
	
		
		
	<div class="main-content-holder"><!--main-content-holder-->            
	
	
		
<div class="white-wrapper"><!--white-wrapper-->
<div class="center-formDiv"><!--center-formDiv-->
		<form>
		<div class="order-Number bold-text"> <label>Order Number</label></div>
			<label for="favcity">
			<select name="order" id="order_id">
                <option value="">-- select --</option>
                {% for order in orders %}
                <option value="{{order.id}}">{{order.evaluation}}</option> {% endfor %}
          	</select> 
			</label>
		</form>
		<hr class="div">
		
			<div class="common-sub-head align-left order-details-head">Customer Details</div> 
			
				<div class="cleaning-column-wrapper ltyellow-border order-details"><!--cleaning-column-wrapper-->
				<div class="cleaning-column-widget cleaning-column-widget-column1"><!--cleaning-column-widget cleaning-column-widget-column1-->
				<div class="inside-head align-left order_customer_name"></div>
				<p class="paragraph order_customer_mobile"></p>
				
				<div class="order_payment_status">
				</div>

				<div class="order_addresses">
				</div>
			</div><!--cleaning-column-widget cleaning-column-widget-column1-->
			
			<div class="cleaning-column-widget cleaning-column-widget-column2 order-details"><!--cleaning-column-widget cleaning-column-widget-column2-->
				<div class="common-gray-text align-left order_date"></div>
				<div class="common-gray-text align-left yellow-text lg-text order_cost"></div>
				<div class="common-gray-text align-left sm-text gray-text order_total_cleaners"></div>
				
					<div class="profile-pic-line"><img src="{% static 'files/images/profile-pic.png' %}"></div>
			</div><!--cleaning-column-widget cleaning-column-widget-column2-->
		</div><!--cleaning-column-wrapper-->
		
		<br><br>
<div class="common-sub-head align-left ticket-form-head">Ticket Form</div> 
	<form method="post" action="{% url 'agent:agent-ticketregister' %}" enctype="multipart/form-data">{% csrf_token %}
	<input type="hidden" name="order_id" id="order_id_hidden">
	{{ investigation_form.non_field_errors }}

	{{ investigation_form.source.errors }}
	{{ investigation_form.source }}
<div class="ticket-wrapper-full ltyellow-border ticket-form"><!--ticket-wrapper-full-->
	<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
	<div class="ticket-form-left"><!--ticket-form-left-->
				<div class=" bold-text common-label"> <label>{{ investigation_form.order_schedule.label_tag }}</label></div>
				{{investigation_form.order_schedule}}
				{{investigation_form.order_schedule.errors}}
	</div><!--ticket-form-left-->
	<div class="ticket-form-right"><!--ticket-form-right-->
				<div class=" bold-text common-label"> <label>{{ investigation_form.investigator.label_tag }}</label></div>
				{{investigation_form.investigator}}
				{{investigation_form.investigator.errors}}
	</div><!--ticket-form-right-->
	</div><!--ticket-wrapper-row ticket-forms-boxes-->
	<hr class="hr-dashedpad">      
	<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
	<div class="ticket-form-left"><!--ticket-form-left-->
				<div class="bold-text common-label"> <label>{{ investigation_form.sheduled_at.label_tag }}</label></div>
				{{investigation_form.sheduled_at}}
				{{investigation_form.sheduled_at.errors}}
	</div><!--ticket-form-left--> 
	</div><!--ticket-wrapper-row ticket-forms-boxes-->  
	<hr class="hr-dashedpad">
				<div class="bold-text common-label"> <label>{{ investigation_form.notes.label_tag }}</label></div>
					{{investigation_form.notes}}
					{{investigation_form.notes.errors}}


	<div class="details-notes align-left">Media</div>        
	<div class="row"><!--row-->
	<div class="col-sm-2 imgUp"><!--col-sm-2 imgUp-->
		<div class="imagePreview"></div>
		<label class="btn btn-primary">Upload<input type="file" class="uploadFile img" name="investigation_media" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label>
		</div><!--col-sm-2 imgUp-->
		<i class="fa fa-plus imgAdd"></i>
	</div><!--row-->  

</div><!--ticket-wrapper-full-->

<div align="center" class="ticket-form-button"><input class="assignButton" name="submit" type="submit" value="Submit"> <input class="cancel-Button" name="cancel" type="button" value="Cancel"></div>   	
</form>
<br> <br>
	</div><!--center-formDiv-->

	</div><!--white-wrapper-->      
			
		
		
	</div><!--main-content-holder-->
	</div><!--container-fluid space-->
</section><!--content-->
</div><!--wrapper-->

{% include 'agent/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script>

$('.order-details-head').hide();
$('.order-details').hide();
$('.ticket-form-head').hide();
$('.ticket-form').hide();
$('.ticket-form-button').hide();

$('document').ready(function(){
	$('#id_order_schedule').empty();
	$('#id_scheduled_cleaning').empty();
	$("#id_order_schedule").append($('<option>', {

          value: "", 

         text: "-------------"

      }));

	$("#id_scheduled_cleaning").append($('<option>', {

          value: "", 

         text: "-------------"

      }));

});

	{% comment %} $('#order_id').change(function()
	{
		order_id=this.value;
		
		$.ajax({

        url: "{% url 'agent:get-orderscheduleticketInfo' %}",

        data: {'order_id':order_id}, 

        dataType: 'json',

        success: function (data) {

        	$('#name_id').val(data['name'])
        	$('#mobile_no_id').val(data['mobile_number']);
        	$("#order_id_hidden").val(data['order_id']);
        	
        	order_schedules = data['schedules'];
        	$('#id_order_schedule').empty();
        	$("#id_order_schedule").append($('<option>', {

          			value: "", 

         			text: "-------------"

      							}));
        	$.each( order_schedules, function( key, values ) {

              $("#id_order_schedule").append($('<option>', {        

   				 value: key, 

    			text: values   

 										 }));   

      			});
        }

    });
	}); {% endcomment %}


	$('#order_id').change(function()
    {
        order_id=this.value;
        
        $.ajax({

        url: "{% url 'agent:get-feedbackorderinfo' %}",

        data: {'order_id':order_id}, 

        dataType: 'json',

        success: function (data) {

            ajax_ret_orders = data;
            $("#order_id_hidden").val(data['order_id']);

            //to add order info
            $('.order_customer_name').html(data['name'])
            $('.order_customer_mobile').html(data['mobile_number']);
            $('.order_cost').html(+data['total_cost']+' KD');
            $('.order_total_cleaners').html(+data['total_cleaners']+' Cleaners');
            $('.order_date').html(data['date']);
            $('.agent_image').prop('src',data['agent_image_url']);

            order_status   = data['order_status']
            payment_status = data['payment_status']

            $('.order_payment_status').empty();
            if(payment_status == 'COMPLETED')
            {
                $('.order_payment_status').append('<div class="green-bg-lg payment_status">Paid</div>');
            }
            else if(payment_status == 'PENDING')
            {
                $('.order_payment_status').append('<div class="yellow-bg-lg payment_status">Pending</div>');
            }
            else if(payment_status == 'ON_HOLD')
            {
                $('.order_payment_status').append('<div class="red-bg-lg payment_status">On Hold</div>');
            }
            else
            {
                $('.order_payment_status').append('<div class="yellow-bg-lg payment_atatus">Waiting</div>');
            }    


            if(order_status == 'APPROVED_BY_CLIENT')
            {
                $('.order_payment_status').append('<div class="blue-bg-lg">Approved</div>');
            }
            else if(order_status == 'ORDER_IN_PROGRESS')
            {
                $('.order_payment_status').append('<div class="yellow-bg-lg">On-going</div>');
            }
            else if(order_status == 'ORDER_CANCELLED')
            {
                $('.order_payment_status').append('<div class="red-bg-lg">Cancelled</div>');   
            }
            else if(order_status == 'ORDER_CLOSED')
            {
                $('.order_payment_status').append('<div class="green-bg-lg">Closed</div>');
            }
            else
            {
                $('.order_payment_status').append('<div class="yellow-bg-lg">Waiting</div>');
            }    


            addresses = data['order_address'];
            
            $(".order_addresses").empty();
            for(i=0;i<addresses.length;++i)
            {
                $(".order_addresses").append('<div class="area-bold">'+addresses[i][0]+'</div><div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> '+addresses[i][1]+'</div>');
                console.log('hiiiiii');
            }

            //to show
            $('.order-details-head').show();
            $('.order-details').show();
            $('.ticket-form-head').show();
            $('.ticket-form').show();
            $('.ticket-form-button').show();

        }

    });

//order schedule dropdown 
		$.ajax({

			url: "{% url 'agent:get-orderscheduleticketInfo' %}",

			data: {'order_id':order_id}, 

			dataType: 'json',

			success: function (data) {
				
				order_schedules = data['schedules'];
				$('#id_order_schedule').empty();
				$("#id_order_schedule").append($('<option>', {

						value: "", 

						text: "-------------"

									}));
				$.each( order_schedules, function( key, values ) {

				$("#id_order_schedule").append($('<option>', {        

					value: key, 

					text: values   

											}));   

					});
			}

		});

    });


	$('#id_order_schedule').change(function()
	{
		scheduler_id=this.value;
		
		$.ajax({

        url: "{% url 'agent:get-cleaningticketInfo' %}",

        data: {'scheduler_id':scheduler_id}, 

        dataType: 'json',

        success: function (data) {


        	order_cleanings = data['cleaning_info'];
        	
        	$('#id_scheduled_cleaning').empty();
        	$("#id_scheduled_cleaning").append($('<option>', {

          			value: "", 

         			text: "-------------"

      							}));
        	$.each( order_cleanings, function( key, values ) {

              $("#id_scheduled_cleaning").append($('<option>', {        

   				 value: key, 

    			text: values   

 										 }));   

      			});
        }

    });
	});

//multiple image add and delete
$(".imgAdd").click(function () {
  $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" name="investigation_media" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
});
$(document).on("click", "i.del", function () {
  $(this).parent().remove();
});
$(function () {
  $(document).on("change", ".uploadFile", function ()
  {
    var uploadFile = $(this);
    var files = !!this.files ? this.files : [];
    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

    if (/^image/.test(files[0].type)) {// only image file
      var reader = new FileReader(); // instance of the FileReader
      reader.readAsDataURL(files[0]); // read the local file

      reader.onloadend = function () {// set image data as background of div
        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
      };
    }

  });
});
</script>
{% endblock %}	