{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">


  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" id="viewportMeta" />


  <meta name="description" content="Bleach Invoice">
  <meta name="author" content="Invoice">

  <link href="{% static 'files/css/externalusers.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'files/css/colors.css' %}" rel="stylesheet" type="text/css">
  <title>Bleach Cleaning Services | Invoice</title>
</head>
<header>
  {% include 'customer/downloads/header.html' %}
</header>

<body id="printableArea">

  <div id="container">
    <section>
       <h1 id="qu-text">INVOICE / الفاتورة</h1>
    </section>



          <section id="customer_container">
            {% for evaluation_detail in order.evaluation.evaluationdetails %}
            {% if forloop.first %}              
            <div id="left_id">
              <div>
                <span id="contact-text">Customer / العميل</span>
                <span id="customer-name">{{evaluation_detail.evaluation.customer.name}}</span>
              </div>
              
              <div>
                <span id="contact-text">Contact No. / رقم الاتصال</span>
                <span id="contact-number">{{evaluation_detail.evaluation.customer.mobile_number}}</span>
              </div>
              <div>
                <span id="contact-text">Email / إيميل</span>
                <span id="contact-number">{{evaluation_detail.evaluation.customer.email}}</span>
              </div>
              <div>
                <span id="address-text">Address / العنوان</span>
                <span id="customer-address">{{evaluation_detail.address.apartment}}, {% if evaluation_detail.address.floor %}{{evaluation_detail.address.floor}} {% else %}{% endif %} {{evaluation_detail.address.building}},{{evaluation_detail.address.block}}, {{evaluation_detail.address.street}},{% if evaluation_detail.address.avenue %}{{evaluation_detail.address.avenue}} {% else %}{% endif %}<br>{{evaluation_detail.address.area.name}}, {{evaluation_detail.address.governorate.name}}</span>
              </div><br>
            </div>
          {% endif %}
          {% endfor %}
      
            <div id="right_id">
              
                <div>
                  <span id="contact-text">Invoice Number / رقم الفاتورة</span>
                  <span id="contact-number"> <b>INV{{order.invoice_no}}</b> </span>
                </div>
                <div>
                  <span id="contact-text">Invoice Date / تاريخ الفاتورة</span>
                  <span id="contact-number">{{order.evaluation.created|date:'d-m-Y'}}</span>
                </div>
                <div>
                  <span id="contact-text">Payment Policy / سياسة الدفع</span>
                  <span id="contact-number">{{order.evaluation.payment_method}}</span>
                </div>
                <div>
                  <span id="contact-text">Order Number / رقم الطلب</span>
                  <span id="contact-number">{{order.evaluation.evaluation_id}}</span>
                </div>
            </div>
      
          </section>


          <section id="table_section">

            <table id="soa_table2">
              <tr>
                <th style="width: 40%;" class="invoice-table">Service /<br> خدمات</th>
                <th class="invoice-table">Size /<br> بحجم</th>
              
                <th class="invoice-table">Visit /<br> زيارة</th>
                <th class="invoice-table">Unit Price /<br> سعر الوحدة</th>
                <th class="invoice-table">Net Price /<br> السعر الصافي</th>
              </tr>


              {% for evaluation_detail in order.evaluation.evaluationdetails %}            
              {% for evaluation_book in evaluation_detail.evaluationbooks %}
              {% for book_section in evaluation_book.booksections %}
              {% if book_section.evaluation_book.service_type.name != 'Kitchen Appliances' %}
              <tr class="invoice-table">
                <td>
                  {{evaluation_book.service_type}} - {{book_section.section_name}}
                  <div class="d-flex mb-10" > {% if evaluation_book.status == 'CANCELLED' %} <div class="status-dot cancel-chip-bg"></div> <div class="ml-2">Cancelled</div> {% endif %}</div>

                </td>
                <td style="text-align: center;">
                  {{book_section.size}} 
                  {% if evaluation_book.service_type.name == 'Upholstery Cleaning' %}
                                                       
                  {% for price_range in price_ranges %}
                  {% if price_range.name == book_section.size and price_range.service_type == evaluation_book.service_type and price_range.upholstery_type == book_section.upholstery_type %}({{price_range.minimum_area|floatformat:'0'}}-{{price_range.maximum_area|floatformat:'0'}} {% if price_range.upholstery_type == 'SOFA' %}Seater{% endif %}){% endif %}
                  {% endfor %}
                    
                  {% else %}
                      
                  {% for price_range in price_ranges %}
                  {% if price_range.name == book_section.size and price_range.service_type == evaluation_book.service_type and evaluation_book.service_type.name != 'Mattress Cleaning' and price_range.is_newkitchen == book_section.new_kitchen and price_range.is_cabinet == book_section.is_cabinet and price_range.is_highprice_facade == book_section.is_highprice_facade and price_range.is_highprice_window == book_section.is_highprice_window %}({{price_range.minimum_area|floatformat:'0'}}-{{price_range.maximum_area|floatformat:'0'}} Sqm){% endif %}
                  {% endfor %}
                      
                  {% endif %}
                </td>
                <td style="text-align: center;">
                  {% if evaluation_book.cleaning_policy == 'ONE TIME SERVICE' %}1{% else %}{{book_section.section_cleanings|floatformat:"-1"}}{% endif %}
                </td>
                <td style="text-align: right;">
                  {% if book_section.sectiononly_cost %}{{book_section.sectiononly_cost|floatformat:'3'}}{% else %}{{book_section.section_cost|floatformat:'3'}}{% endif %}
                </td>
                <td style="text-align: right;">
                  {% if book_section.sectiononly_net_cost %}{{book_section.sectiononly_net_cost|floatformat:'3'}}{% else %}{{book_section.section_net_cost|floatformat:'3'}}{% endif %}
                </td>
              </tr>
              {% endif %}


              {% if book_section.sectionaddons %}
              {% for addon in book_section.sectionaddons %}
              <!-- ADDONS BEGINS HERE -->
              <tr class="invoice-table">
                <td>
                  {{book_section.section_name}} - {{addon.name}} (x{{addon.quantity|default_if_none:'1'}})
                  <div class="d-flex mb-10" > {% if evaluation_book.status == 'CANCELLED' %} <div class="status-dot cancel-chip-bg"></div> <div class="ml-2">Cancelled</div> {% endif %}</div>

                </td>
                <td>
                  {{addon.size|default_if_none:'-'}}
                </td>
                <td style="text-align: right;">
                  {% if evaluation_book.cleaning_policy == 'ONE TIME SERVICE' %}1{% else %}{{book_section.section_cleanings|floatformat:"-1"}}{% endif %}
                </td>
                <td style="text-align: right;">
                  {{addon.addon_cost|floatformat:'3'}}
                </td>
                <td style="text-align: right;">
                  {{addon.addon_net_cost|floatformat:'3'}}
                </td>
              </tr>
              <!-- ADDONS ENDS HERE -->
              {% endfor %}
              {% endif %}


              {% endfor %}
              {% endfor %}
              {% endfor %}
           

              <tr>
                <td colspan="4" class="invoice-table"> Sub Total / الإجمالي الجزئي</td>
                <td style="text-align: right;" class="invoice-table">{{order.evaluation.estimated_cost|floatformat:'3'}} KD</td>
              </tr>
            </table>

          </section>

          {% if order.evaluation.payment_method == 'BREAKDOWN' %}
    <section id="paymentmode-sec">
      <span> BREAKDOWN / الدفعات</span>
    </section>
    <section id="lastsection">
      <div>
        <span id="paymenttime">
          Payment Before Service / دفع قبل الخدمة
        </span>
        <span id="paymenttime-amount">
          {{order.evaluation.before_cleaning_amount|floatformat:'3'}} KD
        </span>
      </div>
      <div>
        <span id="paymenttime">
          Payment After Service / دفع بعد الخدمة
        </span>
        <span id="paymenttime-amount">
          {{order.evaluation.after_cleaning_amount|floatformat:'3'}} KD
        </span>
      </div>
    </section>
    {% endif %}

    {% if order.evaluation.payment_method == 'PREPAID' %}
    <section id="lastsection">
      <div>
        <span id="paymenttime">
          Payment Before Service / دفع قبل الخدمة
        </span>
        <span id="paymenttime-amount">
          {{order.total_amount|floatformat:"3"}} KD
        </span>
      </div>
    </section>
    {% endif %}

    {% if order.evaluation.payment_method == 'POSTPAID' %}
    <section id="lastsection">
      <div>
        <span id="paymenttime">
          Payment After Service / دفع بعد الخدمة
        </span>
        <span id="paymenttime-amount">
          {{order.total_amount|floatformat:"3"}} KD
        </span>
      </div>
    </section>
    {% endif %}

    <section id="total-section">
      <div>
        <span id="paymenttime">
          Sub Total / الإجمالي الجزئي
        </span>
        <span id="paymenttime-amount">
          {{order.evaluation.estimated_cost|floatformat:'3'}}
        </span>
      </div>
      
      {% if order.evaluation.discount != 0 %}
      <div>
        <span id="paymenttime">
          Discount / الخصم
        </span>
        <span id="paymenttime-amount">
          -{{order.evaluation.discount|floatformat:"3"}}
        </span>
      </div>
      {% endif %}

      {% if order.evaluation.additional_charge != 0 %}
      <div>
        <span id="paymenttime">
          Extra Charge(s) / رسوم اضافية
        </span>
        <span id="paymenttime-amount">
          {{order.evaluation.additional_charge|floatformat:"3"}}
        </span>
      </div>
      {% endif %}

      {% if order.evaluation.credit_amount != 0 %}
      <div>
        <span id="paymenttime">
          Credit Added
        </span>
        <span id="paymenttime-amount">
          -{{order.evaluation.credit_amount|floatformat:"3"}}}
        </span>
      </div>
      {% endif %}
      
      {% if order.evaluation.fine_amount != 0 %}
      <div>
        <span id="paymenttime">
          Fine / غرامة
        </span>
        <span id="paymenttime-amount">
          -{{order.evaluation.fine_amount|floatformat:'3'}}
        </span>
      </div>
      {% endif %}

      {% if order.evaluation.writeback_amount != 0 %}
      <div>
        <span id="paymenttime">
          Write-Off / إلغاء
        </span>
        <span id="paymenttime-amount">
          -{{order.evaluation.writeback_amount|floatformat:'3'}}
        </span>
      </div>
      {% endif %}

      {% if order.evaluation.is_promocode_applied == True %}
      <div>
        <span id="paymenttime">
          Coupon Added
        </span>
        <span id="paymenttime-amount">
          -{{order.evaluation.promocode_amount|floatformat:"3"}}
        </span>
      </div>
      {% endif %}


      <div>
        <span id="paymenttime">
          Total / الإجمالي
        </span>
        <span id="paymenttime-amount">
          {{order.total_amount|floatformat:"3"}}
        </span>
      </div>
      
      <div>
        <span id="paymenttime">
          Paid till date / دفعت حتى الآن
        </span>
        <span id="paymenttime-amount">
          {{order.amount_paid|floatformat:'3'}}
        </span>
      </div>
  
      <div>
        <span id="paymenttime">
          Balance / الرصيد
        </span>
        <span id="paymenttime-amount">
          {{order.remining_amount|floatformat:'3'}}
        </span>
      </div>
    </section>

    {% if order.remining_amount == 0 %}
    {% else %}
    <section id="final-section">
      <span id="total_id">Current Payment / الدفع الحالي</span>
               {% if order.evaluation.payment_method == 'BREAKDOWN' %}
                  {% if order.evaluation.before_cleaning_amount != order.preamount_paid %}
                    <h1 id="total_amount">
                    {{order.evaluation.before_cleaning_amount|floatformat:'3'}} <span id="kd-font">KD</span>
                    </h1>
                  {% elif order.evaluation.after_cleaning_amount != order.postamount_paid %}
                    <h1 id="total_amount">
                      {{order.remining_amount|floatformat:'3'}} <span id="kd-font">KD</span>
                    </h1>
                  {% endif %}
              {% elif order.evaluation.payment_method == 'PREPAID' %}
                    <h1 id="total_amount">
                      {{order.remining_amount|floatformat:'3'}} <span id="kd-font">KD</span>
                    </h1>
              {% elif order.evaluation.payment_method == 'POSTPAID' %}
                    <h1 id="total_amount">
                      {{order.remining_amount|floatformat:'3'}} <span id="kd-font">KD</span>
                    </h1>
              {% else %}
                    <h1 id="total_amount">
                      {{order.subscription_topay|floatformat:'3'}} <span id="kd-font">KD</span>
                    </h1>
              {% endif %}
    </section>
    {% endif %}
  
  </div>
</body>
<footer>{% include 'customer/downloads/footer.html' %}</footer>

</html>