{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">


  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" id="viewportMeta" />


  <meta name="description" content="Bleach Invoice">
  <meta name="author" content="Invoice">

  <link href="{% static 'files/css/externalusers.css' %}" rel="stylesheet" type="text/css">


  <title>Bleach Cleaning Services | Invoice</title>
</head>
<header>
  {% include 'customer/downloads/header.html' %}
</header>

<body id="printableArea">

  <div id="container">
    <section>
       <h1 id="qu-text">INVOICE</h1>
    </section>
    {% for orderschedule in order.orderschedules %}
          {% if forloop.first %}
    <section id="new-customer-info">
      <div>
        <span id="customer-text">{{orderschedule.customer_address.customer.name}} </span>
        <span id="customer-name">Mr. Alaa Five</span>
      </div>
      <br>
      <div>
        <span id="contact-text">Contact No</span>
        <span id="contact-number">{{orderschedule.customer_address.customer.mobile_number}}</span>
      </div>
      <div>
        <span id="contact-text">Email</span>
        <span id="contact-number">{{orderschedule.customer_address.customer.email}}</span>
      </div>
      <div>
        <span id="address-text">Address </span>
        <span id="customer-address">{{orderschedule.customer_address.apartment}}, {% if orderschedule.customer_address.floor %}{{orderschedule.customer_address.floor}} {% else %}{% endif %} {{orderschedule.customer_address.building}},{{orderschedule.customer_address.block}}, {{orderschedule.customer_address.street}},{% if orderschedule.customer_address.avenue %}{{orderschedule.customer_address.avenue}} {% else %}{% endif %}<br>{{orderschedule.customer_address.area.name}}, {{orderschedule.customer_address.governorate.name}}</span>
      </div><br>
    </section>

    <section id="quotation_data">
     
      <div>
        <span id="contact-text">Invoice Number</span>
        <span id="contact-number"> <b>INV{{order.invoice_no}}</b> </span>
      </div>
      <div>
        <span id="contact-text">Invoice Date</span>
        <span id="contact-number">{{order.evaluation.created|date:'d-m-Y'}}</span>
      </div>
      <div>
        <span id="contact-text">Payment Policy</span>
        <span id="contact-number">{{order.evaluation.payment_method}}</span>
      </div>
      <div>
        <span id="contact-text">Order Number</span>
        <span id="contact-number">{{order.evaluation.evaluation_id}}</span>
      </div>
      <!-- <div>
        <span style="color: #0BA300;" id="contact-text">Cleaning</span>
        <span id="contact-number" style="color: #0BA300;">
        {% for orderschedule in order.orderschedules %}
        {% if forloop.last %}
            {{orderschedule.start_at|date:'d-m-Y g:iA'}}<br>
        {% else %}
          {{orderschedule.start_at|date:'d-m-Y g:iA'}},<br>
        {% endif %}
        {% endfor %}
      </span>
      </div> -->
      <!-- <div>
        <span style="color: #0BA300;" id="contact-text">Appointment(s)
        </span>
      </div> -->
    </section>
    {% endif %}
    {% endfor %}

    {% for orderschedule in nonduplicate_schedules %}            
    {% for section in orderschedule.order_scheduler_book.evaluationbooksection %}
    <!-- itmes-->
    <section id="order-items">
      <span id="order-item-name">{{orderschedule.order_scheduler_book.service_type}}-{{section.section_name}}</span>
      <span id="netprice-text">NET PRICE</span>
      <div>
        <span>Size : <b>{{section.size}} {{section.unit|default_if_none:''}}</b> Quantity : <b>{% if orderschedule.order_scheduler_book.cleaning_policy == 'ONE TIME SERVICE' %}1{% else %}{{section.section_cleanings|floatformat:"-1"}}{% endif %}</b> Unit Price : <b>350.000</b> </span>
        <span id="netprice"><b>{% if orderschedule.order_scheduler_book.cleaning_policy == 'ONE TIME SERVICE' %}
          {{section.section_cost|floatformat:'3'}}
          {% else %}
          {{section.section_cost|mul:section.section_cleanings|floatformat:'3'}}
          {% endif %}</b> KD</span>
      </div>
    </section>
    <!-- itmes-->
    {% endfor %}
    {% endfor %}

    <section id="new-customer-info_1">
      <!-- <div>
        <span id="contact-text">Completed Jobs</span>
        <span id="contact-number"><b>{{order.orderschedules|length}}</b></span>
      </div>
      <br>
      <div>
        <span id="contact-text">Total</span>
        <span id="contact-number"><b>{{completed_jobs_count}}</b></span>
      </div> -->
      <div>
        <span id="contact-text">Payment Before Cleaning</span>
        <span id="contact-number"><b>340.000</b> KD</span>
      </div>
      <br>
      <div>
        <span id="contact-text">Payment After Cleaning</span>
        <span id="contact-number"><b>35.000</b> KD</span>
      </div>
    </section>
   
    <section id="invoice_total">
      <div>
        <span id="contact-text">Sub Total</span>
        <span id="contact-number"><b>{{order.evaluation.estimated_cost|floatformat:'3'}}</b> KD</span>
      </div>
      <br>
      {% if order.evaluation.discount != 0 %}
      <div>
        <span id="contact-text" style="color: #0BA300;">Discount</span>
        <span id="contact-number" style="color: #0BA300;"><b>-{{order.evaluation.discount|floatformat:"3"}}</b> KD</span>
      </div>
      {% endif %}

      <div id="invoice_total_amount">
        <span id="contact-text">Grand Total</span>
        <span id="contact-number"><b>{{order.total_amount|floatformat:"3"}}</b> KD</span>
      </div>
      <div>
        <span id="contact-text">Paid till date</span>
        <span id="contact-number">0</span>
      </div>
      <div>
        <span id="contact-text">Balance till date</span>
        <span id="contact-number">0</span>
      </div>
      <div>
        <span id="total_id">Payable Amount</span>
      <h1 id="total_amount">
        350.000<span id="kd-font">KD</span>
      </h1>
      </div>
      
      <!-- <h1 id="payment-text"> Payment</h1>
      <div style="margin-top: 20px;">
        <span id="contact-text">Paid till date</span>
        <span id="contact-number">0 </span>
      </div> -->
      <!-- <div>
        <span id="contact-text">Balance till date</span>
        <span id="contact-number">0 </span>
      </div> -->
      <!-- <div style="margin-top: 20px;">
        <span id="contact-text">Payable Amount</span>
      </div>
      <h1 style="margin-left: 100px;" id="payment-amount">350.000 KD</h1> -->
    </section>
    <section id="payment-section-invoice">
      
    </section>
    
  
  </div>
</body>
<footer>{% include 'customer/downloads/footer.html' %}</footer>

</html>