#lang-selector {
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 25px;
    background-image: url('../icons/united-kingdom.png');
    background-size: cover;
    border-radius: 12.5px;
    outline: none;
    transition: background-image .90s;
    box-shadow: 0px 2px 5px 1px gray;
    background-position-y: center;
  }
  
  #lang-selector:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    
    border-radius: 50px;
    transition: all .9s;
    background-color: #f2f2f2;
  }
  
  #lang-selector:checked {
    background-image: url('../icons/kuwait.png');
    transition: background-image .90s;
    
  
  }
  
  #lang-selector:checked:before {
    transform: translate(100%);
    transition: all .9s;
    background-color: #f2f2f2;
  }





body{
    background-color: #F2F2F2 ;
    color: #616161;
}
.inv-translator{
    margin-left:auto;
}
.inv-card{
   
    background: #FFFFFF 0% 0% no-repeat padding-box;
   
    border: 1px solid #E6E6E6;
    
    opacity: 1;
}
.inv-coupon-error{
    color:red;
}
.bk-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
   
    border: 1px solid #E6E6E6;
    
    min-height:500px;
}
.bk-search-btn{
    height: 40px;
    margin-top: 22px !important;
    margin-left: 20px;
    border-radius: 5px !important;
}
.inv-logo{
    height:84px;
}
.inv-price-card{
  
    background: #FFFFFF 0% 0% no-repeat padding-box;
   /* box-shadow: 0px 3px 6px #00000029;*/
    border: 1px solid #E6E6E6;
   /* border-left: 20px solid #f2f2f2;*/
    opacity: 1;
}
.inv-invoice-card{
  
}
.inv-service-title{
   
font: normal normal 600 24px ;
letter-spacing: 0px;


}
.inv-price{
   
  
border-radius: 4px;
opacity: 1;
text-align: right;
}
.inv-text-right{
    text-align: right;
}
.inv-text-left{
    text-align: left;
}
.inv-payment-card{
    
    background: #f2f2f2 0% 0% no-repeat padding-box;
    width: 40%;
    margin: 2%;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    opacity: 1;

cursor: pointer;
}
.inv-payment-card-active{
    width: 40%;
    margin: 2%;
    box-shadow: 0px 3px 6px #00000029;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    opacity: 1;
    cursor: pointer;
    color: #616161
}
.inv-card-icon{
    max-height: 60px;
    padding: 10px;
}
.inv-payment-text{
    font-size:12px;
    font-weight:600;
}
.inv-btn{
    background: #26A8E0 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000040;
border-radius: 6px;
opacity: 1;
padding: 5px;
cursor:pointer;
width:120px;
margin: auto;
}
.inv-white-btn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000026;
    border: 1px solid #767676;
    border-radius: 6px;
    opacity: 1;
    cursor:pointer;
    padding: 5px;
}
.inv-content-card{
    color: #616161;
  
   
    height: 100%;
    padding: 10px;
  
   
  
}
.inv-invoice-title{
    font-weight:700;
    font-size:3.5rem;
}
.inv-text-bold{
    font-weight:600;
}
.inv-company-title{
    
    font-size: 25px;
    font-weight: 700;
    padding-top: 12px;
  
}
.inv-company-subtitle{
    font-size: 9px;
    font-weight: 500;
    
}
.inv-text-lg{
    font-size:40px;
}
.inv-highlight-text{
    color:#0BA300
}

.inv-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px dashed #707070;
border-radius: 6px 0px 0px 6px;
outline:none;
border-right: 0px;
}
.inv-add-coupon{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 0px 6px 6px 0px;
opacity: 1;
color:#707070;
outline: none !important;
}
.html2canvas-container { width: 3000px !important; height: 3000px !important; }
.inv-invoice-details{
    margin-right: 15%;
    width: 70%;
    
    float: right;
    font-size: 12px;
  
}
.text-right{
    text-align: right;
}
.inv-customer-details{
   /* border-left: 20px solid #F3F3F3;*/
}

.inv-text-color{
    color: #616161;
}
.inv-heading{
    font-weight:600;
    font-size:40px;

}
.inv-heading-light{
    font-weight:700;
    font-size:28px;
}
.inv-receipt-heading{
    font-weight:700;
    font-size:24px;

}
.inv-heading-lg{
    font-weight:700;
    font-size:40px;

}
.inv-subheading{
    font-size:24px;
}
.inv-divider{
    background-color:#616161;
}
.inv-current-payment{
    
    color:#28a8e0;
}
.inv-total-payment{
    color:#28a8e0;
   
}
.inv-received-payment{
   
    color: #28a8e0;
    
}
.inv-payment-container{
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    height:100%;
}
.inv-text-secondary{
    color:#333333;
}
.inv-footer{
    background: #616161;
    color: #ffffff;
    font-size: 14px;
    margin-top:5%;
    width: 100%;
}
.inv-icon{
    height:24px;
}
.inv-cp{
    cursor: pointer;
}
.inv-link{
    text-decoration: none;
}
.inv-form-switch{
    max-width:120px;
}
.inv-payment-disabled{
    cursor: not-allowed !important;
    opacity: .15;
    pointer-events:none;
}
.inv-click-disable{
    pointer-events:none;
}
.inv-modal-heading{
    color:#28a8e0;
}
.inv-check-box{
    height:15px;
    width:15px;
    border-radius:15px;   
    border: 1px solid #e0e0e0;
    
}
.inv-check-box-active{
    background-color: #30ab23de;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    border:none; 
}
.inv-check-icon{
    font-size: 11px;
    margin: auto;
    position: relative;
    top: -4px;
    color: #ffffff;
    display:none;
}
.bk-check-box{
    height:15px;
    width:15px;
    border-radius:15px;   
    border: 1px solid #e0e0e0;
    
}
.bk-check-box-active{
    background-color: #30ab23de;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    border:none; 
    text-align: center;
}
.bk-check-icon{
    font-size: 11px;
    margin: auto;
    position: relative;
  
    color: #ffffff;
   
}
.bk-address-card{
    font-size: 12px;
    border:1px solid #a8a8a8;
    border-radius:20px;
    padding: 20px;
    cursor:pointer;
    height:100%;
}
.bk-total-price{
    font-size:18px;
    
}
.d-none{
  display: none;
}
.bk-timepicker{
    padding: 10px;
    background-color: #ebebeb;
}

@media print{
 .no-print{
    display:none !important;
 }   
#inv-payment{
    display: none !important;
}
.inv-coupon-code{
    display: none !important;
}
.inv-footer{
    display: none !important;
}
.select-language{
    display: none !important;
}
.goog-te-banner{
    display:none !important;
}
.col-print-1 {width:8%;  float:left !important; }
.col-print-2 {width:16%; float:left !important;}
.col-print-3 {width:25%; float:left !important;}
.col-print-4 {width:33%; float:left !important;}
.col-print-5 {width:42%; float:left !important;}
.col-print-6 {width:50%; float:left !important;}
.col-print-7 {width:58%; float:left !important;}
.col-print-8 {width:66%; float:left !important;}
.col-print-9 {width:75%; float:left !important;}
.col-print-10{width:83%; float:left !important;}
.col-print-11{width:92%; float:left !important;}
.col-print-12{width:100%; float:left !important;}
.order-md-1 {
    order: 1!important;
}
.order-md-2 {
    order: 2!important;
}
.offset-md-3 {
    margin-left: 25% !important;
}
.offset-md-1 {
    margin-left: 8%;
}
.mt-md-0 {
    margin-top: 0!important;
}
.offset-md-2 {
    margin-left: 16%;
}
.canvas-size{
    margin-left:0px !important;
}
.offset-md-6 {
    margin-left: 50%;
}
.inv-receipt-download{
    display:none !important;
}
.inv-receipt-print{
    display:none !important;
}

}
@media print and (color) {
* {
   -webkit-print-color-adjust: exact;
   print-color-adjust: exact;
}

}

   



/** **/

.inv-receipt-download{
    width:150px;
    margin-left:auto ;
    margin-right:10px;
}
.inv-receipt-print{
    width:150px;
    margin-right:auto ;
    margin-left:10px;
}
.inv-canvas-receipt{
    margin:auto;
}


/* Booking Page */


.bk-select{
 /*   max-width: 400px;*/
}
.bk-date{
    padding: 5px;
    width: 100%;
}
.form-group.required .control-label:after {
    content:"*";
    color:red;
  }
  .bk-item-card{
    border: 1px solid #cdcfd2 !important;
    padding: 20px;
  }
  .mt-100 {
    margin-top: 100px
}
.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #26A8E0 !important;
    border: 1px solid #26A8E0 !important;
    color: #fff;
    word-break: break-all;
}




.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
  position: relative;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}


/* Quotation */

.qt-title{
    font-weight:700;
    font-size:2.5rem;
}
.qt-subheading{
    font-weight:300;
    font-size:14px;
}
.qt-sub-text{
    font-size: 14px;
    font-weight:500;
}
.pl-30{
    padding-left:30px;
}
.w-70{
    width:70%;

}
.w-30{
    width:30%;
    
}
.w-35{
    width:35%;
    
}
.w-20{
    width:20%;
    
}
.w-40{
    width:40%;
}
.w-60{
    width:60%;
    
}
.qt-approve{
    background: #26A8E0 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000040;
border-radius: 6px;
opacity: 1;
color:#ffffff;
height: 42px;
}

/* Modal */

.qt-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .qt-modal-content {
   
    margin: auto;
  
   overflow: auto;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .qt-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .qt-close:hover,
  .qt-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .qt-modal{
    
    
  }
  .qt-modal-content{
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #D6D5D5;
    border-radius: 12px;
    opacity: 1;
  }
  .qt-modal-header{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #0000001A;
    border: 1px solid #D6D5D5;
    border-radius: 12px 12px 0px 0px;
    opacity: 1;
  }
  .qt-modal-desc{
    height:400px;
    overflow:scroll;
  }
  .qt-modal-footer{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -6px 6px #0000001A;
    border: 1px solid #D6D5D5;
    border-radius: 0px 0px 12px 12px;
    opacity: 1;
  }
  .qt-terms-label{
      text-decoration: underline;
      color:#616161;
      cursor: pointer;
  }
  .form-switch{
      padding-left:1.5rem;
  }
  .ml-5{
      margin-left:5px;
  }
  .float-left{
      float:left;
  }
  .float-right{
    float:right;
}


@media only screen and (max-width: 600px) {
    .inv-card-icon{
        max-height: 45px;
        padding: 10px;
    }
    .inv-payment-text {
        font-size: 10px;
        font-weight: 600;
    }

}

