{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "admin/common/header.html" %}
    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Feedback</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->
       
     <div class="clients-top-card-wrapper"><!--clients-top-card-wrapper-->
     	<div class="feedback-card-wrapper "><!--feedback-card-wrapper -->
       	<div class="feedback-card-column feedback-column-left whitebg"><!--feedback-card-column feedback-column-left-->
<div class="rating-containter"><!--rating-containter-->
	<div class="rating-column column-left-rating"><!--column-left-rating-->
        <p class="rating-range">{{average_feedback|floatformat:2|default_if_none:'0.0'}}</p>
        {% if average_feedback == 5 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        {% elif average_feedback < 5 and average_feedback >= 4 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        {% elif average_feedback < 4 and average_feedback >= 3 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif average_feedback < 3 and average_feedback >= 2 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif average_feedback < 2 and average_feedback >= 1 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% else %}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% endif %}
        <p><span class="fa fa-user"></span>{{total_feedbacks}} total </p>
     </div><!--column-left-rating-->
     <div class="rating-column column-right-rating"><!--column-right-rating-->
            <div class="row">
              {% for percentage in starring_percentages %}
              <div class="side">
                <div><span class="fa fa-star"></span> {{percentage.rating}}</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-n"
                  {% if forloop.counter == 1 %}
                  style="width:{{percentage.percentage|floatformat:1}}%;background-color: #4CAF50;"
                  {% elif forloop.counter == 2 %}
                  style="width:{{percentage.percentage|floatformat:1}}%;background-color: #ff9800;"
                  {% elif forloop.counter == 3 %}
                  style="width:{{percentage.percentage|floatformat:1}}%;background-color: #00bcd4;"
                  {% elif forloop.counter == 4 %}
                  style="width:{{percentage.percentage|floatformat:1}}%;background-color: #2196F3;"
                  {% else %}
                  style="width:{{percentage.percentage|floatformat:1}}%;background-color: #f44336"
                  {% endif %}
                  ></div>
                </div>
              </div>
              <div class="side right">
                <div>{{percentage.percentage|floatformat:1}}%</div>
              </div>
              {% endfor %}
            </div>
        </div><!--column-right-rating-->
</div><!--rating-containter-->
        </div><!--feedback-card-column feedback-column-left-->
		  <div class="feedback-card-column feedback-column-right whitebg"><!--lients-card-column feedback-column-right-->
            <img src="{% static 'files/images/feedback-chart.jpg' %}">
            <div class="chart-btnWrapper"><input name="thismonth" type="button" class="blue-button" value="This Month" id="thismonth"></div>
          </div><!--lients-card-column feedback-column-right-->
        </div><!--feedback-card-wrapper -->

</div><!--clients-top-card-wrapper-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
     <div class="white-wrapper-search"><!--white-wrapper-search-->
     <div class="left-box leftbox-item1"><!--left-box leftbox-item1-->
          <span class="search-wrapper"><input type="text" class="search-bar" id="search-bar" placeholder="Search here..." value="{{search_query|default_if_none:''}}" onchange ="set_params_go()"><a href="#" onclick="set_params_go();"><img class="search-icon" src="{% static 'files/images/search-icon.png' %}"></a></span>
     </div><!--left-box leftbox-item1-->
     <div class="left-box leftbox-item2"><!--right-box leftbox-item1-->
     <input name="filter" type="button" value="Filter" id="filter" class="blue-button"> 
     </div><!--right-box leftbox-item1-->     
     
     
 
     </div><!--white-wrapper-search-->
     
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Feedback List</h2>
<div class="no_of_entires">
  <select name="no_of_entries" id="no_of_entries" onchange="set_params_go();">
    <option value="20" {% if no_of_entries == '20' %}selected{% endif %}>20 Entries</option>
    <option value="50" {% if no_of_entries == '50' %}selected{% endif %}>50 Entries</option>
    <option value="100" {% if no_of_entries == '100' %}selected{% endif %}>100 Entries</option>
  </select>
</div>
<div class="page-entries">Show {{entry_per_page}} entries</div>
<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
<tr>
<th>Order Number</th>
<th data-hide="phone,tablet">Name</th>
<th data-hide="phone">Area</th>
<th data-hide="phone,tablet">Service Type</th>
<th class="align-center">Contact</th>
<th class="align-center" data-hide="phone,tablet">Ratings</th>
</tr>
</thead>
<tbody>

  {% for order in order_wise_feedbacks %}
    <tr>
    <td class="yellow-line">{{order.evaluation.evaluation_id}}</td>
    <td>{{order.evaluation.customer.name}}</td>
    <td>
    {% for evaluation_detail in order.evaluation.order_evaluation_details %}
    {{evaluation_detail.address.area.name}}<br>
    {% endfor %}</td>
    <td>
     {% for evaluation_detail in order.evaluation.order_evaluation_details %}     
     {% for evaluation_book in evaluation_detail.evaluation_book %}
     {{evaluation_book.service_type.name}},     
     {% endfor %}
     <br>
     {% endfor %}
    </td>
    <td>{{order.evaluation.customer.mobile_number}}</td>
    <td> 
      {% if order.avg_starring == 5 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        {% elif order.avg_starring < 5 and order.avg_starring >= 4 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        {% elif order.avg_starring < 4 and order.avg_starring >= 3 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif order.avg_starring < 3 and order.avg_starring >= 2 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% elif order.avg_starring < 2 and order.avg_starring >= 1 %}
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% else %}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        {% endif %}
    </td>
    </tr>
  {% endfor %}
</tbody>
<tfoot>
 
</tfoot>
</table>
<div class="white-wrapper-pagination"><!--white-wrapper-pagination-->   
    <div class="pagination-containter"><!--pagination-containter-->
    	<div class="pagination-column pagination-column-left"><!--pagination-column pagination-column-left-->
        Showing {{order_wise_feedbacks.start_index}} to {{order_wise_feedbacks.end_index}} of {{order_wise_feedbacks.paginator.count}} entries
        </div><!--pagination-column pagination-column-left-->
        
        <div class="pagination-column pagination-column-right"><!--pagination-column pagination-column-right-->
            <!--paginated-->
   {% if order_wise_feedbacks.has_other_pages %}
   <nav aria-label="Page navigation example">
  <ul class="pagination">
     {% if order_wise_feedbacks.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ order_wise_feedbacks.previous_page_number }}&search={{request.GET.search}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for pg in page_range %}
    {% if vus.number == pg %}
            <li class="page-item"><a class="page-link active" href="?page={{pg}}&search={{request.GET.search}}">{{pg}}</a></li>
    {% else %}
            <li class="page-item"><a class="page-link" href="?page={{pg}}&search={{request.GET.search}}">{{pg}}</a></li>
    {% endif %}
    {% endfor %}
    {% if order_wise_feedbacks.has_next %}        
    <li class="page-item">
      <a class="page-link" href="?page={{ order_wise_feedbacks.next_page_number}}&search={{request.GET.search}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
    {% endif %}
    <!--paginated-->
        </div><!--pagination-column pagination-column-right-->
    </div><!--pagination-containter-->         
</div><!--white-wrapper-pagination--> 
</div><!--white-wrapper-->      
             
            
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'admin/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });

    </script>

<script>
function set_params_go(args)
{
var url='{% url 'bleach_admin:admin-feedbacks' %}';
var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val()
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}    
</script>    
{% endblock %}