{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->

{% if request.user.user_type == 'AGENT' %}
  {% include "agent/common/header.html" %}
{% elif request.user.user_type == 'BOOKINGOFFICER' %}
  {% include "bookingofficer/common/header.html" %} 
{% elif request.user.user_type == 'EVALUATOR' %}
  {% include "evaluator/common/header.html" %}
{% endif %}
    
<section class="content"><!--content-->
<div class="container-fluid space topspace"><!--container-fluid space topspace-->
    <div class="welcome-wrapper"><!--welcome-wrapper-->
        <h1 class="dashboard-head">Quotation Details</h1>
        <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>
    </div><!--welcome-wrapper-->
            
        
<div class="order-top-wrapper"><!--order-top-wrapper-->
            
<div class="white-wrapper"><!--white-wrapper-->
<div class="center-formDiv"><!--center-formDiv-->
 
 
      <div class="blc-number-big">{{evaluation.evaluation_id}}</div>             
          <div class="customer-name"><i class="fa blue-text fa-user-circle-o" aria-hidden="true"></i> {{enquiry_user.name}}</div>
          <div class="mobile-number"><i class="fa green-text fa-lg fa-phone" aria-hidden="true"></i> &nbsp;  {{enquiry_user.mobile_number}}</div>
          <div class="email"><i class="fa orange-text fa-lg fa-envelope-o" aria-hidden="true"></i> &nbsp;  {{enquiry_user.email}}</div>
          <hr class="div">
          
            <div class="common-sub-head align-left">Details</div> 
 
{% for detail in evaluation_details %} 
<div class="checkin-wrapper-row checkin-forms-boxes"><!--checkin-wrapper-row checkin-forms-boxes-->

      <div class="checkin-form-left"><!--checkin-form-left-->
      <i class="fa fa-lg fa-building-o green-text" aria-hidden="true"></i>
        <b>{{detail.address.apartment}}</b>: {% if detail.address.floor %}{{detail.address.floor}}, {% else %}{% endif %} {{detail.address.building}}, {{detail.address.block}}, {{detail.address.street}}, {% if detail.address.avenue %}{{detail.address.avenue}}, {% else %}{% endif %} {{detail.address.area.name}}, {{detail.address.governorate.name}} 
        <br><br>
      
        {% if detail.attender_note %}  
        <i class="fa fa-lg fa-user blue-text" aria-hidden="true"></i> <b>{{detail.evaluation.call_attender.name}}</b>
        <p><i class="fa fa-lg fa-commenting-o blue-text" aria-hidden="true"></i>{{detail.attender_note}}</p>
        {% endif %}
      
      {% if detail.address.gps_location %}
      <br><br>
      <i class="fa fa-globe fa-lg" aria-hidden="true" style="color:blue;"></i>
        <a href="{{detail.address.gps_location}}">GPS Location</a>
      {% endif %}
      </div><!--checkin-form-left-->
      <div class="checkin-form-left align-center"><!--checkin-form-left-->
        {% if detail.total_cost == 0.0 %}
        <div class="check-in-icons"><img src="{% static 'files/images/evaluation-pending-icon.png' %}"></div>
        <div class="lg-text yellow-text">Evaluation Pending</div>
        {% else %}
        <div class="check-in-icons"><img src="{% static 'files/images/price-icon.png' %}"></div>
        <div class="lg-text blue-text">{{detail.total_cost|floatformat:3}} KD</div>
        {% endif %}
      </div><!--checkin-form-left-->
      <div class="checkin-form-right align-right"><!--checkin-form-right-->
        
        {% comment %} {% if detail.evaluator == request.user %}
        {% if detail.status == 'EVALUATED' %}
        <a href="{% url 'evaluator:evaluator-makeassignedquatation2edit' detail.id %}"><div><input name="view" type="button" value="Edit" class="checkonButton"></div></a>
        {% elif detail.status == 'CANCELLED' %}
        <span >{{detail.evaluation_cancel_reason|default_if_none:''}}</span>
        {% else %}
        <a href="{% url 'evaluator:evaluator-makeassignedquatation2' detail.id %}"><div><input name="view" type="button" value="Check-in" class="checkonButton"></div></a>
        <div><input type="button" value="Cancel" class="cancel-Button cancelevaluation" style="background-color:red;color:white;" data-evaluationdetail="{{detail.id}}"></div>
        {% endif %}
        {% endif %} {% endcomment %}
        
        
        {% if detail.status == 'EVALUATED' %}
          <a href="#"><div><input name="view" type="button" value="Evaluated" class="checkonButton"></div></a>
        {% elif detail.status == 'CANCELLED' %}
          <span >{{detail.evaluation_cancel_reason|default_if_none:''}}</span>
        {% else %}
          <a href="{% url 'common_items:booking' detail.id %}?enquiry_id={{detail.evaluation.customer.id}}&evaluation_id={{detail.evaluation.id}}"><div><input name="view" type="button" value="Check-in" class="checkonButton"></div></a>
        
          {% if detail.evaluator == request.user %}
            <div><input type="button" value="Cancel" class="cancel-Button cancelevaluation" style="background-color:red;color:white;" data-evaluationdetail="{{detail.id}}"></div>
          {% elif detail.evaluator == None and detail.evaluation.call_attender == request.user %}
            <div><input type="button" value="Cancel" class="cancel-Button cancelevaluation" style="background-color:red;color:white;" data-evaluationdetail="{{detail.id}}"></div>
          {% endif %}

        {% endif %}
      
      </div><!--checkin-form-right-->               
</div><!--checkin-wrapper-row checkin-forms-boxes-->
{% endfor %}        
        
<div class="checkin-wrapper-row checkin-forms-boxes ltblue-bg"><!--checkin-wrapper-row checkin-forms-boxes-->
      <div class="checkin-form-left align-right"><!--checkin-form-left-->
        <div class="total-text">Total Amount</div>
        <br>
      </div><!--checkin-form-left-->
      <div class="checkin-form-right align-left"><!--checkin-form-right-->
        <div class="total-Amount" id="total_amount">{{evaluation.total_cost}} KD</div>
        <br>
      </div><!--checkin-form-right-->               
</div><!--checkin-wrapper-row checkin-forms-boxes-->         
        
<br><br><br><br>
 
{% if allow_submit %} 
<form method="post" action="" enctype= "multipart/form-data">{% csrf_token %} 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Payment Policy</label></div>
                <label for="favcity">
                <select id="favcity" name="payment_method" class="payment_method" required>
                <option value="">Choose Payment Method</option>
                {% for evaluationdetail in evaluation_details %}
                {% ifchanged evaluationdetails.evaluation.id %}

                  {% if evaluationdetail.evaluationbooks %}
                  <option value="SUBSCRIPTION">Subscription</option>
                  {% elif evaluation.bookings %}
                  <option value="PREPAID">Prepaid</option>
                  {% else %}
                  <option value="PREPAID">Prepaid</option>
                  <option value="POSTPAID">Post Paid</option>
                  <option value="BREAKDOWN">Break-Down</option>
                  {% endif %}

                {% endifchanged %}
                {% endfor %}
                </select>
                </label>
  </div><!--ticket-form-left-->

<div class="ticket-form-right advance_track1"><!--ticket-form-right-->
    <div class=" bold-text common-label"> <label>Advance Amount Needed?</label></div>
          <input name="is_advance" id="is_advance_id" type="checkbox">
</div><!--ticket-form-right-->
<div class="ticket-form-right advance_track2"><!--ticket-form-right-->
  <div class=" bold-text common-label"> <label>Advance Amount</label></div>
        <input name="subscription_topay" id="advance_amount_id" type="number" step="0.001" class="textBox" placeholder=" "  max="{{evaluation.total_cost}}">
</div><!--ticket-form-right-->




  <div class="ticket-form-right payment_track"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Before Cleaning Amount</label></div>
                <input name="before_cleaning_amount" id="before_cleaning_amount_id" type="number" step="0.001" class="textBox" placeholder=" "  >
  </div><!--ticket-form-right-->
    <div class="ticket-form-right payment_track"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>After Cleaning Amount</label></div>
                <input name="after_cleaning_amount" id="after_cleaning_amount_id" type="number" step="0.001" class="textBox" placeholder=" "  >
  </div><!--ticket-form-right-->

  <div class="ticket-form-right"><!--ticket-form-right-->
    <div class=" bold-text common-label"> <label>Discount</label></div>
          <input name="discount" id="discount_id" type="number" step="0.001" class="textBox" placeholder=" "  >
</div><!--ticket-form-right-->
<div class="ticket-form-right"><!--ticket-form-right-->
  <div class=" bold-text common-label"> <label>Additional Charge</label></div>
        <input name="additional_charge" id="additional_id" type="number" step="0.001" class="textBox" placeholder=" "  >
</div><!--ticket-form-right-->

</div><!--ticket-wrapper-row ticket-forms-boxes-->

<div class="mt-10">
  <div class=" bold-text common-label"> <label>Note to the Customer</label></div>

  <textarea name="evaluator_note" id="" rows="6"  style="width: 100%;" max-length="300" onkeyup="limit(this);"></textarea>
</div>
<input type="hidden" name='total_amount' id="total_amount_id" value="{{evaluation.total_cost|floatformat:'3'}}">
<br>
<div align="center" onclick="CheckForm(this);"><input class="assignButton" name="submit" type="button" value="Submit">
<br><br>
</form>
{% endif %}

</div><!--center-formDiv-->
</div><!--white-wrapper-->

 
</div><!--order-top-wrapper-->  
            
            
 <!-- cancel evaluation popup -->
<div id="cancelevaluation_popup" class="overlay"><!--overlay-->
    <div class="popup-assign-eval"><!--popup-assign-eval-->
        <a class="close" id="close_add_evaluator">&times;</a>
            <div class="content"><!--content-->
            
<form method="post" enctype= "multipart/form-data">{% csrf_token %}                      
<input type="hidden" name="action_type" value="cancel">
<input type="hidden" name="evaluation_detail" value="" id="detail">
            <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->
            <div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->             
  
</div><!--ticket-wrapper-row ticket-forms-boxes-->  
  
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
      <div class="ticket-form-left"><!--ticket-form-left-->
          <div class="bold-text common-label"> <label>Cancellation Reason</label></div>
                 <textarea name="cancellation_reason" cols="" rows="4" class="textArea" required></textarea>
      </div><!--ticket-form-left--> 
        
  </div><!--ticket-wrapper-row ticket-forms-boxes-->  
<div align="center"> <input class="assignButton dateconfirm" name="assing" type="button" value="Click to Cancel Evaluation" onclick="submitAnyForm(this);" /></div> 

</div><!--ticket-wrapper-full-->             
</form>
            </div><!--content-->
    </div><!--popup-assign-eval-->
</div><!--overlay-->
<!-- cancel evaluation popup -->            
            
                 
</div><!--container-fluid space topspace-->
</section><!--content-->
    
{% include 'evaluator/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}


{% block javascript %} 
<script src="{% static 'files/js/jquery.formset.js' %}"></script>
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });


// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
</script>
<script>
function limit(element)
{
    var max_chars = 300;

    if(element.value.length > max_chars) {
        element.value = element.value.substr(0, max_chars);
    }
}
$('.cancelevaluation').click(function(){
  $('#detail').val($(this).data('evaluationdetail'));
  console.log($(this).data('evaluationdetail'),"mass")
  $('#cancelevaluation_popup').css({'visibility':'visible','opacity':1,});
})

$("#close_add_evaluator").click(function () {
    $('#cancelevaluation_popup').css({'visibility':'hidden','opacity':0,});
});

var x=0; 

$('document').ready(function(){

//Initial Hiding of payment Breakdown
$('.payment_track').hide();

//Initial hiding of advance amount
$('.advance_track1').hide();
$('.advance_track2').hide();
});

//hide shw formset with payment method
$('.payment_method').change(function(){
  payment_method = this.value;

  if(payment_method == 'BREAKDOWN')
  {
    $('.payment_track').show();
  }
  else
  {
    $('.payment_track').hide();
  }


  if(payment_method == 'SUBSCRIPTION')
  {
    $('.advance_track1').show();
  }
  else{
    $('.advance_track1').hide();
    $('.advance_track2').hide();
    $('#advance_amount_id').val('');
    $('#is_advance_id').prop('checked', false);
  }

  });

//advance amount hide show
$('#is_advance_id').click(function(){
    if($('#is_advance_id').is(":checked") == true)
    {
      $('.advance_track2').show();
    }
    else
    {
      $('#advance_amount_id').val('');
      $('.advance_track2').hide();
    }

});

//total adjustment
total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")
$("#after_cleaning_amount_id").keyup(function(){
  after_amount  =  $("#after_cleaning_amount_id").val();
  before_amount =  $("#before_cleaning_amount_id").val();

  before_cleaning_amount = parseFloat(parseFloat(total_cost)-parseFloat(after_amount)).toFixed(3)
  $("#before_cleaning_amount_id").val(before_cleaning_amount) 

  if(after_amount > total_cost)
  {
    $("#after_cleaning_amount_id").val("0");
    $("#before_cleaning_amount_id").val("0");
  } 
})

$("#before_cleaning_amount_id").keyup(function(){
  after_amount  =  $("#after_cleaning_amount_id").val();
  before_amount =  $("#before_cleaning_amount_id").val();

  after_cleaning_amount = parseFloat(parseFloat(total_cost)-parseFloat(before_amount)).toFixed(3)
  $("#after_cleaning_amount_id").val(after_cleaning_amount)  

  if(before_amount > total_cost)
  {
    $("#before_cleaning_amount_id").val("0");
    $("#after_cleaning_amount_id").val("0");
  }
})

$("#discount_id").keyup(function(){
  discount            = parseFloat($("#discount_id").val());
  additional_amount   = parseFloat($("#additional_id").val());
  
  if(discount && additional_amount)
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")+additional_amount-discount
  }
  else if(discount && !additional_amount)
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")-discount
  }
  else if(!discount && additional_amount)
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")+additional_amount
  }
  else
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")
  }

  $("#total_amount").html(total_cost+' KD');
  $("#total_amount_id").val(total_cost);
  $("#before_cleaning_amount_id").val('');
  $("#after_cleaning_amount_id").val('');
})

$("#additional_id").keyup(function(){
  additional_amount   = parseFloat($("#additional_id").val());
  discount            = parseFloat($("#discount_id").val());
  
  if(discount && additional_amount)
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")+additional_amount-discount
  }
  else if(discount && !additional_amount)
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")-discount
  }
  else if(!discount && additional_amount)
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")+additional_amount
  }
  else
  {
    total_cost = parseFloat("{{evaluation.total_cost|floatformat:'3'}}")
  }

  $("#total_amount").html(total_cost+' KD');
  $("#total_amount_id").val(total_cost);
  $("#before_cleaning_amount_id").val('');
  $("#after_cleaning_amount_id").val('');
})

//Check Breakdown Amounts
function CheckForm(params1){
  params = params1;
  if($('.payment_method').val() == 'BREAKDOWN')
  {
        before_cleaning_amount = $("#before_cleaning_amount_id").val();
        after_cleaning_amount  = $("#after_cleaning_amount_id").val();
        manual_total           = parseFloat(before_cleaning_amount)+parseFloat(after_cleaning_amount)
        total                  = $("#total_amount_id").val();
        
        if(total == manual_total)
        {
          submitAnyForm(params);
        }
        else
        {
          alert("Please Enter the Breakdown Amount Correctlly")
        }
  }
  else
  {
    submitAnyForm(params);
  }
}
</script>
{% endblock %}
