{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "evaluator/common/header.html" %}

<section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Enquiry</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
            
<div class="white-wrapper"><!--white-wrapper-->
<div class="row">
<div class="col-md-8"> 
</div>
<div class="col-md-2">
  <a class="a-btn back-btn" href="{% url 'evaluator:evaluator-newenquiry' %}">Back</a>
  </div>
<div class="col-md-2">  
  <button type="button" class="primary-btn add_address_button">Add Address</button>
</div>  
</div>  
  <div class="row">

    <div class="col-12"> 

      <div class="page-form">

        <form method="post" action="" enctype= "multipart/form-data">{% csrf_token %}

         <div class="page-form-head">

           <h1 class="h2">Existing Enquiry</h1>

         </div>

         <div class="page-body">

          {% for field in enquiry_form %} 

          <div class="page-col">

           {{ field.errors }} 

           {{ field.label_tag }} {{ field }}

          <p class="help">{{ field.help_text|safe }}</p>

          </div>

          {% endfor %}


          <div class="div-section">

            <div class="div-section-head">

              <h1 class="h2">Please Select Customer Cleaning Addresses</h1>  

             </div>
             {% for address in addresses %}
             <div class="address">
              {{address.governorate}},{{address.area}},{{address.block}} Block,{{address.avenue}},{{address.building}} Building,{{address.street}} Street,{{address.floor}} Floor,{{address.apartment}}
             </div>
             <input type="checkbox" name="active_addresses" class="active_address" {% if address.currently_active %}checked{% endif %} value="{{address.id}}">
             <hr>
             {% endfor %}

          </div>

<div class="page-footer text-center">

            <button type="button" class="primary-btn" onclick="submitAnyForm(this);">Update</button>
            <button type="button" class="primary-btn"><a href="{% url 'evaluator:evaluator-makeevaluation' enquiryid %}">Assign to My Callender</a></button>
            <button type="button" class="primary-btn"><a href="{% url 'evaluator:evaluator-makequatation' enquiryid %}">Make Quatation</a></button>

</div>
</form>
</div>
</div>
</div>



</div><!--white-wrapper-->      
             
            
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->


<!-- add_address_popup -->
<div class="modal fade pop-up" id="add_address_popup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" enctype= "multipart/form-data">{% csrf_token %}
      <input type="hidden" name="action_type" value="add_address">
      <div class="body pop-up-small">
          <div class="modal-header">
            <h1>Address</h1>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
         {% for field in address_form %}
              <div class="page-col">

                {{ field.errors }}    

                {{ field.label_tag }} {{ field }}

                {% if field.help_text %}

                <p class="help">{{ field.help_text|safe }}</p>

                {% endif %}

             </div>

             {% endfor %}

              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="close-btn" data-dismiss="modal">Close</button>
              <button type="button" class="primary-btn" onclick="submitAnyForm(this);">Add</button>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>
<!-- /add_address_popup -->
    
{% include 'evaluator/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script>

$('document').ready(function(){

//HIDE AND SHOW WITH CUSTOMER TYPE initial
customer_type = $("#id_customer_type").val();

if(customer_type=='CORPORATE')
{
$("#id_company").parents('.page-col').show();
$("#id_job_title").parents('.page-col').show();
}
else
{
$("#id_company").parents('.page-col').hide();
$("#id_job_title").parents('.page-col').hide();
}

//initial areas empty
$("#id_area").empty();

});


//HIDE AND SHOW WITH CUSTOMER TYPE
$("#id_customer_type").change(function(){
customer_type=this.value;
if(customer_type=='CORPORATE')
{
$("#id_company").parents('.page-col').show();
$("#id_job_title").parents('.page-col').show();
}
else
{
$("#id_company").parents('.page-col').hide();
$("#id_job_title").parents('.page-col').hide();
$("#id_company").val('');
$("#id_job_title").val('');
}
});


//popup
$(".add_address_button").click(function () {   
    $('#add_address_popup').modal('show');        
      });

//Append area for governorate change

$(".governorate").change(function(){ 

  id=this.id.match(/\d+/); 


  $.ajax({

        url: "{% url 'agent:ajax-getarea' %}",

        data: {'governorate_id':this.value}, 

        dataType: 'json',

        success: function (data) { 

          ajax_ret_areas = data;     

   $("#id_area").empty();

  

          $("#id_area").append($('<option>', {

          value: "", 

         text: "-------------"

      })); 

        $.each( ajax_ret_areas, function( key, values ) {

              $("#id_area").append($('<option>', {        

    value: key, 

    text: values   

  }));   

      });


        }  

      }); 

});

//update address status
$(".active_address").change(function(){

  $.ajax({

        url: "{% url 'agent:ajax-updateaddress' %}",

        data: {'address_id':this.value,'status':this.checked}, 

        dataType: 'json',

        success: function (data) { 

          console.log(data);

                                }
          });                       

 })
</script>    
{% endblock %}