{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "evaluator/common/header.html" %}

<section class="content"><!--content-->
<div class="container-fluid space topspace"><!--container-fluid space topspace-->
    <div class="welcome-wrapper"><!--welcome-wrapper-->
        <h1 class="dashboard-head">Enquiry Form</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div><!--welcome-wrapper-->
            
        
<div class="order-top-wrapper"><!--order-top-wrapper-->
	<div class="cleaning-Order-wrapper"><!--cleaning-Order-wrapper-->
    	<div class="cleaning--left-stretch"><!--cleaning--left-stretch-->
         <div class="center-formDiv"><!--center-formDiv-->	    
        
<br><br>

 				<div class="order-Number bold-text"> <label>Existing Clients</label></div>
        
        <div id="search_box">
        <input name="time" type="text" id="search_box" class="textBox auto-complete-input" placeholder="Search here existing clients..." data-min-size="2" data-pattern="[a-zA-Z0-9\s]" data-result-onclick="select_existing_enquiry" data-auto-suggest-url="{% url 'agent:get-customerInfo' %}">
        </div>    

                <hr class="div">
	<div class="common-sub-head align-left">Existing Enquiry</div> 
    <br>
<form method="post" action="" enctype= "multipart/form-data">{% csrf_token %}
<input type="hidden" name="action_type" value="update_customer_details">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Name</label></div>
                <input name="name" id="id_name" type="text" class="textBox" placeholder=" " required value="{{enquiry_user.name}}">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Gender</label></div>
                <label for="favcity">
                <select id="favcity" name="gender" required>
                <option value="">Choose your Gender</option>
                <option value="MALE" {% if enquiry_user.gender == 'MALE' %}selected{% endif %}>Male</option>
                <option value="FEMALE" {% if enquiry_user.gender == 'FEMALE' %}selected{% endif %}>Female</option>
                </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad"> 

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Email</label></div>
                <input name="email" id="id_email" type="text" class="textBox" placeholder=" " required value="{{enquiry_user.email}}">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Phone</label></div>
				<input name="mobile_number" id="id_mobile_number" type="text" class="textBox" placeholder=" " value="{{enquiry_user.mobile_number}}">
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad"> 

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Nationality</label></div>
                <label for="favcity">   
                {% load countries %}
                {% get_countries as countries %} 
                <select id="favcity" name="nationality">
                <option value="">Choose Country</option> 
                {% for country in countries %}
                <option value="{{country.code}}" {% if country.code == enquiry_user.nationality %}selected{% endif %}>{{country.name}}</option>
                {% endfor %}
                </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Customer Type</label></div>
                <label for="favcity">
                <select id="id_customer_type" name="customer_type">
                <option value="">Choose Customer Type</option>
                <option value="INDIVIDUAL" {% if enquiry_user.customer_type == 'INDIVIDUAL' %}selected{% endif %}>INDIVIDUAL</option>
                <option value="RETAIL" {% if enquiry_user.customer_type == 'RETAIL' %}selected{% endif %}>RETAIL</option>
                <option value="CORPORATE" {% if enquiry_user.customer_type == 'CORPORATE' %}selected{% endif %}>CORPORATE</option>
                </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<div id="id_customer_type_expand">
<hr class="hr-dashedpad"> 

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Company</label></div>
                <input name="Company" id="id_company" type="text" class="textBox" placeholder=" " value="{{enquiry_user.Company|default_if_none:''}}">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Job Title</label></div>
				<input name="job_title" id="id_job_title" type="text" class="textBox" placeholder=" " value="{{enquiry_user.job_title|default_if_none:''}}">
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
</div>

<hr class="hr-dashedpad"> 

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Civil ID</label></div>
                <input name="civil_id_number" id="id_civil_id_number" type="text" class="textBox" placeholder=" " value="{{enquiry_user.civil_id_number|default_if_none:''}}">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Other Mobile</label></div>
				<input name="phone_number" id="id_phone_number" type="text" class="textBox" placeholder=" " value="{{enquiry_user.phone_number|default_if_none:''}}">
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>SMS Language</label></div>
                <label for="favcity">
                <select id="favcity" name="sms_preference">
                <option value="">Choose Language</option>
                <option value="ENGLISH" {% if enquiry_user.sms_preference == 'ENGLISH' %}selected{% endif %}>ENGLISH</option>
                <option value="ARABIC" {% if enquiry_user.sms_preference == 'ARABIC' %}selected{% endif %}>ARABIC</option>
                </select>
                </label>
  </div><!--ticket-form-left-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad"> 

{% for address in addresses %}
{%  if forloop.counter|divisibleby:2 %}
<div class="address-form-right"><!--address-form-right-->
        <div class=" bold-text common-label"> <label>&nbsp;</label></div>
        <div class="address-wrapper"><!--address-wrapper-->
        <div class="address-col-left"><!--address-col-left-->
        <div class="check-box"><input type="checkbox" name="active_addresses" class="active_address" id="fruit4" value="{{address.id}}" {% if address.currently_active %}checked{% endif %}></div>
        </div><!--address-col-left-->
        
        <div class="address-col-middle"><!--address-col-middle-->
        <p class="bold-text">Address {{forloop.counter}}</p>
        <p>{{address.apartment}}, {{address.floor}}, {{address.building}}, {{address.block}}, {{address.governorate}}, {{address.avenue}}, {{address.area.name}} {{address.governorate.name}}</p>
        <br>
        </div><!--address-col-middle-->
        
    </div><!--address-wrapper-->
    </div><!--address-form-right-->    
</div><!--address-wrapper-row address-forms-boxes-->

{% else %}
<div class="address-wrapper-row address-forms-boxes"><!--address-wrapper-row address-forms-boxes-->
  <div class="address-form-left"><!--address-form-left-->
    
    {% if forloop.first %}
    <div class=" bold-text common-label"> <label>Customer Address</label></div>
    {% else %}
    <div class=" bold-text common-label"> <label>&nbsp;</label></div>
    {% endif %}
    <div class="address-wrapper"><!--address-wrapper-->
    <div class="address-col-left"><!--address-col-left-->
    <div class="check-box"><input type="checkbox" name="active_addresses" class="active_address" value="{{address.id}}" {% if address.currently_active %}checked{% endif %}></div>
    </div><!--address-col-left-->
    
    <div class="address-col-middle"><!--address-col-middle-->
    <p class="bold-text">Address {{forloop.counter}}</p>
    <p>{{address.apartment}}, {{address.floor}}, {{address.building}}, {{address.block}}, {{address.governorate}}, {{address.avenue}}, {{address.area.name}} {{address.governorate.name}}</p>
    <br>
    </div><!--address-col-middle-->

</div><!--address-wrapper-->
</div><!--address-form-left-->
{% if forloop.last %}
</div><!--address-wrapper-row address-forms-boxes-->
{% endif %}
{% endif %}
{% endfor %}

<div class="add-address"><a href="#addnewaddress_popup">Add New Address</a></div>

<br>
<div align="center"><input class="cancel-Button" name="addevaluator" type="button" value="Update" onclick="submitAnyForm(this);"> <a href="{% url 'evaluator:evaluator-makeevaluation' enquiryid %}"><input class="assignButton" name="addevaluator" type="button" value="Add to My Callendar"></a> <a href="{% url 'evaluator:evaluator-makequatation' enquiryid %}"><input class="assignButton" name="addevaluator" type="button" value="Make Quatation"></a>
</div>    
<br><br>
        
        </div> <!--center-formDiv-->
		</div><!--cleaning--left-stretch-->  
</form>

        <div class="cleaning--right-fixed"><!--cleaning--right-fixed-->
        	<div class="order-card-column whitebg red-border"><!--order-card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/order-client-page/images/card-orders-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Orders</h1>
            	<h2 class="red-text"><label>Active<span>{{active_orders_count|default_if_none:'0'}}</span></label> </h2>
            	<p><label>Total<span>{{total_orders_count|default_if_none:'0'}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--order-card-column-->
        <div class="right-bgwrapper"><!--right-bgwrapper-->    
            <div class="profile-pic"><img src="{% static 'files/order-client-page/images/profile-pic.png' %}"></div>
            <div class="client-name">{{enquiry_user.name}}</div>
            <div class="common-gray-text">{{enquiry_user.mobile_number}}</div>
            <div class="common-gray-text">{{enquiry_user.email}}</div>
            <br>
            <hr class="hr">
            <div class="common-gray-text">Comapany Name : <span class="bold-text">{{enquiry_user.company|default_if_none:''}}</span></div>
            <div class="common-gray-text">Nationality : <span class="bold-text">{{enquiry_user.nationality.name|default_if_none:''}}</span></div>
            <div class="common-gray-text">Other Contact : <span class="bold-text">{{enquiry_user.phone_number|default_if_none:''}}</span></div>
            <hr class="hr">
            <br>
            {% for address in addresses %}
            <div class="address-bold"><i class="fa fa-lg fa-home green-text" aria-hidden="true"></i> Address {{forloop.counter}}: {{address.apartment}}</div>
            <div class="address">{{address.building}}, {{address.street}}, {{address.area.name}}, {{address.governorate.name}}</div>
            <br>
            {% endfor %} 
        </div><!--right-bgwrapper-->     
        </div><!--cleaning--right-fixed-->  
	</div><!--cleaning-Order-wrapper-->
</div><!--order-top-wrapper-->  
            
            
            
            
                 
</div><!--container-fluid space topspace-->
</section><!--content-->
    
 <!-- new address popup -->
<div id="addnewaddress_popup" class="overlay"><!--overlay-->
    <div class="popup-assign-eval"><!--popup-assign-eval-->
        <a class="close" href="#">&times;</a>
            <div class="content"><!--content-->
            
<form method="post" enctype= "multipart/form-data">{% csrf_token %}                      
<input type="hidden" name="action_type" value="add_address">
            <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->      
          
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Appartment</label></div>
        <input type="text" name="apartment" class="textBox">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Floor</label></div>
                <input type="text" name="floor" class="textBox">
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad">

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Building</label></div>
        <input type="text" name="building" class="textBox">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Block</label></div>
                <input type="text" name="block" class="textBox">
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad">

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Street</label></div>
        <input type="text" name="street" class="textBox">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Avenue</label></div>
                <input type="text" name="avenue" class="textBox">
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad">

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Governorate</label></div>
        <label for="favcity">
                <select id="favcity" name="governorate" class="governorate">
                <option value="">Choose Governorate</option>
                {% for governorate in governorates %}
                <option value="{{governorate.id}}">{{governorate.name}}</option>
                {% endfor %}
                </select>
        </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Area</label></div>
          <label for="favcity">
                <select id="id_area" name="area">
                </select>
          </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
 <hr class="hr-dashedpad">     
  
<div align="center"> <input class="assignButton" name="assing" type="button" value="Add" onclick="submitAnyForm(this);"></div> 

</div><!--ticket-wrapper-full-->             
</form>
            </div><!--content-->
    </div><!--popup-assign-eval-->
</div><!--overlay-->
<!-- new address popup -->   
{% include 'evaluator/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script>
$('document').ready(function(){
  //HIDE AND SHOW WITH CUSTOMER TYPE
$("#id_customer_type").change(function(){
customer_type=this.value;

if(customer_type=='CORPORATE')
{
$("#id_customer_type_expand").css('display','block');  
$("#id_company").parents('.page-col').show();
$("#id_job_title").parents('.page-col').show();
}
else
{
$("#id_customer_type_expand").css('display','none');
$("#id_company").parents('.page-col').hide();
$("#id_job_title").parents('.page-col').hide();
$("#id_company").val('');
$("#id_job_title").val('');
}
    });
})
  
//Append area for governorate change

$(".governorate").change(function(){ 

  id=this.id.match(/\d+/); 


  $.ajax({

        url: "{% url 'agent:ajax-getarea' %}",

        data: {'governorate_id':this.value}, 

        dataType: 'json',

        success: function (data) { 

          ajax_ret_areas = data;     

   $("#id_area").empty();

  

          $("#id_area").append($('<option>', {

          value: "", 

         text: "Choose Area"

      })); 

        $.each( ajax_ret_areas, function( key, values ) {

              $("#id_area").append($('<option>', {        

    value: key, 

    text: values   

  }));   

      });


        }  

      }); 

});


//update address status
$(".active_address").change(function(){

  $.ajax({

        url: "{% url 'agent:ajax-updateaddress' %}",

        data: {'address_id':this.value,'status':this.checked}, 

        dataType: 'json',

        success: function (data) { 

          console.log(data);

                                }
          });                       

 })

</script>    

<script>
  //  auto complete search

$(window).ready(function(){

  $('.auto-complete-input').attr('autocomplete','off').keyup(search_live).focusout(autoSuggestionOnFocusOut
      ).after($('<div/>',{class:'auto-complete-results'})).parent().css('position','relative',);
      
      //Initial case
      $(".auto-complete-results").css('display','none');

    
});

//Dont Know
$(window).ready(function(){
    $('.goto-url').click(function(){window.location.href=$(this).data('url');});
}); 



function autoSuggestionOnFocusOut(event)
{
  
    setTimeout(function(){

      $(event.target).siblings('.auto-complete-results').first().hide();
      },1000);

}


function select_existing_enquiry(event,src){
          var client_id=$(src).attr('data-id');
          if(client_id!=0)
          {
              window.location="{% url 'agent:agent-existingenquiry' enquiry_id=123 %}".replace(/123/,client_id.toString());
          }
          
}




function autoSuggestionOnSelect(event){
    eval($(this).data('select-result'))(event,$(this));
    $(this).parents('.auto-complete-results').first().hide().siblings('.auto-complete-input').val('');
}


//Keyup condition
function search_live(event){
    var src=$(this);
    var min_size=src.data('min-size');

    var test_pattern=src.data('pattern');
    if(test_pattern)
        {
        test_pattern=RegExp(test_pattern);
        var inp = String.fromCharCode(event.keyCode);
        if (! test_pattern.test(inp)) return;
        }
        var val=src.val();
    if(min_size)
        {
        if(val.length<min_size) return;
        }
    var fetch_params_fn_name=eval(src.data('fetch-params'));
    var data={};
    if(fetch_params_fn_name)
        data=fetch_params_fn_name();
    data['keyword']=val;//typed key words
    var url=src.data('auto-suggest-url');//list fetching url
    var on_result_click=src.data('result-onclick');//after result url


    var ajax={type:'get',url:url,data:data,
  
    success:function (data){
      var listOfObjects = [];
        if( data['customer_details'])
            {

            $res=src.siblings('.auto-complete-results').first();
            $res.contents().remove();
            


            $.each( data['customer_details'],(i,v)=>{
              $('<div/>',{class:'auto-complete-result-item','data-id':i,
                text:v}).appendTo($res).
                on('click',autoSuggestionOnSelect).
                data('select-result',on_result_click).
                attr('tabindex',-1);
            });
            $res.css('position','absolute');
            $res.outerWidth(src.outerWidth());
            $res.css('top',(src.position().top+src.outerHeight()).toString()+'px');
          
                $res.show();
            }
          if(data['status'] == 'false'){
            $res=src.siblings('.auto-complete-results').first();
            $res.contents().remove();
          
            $('<div/>',{class:'auto-complete-result-item','data-id':0,
                text:"No result Found"}).appendTo($res).
                on('click',autoSuggestionOnSelect).
                data('select-result',on_result_click).
                attr('tabindex',-1);
            $res.outerWidth(src.outerWidth());
            $res.css('top',(src.position().top+src.outerHeight()).toString()+'px');
          
                $res.show();
          }
          }
        };
        $.ajax(ajax);
}

</script>
{% endblock %}
