{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "evaluator/common/header.html" %}

<section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Quatation Details</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->       
            
<div class="main-content-holder"><!--main-content-holder-->                

<div class="white-wrapper"><!--white-wrapper-->
  <div class="row">
  <div class="col-md-10">  
	<h2 class="h2">Quatation Form</h2>
  </div>
  <div class="col-md-2">
  <a class="a-btn back-btn" href="{% url 'evaluator:evaluator-makequatation1' evaluation_details.evaluation.customer.id evaluation_details.evaluation.id %}">Back</a>
  </div>
  </div>
  
  <div class="name">
    <label>{{evaluation_details.evaluation.evaluation_id}}</label>
   </div>
   <div class="address">
    <label>{{evaluation_details.address.block}} Block</label><br> 
    <label>{{evaluation_details.address.building}} Building</label><br>
    <label>{{evaluation_details.address.street}} Street</label><br>
    <label>{{evaluation_details.address.area.name}}</label>
   </div>

  <div class="row">

    <div class="col-12"> 

      <div class="page-form">

        <form method="post" action="" enctype= "multipart/form-data">{% csrf_token %} 
        
         <div class="page-body">	

         {{ service_formset.management_form }}

         {% for form in service_formset %}

          <div class="div-section">

            <div class="div-section-head">

              <h2 class="h2">Service Details</h2>  

             </div>

            <div class="link_formset">    

              {% for field in form %}
              <div class="page-col">

                {{ field.errors }}    

                {{ field.label_tag }} {{ field }}

                {% if field.help_text %}

                <p class="help">{{ field.help_text|safe }}</p>

                {% endif %}

             </div>

             {% endfor %} 

          </div>

        </div>

      {% endfor %}

      
      <div class="multi_field_wrapper multi-field-wrapper">

        <div class="multi-fields">

          <div class="multi-field page-col">

           <label>Upload Media :</label>

           <input type="file" name="media" maxlength="100"/>

          <button type="button" class="remove-field-btn" title="Remove field">

              <i class="fa fa-minus-square-o" aria-hidden="true"></i>

            </button>

          </div>

        </div>

      <button type="button" class="add-field-btn" title="Add field">

        <i class="fa fa-plus-square-o" aria-hidden="true"></i>

      </button> 

    </div>

</div>

<div class="page-footer text-center">
    <button type="button" class="primary-btn" onclick="submitAnyForm(this);">Save</button>
</div>

</form>
</div>
</div>
</div>

	
</div><!--white-wrapper-->

</div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'evaluator/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script>
var x=0; 

$('document').ready(function(){
//formset
    $('.link_formset').formset({

        addText: 'Add Service',

        deleteText: 'Remove Service', 

         added: add_row,

        removed: remove_row,

    });

//Add raw function
function add_row(){

x++;
$("#id_form-"+x+"-cleaning_method").empty();
$("#id_form-"+x+"-cleaning_type").parents('.page-col').hide();
$("#id_form-"+x+"-floor_type").parents('.page-col').hide();
$("#id_form-"+x+"-number_of_floors").parents('.page-col').hide();
$("#id_form-"+x+"-number_of_rooms").parents('.page-col').hide();
$("#id_form-"+x+"-location_type").parents('.page-col').hide();

$("#id_form-"+x+"-set_type").parents('.page-col').hide();
$("#id_form-"+x+"-set_size").parents('.page-col').hide();
$("#id_form-"+x+"-piece_of_chairs").parents('.page-col').hide();
$("#id_form-"+x+"-chair_fabric_type").parents('.page-col').hide();
$("#id_form-"+x+"-piece_of_sofas").parents('.page-col').hide();
$("#id_form-"+x+"-sofa_fabric_type").parents('.page-col').hide();


$("#id_form-"+x+"fabric_type").parents('.page-col').hide();
$("#id_form-"+x+"-size_of_carpet").parents('.page-col').hide();
$("#id_form-"+x+"-spot_stain_status").parents('.page-col').hide();

$("#id_form-"+x+"-sanitization_type").parents('.page-col').hide();
$("#id_form-"+x+"-size_to_be_sanitised").parents('.page-col').hide();

$("#id_form-"+x+"-bed_type").parents('.page-col').hide();
$("#id_form-"+x+"-bed_size").parents('.page-col').hide();

//Initial hiding of cleaning policy
$("#id_form-"+x+"-tendative_date").parents('.page-col').hide();
$("#id_form-"+x+"-tendative_dates").parents('.page-col').hide();
$("#id_form-"+x+"-end_time").parents('.page-col').hide();
$("#id_form-"+x+"-start_time").parents('.page-col').hide();
$("#id_form-"+x+"-tendative_date").val('');
$("#id_form-"+x+"-tendative_dates").val('');
$("#id_form-"+x+"-end_time").val('');
$("#id_form-"+x+"-start_time").val('');
//tendative date initial
$(function () {
  $("#id_form-"+x+"-tendative_date").datetimepicker({ 
    pickTime: false, 
    format: "DD-MM-YYYY",
  });
});
//tendative dates initial
$(function () {
  $("#id_form-"+x+"-tendative_dates").datepicker({ 
    multidate: true,
    closeOnDateSelect: true,
    format: "dd-mm-yyyy",
  });
});
//tendative time initial
$(function () {
  $("#id_form-"+x+"-start_time").datetimepicker({
    pickDate:false,
    format: 'hh:mm A',
  });
});
}    


//delete raw function
function remove_row(){
  x--;
}

//Initial hiding service form
$("#id_form-"+x+"-cleaning_method").empty();
$("#id_form-"+x+"-cleaning_type").parents('.page-col').hide();
$("#id_form-"+x+"-floor_type").parents('.page-col').hide();
$("#id_form-"+x+"-number_of_floors").parents('.page-col').hide();
$("#id_form-"+x+"-number_of_rooms").parents('.page-col').hide();
$("#id_form-"+x+"-location_type").parents('.page-col').hide();

$("#id_form-"+x+"-set_type").parents('.page-col').hide();
$("#id_form-"+x+"-set_size").parents('.page-col').hide();
$("#id_form-"+x+"-piece_of_chairs").parents('.page-col').hide();
$("#id_form-"+x+"-chair_fabric_type").parents('.page-col').hide();
$("#id_form-"+x+"-piece_of_sofas").parents('.page-col').hide();
$("#id_form-"+x+"-sofa_fabric_type").parents('.page-col').hide();

$("#id_form-"+x+"fabric_type").parents('.page-col').hide();
$("#id_form-"+x+"-size_of_carpet").parents('.page-col').hide();
$("#id_form-"+x+"-spot_stain_status").parents('.page-col').hide();

$("#id_form-"+x+"-sanitization_type").parents('.page-col').hide();
$("#id_form-"+x+"-size_to_be_sanitised").parents('.page-col').hide();

$("#id_form-"+x+"-bed_type").parents('.page-col').hide();
$("#id_form-"+x+"-bed_size").parents('.page-col').hide();
//Initial hiding of cleaning policy
$("#id_form-"+x+"-tendative_date").parents('.page-col').hide();
$("#id_form-"+x+"-tendative_dates").parents('.page-col').hide();
$("#id_form-"+x+"-end_time").parents('.page-col').hide();
$("#id_form-"+x+"-start_time").parents('.page-col').hide();
$("#id_form-"+x+"-tendative_date").val('');
$("#id_form-"+x+"-tendative_dates").val('');
$("#id_form-"+x+"-end_time").val('');
$("#id_form-"+x+"-start_time").val('');

//tendative date initial
$(function () {
  $("#id_form-"+x+"-tendative_date").datetimepicker({ 
    pickTime: false, 
    format: "DD-MM-YYYY",
  });
});
//tendative dates initial
$(function () {
  $("#id_form-"+x+"-tendative_dates").datepicker({ 
    multidate: true,
    closeOnDateSelect: true,
    format: "dd-mm-yyyy",
  });
});
//tendative time initial
$(function () {
  $("#id_form-"+x+"-start_time").datetimepicker({
    pickDate:false,
    format: 'hh:mm A',
  });
});


});






//Trick based on Cleaning Type
$(".service_type").change(function (){  
id=this.id.match(/\d+/); 


$.ajax({

        url: "{% url 'agent:ajax-getcleaningmethod' %}",

        data: {'service_type_id':this.value}, 

        dataType: 'json',

        success: function (data) { 

          ajax_ret_areas = data;     
          $("#id_form-"+id+"-cleaning_method").empty();

          $("#id_form-"+id+"-cleaning_method").append($('<option>', {
              value: "", 
              text: "-------------"
                                })); 

        $.each( ajax_ret_areas, function( key, values ) {
              $("#id_form-"+id+"-cleaning_method").append($('<option>', {        
                  value: key, 
                  text: values   
                                }));   
                                });
                }  
      });



service_type =  $("#id_form-"+id+"-service_type option:selected").text();

if(service_type == 'General Cleaning')
{
$("#id_form-"+id+"-dirt_level").parents('.page-col').show();  
$("#id_form-"+id+"-cleaning_type").parents('.page-col').show();
$("#id_form-"+id+"-location_type").parents('.page-col').show();
$("#id_form-"+x+"-floor_type").parents('.page-col').show();
$("#id_form-"+x+"-number_of_floors").parents('.page-col').show();
$("#id_form-"+x+"-number_of_rooms").parents('.page-col').show();
}
else
{
$("#id_form-"+id+"-cleaning_type").parents('.page-col').hide();
$("#id_form-"+id+"-location_type").parents('.page-col').hide();
$("#id_form-"+x+"-floor_type").parents('.page-col').hide();
$("#id_form-"+x+"-number_of_floors").parents('.page-col').hide();
$("#id_form-"+x+"-number_of_rooms").parents('.page-col').hide();
$("#id_form-"+id+"-cleaning_type").val('');
$("#id_form-"+id+"-location_type").val('');
$("#id_form-"+x+"-floor_type").val('');
$("#id_form-"+x+"-number_of_floors").val('');
$("#id_form-"+x+"-number_of_rooms").val('');
}


if(service_type == 'Upholstery Cleaning')
{
$("#id_form-"+id+"-dirt_level").parents('.page-col').show();  
$("#id_form-"+x+"-set_type").parents('.page-col').show();
$("#id_form-"+x+"-set_size").parents('.page-col').show();
$("#id_form-"+x+"-piece_of_chairs").parents('.page-col').show();
$("#id_form-"+x+"-chair_fabric_type").parents('.page-col').show();
$("#id_form-"+x+"-piece_of_sofas").parents('.page-col').show();
$("#id_form-"+x+"-sofa_fabric_type").parents('.page-col').show();
$("#id_form-"+id+"-spot_stain_status").parents('.page-col').show();
}
else
{
$("#id_form-"+x+"-set_type").parents('.page-col').hide();
$("#id_form-"+x+"-set_size").parents('.page-col').hide();
$("#id_form-"+x+"-piece_of_chairs").parents('.page-col').hide();
$("#id_form-"+x+"-chair_fabric_type").parents('.page-col').hide();
$("#id_form-"+x+"-piece_of_sofas").parents('.page-col').hide();
$("#id_form-"+x+"-sofa_fabric_type").parents('.page-col').hide();

$("#id_form-"+x+"-set_type").val('');
$("#id_form-"+x+"-set_size").val('');
$("#id_form-"+x+"-piece_of_chairs").val('');
$("#id_form-"+x+"-chair_fabric_type").val('');
$("#id_form-"+x+"-piece_of_sofas").val('');
$("#id_form-"+x+"-sofa_fabric_type").val('');

if(service_type != 'Carpet Cleaning')
{
    $("#id_form-"+id+"-spot_stain_status").parents('.page-col').hide();
    $("#id_form-"+id+"-spot_stain_status").prop("checked",false);
}
}


if(service_type == 'Carpet Cleaning')
{
$("#id_form-"+id+"-dirt_level").parents('.page-col').show();  
$("#id_form-"+id+"-fabric_type").parents('.page-col').show();
$("#id_form-"+id+"-size_of_carpet").parents('.page-col').show();
$("#id_form-"+id+"-spot_stain_status").parents('.page-col').show();
}
else
{
$("#id_form-"+id+"-size_of_carpet").parents('.page-col').hide();
$("#id_form-"+id+"-size_of_carpet").val('');
$("#id_form-"+id+"-fabric_type").parents('.page-col').hide();
$("#id_form-"+id+"-fabric_type").val('');

if(service_type != 'Upholstery Cleaning')
{
    $("#id_form-"+id+"-spot_stain_status").parents('.page-col').hide();
    $("#id_form-"+id+"-spot_stain_status").prop("checked",false);
}
}




if(service_type == 'Sanitization Services')
{
$("#id_form-"+id+"-sanitization_type").parents('.page-col').show();
$("#id_form-"+id+"-size_to_be_sanitised").parents('.page-col').show();
}
else
{
$("#id_form-"+id+"-sanitization_type").parents('.page-col').hide();
$("#id_form-"+id+"-size_to_be_sanitised").parents('.page-col').hide();
$("#id_form-"+id+"-sanitization_type").val('');
$("#id_form-"+id+"-size_to_be_sanitised").val('');
  
  if(service_type == 'Mattress')
  {
    $("#id_form-"+id+"-dirt_level").parents('.page-col').hide();
    $("#id_form-"+id+"-dirt_level").val('');
  } 
}


if(service_type == 'Mattress')
{
  $("#id_form-"+id+"-bed_type").parents('.page-col').show();
  $("#id_form-"+id+"-bed_size").parents('.page-col').show();
}
else
{
$("#id_form-"+id+"-bed_type").parents('.page-col').hide();
$("#id_form-"+id+"-bed_type").val('');
$("#id_form-"+id+"-bed_size").parents('.page-col').hide();
$("#id_form-"+id+"-bed_size").val('');
  
  if(service_type == 'Sanitization Services')
  {
    $("#id_form-"+id+"-dirt_level").parents('.page-col').hide();
    $("#id_form-"+id+"-dirt_level").val('');
  }

}
});


//Trick based on Cleaning Policy
$(".cleaning_policy").change(function (){  
id              = this.id.match(/\d+/);
cleaning_policy = this.value;
if(cleaning_policy=="SUBSCRIPTION")
{
$("#id_form-"+id+"-tendative_date").val('');
$("#id_form-"+id+"-tendative_dates").val('');
$("#id_form-"+id+"-tendative_dates").parents('.page-col').show();
$("#id_form-"+id+"-start_time").parents('.page-col').show();
$("#id_form-"+id+"-tendative_date").parents('.page-col').hide();
}
else if(cleaning_policy=="ONE TIME SERVICE")
{
  $("#id_form-"+id+"-tendative_date").val('');
$("#id_form-"+id+"-tendative_dates").val('');
$("#id_form-"+id+"-tendative_date").parents('.page-col').show();
$("#id_form-"+id+"-start_time").parents('.page-col').show();
$("#id_form-"+id+"-tendative_dates").parents('.page-col').hide();
}
else{
$("#id_form-"+id+"-tendative_date").parents('.page-col').hide();
$("#id_form-"+id+"-tendative_date").parents('.page-col').hide();
$("#id_form-"+id+"-start_time").parents('.page-col').hide();
$("#id_form-"+id+"-tendative_date").val('');
$("#id_form-"+id+"-tendative_dates").val('');
$("#id_form-"+id+"-start_time").val('');
}

});

//Total cost based on discount
$('.estimated_cost').keyup(findtotal);
$('.discount').keyup(findtotal);

function findtotal(event)
{
  id = $(this).attr('id').match(/\d+/);
  estimated_cost = $("#id_form-"+id+"-estimated_cost").val();
  discount       = $("#id_form-"+id+"-discount").val();
  total          = estimated_cost-discount
  
  $("#id_form-"+id+"-total_cost").val(total);
}

</script>    
{% endblock %}