{% load static %}
<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quotation | Details</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="91216e926eab41d8aa403bf4b00f4e19">
    <link href="{% static 'files/css/main_external.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'files/css/template.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <div>
      <!-- <div class="left-stripes"> -->
        <div class="circle c-upper"></div>
        <div class="circle c-lower"></div>
      </div>

      <div class="right-invoice">
        <section id="memo">
          <div class="company-info">
            <div>Bleach Cleaning Services<div class="company-name-arabic"> بليتش لخدمات التنظيف</div>		
          	</div>
		  </div>
          <div class="logo_invoice">
            <img src="{% static 'files/images/logo.png' %}" />
          </div>
             
        </section>
      <section id="invoice-info">
        <div class="order-details-wrapper"><!--order-details-wrapper--> 
          <div class="order-details-left-stretch"><!--order-details-left-stretch-->
          
            {% for orderschedule in order.orderschedules %}
              
                {% if orderschedule.order_scheduler_book.id == serviceid %}
                  <div id="details{{orderschedule.id}}">
                  <div class="details-head"> {{order.order_no}} Item In-detail <div class="order-date"></div></div>	
                  <hr class="style-three" > 
                <div class="order-clean-Details-wrapper"><!--order-clean-Details-wrapper-->
                      <div class="order-clean-Details-widget order-clean-Details-widget-column1"><!--order-clean-Details-widget order-clean-Details-widget-column1-->
                  <div class="cleaning-img">
                  {% if orderschedule.order_scheduler_book.service_type.name == 'General Cleaning' %}
                    <img src="{% static 'files/images/service_general_cleaning.jpg' %}" >
                    {% elif orderschedule.order_scheduler_book.service_type.name == 'Deep Cleaning' %}
                    <img src="{% static 'files/images/service_deep_cleaning.jpg' %}">
                    {% elif orderschedule.order_scheduler_book.service_type.name == 'Carpet Cleaning' %}
                    <img src="{% static 'files/images/Service_carpet_cleaning.jpg' %}">
                    {% elif orderschedule.order_scheduler_book.service_type.name == 'Upholstery Cleaning' %}
                    <img src="{% static 'files/images/Service_uppostry.jpg' %}">
                    {% elif orderschedule.order_scheduler_book.service_type.name == 'Kitchen Cleaning' %}
                    <img src="{% static 'files/images/Service_kitchen_cleaning.jpg' %}">
                    {% elif orderschedule.order_scheduler_book.service_type.name == 'Sterilization' %}
                    <img src="{% static 'files/images/Service_sanitization.jpg' %}">
                    {% endif %}
                  </div>
                        </div><!--order-clean-Details-widget order-clean-Details-widget-column1-->
                        
                      <div class="order-clean-Details-widget order-clean-Details-widget-column2"><!--order-clean-Details-widget order-clean-Details-widget-column2-->
                            <div class="details-head align-left" style="font-size:18px;">{{orderschedule.order_scheduler_book.service_type.name}}</div>
                            <br>
                            {% if orderschedule.order_scheduler_book.cleaning_policy  ==  'ONE TIME SERVICE' %}
                            <div class="blue-bg-sm">ONE TIME</div>
                            {% else %}
                            <div class="green-bg-sm">SUBSCRIPTION</div>
                            {% endif %}
                            <br>
                        
                        {% if orderschedule.order_scheduler_book.cleaning_method %}
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> {{orderschedule.order_scheduler_book.cleaning_method}}</div>
                        {% endif %}
                        
                        {% if orderschedule.order_scheduler_book.area_type %}
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> {{orderschedule.order_scheduler_book.area_type}}</div>
                        {% endif %}
                        
                        {% if orderschedule.order_scheduler_book.location_type %}
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> {{orderschedule.order_scheduler_book.location_type}}</div>
                        {% endif %}
                        
                        {% if orderschedule.customer_address.area %}
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> {{orderschedule.customer_address.area.name}}</div>
                        {% endif %}

                        </div><!--order-clean-Details-widget order-clean-Details-widget-column2-->            
                        
                      <div class="order-clean-Details-widget order-clean-Details-widget-column3"><!--order-clean-Details-widget order-clean-Details-widget-column3-->
                        <br>
                        
                        {% if orderschedule.order_scheduler_book.cleaning_policy  ==  'ONE TIME SERVICE' %}
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-calendar red-text" aria-hidden="true"></i> {{orderschedule.start_at}}</div>
                        <br>
                        {% else %}
                        {% for subscription_schedule in order.orderschedules %}
                        {% if subscription_schedule.order_scheduler_book == orderschedule.order_scheduler_book %}
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-calendar red-text" aria-hidden="true"></i> {{subscription_schedule.start_at}}</div>
                        <br>
                        {% endif %}
                        {% endfor %}
                        {% endif %}


                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-building-o green-text" aria-hidden="true"></i> {{orderschedule.customer_address.building}}, {{orderschedule.customer_address.street}}, {{orderschedule.customer_address.area.name}}, {{orderschedule.customer_address.governorate.name}}</div>
                        {% comment %} <br>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-users blue-text" aria-hidden="true"></i> {{orderschedule.order_scheduler_book.number_of_cleaners}} Cleaners</div> {% endcomment %}
                        <br>
                        {% for section in orderschedule.order_scheduler_book.evaluationbooksection %}
                        
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-credit-card orange-text" aria-hidden="true"></i> {{section.section_cost|floatformat:2}} KD</div>
                        
                        {% endfor %}
                        </div><!--order-clean-Details-widget order-clean-Details-widget-column3-->                        
                    </div><!--order-clean-Details-wrapper--> 
            
                    
                  
            <hr class="divider" > 
            
            {% for section in orderschedule.order_scheduler_book.evaluationbooksection %}
            
            
            <div class="details-sub-head align-left">{{section.section_name}}</div>
            <br>
            <div class="filter-columns-wrapper"><!--filter-columns-wrapper-->
                <div class="filter-column-boxes filter-columns-left"><!--filter-column-boxes filter-columns-left-->   
                    {% if section.category %}  
                    <div class="category-cleaning"><span class="labelcategory">Category</span> : {{section.category}}</div>
                    {% endif %}
                    <div class="category-cleaning"><span class="labelcategory">Dirt Level</span> : {{section.dirt_level}}</div>
                    {% if section.age %}
                    <div class="category-cleaning"><span class="labelcategory">Age</span> : {{section.age}}</div>
                    {% endif %}
                    <div class="category-cleaning"><span class="labelcategory">Size</span> : {{section.size}} {{section.unit|default_if_none:''}}</div>
                    {% if section.floor %}
                    <div class="category-cleaning"><span class="labelcategory">Floors</span> : {{section.floor}}</div>
                    {% endif %}
                    {% if section.apartment %}
                    <div class="category-cleaning"><span class="labelcategory">Apartments</span> : {{section.apartment}}</div>
                    {% endif %}
                    {% if section.room %}
                    <div class="category-cleaning"><span class="labelcategory">Rooms</span> : {{section.room}}</div>
                    {% endif %}
                    </div><!--filter-column-boxes filter-columns-left-->

                    <div class="filter-column-boxes filter-columns-right"><!--filter-column-boxes filter-columns-right-->
                    {% if section.wall_type %}
                    <div class="category-cleaning"><span class="labelcategory">Wall Type</span>  : {{section.wall_type}}</div>
                    {% endif %}
                    {% if section.ceiling_type %}
                    <div class="category-cleaning"><span class="labelcategory">Celing Type</span>  : {{section.ceiling_type}}</div>
                    {% endif %}
                    {% if section.floor_type %}
                    <div class="category-cleaning"><span class="labelcategory">Floor Type</span>  : {{section.floor_type}}</div>
                    {% endif %}
                    {% if section.material %}
                    <div class="category-cleaning"><span class="labelcategory">Material</span>  : {{section.material}}</div>
                    {% endif %}
                    {% if section.colour %}
                    <div class="category-cleaning"><span class="labelcategory">Color</span>  : {{section.colour}}</div>
                    {% endif %}
                    {% if section.cause_of_stain %}
                    <div class="category-cleaning"><span class="labelcategory">Cause of Stain</span>  : {{section.cause_of_stain}}</div>
                    {% endif %}
                    </div><!--filter-column-boxes filter-columns-right-->
                    </div><!--filter-columns-wrapper--> 
            <br> 
            <div class="evaluation-card-wrapper"><!--evaluation-card-wrapper-->
                {% if section.sectionkeynotes %}
                {% for keynote in section.sectionkeynotes %}
                    <div class="evaluation-card"><!--evaluation-card-->
                        <div class="evaluation-section"><label>{{keynote.sub_area}}</label>{{keynote.quantity}}</div> 
                        </div><!--evaluation-card-->        
                {% endfor %}
                {% endif %}        
            
            </div><!--evaluation-card-wrapper-->
            {% endfor %}
            {% else %}
            {% endif %}
        {% endfor %} 
          </div><!--order-details-left-stretch-->
        
        </div><!--order-details-wrapper-->    
         

      </section>

        <div class="clearfix"></div>
        <section>
            <table cellpadding="0" cellspacing="0" class="table2">
            <tr>
              <td class="align-left">
                <b>
                Bleach International Contracting Company      
                for Cleaning Building & Cities WLL
                </b>
                <br>Office: No. 3 ● Building No. 8 ● Block 13
                <br>Qibila Building ● Mohamed Al Ghanim Street
                <br>Kuwait City ● PO Box 4489 ● Safat 13045 
                <br>CR No. 362934 ●  Tel 1882707
                <br>Email : customercare@bleach-kw.com</td>

                <td class="align-right">
                  <b>
                  شركة بلـــيتش الـــعالمــــية 
                  لمقاولات تنظيف المباني والمدن
                  </b>
                  <br>المكتب: رقم 3 ● مبنى رقم 8 ● بلوك 13
                  <br>عمارة قبيلة ● شارع محمد الغانم
                  <br>مدينة الكويت ● ص.ب 4489 ● الصفاة 13045
                  <br>رقم السجل التجاري 362934 ● هاتف 1882707
              
            </tr>
            <tr>
              <td style="background-color: white;" colspan="2" >
                 <div class="socil-media">
                  <ul>
    	             <li><a href="https://www.facebook.com/BleachKw/"><img src="{% static 'files/images/fb.svg' %}"></a></li>
                   <li><a href="#"><img src="{% static 'files/images/icon-twitter.svg' %}"></a></li>
                   <li><a href="https://www.instagram.com/bleachkw/?hl=en"><img src="{% static 'files/images/icon-insta.svg' %}"></a></li>
                   <li><a href="https://www.youtube.com/channel/UC_XhgxfirQrft_kAFRZPAOw"><img src="{% static 'files/images/icon-ut.svg' %}"></a></li>
                   <li><a href="https://www.linkedin.com/company/bleachkw"><img src="{% static 'files/images/icon-in.svg' %}"></a></li>
                  </ul>
    </div>
              </td>
            </tr>
               
          </table>
        </section>
        
         
      </div>
    </div>
    
    <table cellpadding="0" cellspacing="0" class="table3">
            <tr>
              <td colspan="2" ><input name="print" type="button" class="print" value="Print / طباعة" onclick="printDiv();">&nbsp;<a href="/customer/order-detail/download/{{order.id}}/{{sectionid}}"><input name="download" type="button" class="download" value="Download / تحميل"></a> </td>
            </tr>            
          </table>
    
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  
<script id="rendered-js" >

  function printDiv() 
  {
  window.print();
  }
 
</script>
  
 
  </body>
</html>