<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quotation | Details</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="91216e926eab41d8aa403bf4b00f4e19">
   
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/template.css">
  </head>
  <body>
    <div id="container">
      <div>
      <!-- <div class="left-stripes"> -->
        <div class="circle c-upper"></div>
        <div class="circle c-lower"></div>
      </div>

      <div class="right-invoice">
        <section id="memo">
          <div class="company-info">
            <div>Bleach Cleaning Services<div class="company-name-arabic"> بليتش لخدمات التنظيف</div>		
          	</div>
		  </div>
          <div class="logo_invoice">
            <img src="img/logo.png" />
          </div>
             
        </section>
      <section id="invoice-info">
        <div class="order-details-wrapper"><!--order-details-wrapper--> 
          <div class="order-details-left-stretch"><!--order-details-left-stretch-->
          
              <div class="details-head"> BLC100000020 Item 1 In-detail <div class="order-date"></div></div>	
               <hr class="style-three" > 
            <div class="order-clean-Details-wrapper"><!--order-clean-Details-wrapper-->
                  <div class="order-clean-Details-widget order-clean-Details-widget-column1"><!--order-clean-Details-widget order-clean-Details-widget-column1-->
              <div class="cleaning-img"><img src="img/cleaning.jpg"></div>
                    </div><!--order-clean-Details-widget order-clean-Details-widget-column1-->
                    
                  <div class="order-clean-Details-widget order-clean-Details-widget-column2"><!--order-clean-Details-widget order-clean-Details-widget-column2-->
                        <div class="details-head align-left">Deep Cleaning</div>
                        <br>
                        <div class="blue-bg-sm">One Time</div>
                        <br>
                        <div class="green-bg-sm">Subscription</div>
                        <br>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> Methord </div>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> Area Type</div>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> Location Type </div>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> Area </div>

                    </div><!--order-clean-Details-widget order-clean-Details-widget-column2-->            
                    
                  <div class="order-clean-Details-widget order-clean-Details-widget-column3"><!--order-clean-Details-widget order-clean-Details-widget-column3-->
                    <br>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-calendar red-text" aria-hidden="true"></i> 20 May 2020, 11:40AM</div>
                        <br>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-calendar red-text" aria-hidden="true"></i> 20 May 2020, 11:40AM</div>
                        <br>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-calendar red-text" aria-hidden="true"></i> 20 May 2020, 11:40AM</div>
                        <br>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-building-o green-text" aria-hidden="true"></i> Building Name, Number Street Namaem Number, Area, Governerate</div>
                        <br>
                        <div class="common-gray-text align-left"><i class="fa fa-lg fa-credit-card orange-text" aria-hidden="true"></i> 256 KD</div>
                    </div><!--order-clean-Details-widget order-clean-Details-widget-column3-->                        
                </div><!--order-clean-Details-wrapper--> 
  
                
               
        <hr class="divider" > 
        
        
        
        
        <div class="details-sub-head align-left">Section Name : Floor</div>
        <br>
        <div class="filter-columns-wrapper"><!--filter-columns-wrapper-->
            <div class="filter-column-boxes filter-columns-left"><!--filter-column-boxes filter-columns-left-->   
             <div class="category-cleaning"><span class="labelcategory">Category</span> : Category</div>
                <div class="category-cleaning"><span class="labelcategory">Dirt Level</span> : Dirt Level</div>
                <div class="category-cleaning"><span class="labelcategory">Size</span> : 100 sqm</div>
                <div class="category-cleaning"><span class="labelcategory">Floors</span> : 2</div>
                <div class="category-cleaning"><span class="labelcategory">Appartments</span> : 1</div>
                <div class="category-cleaning"><span class="labelcategory">Rooms</span> : 3</div>
                <div class="category-cleaning"><span class="labelcategory">Wall Type</span>  : apple, banana, cat dog, elephant</div>
                <div class="category-cleaning"><span class="labelcategory">Celing Type</span>  : apple, banana, cat dog, elephant</div>
                <div class="category-cleaning"><span class="labelcategory">Floor Type</span>  : apple, banana, cat dog, elephant</div>
                </div><!--filter-column-boxes filter-columns-left-->      
                </div><!--filter-columns-wrapper--> 
        <br> 
        <div class="evaluation-card-wrapper"><!--evaluation-card-wrapper-->
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
                <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->        
                
                <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
                <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->        
                
                <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
                <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->        
                
                <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
        
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
            <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->
                
                <div class="evaluation-card"><!--evaluation-card-->
                <div class="evaluation-section"><label>Bathroom</label>5</div> 
                </div><!--evaluation-card-->        
        
        </div><!--evaluation-card-wrapper-->   
          </div><!--order-details-left-stretch-->
        
        </div><!--order-details-wrapper-->    
         

      </section>

        <div class="clearfix"></div>
        <section>
            <table cellpadding="0" cellspacing="0" class="table2">
            <tr>
              <td class="align-left">
                <b>
                Bleach International Contracting Company      
                for Cleaning Building & Cities WLL
                </b>
                <br>Office: No. 3 ● Building No. 8 ● Block 13
                <br>Qibila Building ● Mohamed Al Ghanim Street
                <br>Kuwait City ● PO Box 4489 ● Safat 13045 
                <br>CR No. 362934 ●  Tel 1882707
                <br>Email : customercare@bleach-kw.com</td>

                <td class="align-right">
                  <b>
                  شركة بلـــيتش الـــعالمــــية 
                  لمقاولات تنظيف المباني والمدن
                  </b>
                  <br>المكتب: رقم 3 ● مبنى رقم 8 ● بلوك 13
                  <br>عمارة قبيلة ● شارع محمد الغانم
                  <br>مدينة الكويت ● ص.ب 4489 ● الصفاة 13045
                  <br>رقم السجل التجاري 362934 ● هاتف 1882707
              
            </tr>
            <tr>
              <td style="background-color: white;" colspan="2" >
                 <div class="socil-media">
    <ul>
    	<li><a href="#"><img src="img/fb.svg"></a></li>
        <li><a href="#"><img src="img/icon-twitter.svg"></a></li>
        <li><a href="#"><img src="img/icon-insta.svg"></a></li>
        <li><a href="#"><img src="img/icon-ut.svg"></a></li>
        <li><a href="#"><img src="img/icon-in.svg"></a></li>
    </ul>
    </div>
              </td>
            </tr>
               
          </table>
        </section>
        
         
      </div>
    </div>
    
    <table cellpadding="0" cellspacing="0" class="table3">
            <tr>
              <td colspan="2" ><input name="print" type="button" class="print" value="Print / شارع محمد">&nbsp;<input name="download" type="button" class="download" value="Download / شارع محمد"> </td>
            </tr>            
          </table>
    
    <div class="custom-model-main"><!--custom-model-main-->
    <div class="custom-model-inner">  <!--custom-model-inner-->      
    <div class="close-btn">×</div>
        <div class="custom-model-wrap"><!--custom-model-wrap-->
            <div class="pop-up-content-wrap"><!--pop-up-content-wrap-->
               <div class="bold-text">Do you want to pay now ? <br> مبني 3، قطعة 13 ، شارع محمد الغانم ، مدينة الكويت	</div>	
               <div><input class="assignButton" name="submit" type="button" value="Approve / شارع محمد"> <input class="cancel-Button" name="cancel" type="button" value="Reject / شارع محمد"></div>
            </div><!--pop-up-content-wrap-->
        </div><!--custom-model-wrap-->  
    </div><!--custom-model-inner-->   
    <div class="bg-overlay"></div>
</div><!--custom-model-main-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  
      <script id="rendered-js" >
$(".Click-here").on('click', function () {
  $(".custom-model-main").addClass('model-open');
});
$(".close-btn, .bg-overlay").click(function () {
  $(".custom-model-main").removeClass('model-open');
});
 
    </script>
  
 
  </body>
</html>