{% load static %}
<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bleach Cleaning Services | Invoice</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="91216e926eab41d8aa403bf4b00f4e19">

    <link href="{% static 'files/css/externalusers.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <!-- <div class="left-stripes"> -->
      <div>
        <div class="circle c-upper"></div>
        <div class="circle c-lower"></div>
      </div>

      <div class="right-invoice">
        <section id="memo">
          <div class="company-info">
            <div>Bleach Cleaning Services<div class="company-name-arabic"> شركة بلـــيتش الـــعالمــقاولات تنظيف المباني والمدن</div>	
            
			</div>
             
          </div>

          <div class="logo">
            <img src="{% static 'files/images/bleach logo.png' %}" />
          </div>
        </section>

        <section id="invoice-title-number">

          <div class="title-top">
            <!--<span class="x-hidden"></span>-->
            <span>{{order.evaluation.created|date:'d-m-Y'}}</span> <span id="number">{{order.order_no}}</span>
          </div>
        
          <div id="title">INVOICE<div class="invoice-name-arabic">شركة بلـــيت</div></div>
          
        </section>

        {% for orderschedule in order.orderschedules %}
        {% if forloop.first %}
        <section id="client-info">
          <!--<span>billtolabel</span>-->
          <div class="client-name">
          <span class="billto" id="number"><b>Bill To/شركة بلـــيتش الـــع :</b></span>
          <br>
            <span>{{orderschedule.customer_address.customer.name}}</span>
            {% if orderschedule.customer_address.customer.customer_type == 'CORPORATE' %}
            <span>{{orderschedule.customer_address.customer.company}}</span>
            <span>{{orderschedule.customer_address.customer.job_title}}</span>
            {% endif %}
          </div>
          
          <div>
            <span>{{orderschedule.customer_address.street}},{{orderschedule.customer_address.block}}</span>
          </div>
          
          <div>
            <span>{{orderschedule.customer_address.avenue}},{{orderschedule.customer_address.floor}}</span>
          </div>
          
          <div>
            <span>{{orderschedule.customer_address.building}},{{orderschedule.customer_address.area.name}}</span>
          </div>
          
          <div>
            <span>Contact No: <strong>{{orderschedule.customer_address.customer.mobile_number}}</strong></span>
          </div>
          <div>
            <span>Email: <strong>{{orderschedule.customer_address.customer.email}}</strong></span>
          </div>
        </section>
        {% endif %}
        {% endfor %}
        
        <div class="clearfix"></div>

        <div class="currency">
          <span> Currency in Kuwait Dianr / محمد محمد-شارع محمد</span>
        </div>
        
        <section >
          
          <table cellpadding="0" cellspacing="0" class="table">
          
            <tr>
              <th width="5%"></th> <!-- Dummy cell for the row number and row commands -->
              <th width="50%">ITEM<br>شارع محمد</th>
              <th width="20%">CATEGOTY<br>شارع محمد</th>
              <th width="10%">SIZE<br>شارع محمد</th>
              <th width="15%" class="align-right">NET PRICE &nbsp;<br>شارع محمد &nbsp;</th>
            </tr>

            {% for orderschedule in nonduplicate_schedules %}
            {% for section in orderschedule.order_scheduler_book.evaluationbooksection %}
            <tr class="hide">
              {% if forloop.first %}
              <td style="text-align:center;">{{forloop.parentloop.counter}}</td> <!-- Don't remove this column as it's needed for the row commands -->
              {% else %}
              <td style="text-align:center;">&nbsp;</td> <!-- Don't remove this column as it's needed for the row commands -->
              {% endif %}

              <td>{{orderschedule.order_scheduler_book.service_type}}-{{orderschedule.customer_address.area.name}}-{{section.section_name}} <br> شارع محمد الغانم</td>
              
              <td>{{section.dirt_level}}<br> شارع محمد الغانم</td>
              
              <td>{{section.size}} {{section.unit|default_if_none:''}}</td>
              
              {% if forloop.first %}
              <td rowspan="2" class="align-right">{{orderschedule.order_scheduler_book.total_cost|floatformat:'3'}}</td>
              {% endif %}
            </tr>
            {% endfor %}
            {% endfor %}
            
          </table>
          
        </section>
        
         <section id="sums">
        
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th class="medium">Subtotal / شركة بلـــيتش</th>
              <td class="due-amount medium"> {{order.evaluation.estimated_cost|floatformat:'3'}} </td>
            </tr>
            
            <tr>
              <th>Discount / شركة بلـــيتش</th>
              <td class="due-amount"> {{order.evaluation.discount|floatformat:'3'}} </td>
            </tr>
            
            <tr class="amount-total">
              <!-- {amount_total_label} -->
              <td colspan="2">{{order.evaluation.total_cost|floatformat:'3'}} KD
                <!-- <div class="invoice-name-arabic">شركة بلـــيت</div></td> -->
            </tr>
            
            <!-- You can use attribute data-hide-on-quote="true" to hide specific information on quotes.
                 For example Invoicebus doesn't need amount paid and amount due on quotes  -->
            <tr >
              <th>Paid / شركة بلـــيتش</th>
              <td><strong>{{order.amount_paid|floatformat:3}} KD</strong></td>
            </tr>
            
            <tr>
              <th class="medium">Amount Due / شركة بلـــيتش</th>
              <td class="medium"> {{order.remining_amount|floatformat:'3'}} KD </td>
            </tr>
            
          </table>
          
        </section>       

        <div class="clearfix"></div>
        <section>
        <table cellpadding="0" cellspacing="0" class="table1">
            <!-- <tr>         
              <td id="tnc-padding" colspan="2" class="align-right"><input type="checkbox" id="myCheck"> <label><i> <u><b>I Agree the Terms & Conditions / شركة بلـــيتش شركة بلـــيتش</b></u></i></label> </td>
            </tr> -->
            <tr>

              <td colspan="2" class="align-right">
                <form method="post" action="http://paymentgateway.local/SendPerformREQuest.php" enctype= "multipart/form-data">{% csrf_token %}
                <input type="hidden" name="price" value="{{order.remining_amount}}">
                <input type="hidden" name="qty" value="1">
                <input type="hidden" name="evaluation" value="{{order.evaluation.evaluation_id}}">
                <input class="assignButton" name="pay" type="submit" value="Pay / شركة بلــ">
                </form>
              </td>
            </tr>
            <tr>
              <td class="align-left large" width="50%" ><div>{{order.evaluation.quatation_status}} / شركة بلـــيتش </div>Sales Authorisation / شارع محمد</td>
              <td class="align-right large">Customer Authorisation / شارع محمد</td>
            </tr>
            </table>
            <br><br>
            <table cellpadding="0" cellspacing="0" class="table2">
            <tr>
              <td class="align-left">Office: No. 3 ● Building No. 8 ● Block 13
                <br>Qibila Building ● Mohamed Al Ghanim Street
                <br>Kuwait City ● PO Box 4489 ● Safat 13045 
                <br>CR No. 362934 ●  Tel 1882707
                <br>Email : info@bleach-kw.com</td>

                <td class="align-right">المكتب: رقم 3 ● مبنى رقم 8 ● بلوك 13
                  <br>عمارة قبيلة ● شارع محمد الغانم
                  <br>مدينة الكويت ● ص.ب 4489 ● الصفاة 13045
                  <br>رقم السجل التجاري 362934 ● هاتف 1
                  <br>البريد الإلكتروني: info@bleach-kw.com</td>
              
            </tr>
            <tr>
              <td style="background-color: white;" colspan="2" >
                 <div class="socil-media">
    <ul>
    	<li><a href="#"><img src="{% static 'files/images/fb.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-twitter.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-insta.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-ut.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-in.svg' %}"></a></li>
    </ul>
    </div>
              </td>
            </tr>
           </table> 
        </section>
        
         
      </div>
    </div>
    <table cellpadding="0" cellspacing="0" class="table3">
 <tr>
              <td colspan="2" class="note">NOTE : This is computer generated receipt and does not require physical signature<br>شركة بلـــيتش الـــعالمــــية لمقاولات تنظيف شركة بلـــيتش الـــعالمــــية لمقاولات تنظيف</td>
            </tr>
            <tr>
              <td colspan="2" ><input name="print" type="button" class="print" value="Print / شارع محمد">&nbsp;<input name="download" type="button" class="download" value="Download / شارع محمد"> </td>
            </tr>            
          </table>
 
 
  </body>
</html>

