<!doctype html>
<html lang="en" xml:lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" id="viewportMeta" />

    
    <meta name="description" content="Bleach Voucher">
    <meta name="author" content="Voucher">

    

   

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css">
    <title>Bleach Cleaning Services | Voucher</title>

  </head>
  <body id="printableArea">
   <div class="container mb-4 mt-4" id="content" >
      <div class="row" id="printableArea">
        <div class="col-md-8 col-print-12  canvas-size inv-canvas-receipt" id="canvas" >
          
          <div class="inv-card mb-4" style="min-height:800px;">
            <div class="d-flex p-4">
           <div >
            <img src="./img/logo.png" class="inv-logo mr-4"/>
          </div>
            <div  class="text-center">
            <div  class="inv-company-title notranslate">BLEACH</div>
            <div class="inv-company-subtitle ">CLEANING SERVICES</div>
          </div>
          <div class=" pt-4 inv-translator " data-html2canvas-ignore="true">
            <div class="form-check form-switch inv-form-switch select-language">
              <input type="checkbox"  id="lang-selector" />
              <!--<input class="form-check-input" type="checkbox"  id="lang-selector" >--> 
              <label class="form-check-label notranslate" for="flexSwitchCheckChecked" id="lang-label" data-html2canvas-ignore="true">English</label>
            </div>
           
            
            <div id="google_translate_element" style="display: none;"></div>
          </div>
          
            </div>
            
            <div class="container">
          <div class="row ">
            <div class="col-md-5 col-print-5 inv-receipt-customer-details mt-4 mt-md-0"> 
              <div class="">
              <div class="inv-content inv-text-color">Receipt To</div>
              <h4 class="inv-content pt-2 inv-receipt-heading inv-text-color">John Doe</h4>
              <div class="inv-content inv-text-color"> 
                222 Rocky Way 30000 Brdrock, Cobblestone Country<br>
              
                Contact No : 123456789 <br>
              
                Email : johndoe@example.com<br>
              </div>
              </div>

            </div>
            <div class="col-md-5 col-print-5 offset-md-2 inv-receipt-card mt-4" >
              <div class="inv-content-card" >
                <h1 class="inv-text-right inv-receipt-heading text-center">RECEIPT VOUCHER</h1>
              <div class="d-flex pt-2  inv-invoice-details">
                <div class="w-50 inv-text-left">
                  Order Number
                </div>:
                <div class="w-50 inv-text-right">
                  242424
                </div>
              </div>
              <div class="d-flex pt-1 inv-invoice-details">
                <div class="w-50 inv-text-left">
                  Invoice Number
                </div>:
                <div class="w-50 inv-text-right">
                    12121212
                </div>
              </div>
              <div class="d-flex pt-1 inv-invoice-details">
                <div class="w-50 inv-text-left">
                  Invoice Date
                </div>:
                <div class="w-50 inv-text-right">
                   12-12-2020
                </div>
              </div>
              
              
            </div>
              
              
              
            </div>
          
           
        
          
         
           
          
          </div>
         <div class="row mt-4">
             <div class="col-md-12 mt-4 mb-4 py-failed-box">
                 <div class="row p-3">
                     <div class="col-md-1 col-2">
                    <div class=" pv-failed text-center ">
                        <i class="fa fa-times"></i>
                     </div>
                    </div>
                    <div class="col-md-4 col-10">
                     <div class="text-center p-2">
                         <h4 >Payment Failed</h4>
                     </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <div class="d-flex pt-2  inv-invoice-details">
                                <div class="w-50 inv-text-left">
                                    Payment ID
                                </div>:
                                <div class="w-50 inv-text-right">
                                  24242456392
                                </div>
                              </div>
                              <div class="d-flex pt-2  inv-invoice-details">
                                <div class="w-50 inv-text-left">
                                    Reference ID
                                </div>:
                                <div class="w-50 inv-text-right">
                                  7867545656
                                </div>
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="inv-btn text-center text-white  mt-2" onclick="location.href = './invoice.html';" >
                            
                            Try Again
                          </div> 
                    </div>
                 </div>
                 
             </div>
         </div>
             
      
                 
              </div>
           
         
        
         
        </div>
         
         
          </div>
         
        </div>
       
      </div>
      
   </div>
   <div class="inv-footer ">
     <div class="container">
       <div class="row">
         <div class="col-md-4">
          <div class="d-flex pt-4 pb-4">
            <div class="p-2">
              <img src="./icons/placeholder.png" class="inv-icon"/>
            </div>
           
            <div class="p-2">
              <b>Bleach International Contracting Company for Cleaning Building & Cities WLL</b><br>
              Office No. 3, Building No. 8, Block 13 Qibila Building, Mohammed AL Ghanim Street Kuwait City,<br> PO Box 4489, Safat 13045 CR No.362934
            </div>
          </div>
         </div>
         <div class="col-md-4">
          <div class="d-flex pt-4 pb-4">
            <div class="p-2">
              <img src="./icons/contact.png" class="inv-icon"/>
            </div>
           
            <div class="p-2">
              Tel : +965 1882707 <br>Email: customercare@bleach-kw.com <br>Website : www.bleach-kw.com
            </div>
          </div>
        </div>
        <div class="col-md-3 offset-md-1 ">
          <div class="pt-4 pb-4 text-center">
           <a href="https://www.facebook.com/BleachKw/" target="_blank" class="inv-link"> <i class="fab fa-facebook-f text-white p-2 inv-cp"></i> </a>
            <!-- https://www.facebook.com/BleachKw/ -->
            <a href="https://twitter.com/bleachkw?lang=en" target="_blank" class="inv-link">  <i class="fab fa-twitter text-white p-2 inv-cp"></i></a>
            <!-- https://twitter.com/bleachkw?lang=en -->
            <a href="https://www.instagram.com/bleachkw/?hl=en" target="_blank" class="inv-link"><i class="fab fa-instagram text-white p-2 inv-cp"></i></a>
            <!-- https://www.instagram.com/bleachkw/?hl=en -->
            <a href="https://www.youtube.com/channel/UC_XhgxfirQrft_kAFRZPAOw" target="_blank" class="inv-link"> <i class="fab fa-youtube text-white p-2 inv-cp"></i></a>
            <!-- https://www.youtube.com/channel/UC_XhgxfirQrft_kAFRZPAOw -->
            <a href="https://www.linkedin.com/company/bleachkw" target="_blank" class="inv-link"><i class="fab fa-linkedin text-white p-2 inv-cp"></i></a>
            <!-- https://www.linkedin.com/company/bleachkw -->
            
          </div>
        </div>
       </div>
     </div>
   </div>

   
   <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.js" integrity="sha512-rn5JpU98RtYVMtZeQJfzmJ67rl4/dqDpGZ393z5f9WMYHXEU4+8Stm/PQAma2gbsLbpClmUHJzT0DaG32OmEyQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js" integrity="sha512-jzL0FvPiDtXef2o2XZJWgaEpVAihqquZT/tT89qCVaxVuHwJ/1DFcJ+8TBMXplSJXE8gLbVAUv+Lj20qHpGx+A==" crossorigin="anonymous"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <script src="./js/convertToPdf.js"></script>
   
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
        <script src="./js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  </body>
</html>