{% load static %}
{% load customtags %}
<!DOCTYPE html>
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="Author" content="Bleach Kuwait">
<meta name="Email" content="contact@bleach-kw.com">
<meta name="Copyright" content="http://bleach-kw.com">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<meta name="Language" content="en">
<meta name="Description" content="Home - Bleach Housekeepin">
<meta name="Keywords" content="We at Bleach always strive to meet our customers need for exceptional housecleaning and housekeeping services in their homes, apartments and offices">
<meta name="Robots" content="index, follow">
<title>Bleach - KW | Quatation</title>
<link href="{% static 'files/css/externalusers.css' %}" rel="stylesheet" type="text/css">
 
 
</head>
<body>
<div class="invoice-wrapper">
<table width="100%" border="0" class="invoice-table">
  <tr>
    <td colspan="3">
    	<table width="100%" border="0" class="invoice-inside-table">
        	<tr>
            <td><img src="{% static 'files/images/bleach-logo-arabic.jpg' %}" class="logo-arabic"></td>
    <td colspan="2">
    <div class="bleach-english">Bleach International Contracting Company</div>
    <div class="bleach-text"> for Cleaning Building & Cities WLL</div>
    <div class="bleach-arabic">شركة بلـــيتش الـــعالمــــية <br>
		لمقاولات تنظيف المباني والمدن</div>	
</td>
    <td align="right"><img src="{% static 'files/images/bleach-QR-code.jpg' %}" class="bleach-qrcode"></td>
            </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td colspan="3"><div class="invoice-heading">Quotation</div></td>
 
  </tr>
  <tr>
    <td width="50%">
        <table width="100%" border="0" class="invoice-inside-table">
      <tr>
        <td width="20%">Date</td>
        <td width="80%"><span class="bold-text invoice-details">{{order.evaluation.created|date:'d-m-Y'}}</span></td>
      </tr>
      <tr>
        <td>Quotation No:</td>
        <td><span class="bold-text invoice-details">{{order.order_no}}</span></td>
      </tr>
      </table>
</td>
    <td width="50%">
    <table width="100%" border="0" class="invoice-inside-table">
      <tr>
        <td width="20%">Branch</td>
        <td><span class="bold-text invoice-details">Bleach Kuwait</span></td>
      </tr>
      <tr>
        <td>Evaluator(s)</td>
        <td><span class="bold-text invoice-details">{% for orderschedule in order.orderschedules %}{% if orderschedule.evaluation_details.evaluator %}{{orderschedule.evaluation_details.evaluator.name}}{% if not forloop.last %},{% endif %}{% else %}{% if forloop.last %}--------------{% endif %}{% endif %}{% endfor %}</span></td>
      </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" class="invoice-inside-table">
      <tr>
        <td width="20%">Cust. Name</td>
        <td width="80%"><span class="bold-text invoice-details">{{order.evaluation.customer.name}}</span></td>
      </tr>
		<td width="20%">Phone</td>
        <td><span class="bold-text invoice-details">{{order.evaluation.customer.mobile_number}}</span></td>
      </tr>
      </table>
</td>
    <td>
    <table width="100%" border="0" class="invoice-inside-table">
      
      {% for orderschedule in order.orderschedules %}
      {% if forloop.first %}
      <tr>
        <td width="20%">Street</td>
        <td><span class="bold-text invoice-details">{{orderschedule.customer_address.street}}</span></td>
      </tr>
      <tr>
        <td>Block</td>
        <td><span class="bold-text invoice-details">{{orderschedule.customer_address.block}}</span></td>
      </tr>
      <tr>
        <td>Avenue</td>
        <td><span class="bold-text invoice-details">{{orderschedule.customer_address.avenue}}</span></td>
      </tr>
      <tr>
        <td>Area</td>
        <td><span class="bold-text invoice-details">{{orderschedule.customer_address.area.name}}</span></td>
      </tr>
      {% endif %}
      {% endfor %}

      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3"><div>Dear Sir/Madam,</div> 							
	We are pleased to submit our official Quote for the below mentioned Services.						
Kindly Accept our qotation to proceed with the job.     Thank you for your business and we undertake							
that we will fulfill our responsibility with maximum care with due diligence.    							
</td>
    </tr>   
</table>
<table width="100%" border="0" class="invoice-table-list">
      <tr>
      	<th width="5%">Sl.No</th>
        <th width="10%">Item Code</th>
        <th width="45%">Description</th>
        <th width="10%">Area</th>
        <th width="10%">Unit of Measurement</th>
        <th width="10%">Category</th>
        <th width="10%">Net Price</th>
        
      </tr>
      {% for orderschedule in order.orderschedules %}
      <tr>
        <td align="center">{{forloop.parentloop.counter}}</td>
        <td align="center">100{{forloop.parentloop.counter}}</td>
        <td align="left">{{orderschedule.order_scheduler_book.service_type}}-{{orderschedule.customer_address.area.name}}-{{section.section_name}}</td>
        <td align="center">{{section.size}}</td>
        <td align="center">{{section.unit}}</td>
        <td align="center">{{section.dirt_level}}</td>
        {% if forloop.last %}
        <td align="center">{{orderschedule.order_scheduler_book.total_cost|floatformat:'3'}}</td>
        {% else %}
        <td align="center">
        {% endif %}
      </tr>
      {% endfor %}         
    </table>   
	
    <table width="100%" border="0" class="invoice-table-list">
    <tr>
    <td width="50%">&nbsp;</td>
    <td width="50%" bgcolor="#CECECE">
    	<table width="100%" border="0" class="invoice-inside-table">
      <tr>
        <td width="20%">Sub Total</td>
        <td width="80%"><span class="bold-text invoice-details">{{order.evaluation.estimated_cost|floatformat:'3'}}KD</span></td>
      </tr>
      <tr>
        <td>Discoumt</td>
        <td><span class="bold-text invoice-details">{{order.evaluation.discount|floatformat:'3'}}KD</span></td>
      </tr>
      <tr>
        <td>Total</td>
        <td><span class="bold-text totalprice">{{order.evaluation.total_cost|floatformat:'3'}}KD</span></td>
      </tr>
       
      </table>
    </td>
    </tr>
    <tr>
      <td colspan="2" class="bold-text">&nbsp; {% num_to_words order.evaluation.total_cost %} KD   (Amount in words)</td>
      </tr>
    <tr>
      <td>
      <table width="100%" border="0" class="invoice-inside-table">
      <tr>
        <td><span class="bold-text invoice-details">Sales  Authorization</span></td>
        </tr>
      <tr>
        <td>Order Status ({{order.evaluation.quatation_status}})</td>
        </tr>
      </table>
      </td>
      <td>
      	<table width="100%" border="0" class="invoice-inside-table">
      <tr>
        <td><span class="bold-text invoice-details">Customer Approval</span></td>
        </tr>
      <tr>
        <td> <input class="assignButton Click-here" name="submit" type="button" value="Approve"> <input class="cancel-Button" name="cancel" type="button" value="Reject"></td>
        </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>The scope of this invoice is limited to the work mentioned in the agreed-upon quotation with no further claims.
Kindly refer to our website for the terms and conditions.
www.bleach-kw.com</td>
      <td align="right">"يقتصر نطاق هذه الفاتورة على العمل المذكور في عرض السعر المتفق عليه دون أي مطالب أخرى.
يرجى الرجوع إلى موقعنا للحصول على الشروط والأحكام .<br>
        <a href="www.bleach-kw.com">www.bleach-kw.com</a>"			
			
			
			
</td>
    </tr>
    <tr>
      <td>Office: No: 3, Building No 8, Block 13, Qibila Building, Mohamed Al Ghanim Street, Kuwait city. PO Box 4489,Safat 13045.<br>
      CR No: 362934. Tel  1882707  Email : info@bleach-kw.com
      </td>
      <td align="right">الادارة: بناية القبلة ، مبني 3، قطعة 13 ، شارع محمد الغانم ، مدينة الكويت ص.ب 4489 ، صفاة 13045	<br>
      			س ت: 13045 ، هاتف 1882707،الايميل:  info@bleach-kw.com  
		
			</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><br><input name="download" type="button" value="Download" class="checkonButton"><br> <br></td>
    </tr>
    </table>
    <div class="socil-media">
    <ul>
    	<li><a href="#"><img src="{% static 'files/images/fb.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-twitter.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-insta.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-ut.svg' %}"></a></li>
        <li><a href="#"><img src="{% static 'files/images/icon-in.svg' %}"></a></li>
    </ul>
    </div>
    </div>
    <div class="custom-model-main"><!--custom-model-main-->
    <div class="custom-model-inner">  <!--custom-model-inner-->      
    <div class="close-btn-quatation">×</div>
        <div class="custom-model-wrap"><!--custom-model-wrap-->
            <div class="pop-up-content-wrap"><!--pop-up-content-wrap-->
               <div class="bold-text">Do you want to pay now ?	</div>	
               <form method="post" action="" enctype= "multipart/form-data">{% csrf_token %}
                <input type="hidden" name="order_id" value="{{order.id}}">
                <input type="hidden" name="payment_status" id="payment_status_id">
               <div><input class="assignButton approve-btn" name="submit" type="submit" value="Yes"> <input class="cancel-Button reject-btn" name="cancel" type="submit" value="No"></div>
               </form>
            </div><!--pop-up-content-wrap-->
        </div><!--custom-model-wrap-->  
    </div><!--custom-model-inner-->   
    <div class="bg-overlay"></div>
</div><!--custom-model-main-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  
      <script id="rendered-js" >
$(".Click-here").on('click', function () {
  $(".custom-model-main").addClass('model-open');
});
$(".close-btn-quatation, .bg-overlay").click(function () {
  $(".custom-model-main").removeClass('model-open');
});
 
    </script>
 </body>
</html>
