{% load static %}
<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bleach Cleaning Services | Invoice</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="91216e926eab41d8aa403bf4b00f4e19">

    <link href="{% static 'files/css/externalusers.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <div>
        <div class="circle c-upper"></div>
        <div class="circle c-lower"></div>
      </div>

      <div class="right-invoice">
        <section id="memo">
          <div class="company-info">
            <div>Bleach Cleaning Services<div class="company-name-arabic"> بليتش &nbsp;&nbsp;لخدمات &nbsp;&nbsp;التنظيف</div>	
			</div>
             
          </div>

          <div class="logo_invoice">
            <img src="{% static 'files/images/bleach logo.png' %}" />
          </div>
        </section>

        <section id="invoice-title-number">

          <div class="title-top">
            <!--<span class="x-hidden"></span>-->
            <span>{{payment_history.order.evaluation.created|date:'d-m-Y'}}</span> <span id="number">{{payment_history.order.order_no}}</span>
          </div>
        
          <div id="title">Receipt Voucher<div class="invoice-name-arabic">سند قبض</div></div>
          
        </section>

        {% for orderschedule in order.orderschedules %}
        {% if forloop.first %}
        <section id="client-info">
          <!--<span>billtolabel</span>-->
          <div class="client-name">
          <span class="billto" id="number"><b>Bill To - فاتورة الى :</b></span>
          <br>
            <span>{{orderschedule.customer_address.customer.name}}</span>
            {% if orderschedule.customer_address.customer.customer_type == 'CORPORATE' %}
            <span>{{orderschedule.customer_address.customer.company}}</span>
            <span>{{orderschedule.customer_address.customer.job_title}}</span>
            {% endif %}
          </div>
          
          <div>
            <span>{{orderschedule.customer_address.street}},{{orderschedule.customer_address.block}}</span>
          </div>
          
          <div>
            <span>{{orderschedule.customer_address.avenue}},{{orderschedule.customer_address.floor}}</span>
          </div>
          
          <div>
            <span>{{orderschedule.customer_address.building}},{{orderschedule.customer_address.area.name}}</span>
          </div>
          
          <div>
            <span>Contact No: <strong>{{orderschedule.customer_address.customer.mobile_number}}</strong></span>
          </div>
          <div>
            <span>Email: <strong>{{orderschedule.customer_address.customer.email}}</strong></span>
          </div>
        </section>
        {% endif %}
        {% endfor %}
        
        <div class="clearfix"></div>
        
        <section id="invoice-info">
          <div>
            <span>order number / رقم الطلب</span> <span>{{payment_history.order.order_no}}</span>
          </div>
          <div>
            <span>invoice number / رقم الفاتورة</span> <span>{{payment_history.order.order_no|slice:"9:"}}</span>
          </div>

          <div class="recipt-info"> 
            <div class="recipt-info-amount">
              <span> RECIVED AMOUNT /  المبلغ المستلم</span> <span> {{payment_history.amount_paid}} KD</span>
            </div>
          <div> 
            <span> RECIVED DATE / تاريخ الاستلام</span> <span> {{payment_history.paid_date|date:'d-m-Y'}}</span>
          </div>
          <div> 
            <span> MODE OF PAYMENT / آلية الدفع</span> <span>{{payment_history.payment_mode}} / {% if payment_history.payment_mode  == 'CASH' %}نقدي{% elif payment_history.payment_mode  == 'CHECK' %}شيك{% elif payment_history.payment_mode  == 'BANK' %}البنك{% elif payment_history.payment_mode  == 'ONLINECREDIT' %}الائتمان عبر الإنترنت{% endif %}</span>
          </div>
          {% if payment_history.payment_mode == 'CHECK' %}
          <div> 
            <span> CHECHQUE DATE/ تاريخ الشيك</span> <span> {{payment_history.cheack_date}}</span>
          </div>
          {% endif %}
          {% if payment_history.payment_mode == 'CHECK' %}
          <div> 
            <span> BANK NAME/ اسم البنك</span> <span> {{payment_history.bank_name}} </span>
          </div>
          {% endif %}
          {% if payment_history.payment_mode == 'ONLINECREDIT'  %}
          <div> 
            <span> Transaction ID/ رقم المعاملة</span> <span> {{payment_history.transaction_id}} </span>
          </div>
          <div> 
            <span> Payment ID/ معرف الدفع</span> <span> {{payment_history.payment_id}} </span>
          </div>
          <div> 
            <span> Reference ID/ الرقم المرجعي</span> <span> {{payment_history.ref}} </span>
          </div>
          {% endif %}
        </div>

        </section>
        
        <div class="clearfix"></div>     
               
          <section>
        <table cellpadding="0" cellspacing="0" class="table1">
            <!-- <tr>           
         		<td colspan="3">Received from  <span class="bold-text">Medgadigitpsg</span> (customer name)							
A Sum of KD <span class="bold-text">Fifty Hundred Only</span> (in words) 							
by  CASH /CHEQUE/ TT/ PAYMENT GATEWAY /ONLINE CREDIT  with 							
Bank name <span class="bold-text">Axis Bank</span> Chq/Doc <span class="bold-text">6544565</span> Date <span class="bold-text">12-09-2020</span>							
Being payment  against  Invoice No:<span class="bold-text">123232</span> /Advance  Payment <span class="bold-text">twelve Hundred Only</span>
<div>شركة بلـــيتش الـــعالمــــية لمقاولات تنظيف المباني والمدنشركة بلـــيتش الـــعالمــــية لمقاولات تنظيف المباني والمدنشركة بلـــيتش الـــعالمــــية لمقاولات تنظيف المباني والمدنشركة بلـــيتش الـــعالمــــية لمقاولات تنظيف المباني والمدنشركة بلـــيتش الـــعالمــــية لمقاولات تنظيف المباني والمدنشركة بلـــيتش الـــعالمــــية لمقاولات تنظيف المباني والمدن</div>							
				</td>
            </tr> -->
            <tr>           
         		<td colspan="2">&nbsp;</td>
            </tr>
            <tr>           
         		<td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <br><br> 
              <td class="align-left large"> <div>( APPROVED  / تمت الموافقة )</div> Accountant / والمدنشركة  </td>
              <td class="align-right large">Receiver / المتلقي</td>
            </tr>
         </table>
         </section>
        
          

<div class="clearfix"></div>
  
<br><br>
<table cellpadding="0" cellspacing="0" class="table2">
            <tr>
              <td class="align-left">
                <b>
                Bleach International Contracting Company      
                for Cleaning Building & Cities WLL
                </b>
                <br>Office: No. 3 ● Building No. 8 ● Block 13
                <br>Qibila Building ● Mohamed Al Ghanim Street
                <br>Kuwait City ● PO Box 4489 ● Safat 13045 
                <br>CR No. 362934 ●  Tel 1882707
                <br>Email : customercare@bleach-kw.com</td>

                <td class="align-right">
                  <b>
                  شركة بلـــيتش الـــعالمــــية 
                  لمقاولات تنظيف المباني والمدن
                  </b>
                  <br>المكتب: رقم 3 ● مبنى رقم 8 ● بلوك 13
                  <br>عمارة قبيلة ● شارع محمد الغانم
                  <br>مدينة الكويت ● ص.ب 4489 ● الصفاة 13045
                  <br>رقم السجل التجاري 362934 ● هاتف 1882707
                  <br>البريد الإلكتروني: customercare@bleach-kw.com</td>
              
            </tr>

            <tr>
              <td style="background-color: white;" colspan="2" >
                 <div class="socil-media">
    <ul>
     <li><a href="https://www.facebook.com/BleachKw/"><img src="{% static 'files/images/fb.svg' %}"></a></li>
     <li><a href="#"><img src="{% static 'files/images/icon-twitter.svg' %}"></a></li>
     <li><a href="https://www.instagram.com/bleachkw/?hl=en"><img src="{% static 'files/images/icon-insta.svg' %}"></a></li>
     <li><a href="https://www.youtube.com/channel/UC_XhgxfirQrft_kAFRZPAOw"><img src="{% static 'files/images/icon-ut.svg' %}"></a></li>
     <li><a href="https://www.linkedin.com/company/bleachkw"><img src="{% static 'files/images/icon-in.svg' %}"></a></li>
    </ul>
    </div>
              </td>
            </tr>
           </table> 
        </section>
        
         
      </div>
    </div>
    <table cellpadding="0" cellspacing="0" class="table3">
 <tr>
              <td colspan="2" class="note">NOTE : This is computer generated receipt and does not require physical signature<br>ملاحظة: هذا إيصال تم إنشاؤه بواسطة الكمبيوتر ولا يتطلب توقيعًا فعليًا</td>
            </tr>
            <tr>
              <td colspan="2" ><input name="print" type="button" class="print" value="Print / طباعة">&nbsp;<a><input name="download" type="button" class="download" value="Download / تحميل" href="/customer/payment/receipt/download/{{payment_history.id}}"></a> </td>
            </tr>            
          </table>
  </body>
<script>

//print script
function printDiv() 
{
window.print();
}
</script>ss  
</html>
