{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bleach Cleaning Services | Quotation</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="91216e926eab41d8aa403bf4b00f4e19">

    <!--new message wrapper-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700' rel='stylesheet' type='text/css'>
    <!--new message wrapper-->
    
    <link href="{% static 'files/css/externalusers.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'files/css/message_wrapper.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'files/css/template.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <div>
      <!-- <div class="left-stripes"> -->
        <div class="circle c-upper"></div>
        <div class="circle c-lower"></div>
      </div>

      <div class="right-invoice">
        <section id="memo">
          <div class="company-info">
            <div>Bleach Cleaning Services<div class="company-name-arabic"></div>		

          	</div>
      </div>
      <!-- change here -->
          <div class="logo_soa"> 

            <img src="{% static "/files/images/bleach logo.png" %}" width="120px"/>
          </div>
        </section>

        <br><br><br>
        <section id="invoice-title-number">

          <div class="title-top">
            <!--<span class="x-hidden"></span>-->
            <span>Customer ID</span><span id="number">{{client.customer_id|default_if_none:'-'}}</span>
          </div>
        
          <div id="title_soa">STATEMENT OF ACCOUNTS<div class="invoice-name-arabic"></div></div> 
          
        </section>

        <section id="client-info">
          <!--<span>billtolabel</span>-->
          <div class="client-name">
          <span class="billto" id="number"><b>Customer Details:</b></span>
          <br>
            <span>{{client.name}}</span>
          </div>
          
          <div>
            <span>{% if address.floor %}{{address.floor}}, {% else %}{% endif %} {{address.building}},{{address.block}},</span>
          </div>
          
          <div>
            <span>{{address.street}},{% if address.avenue %}{{address.avenue}}, {% else %}{% endif %} </span>
          </div>

          <div>
            <span>{{address.area.name}}, {{address.governorate.name}}</span>
          </div>
          
          <div>
            <span>Contact No: <strong>{{client.mobile_number}}</strong> </span>
          </div>
          
            </section>
        
        <div class="clearfix"></div>
        
        <section id="invoice-info">
          {% comment %} <div>
            <span>From Date</span> <span>-</span>
          </div>
          <div>
            <span>To Date</span> <span>-</span>
          </div> {% endcomment %}
          <div>
            <span>Opening Balance</span> <span>0.000 KD</span>
          </div>
        
        
        
        </section>
        
        <div class="clearfix"></div>

        <div class="currency">
          <span> Currency in Kuwait Dianr</span>

        </div>
        
        <section >
          
          <table cellpadding="0" cellspacing="0" class="table" id="account-table">
          
            <tr>
              <th width="20%"class="align-left">&nbsp;&nbsp;DATE</th> <!-- Dummy cell for the row number and row commands -->
              <th width="35%" class="align-left">PARTICULARS</th>
              <th width="15%" class="align-right">DEBIT</th>
              <th width="15%" class="align-right">CREDIT</th>
              <th width="15%" class="align-right">BALANCE&nbsp;&nbsp;</th>
            </tr>

            <tr>
              <td style="text-align:left;"></td> <!-- Don't remove this column as it's needed for the row commands -->
              <td class="align-right">OPENING BALANCE</td>
              <td class="align-right debit_amount">0.000</td>
              <td class="align-right"></td>
              <td class="align-right">0.000&nbsp;&nbsp;</td>
            </tr>
            
            {% for account in accounts %}
            <tr>
              <td style="text-align:left;">&nbsp;&nbsp;{{account.order.evaluation.quatation_approved_date|date:'d-m-Y'}}</td> <!-- Don't remove this column as it's needed for the row commands -->
              <td class="align-left">Invoice #INV{{account.order.invoice_no}}</td>
              <td class="debit_amount align-right">{{account.amount_paid|floatformat:3}}</td>
              <td class="align-right">0.000</td>
              <td class="balance_amount align-right" >0.000</td>
            </tr>

            {% if account.order.remining_amount > 0 %}
            <tr>
              <td style="text-align:left;">&nbsp;&nbsp;{{account.paid_date|date:'d-m-Y'}}</td> <!-- Don't remove this column as it's needed for the row commands -->
              <td class="align-left">Receipt #RES{{account.order.receipt_no}}</td>
              <td class="align-right">0.000</td>
              <td class="credit_amount align-right">{{account.order.remining_amount|floatformat:3}}</td>
              <td class="balance_amount align-right" >0.000</td>
            </tr>
            {% endif %}
            {% endfor %}

            <tr>
              <td style="text-align:left;"></td> <!-- Don't remove this column as it's needed for the row commands -->
              <td class="align-right" style="font-weight: bold;">TOTAL</td>
              <td class="align-right" id="total_debit" style="font-weight: bold;">0.000</td>
              <td class="align-right" id="total_credit" style="font-weight: bold;">0.000</td>
              <td class="align-right" id="total_balance" style="font-weight: bold;">0.000</td>
            </tr> 
   
          </table>
          
        </section>
        
        <section id="sums">
        
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th class="medium">Closing Balance</th>
              <td class="due-amount medium" id="closingbalance"> 50.000 </td>
            </tr>
            
            <tr>
              <th>Due Date</th>
              <td class="due-amount"> - </td>
            </tr>
<!--             
            <tr class="amount-total">
    
              <td colspan="2">2,560.05 KD
                <div class="invoice-name-arabic">شركة بلـــيت</div>
              </td>
            </tr> -->
            
            
          </table> 
        </section>       


        <!-- <section id="policy">
        
          <table cellpadding="0" cellspacing="0">
                  
            <tr>
              <td class="align-left" colspan="2"> <strong> BREAKDOWN PAYMENTMODE</strong></td>
            </tr>
            
            <tr>
              <td>Payment Before Cleaning</td>
              <td><strong>200.000 KD</strong></td>
            </tr>
            
            <tr>
              <td>Payment After Cleaning</td>
              <td class="medium"> 250.000 KD </td>
            </tr>
            
          </table> 
        </section>   -->




        <div class="clearfix"></div>
        <section>
        <table cellpadding="0" cellspacing="0" class="table1">
            <!-- <tr>         
              <td id="tnc-padding" colspan="2" class="align-right"><input type="checkbox" id="myCheck"> <label><i> <u><b>I Agree the Terms & Condetions / شركة بلـــيتش شركة بلـــيتش</b></u></i></label> </td>

            </tr> -->
            <!-- <tr>
              <td colspan="2" class="align-right"><input class="assignButton Click-here" name="submit" type="button" value="Approve/الـــعالظيف"> <input class="cancel-Button" name="cancel" type="button" value="Reject/الـــعالظيف"></td>
            </tr> -->
            <tr>
              <td class="align-left large" width="50%" ><div>APPROVED</div>Sales Authorisation</td>
              <!-- <td class="align-right large">Customer Authorisation / شارع محمد</td> -->
            </tr>
            </table>
            <br><br>
            <table cellpadding="0" cellspacing="0" class="table2">
              <td class="align-left">
                <b>
                Bleach International Contracting Company      
                for Cleaning Building & Cities WLL
                </b>
                <br>Office: No. 3 ● Building No. 8 ● Block 13
                <br>Qibila Building ● Mohamed Al Ghanim Street
                <br>Kuwait City ● PO Box 4489 ● Safat 13045 
                <br>CR No. 362934 ●  Tel 1882707
                <br>Email : customercare@bleach-kw.com</td>

                <!-- <td class="align-right">المكتب: رقم 3 ● مبنى رقم 8 ● بلوك 13
                  <br>عمارة قبيلة ● شارع محمد الغانم
                  <br>مدينة الكويت ● ص.ب 4489 ● الصفاة 13045
                  <br>رقم السجل التجاري 362934 ● هاتف 1
                  <br>البريد الإلكتروني: info@bleach-kw.com</td> -->
              
            </tr>
            <tr>
              <td style="background-color: white;" colspan="2" >
                 <div class="socil-media">
    <ul>
    	<li><a href="#"><img src="{% static "/files/images/fb.png" %}"></a></li>
        <li><a href="#"><img src="{% static "/files/images/icon-twitter.png" %}"></a></li>
        <li><a href="#"><img src="{% static "/files/images/icon-insta.png" %}"></a></li>
        <li><a href="#"><img src="{% static "/files/images/icon-ut.png" %}"></a></li>
        <li><a href="#"><img src="{% static "/files/images/icon-in.png" %}"></a></li>
    </ul>
    </div>
              </td>
            </tr>
               
          </table>
        </section>
        
         
      </div>
    </div>
    
    <table cellpadding="0" cellspacing="0" class="table3">
 <tr>
              <td colspan="2" class="note">NOTE : This is computer generated receipt and does not require physical signature<br>
                <!-- شركة بلـــيتش الـــعالمــــية لمقاولات تنظيف شركة بلـــيتش الـــعالمــــية لمقاولات تنظيف -->
              </td>
            </tr>
            <tr>
              {% comment %} <td colspan="2" ><input name="print" type="button" class="print" value="Print">&nbsp;<input name="download" type="button" class="download" value="Download"> </td> {% endcomment %}
            </tr>            
          </table>
    
    <div class="custom-model-main"><!--custom-model-main-->
    <div class="custom-model-inner">  <!--custom-model-inner-->      
    <div class="close-btn">×</div>
        <div class="custom-model-wrap"><!--custom-model-wrap-->
            <div class="pop-up-content-wrap"><!--pop-up-content-wrap-->
               <div class="bold-text">Do you want to pay now ? <br> مبني 3، قطعة 13 ، شارع محمد الغانم ، مدينة الكويت	</div>	
               <div><input class="assignButton" name="submit" type="button" value="Approve / شارع محمد"> <input class="cancel-Button" name="cancel" type="button" value="Reject / شارع محمد"></div>
            </div><!--pop-up-content-wrap-->
        </div><!--custom-model-wrap-->  
    </div><!--custom-model-inner-->   
    <div class="bg-overlay"></div>
</div><!--custom-model-main-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  
      <script id="rendered-js" >
$(".Click-here").on('click', function () {
  $(".custom-model-main").addClass('model-open');
});
$(".close-btn, .bg-overlay").click(function () {
  $(".custom-model-main").removeClass('model-open');
});
 
    </script>

    <script>

    $(document).ready(function(){
      add_console();
    });

    function add_console(){
      console.log("war")
            var tds = document.getElementById('account-table').getElementsByTagName('td');
            
            var sum1 = 0;
            var sum2 = 0;
            var sum3 = 0;

            for(var i = 0; i < tds.length; i ++) {
              console.log(tds[i].className,"mok")
                if(tds[i].className == 'debit_amount align-right') {
                    console.log(tds[i].className,"kol")
                    sum1 += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML)||0;
                }
                if(tds[i].className == 'credit_amount align-right') {
                     console.log(tds[i].className,"kol2")
                    sum2 += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML)||0;
                }
                

                if (tds[i].className == 'balance_amount align-right') {
                      var balance = parseFloat(sum1) + parseFloat(tds[i].innerHTML) - parseFloat(sum2) ;
                      tds[i].innerHTML = parseFloat(balance).toFixed(3) ;
                      console.log(balance,"abal")

                      if (i < tds.length - 1){
                        document.getElementById('total_balance').innerHTML =  parseFloat(balance).toFixed(3) ;
                        document.getElementById('closingbalance').innerHTML =  parseFloat(balance).toFixed(3) ;
                      }
                }
            
            }
            
            document.getElementById('total_debit').innerHTML =  parseFloat(sum1).toFixed(3) ;
            document.getElementById('total_credit').innerHTML =  parseFloat(sum2).toFixed(3) ;
            
          }

          </script>
  
 
  </body>
</html>