{% load static %}
<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bleach Cleaning Services | Quotation</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">

    <meta name="template-hash" content="91216e926eab41d8aa403bf4b00f4e19">

    <!--new message wrapper-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700' rel='stylesheet' type='text/css'>
    <!--new message wrapper-->

    <link href="{% static 'files/css/externalusers.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'files/css/message_wrapper.css' %}" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div id="container">
      <div>
      <!-- <div class="left-stripes"> -->
        <div class="circle c-upper"></div>
        <div class="circle c-lower"></div>
      </div>

      <div class="right-invoice">
        <section id="memo">
          <div class="company-info">
            <div>Bleach Cleaning Services<div class="company-name-arabic"> بليتش &nbsp;&nbsp;لخدمات &nbsp;&nbsp;التنظيف</div>		

          	</div>
      </div>
      <!-- change here -->
          <div class="logo_invoice">
            <img src="{% static 'files/images/bleach logo.png' %}" />
          </div>
        </section>

        <section id="invoice-title-number">

          <div class="title-top">
            <!--<span class="x-hidden"></span>-->
            <span>31-10-2020</span> <span id="number">#4456565</span>
          </div>
        
          <div id="title">QUOTATION<div class="invoice-name-arabic">شركة بلـــيت</div></div> 
          
        </section>

        <section id="client-info">
          <!--<span>billtolabel</span>-->
          <div class="client-name">
          <span class="billto" id="number"><b>Bill To/شركة بلـــيتش الـــع :</b></span>
          <br>
            <span>Slate Rock and Gravel Company</span>
          </div>
          
          <div>
            <span>222 Rocky Way</span>
          </div>
          
          <div>
            <span>30000 Brdrock, Cobblestone Country</span>
          </div>
          
          <div>
            <span>+555 7 12-5555</span>
          </div>
          
          <div>
            <span>fred@slaterockgravel.bed</span>
          </div>
          
          <div>
            <span>Attt: <strong>Fred Flinstone</strong></span>
          </div>
        </section>
        
        <div class="clearfix"></div>
        
        <section id="invoice-info">
          <div>
            <span>Due Date</span> <span>31-11-2020</span>
          </div>
          <div>
            <span>Evaluator(s)</span> <span> John</span>
          </div>
          <div>
            <span>Payment Policy</span> <span>Monthly prepaid</span>
          </div>
        </section>
        
        <div class="clearfix"></div>

        <div class="currency">
          <span> Currency in Kuwait Dianr / محمد محمد-شارع محمد</span>

        </div>
        
        <section >
          
          <table cellpadding="0" cellspacing="0" class="table">
          
            <tr>
              <th style="text-align:center;" width="5%"></th> <!-- Dummy cell for the row number and row commands -->
              <th style="text-align: left;"  width="45%">ITEM</th>
              <th style="text-align: center;"width="15%">CATEGORY</th>
              <th style="text-align: center;" width="15%">UNIT PRICE</th>
              <th style="text-align: center;" width="5%"> QNT</th>
              <th width="15%" class="align-right">NET PRICE&nbsp;</th>
            </tr>
            
            <tr>
              <td style="text-align:center;">2</td> <!-- Don't remove this column as it's needed for the row commands -->
              <td style="text-align: left;">Lorem Ipsum <br> شارع محمد الغانم</td>
              <td style="text-align: center;">Random</td>
              <td style="text-align: center;">200.000</td>
              <td style="text-align: center;">4</td>
              <td class="align-right">250.000&nbsp;</td>
            </tr>

            <tr>
              <td style="text-align:center;">2</td> <!-- Don't remove this column as it's needed for the row commands -->
              <td style="text-align: left;">Lorem Ipsum <br> شارع محمد الغانم</td>
              <td style="text-align: center;">Random</td>
              <td style="text-align: center;">20.000</td>
              <td style="text-align: center;">4</td>
              <td class="align-right">250.000&nbsp;</td>
            </tr>

            <tr>
              <td style="text-align:center;">2</td> <!-- Don't remove this column as it's needed for the row commands -->
              <td style="text-align: left;">Lorem Ipsum <br> شارع محمد الغانم</td>
              <td style="text-align: center;">Random</td>
              <td style="text-align: center;">200.000</td>
              <td style="text-align: center;">4</td>
              <td class="align-right">250.000&nbsp;</td>
            </tr>
            
          </table>
          
        </section>
        
        <section id="sums">
        
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th class="medium">Subtotal / شركة بلـــيتش</th>
              <td class="due-amount medium"> 111.000 </td>
            </tr>
            
            <tr>
              <th>Discount / شركة بلـــيتش</th>
              <td class="due-amount"> 111.000 </td>
            </tr>
            
            <tr class="amount-total">
              <!-- {amount_total_label} -->
              <td colspan="2">2,560.05 KD
                <!-- <div class="invoice-name-arabic">شركة بلـــيت</div> -->
              </td>
            </tr>
            
            
          </table> 
        </section>       


        <section id="policy">
        
          <table cellpadding="0" cellspacing="0">
                  
            <!-- You can use attribute data-hide-on-quote="true" to hide specific information on quotes.
                 For example Invoicebus doesn't need amount paid and amount due on quotes  -->

            <tr><td class="align-left" colspan="2"> <strong> MONTHLY PREPAID SERVICE</strong></td></tr>
            <!-- <tr><td class="align-left" colspan="2"> <strong> MONTHLY POSTPAID SERVICE</strong></td></tr> -->

            <tr><td>Billing monthly in advance according to the number of jobs<br>فاتورة شهرية مقدما حسب عدد التنظيف</td></tr>
            <!-- <tr><td>Billing monthly in arrears according to the number of jobs<br>الفواتير الشهرية المتأخرة حسب عدد التنظيف</td></tr> -->

          </table> 

          <table cellpadding="0" cellspacing="0">
            <tr>
              <td>Total Jobs / إجمالي الوظائف</td>
              <td><strong>: 20 Cleaning</strong></td>
            </tr>
            <tr>
              <td>Per-Job Cost / تكلفة الوظيفة</td>
              <td><strong>: 200.000 KD</strong></td>
            </tr>
          </table> 
        
        </section>  




        <div class="clearfix"></div>
        <section>
        <table cellpadding="0" cellspacing="0" class="table1">
            <tr>         
              <td id="tnc-padding" colspan="2" class="align-right"><input type="checkbox" id="myCheck"> <label><i> <u><b>I Agree the Terms & Condetions / شركة بلـــيتش شركة بلـــيتش</b></u></i></label> </td>

            </tr>
            <tr>
              <td colspan="2" class="align-right"><input class="assignButton Click-here" name="submit" type="button" value="Approve/الـــعالظيف"> <input class="cancel-Button" name="cancel" type="button" value="Reject/الـــعالظيف"></td>
            </tr>
            <tr>
              <td class="align-left large" width="50%" ><div>APPROVED / شركة بلـــيتش </div>Sales Authorisation / شارع محمد</td>
              <td class="align-right large">Customer Authorisation / شارع محمد</td>
            </tr>
            </table>
            <br><br>
            <table cellpadding="0" cellspacing="0" class="table2">
            <tr>
              <td class="align-left">Office: No. 3 ● Building No. 8 ● Block 13
                <br>Qibila Building ● Mohamed Al Ghanim Street
                <br>Kuwait City ● PO Box 4489 ● Safat 13045 
                <br>CR No. 362934 ●  Tel 1882707
                <br>Email : info@bleach-kw.com</td>

                <td class="align-right">المكتب: رقم 3 ● مبنى رقم 8 ● بلوك 13
                  <br>عمارة قبيلة ● شارع محمد الغانم
                  <br>مدينة الكويت ● ص.ب 4489 ● الصفاة 13045
                  <br>رقم السجل التجاري 362934 ● هاتف 1
                  <br>البريد الإلكتروني: info@bleach-kw.com</td>
              
            </tr>
            <tr>
              <td style="background-color: white;" colspan="2" >
                 <div class="socil-media">
    <ul>
    	<li><a href="#"><img src="img/fb.svg"></a></li>
        <li><a href="#"><img src="img/icon-twitter.svg"></a></li>
        <li><a href="#"><img src="img/icon-insta.svg"></a></li>
        <li><a href="#"><img src="img/icon-ut.svg"></a></li>
        <li><a href="#"><img src="img/icon-in.svg"></a></li>
    </ul>
    </div>
              </td>
            </tr>
               
          </table>
        </section>
        
         
      </div>
    </div>
    
    <table cellpadding="0" cellspacing="0" class="table3">
 <tr>
              <td colspan="2" class="note">NOTE : This is computer generated receipt and does not require physical signature<br>شركة بلـــيتش الـــعالمــــية لمقاولات تنظيف شركة بلـــيتش الـــعالمــــية لمقاولات تنظيف</td>
            </tr>
            <tr>
              <td colspan="2" ><input name="print" type="button" class="print" value="Print / شارع محمد">&nbsp;<input name="download" type="button" class="download" value="Download / شارع محمد"> </td>
            </tr>            
          </table>
    
    <div class="custom-model-main"><!--custom-model-main-->
    <div class="custom-model-inner">  <!--custom-model-inner-->      
    <div class="close-btn">×</div>
        <div class="custom-model-wrap"><!--custom-model-wrap-->
            <div class="pop-up-content-wrap"><!--pop-up-content-wrap-->
               <div class="bold-text">Do you want to pay now ? <br> مبني 3، قطعة 13 ، شارع محمد الغانم ، مدينة الكويت	</div>	
               <div><input class="assignButton" name="submit" type="button" value="Approve / شارع محمد"> <input class="cancel-Button" name="cancel" type="button" value="Reject / شارع محمد"></div>
            </div><!--pop-up-content-wrap-->
        </div><!--custom-model-wrap-->  
    </div><!--custom-model-inner-->   
    <div class="bg-overlay"></div>
</div><!--custom-model-main-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  
      <script id="rendered-js" >
$(".Click-here").on('click', function () {
  $(".custom-model-main").addClass('model-open');
});
$(".close-btn, .bg-overlay").click(function () {
  $(".custom-model-main").removeClass('model-open');
});
 
    </script>
  
 
  </body>
</html>