{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->

{% if request.user.user_type == 'SALESADMIN' %}
  {% include "salesadmin/common/header.html" %}
{% elif request.user.user_type == 'AGENT' %}
  {% include "agent/common/header.html" %}
{% elif request.user.user_type == 'ADMIN' %}
  {% include "admin/common/header.html" %}
{% elif request.user.user_type == 'BOOKINGOFFICER' %}
  {% include "bookingofficer/common/header.html" %} 
{% elif request.user.user_type == 'EVALUATOR' %}
  {% include "evaluator/common/header.html" %}
{% elif request.user.user_type == 'SENIORTEAMLEADER' %}
  {% include "stl/common/header.html" %}
{% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
  {% include "operationsupervisor/common/header.html" %}
{% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
  {% include "technicalsupervisor/common/header.html" %}
{% elif request.user.user_type == 'ACCOUNTANT' %}
  {% include "accountant/common/header.html" %}
{% elif request.user.user_type == 'TEAMINCHARGE' %}
  {% include "tl/common/header.html" %}
{% endif %}


    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Orders</h1>
                <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>    
            </div><!--welcome-wrapper-->
       
     <div class="clients-top-card-wrapper"><!--clients-top-card-wrapper-->
     	<div class="clients-card-wrapper"><!--clients-card-wrapper-->
       	<div class="clients-card-column clients-column-left"><!--clients-card-column clients-column-left-->
        <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-aproved-icon.png' %}"></div>
                <div class="column-right"><!--column-right-->
              	<!--  <h1>Evaluations</h1>-->
            	<h2 class="blue-text"><label>Approved<span>{{approved_orders_count}}</span></label> </h2>
            	<!--<p><label>This Week <span>42</span></label></p>-->
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-pending-icon.png' %}"></div>
                <div class="column-right"><!--column-right-->
            	<h2 class="green-text"><label>Pending<span>{{pending_orders_count}}</span></label>  </h2>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->

            <div class="card-column whitebg orange-border export_btn"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-export-icon-o.png'%}"></div>
                <div class="column-right"><!--column-right-->
              	<!--  <h1>Evaluations</h1>-->
            	<h2 class="orange-text"><label>Report Generator<span><i class="fa fa-download"></i> </span><br><span class="orders">Click to Export</span></label> </h2>
            	<!--<p><label>This Week <span>42</span></label></p>-->
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        </div><!--clients-card-column clients-column-left-->

        <div class="clients-card-column clients-column-right whitebg hover ltyellow-border"><!--clients-card-column clients-column-right-->
                 
		<div class="chart_boxDiv"><!--chart_boxDiv-->
  			<div class="chart_box_Right"><!--chart_box_Right-->
 				<!-- <button type="button" id="mnt_btn" class="set2" >Update</button> -->
            	<div id="chart_div" ></div>
  			</div><!--chart_box_Right-->
		</div><!--chart_boxDiv-->   
            
        <div class="chart_boxDiv"><!--chart_boxDiv-->    
        
         <div class="chart_box_Left"><!--chart_box_Left-->
         <div class="legend-wrapper"><!--legend-wrapper--> 
            <div class="legend-result count_div"><label class="legend-label">Submitted </label> <b class="legend-result-blue" id="total_submitted">0</b></div>
            <div class="legend-result count_div"><label class="legend-label">Approved </label> <b class="legend-result-red" id="total_approved">0</b></div>
         </div><!--legend-wrapper-->
  		</div><!--chart_box_Left-->
        <div class="chart_box_Left"><!--chart_box_Left-->        
        <div class="Button_wrapperChart">
            <div class="blue-sliderbutton"><label class="switch"><input type="checkbox" id="daymonthtoggle"><div class="slider round"><span class="on">MONTH</span><span class="off">DATE</span></div></label></div>
            <input type="text" id="ord_fromdate" class="date_pick_chart_from date_pick2 date-picker set1 date-pick-left" >
            <input type="text" id="ord_todate" class="date_pick_chart_to date_pick2 date-picker set1 date-pick-right" >
            <input type="text" id="month1" class="month_pick set2 date-pick-left" hidden>
            <input type="text" id="month2" class="month_pick set2 date-pick-right" hidden>
            <div><button id="reset_orders" class="green-button-chart">Reset</button></div>
            </div>
                         
        </div><!--chart_box_Left-->
            
        </div><!--chart_boxDiv-->    
            
        </div><!--lients-card-column clients-column-right-->

        </div><!--clients-card-wrapper-->

</div><!--clients-top-card-wrapper-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
     <div class="white-wrapper-search"><!--white-wrapper-search-->
     <div class="left-box leftbox-item1"><!--left-box leftbox-item1-->
          <span class="search-wrapper"><input type="text" class="search-bar" id="search-bar" placeholder="Search BLC Number, Customer Mobile Number & Customer Name Here" value="{{search_query|default_if_none:''}}" onchange ="set_params_go()"><a href="#"><img class="search-icon" src="{% static 'files/images/search-icon.png' %}"></a></span>
     </div><!--left-box leftbox-item1-->
     <div class="left-box leftbox-item2"><!--right-box leftbox-item1-->
     <input name="filter" type="button" value="Filter" id="filter" class="blue-button arrow"> 
     <div class="menu-filter ltgreen-border" style="display:none;"><!--menu-filter ltgreen-border-->
     
    
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Governorate</label></div>
                <label for="favcity">
                <select name="governorate_filter" id="governorate_filter_id">
                <option value=''>---ALL---</option>
                {% for governorate in governorates %}
          <option value='{{governorate.id}}' {% if governorate.id == fil_governorate %}selected{%endif%}>{{governorate.name}}</option>
                {% endfor %}                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Area</label></div>
                <label for="favcity">
                <select name="area_filter" id="area_filter_id">
                <option value=''>---ALL---</option> 
                {% for area in areas %}
                <option value='{{area.id}}' {% if fil_area == area.id %}selected{% endif %}>{{area.name}}</option>
                {% endfor %}               
              </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<hr class="hr-dashedpad"> 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Cleaning Policy</label></div>
				<label for="favcity">
                <select name="cleaning_policy_filter" id="cleaning_policy_filter_id">
                <option value=''>---ALL---</option>
                <option value="ONE TIME SERVICE" {% if fil_cleaning_policy == 'ONE TIME SERVICE' %}selected{%endif%}>ONE TIME SERVICE</option>
                <option value="SUBSCRIPTION" {% if fil_cleaning_policy == 'SUBSCRIPTION' %}selected{%endif%}>SUBSCRIPTION</option>                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Status</label></div>
                <label for="favcity">
                <select name="status_filter" id="status_filter_id">
                <option value=''>---ALL---</option>
                <option value="EVALUATING" {% if fil_status == 'EVALUATING' %}selected{% endif %}>EVALUATING</option>
                <option value="PENDING" {% if fil_status == 'PENDING' %}selected{% endif %}>PENDING</option>
                <option value="APPROVED" {% if fil_status == 'APPROVED' %}selected{% endif %}>APPROVED</option>
                <option value="APPROVED-NOT PAID" {% if fil_status == 'APPROVED-NOT PAID' %}selected{% endif %}>APPROVED-NOT PAID</option>
                <option value="ORDER_IN_PROGRESS" {% if fil_status == 'ORDER_IN_PROGRESS' %}selected{% endif %}>ORDER IN PROGRESS</option>
                <option value="ORDER_CLOSED" {% if fil_status == 'ORDER_CLOSED' %}selected{% endif %}>COMPLETED</option>
                <option value="REJECTED" {% if fil_status == 'REJECTED' %}selected{% endif %}>REJECTED</option>
                <option value="EXPIRED" {% if fil_status == 'EXPIRED' %}selected{% endif %}>EXPIRED</option>
                <option value="CANCEL_IN_PROGRESS" {% if fil_status == 'CANCEL_IN_PROGRESS' %}selected{% endif %}>CANCELL IN PROGRESS</option>
                <option value="ORDER_CANCELLED" {% if fil_status == 'ORDER_CANCELLED' %}selected{% endif %}>CANCELLED</option>
                                
              </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<hr class="hr-dashedpad"> 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Service Type</label></div>
				<label for="favcity">
                <select name="service_type_filter" id="service_type_filter_id">
                <option value=''>---ALL---</option>
                {% for service_type in service_types %}
                <option value="{{service_type.id}}" {% if service_type.id == fil_service_type %}selected{% endif %}>{{service_type.name}}</option>
                {% endfor %}                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right hide-m"><!--ticket-form-right-->
  		<div class=" bold-text common-label"> <label>Payment Policy</label></div>
                <label for="favcity">
                <select name="payment_policy" id="payment_policy_id">
                <option value=''>---ALL---</option> 
                
                <option value='PREPAID' {% if fil_payment_policy == 'PREPAID' %}selected{% endif %}>PREPAID</option>
                <option value='POSTPAID' {% if fil_payment_policy == 'POSTPAID' %}selected{% endif %}>POSTPAID</option>
                <option value='BREAKDOWN' {% if fil_payment_policy == 'BREAKDOWN' %}selected{% endif %}>BREAKDOWN</option>
                <option value='SUBSCRIPTION' {% if fil_payment_policy == 'SUBSCRIPTION' %}selected{% endif %}>SUBSCRIPTION</option>
                           
              </select>
              </label>		 
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<hr class="hr-dashedpad"> 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
    <div class=" bold-text common-label"> <label>Evaluator</label></div>
				<label for="favcity">
                <select name="evaluator_filter" id="evaluator_filter_id">
                <option value=''>---ALL---</option>
                {% for evaluator in evaluators %}
                <option value="{{evaluator.id}}" {% if evaluator.id == fil_evaluator %}selected{% endif %}>{{evaluator.name}}</option>
                {% endfor %}                
              </select>
                </label>
  </div><!--ticket-form-left-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<div align="center"> <input class="assignButton" name="assing" type="button" onclick="set_params_go({});" value="Submit"> <input class="cancel-Button close-btn arrow-close" name="cancel" type="button" value="Reset"></div>

     
     </div><!--menu-filter ltgreen-border-->
     </div><!--right-box leftbox-item1-->     
     
     
 
     </div><!--white-wrapper-search-->
     
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Order List</h2>
<div class="page-entries">Show {{entry_per_page}} entries</div>

<label for="favcity" class="m-width-100" style="width:20%;" > 
<select name="no_of_entries" id="no_of_entries" onchange="set_params_go();"> 
<option value="20" {% if no_of_entries == '20' %}selected{% endif %}>20 Entries</option>
<option value="50" {% if no_of_entries == '50' %}selected{% endif %}>50 Entries</option>
<option value="100" {% if no_of_entries == '100' %}selected{% endif %}>100 Entries</option>
</select>
</label>


<ul class="nav nav-tabs" id="paymentTab" role="tablist" style="margin-top:20px">
  <li class="nav-item" role="presentation">
    <a class="nav-link active primary-text" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="all" aria-selected="true">All Orders</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link primary-text" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="paid" aria-selected="false">Bookings</a>
  </li>
</ul>

<div class="tab-content" id="paymentTabContent"  style="margin-top:20px">

<!-- orders Tab begins here-->
  <div class="tab-pane" id="orders" role="tabpanel" aria-labelledby="orders-tab">

<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
<tr>
<th>Order Number</th>
<th data-hide="phone,tablet">Name</th>
<th data-hide="phone,tablet">Service Type</th>
<th data-hide="phone">Evaluator</th>
<th data-hide="phone,tablet">Status</th>
<th class="align-center" data-hide="phone,tablet">Shortcuts</th>
</tr>
</thead>
<tbody>

    {% for evaluation in evaluations %}
    <tr>
    <td {% if evaluation.quatation_status == 'APPROVED' %}
        {% for order in evaluation.evaluationorder %}
      
        {% if order.payment_status == 'COMPLETED' or order.preamount_paid != 0 or order.evaluation.payment_method == 'POSTPAID' or order.evaluation.payment_method == 'SUBSCRIPTION' %}
          {% if order.order_status == 'APPROVED_BY_CLIENT' %}
          class="approved-line"
          {% elif order.order_status == 'ORDER_IN_PROGRESS' %}
          class="order-in-progress-line"
          {% elif order.order_status == 'ORDER_CLOSED' %}
          class="completed-line"
          {% elif order.order_status == 'CANCEL_IN_PROGRESS' %}
          class="cancel-in-progress-line"
          {% else %}
          class="cancelled-line"
          {% endif %}
        {% else %}
          {% if order.order_status == 'CANCEL_IN_PROGRESS' %}
          class="cancel-in-progress-line"
          {% elif order.order_status == 'ORDER_CANCELLED' %}
          class="cancelled-line"
          {% else %}
          class="approved-not-paid-line"
          {% endif %}
        {% endif %}

        {% endfor %}

        {% elif evaluation.quatation_status == 'REJECTED' %}class="rejected-line"
        {% elif evaluation.quatation_status == 'PENDING' %}class="pending-line"
        {% elif evaluation.quatation_status == 'EXPIRED' %}class="expired-line"
        {% else %}
        
        class="evaluating-line"
        
        {%endif%} 
        
        >{{evaluation.evaluation_id}}</td>   

    <td>{{evaluation.customer.name|default_if_none:''}}</td>

    <td>{% for evaluation_detail in evaluation.details_evaluation %}
     {% for evaluation_book in evaluation_detail.evaluation_book %}
     {{evaluation_book.service_type.name}},
     {% endfor %}
     <br> 
     {% endfor %}</td>

    <td>{% for evaluation_detail in evaluation.details_evaluation %}{% if evaluation_detail.evaluator %}{% if forloop.last %}{{evaluation_detail.evaluator.name}}{% else %}{{evaluation_detail.evaluator.name}},{% endif %}<br>{% else %}{{evaluation_detail.evaluation.call_attender.name}}{% endif %}{% endfor %}</td>
    
    <td>{% if evaluation.quatation_status == 'APPROVED' %}


        {% for order in evaluation.evaluationorder %}
      
        {% if order.payment_status == 'COMPLETED' or order.preamount_paid != 0 or order.evaluation.payment_method == 'POSTPAID' or order.evaluation.payment_method == 'SUBSCRIPTION' %}
          {% if order.order_status == 'APPROVED_BY_CLIENT' %}
          <div class="d-flex "><div class="round-marker approved-status-bg"></div><span>Approved</span></div>
          {% elif order.order_status == 'ORDER_IN_PROGRESS' %}
          <div  class="d-flex "><div class="round-marker order-in-progress-status-bg"></div><span>Order in progress</span></div>
          {% elif order.order_status == 'ORDER_CLOSED' %}
          <div  class="d-flex "><div class="round-marker completed-status-bg"></div><span>Completed</span></div>
          {% elif order.order_status == 'CANCEL_IN_PROGRESS' %}
          <div  class="d-flex "><div class="round-marker cancel-in-progress-status-bg"></div><span>Cancel in Progress</span></div>
          {% elif order.order_status == 'ORDER_CANCELLED' %}
          <div  class="d-flex "><div class="round-marker cancelled-status-bg"></div><span>Order Cancelled</span></div>
          {% else %}
          <div class="d-flex "><div class="round-marker pending-status-bg"></div><span>Pending</span></div>
          {% endif %}
        {% else %}
          {% if order.order_status == 'CANCEL_IN_PROGRESS' %}
          <div  class="d-flex "><div class="round-marker cancel-in-progress-status-bg"></div><span>Cancel in Progress</span></div>
          {% elif order.order_status == 'ORDER_CANCELLED' %}
          <div  class="d-flex "><div class="round-marker cancelled-status-bg"></div><span>Order Cancelled</span></div>
          {% else %}
          <div  class="d-flex "><div class="round-marker approved-not-paid-status-bg"></div><span>Approved-Not Paid</span></div>
          {% endif %}
        {% endif %}
        {% endfor %}

        {% elif evaluation.quatation_status == 'REJECTED' %}<div  class="d-flex "><div class="round-marker rejected-status-bg"></div><span>Rejected</span></div>
        {% elif evaluation.quatation_status == 'PENDING' %}
        {% for order in evaluation.evaluationorder %}
          {% if order.order_status == 'CANCEL_IN_PROGRESS' %}
          <div  class="d-flex "><div class="round-marker cancel-in-progress-status-bg"></div><span>Cancel in Progress</span></div>
          {% elif order.order_status == 'ORDER_CANCELLED' %}
          <div  class="d-flex "><div class="round-marker cancelled-status-bg"></div><span>Order Cancelled</span></div>
          {% else %}
          <div  class="d-flex "><div class="round-marker pending-status-bg"></div><span>Pending</span></div>
          {% endif %}
        {% endfor %}
        {% elif evaluation.quatation_status == 'EXPIRED' %}<div  class="d-flex "><div class="round-marker expired-status-bg"></div><span>Expired</span></div>
        {% else %}
        <div data-href="#" class="d-flex "><div class="round-marker clickable-row evaluating-status-bg"></div><span>Evaluating</span></div>
        {%endif%}
    </td>

    <td class="align-center">
      <div class="btn-group" id="actionDropdown">
        <div class="order-dropdown " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Action
          <i class="fa fa-chevron-down action-icon" aria-hidden="true" ></i>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-orders">
          {% if request.user.user_type == 'AGENT' or request.user.user_type == 'SALESADMIN' or request.user.user_type == 'BOOKINGOFFICER' or request.user.user_type == 'EVALUATOR' or request.user.user_type == 'ACCOUNTANT' or request.user.user_type == 'ADMIN' %}
          
          {% if evaluation.quatation_status == 'APPROVED' %}<div class="d-flex dropdown-orders clickable-row" data-href="/customer/quatation/download/paw{{evaluation.evaluation_id|slice:'3:'}}{{evaluation.customer.username}}"><img src="{% static 'files/images/DownloadQuotation.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">Download Quotation</div></div>{% endif %}
          
          {% if evaluation.quatation_status == 'APPROVED' or evaluation.quatation_status == 'PENDING' %}
          {% if evaluation.payment_method == 'SUBSCRIPTION' %}
          <a class="d-flex dropdown-orders" href="/customer/subscription/quatation/paw{{evaluation.evaluation_id|slice:'3:'}}{{evaluation.customer.username}}" target="_blank"><img src="{% static 'files/images/ViewQuotation.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">View Quotation</div></a>
          {% else %}
          <a class="d-flex dropdown-orders" href="/customer/quatation/paw{{evaluation.evaluation_id|slice:'3:'}}{{evaluation.customer.username}}" target="_blank"><img src="{% static 'files/images/ViewQuotation.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">View Quotation</div></a>
          {% endif %}
          {% endif %}

          {% endif %}

          
          
          {% comment %} {% if evaluation.quatation_status != 'APPROVED' %}<a class="d-flex dropdown-orders" href="{% url 'common_items:makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/EditQuotation.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">Edit Quotation</div></a>{% endif %} {% endcomment %}
          
          <a class="d-flex dropdown-orders" {% if evaluation.evaluationorder %}{% for order in evaluation.evaluationorder %} href="{% url 'common_items:client-orderdetails' order.id %}" {% endfor %}{% endif %}><img src="{% static 'files/images/View_invoice.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">View Order Details</div></a>

        </div>
      </div>
 <!--   {% for order in evaluation.evaluationorder %}

    {% if request.user.user_type == 'SALESADMIN' %}
    <a href="{% url 'bleach_salesadmin:salesadmin-client-orderdetails' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'AGENT' %}
    <a href="{% url 'agent:agent-client-orderdetails' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'ADMIN' %}
    <a href="{% url 'bleach_admin:admin-client-orderdetails' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'BOOKINGOFFICER' %}
    <a href="{% url 'booking-officer:bookingofficer-client-orderdetails' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'EVALUATOR' %}
    <a href="{% url 'evaluator:evaluator-client-orderdetails' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'SENIORTEAMLEADER' %}
    <a href="{% url 'stl:stl-order-details' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
    <a href="{% url 'op-supervisor:op-supervisor-order-details' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
    <a href="{% url 'tech-supervisor:tech-supervisor-order-details' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% elif request.user.user_type == 'ACCOUNTANT' %}
    <a href="{% url 'accountant:accountant-client-orderdetails' order.id %}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Order Details"></a>
    {% endif %}

    {% endfor %}&nbsp &nbsp
    
    {% if evaluation.quatation_status == 'APPROVED' %}<a href="/customer/quatation/download/{{evaluation.evaluation_id|slice:'3:'}}{{evaluation.customer.username}}"><img src="{% static 'files/images/icon-download.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Download"></a>{% else %}<img src="{% static 'files/images/icon-download-gray.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="Download">{% endif %}&nbsp &nbsp
    {% if evaluation.quatation_status == 'APPROVED' or evaluation.quatation_status == 'PENDING' %}
    {% if evaluation.payment_method == 'SUBSCRIPTION' %}
      <a href="/customer/subscription/quatation/paw{{evaluation.evaluation_id|slice:'3:'}}{{evaluation.customer.username}}" target="_blank"><img src="{% static 'files/images/view-icon-green.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="View Quotation"></a>
    {% else %}
      <a href="/customer/quatation/paw{{evaluation.evaluation_id|slice:'3:'}}{{evaluation.customer.username}}" target="_blank"><img src="{% static 'files/images/view-icon-green.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="View Quotation"></a>
    {% endif %}
    {% else %}<img src="{% static 'files/images/view-icon-gray.png' %}" align="absmiddle" class="download-icon" data-toggle="tooltip" data-placement="bottom" title="View Quotation">{% endif %}&nbsp &nbsp
    
    {% if request.user.user_type == 'AGENT' %}
      {% if evaluation.quatation_status == 'APPROVED' %}  
      {% if evaluation.approved_not_paid_count > 0 %}<a href="{% url 'agent:agent-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% else %}
      {% for order in evaluation.evaluationorder %}
      {% if order.order_status == 'ORDER_CANCELLED' %}<a href="{% url 'agent:agent-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% else %}<img src="{% static 'files/images/edit-gray.png' %}" align="absmiddle" class="download-icon">
      {% endif %}
      {% endfor %}
      {% endif %}
      {% else %}
      <a href="{% url 'agent:agent-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% endif %}
    {% elif request.user.user_type == 'SALESADMIN' %}
      {% if evaluation.quatation_status == 'APPROVED' %}  
      {% if evaluation.approved_not_paid_count > 0 %}<a href="{% url 'bleach_salesadmin:salesadmin-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% else %}
      {% for order in evaluation.evaluationorder %}
      {% if order.order_status == 'ORDER_CANCELLED' %}<a href="{% url 'bleach_salesadmin:salesadmin-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% else %}<img src="{% static 'files/images/edit-gray.png' %}" align="absmiddle" class="download-icon">
      {% endif %}
      {% endfor %}
      {% endif %}
      {% else %}
      <a href="{% url 'bleach_salesadmin:salesadmin-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% endif %}
    {% elif request.user.user_type == 'BOOKINGOFFICER' %}
      {% if evaluation.quatation_status == 'APPROVED' %}  
      {% if evaluation.approved_not_paid_count > 0 %}<a href="{% url 'booking-officer:bookingofficer-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% else %}
      {% for order in evaluation.evaluationorder %}
      {% if order.order_status == 'ORDER_CANCELLED' %}<a href="{% url 'booking-officer:bookingofficer-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% else %}<img src="{% static 'files/images/edit-gray.png' %}" align="absmiddle" class="download-icon">
      {% endif %}
      {% endfor %}
      {% endif %}
      {% else %}
      <a href="{% url 'booking-officer:bookingofficer-makequatation1edit' evaluation.customer.id evaluation.id %}"><img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon"></a>
      {% endif %}
    {% else %}
    {% endif %}-->

  </td>
    </tr>    
    {% empty %}
    <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td></tr>
    {% endfor %} 
</tbody>
<tfoot>
 
</tfoot>
</table>
<div class="white-wrapper-pagination"><!--white-wrapper-pagination-->   
    <div class="pagination-containter"><!--pagination-containter-->
    	<div class="pagination-column pagination-column-left"><!--pagination-column pagination-column-left-->
        Showing {{evaluations.start_index}} to {{evaluations.end_index}} of {{evaluations.paginator.count}} entries
        </div><!--pagination-column pagination-column-left-->
        
        <div class="pagination-column pagination-column-right"><!--pagination-column pagination-column-right-->
        <!--paginated-->
   {% if evaluations.has_other_pages %}
   <nav aria-label="Page navigation example">
  <ul class="pagination">
     {% if evaluations.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page1={{ evaluations.previous_page_number }}&search={{request.GET.search}}&no_of_entries={{request.GET.no_of_entries}}&tab=orders" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for pg in page_range1 %}
    {% if vus.number == pg %}
            <li class="page-item"><a class="page-link active" href="?page1={{pg}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}&evaluator={{request.GET.evaluator}}&no_of_entries={{request.GET.no_of_entries}}&tab=orders">{{pg}}</a></li>
    {% else %}
            <li class="page-item"><a class="page-link" href="?page1={{pg}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}&evaluator={{request.GET.evaluator}}&no_of_entries={{request.GET.no_of_entries}}&tab=orders">{{pg}}</a></li>
    {% endif %}
    {% endfor %}
    {% if evaluations.has_next %}        
    <li class="page-item">
      <a class="page-link" href="?page1={{ evaluations.next_page_number}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}&evaluator={{request.GET.evaluator}}&no_of_entries={{request.GET.no_of_entries}}&tab=orders" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
    {% endif %}
    <!--paginated-->
        </div><!--pagination-column pagination-column-right-->
    </div><!--pagination-containter-->         
</div><!--white-wrapper-pagination--> 

</div>

<!--bookings tab begins here-->
<div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">

<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
<tr>
<th>Order Number</th>
<th data-hide="phone,tablet">Name</th>
<th data-hide="phone">Area</th>
<th data-hide="phone,tablet">Service Type</th>
{% comment %} <th>Contact</th> {% endcomment %}
<th data-hide="phone,tablet">Status</th>
<th class="align-center" data-hide="phone,tablet">Shortcuts</th>
</tr>
</thead>
<tbody>
    {% for booked_evaluation in bookings %}
    <tr>
    <td {% if booked_evaluation.quatation_status == 'APPROVED' %}
        {% for order in booked_evaluation.evaluationorder %}
      
        {% if order.payment_status == 'COMPLETED' or order.preamount_paid != 0 or order.booked_evaluation.payment_method == 'POSTPAID' or order.booked_evaluation.payment_method == 'SUBSCRIPTION' %}
        {% if order.order_status == 'APPROVED_BY_CLIENT' %}
        class="approved-line"
        {% elif order.order_status == 'ORDER_IN_PROGRESS' %}
        class="order-in-progress-line"
        {% elif order.order_status == 'ORDER_CLOSED' %}
        class="completed-line"
        {% elif order.order_status == 'CANCEL_IN_PROGRESS' %}
        class="cancel-in-progress-line"
        {% else %}
        class="cancelled-line"
        {% endif %}
        {% else %}
        class="approved-not-paid-line"
        {% endif %}
        {% endfor %}

        {% elif booked_evaluation.quatation_status == 'REJECTED' %}class="rejected-line"
        {% elif booked_evaluation.quatation_status == 'PENDING' %}class="pending-line"
        {% elif booked_evaluation.quatation_status == 'EXPIRED' %}class="expired-line"
        {% else %}
        class="evaluating-line"
        {%endif%}>{{booked_evaluation.evaluation_id}}</td>   

    <td>{{booked_evaluation.details_evaluation}}{{booked_evaluation.customer.name|default_if_none:''}}</td>
    <td>{% for booked_evaluation_detail in booked_evaluation.details_evaluation %}{{booked_evaluation_detail.address.area.name}}<br>{% endfor %}</td>
    <td>{% for evaluation_detail in booked_evaluation.details_evaluation %}
     {% for booked_evaluation_book in evaluation_detail.evaluation_book %}
     {{booked_evaluation_book.service_type.name}},
     {% endfor %}
     <br> 
     {% endfor %}</td>
    {% comment %} <td>{{booked_evaluation.customer.mobile_number|default_if_none:''}}</td> {% endcomment %}
    <td>{% if booked_evaluation.quatation_status == 'APPROVED' %}


        {% for order in booked_evaluation.evaluationorder %}
      
        {% if order.payment_status == 'COMPLETED' or order.preamount_paid != 0 or order.booked_evaluation.payment_method == 'POSTPAID' or order.booked_evaluation.payment_method == 'SUBSCRIPTION' %}
        {% if order.order_status == 'APPROVED_BY_CLIENT' %}
        <div class="d-flex "><div class="round-marker approved-status-bg"></div><span>Approved</span></div>
        {% elif order.order_status == 'ORDER_IN_PROGRESS' %}
        <div  class="d-flex "><div class="round-marker order-in-progress-status-bg"></div><span>Order in progress</span></div>
        {% elif order.order_status == 'ORDER_CLOSED' %}
        <div  class="d-flex "><div class="round-marker completed-status-bg"></div><span>Completed</span></div>
        {% elif order.order_status == 'CANCEL_IN_PROGRESS' %}
        <div  class="d-flex "><div class="round-marker cancel-in-progress-status-bg"></div><span>Cancel in Progress</span></div>
        {% else %}
        <div  class="d-flex "><div class="round-marker cancelled-status-bg"></div><span>Order Cancelled</span></div>
        {% endif %}
        {% else %}
        <div  class="d-flex "><div class="round-marker approved-not-paid-status-bg"></div><span>Approved-Not Paid</span></div>
        {% endif %}
        {% endfor %}

        {% elif booked_evaluation.quatation_status == 'REJECTED' %}<div  class="d-flex "><div class="round-marker rejected-status-bg"></div><span>Rejected</span></div>
        {% elif booked_evaluation.quatation_status == 'PENDING' %}<div  class="d-flex "><div class="round-marker pending-status-bg"></div><span>Pending</span></div>
        {% elif booked_evaluation.quatation_status == 'EXPIRED' %}<div  class="d-flex "><div class="round-marker expired-status-bg"></div><span>Expired</span></div>
        {% else %}
        <div data-href="#" class="d-flex "><div class="round-marker clickable-row evaluating-status-bg"></div><span>Evaluating</span></div>
        {%endif%}
    </td>

    <td class="align-center">
    
    <div class="btn-group" id="actionDropdown">
        <div class="order-dropdown " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Action
          <i class="fa fa-chevron-down action-icon" aria-hidden="true" ></i>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-orders">
          {% if booked_evaluation.quatation_status == 'APPROVED' %}<div class="d-flex dropdown-orders clickable-row" data-href="/customer/quatation/download/{{booked_evaluation.evaluation_id|slice:'3:'}}{{booked_evaluation.customer.username}}"><img src="{% static 'files/images/DownloadQuotation.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">Download Quotation</div></div>{% endif %}
          
          {% if booked_evaluation.quatation_status == 'APPROVED' or booked_evaluation.quatation_status == 'PENDING' %}
          {% if booked_evaluation.payment_method == 'SUBSCRIPTION' %}
          <a class="d-flex dropdown-orders" href="/customer/subscription/quatation/paw{{booked_evaluation.evaluation_id|slice:'3:'}}{{booked_evaluation.customer.username}}" target="_blank"><img src="{% static 'files/images/ViewQuotation.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">View Quotation</div></a>
          {% else %}
          <a class="d-flex dropdown-orders" href="/customer/quatation/paw{{booked_evaluation.evaluation_id|slice:'3:'}}{{booked_evaluation.customer.username}}" target="_blank"><img src="{% static 'files/images/ViewQuotation.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">View Quotation</div></a>
          {% endif %}
          {% endif %}
          
          <a class="d-flex dropdown-orders" {% if booked_evaluation.evaluationorder %}{% for order in booked_evaluation.evaluationorder %} href="{% url 'common_items:client-orderdetails' order.id %}" {% endfor %}{% endif %}><img src="{% static 'files/images/View_invoice.png'%}" class="dropdown-icon pr-2"/> <div class="ml-2 dropdown-text">View Order Details</div></a>
          
        </div>
      </div>

    </td>
    </tr>    
    {% empty %}
    <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td></tr>    
    {% endfor %}
</tbody>
<tfoot>
 
</tfoot>
</table>

<div class="white-wrapper-pagination"><!--white-wrapper-pagination-->   
    <div class="pagination-containter"><!--pagination-containter-->
    	<div class="pagination-column pagination-column-left"><!--pagination-column pagination-column-left-->
        Showing {{bookings.start_index}} to {{bookings.end_index}} of {{bookings.paginator.count}} entries
        </div><!--pagination-column pagination-column-left-->
        
        <div class="pagination-column pagination-column-right"><!--pagination-column pagination-column-right-->
        <!--paginated-->
   {% if bookings.has_other_pages %}
   <nav aria-label="Page navigation example">
  <ul class="pagination">
     {% if bookings.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page2={{ bookings.previous_page_number }}&search={{request.GET.search}}&no_of_entries={{request.GET.no_of_entries}}&tab=bookings" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for pg in page_range2 %}
    {% if vus.number == pg %}
            <li class="page-item"><a class="page-link active" href="?page2={{pg}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}&evaluator={{request.GET.evaluator}}&no_of_entries={{request.GET.no_of_entries}}&tab=bookings">{{pg}}</a></li>
    {% else %}
            <li class="page-item"><a class="page-link" href="?page2={{pg}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}&evaluator={{request.GET.evaluator}}&no_of_entries={{request.GET.no_of_entries}}&tab=bookings">{{pg}}</a></li>
    {% endif %}
    {% endfor %}
    {% if bookings.has_next %}        
    <li class="page-item">
      <a class="page-link" href="?page2={{ bookings.next_page_number}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}&evaluator={{request.GET.evaluator}}&no_of_entries={{request.GET.no_of_entries}}&tab=bookings" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
    {% endif %}
    <!--paginated-->
        </div><!--pagination-column pagination-column-right-->
    </div><!--pagination-containter-->         
</div><!--white-wrapper-pagination-->

</div>
<!--booking tab ends-->

</div>

</div><!--white-wrapper-->      
             
<!-- export popup -->
<div class="overlay" id="export_popup">
    <div class="popup-assign-eval"><!--popup-assign-eval-->
        <a id="close_export_popup" class="close">&times;</a>
            <div class="content"><!--content-->
            
<form id="excelform" method="post" action="{% url 'accountant:export_payment_xls' %}" enctype="multipart/form-data" target="_blank">{% csrf_token %}

    <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->  

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  <h3 align="center">Report Generator</h3>
  </div>
  </div>

<hr class="hr-dashedpad"> 

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>From Date</label></div>
        <input type="text" name="from_date" class="textBox id_from_date readonly" onchange="exportfromtodatecheck();" required readonly>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>To Date</label></div>
                <input type="text" name="to_date" class="textBox id_to_date readonly" onchange="exportfromtodatecheck();" required readonly>

  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
   
<hr class="hr-dashedpad"> 

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
    <div class=" bold-text common-label"> <label>Report Type</label></div>
      <select class="textBox" name="report_type" id="report_type" required>
      <option value="orderhistory">ORDER HISTORY</option>
      {% if request.user.user_type == 'ADMIN' %}
      <option value="Customer_Details">CUSTOMER DETAILS</option>
      <option value="non_checked_out_schedules">Non-Checked Out Schedules</option>
      {% endif %}
      </select>
      </div>
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<div align="center"> <input class="assignButton export_payment" name="assing" type="button" value="Export" ></div>  

</div><!--ticket-wrapper-full-->             
</form>
            </div><!--content-->
    </div><!--popup-assign-eval-->
</div><!--overlay-->
<!-- export popup -->             
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'salesadmin/common/footer.html' %}    
</div><!--wrapper-->
{% endblock %}

{% block javascript %}

<script src="{% static 'files/js/charts/order-chart.js' %}"></script> 
<script>
  $(document).ready(function(){
    $('.footable').trigger('footable_resize');
  })
  $("#bookings-tab").click(function(){
  setTimeout(function(){ $('.footable').trigger('footable_resize'); }, 1000);
});
</script>
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });


// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
    </script>
<script>

//for tabs

    //keep selected tab on page reload
    {% if tab == 'orders' %}
      $('#orders-tab').click()  
    {% else %}
      $('#bookings-tab').click()
    {% endif %}

function appendLeadingZeroes(n){
    if(n <= 9){
      return "0" + n;
    }
    return n
  }

//append dates to export popup
var date3 = new Date();
date3.setDate(date3.getDate()-1)

var datestring = appendLeadingZeroes(date3.getDate())  + "-" + appendLeadingZeroes(date3.getMonth()+1) + "-" + date3.getFullYear();

var date4 = new Date();
date4.setDate(date4.getDate()-30);

var datestring2 = appendLeadingZeroes(date4.getDate())  + "-" + appendLeadingZeroes(date4.getMonth()+1) + "-" + date4.getFullYear();
console.log(datestring,datestring2)

$('.id_from_date').val(datestring2);
$('.id_to_date').val(datestring);


$('.export_btn').click(function(){
  
  $('#export_popup').css({'visibility':'visible','opacity':1,});
});

$("#close_export_popup").click(function () {
    $('#export_popup').css({'visibility':'hidden','opacity':0,});
});

//EXPORT EXCEL
$(".export_payment").click(function () {
  console.log("poi")
    $('#export_popup').css({'visibility':'hidden','opacity':0,});
    
    submitAnyForm($(this));

    location.reload(true);

    //document.getElementById("excelform").reset();
    
});

// //datepicker and timepicker for popup
    $(document).on("click", ".content", function () {
       $('.id_from_date').datetimepicker({ 
            pickTime: false, 
            format: "DD-MM-YYYY", 
            startDate: new Date(), 
        });

        $('.id_to_date').datetimepicker({ 
            pickTime: false, 
            format: "DD-MM-YYYY", 
            startDate: new Date(), 
        });

    });

$("#governorate_filter_id").change(function(){  

  $.ajax({

        url: "{% url 'agent:ajax-getarea' %}",

        data: {'governorate_id':this.value}, 

        dataType: 'json',

        success: function (data) { 

          ajax_ret_areas = data;     

       $("#area_filter_id").empty();

       $("#area_filter_id").append($('<option>', {

            value: "", 

           text: "---ALL---"

        })); 

        $.each( ajax_ret_areas, function( key, values ) {

              $("#area_filter_id").append($('<option>', {        

              value: key, 

              text: values   

            }));   
        });

                                  }  

      }); 

});

function set_params_go(args)
{
var url='{% url 'common_items:orders' %}';
var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),governorate:$('#governorate_filter_id').val(),area:$('#area_filter_id').val(),status:$('#status_filter_id').val(),cleaning_policy:$('#cleaning_policy_filter_id').val(),service_type:$('#service_type_filter_id').val(),payment_policy:$('#payment_policy_id').val(),evaluator:$('#evaluator_filter_id').val()
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}


$('#actionDropdown').on('hide.bs.dropdown', function () {
  console.log("called action")
})

</script>    
{% endblock %}