{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* .modal-dialog {
            width: 1000px !important;
        }
        @media only screen and (max-width: 950px) {
            .modal-dialog {
                width: auto !important;
            }
        } */
    </style>
<div class="wrapper" id="app">
    <!--wrapper-->
    {% if request.user.user_type == 'SALESADMIN' %}
  {% include "salesadmin/common/header.html" %}
{% elif request.user.user_type == 'AGENT' %}
  {% include "agent/common/header.html" %}
{% elif request.user.user_type == 'ADMIN' %}
  {% include "admin/common/header.html" %}
{% elif request.user.user_type == 'BOOKINGOFFICER' %}
  {% include "bookingofficer/common/header.html" %} 
{% elif request.user.user_type == 'EVALUATOR' %}
  {% include "evaluator/common/header.html" %}
{% elif request.user.user_type == 'SENIORTEAMLEADER' %}
  {% include "stl/common/header.html" %}
{% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
  {% include "operationsupervisor/common/header.html" %}
{% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
  {% include "technicalsupervisor/common/header.html" %}
{% elif request.user.user_type == 'ACCOUNTANT' %}
  {% include "accountant/common/header.html" %}
{% endif %}

    <section class="content">
        <!--content-->
        <div class="container-fluid space topspace">
            <!--container-fluid space-->
            <div class="welcome-wrapper">
                <!--welcome-wrapper-->
                <h1 class="dashboard-head">Productivity</h1>
            </div>





            <div class="main-content-holder">
                <!--main-content-holder-->


                <div class="white-wrapper">
                    <!--white-wrapper-->
                    <div class="row">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input   type="checkbox" required="required" name="is_active" id="is_active" checked="true" class="hidden-field"/>
                            <input   type="text" required="required" name="action_type" id="action_type" value="edit_customer_discount" class="hidden-field"/>
                            <input   type="text" required="required" name="discount_setting_id" id="discount_setting_id" value="{{discount_settings.id}}" class="hidden-field"/>
                        <div class="col-md-6 ">
                            <div class="discount-card">
                            <div class="row ml-10">
                                
                                <div class="col-md-12">
                                    <h2 class="productivity-name"> Discounts</h2>
                                    <div class="d-flex mt-10">
                                    <div >
                                        
                                        <label class="switch">
                                          
                                            <input type="checkbox" id="is_stat" name="is_stat" {% if discount_percentage.is_active == true %}checked{% endif %} onchange="changeDiscountStat()">
                                            <span class="slider round"></span>
                                          </label>
                                      </div>
                                      <div class="discount-stat">Active</div>
                                    </div>
                                </div>
                                
                                <div class="col-md-5 mt-10 ">
                                    <input   type="number" class="discount-card-sub-input" placeholder="Duration" required="required" name="duration" value="{{discount_settings.duration}}"/>
                                </div>
                                <div class="col-md-5 mt-10">
                                    <input   type="number" class="discount-card-sub-input" placeholder="Discount in %" required="required" name="discount_percentage" value="{{discount_settings.discount_percentage}}"/>
                                </div>
                                <div class="col-md-12 text-center mt-10 mb-10 ">
                                    <input type="submit" value="Update" class="discount-submit"/>
                                   

                                </div>
                            
                            </div>
                        </div>
                            

                        </div>
                    </form>
                    </div>
                   
                    <div class="row">
                        <button data-toggle="modal" data-target="#editModal"  class="pricerange_edit_button" style="display:none;"></button>
                        <button data-toggle="modal" data-target="#addModal" class="pricerange_add_button" style="display:none;"></button>
                        <button data-toggle="modal" data-target="#DeleteModal" class="pricerange_delete_button" style="display:none;"></button>
                        {% for service_type in service_types %}
                        <div class="col-md-6">
                            <div class="productivity-card">
                              <h2 class="productivity-name"> {{service_type.name}}</h2>
                              <div class="productivity-card-sub">
                                    {% for service_productivity in service_productivities %}
                                    {% if service_productivity.service_type == service_type %}
                                    {% if not service_productivity.is_newkitchen and not service_productivity.is_highprice_facade and not service_productivity.is_highprice_window and service_productivity.upholstery_type != 'CHAIR' and service_productivity.upholstery_type != 'CURTAIN' %}
                                    <div class="productivity-sub-top" id="productivityhead_{{service_type.id}}1">
                                        <div class="productivity-sub-top-item-left">
                                          Productivity
                                        </div>
                                        <div class="productivity-sub-top-item-right"> 
                                            <img id="id_edit_{{service_productivity.id}}" onclick="editPro({{service_productivity.id}})" class="productivity-card-edit" src="{% static 'files/icons/edit.png' %}">
                                            <button  id="id_done_{{service_productivity.id}}" onclick="doneEdit({{service_productivity.id}})" class="productivity-card-done">Done</button>
                                        </div>
                                    </div>
                                    <div class="productivity-card-sub-content" id="productivitycontent_{{service_type.id}}1">
                                    <h1 id="id_pro_value_{{service_productivity.id}}" >{{service_productivity.perhour_cleaning}} <span class="productivity-card-sub-content-text">sqm/man/hr</span></h1>
                                    <input  id="id_pro_{{service_productivity.id}}" type="number" class="productivity-card-sub-input" placeholder=" " required="required">
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    
                                    {% for service_productivity in service_productivities %}
                                    {% if service_productivity.service_type == service_type %}
                                    {% if service_productivity.is_newkitchen or service_productivity.is_highprice_facade or service_productivity.is_highprice_window or service_productivity.upholstery_type == 'CHAIR' %}
                                    <div class="productivity-sub-top" id="productivityhead_{{service_type.id}}2" style="display: none;">
                                        <div class="productivity-sub-top-item-left">
                                          Productivity
                                        </div>
                                        <div class="productivity-sub-top-item-right"> 
                                            <img id="id_edit_{{service_productivity.id}}" onclick="editPro({{service_productivity.id}})" class="productivity-card-edit" src="{% static 'files/icons/edit.png' %}">
                                            <button  id="id_done_{{service_productivity.id}}" onclick="doneEdit({{service_productivity.id}})" class="productivity-card-done">Done</button>
                                        </div>
                                    </div>
                                    <div class="productivity-card-sub-content" id="productivitycontent_{{service_type.id}}2" style="display: none;">
                                    <h1 id="id_pro_value_{{service_productivity.id}}" >{{service_productivity.perhour_cleaning}} <span class="productivity-card-sub-content-text">sqm/man/hr</span></h1>
                                    <input  id="id_pro_{{service_productivity.id}}" type="number" class="productivity-card-sub-input" placeholder=" " required="required">
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                    {% for service_productivity in service_productivities %}
                                    {% if service_productivity.service_type == service_type %}
                                    {% if service_productivity.upholstery_type == 'CURTAIN' %}
                                    <div class="productivity-sub-top" id="productivityhead_{{service_type.id}}3" style="display: none;">
                                        <div class="productivity-sub-top-item-left">
                                          Productivity
                                        </div>
                                        <div class="productivity-sub-top-item-right"> 
                                            <img id="id_edit_{{service_productivity.id}}" onclick="editPro({{service_productivity.id}})" class="productivity-card-edit" src="{% static 'files/icons/edit.png' %}">
                                            <button  id="id_done_{{service_productivity.id}}" onclick="doneEdit({{service_productivity.id}})" class="productivity-card-done">Done</button>
                                        </div>
                                    </div>
                                    <div class="productivity-card-sub-content" id="productivitycontent_{{service_type.id}}3" style="display: none;">
                                    <h1 id="id_pro_value_{{service_productivity.id}}" >{{service_productivity.perhour_cleaning}} <span class="productivity-card-sub-content-text">sqm/man/hr</span></h1>
                                    <input  id="id_pro_{{service_productivity.id}}" type="number" class="productivity-card-sub-input" placeholder=" " required="required">
                                   </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                              </div>
                              <div class="productivity-tab">
                                  <button id="normal_button_id_{{service_type.id}}" class="productivity-tab-item productivity-tab-border"  onclick="viewNormal({{service_type.id}})">{% if service_type.name == 'Upholstery Cleaning' %}Sofa{% elif service_type.name == 'Window Cleaning' %}Old Window{% elif service_type.name == 'Facade Cleaning' %}Old Facade{%elif service_type.name == 'Kitchen Cleaning'%}Old Kitchen{% else %}Normal{% endif %}</button>
                                  {% if service_type.name == 'Upholstery Cleaning' or service_type.name == 'Kitchen Cleaning' or service_type.name == 'Facade Cleaning' or service_type.name == 'Window Cleaning' %}
                                  <button id="special_button_id_{{service_type.id}}" class="productivity-tab-item " onclick="viewSpecial({{service_type.id}})">{% if service_type.name == 'Upholstery Cleaning' %}Chair{% elif service_type.name == 'Window Cleaning' %}New Window{% elif service_type.name == 'Facade Cleaning' %}New Facade{%elif service_type.name == 'Kitchen Cleaning'%}New Kitchen{% endif %}</button>
                                  {% endif %}
                                  {% if service_type.name == 'Upholstery Cleaning' %}
                                  <button id="veryspecial_button_id_{{service_type.id}}" class="productivity-tab-item " onclick="viewVerySpecial({{service_type.id}})">Curtain</button>
                                  {% endif %}
                                </div>

                              <div id="normal_id_{{service_type.id}}" class="productivity-card-content"> <!--normal-->
                              {% for service_price_range in service_price_ranges %}
                              {% if service_price_range.service_type == service_type %}
                              {% if not service_price_range.is_newkitchen and not service_price_range.is_highprice_facade and not service_price_range.is_highprice_window and service_price_range.upholstery_type != 'CHAIR' and service_price_range.upholstery_type != 'CURTAIN' %}
                              <div class="row productivity-card-items">
                                    <div class="col-md-3 productivity-card-items-1">
                                        {{service_price_range.name}}
                                    </div>
                                    <div class="col-md-3 productivity-card-items-2">
                                        {{service_price_range.minimum_area|floatformat:'2'}}-{{service_price_range.maximum_area|floatformat:'2'}}
                                    </div>
                                    <div class="col-md-3 productivity-card-items-3">
                                        {{service_price_range.price|floatformat:'3'}} KD
                                    </div>
                                    <div class="col-md-3 productivity-card-items-4">
                                        <button onclick="edit_price_range(this);" class="img-button" data-service_type_name="{{service_price_range.service_type.name}}" data-service_type_id="{{service_price_range.service_type.id}}" data-id="{{service_price_range.id}}" data-name="{{service_price_range.name}}" data-minimum_area="{{service_price_range.minimum_area}}" data-maximum_area="{{service_price_range.maximum_area}}" data-price="{{service_price_range.price}}" data-unit_price="{{service_price_range.unit_price|default_if_none:''}}" data-is_newkitchen="{{service_price_range.is_newkitchen}}" data-is_highprice_facade="{{service_price_range.is_highprice_facade}}" data-is_highprice_window="{{service_price_range.is_highprice_window}}" data-upholstery_type="{{service_price_range.upholstery_type}}">
                                            <img class="productivity-card-edit" src="{% static 'files/icons/edit.png' %}">
                                        </button>
                                        <button class="img-button" onclick="delete_price_range(this);" data-id="{{service_price_range.id}}">
                                            <img class="productivity-card-edit" src="{% static 'files/icons/delete.png' %}">
                                        </button>
                                    </div>
                                </div>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                              </div>


                              <div id="special_id_{{service_type.id}}" class="productivity-card-content none-div"> <!--Special-->
                              {% for service_price_range in service_price_ranges %}
                              {% if service_price_range.service_type == service_type %}
                              {% if service_price_range.is_newkitchen or service_price_range.is_highprice_facade or service_price_range.is_highprice_window or service_price_range.upholstery_type == 'CHAIR' %}
                              <div class="row productivity-card-items">
                                    <div class="col-md-3 productivity-card-items-1">
                                        {{service_price_range.name}}
                                    </div>
                                    <div class="col-md-3 productivity-card-items-2">
                                        {{service_price_range.minimum_area|floatformat:'2'}}-{{service_price_range.maximum_area|floatformat:'2'}}
                                    </div>
                                    <div class="col-md-3 productivity-card-items-3">
                                        {{service_price_range.price|floatformat:'3'}} KD
                                    </div>
                                    <div class="col-md-3 productivity-card-items-4">
                                        <button onclick="edit_price_range(this);" class="img-button" data-service_type_name="{{service_price_range.service_type.name}}" data-service_type_id="{{service_price_range.service_type.id}}" data-id="{{service_price_range.id}}" data-name="{{service_price_range.name}}" data-minimum_area="{{service_price_range.minimum_area}}" data-maximum_area="{{service_price_range.maximum_area}}" data-price="{{service_price_range.price}}" data-unit_price="{{service_price_range.unit_price|default_if_none:''}}" data-is_newkitchen="{{service_price_range.is_newkitchen}}" data-is_highprice_facade="{{service_price_range.is_highprice_facade}}" data-is_highprice_window="{{service_price_range.is_highprice_window}}" data-upholstery_type="{{service_price_range.upholstery_type}}">
                                            <img class="productivity-card-edit" src="{% static 'files/icons/edit.png' %}">
                                        </button>
                                        <button class="img-button" onclick="delete_price_range(this);" data-id="{{service_price_range.id}}">
                                            <img class="productivity-card-edit" src="{% static 'files/icons/delete.png' %}">
                                        </button>
                                    </div>
                                </div>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                              </div>

                              <div id="veryspecial_id_{{service_type.id}}" class="productivity-card-content none-div"> <!-- very Special-->
                                {% for service_price_range in service_price_ranges %}
                                {% if service_price_range.service_type == service_type %}
                                {% if service_price_range.upholstery_type == 'CURTAIN' %}
                                  <div class="row productivity-card-items">
                                      <div class="col-md-3 productivity-card-items-1">
                                          {{service_price_range.name}}
                                      </div>
                                      <div class="col-md-3 productivity-card-items-2">
                                          {{service_price_range.minimum_area|floatformat:'2'}}-{{service_price_range.maximum_area|floatformat:'2'}}
                                      </div>
                                      <div class="col-md-3 productivity-card-items-3">
                                          {{service_price_range.price|floatformat:'3'}} KD
                                      </div>
                                      <div class="col-md-3 productivity-card-items-4">
                                        <button onclick="edit_price_range(this);" class="img-button" data-service_type_name="{{service_price_range.service_type.name}}" data-service_type_id="{{service_price_range.service_type.id}}" data-id="{{service_price_range.id}}" data-name="{{service_price_range.name}}" data-minimum_area="{{service_price_range.minimum_area}}" data-maximum_area="{{service_price_range.maximum_area}}" data-price="{{service_price_range.price}}" data-unit_price="{{service_price_range.unit_price|default_if_none:''}}" data-is_newkitchen="{{service_price_range.is_newkitchen}}" data-is_highprice_facade="{{service_price_range.is_highprice_facade}}" data-is_highprice_window="{{service_price_range.is_highprice_window}}" data-upholstery_type="{{service_price_range.upholstery_type}}">
                                              <img class="productivity-card-edit" src="{% static 'files/icons/edit.png' %}">
                                          </button>
                                          <button class="img-button" onclick="delete_price_range(this);" data-id="{{service_price_range.id}}">
                                              <img class="productivity-card-edit" src="{% static 'files/icons/delete.png' %}">
                                          </button>
                                      </div>
                                  </div>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                </div>

                              <div class="addNewPrice">
                                    <button class="border-button" onclick="add_price_range(this);" data-service_type_name="{{service_type.name}}" data-service_type_id="{{service_type.id}}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Price Range</button>
                              </div>
                            </div>
                        </div>
                        {% endfor %}
                       
                        
                       


                    </div>

                </div>
            </div>

        </div>
<!-- Modal delete -->
  <div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog cancel-model cancel-order-border" role="document">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="d-flex cl-modal-icons">
                        <button data-dismiss="modal" class="img-button">
                            <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                        </button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="cancel-model-content">
                        <h1>Do you want to Delete ?</h1>
                    </div>
                </div>

            </div>
            <form method="POST" action="">
                {% csrf_token %}
            <div class="row">
                <input type="hidden" name="action_type" value="delete_price_range">
                <input type="hidden" name="price_range" id="delete_price_range_id">
                <div class="col-md-12 text-center">
                    <div class="cancel-model-content">
                        <button class="sent-button"><input type="submit" value="Yes"></button>
                        <button data-dismiss="modal" class="view-button">No</button>
                    </div>
                </div>

            </div>
            </form>
        </div>
    </div>
  </div>
  <!-- Modal edit -->
  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog cancel-model cancel-order-border" role="document">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="d-flex cl-modal-icons">
                        <button data-dismiss="modal" class="img-button">
                            <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                        </button>

                    </div>
                </div>
            </div>
            <h2 class="productivity-name" id="edit_service_type_name_id"> </h2>
            <!-- <h3 class="productivity-name-type"> Normal</h3> -->
            <form method="POST" action="">
                {% csrf_token %}
            <input type="hidden" name="action_type" value="edit_price_range">
            <input type="hidden" name="price_range" id="edit_price_range_id">
            <input type="hidden" name="service_type" id="edit_service_type_id">
            <div class="row mt-10">
                <div class="col-md-6 mt-10">
                    <label > Name</label>
                    <input name="name" id="edit_name_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                </div>
                <div class="col-md-6 mt-10">
                    <label > Price</label>
                    <input name="price" id="edit_price_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                </div>
                <div class="col-md-6 mt-10">
                    <label > Minimum Area</label>
                    <input name="minimum_area" id="edit_minimum_area_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                </div>
                <div class="col-md-6 mt-10">
                    <label > Maximum Area</label>
                    <input name="maximum_area" id="edit_maximum_area_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                </div>
                <div class="col-md-6 mt-10">
                    <label > Unit Price</label>
                    <input name="unit_price" id="edit_unit_price_id" type="text" placeholder=" " class="textBox model-text-border">
                </div>
                <div class="col-md-6 mt-10 kitchen-checkbox">
                    <label > New Kitchen</label>
                    <input name="is_newkitchen" id="edit_is_newkitchen_id" type="checkbox">
                </div>
                <div class="col-md-6 mt-10 facade-checkbox">
                    <label > High Price Facade</label>
                    <input name="is_highprice_facade" id="edit_is_highprice_facade_id" type="checkbox">
                </div>
                <div class="col-md-6 mt-10 window-checkbox">
                    <label > High Price Window</label>
                    <input name="is_newkitchen" id="edit_is_highprice_window_id" type="checkbox">
                </div>
                <div class="col-md-6 mt-10 upholstery-checkbox">
                    <label > Upholstery Type</label>
                    <select name="upholstery_type" id="edit_upholstery_type_id" class="textBox model-text-border">
                        <option value="SOFA">SOFA</option>
                        <option value="CHAIR">CHAIR</option>
                        <option value="CURTAIN">CURTAIN</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="cancel-model-content">
                        <button class="sent-button"><input type="submit" value="Submit"></button>
                        <button data-dismiss="modal" class="view-button">Cancel</button>
                    </div>
                </div>

            </div>
            </form>
        </div>
    </div>
  </div>

    <!-- Modal add -->
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
    
                        <div class="d-flex cl-modal-icons">
                            <button data-dismiss="modal" class="img-button">
                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
                <h2 class="productivity-name" id="add_service_type_name_id"> </h2>
                <form method="POST" action="">
                    {% csrf_token %}
                <input type="hidden" name="action_type" value="add_price_range">
                <input type="hidden" name="service_type" id="add_service_type_id">
                <div class="row mt-10">
                    <div class="col-md-6 mt-10">
                        <label > Name</label>
                        <input name="name" id="add_name_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                    </div>
                    <div class="col-md-6 mt-10">
                        <label > Price</label>
                        <input name="price" id="add_price_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                    </div>
                    <div class="col-md-6 mt-10">
                        <label > Minimum Area</label>
                        <input name="minimum_area" id="add_minimum_area_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                    </div>
                    <div class="col-md-6 mt-10">
                        <label > Maximum Area</label>
                        <input name="maximum_area" id="add_maximum_area_id" type="text" placeholder=" " required="required" class="textBox model-text-border">
                    </div>
                    <div class="col-md-6 mt-10">
                        <label > Unit Price</label>
                        <input name="unit_price" id="add_unit_price_id" type="text" placeholder=" " class="textBox model-text-border">
                    </div>
                    <div class="col-md-6 mt-10 kitchen-checkbox">
                        <label > New Kitchen</label>
                        <input name="is_newkitchen" id="add_is_newkitchen_id" type="checkbox">
                    </div>
                    <div class="col-md-6 mt-10 facade-checkbox">
                        <label > High Price Facade</label>
                        <input name="is_highprice_facade" id="add_is_highprice_facade_id" type="checkbox">
                    </div>
                    <div class="col-md-6 mt-10 window-checkbox">
                        <label > High Price Window</label>
                        <input name="is_newkitchen" id="add_is_highprice_window_id" type="checkbox">
                    </div>
                    <div class="col-md-6 mt-10 upholstery-checkbox">
                        <label > Upholstery Type</label>
                        <select name="upholstery_type" id="add_upholstery_type_id" class="textBox model-text-border">
                            <option value="SOFA" selected>SOFA</option>
                            <option value="CHAIR">CHAIR</option>
                            <option value="CURTAIN">CURTAIN</option>
                        </select>
                    </div>
    
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <button class="sent-button"><input type="submit" value="Submit"></button>
                            <button data-dismiss="modal" class="view-button">Cancel</button>
                        </div>
                    </div>
    
                </div>
                </form>
            </div>
        </div>
      </div>
      
</section>


</div>
{% endblock %}
{% block javascript %}
<script>
    function changeDiscountStat(){
        var stat=$('.discount-stat').text()
        console.log("stat is"+stat)
        if(stat=='Active'){
            $('.discount-stat').text('In Active')
            $('#is_active').prop('checked', false);
        }
        else{
            $('.discount-stat').text('Active')
            $('#is_active').prop('checked', true);
        }
       
    }
  function viewVerySpecial(id) {
    document.getElementById("veryspecial_id_"+id).style.display = "block";
    document.getElementById("normal_id_"+id).style.display = "none";
    document.getElementById("special_id_"+id).style.display = "none";
    $("#veryspecial_button_id_"+id).addClass("productivity-tab-border");
    $("#normal_button_id_"+id).removeClass("productivity-tab-border");
    $("#special_button_id_"+id).removeClass("productivity-tab-border");

    $("#productivityhead_"+id+"1").hide();
    $("#productivityhead_"+id+"2").hide();
    $("#productivityhead_"+id+"3").show();
    $("#productivitycontent_"+id+"1").hide();
    $("#productivitycontent_"+id+"2").hide();
    $("#productivitycontent_"+id+"3").show();
  }

  function viewSpecial(id) {
    document.getElementById("special_id_"+id).style.display = "block";
    document.getElementById("normal_id_"+id).style.display = "none";
    document.getElementById("veryspecial_id_"+id).style.display = "none";
    $("#special_button_id_"+id).addClass("productivity-tab-border");
    $("#normal_button_id_"+id).removeClass("productivity-tab-border");
    $("#veryspecial_button_id_"+id).removeClass("productivity-tab-border");

    $("#productivityhead_"+id+"1").hide();
    $("#productivityhead_"+id+"2").show();
    $("#productivityhead_"+id+"3").hide();
    $("#productivitycontent_"+id+"1").hide();
    $("#productivitycontent_"+id+"2").show();
    $("#productivitycontent_"+id+"3").hide();
  }
  function viewNormal(id) {
    document.getElementById("normal_id_"+id).style.display = "block";
    document.getElementById("special_id_"+id).style.display = "none";
    document.getElementById("veryspecial_id_"+id).style.display = "none";
    $("#normal_button_id_"+id).addClass("productivity-tab-border");
    $("#special_button_id_"+id).removeClass("productivity-tab-border");
    $("#veryspecial_button_id_"+id).removeClass("productivity-tab-border");
    
    $("#productivityhead_"+id+"1").show();
    $("#productivityhead_"+id+"2").hide();
    $("#productivityhead_"+id+"3").hide();
    $("#productivitycontent_"+id+"1").show();
    $("#productivitycontent_"+id+"2").hide();
    $("#productivitycontent_"+id+"3").hide();
  }

  function editPro(id) {
    document.getElementById("id_edit_"+id).style.display = "none";
    document.getElementById("id_done_"+id).style.display = "block";
    document.getElementById("id_pro_value_"+id).style.display = "none";
    var valString = $("#id_pro_value_"+id).text()
    var temp = valString.split(" ");
    var v = parseFloat(temp[0])
    $("#id_pro_"+id).val(v);
    document.getElementById("id_pro_"+id).style.display = "block";
  }
  function doneEdit(id) {
    document.getElementById("id_edit_"+id).style.display = "block";
    document.getElementById("id_done_"+id).style.display = "none";
    document.getElementById("id_pro_value_"+id).style.display = "block";
    document.getElementById("id_pro_"+id).style.display = "none";
    productivity_id    = id;
    productivity_value = $("#id_pro_"+id).val();

    // var csrf_header = {'X-CSRFToken':'{{csrf_token}}'};
    $.ajax({
            url: "{% url 'common_items:productivity' %}",
            data: {
            'productivity_id': productivity_id,
            'productivity_value':productivity_value,
            'action_type':'edit_productivity'
            },
            dataType: "json",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            
            success: function(data) {
                if(data['success'] == true)
                {
                    window.location.href="{% url 'common_items:productivity' %}";
                }
            }
        });

}


//edit price range
  function edit_price_range(elem)
  {
  $('#edit_price_range_id').val($(elem).data('id'));
  $('#edit_name_id').val($(elem).data('name'));
  $('#edit_minimum_area_id').val($(elem).data('minimum_area'));
  $('#edit_maximum_area_id').val($(elem).data('maximum_area'));
  $('#edit_price_id').val($(elem).data('price'));
  $('#edit_unit_price_id').val($(elem).data('unit_price'));

  $("#edit_service_type_name_id").text($(elem).data('service_type_name'));
  $("#edit_service_type_id").val($(elem).data('service_type_id'));

  servicename = $(elem).data('service_type_name');
  if(servicename=='Facade Cleaning'){
      $('.facade-checkbox').show()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()

      if($(elem).data('is_highprice_facade') == 'True')
      {
        $('#edit_is_highprice_facade_id').attr('checked',true)
      }
      else
      {
       $('#edit_is_highprice_facade_id').attr('checked',false) 
      }
    }
    else if(servicename=='Window Cleaning'){
      $('.window-checkbox').show()
      $('.facade-checkbox').hide()
     
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    
      if($(elem).data('is_highprice_window') == 'True')
      {
      $('#edit_is_highprice_window_id').attr('checked',true)
      }
      else
      {
        $('#edit_is_highprice_window_id').attr('checked',false)
      }
    }
    else if(servicename=='Upholstery Cleaning'){
      $('.upholstery-checkbox').show()
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
    
      $('.kitchen-checkbox').hide()
      $('#edit_upholstery_type_id').val($(elem).data('upholstery_type'));
    }
    else if(servicename=='Kitchen Cleaning'){
      $('.kitchen-checkbox').show()
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
 
      if($(elem).data('is_newkitchen')=='True')
      {
     
        $('#edit_is_newkitchen_id').attr('checked',true)
      }
      else
      {
        $('#edit_is_newkitchen_id').attr('checked',false) 
      }
    }
    else{
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    }

    $(".pricerange_edit_button").click();
}



//Add price range
function add_price_range(elem)
{
    $("#add_service_type_name_id").text($(elem).data('service_type_name'));
    $("#add_service_type_id").val($(elem).data('service_type_id'));

    servicename = $(elem).data('service_type_name');
  
  if(servicename=='Facade Cleaning'){
      $('.facade-checkbox').show()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    }
    else if(servicename=='Window Cleaning'){
      $('.window-checkbox').show()
      $('.facade-checkbox').hide() 
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    
    }
    else if(servicename=='Upholstery Cleaning'){
      $('.upholstery-checkbox').show()
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
      $('.kitchen-checkbox').hide()
    }
    else if(servicename=='Kitchen Cleaning'){
      $('.kitchen-checkbox').show()
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
    }
    else{
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    }

    $(".pricerange_add_button").click();
}

//Delete Price Range
function delete_price_range(elem)
{
    $('#delete_price_range_id').val($(elem).data('id'));
    $(".pricerange_delete_button").click();
}
</script>
{% endblock %}