<html>
</html>
{% comment %} <!DOCTYPE html>
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="Author" content="Bleach Kuwait">
<meta name="Email" content="contact@bleach-kw.com">
<meta name="Copyright" content="http://bleach-kw.com">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<meta name="Language" content="en">
<meta name="Description" content="Home - Bleach Housekeepin">
<meta name="Keywords" content="We at Bleach always strive to meet our customers need for exceptional housecleaning and housekeeping services in their homes, apartments and offices">
<meta name="Robots" content="index, follow">
<title>Bleach - KW | Dashboard Senior Team Leader</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="./css/leave-selector.css">
<link rel="stylesheet" href="./css/select-box.css"> {% endcomment %}