{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper">
{% include "agent/common/header.html" %} 
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Resources</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper--> 
        
     <div class="main-card"><!--main-card-->
<div class="card-row"><!--card-row-->
            <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-workers-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Workers</h1>
            	<h2 class="blue-text"><label>Active<span>{{total_active_workers|default_if_none:''}}</span></label> </h2>
            	<p><label>Total <span>{{total_workers|default_if_none:''}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-manhours-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Man Hours</h1>
            	<h2 class="green-text"><label>Today<span id="today_man_hour"></span></label>  </h2>
            	<p><label>This Week <span id="week_man_hour"></span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg orange-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-man-average-hours-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Man Average Hours</h1>
            	<h2 class="orange-text"><label>Today<span id="today_avg_man_hour"></span></label> </h2>
            	<p><label>This Week <span id="week_avg_man_hour"></span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg red-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-active-team-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Active Team</h1>
            	<h2 class="red-text"><label>Today<span>{{today_active_teams_count|default_if_none:''}}</span></label> </h2>
            	<p><label>This Week <span>{{week_active_teams_count|default_if_none:''}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
   </div><!--card-row-->
</div><!--main-card-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
            
<div class="white-wrapper"><!--white-wrapper-->
<div class="toolbar-div"><!--toolbar-div-->

<div class="search-middle"><!--search-middle-->
<div class="filter-button"><a href="#">Filter</a></div>  <span class="search-wrapper"><input type="text" class="search-bar" id="search-bar" placeholder="Search here..." value="{{search_query|default_if_none:''}}" onchange ="set_params_go()">
<a href="#" onclick="set_params_go();"><img class="search-icon" src="{% static 'files/images/search-icon.png' %}"></a></span>
</div><!--search-middle-->

        <div class="filter-right"><!--filter-right-->
       <input type="text" id="working_calendar" class="date_pick date-picker-resource" value={{workers_date|date:"d-m-Y"}} onchange="set_params_go();">
       
       <div class="ui calendar" id="working_calendar_month" hidden>
        <div class="ui input left icon" >
          <input type="text" id="month">
        </div>
      </div>
       <label class="switch">
        <input type="checkbox" id="daymonthtoggle" checked>
        <span class="slider"></span>
      </label><br><br>
       
       
        </div><!--filter-right-->


</div><!--toolbar-div-->


<div id="resource-scroll" class="resource-scroll">
<div class="table-wrap" id="table_date">
<table class="resource-table" id="myTable" >
<thead>
<tr class="resource-graybg">
<th colspan="2" class="fixed-side resource-graybg" scope="col">&nbsp;</th>
<th onclick="sortTable(0)" class="resource-graybg align-left" width="200" scope="col">Name<div class="sort-icon"></div></th>
<th onclick="sortTable(1)" class="resource-graybg align-center" width="90" scope="col">Working Time<div class="sort-icon"></div></th>
	<th class="border-right" width="11"> </td>
    <th class="border-right" width="58">2 AM</th>
    <th class="border-right" width="58">4 AM</th>
    <th class="border-right" width="58">6 AM</th>
    <th class="border-right" width="58">8 AM</th>
    <th class="border-right" width="58">10 AM</th>
    <th class="border-right" width="54">12 PM</th>
    <th class="border-right" width="54">2 PM</th>
    <th class="border-right" width="54">4 PM</th>
    <th class="border-right" width="54">6 PM</th>
    <th class="border-right" width="54">8 PM</th>
    <th class="border-right" width="54">10 PM</th>
    <th  width="25"></th>
</tr>
</thead>
<tbody >
    {% for details in workers_details %}
    <tr id="worker{{details.id}}">
    <th class="fixed-side togglehide"><img src="{% static 'files/images/green-dot.png' %}"></th>
    <th class="profile fixed-side togglehide"><img {% if details.profile_image %}src="{{details.profile_image.url}}"{% else %}src="{% static 'files/images/profile-pic.jpg' %}"{% endif %} align="absmiddle"></th>
    <td><div class="name-bold">{{details.name}}<div class="position">{{details.user_type}}</div></div></td>
    </tr>
    {% endfor %}
 </tbody>
</table>
</div>

<div class="table-wrap" id="table_month" hidden>
<table class="resource-table" id="myTable2">
<thead>
<tr>
<th class="align-left">Staff</th>
<th class="align-center" data-hide="phone">Ratings</th>
<th class="align-center" data-hide="tablet">Worked Days</th>
<th class="align-center" data-hide="tablet">Man Hours</th>
<th class="align-center" data-hide="tablet">Mang Avg Hours</th>

</tr>
</thead>
    <tbody>
        {% include 'agent/resource/resource-month.html' %}
    </tbody>
</table>

</div>
</div>

</div><!--white-wrapper-->            
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'agent/common/footer.html' %}    
</div><!--wrapper-->
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $('#working_calendar_month').calendar({
        type: 'month',
    });

    // $('#month').Monthpicker({

    // // default values
    // // format: mm/yyyy
    // minYear: null,
    // maxYear: null,
    // minValue: null,
    // maxValue: null,

    // // i18n
    // monthLabels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],

    // // Callback events
    // onSelect: function() { 
    //     console.log($('#month').val(),"tree")
    //     load_workers_data();
    //  },
    // onClose: function() { return; }

    // });
    

    //for loading default month and year
    var months = [ "January", "February", "March", "April", "May", "June", 
               "July", "August", "September", "October", "November", "December" ];

    var date1 = new Date();
    var month = date1.getMonth();
    var selectedMonthName = months[month];
    
    console.log(selectedMonthName,"lp")
    var datestring = selectedMonthName + " " + date1.getFullYear();
    $('#month').val(datestring);

    //load monthly workers data on toggle
    function load_workers_data(){
        console.log("pop")
        var month_year = datestring
        
        $.ajax({
                url: '/agent/ajax/resourcestoggle/',
                data: {
                'month_year': month_year
                
                },
                dataType: 'json',
            
                success: function(data) { 

                console.log(data.html_workers_list);
                $("#myTable2 tbody ").html(data.html_workers_list);

                }
            })
        }

    $('#daymonthtoggle').click(function(){
        if($(this).is(':checked')){
            $('#working_calendar_month').attr("hidden",true);
            $('#working_calendar').attr("hidden",false);
            $('#table_month').attr("hidden",true);
            $('#table_date').attr("hidden",false);
            $('.togglehide').attr("hidden",false);
        }else{
            $('#working_calendar_month').attr("hidden",false);
            $('#working_calendar').attr("hidden",true);
            $('#table_month').attr("hidden",false);
            $('#table_date').attr("hidden",true);
            $('.togglehide').attr("hidden",true);
            load_workers_data();

        }
    });

    $('document').ready(function(){
        //To find total and avergae man hour weekly and today
        //to find today man hour
        total_today_hours = 0
        {% for cleaning_team in today_cleaning_active_teams %}
        
        starting_time_string      = '{{cleaning_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{cleaning_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60

        
        if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{cleaning_team.end_at|date:'d'}}')))
                {
                        total_today_hours += ending_time*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                }

                else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{cleaning_team.start_at|date:'d'}}')))
                    {
                    
                    total_today_hours += (24-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    }
                else
                {
                    total_today_hours += (ending_time-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);    
                }

        {% endfor %}
        
        {% for followup_team in today_followup_active_teams %}
            
        starting_time_string      = '{{followup_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{followup_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60


        if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{followup_team.end_at|date:'d'}}')))
                {
                        total_today_hours += ending_time*(parseInt('{{followup_team.no_of_cleaners}}')+1)
                
                }

        else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{followup_team.start_at|date:'d'}}')))
            {
            
            total_today_hours += (24-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);
            
            }
        else
        {
            total_today_hours += (ending_time-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);   
        }

        {% endfor %}
        average_today_hours = total_today_hours/parseInt('{{today_total_team_mens}}')
        
        //to find week man hour
        total_week_hours = 0
        {% for cleaning_team in week_cleaning_active_teams %}
        
        starting_time_string      = '{{cleaning_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{cleaning_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60

        
        if((ending_time<starting_time)&(parseInt('{{weekstart_date|date:'d'}}')==parseInt('{{cleaning_team.end_at|date:'d'}}')))
                {
                        total_week_hours += ending_time*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    console.log(total_week_hours,"cleaning")
                }

                else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{cleaning_team.start_at|date:'d'}}')))
                    {
                    
                    total_week_hours += (24-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    console.log(total_week_hours,"cleaning")
                    }
                else
                {
                    if(ending_time<starting_time)
                        {
                        total_week_hours += ((24-starting_time)+ending_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);        
                        } 
                    else{
                        total_week_hours += (ending_time-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    } 
                    console.log(total_week_hours,"cleaning")   
                }

        {% endfor %}
        
        {% for followup_team in week_followup_active_teams %}
            
        starting_time_string      = '{{followup_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{followup_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60


        if((ending_time<starting_time)&(parseInt('{{weekstart_date|date:'d'}}')==parseInt('{{followup_team.end_at|date:'d'}}')))
                {
                        total_week_hours += ending_time*(parseInt('{{followup_team.no_of_cleaners}}')+1)
                console.log(total_week_hours,"followup")
                }

        else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{followup_team.start_at|date:'d'}}')))
            {
            
            total_week_hours += (24-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);
            console.log(total_week_hours,"followup")
            }
        else
        {   if(ending_time<starting_time)
                {
                total_week_hours += ((24-starting_time)+ending_time)*parseInt('{{followup_team.no_of_cleaners}}')+1;        
                } 
            else{
                total_week_hours += (ending_time-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);
            }    
            console.log(total_week_hours,"followup")   
        }

        {% endfor %}

        average_week_hours = total_week_hours/parseInt('{{week_total_team_mens}}')
        

        $("#today_man_hour").html(total_today_hours.toFixed(2));
        $("#week_man_hour").html(total_week_hours.toFixed(2));

        if (Number.isNaN(average_today_hours))
        {
            $("#today_avg_man_hour").html('0.00');
        }
        else
        {
            $("#today_avg_man_hour").html(average_today_hours.toFixed(2));   
        }
        if (Number.isNaN(average_week_hours))
        {
            $("#week_avg_man_hour").html('0.00');
        }
        else
        {
            $("#week_avg_man_hour").html(average_week_hours.toFixed(2));   
        }






        //To Find Total working Hours of each user
        {% for details in workers_details %}

            //cleaning
            {% if details.cleaning_member_details %}
                
                total_cleaning_duration = 0

                {% for cleaning_details in details.cleaning_member_details %}
                    
                    starting_time_string      = '{{cleaning_details.start_at|date:'H:i'}}'.replace(":",".");
                    ending_time_string        = '{{cleaning_details.end_at|date:'H:i'}}'.replace(":",".");

                    starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
                    ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60


                    if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{cleaning_details.end_at|date:'d'}}')))
                        {
                            total_cleaning_duration += ending_time;
                    }

                    else if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{cleaning_details.start_at|date:'d'}}')))
                        {
                        
                        total_cleaning_duration += 24-starting_time;
                    
                        }
                    else
                    {
                        total_cleaning_duration += ending_time-starting_time;    
                    }    


                {% endfor %}
            {% else %}
            total_cleaning_duration = 0
            {% endif %}

            //follow up 
            {% if details.followup_member_details %}
                total_followup_duration = 0
                {% for followup_details in details.followup_member_details %}
                    
                    starting_time_string      = '{{followup_details.start_at|date:'H:i'}}'.replace(":",".");
                    ending_time_string        = '{{followup_details.end_at|date:'H:i'}}'.replace(":",".");

                    starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
                    ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60


                    if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{followup_details.end_at|date:'d'}}')))
                        {
                            total_followup_duration += ending_time;
                    }

                    else if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{followup_details.start_at|date:'d'}}')))
                        {
                        
                        total_followup_duration += 24-starting_time;
                    
                        }
                    else
                    {
                        total_followup_duration += ending_time-starting_time;    
                    }    


                {% endfor %}
            {% else %}
            total_followup_duration = 0.0
            {% endif %}

            
            total_duration = total_followup_duration+total_cleaning_duration
            hours   = (total_duration+"").split('.')[0]
            minutes = parseInt((total_duration+"").split('.')[1])*6
            if(Number.isNaN(minutes))
            {
                minutes = 0;
            }
            //append total hours to working table
            $("#worker{{details.id}}").append('<td class="align-center">'+hours+'h '+minutes+'m</td><td colspan="13" id="calendar{{details.id}}"></td>');

        {% endfor %}










        //To Draw Work Details of each worker
        {% for details in workers_details %}

            //cleaning
            {% if details.cleaning_member_details %}
                {% for cleaning_details in details.cleaning_member_details %}
                
                starting_time_string      = '{{cleaning_details.start_at|date:'H:i'}}'.replace(":",".");
                ending_time_string        = '{{cleaning_details.end_at|date:'H:i'}}'.replace(":",".");         
                starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
                ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
                    ending_time_string.split('.')[1])/60  


                if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{cleaning_details.end_at|date:'d'}}')))
                {
                    left_percentage = 0
                    width_percentage= 100/24*ending_time
                    if((left_percentage==0)&(width_percentage==0))
                    {

                    }
                    else
                    {
                     $("#calendar{{details.id}}").append('<div {% if cleaning_details.team.order_scheduler.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %} class="sp-blue-box-second" {% else %}class="sp-green-box-second" {% endif %} style="width:'+width_percentage+'%;left:'+left_percentage+'%;"> <center>{{cleaning_details.team.order_scheduler.customer_address.area.name}}</center></div>');   
                    }
                }
                else if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{cleaning_details.start_at|date:'d'}}')))
                {
                    left_percentage = 100/24*starting_time
                    width_percentage= 100-100/24*starting_time
                    $("#calendar{{details.id}}").append('<div {% if cleaning_details.team.order_scheduler.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %} class="sp-blue-box-first" {% else %}class="sp-green-box-first" {% endif %} style="width:'+width_percentage+'%;left:'+left_percentage+'%;"> <center>{{cleaning_details.team.order_scheduler.customer_address.area.name}}</center></div>');
                }
                else
                {
                     left_percentage  = 100/24*starting_time;
                     width_percentage = 100/24*ending_time-100/24*starting_time

                     $("#calendar{{details.id}}").append('<div {% if cleaning_details.team.order_scheduler.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %} class="blue-box" {% else %}class="green-box" {% endif %} style="width:'+width_percentage+'%;left:'+left_percentage+'%;"> <center>{{cleaning_details.team.order_scheduler.customer_address.area.name}}</center></div>');         
                  
                }    

                {% endfor %}
            {% else %}
            {% endif %}

            //Follow up
            {% if details.followup_member_details %}
                {% for followup_details in details.followup_member_details %}
                
                starting_time_string      = '{{followup_details.start_at|date:'H:i'}}'.replace(":",".");
                ending_time_string        = '{{followup_details.end_at|date:'H:i'}}'.replace(":",".");         
                starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
                ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
                    ending_time_string.split('.')[1])/60  


                if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{followup_details.end_at|date:'d'}}')))
                {
                    left_percentage = 0
                    width_percentage= 100/24*ending_time
                    if((left_percentage==0)&(width_percentage==0))
                    {

                    }
                    else{
                        $("#calendar{{details.id}}").append('<div class="sp-yellow-box-second" style="width:'+width_percentage+'%;left:'+left_percentage+'%;"> <center>{{followup_details.team.followup_scheduler.customer_address.area.name}}</center></div>');
                    }
        
                }
                else if((ending_time<starting_time)&(parseInt('{{workers_date|date:'d'}}')==parseInt('{{followup_details.start_at|date:'d'}}')))
                {
                    left_percentage = 100/24*starting_time
                    width_percentage= 100-100/24*starting_time
                    $("#calendar{{details.id}}").append('<div class="sp-yellow-box-first" style="width:'+width_percentage+'%;left:'+left_percentage+'%;"> <center>{{followup_details.team.followup_scheduler.customer_address.area.name}}</center></div>');
                }
                else
                {
                     left_percentage  = 100/24*starting_time;
                     width_percentage = 100/24*ending_time-100/24*starting_time

                     $("#calendar{{details.id}}").append('<div class="yellow-box" style="width:'+width_percentage+'%;left:'+left_percentage+'%;"> <center>{{followup_details.team.followup_scheduler.customer_address.area.name}}</center></div>');         
                  
                }    

                {% endfor %}
            {% else %}
            {% endif %}

    {% endfor %}        
    });

function set_params_go(args)
{
var url='{% url 'agent:resource-management' %}';
var params={workers_calendar_date:$('#working_calendar').val(),search:$('#search-bar').val(),
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}

</script>
{% endblock %}    