{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper" id="app" v-cloak><!--wrapper-->

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<link href="{% static 'files/externalfiles/plugins/OwlCarousel2/dist/assets/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'files/css/colors.css' %}" rel="stylesheet">

{% include "stl/common/header.html" %}
<v-app>   
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Welcome to Dashboard</h1>
                <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>    
            </div><!--welcome-wrapper-->
       
     <div class="main-card"><!--main-card-->
<div class="card-row"><!--card-row-->
            <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-active-workers-icon.png' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Workers</h1>
            	<h2 class="blue-text"><label>Active<span>{{total_active_workers}}</span></label> </h2>
            	<p><label>Total <span>{{total_workers}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-manhours-icon.png' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Man Occupied Hours</h1>
            	<h2 class="green-text"><label>Today<span id="today_man_hour"></span></label>  </h2>
            	<p><label>This Week <span id="week_man_hour"></span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg orange-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-man-average-hours-icon.png' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Man Occupied Average Hours</h1>
            	<h2 class="orange-text"><label>Today<span id="today_avg_man_hour"></span></label> </h2>
            	<p><label>This Week <span id="week_avg_man_hour"></span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg red-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-cleaning-red-job-icon.png' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Cleaning Jobs</h1>
            	<h2 class="red-text"><label>Today<span>{{today_cleaning_job_count}}</span></label> </h2>
            	<p><label>This Week <span>{{week_cleaning_job_count}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
   </div><!--card-row-->
</div><!--main-card-->       

<div class="main-content-holder"><!--main-content-holder-->  

{% if investigations %}  

<div class="white-wrapper"><!--white-wrapper-->

<div class="filter-columns-wrapper"><!--filter-columns-wrapper-->

<div class="filter-column-boxes filter-columns-left"><!--filter-column-boxes filter-columns-left-->
<h2 class="h2">Cases & Complaints</h2>
</div>

</div>
<table class="main-table">
<tbody>
{% for investigation in investigations %}
<tr class="{% if investigation.days_left <= 2 %}green-line{% elif investigation.days_left > 2 and investigation.days_left <= 5 %}yellow-line{% elif investigation.days_left > 5 and investigation.days_left <= 7 %}orange-line{% else %}red-line{% endif %} clickable-row-list" data-href="#"> 
<td data-label="Ticket Number" class="bold-text" >{% for followup in investigation.followup %}
        <a href="{% url 'common_items:ticketadvanced' investigation.order_schedule.order.evaluation.customer.id followup.id %}" target="_blank">TKT{{followup.ticket_no}}</a>
        {% endfor %}</td>
{% comment %} <td data-label="Proposed Time" class="bold-text">{{investigation.scheduled_at|date:"d/m/Y h:m A"}}</td> {% endcomment %}
<td data-label="Customer">{{investigation.order.evaluation.customer.name}}</td>
<td class="hide-a" data-label="">{{investigation.order_schedule.customer_address.area.name}}</td>
<td class="hide-a" data-label="">

{% if investigation.secondary_investigator %}
{% if investigation.secondary_investigator.profile_image %}
<img src="{{investigation.secondary_investigator.profile_image.url}}" class="profile-avatar" title="{{investigation.secondary_investigator.name}}">
{% else %}
<img src="{% static 'files/images/profile-pic.jpg' %}" class="profile-avatar" title="{{investigation.secondary_investigator.name}}">
{% endif %}
{% else %}

{% if investigation.assigned_by.profile_image %}
<img src="{{investigation.assigned_by.profile_image.url}}" class="profile-avatar" title="{{investigation.assigned_by.name}}">
{% else %}
<img src="{% static 'files/images/profile-pic.jpg' %}" class="profile-avatar" title="{{investigation.assigned_by.name}}">
{% endif %}
{% for team_detail in investigation.order_schedule.cleaning_team_details %}
{% if team_detail.team_leader.profile_image %}
<img src="{{team_detail.team_leader.profile_image.url}}" class="profile-avatar" title="{{team_detail.team_leader.name}}">
{% else %}
<img src="{% static 'files/images/profile-pic.jpg' %}" class="profile-avatar" title="{{team_detail.team_leader.name}}">
{% endif %}
{% endfor %}

{% endif %}

</td>
<td class="hide-a" data-label="">
    <span class="{% if investigation.order_schedule.order_scheduler_book.cleaning_policy == 'SUBSCRIPTION' %}green-text{% else %}blue-text{% endif %} bold-text">{{investigation.order_schedule.order_scheduler_book.cleaning_policy}}</span>
</td>
<td data-label="" class="bold-text">{% if investigation.days_left <= 2 %}<h3 class="green-text-h3">{{investigation.days_left}}</h3> Days&#11014;{% elif investigation.days_left > 2 and investigation.days_left <= 5 %}<h3 class="yellow-text-h3">{{investigation.days_left}}</h3> Days&#11014;{% elif investigation.days_left > 5 and investigation.days_left <= 7 %}<h3 class="orange-text-h3">{{investigation.days_left}}</h3> Days&#11014;{% else %}<h3 class="red-text-h3">{{investigation.days_left}}</h3> Days&#11014;{% endif %}</td>
<td data-label="">
{% comment %} {% if investigation.investigator == None and investigation.is_secondary_investigation_completed == False %}
<span class="{% if investigation.days_left <= 2 %}green-bg{% elif investigation.days_left > 2 and investigation.days_left <= 5 %}yellow-bg{% elif investigation.days_left > 5 and investigation.days_left <= 7 %}orange-bg{% else %}red-bg{% endif %} clickable-row-list" data-href="{% url 'stl:investigation' investigation.id %}">View</span> {% endcomment %}
{% if investigation.investigator != None and investigation.is_secondary_investigation_completed == False %}
<span class="{% if investigation.days_left <= 2 %}green-bg{% elif investigation.days_left > 2 and investigation.days_left <= 5 %}yellow-bg{% elif investigation.days_left > 5 and investigation.days_left <= 7 %}orange-bg{% else %}red-bg{% endif %} clickable-row-list" data-href="{% url 'stl:newinvestigation' investigation.id %}">View</span>
{% else %}
<span class="{% if investigation.days_left <= 2 %}green-bg{% elif investigation.days_left > 2 and investigation.days_left <= 5 %}yellow-bg{% elif investigation.days_left > 5 and investigation.days_left <= 7 %}orange-bg{% else %}red-bg{% endif %} " >Investigated</span>
{% endif %}
</td>
</tr>
{% endfor %} 
</tbody>
</table>
</div><!--white-wrapper-->   
{% endif %}

<!-- comment date confirmation task-->
{% if assign_order_schedules or assign_followup_schedules %}  
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Cleaning Team Assign Task</h2>
<table class="main-table">
<tbody>
{% for order_schedule in assign_order_schedules %}
<tr {% if order_schedule.days_left_coming < 0 %}class="red-line"{% elif order_schedule.days_left_coming == 0 %}class="orange-line"{% elif order_schedule.days_left_coming == 1 %}class="yellow-line"{% elif order_schedule.days_left_coming >= 2 %}class="green-line"{% endif %}>
<td data-label="BLC Number" class="bold-text clickable-row" data-href="{% url 'common_items:client-orderdetails' order_schedule.order.id %}">{{order_schedule.order.evaluation.evaluation_id}}</td>
<td data-label="Customer">{{order_schedule.order.evaluation.customer.name}}</td>
<td data-label="Area">{{order_schedule.customer_address.area}}</td>
<td class="hide-a" data-label="">{% if order_schedule.evaluation_details.evaluator.profile_image %}<img src="{{order_schedule.evaluation_details.evaluator.profile_image.url}}" title="{{order_schedule.evaluation_details.evaluator.name}}" class="profile-avatar">{% else %}<img src="{{order_schedule.evaluation_details.evaluation.call_attender.profile_image.url}}" title="{{order_schedule.evaluation_details.evaluation.call_attender.name}}" class="profile-avatar">{% endif %}</td>
<td data-label="Cleaning Policy"><span class=" {% if order_schedule.order_scheduler_book.cleaning_policy == 'SUBSCRIPTION' %}green-text{% else %}blue-text{% endif %} bold-text">{{order_schedule.order_scheduler_book.cleaning_policy}}</span></td>
<td data-label="" class="bold-text">{% if order_schedule.days_left_coming < 0 %}<h3 class="red-text-h3">Exp</h3>{% elif order_schedule.days_left_coming == 0 %}<h3 class="orange-text-h3">{{order_schedule.days_left_coming}}</h3> Days&#11015;{% elif order_schedule.days_left_coming == 1 or order_schedule.days_left_coming == 2 %}<h3 class="yellow-text-h3">{{order_schedule.days_left_coming}}</h3> Days&#11015;{% elif order_schedule.days_left_coming >= 2 %}<h3 class="green-text-h3">{{order_schedule.days_left_coming}}</h3> Days&#11015;{% endif %}</td>
<td class="hide-b">
<span {% if order_schedule.days_left_coming < 0 %}class="red-bg"{% elif order_schedule.days_left_coming == 0 %}class="orange-bg clickable-row"{% elif order_schedule.days_left_coming == 1 %}class="yellow-bg clickable-row"{% elif order_schedule.days_left_coming >= 2 %}class="green-bg clickable-row"{% endif %} {% if order_schedule.days_left_coming >= 0 %}data-href="{% url 'common_items:assign-cleaningteam' order_schedule.id %}?cleaning_calendar_date={{order_schedule.start_at|date:'d-m-Y'}}"{%endif%}>{% if order_schedule.days_left_coming < 0  %}Expired{%else%}Click to Assign{%endif%}</span></td>
</tr>
{% endfor %}

{% for follow_up_schedule in assign_followup_schedules %}
<tr {% if follow_up_schedule.days_left_coming < 0 %}class="red-line"{% elif follow_up_schedule.days_left_coming == 0 %}class="orange-line"{% elif follow_up_schedule.days_left_coming == 1 %}class="yellow-line"{% elif follow_up_schedule.days_left_coming == 2 or follow_up_schedule.days_left_coming == 3 %}class="green-line"{% endif %}>
<td data-label="BLC Number" class="bold-text">TKT{{follow_up_schedule.follow_up.ticket_no}}</td>
<td data-label="Customer">{{follow_up_schedule.follow_up.investigation.order.evaluation.customer.name}}</td>
<td data-label="Area">{{follow_up_schedule.customer_address.area}}</td>
<td class="hide-a" data-label=""><img src="{{follow_up_schedule.follow_up.investigation.investigator.profile_image.url}}" class="profile-avatar" title="{{follow_up_schedule.follow_up.investigation.investigator.name}}"></td>
<td data-label="cleaning policy"><span class="yellow-text bold-text">FOLLOW UP</span></td>
<td data-label="" class="bold-text">{% if follow_up_schedule.days_left_coming < 0 %}<h3 class="red-text-h3">Exp</h3>{% elif follow_up_schedule.days_left_coming == 0 %}<h3 class="orange-text-h3">{{follow_up_schedule.days_left_coming}}</h3> Days&#11015;{% elif follow_up_schedule.days_left_coming == 1 or follow_up_schedule.days_left_coming == 2 %}<h3 class="yellow-text-h3">{{follow_up_schedule.days_left_coming}} </h3>Days&#11015;{% elif follow_up_schedule.days_left_coming >= 3 %}<h3 class="green-text-h3">{{follow_up_schedule.days_left_coming}}</h3> Days&#11015;{% endif %}</td>
<td data-label=""><span {% if follow_up_schedule.days_left_coming < 0 %}class="red-bg"{% elif follow_up_schedule.days_left_coming == 0 %}class="orange-bg clickable-row"{% elif follow_up_schedule.days_left_coming == 2 or follow_up_schedule.days_left_coming == 1 %}class="yellow-bg clickable-row"{% elif follow_up_schedule.days_left_coming >= 3 %}class="green-bg clickable-row"{% endif %} {% if follow_up_schedule.days_left_coming >= 0  %}data-href="{% url 'common_items:assign-followupteam' follow_up_schedule.id %}?cleaning_calendar_date={{follow_up_schedule.start_at|date:'d-m-Y'}}"{% endif %}> {% if follow_up_schedule.days_left_coming < 0 %}Expired{%else%} Click to Assign{%endif%}</span></td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--white-wrapper-->
{% endif %}

{% include 'common/cleaning_calendar/cleaning_calendar.html' %}          
        
       
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'stl/common/footer.html' %} 
</div><!--wrapper-->


<!-- edit_cleaning_popup -->
<div class="modal-popup-wrapper1"><!--modal-popup-wrapper-->
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition"><!--modal-wrapper modal-transition-->
        <div class="modal-header"><!--modal-header-->
        <button class="modal-close edit_cleaning collapsible1-close">X</button>
        </div><!--modal-header-->
    <div class="modal-body"><!--modal-body-->
    <div class="modal-content"><!--modal-content-->
    <div class="ticket-wrapper-full cleaningwrapper"><!--ticket-wrapper-full-->
            <div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
    
    <table width="100%" border="0" class="popup-tble1">  
                <tr>
                    <td valign="center"><a id="order_url2"><div class="blc-number" id="blcno_cleaning_id"></div></a><div id="servicetype"></div><br><span id="address_cleaning_id"></span></td>
                    <td><div class="bold-text" id="customername_cleaning_id"></div><div id="mobileno_cleaning_id"></div></td>
                </tr>
 
            <tr>
            <td colspan="3">Cleaning Date:<strong><span class="blue-text" id="starting_date_cleaning_id"></span></strong> &nbsp;Starting Time:<strong><span class="blue-text" id="starting_time_cleaning_id"></span></strong> &nbsp;Duration:<strong><span class="blue-text" id="duration_cleaning_id"></span></strong></td>
            </tr>
            <tr id="team_leader_cleaning_id">
            </tr>
            <tr id="team_member_cleaning_id">
            </tr>  
            </table>
    
      </div><!--ticket-form-left--> 
  </div><!--ticket-wrapper-row ticket-forms-boxes-->
     
    {% comment %} <div class="edit-collapse collapsible1"><a href="#" ><img src="{% static 'files/images/edit.png' %}" width="30px"></a></div>   {% endcomment %}
    <div class="popup-collapse popup-collapse1"><!--popup-collapse--> 
    <form method="post" enctype= "multipart/form-data">
    {%csrf_token%}  
    <input type="hidden" name="action_type" value="edit_cleaning">
    <input type="hidden" name="cleaning_id" id="cleaning_id">
    <input type="hidden" name="cleaningteamstatus" id="cleaningteamstatus_id">  
 <hr class="hr-dashedpad">  
  <div class="blc-number align-center">Edit Cleaning</div>

<hr class="hr-dashedpad">  
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Cleaning Date</label></div>
        <input name="cleaning_date" type="text" class="textBox" id="cleaning_change_date">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Starting Time</label></div>
        <input name="cleaning_time" type="text" class="textBox" id="cleaning_change_time">
        <p id="cleaning_time_alert" hidden>Please Select proper date and time !</p>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->  
<hr class="hr-dashedpad">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Duration</label></div>
        <input name="cleaning_hours" type="number" class="textBox" id="cleaning_change_duration">
  </div><!--ticket-form-left--> 
  </div><!--ticket-wrapper-row ticket-forms-boxes-->
  
<div class="cleaning_team">
<hr class="hr-dashedpad">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Cleaning Agent</label></div>
        <label for="favcity">
                <select id="team_leader" name="team_leader" class="team_leader">
                </select>
        </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad">  
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
     <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label" id="team_members"> <label>Team Members</label></div>
    <input name="add" type="button" class="add-button1" value="Add Cleaner" id="add_cleaner_id">
    <input name="remove" type="button" class="add-button-2" value="Remove Cleaner" id="remove_cleaner_id">
  </div><!--ticket-form-left-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
</div>
   
<div align="center"> <input class="assignButton cleaning_btn" name="assing" type="button" value="Submit" onclick="submitAnyForm(this);"></div>
</form>
 </div><!--popup-collapse-->
</div><!--ticket-wrapper-full--> 
        
    </div><!--modal-content-->
    </div><!--modal-body-->
    </div><!--modal-wrapper modal-transition-->
</div><!--modal-popup-wrapper-->
<!-- /edit_cleaning_popup -->


<!--edit followup popup -->
<div class="modal-popup-wrapper2"><!--modal-popup-wrapper-->
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition"><!--modal-wrapper modal-transition-->
        <div class="modal-header"><!--modal-header-->
        <button class="modal-close edit_followup collapsible2-close">X</button>
        </div><!--modal-header-->
    <div class="modal-body"><!--modal-body-->
    <div class="modal-content"><!--modal-content-->
    <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->
            <div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
    
    <table width="100%" border="0" class="popup-tble1">  
                <tr>
                    <td valign="center"><div class="blc-number" id="ticketno_followup_id"></div><div class="mobile_number" id="blcno_followup_id"></div><div id="followup_servicetype"></div><br><div class="blc-number" id="status_followup_id"></div><span id="address_followup_id"></span></td>
                    <td><div class="bold-text" id="customername_followup_id"></div><div id="mobileno_followup_id"></div></td>
                </tr>
 
            <tr>
            <td colspan="3">Cleaning Date:<strong><span class="blue-text" id="starting_date_followup_id"></span></strong> &nbsp;Starting Time:<strong><span class="blue-text" id="starting_time_followup_id"></span></strong> &nbsp;Duration:<strong><span class="blue-text" id="duration_followup_id"></span></strong></td>
            </tr>
            <tr id="team_leader_followup_id">
            </tr>
            <tr id="team_member_followup_id">
            </tr>  
            </table>
    
      </div><!--ticket-form-left--> 
  </div><!--ticket-wrapper-row ticket-forms-boxes-->
     
    {% comment %} <div class="edit-collapse collapsible2"><a href="#" ><img src="{% static 'files/images/edit.png' %}" width="30px"></a></div>   {% endcomment %}
    <div class="popup-collapse popup-collapse2"><!--popup-collapse--> 
    <form method="post" enctype= "multipart/form-data">
    {%csrf_token%}  
    <input type="hidden" name="action_type" value="edit_followup">
    <input type="hidden" name="followup_id" id="followup_id">
    <input type="hidden" name="followupteamstatus" id="followupteamstatus_id">  
 <hr class="hr-dashedpad">  
  <div class="blc-number align-center">Edit Followup Cleaning</div>    
<hr class="hr-dashedpad">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Cleaning Date</label></div>
        <input name="followup_date" type="text" class="textBox" id="followup_change_date">
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Starting Time</label></div>
        <input name="followup_time" type="text" class="textBox" id="followup_change_time">
        <p id="followupcleaning_time_alert" hidden>Please Select proper date and time !</p>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Duration</label></div>
        <input name="followup_hours" type="text" class="textBox" id="followup_change_duration">
  </div><!--ticket-form-left-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<div class="followup_team">
<hr class="hr-dashedpad">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Cleaning Agent</label></div>
        <label for="favcity">
                <select id="followup_leader" name="team_leader" class="followup_leader">
                </select>
        </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad">  
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
     <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label" id="followup_members"> <label>Team Members</label></div>
    <input name="add" type="button" class="add-button1" value="Add Cleaner" id="add_cleanerfollowup_id">
    <input name="remove" type="button" class="add-button-2" value="Remove Cleaner" id="remove_cleanerfollowup_id">
  </div><!--ticket-form-left-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
</div>

<div align="center"> <input class="assignButton" name="assing" type="button" value="Submit" onclick="submitAnyForm(this);"></div>
</form>
 </div><!--popup-collapse-->
</div><!--ticket-wrapper-full--> 
        
    </div><!--modal-content-->
    </div><!--modal-body-->
    </div><!--modal-wrapper modal-transition-->
</div><!--modal-popup-wrapper-->
<!--edit followup popup -->

<!-- edit_notapprovedcleaning_popup -->
<div class="modal-popup-wrapper6"><!--modal-popup-wrapper-->
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition"><!--modal-wrapper modal-transition-->
        <div class="modal-header"><!--modal-header-->
        <button class="modal-close notapprovededit_cleaning collapsible6-close">X</button>
        </div><!--modal-header-->
    <div class="modal-body"><!--modal-body-->
    <div class="modal-content"><!--modal-content-->
    <div class="ticket-wrapper-full notapproved_cleaningwrapper"><!--ticket-wrapper-full-->
            <div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
    
    <table width="100%" border="0" class="popup-tble1">  
                <tr>
                    <td><a id="notapprovedorder_url2"><div class="blc-number" id="blcno_notapprovedcleaning_id"></div></a><div id="notapproved_servicetype"></div><br><span id="address_notapprovedcleaning_id"></span></td>
                    <td><div class="bold-text" id="customername_notapprovedcleaning_id"></div><div id="mobileno_notapprovedcleaning_id"></div></td>
                </tr>
 
            <tr>
            <td colspan="3">Cleaning Date:<strong><span class="blue-text" id="starting_date_notapprovedcleaning_id"></span></strong> &nbsp;Starting Time:<strong><span class="blue-text" id="starting_time_notapprovedcleaning_id"></span></strong> &nbsp;Duration:<strong><span class="blue-text" id="duration_notapprovedcleaning_id"></span></strong></td>
            </tr>  
            </table>
    
      </div><!--ticket-form-left--> 
  </div><!--ticket-wrapper-row ticket-forms-boxes-->
     
    {% comment %} <div class="edit-collapse collapsible1"><a href="#" ><img src="{% static 'files/images/edit.png' %}" width="30px"></a></div>   {% endcomment %}
    <div class="popup-collapse popup-collapse1"><!--popup-collapse--> 
    <form method="post" enctype= "multipart/form-data">
    {%csrf_token%}  
    <input type="hidden" name="action_type" value="notapprovededit_cleaning">
    <input type="hidden" name="notapprovedcleaning_id" id="notapprovedcleaning_id">  
 <hr class="hr-dashedpad">  
  <div class="blc-number align-center">Edit Cleaning</div>    
  <br>   
<hr class="hr-dashedpad">  
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Cleaning Date</label></div>
        <input name="notapprovedcleaning_date" type="text" class="textBox" id="notapprovedcleaning_date">
        <p id="notapprovedcleaning_date_alert" hidden>Please Select a new date !</p>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Starting Time</label></div>
        <input name="notapprovedcleaning_time" type="text" class="textBox" id="notapprovedcleaning_time">
        <p id="notapprovedcleaning_time_alert">Please Select proper date and time !</p>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad">
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Duration</label></div>
        <input name="notapprovedcleaning_hours" type="text" class="textBox" id="notapprovedcleaning_duration">
  </div><!--ticket-form-left-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
   
<div align="center"> <input class="assignButton notapprovedcleaning_btn" name="assing" type="button" value="Submit" onclick="submitAnyForm(this);"></div>
</form>
 </div><!--popup-collapse-->
</div><!--ticket-wrapper-full--> 
        
    </div><!--modal-content-->
    </div><!--modal-body-->
    </div><!--modal-wrapper modal-transition-->
</div><!--modal-popup-wrapper-->
<!-- /edit_notapprovedcleaning_popup -->


<!-- order_schedules confirm_popup -->
<div id="orderschedules_dateconfirm_popup" class="overlay">
        <div class="popup-assign-eval"><!--popup-assign-eval-->
            <a class="close" id="orderschedules_dateconfirm_popup_close" href="#">&times;</a>
                <div class="content"><!--content-->                     
                <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->
                <div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
      <div class="ticket-form-left"><!--ticket-form-left-->
        
            <div class="blc-number-big" id="order_schedules_blc_id"></div>             
            <div class="customer-name"><i class="fa blue-text fa-user-circle-o" aria-hidden="true"></i>&nbsp;<span id="order_schedules_customer_id"></span></div>
            <div class="mobile-number"><i class="fa green-text fa-lg fa-phone" aria-hidden="true"></i> &nbsp;<span id="order_schedules_mobile_id"></span></div>
            <div class="mobile-number"><i class="fa orange-text fa-lg fa-address-card-o" aria-hidden="true"></i> &nbsp;<span id="order_schedules_address_id"></span></div>
            </div><!--ticket-form-left--> 
        </div><!--ticket-wrapper-row ticket-forms-boxes-->
<form  id="orderschedules_confirm" method="post" enctype= "multipart/form-data">
{%csrf_token%}
<input type="hidden" name="action_type" value="confirm_orderschedules">
<input type="hidden" name="total_schedules_to_confirm" id="total_schedules_to_confirm_id">
<hr class="hr-dashedpad"> 
<div align="center"> <input class="assignButton" name="assing" type="button" value="Submit" onclick="submitAnyForm(this);"></div>
</form>

</div><!--ticket-wrapper-full--> 
            </div><!--content-->
    </div><!--popup-assign-eval-->
</div><!-- /order_schedules confirm_popup -->


<!-- followup_scheduler confirm_popup -->
<div id="followupschedule_dateconfirm_popup" class="overlay"><!--overlay-->
    <div class="popup-assign-eval"><!--popup-assign-eval-->
        <a class="close" id="followupschedule_dateconfirm_popup_close">&times;</a>
            <div class="content"><!--content-->
            
                        
            <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->
            <div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
    
    <table width="100%" border="0" class="popup-tble1">
                <tr>
                    <td valign="bottom"><div class="blc-number" id="followup_schedule_blc_id"></div></td>
                    <td rowspan="2" align="center"><div class="bold-text"id="followup_schedule_customer_id"></div><div id="followup_schedule_mobile_id"></div></td>
                </tr>
            <tr>
              <td id="followup_schedule_area_id"></td>
            </tr>
            <tr>
              <td id="followup_schedule_service_type_id"></td>
            </tr>
            </table>
    
      </div><!--ticket-form-left--> 
  </div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad">   
<form method="post" enctype= "multipart/form-data">
{%csrf_token%}
<input type="hidden" name="action_type" value="confirm_followupchedule">
<input type="hidden" name="followupscheduler" id="followup_schedule_id">          
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <input type="hidden" id="followup_schedule_cleaners">
  <input type="hidden" id="followup_schedule_duration">
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Cleaning Time</label></div>
                <input id="followup_schedule_time_id" name="followup_schedule_time" type="text" class="textBox" readonly>
                <p id = "followup_schedule_time_alert" hidden>Please Select proper time !</p>
  </div><!--ticket-form-left-->

  <div class="ticket-form-right"><!--ticket-form-right-->
          <div class=" bold-text common-label"> <label>Cleaning Date</label></div>
        <input id="followup_schedule_date_id" name="followup_schedule_date" type="text" class="textBox" readonly>
        <p id = "followup_schedule_date_alert" hidden>Please Select a new date !</p>
  </div><!--ticket-form-right-->
  
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<br>
<div align="center"><input name="confirm" type="checkbox"> Confirm Date</div>
 
 
<div align="center"> <input class="assignButton confirmdate_followup_btn" name="assing" type="button" value="Submit" onclick="submitAnyForm(this);"></div>
</form> 

</div><!--ticket-wrapper-full--> 
            
            </div><!--content-->
    </div><!--popup-assign-eval-->
</div><!--overlay-->
<!-- /followup_scheduler confirm_popup -->

{% endblock %}

{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/v-owl-carousel@1.0.8/dist/v-owl-carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.7/vuetify.min.js" integrity="sha512-BPXn+V2iK/Zu6fOm3WiAdC1pv9uneSxCCFsJHg8Cs3PEq6BGRpWgXL+EkVylCnl8FpJNNNqvY+yTMQRi4JIfZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>-->
  <!-- calendar-->
  <script src="{% static '/files/externalfiles/plugins/OwlCarousel2/dist/owl.carousel.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-ellipse-progress/dist/vue-ellipse-progress.umd.min.js"></script>
  <script src="{% static 'files/js/calendar/main.js' %}"></script>

<script type="text/javascript">

$('document').ready(function(){

//To find total and avergae man hour weekly and today
        //to find today man hour
        total_today_hours = 0
        {% for cleaning_team in today_cleaning_active_teams %}
        
        starting_time_string      = '{{cleaning_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{cleaning_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60

        
        if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{cleaning_team.end_at|date:'d'}}')))
                {
                        total_today_hours += ending_time*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                }

                else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{cleaning_team.start_at|date:'d'}}')))
                    {
                    
                    total_today_hours += (24-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    }
                else
                {
                    total_today_hours += (ending_time-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);    
                }

        {% endfor %}
        
        {% for followup_team in today_followup_active_teams %}
            
        starting_time_string      = '{{followup_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{followup_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60


        if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{followup_team.end_at|date:'d'}}')))
                {
                        total_today_hours += ending_time*(parseInt('{{followup_team.no_of_cleaners}}')+1)
                
                }

        else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{followup_team.start_at|date:'d'}}')))
            {
            
            total_today_hours += (24-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);
            
            }
        else
        {
            total_today_hours += (ending_time-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);   
        }

        {% endfor %}
        average_today_hours = total_today_hours/parseInt('{{today_total_team_mens}}')
        
        //to find week man hour
        total_week_hours = 0
        {% for cleaning_team in week_cleaning_active_teams %}
        
        starting_time_string      = '{{cleaning_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{cleaning_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60

        
        if((ending_time<starting_time)&(parseInt('{{weekstart_date|date:'d'}}')==parseInt('{{cleaning_team.end_at|date:'d'}}')))
                {
                        total_week_hours += ending_time*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    console.log(total_week_hours,"cleaning")
                }

                else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{cleaning_team.start_at|date:'d'}}')))
                    {
                    
                    total_week_hours += (24-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    console.log(total_week_hours,"cleaning")
                    }
                else
                {
                    if(ending_time<starting_time)
                        {
                        total_week_hours += ((24-starting_time)+ending_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);        
                        } 
                    else{
                        total_week_hours += (ending_time-starting_time)*(parseInt('{{cleaning_team.no_of_cleaners}}')+1);
                    } 
                    console.log(total_week_hours,"cleaning")   
                }

        {% endfor %}
        
        {% for followup_team in week_followup_active_teams %}
            
        starting_time_string      = '{{followup_team.start_at|date:'H:i'}}'.replace(":",".");
        ending_time_string        = '{{followup_team.end_at|date:'H:i'}}'.replace(":",".");

        starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
        ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(ending_time_string.split('.')[1])/60


        if((ending_time<starting_time)&(parseInt('{{weekstart_date|date:'d'}}')==parseInt('{{followup_team.end_at|date:'d'}}')))
                {
                        total_week_hours += ending_time*(parseInt('{{followup_team.no_of_cleaners}}')+1)
                console.log(total_week_hours,"followup")
                }

        else if((ending_time<starting_time)&(parseInt('{{today_date|date:'d'}}')==parseInt('{{followup_team.start_at|date:'d'}}')))
            {
            
            total_week_hours += (24-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);
            console.log(total_week_hours,"followup")
            }
        else
        {   if(ending_time<starting_time)
                {
                total_week_hours += ((24-starting_time)+ending_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);        
                } 
            else{
                total_week_hours += (ending_time-starting_time)*(parseInt('{{followup_team.no_of_cleaners}}')+1);
            }    
            console.log(total_week_hours,"followup")   
        }

        {% endfor %}
        average_week_hours = total_week_hours/parseInt('{{week_total_team_mens}}')
        

        $("#today_man_hour").html(total_today_hours.toFixed(2));
        $("#week_man_hour").html(total_week_hours.toFixed(2));
        
        if (Number.isNaN(average_today_hours))
        {
            $("#today_avg_man_hour").html('0.00');
        }
        else if(average_today_hours == Infinity)
        {
            $("#today_avg_man_hour").html('0.00'); 
        }
        else
        {
            $("#today_avg_man_hour").html(average_today_hours.toFixed(2));   
        }

        if (Number.isNaN(average_week_hours))
        {
            $("#week_avg_man_hour").html('0.00');
        }
        else if(average_week_hours == Infinity)
        {
            $("#week_avg_man_hour").html('0.00'); 
        }
        else
        {
            $("#week_avg_man_hour").html(average_week_hours.toFixed(2));   
        }
    });
</script>
{% endblock %}
