{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "accountant/common/header.html" %}

    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Orders</h1>
                <p>Bleach CRM-PS Version 0.1 (Beta) developed and owned by Bleach-Kw</p>    
            </div><!--welcome-wrapper-->
       
     <div class="clients-top-card-wrapper"><!--clients-top-card-wrapper-->
     	<div class="clients-card-wrapper"><!--clients-card-wrapper-->
       	<div class="clients-card-column clients-column-left"><!--clients-card-column clients-column-left-->
        <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-aproved-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
              	<!--  <h1>Evaluations</h1>-->
            	<h2 class="blue-text"><label>Approved<span>{{approved_orders_count}}</span></label> </h2>
            	<!--<p><label>This Week <span>42</span></label></p>-->
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-pending-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
            	<h2 class="green-text"><label>Pending<span>{{pending_orders_count}}</span></label>  </h2>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        </div><!--clients-card-column clients-column-left-->

        <div class="clients-card-column clients-column-right whitebg hover ltyellow-border"><!--clients-card-column clients-column-right-->
                 
		<div class="chart_boxDiv"><!--chart_boxDiv-->
  			<div class="chart_box_Right"><!--chart_box_Right-->
 				<!-- <button type="button" id="mnt_btn" class="set2" >Update</button> -->
            	<div id="chart_div" ></div>
  			</div><!--chart_box_Right-->
		</div><!--chart_boxDiv-->   
            
        <div class="chart_boxDiv"><!--chart_boxDiv-->    
        
         <div class="chart_box_Left"><!--chart_box_Left-->
         <div class="legend-wrapper"><!--legend-wrapper--> 
            <div class="legend-result count_div"><label class="legend-label">Submitted </label> <b class="legend-result-blue" id="total_submitted">0</b></div>
            <div class="legend-result count_div"><label class="legend-label">Approved </label> <b class="legend-result-red" id="total_approved">0</b></div>
         </div><!--legend-wrapper-->
  		</div><!--chart_box_Left-->
        <div class="chart_box_Left"><!--chart_box_Left-->        
        <div class="Button_wrapperChart">
            <div class="blue-sliderbutton"><label class="switch"><input type="checkbox" id="daymonthtoggle"><div class="slider round"><span class="on">DATE</span><span class="off">MONTH</span></div></label></div>
            <input type="text" id="ord_fromdate" class="date_pick_today date_pick2 date-picker set1 date-pick-left" hidden>
            <input type="text" id="ord_todate" class="date_pick_today date_pick2 date-picker set1 date-pick-right" hidden>
            <input type="text" id="month1" class="month_pick set2 date-pick-left" >
            <input type="text" id="month2" class="month_pick set2 date-pick-right" >
            <div><button id="reset_orders" class="green-button-chart">Reset</button></div>
            </div>
          	           
        </div><!--chart_box_Left-->
            
        </div><!--chart_boxDiv-->    
            
        </div><!--lients-card-column clients-column-right-->

        </div><!--clients-card-wrapper-->

</div><!--clients-top-card-wrapper-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
     <div class="white-wrapper-search"><!--white-wrapper-search-->
     <div class="left-box leftbox-item1"><!--left-box leftbox-item1-->
          <span class="search-wrapper"><input type="text" class="search-bar" id="search-bar" placeholder="Search BLC Number & Customer Name Here" value="{{search_query|default_if_none:''}}" onchange ="set_params_go()"><a href="#"><img class="search-icon" src="{% static 'files/images/search-icon.png' %}"></a></span>
     </div><!--left-box leftbox-item1-->
     <div class="left-box leftbox-item2"><!--right-box leftbox-item1-->
     <input name="filter" type="button" value="Filter" id="filter" class="blue-button arrow"> 
     <div class="menu-filter ltgreen-border" style="display:none;"><!--menu-filter ltgreen-border-->
     
    
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Governorate</label></div>
                <label for="favcity">
                <select name="governorate_filter" id="governorate_filter_id">
                <option value=''>---SELECT---</option>
                {% for governorate in governorates %}
          <option value='{{governorate.id}}' {% if governorate.id == fil_governorate %}selected{%endif%}>{{governorate.name}}</option>
                {% endfor %}                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Area</label></div>
                <label for="favcity">
                <select name="area_filter" id="area_filter_id">
                <option value=''>---SELECT---</option> 
                {% for area in areas %}
                <option value='{{area.id}}' {% if fil_area == area.id %}selected{% endif %}>{{area.name}}</option>
                {% endfor %}               
              </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<hr class="hr-dashedpad"> 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Cleaning Policy</label></div>
				<label for="favcity">
                <select name="cleaning_policy_filter" id="cleaning_policy_filter_id">
                <option value=''>---SELECT---</option>
                <option value="ONE TIME SERVICE" {% if fil_cleaning_policy == 'ONE TIME SERVICE' %}selected{%endif%}>ONE TIME SERVICE</option>
                <option value="SUBSCRIPTION" {% if fil_cleaning_policy == 'SUBSCRIPTION' %}selected{%endif%}>SUBSCRIPTION</option>                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  				<div class=" bold-text common-label"> <label>Status</label></div>
                <label for="favcity">
                <select name="status_filter" id="status_filter_id">
                <option value=''>---SELECT---</option>
                <option value="APPROVED" {% if fil_status == 'APPROVED' %}selected{% endif %}>APPROVED</option>
                <option value="PENDING" {% if fil_status == 'PENDING' %}selected{% endif %}>PENDING</option>
                <option value="REJECTED" {% if fil_status == 'REJECTED' %}selected{% endif %}>REJECTED</option>
                <option value="EXPIRED" {% if fil_status == 'EXPIRED' %}selected{% endif %}>EXPIRED</option>                
              </select>
                </label>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<hr class="hr-dashedpad"> 
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  				<div class=" bold-text common-label"> <label>Service Type</label></div>
				<label for="favcity">
                <select name="service_type_filter" id="service_type_filter_id">
                <option value=''>---SELECT---</option>
                {% for service_type in service_types %}
                <option value="{{service_type.id}}" {% if service_type.id == fil_service_type %}selected{% endif %}>{{service_type.name}}</option>
                {% endfor %}                
              </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right hide-m"><!--ticket-form-right-->
  				 
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes--> 
<div align="center"> <input class="assignButton" name="assing" type="button" onclick="set_params_go({});" value="Submit"> <input class="cancel-Button close-btn arrow-close" name="cancel" type="button" value="Reset"></div>

     
     </div><!--menu-filter ltgreen-border-->
     </div><!--right-box leftbox-item1-->     
     
     
 
     </div><!--white-wrapper-search-->
     
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Order List</h2>
<label for="favcity" style="width:20%;"> 
<select name="no_of_entries" id="no_of_entries" onchange="set_params_go();"> 
<option value="20" {% if no_of_entries == '20' %}selected{% endif %}>20 Entries</option>
<option value="50" {% if no_of_entries == '50' %}selected{% endif %}>50 Entries</option>
<option value="100" {% if no_of_entries == '100' %}selected{% endif %}>100 Entries</option>
</select>
</label>
<div class="page-entries">Show {{entry_per_page}} entries</div>
<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
<tr>
<th>Order Number</th>
<th data-hide="phone,tablet">Name</th>
<th data-hide="phone">Area</th>
<th data-hide="phone,tablet">Cleaning Type</th>
<th>Contact</th>
<th class="align-center" data-hide="phone,tablet">Status</th>
<th data-hide="phone,tablet">&nbsp;</th>
</tr>
</thead>
<tbody>
    {% for evaluation in evaluations %}
    <tr>
    <td {% if evaluation.quatation_status == 'APPROVED' %}class="green-line"{% elif evaluation.quatation_status == 'REJECTED' %}class="red-line"{% elif evaluation.quatation_status == 'PENDING' %}class="yellow-line"{% elif evaluation.quatation_status == 'EXPIRED' %}class="orange-line"{%else%}class="blue-line"{%endif%}>{{evaluation.evaluation_id}}</td>    
    <td>{{evaluation.customer.name|default_if_none:''}}</td>
    <td>{% for evaluation_detail in evaluation.details_evaluation %}{{evaluation_detail.address.area.name}}<br>{% endfor %}</td>
    <td>{% for evaluation_detail in evaluation.details_evaluation %}
     {% for evaluation_book in evaluation_detail.evaluation_book %}
     {{evaluation_book.service_type}},
     {% endfor %}
     <br> 
     {% endfor %}</td>
    <td>{{evaluation.customer.mobile_number|default_if_none:''}}</td>
    <td>{% if evaluation.quatation_status == 'APPROVED' %}<span {% if evaluation.evaluationorder %}{% for order in evaluation.evaluationorder %}data-href="{% url 'accountant:accountant-client-orderdetails' order.id %}"{% endfor %}{% else %}data-href="#"{% endif %} class="green-bg clickable-row">Approved</span>
        {% elif evaluation.quatation_status == 'REJECTED' %}<span {% if evaluation.evaluationorder %}{% for order in evaluation.evaluationorder %}data-href="{% url 'accountant:accountant-client-orderdetails' order.id %}"{% endfor %}{% else %}data-href="#"{% endif %} class="red-bg clickable-row">Rejected</span>
        {% elif evaluation.quatation_status == 'PENDING' %}<span {% if evaluation.evaluationorder %}{% for order in evaluation.evaluationorder %}data-href="{% url 'accountant:accountant-client-orderdetails' order.id %}"{% endfor %}{% else %}data-href="#"{% endif %} class="yellow-bg clickable-row">Pending</span>
        {% elif evaluation.quatation_status == 'EXPIRED' %}<span {% if evaluation.evaluationorder %}{% for order in evaluation.evaluationorder %}data-href="{% url 'accountant:accountant-client-orderdetails' order.id %}"{% endfor %}{% else %}data-href="#"{% endif %} class="orange-bg clickable-row">Expired</span>
        {% else %}
        <span data-href="#" class="blue-bg clickable-row">Evaluating</span>
        {%endif%}
    </td>
    <td class="align-center"><a href="#"><img src="{% static 'files/images/icon-download.svg' %}" align="absmiddle" class="download-icon"></a></td>
    </tr>    
    {% empty %}
    <tr><td></td><td></td><td></td><td>No Data</td><td></td><td></td><td></td></tr>
    {% endfor %}
</tbody>
<tfoot>
 
</tfoot>
</table>
<div class="white-wrapper-pagination"><!--white-wrapper-pagination-->   
    <div class="pagination-containter"><!--pagination-containter-->
    	<div class="pagination-column pagination-column-left"><!--pagination-column pagination-column-left-->
        Showing {{evaluations.start_index}} to {{evaluations.end_index}} of {{evaluations.paginator.count}} entries
        </div><!--pagination-column pagination-column-left-->
        
        <div class="pagination-column pagination-column-right"><!--pagination-column pagination-column-right-->
        <!--paginated-->
   {% if evaluations.has_other_pages %}
   <nav aria-label="Page navigation example">
  <ul class="pagination">
     {% if evaluations.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ evaluations.previous_page_number }}&search={{request.GET.search}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for pg in page_range %}
    {% if vus.number == pg %}
            <li class="page-item"><a class="page-link active" href="?page={{pg}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}">{{pg}}</a></li>
    {% else %}
            <li class="page-item"><a class="page-link" href="?page={{pg}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}">{{pg}}</a></li>
    {% endif %}
    {% endfor %}
    {% if evaluations.has_next %}        
    <li class="page-item">
      <a class="page-link" href="?page={{ evaluations.next_page_number}}&search={{request.GET.search}}&governorate={{request.GET.governorate}}&area={{request.GET.area}}&status={{request.GET.status}}&cleaning_policy={{request.GET.cleaning_policy}}&service_type={{request.GET.service_type}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
    {% endif %}
    <!--paginated-->
        </div><!--pagination-column pagination-column-right-->
    </div><!--pagination-containter-->         
</div><!--white-wrapper-pagination--> 
</div><!--white-wrapper-->      
             
            
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->

{% include 'accountant/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src='js/footable.js'></script> 
<script src="{% static 'files/js/charts/order-chart.js' %}"></script> 
<script id="rendered-js">

$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });


// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
    </script>
<script>

$("#governorate_filter_id").change(function(){  

  $.ajax({

        url: "{% url 'agent:ajax-getarea' %}",

        data: {'governorate_id':this.value}, 

        dataType: 'json',

        success: function (data) { 

          ajax_ret_areas = data;     

       $("#area_filter_id").empty();

       $("#area_filter_id").append($('<option>', {

            value: "", 

           text: "---SELECT---"

        })); 

        $.each( ajax_ret_areas, function( key, values ) {

              $("#area_filter_id").append($('<option>', {        

              value: key, 

              text: values   

            }));   
        });

                                  }  

      }); 

});

function set_params_go(args)
{
var url='{% url 'accountant:accountant-orders' %}';
var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),governorate:$('#governorate_filter_id').val(),area:$('#area_filter_id').val(),status:$('#status_filter_id').val(),cleaning_policy:$('#cleaning_policy_filter_id').val(),service_type:$('#service_type_filter_id').val(),
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}

</script>     
{% endblock %}
