
/** Backgrounds**/


.completed-bg{
    background: #779F39 !important;
}


.approved-bg{
    background: #31AA4A !important;
}

.approved-not-paid-bg{
    background: #425D57 !important;
}
.order-in-progress-bg{
    background: #0D87C5 !important;
}
.evaluating-bg{
    background: #1A8E92 !important;
}
.pending-bg{
    background: #606FCE !important;
}
.expired-bg{
    background:#7C35A5 !important; 
}
.rejected-bg{
    background: #C91212 !important;
}
.cancel-in-progress-bg{
    background: #DBA03A !important;
}
.cancelled-bg{
    background: #FF5E00 !important;
}
.followup-cleaning-bg{
    background: #DBA03A !important;
}
.onetime-cleaning-bg{
    background: #0D87C5 !important;
}.subscription-cleaning-bg{
    background: #139275 !important;
}


/** Texts **/


.completed-text{
    color: #779F39 !important;
}
.approved-text{
    color:#31AA4A !important;
}
.approved-not-paid-text{
    color: #425D57 !important;
}
.order-in-progress-text{
    color: #0D87C5 !important;
}
.evaluating-text{
    color: #1A8E92 !important;
}
.pending-text{
    color: #606FCE !important;
}
.expired-text{
    color:#7C35A5 !important; 
}
.rejected-text{
    color: #C91212 !important;
}
.cancel-in-progress-text{
    color: #DBA03A !important;
}
.cancelled-text{
    color: #FF5E00 !important;
}