
/** Backgrounds**/


.completed-status-bg{
    background: #779F39 !important;
}


.approved-status-bg{
    background: #31AA4A !important;
}
.not-approved-status-bg{
    background:#8B8B8B !important;
}
.approved-not-paid-status-bg{
    background: #425D57 !important;
}
.not-approved-not-paid-status-bg{
    background:#699189 !important;
}

.order-in-progress-status-bg{
    background: #0D87C5 !important;
}
.evaluating-status-bg{
    background: #1A8E92 !important;
}
.pending-status-bg{
    background: #606FCE !important;
}
.expired-status-bg{
    background:#7C35A5 !important; 
}
.rejected-status-bg{
    background: #C91212 !important;
}
.cancel-in-progress-status-bg{
    background: #DBA03A !important;
}
.cancelled-status-bg{
    background: #FF5E00 !important;
}
.followup-cleaning-status-bg{
    background: #DBA03A !important;
}
.onetime-cleaning-status-bg{
    background: #0D87C5 !important;
}.subscription-cleaning-status-bg{
    background: #139275 !important;
}


.ticket-in-progress-status-bg{
    background: #f2ba1e !important;
}

.ticket-raised-status-bg{
    background: #528ce6 !important;
}

.ticket-closed-status-bg{
    background: #3cbbb1 !important;
}

.client-active-bg{
    background: #3cbbb1 !important;
}

.client-not-active-bg{
    background: #f2ba1e !important;
}

.payment-not-started-bg{
    background: #528ce6 !important;
}

.payment-in-progress-bg{
    background: #f2ba1e !important;
}

.payment-completed-bg{
    background: #3cbbb1 !important;
}

.round-marker{
    width: 12px;
    height: 12px;
  
    border-radius: 20px;
    margin: 5px;
}

.completed-line{ border-left:4px solid #779F39 !important;}
.approved-line{ border-left:4px solid #31AA4A !important;}
.not-approved-line{ border-left:4px solid #8B8B8B !important;}
.approved-not-paid-line{ border-left:4px solid #425D57 !important;}
.order-in-progress-line{ border-left:4px solid #0D87C5 !important;}
.evaluating-line{ border-left:4px solid #1A8E92 !important;}
.pending-line{ border-left:4px solid #606FCE !important;}
.expired-line{ border-left:4px solid #7C35A5 !important;}
.rejected-line{ border-left:4px solid #C91212 !important;}
.cancel-in-progress-line{ border-left:4px solid #DBA03A !important;}
.cancelled-line{ border-left:4px solid #FF5E00 !important;}
.rejected-line{ border-left:4px solid #C91212 !important;}
.pending-line{ border-left:4px solid #606FCE !important;}
.expired-line{ border-left:4px solid #7C35A5 !important;}
.evaluating-line{ border-left:4px solid #1A8E92 !important;}

/** Texts **/

.primary-text{
    color:#2f4e85 !important;
}
.completed-text{
    color: #779F39 !important;
}
.approved-text{
    color:#31AA4A !important;
}
.approved-not-paid-text{
    color: #425D57 !important;
}
.order-in-progress-text{
    color: #0D87C5 !important;
}
.evaluating-text{
    color: #1A8E92 !important;
}
.pending-text{
    color: #606FCE !important;
}
.expired-text{
    color:#7C35A5 !important; 
}
.rejected-text{
    color: #C91212 !important;
}
.cancel-in-progress-text{
    color: #DBA03A !important;
}
.cancelled-text{
    color: #FF5E00 !important;
}
.followup-text{
    color:#DBA03A !important;
}
.rejected-text{
    color:#C91212!important;
}
.subscription-text{
    color:#139275 !important;
}
.onetime-text{
    color:#0D87C5 !important;
}
.not-approved-text{
    color:#8B8B8B !important;
}

/**
Popups
**/

.subscription-popup{
    border-bottom:6px solid  #139275 !important;
}
.onetime-popup{
    border-bottom:6px solid  #0D87C5 !important;
}
.followup-popup{
    border-bottom:6px solid  #DBA03A !important;
}
.rejected-popup{
    border-bottom:6px solid  #C91212 !important;
}

.not-approved-popup{
    border-bottom:6px solid  #8B8B8B !important;
}


/** Border **/

.subscription-border{
    border:1px solid  #139275 !important;
}
.onetime-border{
    border:1px solid  #0D87C5 !important;
}
.followup-border{
    border:1px solid  #DBA03A !important;
}
.rejected-border{
    border:1px solid  #C91212 !important;
}
.not-approved-border{
    border:1px solid  #8B8B8B !important;
}