/* inventory css */
@font-face {
  font-family: AvenirLTStd;
  src: url(../font/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: FarCasablanca;
  src: url(../font/Far_Casablanca.otf);
}

.mt-5{
  margin-top: 5px !important;
}

/* inv colors */
.inv-green{
  color: #139275;
}
.inv-yellow{
  color: #FFA400;
}
.inv-orange{
  color: #FF5E00;
}
.inv-red{
  color: #C91212;
}

.c-checked-out{
  background-color: #393983;
}
.c-created-out{
  background-color: #0D87C5;
}
.c-waiting-out{
  background-color: #FF5E00;
}
.c-checked-in{
  background-color: #10A82F;
}
.c-active{
  background-color: #10A82F;
}
.c-about-finish{
  background-color: #DBA03A;
}
.c-out-of-order{
  background-color: #C91212;
}
.c-expired{
  background-color: #FF5E00;
}
.inv-dot {
  vertical-align: middle;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
}

.btn-p{
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-img2{
  height: 26px !important;
  width: 26px !important;
}



.btn-shadow{box-shadow: 0px 3px 6px #0000003B;}

.inv-left{
  text-align: end;
}

.av-font {
  font-family: AvenirLTStd !important;
}
.p-10 {
  padding: 10px !important;
}
.p-5 {
  padding: 5px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.w-p-70 {
  width: 60% !important;
}
.w-250 {
  width: 250px !important;
}
.w-p-100 {
  width: 100% !important;
}
.inv-in {
  border: 1px solid #4b4b4b !important;
  border-radius: 7px;
  opacity: 1;
  opacity: 1;
  padding: 5px 10px 5px 10px;
  color: #928f8f !important;
}
.h-30 {
  height: 30px !important;
}
.inv-dash {
  background: url(../inventory/icons/Dashboard.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-inv {
  background: url(../inventory/icons/inventory.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-orders {
  background: url(../inventory/icons/shopping.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-purchase-order {
  background: url(../inventory/icons/shopping-bag.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-bundils {
  background: url(../inventory/icons/group.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-supplers {
  background: url(../inventory/icons/Supplier.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-store {
  background: url(../inventory/icons/warehouse.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-create-po {
  background: url(../inventory/icons/Addpo.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-cat {
  background: url(../inventory/icons/menu.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-attributes {
  background: url(../inventory/icons/attribute.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.inv-user {
  background: url(../inventory/icons/profile-1.png) no-repeat left;
  background-size: 30px 30px;
  background-position: 18px 7px;
  display: block;
}
.right-pos {
  margin-left: auto;
}
.inv-input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #707070 !important;
  border-top: 1px solid #707070 !important;
  border-right: 1px solid #707070 !important;
  border-left: none !important;
  border-radius: 0px 7px 7px 0px;
  opacity: 1;
  padding: 5px 10px 5px 0px;
  color: #928f8f !important;
}

.inv-input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
}
.inv-icon-input {
  border-right: none !important;
  border-radius: 7px 0px 0px 7px;
  border-bottom: 1px solid #707070 !important;
  border-top: 1px solid #707070 !important;
  border-left: 1px solid #707070 !important;
  padding: 8px;
  color: #bbbbbb;
  min-width: 20px;
  text-align: center;
}
.inv-blue-btn {
  background: #2e4e85 0% 0% no-repeat padding-box;
  border: 2px solid #2e4e85;
  border-radius: 6px;
  opacity: 1;
  padding: 8px 25px 8px 25px;
  color: #fff;
  border: none;
}
.inv-blue-btn:hover {
  background: #2e4e85 0% 0% no-repeat padding-box;
  border: 2px solid #2e4e85;
  border-radius: 6px;
  opacity: 1;
  padding: 7px 25px 7px 25px;
  color: #fff;
  border: none;
}
.inv-plan-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #2e4e85;
  border-radius: 6px;
  opacity: 1;
  padding: 7px 15px 7px 15px;
  color: #2e4e85;
}
.inv-plan-img-btn {
  font-family: AvenirLTStd !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #2e4e85;
  border-radius: 6px;
  opacity: 1;
  color: #2e4e85;
}
.inv-plan-img-btn:hover {
  background: #ffffff 0% 0% no-repeat padding-box;
  
}
.inv-plan-img-btn img {
  width: 23px;
  height: 28px;
}
.inv-blue-btn:hover {
  background: #2e4e85 0% 0% no-repeat padding-box;
}

.inv-table {
  width: 100%;
  border: 1px solid #c4c4c4;
  font-family: AvenirLTStd !important;
}

.inv-table tr {
  border-bottom: 1px solid #c4c4c4;
  font-family: AvenirLTStd !important;
}

.inv-table th {
  color: #333333;
  background-color: #ebebeb;
  padding: 10px;
  font-family: AvenirLTStd !important;
}
.inv-table td {
  /* font-weight: 700; */
  color: #333333;
  padding: 10px;
  font-family: AvenirLTStd !important;
}

.inv-green-border {
  border-left: 5px solid #10a82f;
}
.inv-blue-border {
  border-left: 5px solid #0D87C5;
}
.inv-gray-border {
  border-left: 5px solid #9A9A9A;
}
.inv-about-finish-border{
  border-left: 5px solid #dba03a;
}
.inv-out-of-order-border{
  border-left: 5px solid #C91212;
}
.inv-expired-border{
  border-left: 5px solid #FF5E00;
}
.inv-active-btn {
  background: #10a82f 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: auto;
}
.inv-active-btn:hover {
  background: #10a82f 0% 0% no-repeat padding-box;
  color: #fff;
}
.inv-checkedin-btn {
  font-family: AvenirLTStd !important;
  background: #10a82f 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: 120px;
}
.inv-checkedin-btn:hover {
  background: #10a82f 0% 0% no-repeat padding-box;
  color: #fff;
}
.inv-checkedout-btn {
  font-family: AvenirLTStd !important;
  background: #393983 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: 120px;
}
.inv-checkedout-btn:hover {
  background: #393983 0% 0% no-repeat padding-box;
  color: #fff;
}
.inv-created-btn {
  font-family: AvenirLTStd !important;
  background: #0D87C5 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: 120px;
}
.inv-created-btn:hover {
  background: #0D87C5 0% 0% no-repeat padding-box;
  color: #fff;
}
.inv-btn-dis{
  cursor: not-allowed !important;
  opacity: .6 !important;
}


.inv-waiting-btn {
  font-family: AvenirLTStd !important;
  background: #FF5E00 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: 120px;
}
.inv-waiting-btn:hover {
  background: #FF5E00 0% 0% no-repeat padding-box;
  color: #fff;
}


.inv-about-finish-btn {
  background: #dba03a 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: auto;
}
.inv-about-finish-btn:hover {
  background: #dba03a 0% 0% no-repeat padding-box;
  color: #fff;
}
.inv-out-of-order-btn {
  background: #C91212 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: auto;
}
.inv-out-of-order-btn:hover {
  background: #C91212 0% 0% no-repeat padding-box;
  color: #fff;
}
.inv-inactive-btn {
  background: #c4c4c4 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 7px 15px 7px 15px;
  color: #fff;
  width: auto;
}
.inv-inactive-btn:hover {
  background: #c4c4c4 0% 0% no-repeat padding-box;
  color: #fff;
}
.btn-img {
  width: 14px;
  height: 14px;
}
.model-head {
  color: #5a5a5a;
  font-size: 20px;
}
.model-input-name {
  font-size: 16px;
  margin-bottom: 10px;
  color: #5a5a5a;
  text-align: left;
}
.attribute-table {
  height: 58vh;
  overflow: auto;
}
.attribute-table-2 {
  height: 65vh;
  border: 1px solid #c4c4c4;
  position: relative;
}
.h-180-min{
  max-height: 180px !important;
}

.attribute-footer {
  border: 1px solid #c4c4c4;
  background: #ebebeb;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.inv-dash-card-head {
  color: #2c4c82;
  font-size: 1.1vw;
  font-family: AvenirLTStd !important;
}
.inv-sm-card {
  background: #f6f6f6;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.inv-sm-card p {
  margin-bottom: 2px !important;
}
.inv-sm-card h1 {
  margin: 0px !important;
  padding: 0px !important;
  color: #2c4c82;
  font-family: AvenirLTStd !important;
  font-size: 3vw;
  font-weight: normal;
}
.inv-card2{
  border: 1px solid #C4C4C4;
  width: 100%;
  font-family: AvenirLTStd !important;
  font-size: 14px !important;
  color: #333333;

}
.inv-card2-time{
  font-family: AvenirLTStd !important;
  
}
.inv-item-card-head{
  font-weight: 600;
  font-size: 1.1vw;
  color: #333333;
  margin: 0px !important;
  padding: 0px !important;
}
.inv-item-am{
  margin-top: 32px;
  color: #0D87C5;
  font-size: 16px;
}
.inv-item-head{
  color: #333333;
  font-family:  AvenirLTStd !important;
  font-size: 28px;
}
.inv-item-head-sub{
  color: #333333;
  font-family:  AvenirLTStd !important;
  font-size: 24px;
}
.inv-item-head-sub-2{
  color: #333333;
  font-family:  AvenirLTStd !important;
  font-size: 20px;
}
.f-gray{
  color: #333333;
}
.h-min-160{
  max-height: 160px !important;
}
.inv-item-card{
  padding-top: 20px;
  background: #E6E6E6;
 font-size: 20px;
 min-height: 160px;
 font-weight: 500;

}
.inv-item-card-content{
  font-size: 36px;
}
.inv-item-card-content span{
  font-size: 20px;
}
.inv-item-amount{
  text-align: left;
  font:  Avenir LT Std;
  font-size: 36px;
  letter-spacing: 0px;
  color: #0085C9;
  opacity: 1;
}
.inv-sidedrawer{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  border: 1px solid #707070;
  border-radius: 10px;
}
.inv-sidedrawer-inner{
  padding: 20px;
  font:  Avenir LT Std;
  color: #5A5A5A;
  position: relative;
}
.inv-drawer-head{
  font-size: 20px;
  margin-top: 5px;
}
.inv-sidedrawer hr{
  border-top: 1px solid #C4C4C4;
}

.inv-drawer-footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.view-img{
  width: 28px !important;
  height:  28px !important;

}


.inv-check-orderhead{
  font-size: 18px;
  font-weight: 600;
  font-family:  AvenirLTStd !important;
  color: #333333;
}
.inv-text-normal{
  font-size: 14px;
  color: #434343;
  font-family:  AvenirLTStd !important;
}
.inv-evaluation-note{
  font-size: 10px;
color: #434343;
text-align: left;
line-height: 1.3;
height: 50px;
overflow: auto;
}
.yellow-tick{
  color: #E3B600 !important;
}
.inv-ul{
  list-style: none;
  padding-left: 0px !important;
  
 
}
.inv-ul li{
  font-size: 14px;
  font-family:  AvenirLTStd !important;
  color: #434343;
}

.inv-check-section{
  width: 98% !important;
  border: 2px solid #C4C4C4;
  border-radius: 7px;
  padding: 10px;
  
  margin-left: 15px;
  margin-right: 15px;
}
.inv-check-section-head{
  font-size: 18px;
  font-family:  AvenirLTStd !important;
  color: #434343;
}
.inv-normal-btn{
  border: none;
  background: none;
}
.inv-normal-btn:hover{
  border: none;
  background: none;
}
.c-right-border {
  border-right: 2px solid #e3e3e3;
}
.inv-section-in{
  font-size: 14px;
  font-family:  AvenirLTStd !important; 
  color: #434343;
}
.inv-po-number{
  font-size: 22px;
  font-family:  AvenirLTStd !important; 
  color: #333333;
}
.red2-text{
  color: #C91212 !important;
}
.clean-section-card {
  background: #e4e4e4 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  margin-bottom: 5px;
}
.c-text2 {
  margin-left: auto;
  float: right;
}
.clean-section-card p {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}

.action-icon.down2{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}
.qty .count {
  margin-left: -5px;
  color: #2E4E85;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
  padding: 0 2px;
  width: 35px;
  text-align: center;
  border: 1px solid #2E4E85;
}
.qty .plus {
  margin-left: -5px;
  border: 1px solid #2E4E85;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #2E4E85;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  }
.qty .minus {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #2E4E85;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #2E4E85;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
 
  background-clip: padding-box;
}

.minus:hover{
  background-color: #ffffff !important;
}
.plus:hover{
  background-color: #ffffff !important;
}
.inv-border{
  border: 1px solid #4B4B4B;
border-radius: 7px;
}


.model-filter{
  padding: 6px;
 
  cursor: pointer;
  margin: 0 auto;
}

.inv-center{
  margin: 0 auto;
}

.inv-hr{
  margin-top: 3px;
  border-left: 1px solid #707070;
  height: 20px;
}
.inv-search-result{
  border-bottom: 1px solid #707070;
  width: 100%;
  padding-top: 7px;
  padding-left: 5px;
  padding-bottom: 7px;
}
.inv-search-result:hover{
 background: #e2e2e2;
}
.inv-result-box{
  background: #ffffff;
  width: 100%;
  z-index: 10;
  position: absolute;
  border: 1px solid #707070;
  border-radius: 6px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  height: 150px;
  overflow: auto;
}
@media only screen and (max-width: 950px) {

  .inv-dash-card-head{
    font-size: 2vw;
  }
  .inv-item-card-head{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .m-mt-10{
    margin-top: 10px !important;
  }
  .d-grid{
    display: grid !important;
  }
  .d-grid div{
    margin-top: 10px;
  }

  .inv-dash-card-head{
    font-size: 3vw;
  }
  .inv-item-card-head{
    font-size: 2.5vw;
  }
}