 /*@import url('image-zoom.css');*/ 
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300400,500,600,800&display=swap');
html { }
body{ margin:0; padding:0; font-size:14px; font-family: 'Catamaran'; color:#666;}
a,
a:visited { color: #22a1c4; outline: none; text-decoration: none;}
a:hover,
a:focus,
a:visited:hover {color: #22a1c4; text-decoration: none;}

/*Login-page*/
.kw-login-full-wrapper{background:url(../images/login-fullbg.jpg) no-repeat left center fixed; z-index:1; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:100vh; position:relative; display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Chrome */ display: flex; /* NEW, Opera 12.1, Firefox 20+ */ -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.kw-login-midwrapper { width:650px; margin:0 auto; height: 280px; background:#fff; border:1px solid #d1d7dc;}
.kw-login-midwrapper h1{ color:#2e4e85; font-weight:400; font-size:28px; line-height:32px; margin:10px 0 0 0; padding:0;}
.kw-login-midwrapper p{ color:#525252;margin:0; padding:0 0 10px 0; font-weight:100;}
.forgot-password{ color:#1a4a9b;}
.forgot-password a{ color:#1a4a9b; text-decoration:underline;transition: .4s;}
.forgot-password a:hover{ color:#666;} 
.kw-login-midwrapper label{ display:block; margin-bottom:12px;}
.kw-login-midwrapper label ::placeholder { color:#404040; }
.kw-login-midwrapper .login-username{ width:100%; box-sizing:border-box; background:url(../images/login-username.svg) no-repeat left; background-size: 18px 18px; background-position: 5px 5px; margin:0; padding:8px 0px 8px 30px; border:1px solid #8bd4e8; border-radius:5px; z-index:5; }
.kw-login-midwrapper .login-password{ width:100%; box-sizing:border-box; background:url(../images/login-password.svg) no-repeat left; background-size: 18px 18px; background-position: 5px 7px; margin:0; padding:8px 0px 8px 30px; border:1px solid #8bd4e8; border-radius:5px; z-index:5; }
.sign-in-button{ color:#fff; border:none; border-radius:5px; background:#2e4e85; transition: .4s; padding:8px 30px; cursor:pointer; }
.sign-in-button:hover{background:#11bae7;}
.kw-left-area{height: 280px; width:30%; box-sizing:border-box; background:#11bae7; position:absolute; left:0; padding:70px 25px 0 25px; margin:0 auto; text-align:center; }
.kw-right-area{height: 280px; width:70%; box-sizing:border-box; background:#fff; padding:15px 35px 0px 35px; position:absolute; left:30%; }
.kw-left-area p{ font-size:22px; line-height:22px; color:#fff;}
.kw-left-area img{ width:100px; height:100px; margin:0 auto; text-align:center; }
.shadow-effect{ position: relative;}
.shadow-effect:before, .shadow-effect:after{ z-index: -1; position: absolute; content: ""; bottom: 35px; left: 10px; width: 80%; top: 50%; max-width:300px; background: #777; -webkit-box-shadow: 0 35px 20px #777; -moz-box-shadow: 0 35px 20px #777; box-shadow: 0 35px 20px #bbbbbb; -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); -o-transform: rotate(-8deg); -ms-transform: rotate(-8deg); transform: rotate(-8deg);}
.shadow-effect:after{ -webkit-transform: rotate(8deg); -moz-transform: rotate(8deg); -o-transform: rotate(8deg); -ms-transform: rotate(8deg); transform: rotate(8deg); right: 10px; left: auto;}
/*Login-page*/



















@media screen and (max-width: 650px) {
.kw-login-midwrapper{ height:auto; width:auto; padding: 20px; }
.kw-left-area{ width:auto; position:inherit; height:160px; padding-top:10px;	}
.kw-right-area{ width:auto; position:inherit; left:0; padding:0; height:auto;}
.shadow-effect:before, .shadow-effect:after{ display:none;}
}
