.blue-box{ background:#528ce6; position:absolute; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:20px;  font-size:12px; padding:0 20px; text-shadow: 1px 2px 3px #00000045;}
.sp-blue-box-first{ background:#528ce6; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-blue-box-second{ background:#528ce6; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-blue-box-first:hover{ background:#4980d4; cursor:pointer;}
.sp-blue-box-second:hover{ background:#4980d4; cursor:pointer;}

.green-box{ background:#3cbbb1; position:absolute;right:; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;text-shadow: 1px 2px 3px #00000045;}
.sp-green-box-first{ background:#3cbbb1; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-green-box-second{ background:#3cbbb1; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-green-box-first:hover{ background:#31a9a0; cursor:pointer;}
.sp-green-box-second:hover{ background:#31a9a0; cursor:pointer;}

.orange-box{ background:#ff8c56; position:absolute; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;text-shadow: 1px 2px 3px #00000045;}}
.sp-orange-box-first{ background:#ff8c56; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-orange-box-second{ background:#ff8c56; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}

.red-box{ background:#ec6262; position:absolute;top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;text-shadow: 1px 2px 3px #00000045;}
.sp-red-box-first{ background:#ec6262; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-red-box-second{ background:#ec6262; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-red-box-first:hover{ background:#f54c4c; cursor:pointer;}
.sp-red-box-second:hover{ background:#f54c4c; cursor:pointer;}

.yellow-box{ background:#f2ba1e; position:absolute; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;text-shadow: 1px 2px 3px #00000045;}}
.sp-yellow-box-first{ background:#f2ba1e; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-yellow-box-second{ background:#f2ba1e; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-yellow-box-first:hover{ background:#e7ab03; cursor:pointer;}
.sp-yellow-box-second:hover{ background:#e7ab03; cursor:pointer;}

.gray-box{ background:#D3D3D3; position:absolute; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:20px;  font-size:12px; padding:0 20px; text-shadow: 1px 2px 3px #00000045;}
.sp-gray-box-first{ background:#D3D3D3; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.sp-gray-box-second{ background:#D3D3D3; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:20px; font-size:12px; padding:0 20px;}
.gray-box:hover{ background:#bbb; cursor:pointer;}
.sp-gray-box-first:hover{ background:#bbb; cursor:pointer;}
.sp-gray-box-second:hover{ background:#bbb; cursor:pointer;}


.red-box:hover{ background:#d55757; cursor:pointer;}
.left-avatar{width:22px; height:22px; position:absolute; left:1px; top:1px; border-radius:50px; text-align:center; }
.left-avatar img{ width:100%; border-radius:50px;height:22px;}
.right-value{width:22px; height:22px; position:absolute; background:#fff; right:1px; top:1px; border-radius:50px; text-align:center; }


.orange-bg{background:#ff8c56; padding:2px 6px; border-radius:30px; text-align:center; color:#fff; font-size:11px; display:block; text-shadow: 1px 2px 3px #00000045;}

.rose-bg{ background:#f765a3 ; padding:2px 6px; border-radius:30px; text-align:center; color:#fff; font-size:11px; display:block; text-shadow: 1px 2px 3px #00000045;} 
.rose-line{ border-left:4px solid #f765a3;}

.violet-bg{ background:#a155b9; padding:2px 6px; border-radius:30px; text-align:center; color:#fff; font-size:11px; display:block; text-shadow: 1px 2px 3px #00000045;}
.violet-line{ border-left:4px solid #a155b9;}

.skyblue-bg{ background:#87CEEB; padding:2px 6px; border-radius:30px; text-align:center; color:#fff; font-size:11px; display:block; text-shadow: 1px 2px 3px #00000045;}
.skyblue-bg-lg{background:#87CEEB; padding:4px 5px; margin:0 5px 10px 0;  border-radius:3px; text-align:center; color:#fff; font-size:13px; width:170px; display:inline-block;}
.skyblue-line{ border-left:4px solid #87CEEB;}

.oil-green-bg{ background:#bed522; padding:2px 6px; border-radius:30px; text-align:center; color:#fff; font-size:11px; display:block;text-shadow: 1px 2px 3px #00000045;}
.oil-green-line{ border-left:4px solid #bed522;}

.green-text-h3{ color:#53bbb2;text-shadow: 1px 2px 3px #00000045;}
.orange-text-h3{color:#f38a54;text-shadow: 1px 2px 3px #00000045;}
.yellow-text-h3{color:#ffca00;text-shadow: 1px 2px 3px #00000045;}
.red-text-h3{color:#ec6262;text-shadow: 1px 2px 3px #00000045;}


.gray-bg{background:#D3D3D3; padding:2px 6px; border-radius:30px; text-align:center; color:#fff; font-size:11px; display:block; }
.gray-line{ border-left:4px solid #D3D3D3;}

.yellow-bg-lg{background:#cfcc08; padding:4px 5px; margin:0 5px 10px 0;  border-radius:3px; text-align:center; color:#fff; font-size:13px; width:80px; display:inline-block;}

.orange-button{ background:#ff8c56; color:#fff; padding:4px 25px; border:none; font-size:15px; margin:15px 0 0px 0; border-radius:3px;transition: .4s; }
.orange-button:hover{ background:#ff8c56;}

.yellow-button{ background:#f2ba1e; color:#fff; padding:4px 25px; border:none; font-size:15px; margin:15px 0 0px 0; border-radius:3px;transition: .4s; }
.yellow-button:hover{ background:#f2ba1e;}

.red-button{ background:#ff0000; color:#fff; padding:4px 25px; border:none; font-size:15px; margin:15px 0 0px 0; border-radius:3px;transition: .4s; }
.red-button:hover{ background:#ff0000;}

.blue-button{ background:#345beb; color:#fff; padding:4px 25px; border:none; font-size:15px; margin:15px 0 0px 0; border-radius:3px;transition: .4s; }
.blue-button:hover{ background:#345beb;}

.filter-button span{ color:#fff; text-decoration:none !important; background:#528ce6; border-radius:4px; padding:7px 20px !important; cursor: pointer;}
.filter-button span:hover{ background:#4479cb; color:#fff;}

.checkonDeleteButton{ border:none; margin:0px 0 0 0; padding:8px 25px; background: #ec6262; text-decoration:none; color:#fff; border-radius:5px; transition: .4s;}
.checkonDeleteButton:hover{background:#9c0c14; color:#fff;}

.close-btn-quatation { position: absolute; right: 0; top: -40px; cursor: pointer; z-index: 99; font-size: 30px; color: #fff;}


.clickable-row-list{ cursor: pointer; }

.clickable-cursor{ cursor: pointer; }

.gray-text-evaluation{ color:#999 !important;} 
.gray-text-cleaning{ color:#444 !important;} 
/* Individual bars */
.bar-n {height: 18px;}

/* paginated */
.page-item a.disabled {
  cursor: no-drop;}

/* primary-btn */
.primary-btn {
  background: #4caee8;
  color: #fff;}
button.primary-btn:hover, 
.a-btn.primary-btn:hover, 
a.a-btn.primary-btn:hover {
  background: #2d8dc5;
  color: #fff;}


/*customer address multiple */
.customer-address-multiple .add-row,
.customer-address-multiple .delete-row {
    font-size: 12px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #e6e6e6;
}  

.customer-address-multiple .add-row {
  color: #2da979;
  display: inline-block;}
.customer-address-multiple .delete-row {
  color: #ff6c6c;
  margin-left:582px;
  right: 0;
  top: 0;}

  /* auto-complete-results */
.auto-complete-results {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: nowrap;
  border: 1px solid #9e9e9e;
  border-top: 0;
  background: #fff;
  border-radius: 5px;
  max-height: 220px;
  min-height: 80px;
  z-index: 500;
  padding: 7px 0;
  position: absolute !important;}
.auto-complete-result-item{
  min-width: 100%;
  padding: 2px 3px;
  white-space: nowrap;
  padding: 4px 10px;
  color: #000;
  cursor: pointer;
  font-size: 13px;}       
.auto-complete-result-item:hover{
  background-color: #efefef;
  color: #292929;}



/*Star rating in forms */
/* component */

.star-rating1 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating1 input {
  display:none;
}

.star-rating1 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating1 :checked ~ label {
  color:#f90;
}

.star-rating1 label:hover,
.star-rating1 label:hover ~ label {
  color:#fc0;
}


.star-rating2 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating2 input {
  display:none;
}

.star-rating2 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating2 :checked ~ label {
  color:#f90;
}

.star-rating2 label:hover,
.star-rating2 label:hover ~ label {
  color:#fc0;
}


.star-rating3 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating3 input {
  display:none;
}

.star-rating3 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating3 :checked ~ label {
  color:#f90;
}

.star-rating3 label:hover,
.star-rating3 label:hover ~ label {
  color:#fc0;
}



.star-rating4 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating4 input {
  display:none;
}

.star-rating4 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating4 :checked ~ label {
  color:#f90;
}

.star-rating1 label:hover,
.star-rating4 label:hover ~ label {
  color:#fc0;
}



.star-rating5 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating5 input {
  display:none;
}

.star-rating5 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating5 :checked ~ label {
  color:#f90;
}

.star-rating5 label:hover,
.star-rating5 label:hover ~ label {
  color:#fc0;
}


/* multi-field-wrapper custom code */
.multi-field-wrapper {
  box-shadow: 0 0 5px #d6d1d1;
  padding: 12px;
  border-radius: 5px;
  margin-top: 15px;
  display: table;
  width: 100%;}
.multi-field-wrapper .add-field-btn,
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn {
  padding: 0;
  background: transparent;
  min-width: auto;}
.multi-field-wrapper .add-field-btn:not(:hover),
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn:not(:hover) {
  opacity: .9;}
.multi-field-wrapper .add-field-btn {
  color: #5ea588;
  font-size: 35px;
  margin-top: 15px;
  float: left;
  clear: left;}
.multi-field-wrapper .multi-fields .multi-field {
  position: relative;
  background: #f9fafb;
  border: 1px solid #e0e5ea;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;}
.multi-field-wrapper .multi-fields .multi-field:first-of-type .remove-field-btn {
  display: none;}
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn {
  color: #e07b7b;
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;}


  /* radio, checkbox */
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 4.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 15px;
  width: 15px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none !important;
  z-index: 1;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
  background: #9faab7;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: #40e0d0;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

/* radio */
input[type="radio"]:checked::before {
  content: "\f111";
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]::after {
  border-radius: 50%;
}

/* checkbox */
input[type="checkbox"]:checked::before {
  content: "\f00c";
}



/* button */
button:not(:disabled),
.a-btn,
input[type="submit"] {
  cursor: pointer;}
button:hover,
.a-btn:hover,
a.a-btn:hover,
input[type="submit"]:hover {
  background: #ced8dc;
  color: #4d4f50;}
button:focus,
.a-btn:focus,
a.a-btn:focus,
input[type="submit"]:focus {
  outline: none;}
a.a-btn {
  text-decoration: none;}

/* primary-btn */
.primary-btn {
  background: #4caee8;
  color: #fff;}
button.primary-btn:hover, 
.a-btn.primary-btn:hover, 
a.a-btn.primary-btn:hover {
  background: #2d8dc5;
  color: #fff;}



/* delete-btn */
.delete-btn {
  background: #fff;
  border: none;
  color: #bf1b1b;
  box-shadow: none;
}

.delete-btn:hover {
  color: #800606;
  text-shadow: none;
}

/* back-btn, close-btn, reset-btn */
.back-btn,
a.back-btn,
.close-btn,
.reset-btn {
  background: #fff;
  color: #1a473b;
  box-shadow: 0 0 2px #7b7b7b
}

.back-btn:hover,
a.back-btn:hover,
.close-btn:hover,
.reset-btn:hover {
  color: #2791cf;
  text-shadow: none;
}






/*params filter */
.params_filter:not(.active) .expand-body {
  display: none;}  

.params_filter .expand-body {
  background: #fff;
  box-shadow: #ececec 0 0 5px;
  border: 1px solid #d4d4d4;
  position: absolute;
  z-index: 10;
  margin-top: 3px;
  border-radius: 5px;
  margin-bottom: 15px;
  width:50%;
}  

.params_filter .left-expand-body {
left:15;
}

.params_filter .right-expand-body {
right:0;
}

/* left, right */
@media (min-width: 992px) {
.params_filter .expand-body .left,
.params_filter .expand-body .right {
  float: left;
  width: 50%;}
}

/* head */
.params_filter .expand-body .head {
  display: table;
  width: 100%;
  margin-bottom: 15px;}
.params_filter .expand-body .head h1 {
  font-size: 20px;}
/* body */
.params_filter .expand-body .body {
  display: table;
  width: 100%;}
/* foot */
.params_filter .expand-body .foot {
  display: table;
  width: 100%;
  margin-top: 20px;}

/*extra popups*/
.modal-popup-wrapper1 { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrapper1.is-visible { visibility: visible;}
.modal-popup-wrapper1-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrapper1.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrapper1.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}

.modal-popup-wrapper2 { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrapper2.is-visible { visibility: visible;}
.modal-popup-wrapper2-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrapper2.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrapper2.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}


.modal-popup-wrapper3 { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrapper3.is-visible { visibility: visible;}
.modal-popup-wrapper3-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrapper3.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrapper3.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}


.modal-popup-wrapper4 { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrapper4.is-visible { visibility: visible;}
.modal-popup-wrapper4-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrapper4.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrapper4.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}


.modal-popup-wrapper5 { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrapper5.is-visible { visibility: visible;}
.modal-popup-wrapper5-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrapper5.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrapper5.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}


.modal-popup-wrapper6 { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrapper6.is-visible { visibility: visible;}
.modal-popup-wrapper6-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrapper6.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrapper6.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}

.modal-popup-wrapper7 { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrapper7.is-visible { visibility: visible;}
.modal-popup-wrapper7-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrapper7.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrapper7.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}




.modal-popup-wrappergraph { position: fixed; z-index: 100000000 !important; top: 0 !important; left: 0; right:0; visibility: hidden;  width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.modal-popup-wrappergraph.is-visible { visibility: visible;}
.modal-popup-wrappergraph-overlay { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; background: hsla(0, 0%, 0%, 0.5); visibility: hidden; opacity: 0; -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;} 
.modal-popup-wrappergraph.is-visible .modal-overlay { opacity: 1; visibility: visible; -webkit-transition-delay: 0s; transition-delay: 0s;}
.modal-popup-wrappergraph.is-visible .modal-transition { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}


.chart-gray-stat{ color:#949494; padding:0; display:inline-block; text-align:left;}



/* popup */
.custom-model-main-sp { text-align: center; overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0; /* z-index: 1050; */ -webkit-overflow-scrolling: touch; outline: 0; opacity: 0; -webkit-transition: opacity 0.15s linear, z-index 0.15; -o-transition: opacity 0.15s linear, z-index 0.15; transition: opacity 0.15s linear, z-index 0.15; z-index: -1; overflow-x: hidden; overflow-y: auto;}
.model-open-sp { z-index: 99999; opacity: 1; overflow: hidden;}
.custom-model-inner-sp {-webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); transform: translate(0, -25%); -webkit-transition: -webkit-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out; transition: -webkit-transform 0.3s ease-out; -o-transition: transform 0.3s ease-out; transition: transform 0.3s ease-out; transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; display: inline-block; vertical-align: middle; width: 400px; margin: 30px auto; max-width: 97%; }
.custom-model-wrap-sp { display: block; width: 100%; position: relative; background-color: #fff; border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); background-clip: padding-box; outline: 0; text-align: center; padding: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-height: calc(100vh - 70px);
  overflow-y: auto;}
.model-open-sp .custom-model-inner-sp { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); position: relative; z-index: 999;}
.model-open-sp .bg-overlay-sp { background: rgba(0, 0, 0, 0.6); z-index: 99;}
.bg-overlay-sp { background: rgba(0, 0, 0, 0); height: 100vh; width: 100%; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 0; -webkit-transition: background 0.15s linear; -o-transition: background 0.15s linear; transition: background 0.15s linear;}
.close-btn-sp { position: absolute; right: 0; top: -40px; cursor: pointer; z-index: 99; font-size: 30px; color: #fff;}
.custom-model-main-sp:before {  content: ""; display: inline-block; height: auto; vertical-align: middle; margin-right: -0px; height: 100%;}
.custom-model-inner-sp{margin-top: 45px;}

/* popup1 */
.custom-model-main-sp1 { text-align: center; overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0; /* z-index: 1050; */ -webkit-overflow-scrolling: touch; outline: 0; opacity: 0; -webkit-transition: opacity 0.15s linear, z-index 0.15; -o-transition: opacity 0.15s linear, z-index 0.15; transition: opacity 0.15s linear, z-index 0.15; z-index: -1; overflow-x: hidden; overflow-y: auto;}
.model-open-sp1 { z-index: 99999; opacity: 1; overflow: hidden;}
.custom-model-inner-sp1 {-webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); transform: translate(0, -25%); -webkit-transition: -webkit-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out; transition: -webkit-transform 0.3s ease-out; -o-transition: transform 0.3s ease-out; transition: transform 0.3s ease-out; transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; display: inline-block; vertical-align: middle; width: 400px; margin: 30px auto; max-width: 97%; }
.custom-model-wrap-sp1 { display: block; width: 100%; position: relative; background-color: #fff; border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); background-clip: padding-box; outline: 0; text-align: center; padding: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-height: calc(100vh - 70px);
  overflow-y: auto;}
.model-open-sp1 .custom-model-inner-sp1 { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); position: relative; z-index: 999;}
.model-open-sp1 .bg-overlay-sp1 { background: rgba(0, 0, 0, 0.6); z-index: 99;}
.bg-overlay-sp1 { background: rgba(0, 0, 0, 0); height: 100vh; width: 100%; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 0; -webkit-transition: background 0.15s linear; -o-transition: background 0.15s linear; transition: background 0.15s linear;}
.custom-model-main-sp1:before {  content: ""; display: inline-block; height: auto; vertical-align: middle; margin-right: -0px; height: 100%;}
.custom-model-inner-sp1{margin-top: 45px;}


/*remove button for cleaner add */
.add-button-2{ background:#ec6262; margin:0; padding:8px 15px; color:#fff;transition: .4s; border:none;}
.add-button-2:hover{ background:#d55757;}




/*promocode css */
* {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column_coupon {
    float: left;
    width: 33.33%;
    padding: 10px 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row_coupon {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row_coupon:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column_coupon {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card_coupon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff;
  }