.blue-box{ background:#528ce6; position:absolute; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:25px;  font-size:12px; padding:0 20px;}
.sp-blue-box-first{ background:#528ce6; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-blue-box-second{ background:#528ce6; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}

.green-box{ background:#3cbbb1; position:absolute;right:; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-green-box-first{ background:#3cbbb1; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-green-box-second{ background:#3cbbb1; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}

.orange-box{ background:#ff8c56; position:absolute; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-orange-box-first{ background:#ff8c56; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-orange-box-second{ background:#ff8c56; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}

.red-box{ background:#ec6262; position:absolute;top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-red-box-first{ background:#ec6262; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-red-box-second{ background:#ec6262; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}

.yellow-box{ background:#f2ba1e; position:absolute; top:9px; color:#fff; border-radius:100px; display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-yellow-box-first{ background:#f2ba1e; position:absolute;right:; top:9px; color:#fff; border-bottom-left-radius: 100px; border-top-left-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}
.sp-yellow-box-second{ background:#f2ba1e; position:absolute;right:; top:9px; color:#fff; border-bottom-right-radius: 100px; border-top-right-radius: 100px;display:inline-block; height:25px; line-height:25px; font-size:12px; padding:0 20px;}

.red-box:hover{ background:#d55757; cursor:pointer;}
.left-avatar{width:22px; height:22px; position:absolute; left:1px; top:1px; border-radius:50px; text-align:center; }
.left-avatar img{ width:100%; border-radius:50px;}
.right-value{width:22px; height:22px; position:absolute; background:#fff; right:1px; top:1px; border-radius:50px; text-align:center; }


.orange-bg{background:#ff8c56; padding:2px 6px; border-radius:30px; text-align:center; color:#fff; font-size:11px; display:block; }


.yellow-bg-lg{background:#cfcc08; padding:4px 5px; margin:0 5px 10px 0;  border-radius:3px; text-align:center; color:#fff; font-size:13px; width:80px; display:inline-block;}

.yellow-button{ background:#cfcc08; color:#fff; padding:4px 25px; border:none; font-size:15px; margin:15px 0 0px 0; border-radius:3px;transition: .4s; }
.yellow-button:hover{ background:#cfcc08;}

.red-button{ background:#ff0000; color:#fff; padding:4px 25px; border:none; font-size:15px; margin:15px 0 0px 0; border-radius:3px;transition: .4s; }
.red-button:hover{ background:#ff0000;}

.clickable-row-list{ cursor: pointer; }

.clickable-cursor{ cursor: pointer; }

/* Individual bars */
.bar-n {height: 18px;}

/* paginated */
.page-item a.disabled {
  cursor: no-drop;}

/* primary-btn */
.primary-btn {
  background: #4caee8;
  color: #fff;}
button.primary-btn:hover, 
.a-btn.primary-btn:hover, 
a.a-btn.primary-btn:hover {
  background: #2d8dc5;
  color: #fff;}



/* pop-up and page-form */
/* input's */
.pop-up .modal-body input[type="text"],
.pop-up .modal-body input[type=""],
.pop-up .modal-body input[type="number"],
.pop-up .modal-body input[type="date"],
.pop-up .modal-body input[type="password"],
.pop-up .modal-body input[type="email"],
.pop-up .modal-body input[type="url"],
.pop-up .modal-body input[type="time"],
.pop-up .modal-body select,
.pop-up .modal-body textarea,
.page-form .page-body input[type="text"],
.page-form .page-body input[type=""],
.page-form .page-body input[type="number"],
.page-form .page-body input[type="date"],
.page-form .page-body input[type="password"],
.page-form .page-body input[type="email"],
.page-form .page-body input[type="url"],
.page-form .page-body input[type="time"],
.page-form .page-body select,
.page-form .page-body textarea {
  width: 100%;
  color: #000;
  padding-left: 15px;
  border: 1px solid #d8dcde;
  border-radius: 5px;
  margin: 5px 0 0 0;
}

.pop-up .modal-body textarea,
.page-form .page-body textarea {
  padding-top: 5px;
  height: 100px;
}

  .pop-up .modal-body input[type="text"],
  .pop-up .modal-body input[type=""],
  .pop-up .modal-body input[type="number"],
  .pop-up .modal-body input[type="date"],
  .pop-up .modal-body input[type="password"],
  .pop-up .modal-body input[type="email"],
  .pop-up .modal-body input[type="url"],
  .pop-up .modal-body input[type="time"],
  .pop-up .modal-body select,
  .page-form .page-body input[type="text"],
  .page-form .page-body input[type=""],
  .page-form .page-body input[type="number"],
  .page-form .page-body input[type="date"],
  .page-form .page-body input[type="password"],
  .page-form .page-body input[type="email"],
  .page-form .page-body input[type="url"],
  .page-form .page-body input[type="time"],
  .page-form .page-body select {
    height: 40px;}

@media (min-width: 768px) {
  .pop-up .modal-body input[type="file"] {
    width: 100%;
    margin-top: 10px;
  }  
}

@media (max-width: 767px) {
  .pop-up .modal-body input[type="file"],
  .page-form .page-body input[type="file"] {
    width: 50%;
    float: left;
    margin-top: 10px;
  }
}


/* textarea */
.pop-up .modal-body .pop-up-col textarea,
.page-form .page-body .page-col textarea {
  height: 40px;}
@media (max-width: 767px) {
.pop-up .modal-body .pop-up-col textarea,
.page-form .page-body .page-col textarea {
  height: 100px;}
}
  
/* hover, focus textarea expanded */
@media (min-width: 768px) {
  .pop-up .modal-body .pop-up-col.height-set {
    height: 83px;
  }

  .page-form .page-body .page-col.height-set {
    height: 81px;
  }

  .pop-up .modal-body .pop-up-col.height-set textarea,
  .page-form .page-body .page-col.height-set textarea {
    resize: none;
    -webkit-transition: width 0.3s, height 0.3s, left 0.3s;
    -moz-transition: width 0.3s, height 0.3s, left 0.3s;
    -o-transition: width 0.3s, height 0.3s, left 0.3s;
    transition: width 0.3s, height 0.3s, left 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .pop-up .modal-body .pop-up-col.height-set textarea:hover,
  .pop-up .modal-body .pop-up-col.height-set textarea:focus,
  .page-form .page-body .page-col.height-set textarea:hover,
  .page-form .page-body .page-col.height-set textarea:focus {
    resize: both;
    height: 75px;
    background: #fff;
    position: relative;
    z-index: 10;
  }
}

/* date-select */
.pop-up .modal-body .date-select label,
.page-form .page-body .date-select label {
  margin-right: 10px;
  margin-top: 8px;
}

.pop-up .modal-body .date-select input[type="text"],
.page-form .page-body .date-select input[type="text"] {
  padding-left: 0;
  width: 100px;
}

@media (max-width: 767px) {

  .pop-up .modal-body .date-select label,
  .page-form .page-body .date-select label {
    margin-top: 7px;
  }

  .pop-up .modal-body .date-select input[type="text"],
  .page-form .page-body .date-select input[type="text"] {
    width: 85px;
  }
}



/* textarea */
.pop-up .modal-body .pop-up-col .primary-alert,
.pop-up .modal-body .pop-up-col-f .primary-alert,
.page-form .page-body .page-col .primary-alert,
.page-form .page-body .page-col-f .primary-alert {
  font-size: 10px;
  position: absolute;}

/* chosen-container */
.pop-up .modal-body .chosen-container .chosen-single,
.page-form .page-body .chosen-container .chosen-single {
    padding-top: 8px;}
.pop-up .modal-body .chosen-container:not(.chosen-container-active) .chosen-single,
.page-form .page-body .chosen-container:not(.chosen-container-active) .chosen-single {
    padding-left: 15px;}


/* help */
.pop-up .modal-body .help,
.page-form .page-body .help {
  font-size: 11px;
  color: #ea5555;}



/* multi-field-wrapper */ 
/* pop-up, page-form */
.pop-up .modal-body .multi-field-wrapper .multi-fields .pop-up-col.multi-field,
.page-form .page-body .multi-field-wrapper .multi-fields .page-col.multi-field {
    padding: 10px;}
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field label,
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field label {
  font-size: 14px;}

/* choose-img-div */
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field .choose-img-div,
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field .choose-img-div {
  margin-top: 10px;}

/* input[type="file"] */
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field input[type="file"], 
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field input[type="file"] {
    width: 100%;
    margin-top: 5px;}
@media (max-width: 767px){
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field input[type="file"], 
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field input[type="file"] {
    float: inherit;}
}


/*/ pop-up Start /*/

/* pop-up-small */
@media (min-width: 768px) {
  .pop-up .body.pop-up-small {
    max-width: 700px;
    width: 80%;}
}

/* pop-up-col */
@media (min-width: 992px) {
  .pop-up .pop-up-small .modal-body .pop-up-col {
    width: 50%;
  }
}

/* common */
.modal.pop-up {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pop-up .modal-content {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  height: 100vh;
}

@media (min-width: 576px) {
  .pop-up .modal-dialog {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .pop-up .modal-dialog {
    max-width: 100%;
  }
}

/* body */
.pop-up .body {
  margin: 0 auto;
  background: #fff;
  border-radius: 23px;
}

@media (min-width: 768px) {
  .pop-up .body {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .pop-up .body {
    width: 100%;
  }
}

/* modal-header */
.pop-up .modal-header {
  padding: 0;
}

.pop-up .modal-header h1,
.pop-up .modal-header h2 {
  margin: 0;
  text-transform: capitalize;
}
.pop-up .modal-header h1 {
  padding-top: 9px;
}
.pop-up .modal-header .close-btn {
  color: #f12c4f;
  position: relative;
  min-width: auto;
  bottom: 15px;
  left: 30px;
  box-shadow: none;
  border-color: transparent;
  border-top-right-radius: 25px;}

@media (min-width: 768px) {
  .pop-up .modal-header {
    padding: 15px 30px;
  }

  .pop-up .modal-header h1 {
    font-size: 20px;
  }

  .pop-up .modal-header h2 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-header {
    padding: 10px 25px;
  }

  .pop-up .modal-header h1 {
    font-size: 19px;
  }

  .pop-up .modal-header h2 {
    font-size: 17px;
  }
}

/* modal-body */
/* common */
.pop-up .modal-body label {
  margin: 10px 0 2px 0;
  text-transform: capitalize;
  width: 100%;
  font-size: 14px;
  color: #1d1d1d;
}

@media (min-width: 768px) {
  .pop-up .modal-body {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-body {
    padding: 10px 25px;
  }
}

/* modal-footer */
.pop-up .modal-footer {
  margin-top: 15px;
}
.pop-up .modal-footer button,
.pop-up .modal-footer .a-btn {
  min-width: 100px;}
.pop-up .modal-footer .delete-btn {
  margin-right: auto;
  padding-left: 0;
}
@media (min-width: 768px) {
  .pop-up .modal-footer {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-footer {
    padding: 10px 25px;
  }
}

/* pop-up-col, pop-up-col-f */
.pop-up .modal-body .pop-up-col,
.pop-up .modal-body .pop-up-col-f {
  float: left;
  padding: 3px;
  position: relative;
}
.pop-up .modal-body .pop-up-col-f {
  width: 100%;}
@media (min-width: 992px) {
  .pop-up .modal-body .pop-up-col {
    width: 33.33333333%;
  }
}

@media (max-width: 991px) {
  .pop-up .modal-body .pop-up-col {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-body .pop-up-col {
    width: 100%;
  }
}

/* d-flex */
.pop-up .d-flex {
  display: flex;
}

/* radio-cbox-btn */
.pop-up .modal-body .radio-cbox-btn label {
  width: auto;
}



/* delete-popup */
.delete-popup h4 {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .pop-up .body.delete-popup {
    width: 35%;
  }
}


/* confirm-popup */
.confirm-popup h4 {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;}
@media (min-width: 768px) {
.pop-up .body.confirm-popup {
  width: 35%;}
}


/* img-zoom-popup */
.pop-up .body.img-zoom-popup {
  max-width: 600px;}
/* modal-header */
.pop-up .body.img-zoom-popup .modal-header {
  padding: 0;
  position: relative;}
.pop-up .body.img-zoom-popup .modal-header .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  left: initial;
  bottom: initial;
  z-index: 1;
  border-radius: 0;
  background: #f7939399;
  color: #fff;}
.pop-up .body.img-zoom-popup {
  border-radius: 0;}
/* modal-body */
.pop-up .body.img-zoom-popup .modal-body {
  padding: 0;
  text-align: center;}
.pop-up .body.img-zoom-popup .modal-body img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: pointer;}
.pop-up .body.img-zoom-popup .modal-body img:hover,
.pop-up .body.img-zoom-popup .modal-body img:active,
.pop-up .body.img-zoom-popup .modal-body img:focus {
  -ms-transform: scale(2.1);
  -moz-transform: scale(2.1);
  -webkit-transform: scale(2.1);
  -o-transform: scale(2.1);
  transform: scale(2.1);}


/* main-details  */
.pop-up .modal-body .main-details .div-col label {
  margin-top: 0;
  width: initial;}


/* radio-cbox-btn */
.pop-up .pop-up-small .modal-body .pop-up-col .radio-cbox-btn {
    padding-bottom: 2px;}




/*/ pop-up End /*/

/* page-form */
.page-form {
  background: #fff;
  margin-top: 15px;
  box-shadow: 0 0 5px #d8d2d2;}
/* page-form-head, page-body, page-footer */
.page-form .page-form-head,
.page-form .page-body,
.page-form .page-footer {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .page-form .page-form-head,
  .page-form .page-body,
  .page-form .page-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* page-form-head */
.page-form .page-form-head {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #dee5e8;}
.page-form .page-form-head h1 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 0;}
.page-form .page-form-head h2 {
  font-size: 16px;
  text-transform: capitalize;
  color: #6d6d6d;
  margin-bottom: 0;}

/* page-body */
.page-form .page-body {
  padding-top: 5px;
  padding-bottom: 20px;
}

.page-form .page-body:after,
.page-form .page-body:before {
  display: table;
  content: " ";
}

.page-form .page-body:after {
  clear: both;
}

/* label */
.page-form .page-body label {
  font-size: 14px;
  margin: 5px 0 0;
  padding: 4px 0 1px;
  text-transform: capitalize;
  color: #757575;
}



/* input-file */
.page-form .page-body .page-col input[type="file"] {
  width: 100%;
  margin-top: 10px;}
  


/* page-footer */
.page-form .page-footer {
  margin-top: 15px;
  border-top: 1px solid #dee5e8;
  text-align: right;
}

.page-form .page-footer button,
.page-form .page-footer .a-btn {
  margin: 8px 0;
  display: inline-block;
}

.page-form .page-footer .delete-btn {
  float: left;
}




/* page-col */
.page-form .page-body .page-col,
.page-form .page-body .page-col-f {
  float: left;
  padding: 3px;
  position: relative;
}
.page-form .page-body .page-col-f {
  width: 100%;}
@media (min-width: 992px) {
  .page-form .page-body .page-col {
    width: 33.33333333%;
  }
}

@media (max-width: 991px) {
  .page-form .page-body .page-col {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .page-form .page-body .page-col {
    width: 100%;
  }
}



/* div-section */
.page-form .div-section {
  display: table;
  box-shadow: 0 0 5px #d8d2d2;
  width: 100%;
  padding: 10px;}
.page-form .div-section .div-section-head {
  display: table;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;}
.page-form .div-section .div-section-head h1 {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0;}

  
/* row-two-col */
@media (min-width: 768px) {
.page-form .page-body .row-two-col .page-col {
    width: 50%;}
}


/* textarea-height */
.page-form .page-body .page-col .radio-cbox-btn {
  padding: 0;}


/* textarea-height */
.page-form .page-body .textarea-height {
  height: 200px;}


/* dynamic-form */
.page-form .page-body .dynamic-form {
  border: 1px solid #e2e6e8;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  display: table;
  width: 100%;}
.page-form .page-body .dynamic-form:hover {
  border-color: #ccc;}
.page-form .page-body .dynamic-form:not(:first-of-type) {
  margin-top: 10px;}

.page-form .page-body .add-row,
.page-form .page-body .delete-row {
  font-size: 12px;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid #e6e6e6;}
.page-form .page-body .add-row {
  color: #2da979;
  margin-top: 10px;
  display: inline-block;}
.page-form .page-body .delete-row {
  color: #ff6c6c;
  position: absolute;
  right: 0;
  top: 0;}  


.customer-address-multiple .add-row,
.customer-address-multiple .delete-row {
    font-size: 12px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #e6e6e6;
}  

.customer-address-multiple .add-row {
  color: #2da979;
  display: inline-block;}
.customer-address-multiple .delete-row {
  color: #ff6c6c;
  margin-left:582px;
  right: 0;
  top: 0;}

  /* auto-complete-results */
.auto-complete-results {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: nowrap;
  border: 1px solid #9e9e9e;
  border-top: 0;
  background: #fff;
  border-radius: 5px;
  max-height: 220px;
  min-height: 80px;
  z-index: 500;
  padding: 7px 0;
  position: absolute !important;}
.auto-complete-result-item{
  min-width: 100%;
  padding: 2px 3px;
  white-space: nowrap;
  padding: 4px 10px;
  color: #000;
  cursor: pointer;
  font-size: 13px;}       
.auto-complete-result-item:hover{
  background-color: #efefef;
  color: #292929;}



/*Star rating in forms */
/* component */

.star-rating1 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating1 input {
  display:none;
}

.star-rating1 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating1 :checked ~ label {
  color:#f90;
}

.star-rating1 label:hover,
.star-rating1 label:hover ~ label {
  color:#fc0;
}


.star-rating2 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating2 input {
  display:none;
}

.star-rating2 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating2 :checked ~ label {
  color:#f90;
}

.star-rating2 label:hover,
.star-rating2 label:hover ~ label {
  color:#fc0;
}


.star-rating3 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating3 input {
  display:none;
}

.star-rating3 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating3 :checked ~ label {
  color:#f90;
}

.star-rating3 label:hover,
.star-rating3 label:hover ~ label {
  color:#fc0;
}



.star-rating4 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating4 input {
  display:none;
}

.star-rating4 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating4 :checked ~ label {
  color:#f90;
}

.star-rating1 label:hover,
.star-rating4 label:hover ~ label {
  color:#fc0;
}



.star-rating5 {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating5 input {
  display:none;
}

.star-rating5 label {
  color:#ccc;
  cursor:pointer;
}

.star-rating5 :checked ~ label {
  color:#f90;
}

.star-rating5 label:hover,
.star-rating5 label:hover ~ label {
  color:#fc0;
}


/* multi-field-wrapper custom code */
.multi-field-wrapper {
  box-shadow: 0 0 5px #d6d1d1;
  padding: 12px;
  border-radius: 5px;
  margin-top: 15px;
  display: table;
  width: 100%;}
.multi-field-wrapper .add-field-btn,
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn {
  padding: 0;
  background: transparent;
  min-width: auto;}
.multi-field-wrapper .add-field-btn:not(:hover),
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn:not(:hover) {
  opacity: .9;}
.multi-field-wrapper .add-field-btn {
  color: #5ea588;
  font-size: 35px;
  margin-top: 15px;
  float: left;
  clear: left;}
.multi-field-wrapper .multi-fields .multi-field {
  position: relative;
  background: #f9fafb;
  border: 1px solid #e0e5ea;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;}
.multi-field-wrapper .multi-fields .multi-field:first-of-type .remove-field-btn {
  display: none;}
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn {
  color: #e07b7b;
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;}


  /* radio, checkbox */
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 4.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 15px;
  width: 15px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none !important;
  z-index: 1;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
  background: #9faab7;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: #40e0d0;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

/* radio */
input[type="radio"]:checked::before {
  content: "\f111";
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]::after {
  border-radius: 50%;
}

/* checkbox */
input[type="checkbox"]:checked::before {
  content: "\f00c";
}



/* button */
button,
.a-btn,
input[type="submit"] {
  white-space: nowrap;
  line-height: normal;
  background:#e1e9ec;
  color: #5d5e5f;
  padding: 10px 15px;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  min-width: 65px;
  text-align: center;}
button:not(:disabled),
.a-btn,
input[type="submit"] {
  cursor: pointer;}
button:hover,
.a-btn:hover,
a.a-btn:hover,
input[type="submit"]:hover {
  background: #ced8dc;
  color: #4d4f50;}
button:focus,
.a-btn:focus,
a.a-btn:focus,
input[type="submit"]:focus {
  outline: none;}
a.a-btn {
  text-decoration: none;}

/* primary-btn */
.primary-btn {
  background: #4caee8;
  color: #fff;}
button.primary-btn:hover, 
.a-btn.primary-btn:hover, 
a.a-btn.primary-btn:hover {
  background: #2d8dc5;
  color: #fff;}



/* delete-btn */
.delete-btn {
  background: #fff;
  border: none;
  color: #bf1b1b;
  box-shadow: none;
}

.delete-btn:hover {
  color: #800606;
  text-shadow: none;
}

/* back-btn, close-btn, reset-btn */
.back-btn,
a.back-btn,
.close-btn,
.reset-btn {
  background: #fff;
  color: #1a473b;
  box-shadow: 0 0 2px #7b7b7b
}

.back-btn:hover,
a.back-btn:hover,
.close-btn:hover,
.reset-btn:hover {
  color: #2791cf;
  text-shadow: none;
}






/*params filter */
.params_filter:not(.active) .expand-body {
  display: none;}  

.params_filter .expand-body {
  background: #fff;
  box-shadow: #ececec 0 0 5px;
  border: 1px solid #d4d4d4;
  position: absolute;
  z-index: 10;
  margin-top: 3px;
  border-radius: 5px;
  margin-bottom: 15px;
  width:50%;
}  

.params_filter .left-expand-body {
left:15;
}

.params_filter .right-expand-body {
right:0;
}

/* left, right */
@media (min-width: 992px) {
.params_filter .expand-body .left,
.params_filter .expand-body .right {
  float: left;
  width: 50%;}
}

/* head */
.params_filter .expand-body .head {
  display: table;
  width: 100%;
  margin-bottom: 15px;}
.params_filter .expand-body .head h1 {
  font-size: 20px;}
/* body */
.params_filter .expand-body .body {
  display: table;
  width: 100%;}
/* foot */
.params_filter .expand-body .foot {
  display: table;
  width: 100%;
  margin-top: 20px;}