/* message_wrapper */
.message_wrapper {
   width: 640px;
    text-align: center;
    z-index: 999;
    position: fixed;
    top: 35px;
    margin: 0 auto;
    left: 0;
    right: 0;}
.message_wrapper .message_common {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #f7f2f2;}
.message_common.success .fa-exclamation-triangle,
.message_common.error .fa-check {
  display: none;} 
.message_wrapper .message_common .fa-times {
  cursor: pointer;
  color: #ff2626;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  border: 1px solid #ffabab;
  border-top-right-radius: 7px;}
/*
.message_wrapper .message_common .fa-times:not() {
    color: #ff3c3c;}*/
.message_wrapper .message_common h3 {
    font-size: 17px;
    padding: 15px 10px;}
.message_wrapper .message_common h3 .fa {
  margin-right: 8px;
  font-size: 20px;} 
/**/  
.message_common.error {
  color: #e67eb7;}
.message_common.success {
  color: #8a8a8a;}     
@media screen and (max-width: 767px) {
.message_wrapper {
  width: 90%;}
}  

* {
  font-family: Roboto;
}

h2{
  font-weight: 100;
  font-size: 30pt;
  line-height: 1.3em;
  margin: 15px 0;
}

div.message {
  position: relative;
  padding: 10px;
  padding-left: 35px;
  margin: 30px 10px;
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  background: #BBB;
  color: #FFF;
  
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
div.message:hover{
  box-shadow: 0 15px 20px rgba(10,0,10,.3);
  -webkit-filter: brightness(110%);
}

div.message:before{
  content: '';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  top: -21px;
  left: 50%;
  margin:0 -21px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  padding:10px;
  background: inherit;
  box-shadow:0 5px 10px rgba(0,0,0,.25);
  color: rgba(255,255,255,.75);
  border-radius:50%;
  border: 2px solid transparent;
  z-index: 2;
}

div.message.info:before{content:'\f129';}
div.message.debug:before{content:'\f0f3';}
div.message.success:before{content:'\f00c';}
div.message.warning:before{content:'\f12a';}
div.message.error:before{content:'\f00d';}

div.message.info{background: #39B;}
div.message.warning{background: #E74;}
div.message.success{background: #5A6;}
div.message.debug{background: #EA0;}
div.message.error{background: #C43;}