/*  */
.clean-img-head {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  margin: 10px 0px 0px 0px;
  padding: 0;
  font-size: 16px;
  font-weight: 200;
 
}
.customer-detials-text{
  font-size: 18px;
  color: #737373;
  font-weight: 600 !important;
}
.customer-data{
  color: #434343;
}
.evalution-note-less{
  overflow: hidden;
  max-height: 80px;
  padding: 0px !important;
  margin: 0px !important;
}
.see-more{
  color: blue;
}
.cp{
  cursor:pointer;
}
.keynote-input{
  border: none;
    border-bottom: 1px dotted #2f4e85;
    border-radius: 0px;
    max-width: 100px;
    margin-right: 15px;
}
.justify-center{
  justify-content: center;
}
#kitchen-select{
  width:100%;
  max-width:100%;
}
.kitchen-details{
  margin-top: 10px;
    margin-bottom: 15px;
}
.text-right{
  text-align: right !important;
}
.gray-icon {
  color: gray;
}
.visit-border {
  border: 1px solid #b9cfeb !important;
}

.mr-0 {
  margin-right: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}

.mp-lr-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px !important;
}
.pb-17 {
  padding-bottom: 17px;
}
.p-10 {
  padding: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-25 {
  padding-left: 25px !important;
}

.ml-5 {
  margin-left: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.c-mt-50 {
  margin-top: 50px;
}
.c-mt-022 {
  margin-top: -22px;
}
.c-mt-10 {
  margin-top: 10px;
}
.c-mt-20 {
  margin-top: 20px;
}
.c-mr-10 {
  margin-right: 10px;
}
.c-mr-5 {
  margin-right: 5px;
}
.c-mb-3 {
  margin-bottom: 3px;
}
.c-mb-10 {
  margin-bottom: 10px;
}
.c-right-border {
  border-right: 1px solid #e3e3e3;
}
.c-pr5 {
  padding-left: 5px;
}
.c-pr0060 {
  padding-left: 42px;
}
.c-pr5 {
  padding-right: 5px;
}

.media-gap {
  margin-right: 100px;
}

.c-text {
  margin-left: auto;
}
.c-text2 {
  margin-left: auto;
  float: right;
}
.c-red {
  color: #e80800;
}
.c-blue {
  color: #2e4e85;
}

.test-color {
  color: #0d87c5;
}
.button-icons {
  width: 18px;
}
.mpl-0 {
  margin-left: 0 !important;
  padding-left: 0px !important;
}
.order-card-column {
  min-height: 170px;
}
.visti-section {
  display: block;
  padding: 0px 10px 10px 10px;
}

.order-section-1 {
  max-height: 152px;
}

.c-dropdown-content {
  left: 5px;
  display: none;
  position: absolute;
  overflow: visible;
  background: #ffffff;
  z-index: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #00000029;
  opacity: 1;
  padding: 0px 15px 10px 10px;
  right: 0;
}

.show {
  display: block;
}
.not-show {
  display: none;
}

.visit-times {
  max-height: 120px;
  overflow: hidden;
}

.more-icon {
  background-color: #ffffff;
  padding: 5px 5px 3px 5px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #a8a8a8;
}

.time-more {
  cursor: pointer;
  height: 10px;
  text-align: center;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #cbcaca;
}

.time-more:after {
  content: "";
  position: absolute;
  height: 10px;
  left: 0px;
  right: 0px;
  bottom: 100%;
  background-color: transparent;
}
.more-icon {
}
/* .c-button-more{
  margin-top: 10px;
  border: none;
  
} */
.rating-value {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-left: 5px;
}
.button1 {
  background: #e36a00;
  color: #fff;
  padding: 4px 25px;
  border: none;
  font-size: 15px;
  margin: 15px 0 0px 0;
  border-radius: 3px;
  transition: 0.4s;
}
.button1:hover {
  background: #e36a00;
}

.order-details-left-wrapper {
  background: #fff;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex: 1 1 auto;
  margin-right: 30px;
  position: relative;
}
.order-clean-edit {
  text-align: right;
  cursor: pointer;
}
.w-auto{
  width:auto !important;
}

.order-clean-edit img {
  width: 22px;
}
.order-edit {
  font-size: 12px;
  margin: 25px 10px 0 0;
  padding: 0;
  color: #777676;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 6px;
}
.order-edit img {
  width: 22px;
}
.order-container-main {
  padding: 10px;
}

.done-button {
  background: #2e4e85;
  color: #fff;
  padding: 4px 10px;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  transition: 0.4s;
}
.done-button:hover {
  background: #2e4e85;
}
.subscription-button {
  background: #1a8e92;
  color: #fff;
  padding: 4px 25px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.4s;
}
.subscription-button:hover {
  background: #1a8e92;
  color: #fff;
}
.ticket-button {
  background: #c91212;
  color: #fff;
  padding: 4px 25px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.4s;
}
.ticket-button:hover {
  background: #c91212;
  color: #fff;
}

.order-header-class {
  text-align: left;
}
.order-header-class h2 {
  letter-spacing: 0px;
  color: #434343;
  font-weight: 200;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.card-innerwrapper .column-left h1 {
  color: #737373;
  font-size: 18px !important;
  font-weight: 400;
  margin: 0 !important;
  padding: 0 0 6px 0 !important;
}

.border-line {
  border: 1px solid #707070;
}
.order-details-header {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  text-align: left;
  font-size: 20px;
  position: relative;
  margin: 0px 0 6px 0;
  padding: 0;
}

.order-right-bgwrapper {
  background: #fff;
  padding: 25px 25px;
  position: relative;
}

.order-agent-profile-pic {
  width: 100%;
  border: 1px solid #707070;
  border-radius: 50%;
  opacity: 1;
}
.order-agent-content {
  position: relative;
  margin-left: 15px;
  color: #434343;
}
.order-agent-content h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.order-agent-content h6 {
  font-size: 12px;
  margin: 0 0 2px 0;
  padding: 0;
}
.order-agent-edit {
  position: absolute;
  right: 0;
  top: 0;
}
.order-agent-edit img {
  width: 1vw;
}
.agent-content-section1 {
  padding: 0;
  position: relative;
}
.agent-content-section1 ul {
  list-style: none;
  color: #434343;
  padding-left: 0px;
}
.agent-content-section1 ul li {
  margin-bottom: 5px;
}
.agent-content-section2 {
}
.agent-content-section2 p {
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #434343;
}
.time-text {
  font-size: 14px;
  color: #434343;
  margin-bottom: 12px;
}
.order-time-edit {
  width: 15px;
  margin-left: 5px;
}

.order-clean-section-header {
  text-align: left;
  display: flex;
}
.order-clean-section-header h1 {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 200;
}
.order-clean-section-header h2 {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 200;
}
.order-clean-section-header h3 {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 200;
}
.order-clean-section-header h5 {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 200;
}
.c-small {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 200;
}
.order-clean-section {
  position: relative;
  color: #434343;
}
.clean-section-card {
  background: #e4e4e4 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  margin-bottom: 5px;
}
.clean-section-card p {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  color: #505050;
  font-size: 12px;
}

.cleaning-status-card {
  background: #edf1f6 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  padding: 3px 5px 3px 5px;
 border: 1px solid transparent ;

  /* margin-left: 10px; */
}
.c-active {
  border: 1px solid #74a7ff;
  margin: 0;
}
.cleaning-status-row {
  display: flex;
}
/* .cleaning-status-inside {
  flex: 1;
} */
.cleaning-status-container {
  padding-left: 10px;
  padding-right: 10px;
}

.completed-button {
  background: #10a82f;
  color: #fff;
  padding: 0 15px 0 15px;
  border: none;

  border-radius: 5px;
  transition: 0.4s;
}
.completed-button:hover {
  background: #10a82f;
  color: #fff;
}

.canceled-button {
  background: #c91212;
  color: #fff;
  padding: 0 15px 0 15px;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
}
.canceled-button:hover {
  background: #c91212;
  color: #fff;
}
.inprogress-button {
  background: #0d87c5;
  color: #fff;
  padding: 0 15px 0 15px;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
}
.inprogress-button:hover {
  background: #0d87c5;
  color: #fff;
}
.notassing-button {
  background: #ff5e00;
  color: #fff;
  padding: 0 10px 0 10px;
  border: none;

  border-radius: 5px;
  transition: 0.4s;
}
.notassing-button:hover {
  background: #ff5e00;
  color: #fff;
}

.assigned-button {
  background: #dba03a;
  color: #fff;
  padding: 0 15px 0 15px;
  border: none;

  border-radius: 5px;
  transition: 0.4s;
}
.assigned-button:hover {
  background: #dba03a;
  color: #fff;
}
.c-clean-team-header {
  position: relative;
}
.clean-team-edit {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.clean-team-edit img {
  width: 22px;
}

.clean-team-profile-pic {
  border: 1px solid #707070;
    border-radius: 48px;
    opacity: 1;
    height: 48px;
    width: 48px;
    background: none;
}
.order-payment-section {
  padding: 15px 10px 15px 10px;
  color: #434343;
}
.order-payment-section h2 {
  font-size: 18px;
  text-align: left;
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
}
.order-payment-section-card {
  position: relative;
  background: #f8f8f8;
  border-radius: 4px;
  opacity: 1;
  height: 100%;

  min-height: 288px;
  padding: 45px 5px 5px 25px;
}

.cc-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cc-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.cc-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #707070;
}

.cc-container:hover input ~ .cc-checkmark {
  background-color: #ccc;
}

.cc-container input:checked ~ .cc-checkmark {
  background-color: #707070;
}

.cc-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cc-container input:checked ~ .cc-checkmark:after {
  display: block;
}

.cc-container .cc-checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

.sent-button {
  background: #2c4c82 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003d;
  opacity: 1;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 30px 5px 30px;
  margin: 3px;
}
.sent-button:hover {
  background: #2c4c82 0% 0% no-repeat padding-box;

  color: #fff;
}
.view-button {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003d;
  opacity: 1;
  color: #2c4c82;
  border: 1px solid #2c4c82;
  border-radius: 3px;
  padding: 5px 30px 5px 30px;
  margin: 3px;
}
.view-button:hover {
  background: #fff 0% 0% no-repeat padding-box;
  color: #2c4c82;
}
.payment-section-button {
  position: absolute;
  bottom: 20px;
}
.clean-visit-section {
  background: #edf1f6 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding: 20px 20px 0px 20px;
  margin: 0;
}
.c-button-div {
  margin: 25px 0 25px 0;
}
.side-buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #2e4e85;
  border-radius: 6px;
  opacity: 1;
  width: 100%;
  height: 40px;
  left: 0;
  /* padding: 0 20px 0 20px; */
}
.slider-img {
  width: 175px;
  height: 128px;
}
.owl-prev {
  position: absolute;
  top: 50px !important;
  left: -15px;
  top: 45%;
  display: block !important;
  border: 1px solid #b9b9b9 !important;
  height: 25px;
  width: 25px;
  border-radius: 40px;
  background: #fff !important;
  color: #707070;
  opacity: 1 !important;
}
.owl-next {
  color: #707070;
  position: absolute;
  top: 50px !important;
  right: -15px;
  top: 45%;
  display: block !important;
  border: 1px solid #b9b9b9 !important;
  height: 25px;
  width: 25px;
  border-radius: 40px;
  background: #fff !important;
  opacity: 1 !important;
}
.owl-prev i,
.owl-next i {
  transform: scale(1, 1.5);
  color: #707070;
}

.cancel-model {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-bottom: 10px solid #2c4c82 !important;
}
.model-close {
  border: none;
  background: none;
  padding: 0px !important;
}
.model-close:hover {
  background: none;
}
.cancel-model-content {
  padding: 50px 50px 50px 50px;
  text-align: center;
}
.cancel-model-content h1 {
  letter-spacing: 0px;
  color: #535353;
  opacity: 1;
  font-size: 22px;
}
.modal-dialog {
  width: 1000px !important;
}
.w3-modal {
  z-index: 3;
  display: none;
  padding-top: 200px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.w3-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
.topright {
  position: absolute;
  top: 70px;
  right: 16px;
  font-size: 18px;
  color: black;
}
.img-close-button {
  border: none;
  padding: 20px;
  background-color: rgb(185 22 22 / 80%);
}

.pointer {
  cursor: pointer;
}

.showmore {
  display: none;
}

.vist-card-item-first {
  text-align: left;
  flex: none;
  margin-right: 15px;
}
.vist-card-item-second {
  flex: none;
}
.vist-card-item-last {
  text-align: right;
  flex: 1;
}

.order-progress-section {
  background: #fff;
  padding: 15px;
  margin-right: 30px;
}

.c-model-head {
  position: relative;
}
.c-model-head p {
  margin-top: 10px;
  color: #4a4a4a;
  font-size: 15px;
}
.c-close-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.c-model-head h1 {
  letter-spacing: 0px;
  color: #535353;
  opacity: 1;
  font-size: 24px;
  font-weight: 400;
}
.model-calander-head {
  background-color: #2c4c82;
  width: 100%;
  min-height: 85px;
  color: #ffffff;
}

.model-calender {
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.model-cleaning-solt {
  margin-top: 100px;
  color: #4e4e4e;
  font-size: 13px;
}

.amount-card {
  background: #edf1f6;
  border-radius: 8px;
  padding: 10px 20px 30px 20px;
}
.amount-card h2 {
  letter-spacing: 0px;
  color: #535353;
  opacity: 1;
  font-size: 22px;
  font-weight: 400;
}
.amount-text {
  color: #434343;
  opacity: 1;
  font-size: 34px;
  line-height: 1;
}
.table-condensed {
  width: 290px !important;
}
.datepicker table td,
.datepicker table th {
  background: #ffffff !important;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
  background-color: #2c4c82 !important;
}
.datepicker table td.day {
  height: 40px !important;
  line-height: 20px;
  width: 30px !important;
  /* background-color: #FFFFFF; */
  background-color: #ffffff;
  border-radius: 50%;
}
.time-slot-button {
  border: 1px solid #efebeb;
  border-radius: 5px;
  color: #4e4e4e;
  padding: 10px 20px 10px 20px;
  width: 100%;
    margin-top: 20px;
  background: #ffffff;
}
.time-slot-button-active {
  border: 1px solid #2c4c82 ;
  border-radius: 5px;
  color: #4e4e4e;
  padding: 10px 20px 10px 20px;
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
}
.time-slot-button-disabled{
  border: 1px solid #efebeb ;
  border-radius: 5px;
  color: #4e4e4e;
  padding: 10px 20px 10px 20px;
  width: 100%;
  margin-top: 20px;
  background: #cccccc;
  pointer-events: none;
}
.time-slot-button:hover {
  background: #ffffff;
}

.model-calander-head h1 {
  font-size: 26px;
  color: #ffffff;
  margin: 0px;
}
.model-calander-head h2 {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;
  margin: 0px;
}
.policy-time-edit {
  width: 18px;
  margin-left: 5px;
}
.model-text-border {
  border: 1px solid #707070 !important;
  border-radius: 5px !important;
}

.model-select {
  background: #fff;
  border: 1px solid;
  border-radius: 5px;
}

select.minimal {
  padding-left: 5px;
  border: 1px solid #707070 !important;
  border-radius: 5px !important;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 0px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-repeat: no-repeat;
  border-color: #707070;
  outline: 0;
}

.order-status {
  padding: 4px 5px;
  margin: 0 5px 10px 0;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  font-size: 13px;

  display: inline-block;
}

.other-media {
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 200;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1) !;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(0.3);
  }
  40% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0.6);
  }
  80% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
.up-animation {
  animation: growUp 300ms ease-in-out forwards;
  transform-origin: top center;
  display: block;
}



.bottom-card{
  display: none;
}


@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(0.7);
  }
  40% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0.4);
  }
  80% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0);
  }
}
@media only screen and (max-width: 1400px) {
  .vist-card-item-first {
   margin-right: 10px;
    flex: none;
}
.vist-card-item-second {
  flex: none;
}
  #evalution-note{
    font-size: 12px;
  }
  .agent-content-section2 p {
    font-size: 13px;
  }
  .agent-content-section1 ul li {
    font-size: 11px;
  }
  .time-text {
    font-size: 10px;
  }
  .section-detials-text {
    font-size: 10px;
  }
  .clean-section-card p {
    font-size: 9px;
  }
  .cleaning-status-container {
    font-size: 10px;
  }
  .order-agent-content h2 {
    font-size: 14px;
  }
  .order-agent-content h6 {
    font-size: 10px;
  }
  .order-header-class h2 {
    font-size: 20px;
  }
  .subscription-button {
    font-size: 12px;
  }
  .ticket-button {
    font-size: 12px;
  }
  .c-button-div {
    font-size: 12px;
  }
  .order-payment-section-card {
    font-size: 12px !important;
  }
  .cc-container {
    font-size: 12px;
  }
  .payment-text-order {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1280px) {
  .custmer-hide{
    display: none;
  }
  .full-width{
    width: 100% !important;
  }
  .bottom-card{
    display: block;
  }
}
@media only screen and (max-width: 950px) {
  .m-hide-div{
    display: none !important;
  }
  .bottom-card{
    display: none;
  }
  .custmer-hide{
    display: block;
  }
  .clean-team-profile-pic{
    width: 30%;
  }
  .model-time-solt {
    display: grid;
  }
  .media-gap {
    margin-right: 0px;
  }
  .modal-dialog {
    width: auto !important;
  }
  .m-mt10 {
    margin-top: 10px;
  }
  .m-mt20 {
    margin-top: 20px;
  }
  .m-mt30 {
    margin-top: 30px;
  }
  .m-p-25 {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .m-pr-25 {
    padding-right: 25px !important;
  }
  .m-pl-25 {
    padding-left: 25px !important;
  }
  .visti-section {
    padding: 0px;
  }

  .c-dropdown-content {
    padding-right: 0px;
    width: 96%;
  }
  .order-section-1 {
    max-height: none;
  }
  .order-details-left-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .order-header-class {
    text-align: center;
  }
  .order-agent-profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .order-agent-content h2 {
    text-align: center;
  }
  .order-agent-content h6 {
    text-align: center;
  }
  .c-mt-022 {
    margin-top: 0;
    left: 0;
  }
  .cleaning-status-card {
    /* margin-bottom: 10px; */
  }
  .c-pr0060 {
    padding-left: 0px;
  }
  .cleaning-status-row {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .vist-card-item-first {
    text-align: left;
  }
  .vist-card-item-second {
    text-align: left;
  }
  .vist-card-item-last {
    text-align: left;
  }
  .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }

  .testimonial-group > .row > .col-md-4 {
    display: inline-block;
    float: none;
  }
  .testimonial-group > .row::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .testimonial-group > .row {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .order-progress-section {
    overflow-x: auto;
    margin-right: 0px;
  }
}


.c-content-slider h3 {
  margin: 0;
  padding: 70px 0;
}

.c-ul{
  list-style: none outside none;
    padding-left: 0;
        margin: 0;
}
    .c-demo .c-item{
        margin-bottom: 60px;
    }
.c-content-slider li{
   
}
.contact-card-active{
  border: 4px solid var(--unnamed-color-2c4c82);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 4px solid #2C4C82;
border-radius: 8px;
padding:15px;
}
.contact-card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8B8B8B;
border-radius: 8px;
opacity: 1;
padding:15px;
}
.contact-card-text{
  color: #707070;
opacity: 1;
font-size:12px;
padding-top:10px;
}
.popup-title{
  color: #535353;
  font-size:18px;
  font-weight:500;
}
.contact-margin{
  margin-top: 20px;
    margin-bottom: 20px;
}
.contact-card-disabled{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8B8B8B;
  border-radius: 8px;
  
  padding:15px;
  opacity: 0.3;
  pointer-events: none !important;
}
.contact-checkbox{
  background: #ffffff !important;
    border: 1px solid #867878 !important;
    height:20px !important;
    width:20px !important;
}
.contact-checkbox:checked{
  background:#2C4C82 !important;
}
.contact-checkbox:checked::before{
  height: 20px !important;
    width: 20px !important;
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 20px !important;
}
.text-center{
  text-align: center !important;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.contact-card-icon{
  height: 70px;
}
#edit-dialog-tigger{
  display: none;
}
#edit-payment-tigger{
  display:none;
}
.mt-10{
  margin-top:10px;
}
.ml-10{
  margin-left:10px;
}
.mt-20{
  margin-top:20px;
}
.error-text{
  color:red;
}
.keynote-chip{
  border: 1px solid #2f4e85;
    padding: 6px;
    border-radius: 10px;
}
.keynote-delicon{
  margin-left: auto;
}
.multiselect__tag {
  background:#2f4e85 !important;
}
.multiselect__tag-icon:after {
 color:#ffffff;
}
.multiselect__option--highlight {
  background:#2f4e85 !important;
}
.multiselect__option--highlight {
  background:#2f4e85 !important; 
}
.multiselect__tag-icon:after {
  color:#ffffff !important;
}
.multiselect__tag-icon:hover{
  background:#2f4e85 !important;
}
.section-cost{
  background: #eeeeee;
    color: #2f4e85;
    border-left: 6px solid #2f4e85;
    font-size: 14px;
    padding: 5px;
    text-align: left;
    min-width: 200px;
    max-width: 400px;
    margin-top: 22px;
}
.section-cost-price{
  font-weight:500;
  font-size:28px;
  color: #2f4e85;
  padding: 7px;
}
.mx-auto{
  margin: auto;
}