{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "admin/common/header.html" %}

    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Welcome to Dashboard</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->
       
     <div class="main-card"><!--main-card-->
<div class="card-row"><!--card-row-->
            <div class="card-column whitebg blue-border"><!--card-column-->
                <div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-today-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Evaluations</h1>
                <h2 class="blue-text"><label>Today<span>{{today_enquiry_count}}</span></label> </h2>
                <p><label>This Week <span>{{week_enquiry_count}}</span></label></p>
                </div><!--column-right-->
                </div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
                <div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-cleaning-job-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Cleaning Jobs</h1>
                <h2 class="green-text"><label>Today<span>{{today_cleaning_job_count}}</span></label>  </h2>
                <p><label>This Week <span>{{week_cleaning_job_count}}</span></label></p>
                </div><!--column-right-->
                </div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg orange-border"><!--card-column-->
                <div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-followup-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Follow-up</h1>
                <h2 class="orange-text"><label>Today<span>{{today_follow_up_job_count}}</span></label> </h2>
                <p><label>This Week <span>{{week_follow_up_job_count}}</span></label></p>
                </div><!--column-right-->
                </div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg red-border"><!--card-column-->
                <div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-rating-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Rating</h1>
                <h2 class="red-text"><label>Today<span>{{today_average_feedback|floatformat:1}}</span></label> </h2>
                <p><label>This Week <span>{{week_average_feedback|floatformat:1}}</span></label></p>
                </div><!--column-right-->
                </div><!--card-innerwrapper-->
            </div><!--card-column-->
   </div><!--card-row-->
</div><!--main-card-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
          
     <div class="three-column-wrapper"><!--three-column-wrapper-->
            
            <div class="three-column column-one"><!--three-column column-one-->
            <h4>Sales on Types of locations</h4>
            <!-- <img src="{% static 'files/images/sales-location-chart.jpg' %}"> -->
                
                    <h4>Clients : <b id="clint2"></b></h4>
                      <input id="pfrom" class="date_pick date-picker set1" />
                    
                      <input id="pto" class="date_pick date-picker set1"/>

                
                <div id="donutchart1"></div>
            <div class="chart-btnWrapper"><input name="thismonth" type="button" class="blue-button" value="This Month" id="reset"></div>
            </div><!--three-column column-one-->
            
            <div class="three-column column-two"><!--three-column column-two-->
            <h4>Sales on Types of Cleaning</h4>
            <!-- <img src="{% static 'files/images/sales-types-chart.jpg' %}"> -->
            <div id="donutchart2"></div>
            <div class="chart-btnWrapper"><input name="thisweek" type="button" class="blue-button" value="This Week" id="thismonth"></div>
            </div><!--three-column column-two-->
            
            <div class="three-column column-three"><!--three-column column-three-->
            <h4>Sales on Governerates</h4>
            <!-- <img src="{% static 'files/images/sales-govermerates-chart.jpg' %}"> -->
            <div id="donutchart3"></div>
            <div class="chart-btnWrapper"><input name="thisweek" type="button" class="blue-button" value="This Week" id="thismonth"></div>
            </div><!--three-column column-three-->
          
     </div><!--three-column-wrapper-->
     
     <div class="two-column-wrapper"><!--two-column-wrapper-->
        <div class="two-column-items two-column-left-items"><!--two-column-items two-column-left-items-->
        <h2 class="h2">Sales targets</h2>
        
            <div class="bar-chart"><!--bar-chart-->
            
                <div class="bar-chart-items chart-column-one"><!--bar-chart-items chart-column-one-->
                    <img src="{% static 'files/images/profile.jpg' %}" class="sals-team-profile">
                </div><!--bar-chart-items chart-column-one-->
                
                <div class="bar-chart-items chart-column-two"><!--bar-chart-items chart-column-two-->
                    <div class="evaluator-name">Anna Strong</div>
                    <div class="designation">Evaluator</div>
                </div><!--bar-chart-items chart-column-two-->
                
                <div class="bar-chart-items chart-column-three"><!--bar-chart-items chart-column-three-->
                <div class="evaluator-name">80%</div>
                    <div class="bar-chart-graybg"><div class="chart-bluebg"></div></div>
                </div><!--bar-chart-items chart-column-three-->
                
                <div class="bar-chart-items chart-column-four"><!--bar-chart-items chart-column-four-->
                     <input name="Follow" type="button" class="follow" value="follow"> 
                </div><!--bar-chart-items chart-column-four-->
                
            </div><!--bar-chart-->
        
            <div class="bar-chart"><!--bar-chart-->
            
                <div class="bar-chart-items chart-column-one"><!--bar-chart-items chart-column-one-->
                    <img src="{% static 'files/images/profile.jpg' %}" class="sals-team-profile">
                </div><!--bar-chart-items chart-column-one-->
                
                <div class="bar-chart-items chart-column-two"><!--bar-chart-items chart-column-two-->
                    <div class="evaluator-name">Anna Strong</div>
                    <div class="designation">Evaluator</div>
                </div><!--bar-chart-items chart-column-two-->
                
                <div class="bar-chart-items chart-column-three"><!--bar-chart-items chart-column-three-->
                <div class="evaluator-name">60%</div>
                    <div class="bar-chart-graybg"><div class="chart-yellobg"></div></div>
                </div><!--bar-chart-items chart-column-three-->
                
                <div class="bar-chart-items chart-column-four"><!--bar-chart-items chart-column-four-->
                     <input name="Follow" type="button" class="follow" value="follow"> 
                </div><!--bar-chart-items chart-column-four-->
                
            </div><!--bar-chart-->
        
            <div class="bar-chart"><!--bar-chart-->
            
                <div class="bar-chart-items chart-column-one"><!--bar-chart-items chart-column-one-->
                    <img src="{% static 'files/images/profile.jpg' %}" class="sals-team-profile">
                </div><!--bar-chart-items chart-column-one-->
                
                <div class="bar-chart-items chart-column-two"><!--bar-chart-items chart-column-two-->
                    <div class="evaluator-name">Anna Strong</div>
                    <div class="designation">Evaluator</div>
                </div><!--bar-chart-items chart-column-two-->
                
                <div class="bar-chart-items chart-column-three"><!--bar-chart-items chart-column-three-->
                <div class="evaluator-name">90%</div>
                    <div class="bar-chart-graybg"><div class="chart-pinkbg"></div></div>
                </div><!--bar-chart-items chart-column-three-->
                
                <div class="bar-chart-items chart-column-four"><!--bar-chart-items chart-column-four-->
                     <input name="Follow" type="button" class="follow" value="follow"> 
                </div><!--bar-chart-items chart-column-four-->
                
            </div><!--bar-chart-->        
        
            <div class="bar-chart"><!--bar-chart-->
            
                <div class="bar-chart-items chart-column-one"><!--bar-chart-items chart-column-one-->
                    <img src="{% static 'files/images/profile.jpg' %}" class="sals-team-profile">
                </div><!--bar-chart-items chart-column-one-->
                
                <div class="bar-chart-items chart-column-two"><!--bar-chart-items chart-column-two-->
                    <div class="evaluator-name">Anna Strong</div>
                    <div class="designation">Evaluator</div>
                </div><!--bar-chart-items chart-column-two-->
                
                <div class="bar-chart-items chart-column-three"><!--bar-chart-items chart-column-three-->
                <div class="evaluator-name">80%</div>
                    <div class="bar-chart-graybg"><div class="chart-bluebg"></div></div>
                </div><!--bar-chart-items chart-column-three-->
                
                <div class="bar-chart-items chart-column-four"><!--bar-chart-items chart-column-four-->
                     <input name="Follow" type="button" class="follow" value="follow"> 
                </div><!--bar-chart-items chart-column-four-->
                
            </div><!--bar-chart-->
        
            <div class="bar-chart"><!--bar-chart-->
            
                <div class="bar-chart-items chart-column-one"><!--bar-chart-items chart-column-one-->
                    <img src="{% static 'files/images/profile.jpg' %}" class="sals-team-profile">
                </div><!--bar-chart-items chart-column-one-->
                
                <div class="bar-chart-items chart-column-two"><!--bar-chart-items chart-column-two-->
                    <div class="evaluator-name">Anna Strong</div>
                    <div class="designation">Evaluator</div>
                </div><!--bar-chart-items chart-column-two-->
                
                <div class="bar-chart-items chart-column-three"><!--bar-chart-items chart-column-three-->
                <div class="evaluator-name">60%</div>
                    <div class="bar-chart-graybg"><div class="chart-yellobg"></div></div>
                </div><!--bar-chart-items chart-column-three-->
                
                <div class="bar-chart-items chart-column-four"><!--bar-chart-items chart-column-four-->
                     <input name="Follow" type="button" class="follow" value="follow"> 
                </div><!--bar-chart-items chart-column-four-->
                
            </div><!--bar-chart-->
        
            <div class="bar-chart"><!--bar-chart-->
            
                <div class="bar-chart-items chart-column-one"><!--bar-chart-items chart-column-one-->
                    <img src="{% static 'files/images/profile.jpg' %}" class="sals-team-profile">
                </div><!--bar-chart-items chart-column-one-->
                
                <div class="bar-chart-items chart-column-two"><!--bar-chart-items chart-column-two-->
                    <div class="evaluator-name">Anna Strong</div>
                    <div class="designation">Evaluator</div>
                </div><!--bar-chart-items chart-column-two-->
                
                <div class="bar-chart-items chart-column-three"><!--bar-chart-items chart-column-three-->
                <div class="evaluator-name">90%</div>
                    <div class="bar-chart-graybg"><div class="chart-pinkbg"></div></div>
                </div><!--bar-chart-items chart-column-three-->
                
                <div class="bar-chart-items chart-column-four"><!--bar-chart-items chart-column-four-->
                     <input name="Follow" type="button" class="follow" value="follow"> 
                </div><!--bar-chart-items chart-column-four-->
                
            </div><!--bar-chart-->   
        
        
        <div class="chart-btnWrapper"><input name="today" type="button" class="blue-button" value="Today" id="today"></div>
        </div><!--two-column-items two-column-left-items-->
        {% comment %} <div class="two-column-items two-column-right-items"><!--two-column-items two-column-right-items-->
        <!-- <img src="{% static 'files/images/sales-chart.jpg' %}"> -->
        <select id="daym">
            <option value="day" >Day</option>
            <option value="month" selected>Month</option>
        </select>
          <input id="from" class="date_pick date-picker set1" hidden="true"/>
          <input id="to" class="date_pick date-picker set1" hidden="true"/>
    
          <div class="ui calendar" id="example7" >
            <div class="ui input left icon">
              <i class="time icon"></i>
              <input type="text" id="month1" class="set2" value="{{mfrom}}">
            </div>
          </div>
    
          <div class="ui calendar" id="example8" >
            <div class="ui input left icon">
              <i class="time icon"></i>
              <input type="text" id="month2" class="set2" value="{{mto}}">
            </div>
          </div>
    
          <button type="button" id="mnt_btn" class="set2" >Update</button>
          <!-- <input type="text" id="month" name="month" class="monthPicker set2" />
          <input type="text" id="month2" name="month2" class="monthPicker set2" /> -->
    
          <button id="reset" class="blue-button">This Month</button>
          <h3>Sales Total : <b id="total_sales"></b></h3> 
    
          <div id="curve_chart"></div>
        </div><!--two-column-items two-column-right-items--> {% endcomment %}


        <div class="clients-card-column clients-column-right whitebg hover ltyellow-border"><!--clients-card-column clients-column-right-->
                 
		<div class="chart_boxDiv"><!--chart_boxDiv-->
  			<div class="chart_box_Right"><!--chart_box_Right-->
 				<!-- <button type="button" id="mnt_btn" class="set2" >Update</button> -->
            	<div id="curve_chart" ></div>
  			</div><!--chart_box_Right-->
		</div><!--chart_boxDiv-->   
            
        <div class="chart_boxDiv"><!--chart_boxDiv-->    
        
         <div class="chart_box_Left"><!--chart_box_Left-->
         <div class="legend-wrapper"><!--legend-wrapper--> 
            <div class="legend-result count_div"><label class="legend-label">Submitted </label> <b class="legend-result-blue" id="total_submitted"></b></div>
            <div class="legend-result count_div"><label class="legend-label">Approved </label> <b class="legend-result-red" id="total_approved"></b></div>
         </div><!--legend-wrapper-->
  		</div><!--chart_box_Left-->
        <div class="chart_box_Left"><!--chart_box_Left-->        
        <div class="Button_wrapperChart">
            <div class="blue-sliderbutton"><label class="switch"><input type="checkbox" id="daym"><div class="slider round"><span class="on">DATE</span><span class="off">MONTH</span></div></label></div>
            <input type="text" id="from" class="date_pick date_pick2 date-picker set1 date-pick-left" value={{investigation_date|date:"d-m-Y"}} >
            <input type="text" id="to" class="date_pick date_pick2 date-picker set1 date-pick-right" value={{investigation_date|date:"d-m-Y"}} >
            <div><button id="reset" class="green-button-chart">Reset</button></div>
            </div>
            <div class="ui calendar set2" id="monthpicker1" >
              <div class="ui input left icon">
                <input type="text" id="month1" class="set2" >
              </div>
            </div>

            <div class="ui calendar set2" id="monthpicker2"  >
              <div class="ui input left icon">
                <input type="text" id="month2" class="set2" >
              </div>
            </div>	           
        </div><!--chart_box_Left-->
            
        </div><!--chart_boxDiv-->    
            
        </div><!--lients-card-column clients-column-right-->
     
     
     </div><!--two-column-wrapper-->    

{% if evaluation_details %}             
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Evaluation Callender</h2>
<div class="date-wrapper"><!--date-wrapper-->
            <div class="date-wrapper-inner"><!--date-wrapper-inner-->
            <button class="prev-day previous-button"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
            <input type="text" id="evaluation_calendar" value="{{evaluation_date|date:"d-m-Y"}}" onchange="set_params_go();" class="date-box date_pick">
            <button class='next-day next-button' ><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <button class='today-date current-date'>Today</button>
            </div><!--date-wrapper-inner-->
</div><!--date-wrapper-->
<div id="table-scroll" class="table-scroll"><!--table-scroll-->
<div class="table-wrap"><!--table-wrap-->
<table class="eval-table">
<thead>
<tr>
<th  bgcolor="#eee"  width="4.54%" class="fixed-side padding" scope="col">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">08 AM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">09 AM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">10 AM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">11 AM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">12 PM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">01 PM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">02 PM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">03 PM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">04 PM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">05 PM</th>
<th class="theadbg" width="4.54%">&nbsp;</th>
<th class="theadbg" width="4.54%" scope="col">06 PM</th>
</tr>
</thead>
<tbody>
{% for evaluator in evaluation_details %}
<tr class="clickable-row" id="evaluator{{evaluator.id}}" data-href='#'>
<th width="4.54%" bgcolor="#eee" class="fixed-side"><img {% if evaluator.profile_image %} src="{{evaluator.profile_image.url}}" {% else %} src="{% static 'files/images/profile-pic.jpg' %}" {% endif %} class="profile-avtar profile-avatar"></th>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--table-wrap-->
</div><!--table-scroll-->
</div><!--white-wrapper-->
{% endif %}

<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Cleaning Callender</h2>
<div class="date-wrapper"><!--date-wrapper-->
            <div class="date-wrapper-inner"><!--date-wrapper-inner-->
            <button class="prev-day previous-button"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
            <input type="text" id="cleaning_calendar" value="{{schedule_date|date:"d-m-Y"}}" onchange="set_params_go();" class="date-box date_pick">
            <button class='next-day next-button' ><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <button class='today-date current-date'>Today</button>
            </div><!--date-wrapper-inner-->
</div><!--date-wrapper-->
<div class="cleaning-container"><!--cleaning-container-->
<div class="scrollable"><!--scrollable-->
<div>
  <table id="cleaning_table" cellpadding="1" cellspacing="1" class="cleaning-table">
  <tr>
  <th width="4.166%" colspan="2"> </th>
    <th width="8.333%" colspan="2">2 AM</th>
    <th width="8.333%" colspan="2">4 AM</th>
    <th width="8.333%" colspan="2">6 AM</th>
    <th width="8.333%" colspan="2">8 AM</th>
    <th width="8.333%" colspan="2">10 AM</th>
    <th width="8.333%" colspan="2">12 PM</th>
    <th width="8.333%" colspan="2">2 PM</th>
    <th width="8.333%" colspan="2">4 PM</th>
    <th width="8.333%" colspan="2">6 PM</th>
    <th width="8.333%" colspan="2">8 PM</th>
    <th width="8.333%" colspan="2">10 PM</th>
    <th width="4.166%" colspan="2"></th>
  </tr>
  </table>
</div>
</div><!--scrollable-->
</div><!--cleaning-container-->
</div><!--white-wrapper-->            
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'admin/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src="{% static 'files/js/charts/sales-pie-charts.js' %}"></script>
<script type="text/javascript">
$('document').ready(function(){
    //Evaluation Callender
        {% for evaluator in evaluation_details %}
            
            {% if evaluator.evaluation_details %}
                $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            
                evaluator_timings_list =[]
                {% for evaluation in evaluator.evaluation_details %}
                    proposed_timing_string      = '{{evaluation.proposed_time|date:'H'}}';
                    proposed_timing             = parseInt(proposed_timing_string)
                    evaluator_timings_list.push(proposed_timing);
                {% endfor %}
                for(i=8;i<=17;i++)
                {
                    if(evaluator_timings_list.includes(i))
                    {
                        same_slote_count = 0
                        {% for evaluation in evaluator.evaluation_details %}
                            proposed_timing_string      = '{{evaluation.proposed_time|date:'H'}}';
                            proposed_timing             = parseInt(proposed_timing_string)
                        
                        if(i == proposed_timing)
                            {
                              same_slote_count += 1
                              if(same_slote_count == 1)
                              {
                                $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">{{evaluation.address.area.name}}</a></td>');
                              }
                              else
                              {
                                $("#evaluator{{evaluator.id}} td:last").append('<br><a href="#">{{evaluation.address.area.name}}</a>');
                              }  
                              
                            }
                            

                        {% endfor %}
                
                    }
                    else
                    {
                      $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">----</a></td>');  
                    }
                    $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
                }    
            {% else %}
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">-----</a></td>');
            $("#evaluator{{evaluator.id}}").append('<td width="4.54%"><a href="#">&nbsp;</a></td>');
            {% endif %}

        {% endfor %}    



    //Function Used For Cleaning Calender    
    function isArrayInArrayOverlap(source,search)
    {   count1=1;
        count2=1;


        for(var i=0,len=source.length;i<len;i++)
        {
            if(source[i][0]>=search[0] && source[i][0] >= search[1])
            {
                count1++;
            }
            if(source[i][1]<=search[0] && source[i][1] >= search[1])
            {
                count2++;
            }
        
        }
        if(count1==source.length || count2 == source.length)
        {
            return true;
            }
        else{
            return false;
        }    
        }


      //To add cleaning schedules in cleaning calender  
      completed_calender = []; 
      {% for old_schedule in calendar_order_schedules %} 
            old_starting_time_string      = '{{old_schedule.start_at|date:'H:i'}}'.replace(":",".");
            old_ending_time_string        = '{{old_schedule.end_at|date:'H:i'}}'.replace(":",".");

            old_starting_time             = parseInt(old_starting_time_string.split('.')[0])+parseInt(old_starting_time_string.split('.')[1])/60
            old_ending_time               = parseInt(old_ending_time_string.split('.')[0])+parseInt(
                old_ending_time_string.split('.')[1])/60
            
            current_raw_timings = []
            {% for schedule in calendar_order_schedules %}
                starting_time_string      = '{{schedule.start_at|date:'H:i'}}'.replace(":",".");
                ending_time_string        = '{{schedule.end_at|date:'H:i'}}'.replace(":",".");

                starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
                ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
                    ending_time_string.split('.')[1])/60
                if(completed_calender.includes('{{forloop.counter}}'))
                {
                    console.log("includes");
                }
                else
                {
                if(old_starting_time_string>=starting_time && old_starting_time_string>=ending_time && (isArrayInArrayOverlap(current_raw_timings,[starting_time,ending_time])==true)||(current_raw_timings.length==0)||old_ending_time_string<=starting_time && old_ending_time_string<=ending_time && (isArrayInArrayOverlap(current_raw_timings,[starting_time,ending_time])==true)||(current_raw_timings.length==0))
                    {
                        completed_calender.push('{{forloop.counter}}');
                        current_raw_timings.push([starting_time,ending_time]);
                        //append raw
                        if(current_raw_timings.length==1)
                        {
                            left_percentage  = 100/24*starting_time
                            
                            if(ending_time == 0)
                            {
                              width_percentage = 100/24*24-100/24*starting_time;
                            }
                            else
                            {
                              width_percentage = 100/24*ending_time-100/24*starting_time;
                            }
                            
                            $('#cleaning_table').append('<tr><td  colspan="26"><div id="cleaningschedule{{schedule.id}}" {% if schedule.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %}class="blue-box"{% else %}class="green-box"{% endif %} style="width:'+width_percentage+'%;left:'+left_percentage+'%;"><div class="left-avatar"><img {% if schedule.evaluation_details.evaluator.profile_image %}src="{{schedule.evaluation_details.evaluator.profile_image.url}}" {% else %}src="{% static 'files/images/profile-pic.jpg' %}"{% endif %}></div><center>{{schedule.customer_address.area}}</center> <div {% if schedule.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %}class="right-value blue-text"{% else %}class="right-value green-text"{% endif %}>{{schedule.evaluation_details.number_of_cleaners}}</div></div></td></tr>')
                        }
                        //append td to the raw 
                        else
                        { 
                           left_percentage  = 100/24*starting_time
                           
                           if(ending_time == 0)
                            {
                              width_percentage = 100/24*24-100/24*starting_time;
                            }
                            else
                            {
                              width_percentage = 100/24*ending_time-100/24*starting_time;
                            } 
                          
                            $('#cleaning_table tr:last td').append('<div id="cleaningschedule{{schedule.id}}" {% if schedule.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %}class="blue-box"{% else %}class="green-box"{% endif %} style="width:'+width_percentage+'%;left:'+left_percentage+'%;"><div class="left-avatar"><img {% if schedule.evaluation_details.evaluator.profile_image %}src="{{schedule.evaluation_details.evaluator.profile_image.url}}" {% else %}src="{% static 'files/images/profile-pic.jpg' %}"{% endif %}></div><center>{{schedule.customer_address.area}}</center> <div {% if schedule.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %}class="right-value blue-text"{% else %}class="right-value green-text"{% endif %}>{{schedule.evaluation_details.number_of_cleaners}}</div></div>')      
                        }
                    }
                }
            {% endfor %}        

       {% endfor %}

       //for special cases like 2 days cleanings
       {% for sp_schedule in sp_calendar_order_schedules %}
       starting_time_string      = '{{sp_schedule.start_at|date:'H:i'}}'.replace(":",".");
       ending_time_string        = '{{sp_schedule.end_at|date:'H:i'}}'.replace(":",".");
       
       starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
       ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
            ending_time_string.split('.')[1])/60

       first_raw_left_percentage   = 100/24*starting_time
       first_raw_width_percentage  = 100-100/24*starting_time

       second_raw_left_percentage  = 0
       second_raw_width_percentage = 100/24*ending_time;


       $('#cleaning_table').append('<tr><td  colspan="26"><div id="cleaningschedule{{sp_schedule.id}}" {% if sp_schedule.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %}class="sp-blue-box-first"{% else %}class="sp-green-box-first"{% endif %} style="width:'+first_raw_width_percentage+'%;left:'+first_raw_left_percentage+'%;"><div class="left-avatar"><img {% if sp_schedule.evaluation_details.evaluator.profile_image %} src="{{sp_schedule.evaluation_details.evaluator.profile_image.url}}" {% else %}src="{% static 'files/images/profile-pic.jpg' %}"{% endif %}></div><center>{{sp_schedule.customer_address.area}}</center> </div></td></tr>')

       {% endfor %}


       //for special cases like 2 days cleanings
       {% for spp_schedule in spp_calendar_order_schedules %}
       starting_time_string      = '{{spp_schedule.start_at|date:'H:i'}}'.replace(":",".");
       ending_time_string        = '{{spp_schedule.end_at|date:'H:i'}}'.replace(":",".");
       
       starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
       ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
            ending_time_string.split('.')[1])/60

       first_raw_left_percentage   = 100/24*starting_time
       first_raw_width_percentage  = 100-100/24*starting_time

       second_raw_left_percentage  = 0
       second_raw_width_percentage = 100/24*ending_time;


       $('#cleaning_table').append('<tr><td  colspan="26"><div id="cleaningschedule{{spp_schedule.id}}" {% if spp_schedule.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %}class="sp-blue-box-second"{% else %}class="sp-green-box-second"{% endif %} style="width:'+second_raw_width_percentage+'%;left:'+second_raw_left_percentage+'%;"><div {% if spp_schedule.order_scheduler_book.cleaning_policy == "ONE TIME SERVICE" %}class="right-value blue-text"{% else %}class="right-value green-text"{% endif %}>{{spp_schedule.evaluation_details.number_of_cleaners}}</div></div></td></tr>')
       
       {% endfor %}


      //To add followup schedules in cleaning calender  
      completed_calender_followup = []; 
      {% for old_schedule in calendar_followup_schedules %} 
            old_starting_time_string      = '{{old_schedule.start_at|date:'H:i'}}'.replace(":",".");
            old_ending_time_string        = '{{old_schedule.end_at|date:'H:i'}}'.replace(":",".");

            old_starting_time             = parseInt(old_starting_time_string.split('.')[0])+parseInt(old_starting_time_string.split('.')[1])/60
            old_ending_time               = parseInt(old_ending_time_string.split('.')[0])+parseInt(
                old_ending_time_string.split('.')[1])/60
            
            current_raw_timings = []
            {% for schedule in calendar_followup_schedules %}
                starting_time_string      = '{{schedule.start_at|date:'H:i'}}'.replace(":",".");
                ending_time_string        = '{{schedule.end_at|date:'H:i'}}'.replace(":",".");

                starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
                ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
                    ending_time_string.split('.')[1])/60
                if(completed_calender_followup.includes('{{forloop.counter}}'))
                {
                    console.log("includes");
                }
                else
                {
                if(old_starting_time_string>=starting_time && old_starting_time_string>=ending_time && (isArrayInArrayOverlap(current_raw_timings,[starting_time,ending_time])==true)||(current_raw_timings.length==0)||old_ending_time_string<=starting_time && old_ending_time_string<=ending_time && (isArrayInArrayOverlap(current_raw_timings,[starting_time,ending_time])==true)||(current_raw_timings.length==0))
                    {
                        completed_calender_followup.push('{{forloop.counter}}');
                        current_raw_timings.push([starting_time,ending_time]);
                        //append raw
                        if(current_raw_timings.length==1)
                        {
                            left_percentage  = 100/24*starting_time
                            
                            if(ending_time == 0)
                            {
                              width_percentage = 100/24*24-100/24*starting_time;
                            }
                            else
                            {
                              width_percentage = 100/24*ending_time-100/24*starting_time;
                            }
                            
                            $('#cleaning_table').append('<tr><td  colspan="26"><div id="followupschedule{{schedule.id}}" class="yellow-box" style="width:'+width_percentage+'%;left:'+left_percentage+'%;"><div class="left-avatar"><img {% if schedule.follow_up.investigation.investigator.profile_image %}src="{{schedule.follow_up.investigation.investigator.profile_image.url}}"{% else %}src="{% static 'files/images/profile-pic.jpg' %}{% endif %}></div><center>{{schedule.customer_address.area}}</center> <div class="right-value yellow-text">{{schedule.follow_up.investigation.order_schedule.evaluation_details.number_of_cleaners}}</div></div></td></tr>')
                        }
                        //append td to the raw 
                        else
                        { 
                           left_percentage  = 100/24*starting_time
                           
                           if(ending_time == 0)
                            {
                              width_percentage = 100/24*24-100/24*starting_time;
                            }
                            else
                            {
                              width_percentage = 100/24*ending_time-100/24*starting_time;
                            } 
                          
                            $('#cleaning_table tr:last td').append('<div id="followupschedule{{schedule.id}}" class="yellow-box" style="width:'+width_percentage+'%;left:'+left_percentage+'%;"><div class="left-avatar"><img {% if schedule.follow_up.investigation.investigator.profile_image %}src="{{schedule.follow_up.investigation.investigator.profile_image.url}}"{% else %}src="{% static 'files/images/profile-pic.jpg' %}{% endif %}></div><center>{{schedule.customer_address.area}}</center> <div class="right-value yellow-text">{{schedule.follow_up.investigation.order_schedule.evaluation_details.number_of_cleaners}}</div></div>')      
                        }
                    }
                }
            {% endfor %}        

       {% endfor %}

       //for special cases like 2 days fllowup cleanings
       {% for sp_schedule in sp_calendar_followup_schedules %}
       starting_time_string      = '{{sp_schedule.start_at|date:'H:i'}}'.replace(":",".");
       ending_time_string        = '{{sp_schedule.end_at|date:'H:i'}}'.replace(":",".");
       
       starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
       ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
            ending_time_string.split('.')[1])/60

       first_raw_left_percentage   = 100/24*starting_time
       first_raw_width_percentage  = 100-100/24*starting_time

       second_raw_left_percentage  = 0
       second_raw_width_percentage = 100/24*ending_time;


       $('#cleaning_table').append('<tr><td  colspan="26"><div id="followupschedule{{sp_schedule.id}}" class="sp-yellow-box-first" style="width:'+first_raw_width_percentage+'%;left:'+first_raw_left_percentage+'%;"><div class="left-avatar"><img {% if sp_schedule.follow_up.investigation.investigator.profile_image %}src="{{sp_schedule.follow_up.investigation.investigator.profile_image.url}}"{% else %}src="{% static 'files/images/profile-pic.jpg' %}{% endif %}></div><center>{{sp_schedule.customer_address.area}}</center> </div></td></tr>')
       
       {% endfor %}


       //for special cases like 2 days fllowup cleanings
       {% for spp_schedule in spp_calendar_followup_schedules %}
       starting_time_string      = '{{spp_schedule.start_at|date:'H:i'}}'.replace(":",".");
       ending_time_string        = '{{spp_schedule.end_at|date:'H:i'}}'.replace(":",".");
       
       starting_time             = parseInt(starting_time_string.split('.')[0])+parseInt(starting_time_string.split('.')[1])/60
       ending_time               = parseInt(ending_time_string.split('.')[0])+parseInt(
            ending_time_string.split('.')[1])/60

       first_raw_left_percentage   = 100/24*starting_time
       first_raw_width_percentage  = 100-100/24*starting_time

       second_raw_left_percentage  = 0
       second_raw_width_percentage = 100/24*ending_time;


       $('#cleaning_table').append('<tr><td  colspan="26"><div id="followupschedule{{spp_schedule.id}}" class="sp-yellow-box-second" style="width:'+second_raw_width_percentage+'%;left:'+second_raw_left_percentage+'%;"><div class="right-value yellow-text">{{spp_schedule.follow_up.investigation.order_schedule.evaluation_details.number_of_cleaners}}</div></div></td></tr>')
       
       {% endfor %}

});

function set_params_go(args)
{
var url='{% url 'bleach_admin:admindash-board' %}';
var params={cleaning_calendar_date:$('#cleaning_calendar').val(),evaluation_calendar_date:$('#evaluation_calendar').val(),
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}

</script>
{% endblock %}


