{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- External styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'files/externalfiles/plugins/OwlCarousel2/dist/assets/owl.carousel.css' %}">
<link rel="stylesheet"
  href="{% static 'files/externalfiles/plugins/OwlCarousel2/dist/assets/owl.theme.default.min.css' %}">
<!-- Booking CSS (same as booking.html) -->
<link rel="stylesheet" href="{% static 'files/css/booking/booking.css' %}">

<style>
  [v-cloak] {
    display: none !important;
  }
</style>

<div id="app" v-cloak>
  <v-app>
    <div class="wrapper">

      <!-- Payment Tag -->
      <div class="payment-tag">
        <i class="fas fa-shopping-cart mr-10"></i>
        <span class="ml-2 payment-tag-text">0 KD</span>
      </div>

      <!-- Header (static include like booking.html) -->
      {% include "evaluator/common/header.html" %}

      <section class="content">
        <div class="container-fluid space">
          <div class="welcome-wrapper">
            <h1 class="dashboard-head">Booking</h1>
          </div>
        </div>

        <div class="booking-container">
          <div class="white-wrapper booking-card">
            <div class="container">

              <!-- Tabs -->
              <div class="d-flex sr-tabs">
                <div class="p-3 sr-tab" v-bind:class="{ 'sr-tab-active': activeTabs.service }"
                  @click="activeTabs.service = true; activeTabs.cart = false">Services</div>
                <div class="p-3 sr-tab" v-bind:class="{ 'sr-tab-active': activeTabs.cart }"
                  @click="activeTabs.cart = true; activeTabs.service = false">Cart</div>
              </div>

              <!-- CATEGORY -->
              <h5 class="pt-4">Category</h5>
              <div class="d-flex gap-3">
                <div class="owl-carousel" id="category-carousel" v-if="activeTabs.service">
                  <div class="sr-service-card" v-for="service in serviceGroups" :key="service.id"
                    @click="selectServiceGroup(service.id)"
                    :class="{'sr-service-card-active': activeTabs.activeServiceGroupId === service.id}">
                    <i
                      :class="activeTabs.activeServiceGroupId === service.id ? 'fa fa-check-circle active-icon' : 'far fa-circle inactive-icon'"></i>
                    <img :src="`https://my.bleachkw.com${mediaUrl}${service.image_path}`" class="service-icon">
                    <div class="text-center pt-2 service-title" v-text="service.service_name"></div>
                  </div>
                </div>

              </div>

              <!-- SERVICE TYPE -->
              <h5 class="pt-4">Service Type</h5>
              <div class="d-flex gap-3">
                <div class="owl-carousel" id="service-carousel" :key="activeTabs.activeServiceGroupId"
                  v-if="filteredServiceTypes.length > 0">

                  <div class="sr-service-card m-2 p-2 service-one" v-for="type in filteredServiceTypes" :key="type.id"
                    @click="selectServiceType(type.id)"
                    :class="{'sr-service-card-active': activeTabs.activeServiceTypeId === type.id}">

                    <i :class="activeTabs.activeServiceTypeId === type.id
                        ? 'fa fa-check-circle active-icon'
                        : 'far fa-circle inactive-icon'"></i>

                    <img src="/static/files/icons/booking/icons/detailed_cleaning.png" class="service-icon">

                    <div class="text-center pt-2 service-title" v-text="type.name"></div>
                  </div>

                </div>
              </div>


              <!-- LOCATION -->
              <h5 class="pt-4">What's your place like?</h5>

              <div class="row">
                <div class="col-md-4" v-if="showLocationTypeDropdown">
                  <v-select v-model="selectedLocationType" :items="allowedLocationTypes" label="Location Type">
                  </v-select>
                </div>
                <div class="col-md-4">
                  <v-select v-model="selectedAreaType" :items="areaTypes" item-text="text" item-value="value"
                    label="Area Type">
                  </v-select>
                </div>
                <div class="col-md-4">
                  <v-select v-model="selectedNoOfBuildings" :items="buildingNumbers" label="No of Building">
                  </v-select>
                </div>
              </div>

              <!-- BUILDING -->
              <div class="mt-4" v-if="selectedNoOfBuildings">
                <v-tabs v-model="tab">
                  <v-tab v-for="building in buildingTabs" :key="building">
                    [[ building ]]
                  </v-tab>
                </v-tabs>
                <v-tabs-items v-model="tab">
                  <v-tab-item v-for="building in buildingTabs" :key="building">
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <v-select v-model="selectedNoOfFloors" :items="floorNumbers" label="No of Floors">
                        </v-select>
                      </div>
                    </div>
                  </v-tab-item>
                </v-tabs-items>
              </div>

              <!-- FLOOR DETAILS -->
              <div v-if="selectedNoOfFloors">
                <div v-for="floorIndex in Array.from({length: selectedNoOfFloors}, (_, i) => i + 1)" :key="floorIndex" class="floor-section mt-4">
                  <v-stepper>
                    <div class="p-4">
                      <h5 class="pt-4">Floor [[ floorIndex ]] Details</h5>
                      <div class="row g-4">
                      <div class="col-md-12">
                        <v-radio-group row>
                          <div>Any Apartments ? <span style="color:red">*</span></div>
                          <v-radio :value="true" class="ml-2">
                            <template v-slot:label>
                              <div>
                                Yes<strong class="success--text"></strong>
                              </div>
                            </template>
                          </v-radio>
                          <v-radio :value="false">
                            <template v-slot:label>
                              <div>
                                No
                                <strong class="primary--text"></strong>
                              </div>
                            </template>
                          </v-radio>
                        </v-radio-group>
                      </div>
                      <div class="col-md-12">
                        <div class="col-md-4 p-0">
                          <v-select label="No of Apartments"></v-select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <v-select label="Size"></v-select>
                      </div>

                      <div class="col-md-4">
                        <v-select label="Wall type"></v-select>
                      </div>

                      <div class="col-md-4">
                        <v-select label="Floor type"></v-select>
                      </div>

                      <div class="col-md-4">
                        <v-select label="Ceiling type"></v-select>
                      </div>

                      <div class="col-md-4">
                        <v-select label="No of rooms"></v-select>
                      </div>

                      <div class="col-md-4">
                        <v-select label="No of bathrooms"></v-select>
                      </div>

                      <div class="col-md-4">
                        <v-select label="No of windows"></v-select>
                      </div>

                      <div class="col-md-6">
                        <div class="d-flex ">
                          <div style="margin-top: 16px; padding-top: 4px;">Do you want to clean your Kitchen ? <span
                              style="color:red">*</span></div>
                          <v-radio-group row>
                            <v-radio :value="true" class="ml-2">
                              <template v-slot:label>
                                <div>
                                  Yes<strong class="success--text"></strong>
                                </div>
                              </template>
                            </v-radio>
                            <v-radio :value="false">
                              <template v-slot:label>
                                <div>
                                  No
                                  <strong class="primary--text"></strong>
                                </div>
                              </template>
                            </v-radio>
                          </v-radio-group>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <h5 class="pt-4">Kichen Details</h5>
                        <div class="col-md-12">
                          <div class="row kitchen-box p-4">

                            <div class="col-md-12 d-flex">
                              <div style="margin-top: 16px; padding-top: 4px;">Do you want to clean the Cabinet ? <span
                                  style="color:red">*</span></div>
                              <v-radio-group class="p-2" row>
                                <v-radio :value="true">
                                  <template v-slot:label>
                                    <div>Yes<strong class="success--text"></strong></div>
                                  </template>
                                </v-radio>
                                <v-radio :value="false">
                                  <template v-slot:label>
                                    <div>No <strong class="primary--text"></strong></div>
                                  </template>
                                </v-radio>
                              </v-radio-group>
                            </div>

                            <div class="col-md-12 d-flex">
                              <v-radio-group row required>
                                <v-radio label="Used Kitchen" value="old"></v-radio>
                                <v-radio label="New Kitchen" value="new"></v-radio>
                              </v-radio-group>
                            </div>

                            <div class="col-md-6">
                              <v-select label="Size"></v-select>
                            </div>

                            <div class="col-md-6">
                              <div class="d-flex">
                                <div style="margin-top: 16px; padding-top: 4px;">Oil Residue? <span
                                    style="color:red">*</span></div>
                                <v-radio-group class="p-2" row>
                                  <v-radio :value="true">
                                    <template v-slot:label>
                                      <div>Yes<strong class="success--text"></strong></div>
                                    </template>
                                  </v-radio>
                                  <v-radio :value="false">
                                    <template v-slot:label>
                                      <div>No <strong class="primary--text"></strong></div>
                                    </template>
                                  </v-radio>
                                </v-radio-group>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <h5 class="pt-4">Add Notes</h5>
                              <div class="row g-4">
                                <div class="col-md-4">
                                  <v-select label="Field Name"></v-select>
                                </div>

                                <div class="col-md-4">
                                  <v-select label="value"></v-select>
                                </div>

                                <div class="text-center mt-4">
                                  <button class="btn btn-primary px-5">Add</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-stepper>

                  <div class="p-4">
                    <div class="col-md-12">
                      <div class="text-center mt-4">
                        <button class="btn btn-primary px-5">Continue</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- IMAGES -->
              <h5 class="pt-4">Add Images</h5>
              <div class="addImg">
                <div class="item_image">
                  <i class="fa fa-plus ImageIcon"></i>
                </div>
              </div>

              <!-- NOTES -->
              <div>
                <div class="col-md-12">
                  <v-textarea name="input-7-1" label="Notes"
                    hint="Do you any other projects or contracts on same location ?  Please mention if you have any specific request.">
                  </v-textarea>
                </div>
              </div>

              <!-- BUTTON -->
              <div class="text-center mt-4">
                <button class="btn btn-primary px-5">Proceed</button>
              </div>

            </div>
          </div>
        </div>

      </section>

      {% include "evaluator/common/footer.html" %}
    </div>
  </v-app>
</div>

<!-- Vue.js and required scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'files/externalfiles/plugins/OwlCarousel2/dist/owl.carousel.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
  integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.13/dist/browser-image-compression.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="{% static 'files/js/booking/staging-booking.js' %}"></script>

{% endblock %}