{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "agent/common/header.html" %}

<section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Enquiry</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->       
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Enquiry Form</h2>
          <div>
            <label>Search Client</label>
              <select name="client" class="chosen-select" id="client_id">
                    <option value="">-- select --</option>
                    {% for customer in customer_info %}
                    <option value="{{customer.id}}">{{customer.name}}-{{customer.mobile_number}}</option> {% endfor %}
              </select>
            <button type="button" class="fa fa-search" onclick="set_parameters_go()" aria-hidden="true"></button> 
          </div>

  <div class="row">

    <div class="col-12"> 

      <div class="page-form">

        <form method="post" action="" enctype= "multipart/form-data">{% csrf_token %}

         <div class="page-form-head">

           <h1>New Enquiry</h1>

         </div>

         <div class="page-body">

          {% for field in enquiry_form %} 

          <div class="page-col">

           {{ field.errors }} 

           {{ field.label_tag }} {{ field }}

          <p class="help">{{ field.help_text|safe }}</p>

          </div>

          {% endfor %}


         {{ address_formset.management_form }}

         {% for form in address_formset %}

          <div class="div-section">

            <div class="div-section-head">

              <h1>Customer Address</h1>  

             </div>

            <div class="link_formset">    

              {% for field in form %}

              <div class="page-col">

                {{ field.errors }}    

                {{ field.label_tag }} {{ field }}

                {% if field.help_text %}

                <p class="help">{{ field.help_text|safe }}</p>

                {% endif %}

             </div>

             {% endfor %}

          </div>

        </div>

      {% endfor %}

</div>
<div class="page-footer text-center">
  
            <button type="button" class="primary-btn" onclick="submitAnyForm(this);">Assign Evaluator</button>
            <button type="button" class="primary-btn" href="#">Make Quatation</button>

</div>
</form>
</div>
</div>
</div>



</div><!--white-wrapper-->      
             
            
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'agent/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script>
var x=0;
var ajax_ret_areas; 

$('document').ready(function(){
//formset
    $('.link_formset').formset({

        addText: 'Add Address',

        deleteText: 'Remove Address', 

        added: add_row,

        removed: remove_row,

    });


function add_row()

     {

      x++;
      $("#id_form-"+x+"-area").empty();
    }


function remove_row()

     {

       x--;

     }

$("#id_form-"+x+"-area").empty();    

});

//Append area for governorate change

$(".governorate").change(function(){ 

  id=this.id.match(/\d+/); 


  $.ajax({

        url: "{% url 'agent:ajax-getarea' %}",

        data: {'governorate_id':this.value}, 

        dataType: 'json',

        success: function (data) { 

          ajax_ret_areas = data;     

   $("#id_form-"+x+"-area").empty();

  

          $("#id_form-"+x+"-area").append($('<option>', {

          value: "", 

         text: "-------------"

      })); 

        $.each( ajax_ret_areas, function( key, values ) {

              $("#id_form-"+x+"-area").append($('<option>', {        

    value: key, 

    text: values   

  }));   

      });


        }  

      }); 

});

function set_parameters_go()
{
     var client_id = $('#client_id').val();
     if(client_id)
     {
window.location.href="{% url 'agent:agent-existingenquiry' enquiry_id=123 %}".replace(/123/,client_id.toString());
     }
       
}

</script>    




<!-- <script>
  //  auto complete search

$(window).ready(function(){

  $('.auto-complete-input').attr('autocomplete','off').keyup(search_live).focusout(autoSuggestionOnFocusOut
      ).after($('<div/>',{class:'auto-complete-results'})).parent().css('position','relative',);
      
      //Initial case
      $(".auto-complete-results").css('display','none');

    
});

//Dont Know
$(window).ready(function(){
    $('.goto-url').click(function(){window.location.href=$(this).data('url');});
}); 



function autoSuggestionOnFocusOut(event)
{
  
    setTimeout(function(){

      $(event.target).siblings('.auto-complete-results').first().hide();
      },100);

}


function select_searched_student(event,src){
          var new_id=$(src).attr('data-id');
          window.location='{% url 'agent:agent-newenquiry' %}'
}




function autoSuggestionOnSelect(event){
    eval($(this).data('select-result'))(event,$(this));
    $(this).parents('.auto-complete-results').first().hide().siblings('.auto-complete-input').val('');
}


//Keyup condition
function search_live(event){
    var src=$(this);
    var min_size=src.data('min-size');

    var test_pattern=src.data('pattern');
    if(test_pattern)
        {
        test_pattern=RegExp(test_pattern);
        var inp = String.fromCharCode(event.keyCode);
        if (! test_pattern.test(inp)) return;
        }
        var val=src.val();
    if(min_size)
        {
        if(val.length<min_size) return;
        }
    var fetch_params_fn_name=eval(src.data('fetch-params'));
    var data={};
    if(fetch_params_fn_name)
        data=fetch_params_fn_name();
    data['keyword']=val;//typed key words
    var url=src.data('auto-suggest-url');//list fetching url
    var on_result_click=src.data('result-onclick');//after result url


    var ajax={type:'get',url:url,data:data,
  
    success:function (data){
      var listOfObjects = [];
        if( data['customer_details'])
            {

            $res=src.siblings('.auto-complete-results').first();
            $res.contents().remove();
            


            $.each( data['customer_details'],(i,v)=>{
              $('<div/>',{class:'auto-complete-result-item','data-id':i,
                text:v}).appendTo($res).
                on('click',autoSuggestionOnSelect).
                data('select-result',on_result_click).
                attr('tabindex',-1);

                $res.onclick = autoSuggestionOnSelect();
            });
            $res.css('position','absolute');
            $res.outerWidth(src.outerWidth());
            $res.css('top',(src.position().top+src.outerHeight()).toString()+'px');
          
                $res.show();
            }
          if(data['status'] == 'false'){
            $res=src.siblings('.auto-complete-results').first();
            $res.contents().remove();
          
            $('<div/>',{class:'auto-complete-result-item','data-id':0,
                text:"No result Found"}).appendTo($res).
                on('click',autoSuggestionOnSelect).
                data('select-result',on_result_click).
                attr('tabindex',-1);
            $res.outerWidth(src.outerWidth());
            $res.css('top',(src.position().top+src.outerHeight()).toString()+'px');
          
                $res.show();
          }
          }
        };
        $.ajax(ajax);
}

</script> -->
{% endblock %}