{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "agent/common/header.html" %}
    
<section class="content"><!--content-->
<div class="container-fluid space topspace"><!--container-fluid space topspace-->
    <div class="welcome-wrapper"><!--welcome-wrapper-->
        <h1 class="dashboard-head">Quotation Details</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div><!--welcome-wrapper-->
            
        
<div class="order-top-wrapper"><!--order-top-wrapper-->
            
<div class="white-wrapper"><!--white-wrapper-->
<div class="center-formDiv"><!--center-formDiv-->
 
 
 			<div class="blc-number-big">BLC 123945849</div>             
        	<div class="customer-name"><i class="fa blue-text fa-user-circle-o" aria-hidden="true"></i> Reliance Infotech</div>
        	<div class="mobile-number"><i class="fa green-text fa-lg fa-phone" aria-hidden="true"></i> &nbsp;  9895689549</div>
        	<div class="email"><i class="fa orange-text fa-lg fa-envelope-o" aria-hidden="true"></i> &nbsp;  johndoe@gmail.com</div>
            <div class="mobile-number"><i class="fa red-text fa-lg fa-home" aria-hidden="true"></i> &nbsp;  Appartment, 3rd Floor, Building 4, Block 5, Street Name, Avenue, Area Govermerate</div>
        	<hr class="div">
        	
            <div class="container">
            <div class="common-sub-head align-left" id="duplicater">Service 1</div> 
	<div class="enquiry-FullWrapper" ><!--enquiry-FullWrapper-->       
                <div class="close-div"><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>     
		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Service Type</label></div>
                <label for="favcity">
                <select id="favcity" name="select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Cleaning Method</label></div>
                <label for="favcity">
                <select id="favcity" name="select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->               
                <hr class="hr-dashedpad">
                
        <div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Area Type</label></div>
                <label for="favcity">
                <select id="favcity" name="select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Location Type</label></div>
                <label for="favcity">
                <select id="favcity" name="select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->               
                <hr class="hr-dashedpad">
        <div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
				<div class="enquiry-form-left"><!--enquiry-form-left-->
                	<div class=" bold-text common-label"> <label>Sections</label></div>
                    <div class="parent equiry-parent"><!--parent equiry-parent-->            
                    	<div class="enquiry-child-left"><!--enquiry-child-left-->
                            <label for="favcity">
                            <select id="favcity" name="select">
                            <option value="0">Choose your Order Number</option>
                            <option value="1">23423434</option>
                            <option value="2">45454545</option>
                            <option value="3">45454545</option>
                            <option value="4">86765676</option>
                            <option value="5">23545677</option>
                            </select>
                            </label> 
                    	</div><!--enquiry-child-left-->
                    	<div class="enquiry-child-right"><!--enquiry-child-right-->
                    	<input name="add" type="button" value="Add" class="add-button" onclick="addSection('service1_sections');">
                    	</div><!--enquiry-child-right-->
                    </div><!--parent equiry-parent-->
                    <div id="service1_sections">
                    
                    </div>  
			</div><!--enquiry-form-left-->
            	<div class="enquiry-form-right hide-m"><!--enquiry-form-right-->
				&nbsp;
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->   

<br><br>             
                <hr class="hr-dashedpad">
    
 		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Number of Cleaners</label></div>
                <input name="time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Cleaning Method</label></div>
                <input name="time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes--> 
                      
                <hr class="hr-dashedpad">   
                
 		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Estimated Cost</label></div>
                <input name="time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Discount</label></div>
                <input name="time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->  
                     
                <hr class="hr-dashedpad">
 
  		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Final Cost</label></div>
                <input name="time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Cleaning Policy</label></div>
                <label for="favcity">
                <select id="favcity" name="select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>  
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->  
                     
                <hr class="hr-dashedpad">    
                
 		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Tendative Date(S)</label></div>
                <input name="time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Tendative Time</label></div>
                <input name="time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->
        
        <br><br><br>
        
  				<div class=" bold-text common-label"> <label>Notes</label></div>
                <textarea name="notes" class="textArea" cols="" rows=""></textarea>
                
<div class="details-notes align-left">Media</div>        
<div class="row"><!--row-->
    <div class="col-sm-2 imgUp"><!--col-sm-2 imgUp-->
        <div class="imagePreview"></div>
        <label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label>
        </div><!--col-sm-2 imgUp-->
    	<i class="fa fa-plus imgAdd"></i>
</div><!--row-->                  
                
                
                
	</div><!--enquiry-FullWrapper enquiry-boxes-->
    </div>
    <br>
 <input name="add" type="button" value="Add Service" class="add-button1" onclick="addService('duplicater');">
 <br> 
 <div align="center"><input class="assignButton" name="submit" type="button" value="Submit"> <input class="cancel-Button" name="cancel" type="button" value="Cancel"></div>
 
 
 
 
 
 
 


</div><!--center-formDiv-->
</div><!--white-wrapper-->
 
</div><!--order-top-wrapper-->  
            
            
            
            
                 
</div><!--container-fluid space topspace-->
</section><!--content-->
    
 {% include 'agent/common/footer.html' %}    
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='js/toggle-menu.js'></script> 
<script src='js/hyperlink.js'></script> 
<script src='js/footable.js'></script> 
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });
// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
    </script>
<script id="rendered-js">
$(".imgAdd").click(function () {
  $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
});
$(document).on("click", "i.del", function () {
  $(this).parent().remove();
});
$(function () {
  $(document).on("change", ".uploadFile", function ()
  {
    var uploadFile = $(this);
    var files = !!this.files ? this.files : [];
    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

    if (/^image/.test(files[0].type)) {// only image file
      var reader = new FileReader(); // instance of the FileReader
      reader.readAsDataURL(files[0]); // read the local file

      reader.onloadend = function () {// set image data as background of div
        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
      };
    }

  });
});
//# sourceURL=pen.js
    </script>
<script type="text/javascript">
var counter = 1;

var limit = 5;

function addService(divName){

if (counter == limit)  {

    alert("You have reached the limit of adding " + counter + " inputs");

}

else {

    var newdiv = document.createElement('div');

    newdiv.innerHTML = `<div class="common-sub-head align-left" id="duplicater">Service `+(counter + 1)+`</div> 
	<div class="enquiry-FullWrapper" ><!--enquiry-FullWrapper-->       
                <div class="close-div"><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>     
		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Service Type</label></div>
                <label for="favcity">
                <select id="favcity" name="Service`+(counter + 1)+`_select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Cleaning Method</label></div>
                <label for="favcity">
                <select id="favcity" name="Service`+(counter + 1)+`_select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->               
                <hr class="hr-dashedpad">
                
        <div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Area Type</label></div>
                <label for="favcity">
                <select id="favcity" name="Service`+(counter + 1)+`_select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Location Type</label></div>
                <label for="favcity">
                <select id="favcity" name="Service`+(counter + 1)+`_select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->               
                <hr class="hr-dashedpad">
        <div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
				<div class="enquiry-form-left"><!--enquiry-form-left-->
                	<div class=" bold-text common-label"> <label>Sections</label></div>
                    <div class="parent equiry-parent"><!--parent equiry-parent-->            
                    	<div class="enquiry-child-left"><!--enquiry-child-left-->
                            <label for="favcity">
                            <select id="favcity" name="Service`+(counter + 1)+`_select">
                            <option value="0">Choose your Order Number</option>
                            <option value="1">23423434</option>
                            <option value="2">45454545</option>
                            <option value="3">45454545</option>
                            <option value="4">86765676</option>
                            <option value="5">23545677</option>
                            </select>
                            </label> 
                    	</div><!--enquiry-child-left-->
                    	<div class="enquiry-child-right"><!--enquiry-child-right-->
                    	<input name="Service`+(counter + 1)+`_add" type="button" value="Add" class="add-button">
                    	</div><!--enquiry-child-right-->
                    </div><!--parent equiry-parent-->
                
			</div><!--enquiry-form-left-->
            	<div class="enquiry-form-right hide-m"><!--enquiry-form-right-->
				&nbsp;
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->   

<br><br>             
                <hr class="hr-dashedpad">
    
 		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Number of Cleaners</label></div>
                <input name="Service`+(counter + 1)+`_time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Cleaning Method</label></div>
                <input name="Service`+(counter + 1)+`_time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes--> 
                      
                <hr class="hr-dashedpad">   
                
 		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Estimated Cost</label></div>
                <input name="Service`+(counter + 1)+`_time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Discount</label></div>
                <input name="Service`+(counter + 1)+`time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->  
                     
                <hr class="hr-dashedpad">
 
  		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Final Cost</label></div>
                <input name="Service`+(counter + 1)+`time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Cleaning Policy</label></div>
                <label for="favcity">
                <select id="favcity" name="Service`+(counter + 1)+`select">
                <option value="0">Choose your Order Number</option>
                <option value="1">23423434</option>
                <option value="2">45454545</option>
                <option value="3">45454545</option>
                <option value="4">86765676</option>
                <option value="5">23545677</option>
                </select>
                </label>  
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->  
                     
                <hr class="hr-dashedpad">    
                
 		<div class="enquiry-form-Wrapper enquiry-boxes"><!--enquiry-form-Wrapper enquiry-boxes-->
            	<div class="enquiry-form-left"><!--enquiry-form-left-->
                <div class=" bold-text common-label"> <label>Tendative Date(S)</label></div>
                <input name="Service`+(counter + 1)+`time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-left-->
            	<div class="enquiry-form-right"><!--enquiry-form-right-->
                <div class=" bold-text common-label"> <label>Tendative Time</label></div>
                <input name="Service`+(counter + 1)+`time" type="text" class="textBox" placeholder=" "> 
                </div><!--enquiry-form-right-->
		</div> <!--enquiry-form-Wrapper enquiry-boxes-->
        
        <br><br><br>
        
  				<div class=" bold-text common-label"> <label>Notes</label></div>
                <textarea name="notes" class="textArea" cols="" rows=""></textarea>
                
<div class="details-notes align-left">Media</div>        
<div class="row"><!--row-->
    <div class="col-sm-2 imgUp"><!--col-sm-2 imgUp-->
        <div class="imagePreview"></div>
        <label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label>
        </div><!--col-sm-2 imgUp-->
    	<i class="fa fa-plus imgAdd"></i>
</div><!--row-->                  
                
                
                
	</div><!--enquiry-FullWrapper enquiry-boxes-->`;

    document.getElementById(divName).appendChild(newdiv);

    counter++;

}

}

section_counter = 1;
section_limit = 5;

function addSection(divName){
   if (section_counter == section_limit)  {

    alert("You have reached the limit of adding " + section_counter + " inputs");

    }

    else {

        var newdiv = document.createElement('div');

        newdiv.innerHTML = 

        document.getElementById(divName).appendChild(newdiv);

        counter++;
    }
</script>
{% endblock %}