{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "agent/common/header.html" %}

<section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Quatation Full Details</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->       
            
<div class="main-content-holder"><!--main-content-holder-->                

<div class="white-wrapper-search"><!--white-wrapper-search-->
     <div class="right-box rigtbox-item1"><!--right-box leftbox-item1-->
     <a href="{% url 'agent:agent-makequatation2' evaluation_id %}">	
     <input name="filter" type="button" value="Add Services" id="filter" class="blue-button"> 
     </a>
     </div><!--right-box leftbox-item1-->     
     </div><!--white-wrapper-search-->


<div class="white-wrapper"><!--white-wrapper-->
</div><!--white-wrapper-->

</div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'agent/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
{% endblock %}