.loader {

    border: 16px solid #f3f3f3;
    border-top: 16px solid #28a8e0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
   margin: auto;
   margin-top:30px;
  }
  .ld-payment-message{
    text-align: center;
    width: 500px;
  }
  .ld-screen-loader{
    position: absolute;
    top:30%;
    left:50%;
    margin-left:-250px;

   
   
  }

  #payment_form{
      display: none;     /*Hide contents in payment_fom*/
  }
  #payment_confirmation{
      display: none; /*Hide contents in payment_confirmation*/
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }