{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "qualitycontroll/common/header.html" %}
{% block css_links %}
<link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.min.css">
{% endblock %}    
<section class="content"><!--content-->
<div class="container-fluid space topspace"><!--container-fluid space topspace-->
    <div class="welcome-wrapper"><!--welcome-wrapper-->
        <h1 class="dashboard-head">Internal Report Edit</h1>
        <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>
    </div><!--welcome-wrapper-->
            
<div class="order-top-wrapper"><!--order-top-wrapper-->
	<div class="cleaning-Order-wrapper"><!--cleaning-Order-wrapper-->
    	<div class="cleaning--left-stretch"><!--cleaning--left-stretch-->
         <div class="center-formDiv"><!--center-formDiv-->	    
        
<form method="post" action="" enctype= "multipart/form-data">{% csrf_token %}

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  <div class=" bold-text common-label required-field"> <label>Title</label></div>
        <input type="text" name="title" class="textBox" value="{{internal_report.title}}" />
  </div>

  <div class="ticket-form-right hide-m"><!--ticket-form-right-->
  </div>

  </div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad"> 

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  <div class=" bold-text common-label required-field"> <label>Notes</label></div>
        <textarea class="textBox" name="notes" maxlength="5000">{{internal_report.notes}}</textarea>
  </div>

  </div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad"> 

<div class="details-notes align-left">Media</div>        
<div class="row" id="id_media"><!--row-->
        <i class="fa fa-plus imgAdd id_media"></i>
</div><!--row--> 

<div align="center"><input class="assignButton" name="submitreport" type="button" value="Update" onclick="submitAnyForm(this);" > </div>
<br><br>
</form>
        </div> <!--center-formDiv-->
		</div><!--cleaning--left-stretch-->   
	</div><!--cleaning-Order-wrapper-->
</div><!--order-top-wrapper-->  
            
                             
</div><!--container-fluid space topspace-->
</section><!--content-->
    
    
{% include 'agent/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src="{% static 'files/js/jquery.formset.js' %}"></script>
<script>

function submitbuttontype(type)
{
  $("#redirect_to_id").val(type);
}

//listing previous medias
{% for media in report_medias %}

  $('.id_media').before('<div class="col-sm-2 imgUp"><div class="imagePreview" style="background-image:url({{media.media.url}})"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" name="media" value="{{media.media.url}}" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del" data-mediaid="{{media.id}}"></i></div>');
{% empty %}
$('.id_media').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" name="media" value="File Upload" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
{% endfor %}


$(".imgAdd").click(function () {
  name=$(this).data('name');
  console.log(name)
  $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" name="'+name+'" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
});
$(document).on("click", "i.del", function () {
  $(this).parent().remove();
});
$(function () {
  $(document).on("change", ".uploadFile", function ()
  {
    var uploadFile = $(this);
    var files = !!this.files ? this.files : [];
    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

    if (/^image/.test(files[0].type)) {// only image file
      var reader = new FileReader(); // instance of the FileReader
      reader.readAsDataURL(files[0]); // read the local file

      reader.onloadend = function () {// set image data as background of div
        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
      };
    }

  });
});

</script>    
{% endblock %}
