{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "accountant/common/header.html" %}
    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Welcome to Dashboard</h1>
                <p>Bleach CRM-PS Version 0.1 (Beta) developed and owned by Bleach-Kw</p>    
            </div><!--welcome-wrapper-->
       
     <div class="main-card"><!--main-card-->
<div class="card-row"><!--card-row-->
            <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-pending-payment-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Pending Payments</h1>
            	<h2 class="blue-text"><label>Orders<span>{{total_pending_orders|default_if_none:'0'}}</span></label> </h2>
            	<p><label>Amount <span>{{total_pending_amount|default_if_none:'0.00'|floatformat:'2'}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-week-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Week</h1>
            	<h2 class="green-text"><label>This<span>{{this_week_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></h2>
            	<p><label>Last Week <span>{{last_week_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg orange-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-month-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Month</h1>
            	<h2 class="orange-text"><label>This<span>{{this_month_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label> </h2>
            	<p><label>Last Month <span>{{last_month_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg red-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-quarter-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Quarter</h1>
            	<h2 class="red-text"><label>This<span>{{this_quarter_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label> </h2>
            	<p><label>Last Quarter <span>{{last_quarter_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
   </div><!--card-row-->
</div><!--main-card-->        
            
     <div class="main-content-holder"><!--main-content-holder-->            
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Pending Payments</h2>
<table class="main-table">
<tbody>
    {% for invoice in pending_payments %}
    
    {% if invoice.evaluation.payment_method == 'PREPAID' or invoice.evaluation.payment_method == 'POSTPAID' %}
    <tr {% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}class="blue-line"{% else %}class="gray-line"{% endif %}>
    <td data-label="BLC Number" class="bold-text">{{invoice.evaluation.evaluation_id}}</td>
    <td data-label="Customer">{{invoice.evaluation.customer.name}}</td>
    <td data-label="Service Type(s)">
    {% for evaluation_details in invoice.evaluation.invoice_evaluation_details %}
    {% for book in evaluation_details.evaluation_books %}
    {{book.service_type}}<br>
    {% endfor %}
    {% endfor %}
    </td>
    <td data-label="Contact Number">{{invoice.evaluation.customer.mobile_number}}</td>
    <td data-label="Total Amount">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'2'}}KD</td>
    <td data-label="Payment Method">{{invoice.evaluation.payment_method|default_if_none:''}}</td>
    <td data-label="" class="bold-text">
    {% if invoice.evaluation.payment_method == 'PREPAID' %}
    {% if invoice.reminigdays <= 0 %}
    Exp
    {% else %}
    {{invoice.reminigdays}} Days&#11015;
    {% endif %}

    {% elif invoice.evaluation.payment_method == 'POSTPAID' %}
    {{invoice.delaydays}} Days&#11014;
    {% endif %}
</td>
    <td data-label="">{% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}
        
        {% if invoice.evaluation.payment_method == 'PREPAID' %}  
        {% if invoice.reminigdays <= 0 %}<span class="gray-bg">Collect</span>{% elif invoice.reminigdays == 1 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row red-bg">Collect</span>{% elif invoice.reminigdays == 2 or invoice.reminigdays == 3 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row orange-bg">Collect</span>{% else %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row green-bg">Collect</span>{% endif %}   

        {% elif invoice.evaluation.payment_method == 'POSTPAID' %}  
        {% if invoice.delaydays == 1 or invoice.delaydays == 2 or invoice.delaydays == 3 or invoice.delaydays == 4 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row green-bg">Collect</span>{% elif invoice.delaydays == 5 or invoice.delaydays == 6 or invoice.delaydays == 7 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row orange-bg">Collect</span>{% else %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row red-bg">Collect</span>{% endif %} 
        {% endif %}

        {% else %}

        {% if invoice.evaluation.payment_method == 'PREPAID' %}  
        {% if invoice.reminigdays <= 0 %}<span class="gray-bg">Collect</span>{% elif invoice.reminigdays == 1 %}<span class="red-bg-lite">Collect</span>{% elif invoice.reminigdays == 2 or invoice.reminigdays == 3 %}<span class="orange-bg-lite">Collect</span>{% else %}<span class="green-bg-lite">Collect</span>{% endif %}   

        {% elif invoice.evaluation.payment_method == 'POSTPAID' %}  
        {% if invoice.delaydays == 1 or invoice.delaydays == 2 or invoice.delaydays == 3 or invoice.delaydays == 4 %}<span class="green-bg-lite">Collect</span>{% elif invoice.delaydays == 5 or invoice.delaydays == 6 or invoice.delaydays == 7 %}<span class="orange-bg-lite">Collect</span>{% else %}<span class="red-bg-lite">Collect</span>{% endif %} 
        {% endif %}


        {% endif %}</td>
    </tr>





    {% elif invoice.evaluation.payment_method == 'BREAKDOWN' %}
    
    {% if invoice.preamount_paid != invoice.evaluation.before_cleaning_amount %}
    <tr {% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}class="blue-line"{% else %}class="gray-line"{% endif %}>
    <td data-label="BLC Number" class="bold-text">{{invoice.evaluation.evaluation_id}}</td>
    <td data-label="Customer">{{invoice.evaluation.customer.name}}</td>
    <td data-label="Service Type(s)">
    {% for evaluation_details in invoice.evaluation.invoice_evaluation_details %}
    {% for book in evaluation_details.evaluation_books %}
    {{book.service_type}}<br>
    {% endfor %}
    {% endfor %}
    </td>
    <td data-label="Contact Number">{{invoice.evaluation.customer.mobile_number}}</td>
    <td data-label="Total Amount">{{invoice.evaluation.before_cleaning_amount|default_if_none:'0.00'|floatformat:'2'}}KD</td>
    <td data-label="Payment Method">{{invoice.evaluation.payment_method|default_if_none:''}}</td>
    <td data-label="" class="bold-text">{% if invoice.reminigdays <= 0 %}
    Exp
    {% else %}
    {{invoice.reminigdays}} Days&#11015;
    {% endif %}</td>
    <td data-label="">{% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}{% if invoice.reminigdays <= 0 %}<span class="gray-bg">Collect</span>{% elif invoice.reminigdays == 1 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row red-bg">Collect</span>{% elif invoice.reminigdays == 2 or invoice.reminigdays == 3 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row orange-bg">Collect</span>{% else %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row green-bg">Collect</span>{% endif %}

    {% else %}{% if invoice.reminigdays <= 0 %}<span class="gray-bg">Collect</span>{% elif invoice.reminigdays == 1 %}<span class="red-bg-lite">Collect</span>{% elif invoice.reminigdays == 2 or invoice.reminigdays == 3 %}<span class="orange-bg-lite">Collect</span>{% else %}<span class="green-bg-lite">Collect</span>{% endif %}
    {% endif %}
    </td>
    </tr>
    {% endif %}

    {% if invoice.last_completed and invoice.postamount_paid != invoice.evaluation.after_cleaning_amount %}
    <tr {% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}class="blue-line"{% else %}class="gray-line"{% endif %}>
    <td data-label="BLC Number" class="bold-text">{{invoice.evaluation.evaluation_id}}</td>
    <td data-label="Customer">{{invoice.evaluation.customer.name}}</td>
    <td data-label="Service Type(s)">
    {% for evaluation_details in invoice.evaluation.invoice_evaluation_details %}
    {% for book in evaluation_details.evaluation_books %}
    {{book.service_type}}<br>
    {% endfor %}
    {% endfor %}
    </td>
    <td data-label="Contact Number">{{invoice.evaluation.customer.mobile_number}}</td>
    <td data-label="Total Amount">{{invoice.evaluation.after_cleaning_amount|default_if_none:'0.00'|floatformat:'2'}}KD</td>
    <td data-label="Payment Method">{{invoice.evaluation.payment_method|default_if_none:''}}</td>
    <td data-label="" class="bold-text">{{invoice.delaydays}} Days&#11014;</td>
    <td data-label="">
    {% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}{% if invoice.delaydays == 1 or invoice.delaydays == 1 or invoice.delaydays == 2 or invoice.delaydays == 3 or invoice.delaydays == 4 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row green-bg">Collect</span>{% elif invoice.delaydays == 5 or invoice.delaydays == 6 or invoice.delaydays == 7 %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row orange-bg">Collect</span>{% else %}<span data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}" class="clickable-row red-bg">Collect</span>{% endif %}

    {% else %}{% if invoice.delaydays == 1 or invoice.delaydays == 1 or invoice.delaydays == 2 or invoice.delaydays == 3 or invoice.delaydays == 4 %}<span class="green-bg-lite">Collect</span>{% elif invoice.delaydays == 5 or invoice.delaydays == 6 or invoice.delaydays == 7 %}<span class="orange-bg-lite">Collect</span>{% else %}<span class="red-bg-lite">Collect</span>{% endif %}
    {% endif %}
    </td>
    </tr>
    {% endif %}

    {% endif %}
    {% endfor %}
</tbody>
</table>

</div><!--white-wrapper-->             
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->

{% include 'accountant/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src='js/footable.js'></script> 
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });


// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
    </script>
<script>
function set_params_go(args)
{
var url='{% url 'accountant:accountantdash-board' %}';
var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}
    </script>

{% endblock %}
