{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "accountant/common/header.html" %}
    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Welcome to Dashboard</h1>
                <p>Bleach CRM-PS Version 0.1 (Beta) developed and owned by Bleach-Kw</p>    
            </div><!--welcome-wrapper-->
       
     <div class="main-card"><!--main-card-->
<div class="card-row"><!--card-row-->
            <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-pending-payment-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Pending Payments</h1>
            	<h2 class="blue-text"><label>Orders<span>{{total_pending_orders|default_if_none:'0'}}</span></label> </h2>
            	<p><label>Amount <span>{{total_pending_amount|default_if_none:'0.00'|floatformat:'2'}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-week-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Week</h1>
            	<h2 class="green-text"><label>This<span>{{this_week_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></h2>
            	<p><label>Last <span>{{last_week_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg orange-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-month-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Month</h1>
            	<h2 class="orange-text"><label>This<span>{{this_month_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label> </h2>
            	<p><label>Last <span>{{last_month_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg red-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-quarter-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Quarter</h1>
            	<h2 class="red-text"><label>This<span>{{this_quarter_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label> </h2>
            	<p><label>Last <span>{{last_quarter_sales|default_if_none:'0.00'|floatformat:'2'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
   </div><!--card-row-->
</div><!--main-card-->        
            
     <div class="main-content-holder"><!--main-content-holder-->            
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Pending Payments</h2>
<table class="main-table">
<tbody>
    {% for invoice in pending_payments %}
    
    {% if invoice.evaluation.payment_method == 'PREPAID' or invoice.evaluation.payment_method == 'POSTPAID' %}
    <tr {% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}class="green-line"{% else %}class="gray-line"{% endif %}>
    <td data-label="BLC Number" class="bold-text">{{invoice.evaluation.evaluation_id}}</td>
    <td data-label="Customer">{{invoice.evaluation.customer.name}}</td>
    <td data-label="Service Type(s)">
    {% for evaluation_details in invoice.evaluation.invoice_evaluation_details %}
    {% for book in evaluation_details.evaluation_books %}
    {{book.service_type}}<br>
    {% endfor %}
    {% endfor %}
    </td>
    <td data-label="Contact Number">{{invoice.evaluation.customer.mobile_number}}</td>
    <td data-label="Total Amount">{{invoice.total_amount|default_if_none:'0.00'|floatformat:'2'}}KD</td>
    <td class="{% if invoice.evaluation.payment_method == 'PREPAID' %}indigo-text{% elif invoice.evaluation.payment_method == 'POSTPAID' %}rose-text{% else%}violet-text{% endif %}"  data-label="Payment Method">
    {{invoice.evaluation.payment_method|default_if_none:''}}
    </td>
    <td data-label="" class="bold-text">
    {% if invoice.evaluation.payment_method == 'PREPAID' %}
    {% if invoice.reminigdays < 0 %}
    <h3 class="red-text-h3">Exp</h3>
    {% else %}
    <h3 class="{% if invoice.reminigdays == 0 %}red-text-h3{% elif invoice.reminigdays >= 1 and invoice.reminigdays <= 3 %}orange-text-h3{% elif invoice.reminigdays >= 4 and invoice.reminigdays <= 7 %}yellow-text-h3{% elif invoice.reminigdays >= 8 %}green-text-h3{% endif %}">{{invoice.reminigdays}}</h3> Days&#11015;
    {% endif %}

    {% elif invoice.evaluation.payment_method == 'POSTPAID' %}
    <h3 class="{% if invoice.delaydays >= 14 %}red-text-h3{% elif invoice.delaydays >= 8 and invoice.delaydays <= 13 %}orange-text-h3{% elif invoice.delaydays >= 4 and invoice.delaydays <= 7 %}yellow-text-h3{% elif invoice.delaydays >= 0 and invoice.delaydays <= 3 %}green-text-h3{% endif %}">{{invoice.delaydays}}</h3> Days&#11014;
    {% endif %}
</td>
    <td data-label="">{% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}
        <span class="green-bg clickable-row" data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}">Collect</span>   
        {% else %}
        <span class="gray-bg">Collect</span>
        {% endif %}
    </td>
    </tr>





    {% elif invoice.evaluation.payment_method == 'BREAKDOWN' %}
    
    {% if invoice.preamount_paid != invoice.evaluation.before_cleaning_amount %}
    <tr {% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}class="green-line"{% else %}class="gray-line"{% endif %}>
    <td data-label="BLC Number" class="bold-text">{{invoice.evaluation.evaluation_id}}</td>
    <td data-label="Customer">{{invoice.evaluation.customer.name}}</td>
    <td data-label="Service Type(s)">
    {% for evaluation_details in invoice.evaluation.invoice_evaluation_details %}
    {% for book in evaluation_details.evaluation_books %}
    {{book.service_type}}<br>
    {% endfor %}
    {% endfor %}
    </td>
    <td data-label="Contact Number">{{invoice.evaluation.customer.mobile_number}}</td>
    <td data-label="Total Amount">{{invoice.evaluation.before_cleaning_amount|default_if_none:'0.00'|floatformat:'2'}}KD</td>
    <td data-label="Payment Method">{{invoice.evaluation.payment_method|default_if_none:''}}</td>
    <td data-label="" class="bold-text">{% if invoice.reminigdays <= 0 %}
    <h3 class="red-text-h3">Exp</h3>
    {% else %}
    <h3 class="{% if invoice.reminigdays == 0 %}red-text-h3{% elif invoice.reminigdays >= 1 and invoice.reminigdays <= 3 %}orange-text-h3{% elif invoice.reminigdays >= 4 and invoice.reminigdays <= 7 %}yellow-text-h3{% elif invoice.reminigdays >= 8 %}green-text-h3{% endif %}">{{invoice.reminigdays}}</h3> Days&#11015;
    {% endif %}</td>
    <td data-label="">{% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}
        <span class="green-bg clickable-row" data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}">Collect</span>   
        {% else %}
        <span class="gray-bg">Collect</span>
        {% endif %}
    </td>
    </tr>
    {% endif %}

    {% if invoice.last_completed and invoice.postamount_paid != invoice.evaluation.after_cleaning_amount %}
    <tr {% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}class="green-line"{% else %}class="gray-line"{% endif %}>
    <td data-label="BLC Number" class="bold-text">{{invoice.evaluation.evaluation_id}}</td>
    <td data-label="Customer">{{invoice.evaluation.customer.name}}</td>
    <td data-label="Service Type(s)">
    {% for evaluation_details in invoice.evaluation.invoice_evaluation_details %}
    {% for book in evaluation_details.evaluation_books %}
    {{book.service_type}}<br>
    {% endfor %}
    {% endfor %}
    </td>
    <td data-label="Contact Number">{{invoice.evaluation.customer.mobile_number}}</td>
    <td data-label="Total Amount">{{invoice.evaluation.after_cleaning_amount|default_if_none:'0.00'|floatformat:'2'}}KD</td>
    <td data-label="Payment Method">{{invoice.evaluation.payment_method|default_if_none:''}}</td>
    <td data-label="" class="bold-text"><h3 class="{% if invoice.delaydays >= 14 %}red-text-h3{% elif invoice.delaydays >= 8 and invoice.delaydays <= 13 %}orange-text-h3{% elif invoice.delaydays >= 4 and invoice.delaydays <= 6 %}yellow-text-h3{% elif invoice.delaydays >= 0 and invoice.delaydays <= 3 %}green-text-h3{% endif %}">{{invoice.delaydays}}</h3> Days&#11014;</td>
    <td data-label="">{% if invoice.evaluation.payment_way == 'CASH/CHEQUE' %}
        <span class="green-bg clickable-row" data-href="{% url 'accountant:accountant-cashcollect' %}?orderid={{invoice.id}}">Collect</span>   
        {% else %}
        <span class="gray-bg">Collect</span>
        {% endif %}
    </td>
    </tr>
    {% endif %}

    {% endif %}
    {% endfor %}
</tbody>
</table>

</div><!--white-wrapper-->             
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->

{% include 'accountant/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src='js/footable.js'></script> 
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });


// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
    </script>
<script>
function set_params_go(args)
{
var url='{% url 'accountant:accountantdash-board' %}';
var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}
    </script>

{% endblock %}
