{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "accountant/common/header.html" %}
    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Welcome to Dashboard</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->
       
     <div class="main-card"><!--main-card-->
<div class="card-row"><!--card-row-->
            <div class="card-column whitebg blue-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-pending-payment-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Pending Payments</h1>
            	<h2 class="blue-text"><label>Orders<span>{{total_pending_orders|default_if_none:'0'}}</span></label> </h2>
            	<p><label>Amount <span>{{total_pending_amount|default_if_none:'0'}}</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg green-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-week-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Week</h1>
            	<h2 class="green-text"><label>Current<span>{{this_week_sales|default_if_none:'0'}}KD</span></label>  </h2>
            	<p><label>Last Week <span>{{last_week_sales|default_if_none:'0'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg orange-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-month-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Month</h1>
            	<h2 class="orange-text"><label>Current<span>{{this_month_sales|default_if_none:'0'}}KD</span></label> </h2>
            	<p><label>Last Month <span>{{last_month_sales|default_if_none:'0'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
        
            <div class="card-column whitebg red-border"><!--card-column-->
            	<div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/card-quarter-icon.svg' %}"></div>
                <div class="column-right"><!--column-right-->
                <h1>Quarter</h1>
            	<h2 class="red-text"><label>Current<span>{{this_quarter_sales|default_if_none:'0'}}KD</span></label> </h2>
            	<p><label>Last Quarter <span>{{last_quarter_sales|default_if_none:'0'}}KD</span></label></p>
            	</div><!--column-right-->
            	</div><!--card-innerwrapper-->
            </div><!--card-column-->
   </div><!--card-row-->
</div><!--main-card-->        
            
     <div class="main-content-holder"><!--main-content-holder-->            
 
     
            
<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Pending Payments</h2>
<div class="page-entries">Show 10 entries</div>
<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
<tr>
<th>Order Number</th>
<th data-hide="phone,tablet">Client Name</th>
<th data-hide="phone">Area</th>
<th>Contact</th>
<th data-hide="phone,tablet">Status</th>
<th data-hide="phone,tablet">Amount</th>
</tr>
</thead>
<tbody>
    {% for invoice in pending_payments %}
    <tr>
    <td {% if invoice.status == 'PENDING' %}
        class="red-line"
        {% else %}
        class="yellow-line"
        {% endif %}>{{invoice.order.evaluation.evaluation_id}}</td>
    <td>{{invoice.order.evaluation.customer.name}}</td>
    <td>
    {% for evaluation_details in invoice.order.evaluation.invoice_evaluation_details %}
    {{evaluation_details.address.area.name}}<br>
    {% endfor %}
    </td>
    <td>{{invoice.order.evaluation.customer.mobile_number}}</td>
    <td><span 
        {% if invoice.status == 'PENDING' %}
        class="red-bg"
        {% else %}
        class="yellow-bg"
        {% endif %}
        >{{invoice.status}}</span></td>
    <td>{{invoice.total_amount}}KD</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
 
</tfoot>
</table>

<div class="white-wrapper-pagination"><!--white-wrapper-pagination-->   
    <div class="pagination-containter"><!--pagination-containter-->
    	<div class="pagination-column pagination-column-left"><!--pagination-column pagination-column-left-->
        Showing 1 to 10 of 57 entries
        </div><!--pagination-column pagination-column-left-->
        
        <div class="pagination-column pagination-column-right"><!--pagination-column pagination-column-right-->
        Pagination here
        </div><!--pagination-column pagination-column-right-->
    </div><!--pagination-containter-->         
</div><!--white-wrapper-pagination--> 
</div><!--white-wrapper-->      
  
  
        <div class="white-wrapper"><!--white-wrapper-->
        <h2 class="h2">Subscription Status</h2>
        
        </div><!--white-wrapper-->         
            
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->

{% include 'accountant/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src='js/footable.js'></script> 
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });


// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
//# sourceURL=pen.js
    </script>
{% endblock %}
