{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <div class="wrapper" id="app">
        {% if request.user.user_type == 'SALESADMIN' %}
        {% include "salesadmin/common/header.html" %}
        {% elif request.user.user_type == 'AGENT' %}
        {% include "agent/common/header.html" %}
        {% elif request.user.user_type == 'ADMIN' %}
        {% include "admin/common/header.html" %}
        {% elif request.user.user_type == 'BOOKINGOFFICER' %}
        {% include "bookingofficer/common/header.html" %} 
        {% elif request.user.user_type == 'EVALUATOR' %}
        {% include "evaluator/common/header.html" %}
        {% elif request.user.user_type == 'SENIORTEAMLEADER' %}
        {% include "stl/common/header.html" %}
        {% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
        {% include "operationsupervisor/common/header.html" %}
        {% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
        {% include "technicalsupervisor/common/header.html" %}
        {% elif request.user.user_type == 'ACCOUNTANT' %}
        {% include "accountant/common/header.html" %}
        {% endif %}

        <section class="content">
            <!--content-->
            <div class="container-fluid space topspace">
                <!--container-fluid space-->
                <div class="welcome-wrapper">
                    <!--welcome-wrapper-->
                    <h1 class="dashboard-head">Raise Ticket</h1>
                </div>
                <div class="main-content-holder">
                    <!--main-content-holder-->
    
    
                    <div class="white-wrapper">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="tk-common-text">Select Order</div>
                                <div class="wrap-drop" id="noble-gases" id="supplier_id" style="z-index: 2;">
                                   
                                    <span>--Select Order--</span>
                                    <ul class="drop">
                                        <li><a>BLC00000</a></li>
                                        <li><a>BLC00000</a></li>
                                        <li><a>BLC00000</a></li>
                                        <li><a>BLC00000</a></li>
                                    </ul>
                                   
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <div class="col-md-6">
                                <div class="tk-order-card">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="tk-common-text" style="margin-bottom: 5px">BLC1265515656312</div>
                                            <div class="d-flex">
                                                <div>
                                                    <span class="tk-dot tk-completed-color"></span><span class="tk-common-text2 av-font">Paid</span>
                                                </div>
                                                <div class="ml-10">
                                                    <span class="tk-dot tk-completed-color"></span><span class="tk-common-text2 av-font">Closed</span>
                                                </div>
                                            </div>
                                            <div style="margin-bottom:0px" class="mt-15 tk-common-text2">
                                                Manal Alesheed
                                            </div>
                                            <div  class="tk-common-text2">
                                                9595959595
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="margin-bottom: 5px" class="tk-common-text">Kitchen Cleaning-One time service</div>
                                            <div  class="tk-common-text2">Dec 01 2020 ,04:04 AM</div>
                                            <div class="d-flex mt-20">
                                                <div class="d-flex">
                                                    <img src="/media/profile_photo/sheldon1.jpg" class="tk-img-circle"> 
                                                    <div style="margin-bottom: 0px;"  class="tk-common-text2 ml-5 mt-10">Saravan</div>
                                                </div>
                                                <div class="ml-20 d-flex">
                                                    <img src="/media/profile_photo/sheldon1.jpg" class="tk-img-circle">
                                                    <img src="/media/profile_photo/sheldon1.jpg" class="tk-img-circle" style="margin-left: -20px;">
                                                    <img src="/media/profile_photo/sheldon1.jpg" class="tk-img-circle" style="margin-left: -20px;">
                                                    <img src="/media/profile_photo/sheldon1.jpg" class="tk-img-circle" style="margin-left: -20px;">
                                                    <div style="margin-bottom: 0px;"  class="tk-common-text2 ml-5 mt-10">4 Cleanaers</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="tk-total-text" style="margin-top: 40px; line-height: 1;">80.000 KD</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-20">
                            <div class="col-md-3">
                                <div class="tk-common-text">Ticket Form</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="tk-common-text">Select Ticket Type</div>
                                <multiselect v-model="value" :multiple="true" placeholder="Select Ticket Type" :options="options"></multiselect>
                           
                            </div>
                        </div>
                        <div class="row mt-20">
                            <div class="col-md-2">
                                <div class="tk-type-card">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascript %}
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>


<script>
  const app = new Vue({
  el: "#app",
  components: { Multiselect: window.VueMultiselect.default },
  
  delimiters: ["<%", "%>"],
  data () {
        return {
          value: null,
          options: ['list', 'of', 'options']
        }
      }
  });

  </script>
<script>
    function DropDown(el) {
    this.dd = el;
    this.placeholder = this.dd.children('span');
    this.opts = this.dd.find('ul.drop li');
    this.val = '';
    this.index = -1;
    this.initEvents();
}



   
DropDown.prototype = {
    initEvents: function () {
        var obj = this;
        obj.dd.on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).toggleClass('active');
        });
        obj.opts.on('click', function () {
            var opt = $(this);
            obj.val = opt.text();
            obj.index = opt.index();
            obj.placeholder.text(obj.val);
            opt.siblings().removeClass('selected');
            opt.filter(':contains("' + obj.val + '")').addClass('selected');
        }).change();
    },
    getValue: function () {
        return this.val;
    },
    getIndex: function () {
        return this.index;
    }
};

$(function () {
    // create new variable for each menu
    var dd1 = new DropDown($('#noble-gases'));
    var dd2 = new DropDown($('#noble-gases2'));

    // var dd2 = new DropDown($('#other-gases'));
    $(document).click(function () {
        // close menu on document click
        $('.wrap-drop').removeClass('active');
    });
});
</script>
{% endblock %}