{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'files/css/booking/booking.css' %}">

<style>
    .multiselect__tags {
  
    border: 1px solid #707070 !important;
    
}
    .tk-type-cardselected{
    border: 1px solid #528CE6;
}
   .multiselect__option--highlight {
    background: #fff;
    outline: none;
    color: #434343 !important;
}
.multiselect {
    
    color: #434343 !important;
}
.multiselect__option--highlight {
    background: #EDF1F6 !important;
    outline: none;
    color: #434343 !important;
}
.multiselect__tag-icon:after {
    content: "\D7";
    color: #434343 !important;
    font-size: 14px;
}
.multiselect__tag {

    color: #434343 !important;
  
    background: #EDF1F6 !important;

}
.multiselect__option--highlight:after {
    content: attr(data-select);
    color: #434343 !important;
  
    background: #EDF1F6 !important;
    }
@media only screen and (max-width: 950px){
    .modal-dialog {
        width: auto !important;
    }
}

.modal-dialog {
    width: 1000px !important;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <div class="wrapper" id="app">
        {% if request.user.user_type == 'SALESADMIN' %}
        {% include "salesadmin/common/header.html" %}
        {% elif request.user.user_type == 'AGENT' %}
        {% include "agent/common/header.html" %}
        {% elif request.user.user_type == 'ADMIN' %}
        {% include "admin/common/header.html" %}
        {% elif request.user.user_type == 'BOOKINGOFFICER' %}
        {% include "bookingofficer/common/header.html" %} 
        {% elif request.user.user_type == 'EVALUATOR' %}
        {% include "evaluator/common/header.html" %}
        {% elif request.user.user_type == 'SENIORTEAMLEADER' %}
        {% include "stl/common/header.html" %}
        {% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
        {% include "operationsupervisor/common/header.html" %}
        {% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
        {% include "technicalsupervisor/common/header.html" %}
        {% elif request.user.user_type == 'ACCOUNTANT' %}
        {% include "accountant/common/header.html" %}
        {% endif %}

        <section class="content">
<button style="display: none;" data-toggle="modal" data-target="#editSectionDialog" id="edit-dialog-tigger"></button>
<!-- edit section dialog begins here-->
<div class="modal fade " id="editSectionDialog" tabindex="-1" role="dialog" aria-labelledby="editSectionDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered primary-modal" role="document">
      <div class="modal-content primary-modal-border">
        <div class="d-flex">
            <div class="popup-title  w-100 mt-10 mb-10 av-font" id="exampleModalLongTitle">Edit Section </div>
            <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close" style="margin-left:auto">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" v-if="edit_section != null">
            <div >
                <div class="row">
                    <div class="col-md-6 mt-10">
                        <div class=" bold-text common-label required-field"> <label class="av-font">Section Name</label></div>
                        <div class="inv-input-container " style="height: 40px;"> 
                            <input type="text" v-model="edit_section.section_name"  class="w-p-100 inv-in"  >
                        </div>
                    </div>
                    <div class="col-md-6 mt-10">
                        <div class=" bold-text common-label required-field"> <label class="av-font">Section Name</label></div>
                        <div class="inv-input-container " style="height: 40px;"> 
                            <input type="text"  class="w-p-100 inv-in"  >
                        </div>
                    </div>
                    
                </div>
            </div>
          </div>

      </div>
    </div>
</div>

            
            <!--content-->
            <div class="container-fluid space topspace">
                <!--container-fluid space-->
                <div class="welcome-wrapper">
                    <!--welcome-wrapper-->
                    <h1 class="dashboard-head">Raise Ticket</h1>
                </div>
                <div class="main-content-holder">
                    <!--main-content-holder-->
                <input type="hidden" id="id_user_id" value="{{request.user.id}}" />
                {% csrf_token %}

                    <div class="white-wrapper">
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="tk-common-text">Select Order</div>
                                <div class="wrap-drop" id="noble-gases" style="z-index: 3;">
                                    <span id="order_number">--Select Order--</span>
                                    <ul class="drop">
                                        {% for order in orders %}
                                        <li id="order_{{order.id}}" onclick="loadvisits({{order.id}})"><a>{{order.order_no}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                       

                        <div class="row mt-10" id="schedule_list_id">
                            <div class="col-md-3">
                            
                                <div class="tk-common-text">Select Order Scheduler</div>
                                <div class="wrap-drop" id="drop_id" style="z-index: 2;">
                                    <span id="id_sched">--Select Order--</span>
                                    <ul class="drop" id="visit_drop">
                                        {% comment %} {% for visit in visits %}
                                        <li><a onclick="loadvisitdata({{visit.id}})">{{visit.order.order_no}} - {{visit.start_at}}</a></li>
                                        {% endfor %} {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-10">
                            <div class="col-md-9   col-lg-8">
                                <div class="tk-order-card" hidden>
                                    <div class="row">
                                    <input type="hidden" id="id_visit" />
                                        <div class="col-md-3">
                                            <div class="tk-common-text" id="visit_blc" style="margin-bottom: 5px">BLC1265515656312</div>
                                            <div class="d-flex">
                                                <div>
                                                    <span class="tk-dot tk-completed-color"></span><span class="tk-common-text2 av-font">Paid</span>
                                                </div>
                                                <div class="ml-10">
                                                    <span class="tk-dot tk-completed-color"></span><span class="tk-common-text2 av-font">Closed</span>
                                                </div>
                                            </div>
                                            <div style="margin-bottom:0px" class="mt-15 tk-common-text2" id="visit_customer">
                                                Manal Alesheed
                                            </div>
                                            <div  class="tk-common-text2" id="visit_customer_number">
                                                9595959595
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="margin-bottom: 5px" class="tk-common-text"><span id="visit_servicetype">Kitchen Cleaning</span>-<span id="visit_cleaningpolicy">One time service</span></div>
                                            <div  class="tk-common-text2" id="visit_start_at">Dec 01 2020 ,04:04 AM</div>
                                            <div class="d-flex mt-20">
                                                <div class="d-flex">
                                                    <img id="visit_teamleader_image" src="/media/profile_photo/sheldon1.jpg" class="tk-img-circle"> 
                                                    <div style="margin-bottom: 0px;"  class="tk-common-text2 ml-5 mt-10" id="visit_teamleader">Saravan</div>
                                                </div>
                                                <div class="ml-30 d-flex" id="visit_team_members">
                                                    
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3 text-center">
                                            <div class="tk-total-text" style="margin-top: 40px; line-height: 1;" id="visit_price">80.000 KD</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div v-if="isOrderSelected">
                        <div class="row mt-30" style="margin-top: 40px;">
                            <div class="col-md-3">
                                <div class="tk-common-text">Ticket Form</div>
                            </div>
                        </div>
                        <div class="row mt-30">
                            <div class="col-md-3">
                                <div class="tk-common-text">Select Ticket Type</div>
                                <multiselect name="ticket_type" label="name" track-by="name"  @Close="addServiceQu()"  v-model="value"  selectLabel="Select Ticket" :showLabels='true' :multiple="true" placeholder="Select Ticket Type" :options="options"></multiselect>
                            
                            </div>
                        </div>                        
                         <div v-if="value.length !=0"> 
                            
                            <div class="row mt-40">
                                <div class="col-md-12">
                                    <div class="tk-common-text">Upload Media</div>
                                </div>
    
                            </div>
                            <div class="row">
                                <div class="col-md-1" v-for="(image, imageindex) in imageData" v-bind:key="imageindex">
                                    <div class="bk-image-upload">
                                      <img :src="image.url" style="max-width: 100%" class="h-100 w-100"/>
                                    </div>
                                    <div class="image-footer">
                                      <!-- <i class="far fa-edit img-icon"  v-on:click="editImage(imageindex)"></i>-->
                                      <i class="far fa-trash-alt pl-2 img-icon" v-on:click="deleteImage(imageindex)"></i>
                                    </div>
                                  </div>
                                  <div class="col-md-1">
                                    <div class="addImg">
                                      <div class="item_image" style="background: #BEBEBE !important; border: none !important;" @click="$refs.itemfile.click()" ref="item-image"
                                        v-on:change="onImageFileChanged">
                                        <input type="file" ref="itemfile" name="mediabefore" style="display: none" accept="image/*"
                                          class="itemfileselected_before" />
                                        <i style="color: #fff !important;" class="ImageIcon fa fa-plus"></i>
                                      </div>
                                    </div>
                                  </div>
    
                            </div>
                            <div class="row mt-10">
                                <div class="col-md-12">
                                    <div class="tk-common-text">Note</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="inv-input-container "> 
                                        <textarea v-model="damagenote" style="width: 100%;" rows="8" id="id_item_description" name="investigation_notes"></textarea>
                                        </div>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="tk-common-text">Action</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                <multiselect v-if="!isSerQual()"  label="name" track-by="name" @Close="selectTickets()" @remove='removeFromSelect()'  v-model="damacval"  selectLabel="Select Action" :showLabels='true' :multiple="true" placeholder="Select Actions" :options="ticketAction">
                                   
                                </multiselect>
                                <multiselect v-if="isSerQual()"  label="name" track-by="name" @Close="selectTickets()" @remove='removeFromSelect()'   v-model="damacval"  selectLabel="Select Action" :showLabels='true' :multiple="true" placeholder="Select Actions" :options="ticketAction2">
                                   
                                </multiselect>

                                    <!-- <multiselect v-model="damacval" :options="damAc" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Select Action"></multiselect> -->
                                </div>
                            </div>
                            <div class="row mt-20">
                            <div class="col-md-2" v-for="item in damacval" :key="item.id" >
                                <div   class="tk-type-card pointer" v-bind:class="{ 'tk-type-cardselected': item.selected }">
                                    <div @click='changeSeleted(item.id)' style="margin-bottom: 0px; flex-grow: 1;" class="tk-common-text2"> <% item.name %> </div>
                                    <div @click='removeItem(item.id)' style="margin-right: 5px;" class="pointer">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            </div> 
                         <div v-if="selectTab(1)"> 
                            
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="tk-common-text">Payback Action</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <multiselect :multiple="true"  @remove='removeFromPayback()'   :options="paybackaction" :searchable="false" v-model="payback" :close-on-select="true" :show-labels="false" placeholder="Select payback action"></multiselect>
                                </div>
                            </div>
                            
                            <div v-if="paybackSelected('Service Quality')" class="row mt-20 " style="padding: 10px;">
                                <div class="col-md-8 payback-section">
                                    <div  style="position: absolute; top: 5px; right: 10px;" class="pointer" @click="removePayback('Service Quality')">
        
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                    <div class="tk-common-text">Section (Service Quality)</div>
                                    <br>
                                    <div class="tk-common-text">Items</div>
                                    <div class="row mt-10">
                                        <div class="col-md-4">
                                            <div class="tk-common-text">Details</div>
                                            <div class="inv-input-container " style="height: 40px;"> 
                                                <input type="text" v-model="paybackSerDetials" class="w-p-100 inv-in"  >
                                              </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="tk-common-text">Price</div>
                                            <div class="inv-input-container " style="height: 40px;"> 
                                                <input type="number"  class="w-p-100 inv-in" v-model="paybackSerPrice">
                                              </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button style="margin-top: 30px;" class="ml-5  tk-sub" @click="addPaybackSer" >Add</button>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-4 mt-10" v-for="(item, index) in paybackSer" :key="item" >
                                            <div   class="tk-type-card pointer" style="padding: 10px; background: #fff; border: 1px solid #edf1f6;">
                                                <div  style="margin-bottom: 0px; flex-grow: 1;" class="tk-common-text2"> <% item.itemname %> </div>
                                                <div style="flex-grow: 1; margin-bottom: 0px;" class="tk-common-text2">
                                                    <% item.price %>
                                                </div>
                                                <div  style="margin-right: 5px;" class="pointer" @click="removePaybackSer(index)">
        
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="paybackSelected('Damage')" class="row mt-20 " style="padding: 10px;">
                                <div class="col-md-8 payback-section">
                                    <div @click="removePayback('Damage')"  style="position: absolute; top: 5px; right: 10px;" class="pointer">
        
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                    <div class="tk-common-text">Section (Damage)</div>
                                    <br>
                                    <div class="tk-common-text">Items</div>
                                    <div class="row mt-10">
                                        <div class="col-md-4">
                                            <div class="tk-common-text">Details</div>
                                            <div class="inv-input-container " style="height: 40px;"> 
                                                <input type="text" v-model="paybackDamDetials" class="w-p-100 inv-in"  >
                                              </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="tk-common-text">Price</div>
                                            <div class="inv-input-container " style="height: 40px;"> 
                                                <input type="number"  class="w-p-100 inv-in" v-model="paybackDamPrice">
                                              </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button style="margin-top: 30px;" class="ml-5  tk-sub" @click="addPaybackDam" >Add</button>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-4 mt-10" v-for="(item, index) in paybackDam" :key="item" >
                                            <div   class="tk-type-card pointer" style="padding: 10px; background: #fff; border: 1px solid #edf1f6;">
                                                <div  style="margin-bottom: 0px; flex-grow: 1;" class="tk-common-text2"> <% item.itemname %> </div>
                                                <div style="flex-grow: 1; margin-bottom: 0px;" class="tk-common-text2">
                                                    <% item.price %>
                                                </div>
                                                <div  style="margin-right: 5px;" class="pointer" @click="removePaybackDam(index)">
        
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="paybackSelected('Other')" class="row mt-20 " style="padding: 10px;">
                                <div class="col-md-8 payback-section">
                                    <div @click="removePayback('Other')"  style="position: absolute; top: 5px; right: 10px;" class="pointer">
        
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                    <div class="tk-common-text">Section (Other)</div>
                                    
                                    <div class="tk-common-text">Items</div>
                                    <br>
                                    <div class="row mt-10">
                                        <div class="col-md-4">
                                            <div class="tk-common-text">Details</div>
                                            <div class="inv-input-container " style="height: 40px;"> 
                                                <input type="text" v-model="paybackOtherDetials" class="w-p-100 inv-in"  >
                                              </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="tk-common-text">Price</div>
                                            <div class="inv-input-container " style="height: 40px;"> 
                                                <input type="number"  class="w-p-100 inv-in" v-model="paybackOtherPrice">
                                              </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button style="margin-top: 30px;" class="ml-5  tk-sub" @click="addPaybackOther" >Add</button>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-4 mt-10" v-for="(item, index) in paybackOther" :key="item" >
                                            <div   class="tk-type-card pointer" style="padding: 10px; background: #fff; border: 1px solid #edf1f6;">
                                                <div  style="margin-bottom: 0px; flex-grow: 1;" class="tk-common-text2"> <% item.itemname %> </div>
                                                <div style="flex-grow: 1; margin-bottom: 0px;" class="tk-common-text2">
                                                    <% item.price %> <span>KD</span>
                                                </div>
                                                <div  style="margin-right: 5px;" class="pointer" @click="removePaybackOther(index)">
        
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div v-if="selectTab(2)">
                            <!-- Internal reporting -->
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="tk-common-text">Title</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    
                                        <div class="inv-input-container " style="height: 40px;"> 
                                            <input type="text"  class="w-p-100 inv-in" v-model="reporttitile" >
                                          </div>
                                    
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="tk-common-text">Notes</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="inv-input-container "> 
                                        <textarea  style="width: 100%;" rows="8" v-model="reportnote"></textarea>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="selectTab(3)">
                            <div class="row mt-20">
                                <div class="col-md-12">
                                    <div class="tk-common-text">Investigator</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <multiselect  label="name" track-by="id" :options="damAc3" :searchable="false" v-model="userselect" :close-on-select="true" :show-labels="false" placeholder="Select investigator"></multiselect>
                                </div>
                            </div>
                        </div>
                        <div v-if="selectTab(4)">
                            in
                        </div>
                         <div v-if="selectTab(5)"> 
                            
                            <div v-if="cleaningsections != null">
                                <div v-for="(item, index) in cleaningsections" :key="item.section_id"  >
                                    <div class="row mt-20" >
                                        <div class="col-md-12">
                                            <div class="tk-sec-head av-font">
                                            Section <% index+1 %>: <% item.section_name %>
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-6 c-right-border">
                                            <div class="order-details-content">
                                                <div class="row c-mb-3">
                                                    <div class="col-md-6 col-xs-6 mb-10">
                                                        <div class="order-details-key">Size</div> 
                                                        <div class="c-text order-details-value"> <% item.size %> </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6 mb-10">
                                                        <div class="order-details-key">Wall Type</div> 
                                                        <div class="c-text order-details-value"> <% item.wall_type %> </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6 mb-10">
                                                        <div class="order-details-key">Celling Type</div> 
                                                        <div class="c-text order-details-value"> <% item.ceiling_type %> </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6 mb-10">
                                                        <div class="order-details-key">Floor Type</div> 
                                                        <div class="c-text order-details-value"> <% item.floor_type%> </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6 mb-10">
                                                        <div class="order-details-key">Cost</div> 
                                                        <div class="c-text order-details-value"> <% item.section_net_cost %> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="position: relative;" class="col-md-6">
                                            
                                            <div v-for="(keynote, index) in item.keynotes" :key="keynote.keynote_id" class="col-md-4 ml-0 "><div style="background: #edf1f5 !important;" class="clean-section-card av-font"><p class="av-font"> <% keynote.sub_area %> <span class="c-text2 av-font"><% keynote.quantity %></span></p></div></div>
                                            
        
                                            <div class="tk-edit" @click="editSection(index)">
                                                <img class="pointer edit-icon"  src="{% static 'files/icons/edit.png' %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-20" >
                                        <div class="col-md-2">
                                            <div class="tk-common-text2">
                                                Number of cleaners
                                            </div>
                                            <div class="inv-input-container h-30"> 
                                                <input type="number"  class="w-p-100 inv-in" >
                                              </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="tk-common-text2">
                                                Schedule
                                            </div>
                                            <div class="inv-input-container h-30"> 
                                                <input type="date"  class="w-p-100 inv-in" >
                                              </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            
                        </div>

                        </div>
                            <div class="row mt-30" v-if="value.length != 0 && damacval.length != 0 && !loading">
                                <div class="d-flex" style="align-items: center;
                                justify-content: center;">
                                    <button class="tk-can" type="button"> Cancel</button>
                                    <button class="ml-5 tk-sub"  @click="submitForm()">Submit</button>
                                </div>
                            </div>
                            <div class="row mt-30" v-if="loading" >
                                <div class="d-flex" style="align-items: center;
                                justify-content: center;">
                                    <div class="re-loader"></div>
    
    
                                </div>
                            </div>
                       </div>

                        </div>
                        
                       
                    </div>
                </div>

                <button hidden id="id_cl" data-toggle="modal" data-target="#deleteModel2"  style="margin-top: 9px; color: #3968c6;"><i data-toggle="tooltip" title="Help" class="fa fa-question-circle fa-lg" aria-hidden="true"></i></button>
                <div class="modal fade" id="deleteModel2" role="dialog">
                    <div style="border: none !important;" class="modal-dialog cancel-model cancel-order-border " role="document">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 mt-20">
                  
                                    
                                    <div class="d-flex ">
                                        <div style="margin: 0 auto; flex-grow: 3;"><p class="text-center model-head">Cleaners</p></div>
                                        <button data-dismiss="modal" class="img-button" style="margin-left: auto;">
                  
                                            <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                                        </button>
                  
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-20" id="id_modal_img_section">
                              
                           
                              
  
                            </div>
                            <div class="row mt-10"></div>
                           
                        </div>
                    </div>
                  </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.13/dist/browser-image-compression.js"></script>
<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script>

$(document).ready(function(){
    
    $('#order_{{selected_order.id}}').click();
    $('#order_number').text("{{selected_order.order_no}}");
})

    var investigators_list = []

{% for investigator in investigators %}

investigators_list.push({
    name:'{{investigator.name}}',
    id:'{{investigator.id}}'
})

{% endfor %}

function openImgModal(){
    $('#id_cl').click()
}
</script>
<script src="{% static 'files/js/raiseticket.js' %}"></script>

{% endblock %}