{% extends "base.html" %}
{% block content %}
{% load static %}
{% load mathfilters %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
crossorigin="anonymous" />
<div class="wrapper"><!--wrapper-->

{% if request.user.user_type == 'SALESADMIN' %}
  {% include "salesadmin/common/header.html" %}
{% elif request.user.user_type == 'AGENT' %}
  {% include "agent/common/header.html" %}
{% elif request.user.user_type == 'ADMIN' %}
  {% include "admin/common/header.html" %}
{% elif request.user.user_type == 'BOOKINGOFFICER' %}
  {% include "bookingofficer/common/header.html" %} 
{% elif request.user.user_type == 'EVALUATOR' %}
  {% include "evaluator/common/header.html" %}
{% elif request.user.user_type == 'SENIORTEAMLEADER' %}
  {% include "stl/common/header.html" %}
{% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
  {% include "operationsupervisor/common/header.html" %}
{% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
  {% include "technicalsupervisor/common/header.html" %}
{% elif request.user.user_type == 'ACCOUNTANT' %}
  {% include "accountant/common/header.html" %}
{% endif %}  

    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Daily Sales</h1>
                <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>    
            </div><!--welcome-wrapper-->
       
     <div class="clients-top-card-wrapper"><!--clients-top-card-wrapper-->
     	<div class="clients-card-wrapper"><!--clients-card-wrapper-->
       	<div class="clients-card-column clients-column-left"><!--clients-card-column clients-column-left-->
        
        <div class="card-column whitebg green-border"><!--card-column-->
                <div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/daily.png' %}" style="padding:10px;"></div>
                <div class="column-right"><!--column-right-->
                <h1>Sales</h1>
                <h2 class="green-text"><label>Daily<span>{{dailysales|default_if_none:'0'}} KD</span></label> </h2>
                <p class="dailysale"> <span id="dailysalevalue">{{dailysales|sub:2000|default_if_none:'0'}} KD</span></p>
                </div><!--column-right-->
                </div><!--card-innerwrapper-->
            </div><!--card-column-->

        <div class="card-column whitebg blue-border"><!--card-column-->
                <div class="card-innerwrapper"><!--card-innerwrapper-->
                <div class="column-left"><img src="{% static 'files/images/monthly.png' %}" style="padding:10px;"></div>
                <div class="column-right"><!--column-right-->
                <h1>Sales</h1>
                <h2 class="blue-text"><label>Monthly<span>{{monthlysales|default_if_none:'0'}} KD</span></label> </h2>
                <p class="monthlysale"> <span id="monthlysalevalue">{{monthlysales|sub:52000|default_if_none:'0'}} KD</span></p>
                </div><!--column-right-->
                </div><!--card-innerwrapper-->
            </div><!--card-column-->

        </div><!--clients-card-column clients-column-left-->

        <div class="clients-card-column clients-column-right whitebg hover ltorange-border"><!--clients-card-column clients-column-right-->
        <h2 class="orange-text">Sales (Month of <span id="month_name"></span>)</h2><br> 
		<div class="chart_boxDiv"><!--chart_boxDiv-->
  			<div class="chart_box_Right"><!--chart_box_Right-->
 				<!-- <button type="button" id="mnt_btn" class="set2" >Update</button> -->
            	<div id="chart_div"></div>
  			</div><!--chart_box_Right-->
		</div><!--chart_boxDiv-->
            
        {% comment %} <div class="chart_boxDiv"><!--chart_boxDiv-->    
        
         <div class="chart_box_Left"><!--chart_box_Left-->
         <div class="legend-wrapper"><!--legend-wrapper--> 
            <div class="legend-result count_div"><label class="legend-label">Submitted </label> <b class="legend-result-blue" id="total_submitted">0</b></div>
            <div class="legend-result count_div"><label class="legend-label">Approved </label> <b class="legend-result-red" id="total_approved">0</b></div>
         </div><!--legend-wrapper-->
  		</div><!--chart_box_Left-->
            
        </div><!--chart_boxDiv-->     {% endcomment %}
            
        </div><!--clients-card-column clients-column-right-->

        </div><!--clients-card-wrapper-->

</div><!--clients-top-card-wrapper-->       
            
     <div class="main-content-holder"><!--main-content-holder-->                
            
<div class="white-wrapper"><!--white-wrapper-->
  <h2 class="h2">Daily Sales List</h2>
<!-- <div class="page-entries"> <button  onclick="exportTableToExcel()" class="export-excel-btn"> <i class="fa fa-file-excel mr-5" aria-hidden="true"></i> Export to excel</button> </div> -->
<!-- <h2 class="h2">Daily Sales List</h2> -->



<div class="filter-columns-wrapper">
  <div class="filter-column-boxes filter-columns-left">
    <button  onclick="exportTableToExcel()" class="export-excel-btn"> <i class="fa fa-file-excel mr-5" aria-hidden="true"></i> Export to excel</button>
</div>

  <div class="filter-column-boxes filter-columns-right">
  
    <!-- datepicker -->
    <div class="date-wrapper"><!--date-wrapper-->
      <div class="date-wrapper-inner-resource"><!--date-wrapper-inner-->
        <div id="working_calendar2" >
          <button class="prev-month-resource previous-button"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
          <input type='text' id='calendar_month'  name='monthpicker' class="date-box month_pick_resource" onchange="monthlysales();">
          <button class='next-month-resource next-button' ><i class="fa fa-caret-right" aria-hidden="true"></i></button>
          <button class='this-month-resource current-date'>Month</button>
        </div>
      </div>
  
      {% comment %} <div class="date-togglewrapper"><!--date-togglewrapper-->
              <div class="Button_wrapperChart">
              <div class="blue-sliderbutton"><label class="switch"><input type="checkbox" id="salestoggle"><div class="slider round"><span class="on">EVALUATOR</span><span class="off">SERVICE</span></div></label></div>
      
              </div>
              </div><!--date-togglewrapper--> {% endcomment %}
    </div>
  </div><!--filter-column-boxes filter-columns-right-->  
</div>


  <table id="salesTable"  cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable  common-table">
 
    <thead>
    <tr id="salesheaders">
    <th>Date</th>
    <th data-hide="phone,tablet">Day</th>
    <th data-hide="phone,tablet" class="align-right">Detailed Cleaning</th>
    <th data-hide="phone,tablet" class="align-right">Special Care</th>
    <th data-hide="phone,tablet" class="align-right">Kitchen Cleaning</th>
    <th data-hide="phone,tablet" class="align-right">Infection Control</th>
    <th data-hide="phone,tablet" class="align-right">Total Amount</th>
    <th data-hide="phone,tablet" class="align-right">Sales Status</th>
    </tr>
    </thead>
    <tbody id="dailysaleslist">
    
    </tbody>
    <tfoot>
     
    </tfoot>
    </table>
    <button  data-toggle="modal" data-target="#detialsModel" id="id_model_button" hidden>Done </button>
    <div class="modal fade" id="detialsModel" role="dialog">
      <div class="modal-dialog model-dailysals w-p-75" role="document">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 mt-20">
                      <div class="d-flex ">
                          <button data-dismiss="modal" class="img-button" style="margin-left: auto;">
                              <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                          </button>
                      </div>
                  </div>
              </div>
             <div class="row" style="padding-bottom: 10px;">
               <div class="col-md-2">
                <span class="model-date-sale" id="model_date2">date</span>
               </div>
               <div class="col-md-10 text-right">
              <div class="d-flex" style="float: right; margin-right: 10px;">
                <div class="model-sale-card mr-5 ">
                  <span class="model-sale-card-head">Total Sales</span><br><br>
                  <span  class="model-date-sale">1020.767</span>
                </div>
                <div class="model-sale-card mr-5 ">
                  <span class="model-sale-card-head">Sale Status  </span><br><br>
                  <span  class="model-date-sale" style="color:#ec6262;">1020.767 <i class="fa fa-arrow-down" aria-hidden="true" style="color:#ec6262;"></i></span>
                </div>
              </div>
               </div>
             </div>
              <div class="row">
                  <div class="col-md-12 text-center" style="height: 60vh; overflow: auto;">
                    <table id="model-table">
                      <tr>
                        <th style="text-align: left;">Order No</th>
                        <th style="width: 17%; text-align: left;">Customer</th>
                        <!-- <th style="text-align: center;">Details</th> -->
                        <th style="text-align: left;">Payment policy</th>
                        <th style="text-align: left;">Net amount</th>
                        <th style="text-align: left;">Service Type</th>
                        <th style="text-align: left;">Salesman</th>
                      </tr>

                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>
                      <tr>
                        <td>BLC20210310115</td>
                        <td>Name</td>
                        <td>Subscription</td>
                        <td  style="text-align: right;">100.000</td>
                        <td>General Cleaning</td>
                        <td>Agent name</td>
                      
                      </tr>

                      </table>

                  </div>
    
              </div>
              <div class="row mt-10">
                <div class="col-md-12 text-center">
                  <i onclick="prevDay()" style="color:#707070 !important;" class='fa fa-chevron-left service-control pointer model-date-next mr-5'></i>
                  <span id="model_date">date</span>
                  <i onclick="nextDay()" style="color:#707070 !important;"  class='fa fa-chevron-right service-control pointer model-date-next ml-5'></i>
                </div>
              </div>
          </div>
      </div>
    </div>
</div><!--white-wrapper-->                   

      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'salesadmin/common/footer.html' %}    
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'files/js/footable.js' %}"></script>
<script id="rendered-js">
$('.footable').footable({
  calculateWidthOverride: function () {
    return { width: $(window).width() };
  } });
</script>


<script src="{% static 'files/js/charts/dailysalesdatachart.js' %}"></script>
<script src="{% static 'files/js/daily-sales/dailysales.js' %}"></script>
<script src="{% static 'files/js/table2excel.js' %}"></script>
<!-- <script>
  $(document).ready(function(){
    $('.footable').trigger('footable_resize');
  })
  $("#payments_tab").click(function(){
  setTimeout(function(){ $('.footable').trigger('footable_resize'); }, 1000);
});

</script> -->
<script>

$('document').ready(function(){

  

//target value calc for sales daily and monthly cards with up down arrows
var dailysalevalue = "{{dailysales|sub:2000|default_if_none:'0.000'}}"
var monthlysalevalue = "{{monthlysales|sub:52000|default_if_none:'0.000'}}"


if (dailysalevalue < 0){
  $('#dailysalevalue').text(Math.abs(dailysalevalue));
  $('.dailysale').append(' <i class="fa fa-arrow-down" aria-hidden="true" style="color:#ec6262;"></i>');
  $('#dailysalevalue').addClass('red-text');
}else if (dailysalevalue > 0){
  $('.dailysale').append(' <i class="fa fa-arrow-up" aria-hidden="true" style="color:#3cbbb1;"></i>');
  $('#dailysalevalue').addClass('green-text');
}else{
  console.log("zero")
}

if (monthlysalevalue < 0){
  $('#monthlysalevalue').text(Math.abs(monthlysalevalue));
  $('.monthlysale').append(' <i class="fa fa-arrow-down" aria-hidden="true" style="color:#ec6262;"></i>');
  $('#monthlysalevalue').addClass('red-text');
}else if (monthlysalevalue > 0){
  $('.monthlysale').append(' <i class="fa fa-arrow-up" aria-hidden="true" style="color:#3cbbb1;"></i>');
  $('#monthlysalevalue').addClass('green-text');
}else{
  console.log("zero")
}

//monthpicker month setup
var date1 = new Date();

var month = ("0" + (date1.getMonth()+1)).slice(-2);
console.log(month,"lp")

var datestring = month + "/" + date1.getFullYear();
$('#calendar_month').val(datestring);

monthlysales();

})

function exportTableToExcel(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("salesTable");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row

        if (i == 0){
          column1 = row.cells[0].innerText;
        }else{
          var sale_date = new Date(row.cells[0].innerText);

          column1 = sale_date.toDateString();
        }
        
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        //column8 = row.cells[7].innerText;
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                //column8
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "DailySales_"+$('#calendar_month').val()+".csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}

function set_params_go(args)
{
var url='{% url 'common_items:orders' %}';
var params={search:$('#search-bar').val(),no_of_entries:$('#no_of_entries').val(),governorate:$('#governorate_filter_id').val(),area:$('#area_filter_id').val(),status:$('#status_filter_id').val(),cleaning_policy:$('#cleaning_policy_filter_id').val(),service_type:$('#service_type_filter_id').val(),payment_policy:$('#payment_policy_id').val()
};
for(key in args) 
    params[key]=args[key];
var query='';
for(key in params)
    if(params[key]) 
        query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
window.location.href=url+query;  
}

</script>    
{% endblock %}