{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "admin/common/header.html" %}
    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Productivity</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->       
            
<div class="main-content-holder"><!--main-content-holder-->            


<div class="white-wrapper"><!--white-wrapper-->
<h2 class="h2">Productivity List</h2>
<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
<tr>
<th>Service Type</th>
<th>Speciality</th>
<th class="d-flex">
  Price Range  <div class="add-btn ml-10">
  <img src="{% static 'files/images/plus.png' %}" align="absmiddle" class="pr-add-icon add_price clickable-cursor" data-id="{{productivity.id}}" data-service_typeid="{{productivity.service_type.id}}" data-service_typename="{{productivity.service_type.name}}" data-perhour_cleaning="{{productivity.perhour_cleaning}}" data-perunit_price="{{productivity.perunit_price|floatformat:'3'}}">
</div></th>
<th data-hide="phone,tablet" class="align-center">Productivity/Cleaner/Hr</th>
<th data-hide="phone,tablet">&nbsp;</th>
</tr>
</thead>
<tbody>
  {% for productivity in productivities %}
  <tr>
    <td>{{productivity.service_type.name}}</td>
    <td>{% if productivity.service_type.name == 'Upholstery Cleaning' %}{{productivity.upholstery_type}}{% elif productivity.service_type.name == 'Kitchen Cleaning' %}{% if productivity.is_newkitchen %}New Kitchen{% else %}Old Kitchen{% endif %}{% elif productivity.service_type.name == 'Window Cleaning' %}{% if productivity.is_highprice_window %}High Price Window{% else %}Low Price Window{% endif %}{% elif productivity.service_type.name == 'Facade Cleaning' %}{% if productivity.is_highprice_facade %}High Price Facade{% else %}Low Price Facade{% endif %}{% else %}Normal{% endif %}</td>
    <td>
      {% for price_range in price_ranges %}
      
      {% if productivity.service_type == price_range.service_type and productivity.upholstery_type == price_range.upholstery_type and productivity.is_newkitchen == price_range.is_newkitchen and productivity.is_highprice_window == price_range.is_highprice_window and productivity.is_highprice_facade == price_range.is_highprice_facade  %}<div class="d-flex"><div class="pr-price-range mt-10 clickable-cursor">{{price_range.name}}(
      {% if price_range.minimum_area %}{{price_range.minimum_area}}-{% endif %}{{price_range.maximum_area}} Sqm)  {{price_range.price}} KD
     
      <img src="{% static 'files/images/edit-white.png' %}" align="absmiddle" class="pr-add-icon delete_price clickable-cursor ml-5" onclick="editItem()"/>
      <img src="{% static 'files/images/cancel-white.png' %}" align="absmiddle" class="pr-add-icon delete_price clickable-cursor" / data-id="{{price_range.id}}">
      </div>
    </div>
    
      
      
      {% endif %}
      {% endfor %} 
     
    </td>
    <td class="align-center">{{productivity.perhour_cleaning}}</td>
    <td>
    <img src="{% static 'files/images/edit.png' %}" align="absmiddle" class="download-icon edit_productivity clickable-cursor" data-id="{{productivity.id}}" data-service_typeid="{{productivity.service_type.id}}" data-service_typename="{{productivity.service_type.name}}" data-perhour_cleaning="{{productivity.perhour_cleaning}}" data-perunit_price="{{productivity.perunit_price|floatformat:'3'}}">
    </td>
  </tr>
  {% empty %}
  <tr>
    <td></td>
    <td></td>
    <td>No Data</td>
    <td></td>
  </tr>
  {% endfor %}


</tbody>
</table>
</div><!--main-content-holder-->            
{% include 'admin/common/footer.html' %}
<!-- add_price_popup -->
<div class="overlay" id="add_price_popup">
  <div class="popup-assign-eval"><!--popup-assign-eval-->
      <a id="close_add_price_popup" class="close">&times;</a>
          <div class="content"><!--content-->
          
<form method="post" enctype="multipart/form-data">{% csrf_token %}                      
<input type="hidden" name="action_type" value="addpricerange">
          <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->             

<div class="ticket-form-left"><!--ticket-form-left-->
        <div class="bold-text common-label required-field"> <label >Service Type</label></div>
      <label for="favcity">
              <select id="service_type_add" name="service_type" required onchange="checkService()">
                {% for service in service_types %}
                <option value="{{service.id}}">{{service.name}}</option>
                {% endfor %} 
              </select>
              </label>
</div><!--ticket-form-right--> 
<div class="ticket-form-right"><!--ticket-form-left-->
  <div class="bold-text common-label required-field"> <label >Name</label></div>
  <input type="text" name="name" class="textBox" required>
</div><!--ticket-form-right--> 
</div><!--ticket-wrapper-row ticket-forms-boxes-->

  <div class="ticket-wrapper-row ticket-forms-boxes mt-10"><!--ticket-wrapper-row ticket-forms-boxes-->             
    <div class="ticket-form-left"><!--ticket-form-left-->
            <div class="bold-text common-label "> <label >Minimum Area</label></div>
            <input type="text" name="minimum_area" class="textBox OnlyNumber">
    </div><!--ticket-form-left--> 
    <div class="ticket-form-right"><!--ticket-form-left-->
      <div class="bold-text common-label "> <label >Maximum Area</label></div>
      <input type="text" name="maximum_area" class="textBox OnlyNumber">
</div><!--ticket-form-left--> 
    </div><!--ticket-wrapper-row ticket-forms-boxes-->
  
      <div class="ticket-wrapper-row ticket-forms-boxes mt-10"><!--ticket-wrapper-row ticket-forms-boxes-->             
        <div class="ticket-form-left"><!--ticket-form-left-->
                <div class="bold-text common-label "> <label >Price</label></div>
                <input type="text" name="price" class="textBox OnlyNumber">
        </div><!--ticket-form-right--> 
        <div class="ticket-form-right"><!--ticket-form-left-->
          <div class="bold-text common-label "> <label >Unit Price</label></div>
          <input type="text" name="unit_price" class="textBox OnlyNumber">
  </div><!--ticket-form-right--> 
        </div><!--ticket-wrapper-row ticket-forms-boxes-->
       
<div class="ticket-wrapper-row ticket-forms-boxes mt-10"><!--ticket-wrapper-row ticket-forms-boxes-->             
<div class="ticket-form-left"><!--ticket-form-left-->
   <div class="kitchen-checkbox">    
  <input type="checkbox" id="new_kitchen" name="is_newkitchen" value="true" >

  <label for="new_kitchen"> New Kitchen</label></div>
<div class="facade-checkbox">
  <input type="checkbox" id="high_price_facade" name="is_highprice_facade" value="true">
  <label for="new_kitchen"> High Price Facade</label></div>
  <div class="window-checkbox">
  <input type="checkbox" id="high_price_window" name="is_highprice_window" value="true">
  <label for="new_kitchen"> High Price Window</label></div>
  
 
</div><!--ticket-form-left--> 
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->             

  <div class="ticket-form-left  upholstery-checkbox"><!--ticket-form-left-->
          <div class="bold-text common-label required-field"> <label >Upholstery Type</label></div>
        <label for="favcity">
                <select id="upholstery_type" name="upholstery_type" required >
                
                  <option value="SOFA">SOFA</option>
                  <option value="CHAIR">CHAIR</option>
                  <option value="CURTAIN">CURTAIN</option>
                  
                </select>
                </label>
  </div><!--ticket-form-right--> 
 
  </div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad">   

<div align="center"> <input class="assignButton dateconfirm" name="assing" type="button" value="Add"  onclick="submitAnyForm(this);"></div>  

</div><!--ticket-wrapper-full-->             
</form>
          </div><!--content-->
  </div><!--popup-assign-eval-->
</div><!--overlay-->
<!-- /add_price_popup -->

<!-- edit_productivity_popup -->
<div class="overlay" id="edit_productivity_popup">
    <div class="popup-assign-eval"><!--popup-assign-eval-->
        <a id="close_edit_productivity_popup" class="close">&times;</a>
            <div class="content"><!--content-->
            
<form method="post" enctype="multipart/form-data">{% csrf_token %}                      
<input type="hidden" name="action_type" value="editproductivity">
<input type="hidden" name="productivityid" id="productivity_id" value="">
            <div class="ticket-wrapper-full ltyellow-border"><!--ticket-wrapper-full-->
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->             
  
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class="bold-text common-label required-field"> <label >Service Type</label></div>
        <label for="favcity">
                <select id="service_type_edit_id" name="service_type" required>
                </select>
                </label>
  </div><!--ticket-form-left--> 
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->             
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class="bold-text common-label required-field"> <label >Productivity/cleaner/Hr</label></div>
          <input type="text" name="perhour_cleaning" id="perhour_cleaning_edit_id" class="textBox OnlyNumber" required>
  </div><!--ticket-form-left--> 
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad">   

<div align="center"> <input class="assignButton dateconfirm" name="assing" type="button" value="Update" onclick="submitAnyForm(this);" ></div>  

</div><!--ticket-wrapper-full-->             
</form>
            </div><!--content-->
    </div><!--popup-assign-eval-->
</div><!--overlay-->
<!-- /edit_promocode_popup -->


</div><!--wrapper-->
{% endblock %}  

{% block javascript %}
<script>
  function checkService(){
    if($('#service_type_add option:selected')[0].innerText=='Facade Cleaning'){
      $('.facade-checkbox').show()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    }
    else if($('#service_type_add option:selected')[0].innerText=='Window Cleaning'){
      $('.window-checkbox').show()
      $('.facade-checkbox').hide()
     
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    }
    else if($('#service_type_add option:selected')[0].innerText=='Upholstery Cleaning'){
      $('.upholstery-checkbox').show()
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
    
      $('.kitchen-checkbox').hide()
    }
    else if($('#service_type_add option:selected')[0].innerText=='Kitchen Cleaning'){
      $('.kitchen-checkbox').show()
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
    }
    else{
      $('.facade-checkbox').hide()
      $('.window-checkbox').hide()
      $('.upholstery-checkbox').hide()
      $('.kitchen-checkbox').hide()
    }
  }
  function editItem(){
    $('#add_price_popup').css({'visibility':'visible','opacity':1,});

}
function deleteItem(){
  console.log("delete item")
}



  
$(document).ready(function(){
  $("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
  //add productivity
  $('.add_productivity').click(function(){

      $('#add_productivity_popup').css({'visibility':'visible','opacity':1,});
  });


  $('#close_add_productivity_popup').click(function(){
      $('#add_productivity_popup').css({'visibility':'hidden','opacity':0,});
  });


  //add price
  $('.add_price').click(function(){

$('#add_price_popup').css({'visibility':'visible','opacity':1,});
});


$('#close_add_price_popup').click(function(){
$('#add_price_popup').css({'visibility':'hidden','opacity':0,});
});



//EDIT PROMOCODE
$('.edit_productivity').click(function(){
  $('#productivity_id').val($(this).data('id'));
  $('#perhour_cleaning_edit_id').val($(this).data('perhour_cleaning'));
  $('#perunit_price_edit_id').val($(this).data('perunit_price'));
  $("#service_type_edit_id").empty();
  service_typeid   = $(this).data('service_typeid');
  service_typename = $(this).data('service_typename');
  $("#service_type_edit_id").append($('<option>', {
                      value: service_typeid, 
                      text: service_typename,
                      selected: true
                    }));

  $('#edit_productivity_popup').css({'visibility':'visible','opacity':1,});


})

$('#close_edit_productivity_popup').click(function(){
      $('#edit_productivity_popup').css({'visibility':'hidden','opacity':0,});
  });


//Delete price range
$('.delete_price').click(function(){
  pricerange_id = $(this).data('id');
  $.ajax({

        url: "{% url 'bleach_admin:admin-deletepricerange' %}",

        data: {'pricerange_id':pricerange_id}, 

        dataType: 'json',

        success: function (data) {
              location.reload()
        }
      });

})

})
</script>
{% endblock %}
</body>
</html>
