{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="Author" content="Bleach Kuwait">
<meta name="Email" content="contact@bleach-kw.com">
<meta name="Copyright" content="http://bleach-kw.com">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<meta name="Language" content="en">
<meta name="Description" content="Home - Bleach Housekeepin">
<meta name="Keywords" content="We at Bleach always strive to meet our customers need for exceptional housecleaning and housekeeping services in their homes, apartments and offices">
<meta name="Robots" content="index, follow">
<title>Bleach - KW</title> 
<!--Common Css -->
<link href="{% static 'files/css/main.css' %}?v=1" rel="stylesheet" type="text/css">
<!--Common Css -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!--Bootstrap 3.3.7 -->
<link rel='stylesheet' href="{% static 'files/plugins/bootstrap-3.3.7/css/bootstrap.min.css'%}">
<link rel='stylesheet' href="{% static 'files/plugins/bootstrap-3.3.7/css/bootstrap-theme.min.css'%}">
<!--Bootstrap 3.3.7 -->

<!-- Google Chart Load -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Google Chart Load -->

<!-- Bootstrap Datepicker -->
<link rel="stylesheet" href="{% static 'files/plugins/bootstrap-datepicker/bootstrap-datetimepicker.min.css'  %}">
<link rel="stylesheet" href="{% static 'files/plugins/bootstrap-multipledatepicker/datepicker1.8.css'  %}">
<!-- Bootstrap Datepicker -->

<!-- simple picker -->
<link rel="stylesheet" href="{% static 'files/plugins/simplepicker/simplepicker.css'  %}">
<!-- simple picker -->	

<!-- Choosen Select -->
<link href="{% static 'files/plugins/chosen-select/chosen.css' %}?v=102" rel="stylesheet" type="text/css" />
<!-- Choosen Select -->

<!--Bootstrap Fontawesome -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>  
<!--Bootstrap Fontawesome -->

<!-- Jquery -->
<script src="{% static 'files/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'files/js/jquery.formset.js' %}"></script>
<!-- Jquery -->

<!-- prev next today datepicker -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

<!-- month year picker -->
<!-- <link href="{% static 'files/css/monthpicker.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'files/js/monthpicker.min.js' %}"></script> -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<!-- month year picker -->
{% block css_links %}
{% endblock %}
{% block xtra_css %}
 {% endblock %}
</head>
<body>
     {% block content %}
     {% endblock %}

<!--Bootstrap -->
<script src="{% static 'files/plugins/bootstrap-3.3.7/js/bootstrap.min.js'%}"></script>
<!--Bootstrap -->

<!--Bootstrap Date Picker-->
 <script src="{% static  'files/plugins/bootstrap-datepicker/moment.min.js' %}" type="text/javascript"></script>
 <script src="{% static 'files/plugins/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'files/plugins/bootstrap-multipledatepicker/datepicker1.3.js' %}" type="text/javascript"></script>
<!--Bootstrap Date Picker-->

<!-- simple picker -->
<script src="{% static 'files/plugins/simplepicker/simplepicker.js' %}" type="text/javascript"></script>
<!-- simple picker -->


 <!-- chosen-select -->
 <script src="{% static 'files/plugins/chosen-select/chosen.jquery.js' %}?v=11" type="text/javascript"></script>
 <!-- chosen-select -->

<!--Common javascript-->
<script src="{% static 'files/js/common.js' %}"></script>
<!--Common javascript-->

<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>


<script src="{% static 'files/js/toggle-menu.js' %}"></script> 
<script src="{% static 'files/js/hyperlink.js' %}"></script> 
<script src="{% static 'files/js/hor-scroll.js' %}"></script>
<script src="{% static 'files/js/date-conf-task-scroll.js' %}"></script>
<script src="{% static 'files/js/evaluation-tableScroll.js' %}"></script>
<script src="{% static 'files/js/sort.js' %}"></script>

{% block javascript %}
{% endblock %}
{% include 'common_messages.html' %}
</body>
</html>