{% extends "base.html" %}
{% load mathfilters %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "operationsupervisor/common/header.html" %}    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
        <h1 class="dashboard-head">Investigation Form</h1>
        <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>   
            </div><!--welcome-wrapper-->
       
           
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
      
            
<div class="white-wrapper"><!--white-wrapper-->
<div class="center-formDiv"><!--center-formDiv-->

             <div class="common-sub-head align-left">Details</div> 
             
                  <div class="cleaning-column-wrapper ltyellow-border"><!--cleaning-column-wrapper-->
                    <div class="cleaning-column-widget cleaning-column-widget-column1"><!--cleaning-column-widget cleaning-column-widget-column1-->
                    <div class="blc-number-big">
                    {% for followup in investigation_details.followup %}
                    TKT{{followup.ticket_no}}
                    {% endfor %}
                    </div>
                    <div class="mobile-number">
                    <a href="{% url 'op-supervisor:op-supervisor-order-details' investigation_details.order.id %}" target="_blank">{{investigation_details.order.evaluation.evaluation_id}}</a>
                    </div>
                    <div class="customer-name"><i class="fa blue-text fa-user-circle-o" aria-hidden="true"></i> {{investigation_details.order.evaluation.customer.name}}</div>
                    <div class="mobile-number"><i class="fa green-text fa-lg fa-phone" aria-hidden="true"></i> &nbsp;  {{investigation_details.order.evaluation.customer.mobile_number}}</div>
                    <div class="email"><i class="fa orange-text fa-lg fa-envelope-o" aria-hidden="true"></i> &nbsp;  {{investigation_details.order.evaluation.customer.email}}</div>
                    <br>

                    {% for tickettype in ticket_types %}
                    <div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle yellow-text" aria-hidden="true"></i> &nbsp;  {{tickettype}}</div>
                    {% endfor %}

                    <br>
                    {% for cleaning_team in investigation_details.order_schedule.cleaning_teams %}
                    <div class="tl blue-text" >Cleaning Agent&nbsp;:{{cleaning_team.team_leader.name}}</div>
                    <br>
                    <div class="cleaner blue-text" >Cleaners&nbsp;:<br>{% for member in cleaning_team.cleaning_team_members %}{% if member.member != cleaning_team.team_leader %}<i class="fa fa-user" aria-hidden="true"></i> <span class="gray-text"> {{member.member.name}}, </span>{% endif %}<br>{% endfor %}</div>
                    {% endfor %}

                    {% if investigation_details.notes %}
                    <hr class="hr-dashedpad" />

                    {% if investigation_details.assigned_by.profile_image %}
                    <div class="profile-pic-line"><img class="agent_image" src="{{investigation_details.order.evaluation.call_attender.profile_image.url}}" title="{{investigation_details.assigned_by.name}}"></div>
                    {% else %}
                    <div class="profile-pic-line"><img class="agent_image" src="{% static 'files/images/profile-pic.png' %}" title="{{investigation_details.assigned_by.name}}"></div>
                    {% endif %}

                    <div class="blue-text"><b>Agent Notes</b></div>
                    <div class="email">{{investigation_details.notes}}</div>
                    {% endif %}


                </div><!--cleaning-column-widget cleaning-column-widget-column1-->
                
                <div class="cleaning-column-widget cleaning-column-widget-column2"><!--cleaning-column-widget cleaning-column-widget-column2-->
                    <div class="common-gray-text align-left">
                    <i class="fa fa-lg fa-calendar red-text" aria-hidden="true"></i> 
                    <b>{{investigation_details.order_schedule.start_at}}</b>
                    </div>
                    <br>
                    <div class="common-gray-text align-left"><i class="fa fa-lg fa-building-o green-text" aria-hidden="true"></i> <b>{{investigation_details.order_schedule.customer_address.apartment}}</b>: {% if investigation_details.order_schedule.customer_address.floor %}{{investigation_details.order_schedule.customer_address.floor}}, {% else %}{% endif %} {{investigation_details.order_schedule.customer_address.building}}, {{investigation_details.order_schedule.customer_address.block}}, {{investigation_details.order_schedule.customer_address.street}}, {% if investigation_details.order_schedule.customer_address.avenue %}{{investigation_details.order_schedule.customer_address.avenue}}, {% else %}{% endif %} {{investigation_details.order_schedule.customer_address.area.name}}, {{investigation_details.order_schedule.customer_address.governorate.name}} </div>
                    <br>
                    <div class="common-gray-text align-left"><i class="fa fa-lg fa-users blue-text" aria-hidden="true"></i> {{investigation_details.order_schedule.order_scheduler_book.number_of_cleaners}} Cleaners </div>
                    <br>

                    {% if investigation_details.order_schedule.order_scheduler_book.cleaning_policy == 'SUBSCRIPTION' %}
                    <div class="common-gray-text align-left"><i class="fa fa-lg fa-credit-card orange-text" aria-hidden="true"></i> {{investigation_details.order_schedule.order_scheduler_book.total_cost|div:orderschedules_count|floatformat:3}} KD</div>
                    {% else %}
                    <div class="common-gray-text align-left"><i class="fa fa-lg fa-credit-card orange-text" aria-hidden="true"></i> {{investigation_details.order_schedule.order_scheduler_book.total_cost|floatformat:3}} KD</div>
                    {% endif %}

                    <br>
                    {% if order_schedule.evaluation_details.evaluator %}
                    <div class="profile-pic-line"><img class="agent_image" src="{{investigation_details.order_schedule.evaluation_details.evaluator.profile_image.url}}" title="{{investigation_details.order_schedule.evaluation_details.evaluator.name}}"></div>
                    {% else %}
                    <div class="profile-pic-line"><img class="agent_image" src="{{investigation_details.order.evaluation.call_attender.profile_image.url}}" title="{{investigation_details.order.evaluation.call_attender.name}}"></div>
                    {% endif %}

                    {% if investigation_details.title %}
                    <hr class="hr-dashedpad" />

                    {% if investigation_details.secondary_investigator.profile_image %}
                    <div class="profile-pic-line"><img class="agent_image" src="{{investigation_details.secondary_investigator.profile_image.url}}" title="{{investigation_details.secondary_investigator.name}}"></div>
                    {% else %}
                    <div class="profile-pic-line"><img class="agent_image" src="{% static 'files/images/profile-pic.png' %}" title="{{investigation_details.secondary_investigator.name}}"></div>
                    {% endif %}

                    <div class="blue-text"><b>{{investigation_details.title}}</b></div>
                    {% endif %}

                    {% if investigation_details.secondary_investigation_notes %}
                    <div class="email">{{investigation_details.secondary_investigation_notes}}</div>
                    {% endif %}
                </div><!--cleaning-column-widget cleaning-column-widget-column2-->

            </div><!--cleaning-column-wrapper-->

            <div class="details-sub-head align-left media-head">Media</div>
            <div class="order-clean-outer-wrapper media-explaining"><!--order-clean-outer-wrapper-->
            <div class="gallery-wrapper"><!--gallery-wrapper-->
                
                {% if investigation_details.investigationmedias %}
                <div class="gallery-widget-column-column1"><!--gallery-widget-column-column1-->
                <div class="media-heading align-left">From Customer</div>
                <section>
                    <div id="data-pn-1" data-pn="1" data-src="{% for investigationmedia in investigation_details.investigationmedias %}{% if investigationmedia.taken_status == 'CUSTOMER_SEND' %}{{investigationmedia.media.url}},{% else %}undefined{% endif %}{% endfor %}"></div>
                </section>  
                </div><!--gallery-widget-column-column1-->
                {% endif %}

                {% if investigation_details.investigationmedias %}
                <div class="gallery-widget-column-column2"><!--gallery-widget-column-column1-->
                <div class="media-heading align-left">From Technical Supervisor</div>
                <section>
                    <div id="data-pn-2" data-pn="2" data-src="{% for investigationmedia in investigation_details.investigationmedias %}{% if investigationmedia.taken_status == 'SECONDARY_INVESTIGATION' %}{{investigationmedia.media.url}},{% endif %}{% endfor %}"></div>
                </section>  
                </div><!--gallery-widget-column-column1-->
                {% endif %}

            </div><!--gallery-wrapper-->
            </div><!--order-clean-outer-wrapper-->

      </div><!--center-formDiv-->
      <br>
      <div align="center">
<form method="POST" >{% csrf_token %}
<label for="favcity" style="width:25%">
<select class="textBox ticketaction" name="action" >
<option value="">--Select Action--</option>

{% if followup_scheduler_exists == True %}
{% else %}
<option value="followup">Follow-Up Cleaning</option>
{% endif %}

{% if investigation_details.paybackdiscount %}
{% else %}
<option value="discount">Pay Back / Discount</option>
{% endif %}

{% if investigation_details.buybackpromocodegift %}
{% else %}
<option value="gift">Gift/Promo Code</option>
{% endif %}

{% if investigation_details.internalreport %}
{% else %}
<option value="internal">Internal Reporting</option>
{% endif %}

{% if investigation_details.secondary_investigator == None %}
<option value="assign_investigator">Assign Investigator</option>
{% endif %}
</select>
</label>
<input class="assignButton expandbutton actionaddbutton" name="submit" type="submit" value="ADD"> 

</div>

<br>
<hr class="hr-dashedpad">

<div class="secondaryinvestigation">
<label for="favcity" style="width:25%">
<select class="textBox" name="secondary_investigator" >
<option value="">--Select Investigator--</option>
{% for supervisor in technicalsupervisors%}
<option value="{{supervisor.id}}">{{supervisor.name}}</option>
{% endfor %}
</select>
</label>
<input class="assignButton expandbutton" name="submit" type="submit" value="ASSIGN">
</form>
<hr class="hr-dashedpad">
</div>

<table cellpadding="0" cellspacing="0" border="0" summary="" class="table table-hover footable common-table">
 
<thead>
{% comment %} <tr>
<th></th>
<th ></th>
<th ></th>
</tr> {% endcomment %}
</thead>
<tbody>
{% if followup_scheduler_exists == True %}
<tr>
    <td>
    <span class="lg-text common-gray-text">Follow Up</span>
    </td>

    {% for followup in investigation_details.followup %}
    <td>
    <span class="lg-text blue-text">{{followup.total_cost|floatformat:3}} KD</span>
    </td>

    <td>
    {% if followup_cleaning_teams_exists == True %}
    {% else %}
    <a href="{% url 'op-supervisor:follow-up-edit' investigation_details.id %}"><input type="button" class="checkonButton" value="Edit" /></a>
    <a href="{% url 'op-supervisor:follow-up-delete' investigation_details.id %}"><input type="button" class="checkonDeleteButton" value="Delete" /></a>
    {% endif %}
    </td>
    {% endfor %}

</tr>
{% endif %}

{% if investigation_details.paybackdiscount %}
<tr>
    <td>
    <span class="lg-text common-gray-text">Cash Back / Discount</span>
    </td>
    <td>
    {% for payback in investigation_details.paybackdiscount|slice:":1" %}
    <span class="lg-text blue-text">{{payback.total_cost|floatformat:3}} KD</span>
    {% endfor %}
    </td>

    <td>
    {% if investigation_details.is_paybackdiscount_approved == False %}
    <a href="{% url 'op-supervisor:cash-back-edit' investigation_details.id %}"><input type="button" class="checkonButton" value="Edit" /></a>
    <a href="{% url 'op-supervisor:cash-back-delete' investigation_details.id %}"><input type="button" class="checkonDeleteButton" value="Delete" /></a>
    {% endif %}
    </td>
</tr>
{% endif %}

{% if investigation_details.buybackpromocodegift %}
<tr>
   <td>
    <span class="lg-text common-gray-text">Buy Back / Gift / Promo Code</span>
    </td>
    <td>
    
    <span>
    {% for gift in investigation_details.buybackpromocodegift|slice:":1" %}
    <span class="lg-text blue-text">{{gift.total_cost|floatformat:3}} KD</span>
    {% endfor %}
    </span>

    </td>

    <td>
    {% if investigation_details.is_buybackgiftpromo_approved == False %}
    <a href="{% url 'op-supervisor:buy-back-promo-code-edit' investigation_details.id %}"><input type="button" class="checkonButton" value="Edit" /></a>
    <a href="{% url 'op-supervisor:buy-back-promo-code-delete' investigation_details.id %}"><input type="button" class="checkonDeleteButton" value="Delete" /></a>
    {% endif %}
    </td>
</tr>
{% endif %}

{% if investigation_details.internalreport %}
<tr>
    <td>
    <span class="lg-text common-gray-text">Internal Report</span>
    </td>
    <td>   
    <span class="lg-text green-text">Completed</span>
    </td>

    <td>
    <a href="{% url 'op-supervisor:internal-report-edit' investigation_details.id %}"><input type="button" class="checkonButton" value="Edit" /></a>
    <a href="{% url 'op-supervisor:internal-report-delete' investigation_details.id %}"><input type="button" class="checkonDeleteButton" value="Delete" /></a>
    </td>
</tr>
{% endif %}

</tbody>
<tfoot>
 
</tfoot>
</table>

{% if followup_scheduler_exists == True or  investigation_details.paybackdiscount or investigation_details.buybackpromocodegift or investigation_details.internalreport %}
<form method="POST" name="finalform">{% csrf_token %}
<input type="hidden" name="action" value="final_submit" />
<div align="center"><input class="assignButton expandbutton" name="submit" type="submit" value="SUBMIT" onclick="finalform.submit();" ></div>
</form>
{% endif %}

<div align="left"><a href="/operation-supervisor/dashboard/"><input class="checkonDeleteButton" name="submit" type="submit" value="BACK" ></a></div>

    </div><!--white-wrapper-->
            <br><br>   

      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'operationsupervisor/common/footer.html' %} 
</div><!--wrapper-->
{% endblock %}

{% block javascript %} 
<script>

    //To Hide Images 
    invest_cust_img          = $('#data-pn-1').data('src');
    invest_secondary_img     = $('#data-pn-2').data('src');

    if(invest_cust_img == undefined || invest_cust_img == '')
    {
        $('.gallery-widget-column-column1').remove();
    }

    if(invest_secondary_img == undefined || invest_secondary_img == '')
    {
        $('.gallery-widget-column-column2').remove();
    }

    //hide media
    if((invest_cust_img == undefined || invest_cust_img == '') && (invest_secondary_img == undefined || invest_secondary_img == ''))
    {
        $('.media-head').remove();
        $('.media-explaining').remove();
    }

    //to remove black in media
    $(".pn-prev").click();

    $('document').ready(function(){
        //Initial hiding
        $('.secondaryinvestigation').css("display", "none");
        
        //hide or show inv assign section
        $('.ticketaction').change(function(){
          console.log($(this).val(),"tktkaction")
          if ($(this).val() == 'assign_investigator'){
            $('.secondaryinvestigation').css("display", "block");
            $('.actionaddbutton').css("display", "none");
          }else{
            $('.secondaryinvestigation').css("display", "none");
            $('.actionaddbutton').css("display", "block");
          }
        })
    });

</script>
{% endblock %}
