{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "salesadmin/common/header.html" %}

<div class="wrapper"><!--wrapper-->
   
<section class="content"><!--content-->
	<div class="container-fluid space topspace"><!--container-fluid space-->
		<div class="welcome-wrapper"><!--welcome-wrapper-->
	<h1 class="dashboard-head">Cancel Order</h1>
	<p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>  
		</div><!--welcome-wrapper-->
	
		
		
	<div class="main-content-holder"><!--main-content-holder-->            
	
  <div class="white-wrapper"><!--white-wrapper-->
  <div class="center-formDiv"><!--center-formDiv-->
		
			<div class="common-sub-head align-left order-details-head">Order Details</div> 
			
				<div class="cleaning-column-wrapper ltyellow-border order-details"><!--cleaning-column-wrapper-->
				<div class="cleaning-column-widget cleaning-column-widget-column1"><!--cleaning-column-widget cleaning-column-widget-column1-->
        <div class="details-head align-left order_blc_no">{{order_details.order_no}}</div>
				<div class="inside-head align-left order_customer_name">{{order_details.evaluation.customer.name}}</div>
				<p class="paragraph order_customer_mobile">{{order_details.evaluation.customer.mobile_number}}</p>
				
				<div class="order_payment_status">
        <div class="{% if payment_status == 'COMPLETED' %}green-bg-lg{% elif payment_status == 'PENDING'%}yellow-bg-lg{% elif payment_status == 'ON_HOLD'%}red-bg-lg{% else %}yellow-bg-lg{% endif %} payment_status">{{order_details.payment_status}}</div>
        <div class="{% if order_status == 'APPROVED_BY_CLIENT' %}blue-bg-lg{% elif order_status == 'ORDER_IN_PROGRESS'%}yellow-bg-lg{% elif order_status == 'ORDER_CANCELLED'%}red-bg-lg{% elif order_status == 'ORDER_CLOSED'%}green-bg-lg{% else %}yellow-bg-lg{% endif %}">{{order_details.order_status}}</div>
				</div>

				<div class="order_addresses">
        {% for scheduler in order_details.order_secheduler_feedback %}
          <div class="area-bold">{{scheduler.customer_address.area.name}}</div><div class="common-gray-text align-left"><i class="fa fa-lg fa-check-circle {% if scheduler.work_status == 'CLEANING_FULFILLED' %}green-text{% else %}yellow-text{% endif %}" aria-hidden="true"></i> {{scheduler.order_scheduler_book.service_type.name}} - {{scheduler.order_scheduler_book.cleaning_policy}}</div>
        {% endfor %}
				</div>
			</div><!--cleaning-column-widget cleaning-column-widget-column1-->
			
			<div class="cleaning-column-widget cleaning-column-widget-column2 order-details"><!--cleaning-column-widget cleaning-column-widget-column2-->
				<div class="common-gray-text align-left">{{order_details.evaluation.created|date:'d-m-Y g:i A'}}</div>
				<div class="common-gray-text align-left yellow-text lg-text">{{order_details.evaluation.total_cost|floatformat:"3"}} KD</div>
				<div class="common-gray-text align-left sm-text gray-text">{{order_details.total_cleaners}} cleaners</div>
				{% if order_details.evaluation.call_attender.profile_image %}
          <div class="profile-pic-line"><img class="agent_image" src="{{order_details.evaluation.call_attender.profile_image.url}}"></div>
        {% else %}
					<div class="profile-pic-line"><img class="agent_image" src="{% static 'files/images/profile-pic.png' %}"></div>
        {% endif %}
      </div><!--cleaning-column-widget cleaning-column-widget-column2-->
		</div><!--cleaning-column-wrapper-->
		
		<br><br>
  <div class="common-sub-head align-left ticket-form-head">Order Cancel Form</div> 
  <form method="post" action="{% url 'bleach_salesadmin:cancell-order' cancell_in_progress_order.id %}" enctype="multipart/form-data">{% csrf_token %}
	<input type="hidden" name="order_id" id="order_id_hidden">

<div class="ticket-wrapper-full ltyellow-border ticket-form"><!--ticket-wrapper-full-->

<br><br>
<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
          <div class=" bold-text common-label"> <label>Cancel Options</label></div>
                <label for="favcity">
                <select name="cancel_method" id="cancel_method_id" required>
                    <option value="">--Select option--</option>           
                    
                    {% if cancell_in_progress_order.amount_paid > cancell_in_progress_order.job_completed_amount %}
                    <option value="CASHBACK">Cash Back</option>
                    <option value="CREDIT">Credit</option>
                    {% elif cancell_in_progress_order.amount_paid < cancell_in_progress_order.job_completed_amount %}
                    <option value="SENDINVOICE">Send Invoice</option>
                    {% else %}
                    {% endif %}

                    <option value="CANCELL">Cancell</option>
                  
                </select>
                </label>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  		<div class=" bold-text common-label"> <label>Total Amount</label></div>
      <input type="text" class="textBox" name="total_amount" value="{{cancell_in_progress_order.total_amount|floatformat:'3'}}" required readonly />
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->
<hr class="hr-dashedpad">

<div class="ticket-wrapper-row ticket-forms-boxes"><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  	<div class=" bold-text common-label"> <label>Job Completed</label></div>
        <input type="text" class="textBox" name="jobcompleted" value="{{cancell_in_progress_order.job_completed_amount|floatformat:'3'}}" required readonly/>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  	<div class="text bold-text common-label"> <label>Paid Amount</label></div>
      <input type="text" class="textBox" name="paid_amount" value="{{cancell_in_progress_order.amount_paid|floatformat:'3'}}" required readnly/>
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->  

<hr class="hr-dashedpad amount_div" hidden>

<div class="ticket-wrapper-row ticket-forms-boxes amount_div" hidden><!--ticket-wrapper-row ticket-forms-boxes-->
  <div class="ticket-form-left"><!--ticket-form-left-->
  	<div class=" bold-text common-label"> <label id="amount_label">Amount</label></div>
        <input type="text" class="textBox" id="cancel_amount" name="amount" required readonly/>
  </div><!--ticket-form-left-->
  <div class="ticket-form-right"><!--ticket-form-right-->
  </div><!--ticket-form-right-->
</div><!--ticket-wrapper-row ticket-forms-boxes-->

<hr class="hr-dashedpad">
				<div class="bold-text common-label"> <label>Notes</label></div>
                 <textarea name="notes" cols="" rows="4" class="textArea"></textarea>

</div><!--ticket-wrapper-full--> 

<div align="center" class="ticket-form-button"><input class="assignButton" name="submit" type="submit" value="Submit" onclick='SubmitNewTicket(this);'></div>   	
</form>
<br> <br>
	</div><!--center-formDiv-->

	</div><!--white-wrapper-->      
			
		
		
	</div><!--main-content-holder-->
	</div><!--container-fluid space-->
</section><!--content-->
</div><!--wrapper-->

{% include 'salesadmin/common/footer.html' %}
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script>
$('#cancel_method_id').change(function(){
  if ($(this).val() == 'CREDIT') {
    $('.amount_div').attr("hidden",false);
    $('#amount_label').text('Credit Amount');

    //adding amount to credit amount field
    var credit_amount = "{{cancell_in_progress_order.amount_paid}}" - "{{cancell_in_progress_order.job_completed_amount}}" ;
    $('#cancel_amount').val(parseFloat(credit_amount).toFixed(3));
  }

  if ($(this).val() == 'SENDINVOICE') {
    $('.amount_div').attr("hidden",false);
    $('#amount_label').text('Invoice Amount');

    //adding amount to invoice amount field
    var invoice_amount = "{{cancell_in_progress_order.job_completed_amount}}" - "{{cancell_in_progress_order.amount_paid}}" ;
    $('#cancel_amount').val(parseFloat(invoice_amount).toFixed(3));
  }

  if ($(this).val() == 'CASHBACK') {
    $('.amount_div').attr("hidden",false);
    $('#amount_label').text('PayBack Amount');

    //adding amount to payback amount field
    var payback_amount = "{{cancell_in_progress_order.amount_paid}}" - "{{cancell_in_progress_order.job_completed_amount}}" ;
    $('#cancel_amount').val(parseFloat(payback_amount).toFixed(3));
  }

  if ( ($(this).val() == 'CANCELL') || ($(this).val() == '') ) {
    $('.amount_div').attr("hidden",true);
    $('input[name="amount"]').attr("required",false);
  }


})
</script>
{% endblock %}	