{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<div class="wrapper" id="app">
    <!--wrapper-->
    {% include "tl/common/header.html" %}
    <v-app>
        <section class="content" style="background: #fff;">
            <!--content-->
            <div class="container-fluid space topspace">
                <!--container-fluid space-->
                <div class="welcome-wrapper">
                    <!--welcome-wrapper-->
                    <h1 class="dashboard-head">Backup</h1>
                    <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>
                </div>
                <!--welcome-wrapper-->


                <div class="main-content-holder"><!--main-content-holder-->   
                    <div class="white-wrapper">
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <div id="id_card_1" class="backup-card">
                                   <div>
                                       <div class="row">
                                           <div class="col-xs-3 pr-0 ">
                                            <img class="backup-card-img" src="{% static 'files/images/profile-pic.png' %}">
                                           </div>
                                           <div class="col-xs-9">
                                               <h3 class="backup-card-name">Abdul Fatha</h3>
                                               <h6 class="backup-card-role ">Team incharge</h6>
                                           </div>
                                       </div>
                                   </div>
                                   <div style="margin-left: auto;">
                                       <button id="id_relese_1" data-toggle="modal" data-target="#releseModel"  class="backup-card-button"> Relese</button>
                                       <button id="id_disabled_1" style="display: none;" class="backup-released">Relesed</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div id="id_card_1" class="backup-card">
                                   <div>
                                       <div class="row">
                                           <div class="col-xs-3 pr-0 ">
                                            <img class="backup-card-img" src="{% static 'files/images/profile-pic.png' %}">
                                           </div>
                                           <div class="col-xs-9">
                                               <h3 class="backup-card-name">Abdul Fatha</h3>
                                               <h6 class="backup-card-role ">Team incharge</h6>
                                           </div>
                                       </div>
                                   </div>
                                   <div style="margin-left: auto;">
                                       <button id="id_relese_1" data-toggle="modal" data-target="#releseModel"  class="backup-card-button"> Relese</button>
                                       <button id="id_disabled_1" style="display: none;" class="backup-released">Relesed</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div id="id_card_1" class="backup-card">
                                   <div>
                                       <div class="row">
                                           <div class="col-xs-3 pr-0 ">
                                            <img class="backup-card-img" src="{% static 'files/images/profile-pic.png' %}">
                                           </div>
                                           <div class="col-xs-9">
                                               <h3 class="backup-card-name">Abdul Fatha</h3>
                                               <h6 class="backup-card-role ">Team incharge</h6>
                                           </div>
                                       </div>
                                   </div>
                                   <div style="margin-left: auto;">
                                       <button id="id_relese_1" data-toggle="modal" data-target="#releseModel"  class="backup-card-button"> Relese</button>
                                       <button id="id_disabled_1" style="display: none;" class="backup-released">Relesed</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div id="id_card_1" class="backup-card">
                                   <div>
                                       <div class="row">
                                           <div class="col-xs-3 pr-0 ">
                                            <img class="backup-card-img" src="{% static 'files/images/profile-pic.png' %}">
                                           </div>
                                           <div class="col-xs-9">
                                               <h3 class="backup-card-name">Abdul Fatha</h3>
                                               <h6 class="backup-card-role ">Team incharge</h6>
                                           </div>
                                       </div>
                                   </div>
                                   <div style="margin-left: auto;">
                                       <button id="id_relese_1" data-toggle="modal" data-target="#releseModel"  class="backup-card-button"> Relese</button>
                                       <button id="id_disabled_1" style="display: none;" class="backup-released">Relesed</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div id="id_card_1" class="backup-card">
                                   <div>
                                       <div class="row">
                                           <div class="col-xs-3 pr-0 ">
                                            <img class="backup-card-img" src="{% static 'files/images/profile-pic.png' %}">
                                           </div>
                                           <div class="col-xs-9">
                                               <h3 class="backup-card-name">Abdul Fatha</h3>
                                               <h6 class="backup-card-role ">Team incharge</h6>
                                           </div>
                                       </div>
                                   </div>
                                   <div style="margin-left: auto;">
                                       <button id="id_relese_1" data-toggle="modal" data-target="#releseModel"  class="backup-card-button"> Relese</button>
                                       <button id="id_disabled_1" style="display: none;" class="backup-released">Relesed</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div id="id_card_1" class="backup-card">
                                   <div>
                                       <div class="row">
                                           <div class="col-xs-3 pr-0 ">
                                            <img class="backup-card-img" src="{% static 'files/images/profile-pic.png' %}">
                                           </div>
                                           <div class="col-xs-9">
                                               <h3 class="backup-card-name">Abdul Fatha</h3>
                                               <h6 class="backup-card-role ">Team incharge</h6>
                                           </div>
                                       </div>
                                   </div>
                                   <div style="margin-left: auto;">
                                       <button id="id_relese_1" data-toggle="modal" data-target="#releseModel"  class="backup-card-button"> Relese</button>
                                       <button id="id_disabled_1" style="display: none;" class="backup-released">Relesed</button>
                                   </div>
                                </div>
                            </div>
                           
                           
   

                            <!--add card-->
                            <div class="col-md-4 mb-2">
                                <div @click="dialog = true" class="backup-card-2">
                                    <i class="fa fa-plus backup-add fa-2x" ></i>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>


            </div>


        </section>
        <v-dialog
        v-model="dialog"
        width="500"
      >

  
        <v-card>
          <v-card-title class="mb-5">
            
            <div style="margin-left: auto;">
                <button class="cleaning-status-button-1" @click="dialog = false">Cancel</button>
                <button class="cleaning-status-button-done" @click="dialog = false">Done</button>
  
            </div>
          </v-card-title>
          <v-card-text>
          <div class="row mb-1">
            <label class="c2-container">Abdul Fatha<br>
                <span class="backup-card-role">Team incharge</span>
                <input type="checkbox" >
                <span class="c2-checkmark"></span>
            </label>
          </div>
          <div class="row mb-1">
            <label class="c2-container">Abdul Fatha<br>
                <span class="backup-card-role">Team incharge</span>
                <input type="checkbox" >
                <span class="c2-checkmark"></span>
            </label>
          </div>
          <div class="row mb-1">
            <label class="c2-container">Abdul Fatha<br>
                <span class="backup-card-role">Team incharge</span>
                <input type="checkbox" >
                <span class="c2-checkmark"></span>
            </label>
          </div>
          <div class="row mb-1">
            <label class="c2-container">Abdul Fatha<br>
                <span class="backup-card-role">Team incharge</span>
                <input type="checkbox" >
                <span class="c2-checkmark"></span>
            </label>
          </div>
          </v-card-text>
  
        </v-card>
      </v-dialog>
    </v-app>
<div class="modal fade" id="releseModel" role="dialog">
        <div class="modal-dialog cancel-model cancel-order-border" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
    
                        <div class="d-flex cl-modal-icons">
                            <button data-dismiss="modal" class="img-button">
                                <img src="{% static 'files/icons/cancel.png'%}" class="cl-modal-icon close-evaluation" />
                            </button>
    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="cancel-model-content">
                            <h1>Do you want to Relese?</h1>
                        </div>
                    </div>
    
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="cancel-model-content">
                            <button class="sent-button" onclick="relese()">Yes</button>
                            <button data-dismiss="modal" class="view-button">No</button>
                            <button style="display: none;" id="modal_close" data-dismiss="modal" class="view-button">No</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
      </div>

</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        delimiters: ['<%', '%>'],
        vuetify: new Vuetify({
            theme: {
                themes: {
                    light: {
                        primary: '#2e4e85', // #E53935
                        secondary: '#FFCDD2', // #FFCDD2
                        accent: '#3F51B5', // #3F51B5
                    },
                },
            }
        }),
        data:{
            dialog: false,
        },
        mounted() {
            console.log("vueapp")
        }
    });

    function relese() {
        document.getElementById("id_relese_1").style.display = "none";
        document.getElementById("id_disabled_1").style.display = "block";
        document.getElementById("id_card_1").style.opacity = "0.7";
        $('#modal_close').click();

    }
</script>



{% endblock %}