{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "tl/common/header.html" %}    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
                <h1 class="dashboard-head">Investigation</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>    
            </div><!--welcome-wrapper-->
<div class="main-content-holder"><!--main-content-holder-->
<div class="white-wrapper"><!--white-wrapper-->
    <div class="row">
        <div class="col-md-10"> 
        <h2 class="h2">Followup Details</h2>
        </div>
        <div class="col-md-2">
          <a class="a-btn back-btn" href="{% url 'tl:tldash-board' %}">Back</a>
          </div>
    </div>
    <div class="blc_no">
        <label>{{investigation_details.order.evaluation.evaluation_id}}</label>
    </div>  
    <div class="name">
        <label>{{investigation_details.order.evaluation.customer.name}}</label>
    </div>
   
   <div class="address">
        <label>{{investigation_details.order_schedule.customer_address.block}} Block</label><br> 
        <label>{{investigation_details.order_schedule.customer_address.building}} Building</label><br>
        <label>{{investigation_details.order_schedule.customer_address.street}} Street</label><br>
        <label>{{investigation_details.order_schedule.customer_address.area.name}}</label>
   </div>
   
   <div class="service_type">
        <label>Service Type:{{investigation_details.order_schedule.order_scheduler_book.service_type.name}}</label>
   </div>

   <div class="service_type">
        <label>Investigator:{{investigation_details.investigator.name}}</label>
   </div>


   <div class="row">

        <div class="col-12"> 

            <div class="page-form">

            <form method="post" action="" enctype= "multipart/form-data">{% csrf_token %}

                <div class="page-form-head">
                    <h1>Investigation Form</h1>
                </div>
                
                <div class="page-body">
                    <div class="page-col">
                        <div>
                        <label>Followup Approved:</label>
                        </div>
                        <div>
                        <span>Yes</span><input type="radio" name="isapproved" value="yes">
                        <span>No</span><input type="radio" name="isapproved" value="no">   
                        </div>
                    </div>
                    <div class="page-col">
                        <label>Tendative Date:</label>
                        <input type="text" name="tendative_date" class="date_pick" id="tendative_date">
                    </div>
                    <div class="page-col">
                        <label>Tendative Time:</label>
                        <input type="text" name="tendative_time" class="time_pick" id="tendative_time">
                    </div>
                    <div class="page-col">
                        <label>Number of Cleaners:</label>
                        <input type="number" name="no_of_cleaners" id="no_of_cleaners">
                    </div>
                    <div class="page-col">
                        <label>Cleaning Hours:</label>
                         <input type="number" name="cleaning_hours" id="cleaning_hours" min="1">
                    </div>
                    <div class="page-col">
                        <label>Investigator Notes:</label>
                        <textarea maxlength="1000" name="notes" ></textarea>
                    </div>

                <div class="multi_field_wrapper multi-field-wrapper">
                    <div class="multi-fields">
                    <div class="multi-field page-col">
                       <label>Upload Media :</label>
                       <input type="file" name="media" maxlength="100"/>
                       <button type="button" class="remove-field-btn" title="Remove field">
                            <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                       </button>
                    </div>
                    </div>
                    <button type="button" class="add-field-btn" title="Add field">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    </button> 
                </div>
</div>
                <div class="page-footer text-center">
                        <button type="button" class="primary-btn" onclick="submitAnyForm(this);">Checkout/Submit</button>
                </div>

            </form>

            </div>
        </div>
    </div>              
</div><!--white-wrapper-->      
             
            
</div><!--main-content-holder-->
</div><!--container-fluid space-->
</section><!--content-->
{% include 'tl/common/footer.html' %} 
</div><!--wrapper-->
{% endblock %}

{% block javascript %}
<script>

    $('document').ready(function(){
        //Initial hiding
        $('#tendative_date').parents('.page-col').hide();
        $('#tendative_time').parents('.page-col').hide();
        $('#no_of_cleaners').parents('.page-col').hide();
        $('#cleaning_hours').parents('.page-col').hide();
    });

    //hide and show tendative date & time
    $('input[name="isapproved"]').change(function(){
        follow_up_approved =this.value;
        if(follow_up_approved=='yes')
        {
            $('#tendative_date').parents('.page-col').show();
            $('#tendative_time').parents('.page-col').show();
            $('#no_of_cleaners').parents('.page-col').show();
            $('#cleaning_hours').parents('.page-col').show();
        }    
        else
        {
            $('#tendative_date').parents('.page-col').hide();
            $('#tendative_time').parents('.page-col').hide();
            $('#no_of_cleaners').parents('.page-col').hide();
            $('#cleaning_hours').parents('.page-col').hide();
            $('#tendative_date').val('');
            $('#tendative_time').val('');
            $('#no_of_cleaners').val('');
            $('#cleaning_hours').val('');
        }
    });
</script>    
{% endblock %}            