{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper"><!--wrapper-->
{% include "admin/common/header.html" %}    
    <section class="content"><!--content-->
        <div class="container-fluid space topspace"><!--container-fluid space-->
            <div class="welcome-wrapper"><!--welcome-wrapper-->
        <h1 class="dashboard-head">Payback,Discount Approval Form</h1>
        <p>Bleach CRM-PS Version 0.1 (Beta) developed and owned by Bleach-Kw</p>   
            </div><!--welcome-wrapper-->
       
           
            
     <div class="main-content-holder"><!--main-content-holder-->            
     
      
            
<div class="white-wrapper"><!--white-wrapper-->
<div class="center-formDiv"><!--center-formDiv-->

             <div class="common-sub-head align-left">Details</div> 
             
                  <div class="cleaning-column-wrapper ltyellow-border"><!--cleaning-column-wrapper-->
                    <div class="cleaning-column-widget cleaning-column-widget-column1"><!--cleaning-column-widget cleaning-column-widget-column1-->
                    <div class="blc-number-big">{{paybackdiscount_details.investigation.order.evaluation.evaluation_id}}</div>
                    <div class="customer-name"><i class="fa blue-text fa-user-circle-o" aria-hidden="true"></i> {{paybackdiscount_details.investigation.order.evaluation.customer.name}}</div>
                    <div class="mobile-number"><i class="fa green-text fa-lg fa-phone" aria-hidden="true"></i> &nbsp;  {{paybackdiscount_details.investigation.order.evaluation.customer.mobile_number}}</div>
                    <div class="email"><i class="fa orange-text fa-lg fa-envelope-o" aria-hidden="true"></i> &nbsp;  {{paybackdiscount_details.investigation.order.evaluation.customer.email}}</div>
                    <br>
                    {% for cleaning_team in paybackdiscount_details.investigation.order_schedule.cleaning_teams %}
                    <div class="tl blue-text">Team Leader&nbsp;:{{cleaning_team.team_leader.name}}</div>
                    <div class="cleaner blue-text">Cleaners&nbsp;:{% for member in cleaning_team.cleaning_team_members %}{% if member.member != cleaning_team.team_leader %}{{member.member.name}},{% endif %}{% endfor %}</div>
                    {% endfor %}
                </div><!--cleaning-column-widget cleaning-column-widget-column1-->
                
                <div class="cleaning-column-widget cleaning-column-widget-column2"><!--cleaning-column-widget cleaning-column-widget-column2-->
                    <div class="common-gray-text align-left"><b>
                      {{paybackdiscount_details.investigation.order_schedule.start_at}}</b>
                    </div>
                    <div class="common-gray-text align-left"><b>{{paybackdiscount_details.investigation.order_schedule.customer_address.apartment}}</b>: {% if paybackdiscount_details.investigation.order_schedule.customer_address.floor %}{{paybackdiscount_details.investigation.order_schedule.customer_address.floor}}, {% else %}{% endif %} {{paybackdiscount_details.investigation.order_schedule.customer_address.building}}, {{paybackdiscount_details.investigation.order_schedule.customer_address.block}}, {{paybackdiscount_details.investigation.order_schedule.customer_address.street}}, {% if paybackdiscount_details.investigation.order_schedule.customer_address.avenue %}{{paybackdiscount_details.investigation.order_schedule.customer_address.avenue}}, {% else %}{% endif %} {{paybackdiscount_details.investigation.order_schedule.customer_address.area.name}}, {{paybackdiscount_details.investigation.order_schedule.customer_address.governorate.name}} </div>
                    <div class="common-gray-text align-left">{{paybackdiscount_details.investigation.order_schedule.order_scheduler_book.number_of_cleaners}} Cleaners</div>
                    {% if order_schedule.evaluation_details.evaluator %}
                    <div class="profile-pic-line"><img class="agent_image" src="{{paybackdiscount_details.investigation.order_schedule.evaluation_details.evaluator.profile_image.url}}" title="{{paybackdiscount_details.investigation.order_schedule.evaluation_details.evaluator.name}}"></div>
                    {% else %}
                    <div class="profile-pic-line"><img class="agent_image" src="{{paybackdiscount_details.investigation.order.evaluation.call_attender.profile_image.url}}" title="{{paybackdiscount_details.investigation.order.evaluation.call_attender.name}}"></div>
                    {% endif %}
                </div><!--cleaning-column-widget cleaning-column-widget-column2-->
            </div><!--cleaning-column-wrapper-->
      </div><!--center-formDiv-->
    </div><!--white-wrapper-->
            <br><br>   
                      
      </div><!--main-content-holder-->
        </div><!--container-fluid space-->
    </section><!--content-->
{% include 'admin/common/footer.html' %} 
</div><!--wrapper-->
{% endblock %}

{% block javascript %} 
{% endblock %}
