#chart_div {
float: right;
}

#feedback_chart_div{
    position: absolute;
    top:80px;
    height:auto;
}

.set1 {
float:left;
}

#client_fromdate {
float:left;width:150px;height:30px; text-align:center; position:absolute; left:25px; top:100px; bottom:0;
}

#client_todate {
float:left;width:150px;height:30px; text-align:center; position:absolute; left:25px; top:150px; bottom:0;
}

#pfrom {
float:left;width:150px;height:30px; text-align:center; position: relative;; left:25px; top:70px; bottom:0;
}

#pto {
float:left;width:150px;height:30px; text-align:center; position: relative;; left:25px; top:90px; bottom:0;
}

.count_div {
    position: absolute;
    left: 15px;
    width: 150px;
}

/* #daym {
    position: relative;
    top:100px;
    left: 0px;
    width: 94px;
    height: 30px;
    padding: 5px;
} */

#monthpicker1 {
    position: absolute;
    top:140px;
    left: 15px;
    width: 50px;
}

#monthpicker2 {
    position: absolute;
    top:180px;
    left: 15px;
    width: 50px;
}

#monthpicker1_fb {
    position: absolute;
    top:28px;
    left: 320px;
    width: 50px;
}

#monthpicker2_fb {
    position: absolute;
    top:28px;
    left: 450px;
    width: 50px;
}

#reset_orders{
    position: absolute;
    top:90px;
    left: 120px;
    width: 50px;
}

#reset_tickets{
    position: absolute;
    top:90px;
    left: 120px;
    width: 50px;
}

#reset_feedbacks{
    position: absolute;
    top:28px;
    right: 30px;
    width: 50px;
}

#reset_clients{
    position: absolute;
    top:60px;
    left: 50px;
    width: 100px;
}

#ord_fromdate{ border:1px solid #ccc; border-radius:0px; height:30px; line-height:20px; width:160px; text-align:center; position:absolute; left:25px; top:140px; bottom:0;}
#ord_todate{ border:1px solid #ccc; border-radius:0px; height:30px; line-height:20px; width:160px; text-align:center; position:absolute; left:25px; top:180px; bottom:0;}

#ord_fromdate_fb{ border:1px solid #ccc; border-radius:0px; height:30px; line-height:20px; width:120px; text-align:center; position:absolute; left:320px; top:28px; bottom:0;}
#ord_todate_fb{ border:1px solid #ccc; border-radius:0px; height:30px; line-height:20px; width:120px; text-align:center; position:absolute; left:450px; top:28px; bottom:0;}

#month1 {
    width: 120px; height: 30px; text-align: left; font-size: small;
}

#month2 {
    width: 120px; height: 30px; text-align: left; font-size: small;
}