
/** Backgrounds**/


.completed-status-bg{
    background: #393983 !important;
}


.approved-status-bg{
    background: #31AA4A !important;
}
.not-approved-status-bg{
    background:#8B8B8B !important;
}
.approved-not-paid-status-bg{
    background: #00BDA3 !important;
}
.approved-notpaid-status-bg{
    background: #699189 !important;
}
.not-approved-not-paid-status-bg{
    background:#699189 !important;
}

.order-in-progress-status-bg{
    background: #83B549 !important;
}
.evaluating-status-bg{
    background: #BDAED1 !important;
}
.pending-status-bg{
    background: #FFA400 !important;
}
.expired-status-bg{
    background:#FF5E00 !important; 
}
.rejected-status-bg{
    background: #C91212 !important;
}
.cancel-in-progress-status-bg{
    background: #751CAF !important;
}
.cancelled-status-bg{
    background: #924E19 !important;
}
.followup-cleaning-status-bg{
    background: #DBA03A !important;
}
.onetime-cleaning-status-bg{
    background: #0D87C5 !important;
}.subscription-cleaning-status-bg{
    background: #139275 !important;
}


.ticket-in-progress-status-bg{
    background: #f2ba1e !important;
}

.ticket-raised-status-bg{
    background: #528ce6 !important;
}

.ticket-closed-status-bg{
    background: #3cbbb1 !important;
}

.client-active-bg{
    background: #3cbbb1 !important;
}

.client-not-active-bg{
    background: #f2ba1e !important;
}

.payment-not-started-bg{
    background: #528ce6 !important;
}

.payment-in-progress-bg{
    background: #f2ba1e !important;
}

.payment-completed-bg{
    background: #3cbbb1 !important;
}

.prepaid-bg{
    background: #165baa !important;
}

.postpaid-bg{
    background: #f765a3 !important;
}

.breakdown-bg{
    background: #a155b9 !important;
}

.subscription-bg{
    background: #3cbbb1 !important;
}

.round-marker{
    width: 12px;
    height: 12px;
  
    border-radius: 20px;
    margin: 5px;
}

.prepaid-line{ border-left:4px solid #165baa !important;}
.postpaid-line{ border-left:4px solid #f765a3 !important;}
.breakdown-line{ border-left:4px solid #a155b9 !important;}
.subscription-line{ border-left:4px solid #3cbbb1 !important;}

.completed-line{ border-left:4px solid #393983 !important;}
.approved-line{ border-left:4px solid #31AA4A !important;}
.not-approved-line{ border-left:4px solid #8B8B8B !important;}
.approved-not-paid-line{ border-left:4px solid #00BDA3 !important;}
.order-in-progress-line{ border-left:4px solid #83B549 !important;}
.evaluating-line{ border-left:4px solid #BDAED1 !important;}
.pending-line{ border-left:4px solid #FFA400 !important;}
.expired-line{ border-left:4px solid #FF5E00 !important;}
.rejected-line{ border-left:4px solid #C91212 !important;}
.cancel-in-progress-line{ border-left:4px solid #751CAF !important;}
.cancelled-line{ border-left:4px solid #924E19 !important;}

/** Texts **/

.primary-text{
    color:#2f4e85 !important;
}
.primary-green-text{
    color:#289bac !important;
}
.completed-text{
    color: #779F39 !important;
}
.approved-text{
    color:#31AA4A !important;
}
.approved-not-paid-text{
    color: #425D57 !important;
}
.order-in-progress-text{
    color: #0D87C5 !important;
}
.evaluating-text{
    color: #1A8E92 !important;
}
.pending-text{
    color: #606FCE !important;
}
.expired-text{
    color:#7C35A5 !important; 
}
.rejected-text{
    color: #C91212 !important;
}
.cancel-in-progress-text{
    color: #DBA03A !important;
}
.cancelled-text{
    color: #FF5E00 !important;
}
.followup-text{
    color:#DBA03A !important;
}
.rejected-text{
    color:#C91212!important;
}
.subscription-text{
    color:#139275 !important;
}
.onetime-text{
    color:#0D87C5 !important;
}
.not-approved-text{
    color:#8B8B8B !important;
}
.approved-notpaid-text{
    color:#699189 !important;
}

/**
Popups
**/

.subscription-popup{
    border-bottom:6px solid  #139275 !important;
}
.onetime-popup{
    border-bottom:6px solid  #0D87C5 !important;
}
.followup-popup{
    border-bottom:6px solid  #DBA03A !important;
}
.rejected-popup{
    border-bottom:6px solid  #C91212 !important;
}

.not-approved-popup{
    border-bottom:6px solid  #8B8B8B !important;
}

.approved-notpaid-popup{
    border-bottom:6px solid  #699189 !important;
}

.primary-popup{
    border-bottom:6px solid  #289bac !important;
}

/** Border **/

.subscription-border{
    border:1px solid  #139275 !important;
}
.onetime-border{
    border:1px solid  #0D87C5 !important;
}
.followup-border{
    border:1px solid  #DBA03A !important;
}
.rejected-border{
    border:1px solid  #C91212 !important;
}
.not-approved-border{
    border:1px solid  #8B8B8B !important;
}
.approved-notpaid-border{
    border:1px solid  #699189 !important;
}
.cancel-order-border{
    border-bottom: 1px ​solid #2C4C82 !important;
}

/** bootstrap modals **/

.primary-modal{
    border:none !important;
}
.primary-modal-border{
    border-bottom: 6px solid #2e4e85 !important;
}
.primary-btn{
    background:#2e4e85 !important;
}
.primary-btn-bordered{
    background:#ffffff !important;
    border:1px solid #2e4e85 !important;
    border-radius:4px;
    color:#2e4e85 !important
}


.tooltip-arrow{
    display:none !important;
}

.blue-tooltip + .tooltip > .tooltip-inner {background-color: #2e4e85 !important; }


.tooltip-subtext{
font-size:12px;
text-align: right;
}


/** chip +dot **/
/* Cancelled*/
.cancel-chip{
    border-left:6px solid #c91212 !important;
  }
  .assigned-chip{
    border-left:6px solid #dba03a !important;
  }
  .inprogress-chip{
    border-left:6px solid #0d87c5 !important;
  }
  .completed-chip{
    border-left:6px solid #10a82f !important;
  }
  .cancel-chip-bg{
    background: #c91212 !important;
  }
  .assigned-chip-bg{
    background: #dba03a !important;
  }
  .inprogress-chip-bg{
    background: #0d87c5 !important;
  }
  .completed-chip-bg{
    background: #10a82f !important;
  }
  .notstarted-chip-bg{
    background: #AAA8A7 !important;
  }
  .status-dot{
  
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 15px;
}
.cancelled-flag{
    border: 1px solid red;
    border-radius: 10px;
    background: #ff000005;
    max-width: 100px;
    padding: 2px;
    font-size: 13px;
    line-height: -2px;
    /* justify-content: center; */
    text-align: center;
}