{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="wrapper">
  <!--wrapper-->

  {% if request.user.user_type == 'SALESADMIN' %}
  {% include "salesadmin/common/header.html" %}
  {% elif request.user.user_type == 'AGENT' %}
  {% include "agent/common/header.html" %}
  {% elif request.user.user_type == 'ADMIN' %}
  {% include "admin/common/header.html" %}
  {% elif request.user.user_type == 'BOOKINGOFFICER' %}
  {% include "bookingofficer/common/header.html" %}
  {% elif request.user.user_type == 'EVALUATOR' %}
  {% include "evaluator/common/header.html" %}
  {% elif request.user.user_type == 'SENIORTEAMLEADER' %}
  {% include "stl/common/header.html" %}
  {% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
  {% include "operationsupervisor/common/header.html" %}
  {% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
  {% include "technicalsupervisor/common/header.html" %}
  {% elif request.user.user_type == 'ACCOUNTANT' %}
  {% include "accountant/common/header.html" %}
  {% endif %}

  <section class="content">
    <!--content-->
    <div class="container-fluid space topspace">
      <!--container-fluid space-->
      <div class="welcome-wrapper">
        <!--welcome-wrapper-->
        <h1 class="dashboard-head">Scheduler</h1>
        <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>
      </div>
      <!--welcome-wrapper-->
      <!-- Modal -->
      <!-- Button trigger modal -->


      <div class="main-content-holder">
        <!--main-content-holder-->



        <div class="white-wrapper" style="overflow:auto">
          <!--white-wrapper-->

          {% comment %} <div id="myModal" class="lv-modal">
            <div class="modal-dialog">


              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <div class="modal-date"></div>
                  <div class="modal-resource"></div>

                </div>
                <div class="modal-footer ">
                  <div class="text-left lv-conf">
                    Are you sure to cancel the leave ?
                    <button type="button" class="btn btn-default" onclick="cancelLeave()">Yes</button>
                    <button type="button" class="btn btn-default" onclick="closeConf()">No</button>

                  </div>
                  <button type="button" class="btn btn-danger" onclick="openConf()" id="lv-cancel-btn">Cancel
                    Leave</button>
                </div>
              </div>

            </div>
          </div> {% endcomment %}


          {% if request.user.user_type == 'OPERATIONSUPERVISOR' or request.user.user_type == 'SENIORTEAMLEADER' %}
          <div id="cancelModal" class="lv-modal">
            <div class="lv-modal-dialog">


              <div class="lv-modal-content">
                <div class="lv-modal-header">
                  <div class="lv-close" onclick="closeCancelModal()">
                    <span class="modal-title "></span>
                    <i class="fa fa-close lv-close-btn" style="float:right"></i>

                  </div>


                </div>
                <div class="lv-modal-body ">
                  <div class="modal-date"></div>
                  <div class="modal-resource"></div>

                </div>
                <div class="lv-modal-footer ">
                  <div class="text-left lv-conf p-2">
                    <div> Are you sure to cancel the leave ? </div>

                    <button type="button" class="btn  btn-sm  lv-option-btn" onclick="cancelLeave()">Yes</button>
                    <button type="button" class="btn  btn-sm lv-option-btn" onclick="closeConf()">No</button>

                  </div>
                  <div class=" lv-modal-btn" onclick="openConf()" id="lv-cancel-btn">Cancel Leave</div>
                </div>
              </div>

            </div>
          </div>
          {% else %}
          {% endif %}
          <div class="mb-10">
            <button id="leave_button_id" onclick="viewLeave()"  style="color: black !important;" class="productivity-tab-item black productivity-tab-border">Leave Scheduler</button>
            <button id="work_button_id" onclick="viewWork()" style="color: black !important;" class="productivity-tab-item black ">Work Scheduler</button>

          </div>

         <!--leave starts here -->
         <div id="leave_id">
          <div class="lv-month d-flex">
            <div class="select-container">


              <div class="lv-dropdown">
                <div class="select">
                  <span id="lv-category">ALL</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="user-type">
                <ul class="lv-dropdown-menu">
                  <li id="all" onclick="resetResources('ALL')">ALL</li>
                  <li id="team-incharge" onclick="resetResources('TEAM IN CHARGE')">TEAM IN CHARGE</li>
                  <li id="cleaner" onclick="resetResources('CLEANER')">CLEANER</li>
                </ul>
              </div>

            </div>


            <span class="material-icons next-arrow" onclick="previousMonth()">
              arrow_backward
            </span>
            <span class="material-icons next-arrow" onclick="nextMonth()">
              arrow_forward
            </span>
            <span class="lv-month-select" id="lv-month-select">JANUARY 2021</span>

            {% if request.user.user_type == 'ADMIN' %}
            {% else %}
            <div class="lv-clear-btn d-flex" onclick="clearAll()">
              <div class="lv-select-counter" id="select-counter">0</div>
              <div class="pr-20"> Clear All</div>
            </div>
            <div class="lv-add-btn" onclick="openForm()">
              +
            </div>
            {% endif %}

            <div class="lv-result-box">


              <div class="select-container" style="width:auto">


                <div class="lv-dropdown" style="width:80%;margin:10%">
                  <div class="select" style="width:100%;">
                    <span id="lv-result-content">Leave Type</span>
                    <i class="fa fa-chevron-left"></i>
                  </div>
                  <input type="hidden" name="leave-type">
                  <ul class="lv-dropdown-menu">
                    <li>Annual Leave</li>
                    <li>Weekly Off</li>
                    <li>Sick Leave</li>
                    <li>Maternity/Paternity</li>
                  </ul>
                </div>

              </div>


              <div class="d-flex">
                <div class="lv-submit-btn" onclick="applyLeave()">
                  Apply
                </div>
                <div class="lv-submit-btn" onclick="closeForm()">
                  Cancel
                </div>
              </div>

            </div>
          </div>
          <div id="table-wrapper">
            <div id="#table-scroll " style="max-height:100vh;">
              <table cellspacing="0" cellpadding="0" id="leave-table">
                <th width="200" class="noBorder " id="lv-head-1">

                </th>
                <tbody id="lv-body-head">

                </tbody>

              </table>
            </div>
          </div>
         </div>
         <!--leave ends here -->

         <!--shift goes here -->     
         <div id="work_id" style="display: none;">
          <div class="lv-month d-flex">
            <div class="select-container">


              <div class="lv-dropdown">
                <div class="select">
                  <span id="lv-category">ALL</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="user-type">
                <ul class="lv-dropdown-menu">
                  <li id="all" onclick="resetResources('ALL')">ALL</li>
                  <li id="team-incharge" onclick="resetResources('TEAM IN CHARGE')">TEAM IN CHARGE</li>
                  <li id="cleaner" onclick="resetResources('CLEANER')">CLEANER</li>
                </ul>
              </div>

            </div>


            <span class="material-icons next-arrow" onclick="previousMonth()">
              arrow_backward
            </span>
            <span class="material-icons next-arrow" onclick="nextMonth()">
              arrow_forward
            </span>
            <span class="lv-month-select" id="lv-month-select-2">JANUARY 2021</span>

            {% if request.user.user_type == 'ADMIN' %}
            {% else %}
            <div class="lv-clear-btn d-flex" onclick="clearAll()">
              <div class="lv-select-counter" id="select-counter">0</div>
              <div class="pr-20"> Clear All</div>
            </div>

            
            {% endif %}

            <div class="lv-result-box-2">


              <div class="select-container" style="width:auto">


                <div class="lv-dropdown" style="width:80%;margin:10%">
                  <div class="select" style="width:100%;">
                    <span id="lv-result-content">Shifts</span>
                    <i class="fa fa-chevron-left"></i>
                  </div>
                  <input type="hidden" name="leave-type">
                  <ul class="lv-dropdown-menu">
                    <li>Annual Leave</li>
                    <li>Weekly Off</li>
                    <li>Sick Leave</li>
                    <li>Maternity/Paternity</li>
                  </ul>
                </div>

              </div>


              <div class="d-flex">
                <div class="lv-submit-btn" onclick="applyLeave()">
                  Apply
                </div>
                <div class="lv-submit-btn" onclick="closeForm()">
                  Cancel
                </div>
              </div>

            </div>
          </div>
          <div id="table-wrapper">
            <div id="#table-scroll " style="max-height:100vh;">
              <table cellspacing="0" cellpadding="0" id="leave-table">
                <th width="200" class="noBorder " id="lv-head-2-">

                </th>
                <tbody id="lv-body-head-2">

                </tbody>

              </table>
            </div>
          </div>
         </div>
         <!--shift ends here-->
        </div>



      </div>
      <!--main-content-holder-->
    </div>
    <!--container-fluid space-->

  </section>
  <!--content-->

  {% endblock %}
  {% block javascript %}
<script src="{% static 'files/js/shift/shift-selector.js' %}"> </script>
<script>
  function viewWork() {
    document.getElementById("leave_id").style.display = "none";
    document.getElementById("work_id").style.display = "block";
    $("#work_button_id").addClass("productivity-tab-border");
    $("#leave_button_id").removeClass("productivity-tab-border");

    var url='https://test.bleach-kw.com';

    var resourceList=[];
    var cleanerList=[];
    var teamLeaderList=[];
    var leaveSheet=[];
    var leaveId='';
    var modaluser='';
    var newResource=[];
    var dateCounter=0;

    $(".lv-result-box-2").hide();
    $(".lv-conf-2").hide();
    $('.lv-modal-2').hide();
    var modalBox=false;
    var DateTime = luxon.DateTime;

    var selectedId = [];
    var days=['M','T','W','T','F','S','S'];
    var currentMonth = DateTime.local().month; //CURRENT MONTH
    var currentYear=DateTime.local().year;   //CURRENT YEAR
    var currentDay=DateTime.local(2017, 10, 30).weekday; //CURRENT DAY

    $('#lv-month-select-2').text(DateTime.local().monthLong+' '+ DateTime.local().year);
    var resources=[];
    var selectedDates=[];
    var resourceLeave=[];
    getUsersShift();
  }





  function viewLeave() {
    document.getElementById("leave_id").style.display = "block";
    document.getElementById("work_id").style.display = "none";
    $("#work_button_id").removeClass("productivity-tab-border");
    $("#leave_button_id").addClass("productivity-tab-border");

    var url='https://test.bleach-kw.com';

    var resourceList=[];
    var cleanerList=[];
    var teamLeaderList=[];
    var leaveSheet=[];
    var leaveId='';
    var modaluser='';
    var newResource=[];
    var dateCounter=0;

    $(".lv-result-box").hide();
    $(".lv-conf").hide();
    $('.lv-modal').hide();
    var modalBox=false;
    var DateTime = luxon.DateTime;

    var selectedId = [];
    var days=['M','T','W','T','F','S','S'];
    var currentMonth = DateTime.local().month; //CURRENT MONTH
    var currentYear=DateTime.local().year;   //CURRENT YEAR
    var currentDay=DateTime.local(2017, 10, 30).weekday; //CURRENT DAY

    $('#lv-month-select').text(DateTime.local().monthLong+' '+ DateTime.local().year);
    var resources=[];
    var selectedDates=[];
    var resourceLeave=[];
    getUsers();
  }

</script>
{% endblock %}