{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<!-- leave selector -->
<link href="{% static 'files/css/leave/leave-selector.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'files/css/leave/select-box.css' %}" rel="stylesheet" type="text/css">
<!-- leave selector -->
<div class="wrapper">
  <!--wrapper-->

  {% if request.user.user_type == 'SALESADMIN' %}
  {% include "salesadmin/common/header.html" %}
  {% elif request.user.user_type == 'AGENT' %}
  {% include "agent/common/header.html" %}
  {% elif request.user.user_type == 'ADMIN' %}
  {% include "admin/common/header.html" %}
  {% elif request.user.user_type == 'BOOKINGOFFICER' %}
  {% include "bookingofficer/common/header.html" %}
  {% elif request.user.user_type == 'EVALUATOR' %}
  {% include "evaluator/common/header.html" %}
  {% elif request.user.user_type == 'SENIORTEAMLEADER' %}
  {% include "stl/common/header.html" %}
  {% elif request.user.user_type == 'OPERATIONSUPERVISOR' %}
  {% include "operationsupervisor/common/header.html" %}
  {% elif request.user.user_type == 'TECHNICALSUPERVISOR' %}
  {% include "technicalsupervisor/common/header.html" %}
  {% elif request.user.user_type == 'ACCOUNTANT' %}
  {% include "accountant/common/header.html" %}
  {% endif %}

  <section class="content">
    <!--content-->
    <div class="container-fluid space topspace">
      <!--container-fluid space-->
      <div class="welcome-wrapper">
        <!--welcome-wrapper-->
        <h1 class="dashboard-head">Scheduler</h1>
        <p>Bleach CRM-PS Version 1.0 developed and owned by Bleach-Kw</p>
      </div>
      <!--welcome-wrapper-->
      <!-- Modal -->
      <!-- Button trigger modal -->


      <div class="main-content-holder" id="app">
        <!--main-content-holder-->



        <div class="white-wrapper" style="overflow:auto;min-height:80vh">
          <!--white-wrapper-->
         
          <div id="leaveModal" class="lv-modal" style="border: none !important; background: none !important;">
            <div class="modal-dialog">


              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" onclick="closeLeaveModal()">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <div class="modal-date"></div>
                  <div class="modal-resource"></div>

                </div>
                <div class="modal-footer ">
                  <div class="text-left lv-conf">
                    Are you sure to cancel the leave ?
                    <button type="button" class="btn btn-default" onclick="cancelLeave()">Yes</button>
                    <button type="button" class="btn btn-default" onclick="closeConf()">No</button>

                  </div>
                  <button type="button" class="btn btn-danger" onclick="openConf()" id="lv-cancel-btn">Cancel
                    Leave</button>
                </div>
              </div>

            </div>
          </div> 
          <!--- occupied modal begins-->
          <div id="occupiedModal" class="lv-modal" style="border: none !important; background: none !important;">
            <div class="modal-dialog" id="occupied-modal-dialog">


              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" onclick="closeOccupiedModal()">&times;</button>
                  <h4 class="modal-title primary-text" ><span id="occupied_staff_name"></span>   <span class="ml-20 occupied-date" id="occupied_date"></span></h4>
                </div>
                <div class="modal-body occupied-modal-body">
                 
                 

                </div>
               
              </div>

            </div>
          </div> 
          <!--- occupied modal ends here-->

          <!--  Shift Modal  -->
          <div id="ShiftModal" class="lv-modal" style="border: none !important; background: none !important;">
            <div class="modal-dialog">


              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" onclick="closeShiftModal()">&times;</button>
                  <h4 class="modal-title"></h4>
                 
                </div>
                <div class="modal-body">
                  <div class="modal-date"></div>
                  <div id="start_at" class="mt-10"></div>
                  <div id="end_at" class="mt-10"></div>
                  <div class="modal-resource"></div>

                </div>
                <div class="modal-footer ">
                  <div class="text-left lv-conf">
                    Are you sure to cancel the shift ?
                    <button type="button" class="btn btn-default" onclick="cancelShift()">Yes</button>
                    <button type="button" class="btn btn-default" onclick="closeConf()">No</button>

                  </div>
                  <button type="button" class="btn btn-danger" onclick="openConf()" id="lv-cancel-btn">Cancel
                    Shift</button>
                </div>
              </div>

            </div>
          </div>  
          <!-- custom shift modal -->
          <div id="customModal" class="lv-modal" style="border: none !important; background: none !important;">
            <div class="modal-dialog">


              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" onclick="closeCustomModal()">&times;</button>
                  <h4 class="modal-title"> Select Slots</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <input type="number" placeholder="Cleaning hours" class="mt-10 w-100 num-input" id="shift_cleaning_hr" v-model="cl_cleaning_hr"/>
                      </div>
                    </div>
                    <div class="col-md-12">
                     
                      <!--<input type="time" placeholder="Starting time" class="mt-10 w-100" id="shift3_start_at"/>-->
                      <div  class="mt-10">
                        <span class="choose">Start Time</span>
                      
                          <div class="ls-dropdown">
                            <div class="select">
                              <span>Select Time</span>
                              <i class="fa fa-chevron-left"></i>
                            </div>
                            <input type="hidden" name="shift3_start_at" id="shift3_start_at" v-model="cl_start_time">
                            <ul class="ls-dropdown-menu">
                              <li id="12:00 AM">00:00 AM</li>
                              <li id="02:00 AM">02:00 AM</li>
                              <li id="04:00 AM">04:00 AM</li>
                              <li id="06:00 AM">06:00 AM</li>
                              <li id="08:00 AM">08:00 AM</li>
                              <li id="10:00 AM">10:00 AM</li>
                              <li id="12:00 PM">12:00 PM</li>
                              <li id="02:00 PM">02:00 PM</li>
                              <li id="04:00 PM">04:00 PM</li>
                              <li id="06:00 PM">06:00 PM</li>
                              <li id="08:00 PM">08:00 PM</li>
                              <li id="10:00 PM">10:00 PM</li>
                            </ul>
                          </div>
                      
                     
                    </div>
                    
                    <!-- <div class="row">
                      <div class="col-md-4 mt-10" v-for="(time,index) in time_slots" v-bind:key="index">
                        <div class="time-slot duration-active text-center p-2" v-if="selected_slot.includes(index)" @click="removeSlot(index)">
                          <% time.start_time + ' - '+ time.end_time %>
                        </div>
                        <div class="time-slot duration text-center p-2"  v-else-if="checkSlot(index)"   @click="selectSlot(index)">
                          <% time.start_time + ' - '+ time.end_time %>
                        </div>
                        <div class="time-slot duration-inactive text-center p-2"  v-else >
                          <% time.start_time + ' - '+ time.end_time %>
                        </div>
                       
                        
                      </div>
                    </div> -->
                    </div>
                    <div class="col-md-12 mt-20">
                      
                      <!--<input type="time" placeholder="Ending time" class="mt-10 w-100 " id="shift3_end_at"/>-->
                      <!-- <div >
                        <span class="choose">End Time</span>
                      
                          <div class="ls-dropdown">
                            <div class="select">
                              <span>Select Time</span>
                              <i class="fa fa-chevron-left"></i>
                            </div>
                            <input type="hidden" name="shift3_end_at" id="shift3_end_at" onchange="checkTime()">
                            <ul class="ls-dropdown-menu">
                            
                              <li id="02:00">02:00 AM</li>
                              <li id="04:00">04:00 AM</li>
                              <li id="06:00">06:00 AM</li>
                              <li id="08:00">08:00 AM</li>
                              <li id="10:00">10:00 AM</li>
                              <li id="12:00">12:00 PM</li>
                              <li id="14:00">02:00 PM</li>
                              <li id="16:00">04:00 PM</li>
                              <li id="18:00">06:00 PM</li>
                              <li id="20:00">08:00 PM</li>
                              <li id="22:00">10:00 PM</li>
                              <li id="00:00">12:00 AM</li>
                            </ul>
                          </div>
                      
                     
                    </div> -->
                    
                    </div>
                    <div class="col-md-12 mt-20 " id="err-msg">
                      <div class="err-msg">
                        End Time should be greater than the start time.
                      </div>
                     
                    </div>
                  </div>
                  
                

                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-primary"  id="lv-cancel-btn" onclick="addToShift3()">Submit</button>
                 
                </div>
              </div>

            </div>
          </div> 
          <!-- custom shift modal ends here-->


          {% if request.user.user_type == 'OPERATIONSUPERVISOR' or request.user.user_type == 'SENIORTEAMLEADER' %}
          <div id="cancelModal" class="lv-modal">
            <div class="lv-modal-dialog">


              <div class="lv-modal-content">
                <div class="lv-modal-header">
                  <div class="lv-close" onclick="closeCancelModal()">
                    <span class="modal-title "></span>
                    <i class="fa fa-close lv-close-btn" style="float:right"></i>

                  </div>


                </div>
                <div class="lv-modal-body ">
                  <div class="modal-date"></div>
                  <div class="modal-resource"></div>

                </div>
                <div class="lv-modal-footer ">
                  <div class="text-left lv-conf p-2">
                    <div> Are you sure to cancel the leave ? </div>

                    <button type="button" class="btn  btn-sm  lv-option-btn" onclick="cancelLeave()">Yes</button>
                    <button type="button" class="btn  btn-sm lv-option-btn" onclick="closeConf()">No</button>

                  </div>
                  <div class=" lv-modal-btn" onclick="openConf()" id="lv-cancel-btn">Cancel Leave</div>
                </div>
              </div>

            </div>
          </div>
          {% else %}
          {% endif %}
          <div class="mb-10">
            <button id="leave_button_id" onclick="viewLeave()"  style="color: black !important;" class="productivity-tab-item black productivity-tab-border">Leave Scheduler</button>
            <button id="work_button_id" onclick="viewWork()" style="color: black !important;" class="productivity-tab-item black ">Work Scheduler</button>

          </div>
         
          <div class="d-flex mt-10 lv-label mb-20 justify-end">
            <div class="d-flex"><div class="lv-item-label lv-weekly"></div>Weekly Off </div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-annual"></div>Annual Leave </div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-sick"></div>Sick Leave</div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-unpaid"></div>Unpaid Leave </div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-compassionate"></div>Compassionate Leave </div> 
            {% comment %} <div class="d-flex ml-20"><div class="lv-item-label lv-absent"></div>Absent</div>  {% endcomment %}
            <div class="d-flex ml-20"><div class="lv-item-label lv-occupied"></div>Occupied </div> 

           </div>
         <!--leave starts here -->
         <div id="leave_id">
          <div class="lv-month d-flex">
            <div class="select-container">


              <div class="lv-dropdown">
                <div class="select">
                  <span id="lv-category">ALL</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="user-type">
                <ul class="lv-dropdown-menu">
                  <li id="all" onclick="resetResources('ALL')">ALL</li>
                  <li id="team-incharge" onclick="resetResources('TEAM IN CHARGE')">TEAM IN CHARGE</li>
                  <li id="cleaner" onclick="resetResources('CLEANER')">CLEANER</li>
                </ul>
              </div>

            </div>
           

            <span class="material-icons next-arrow" onclick="previousMonth()">
              arrow_backward
            </span>
            <span class="material-icons next-arrow" onclick="nextMonth()">
              arrow_forward
            </span>
            <span class="lv-month-select" id="lv-month-select">JANUARY 2021</span>
           
           
            {% if request.user.username == 'superuser' %}
            <br>
            <button onclick="CRM_BAMBOO_UPDATE()" >CRM -> BAMBOO</button>
            <button onclick="BAMBOO_CRM_UPDATE()">BAMBOO -> CRM</button>
            {% endif %}
            
            {% if request.user.user_type == 'ADMIN' %}
            {% else %}
            
            <div class="lv-clear-btn d-flex" onclick="clearAll()">
              <div class="lv-select-counter" id="select-counter">0</div>
              <div class="pr-20"> Clear All</div>
            </div>
            <div class="lv-add-btn" onclick="openForm()">
              +
            </div>
            {% endif %}

            <div class="lv-result-box">


              <div class="select-container" style="width:auto">


                <div class="lv-dropdown" style="width:80%;margin:10%">
                  <div class="select" style="width:100%;">
                    <span id="lv-result-content">Weekly Off</span>
                    <i class="fa fa-chevron-left"></i>
                  </div>
                  <input type="hidden" name="leave-type" value="WEEKLY OFF">
                  <ul class="lv-dropdown-menu">
                    {% comment %} <li>Annual Leave</li>
                    <li>Weekly Off</li>
                    <li>Sick Leave</li>
                    <li>Unpaid Leave</li>
                    <li>Compassionate Leave</li> {% endcomment %}
                    {% comment %} <li>Absent</li> {% endcomment %}
                    {% comment %} <li>Covid Leave</li> {% endcomment %}
                  </ul>
                </div>

              </div>


              <div class="d-flex">
                <div class="lv-submit-btn" onclick="applyLeave()">
                  Apply
                </div>
                <div class="lv-submit-btn" onclick="closeForm()">
                  Cancel
                </div>
              </div>

            </div>
          </div>
          
          <!-- wrapper 1-->
          <div id="table-wrapper">
            <div id="#table-scroll " style="max-height:100vh;">
              <table cellspacing="0" cellpadding="0" id="leave-table">
                <th width="200" class="noBorder " id="lv-head-1">

                </th>
                <tbody id="lv-body-head">

                </tbody>

              </table>
            </div>
          </div>
          <!-- wrapper 1 ens here-->
         </div>
         <!--leave ends here -->



         <!--shift goes here -->     
         <div id="work_id" style="display: none;">
          <div class="lv-month d-flex">
            <div class="select-container">


              <div class="lv-dropdown">
                <div class="select">
                  <span id="lv-category">ALL</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="user-type">
                <ul class="lv-dropdown-menu">
                  <li id="all-2" onclick="resetResourcesShift('ALL')">ALL</li>
                  <li id="team-incharge-2" onclick="resetResourcesShift('TEAM IN CHARGE')">TEAM IN CHARGE</li>
                  <li id="cleaner-2" onclick="resetResourcesShift('CLEANER')">CLEANER</li>
                </ul>
              </div>

            </div>


            <span class="material-icons next-arrow" onclick="previousMonthShift()">
              arrow_backward
            </span>
            <span class="material-icons next-arrow" onclick="nextMonthShift()">
              arrow_forward
            </span>
            <span class="lv-month-select" id="lv-month-select-2">JANUARY 2021</span>
            {% if request.user.user_type == 'ADMIN' %}
            {% else %}
            <div class="lv-clear-btn d-flex" onclick="clearAllShift()">
              <div class="lv-select-counter" id="ls-select-counter">0</div>
              <div class="pr-20"> Clear All</div>
            </div>

            
            {% endif %}

            <button id="id_shift_1" class="lv-shift-btn" onclick="addToShift1()">
              <i class="fa fa-plus" style="margin-right: 10px;" aria-hidden="true" ></i> Shift 1 (8 AM - 6 PM)
            </button>
            <button id="id_shift_2" class="lv-shift2-btn" onclick="addToShift2()">
              <i class="fa fa-plus" style="margin-right: 10px;" aria-hidden="true"></i> Shift 2 (12 PM - 10 PM)
            </button>
            <button id="id_shift_2" class="lv-shift3-btn" onclick="openCustomModal()">
              <i class="fa fa-plus" style="margin-right: 10px;" aria-hidden="true"></i> Custom Shift
            </button>
          </div>
          <!-- wrapper 2-->
          <div id="table-wrapper">
            <div id="#table-scroll " style="max-height:100vh;">
              <table cellspacing="0" cellpadding="0" id="leave-table">
                <th width="200" class="noBorder " id="lv-head-2-1">

                </th>
                <tbody id="lv-body-head-2">

                </tbody>

              </table>
            </div>
          </div>
          <!-- wrapper 2 ends here-->
         </div>
         <!--shift ends here-->
         <div class="lv-loader"></div>
        </div>



      </div>
      <!--main-content-holder-->
    </div>
    <!--container-fluid space-->

  </section>
  <!--content-->

  {% endblock %}
  {% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <!-- leave selector js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- leave selector js -->
<script src="{% static 'files/js/shift/shift-selector.js' %}"> </script>
<script src="{% static 'files/js/leave/select-box.js' %}"> </script>
<script src="{% static 'files/js/leave/leave-selector.js' %}"> </script>


<script>
  function viewWork() {
    $('.lv-label').html(`
    <div class="d-flex ml-20"><div class="lv-item-label lv-annual"></div>Shift 1</div> 
    <div class="d-flex"><div class="lv-item-label lv-weekly ml-20"></div>Shift 2  </div> 
          
          
            <div class="d-flex ml-20"><div class="lv-item-label lv-maternity"></div>Custom Shift  </div> 
            <div class="d-flex"><div class="lv-item-label lv-occupied ml-20"></div>Leave  </div> 
          
    `)
    $('.lv-loader').show()
    document.getElementById("leave_id").style.display = "none";
    document.getElementById("work_id").style.display = "block";
    $("#work_button_id").addClass("productivity-tab-border");
    $("#leave_button_id").removeClass("productivity-tab-border");

    dateCounter=0;
    $('#select-counter').text('0')
    $('#ls-select-counter').text('0')
     resourceList=[];
     cleanerList=[];
     teamLeaderList=[];
     leaveSheet=[];
     leaveId='';
     modaluser='';
     newResource=[];
   

    $(".lv-result-box-2").hide();
    $(".lv-conf-2").hide();
    $('.lv-modal-2').hide();
     modalBox=false;
     DateTime = luxon.DateTime;

     selectedId = [];
     days=['M','T','W','T','F','S','S'];
     currentMonth = DateTime.local().month; //CURRENT MONTH
     currentYear=DateTime.local().year;   //CURRENT YEAR
     currentDay=DateTime.local(2017, 10, 30).weekday; //CURRENT DAY

    $('#lv-month-select-2').text(DateTime.local().monthLong+' '+ DateTime.local().year);
     resources=[];
     selectedDates=[];
     resourceLeave=[];
    getUsersShift();
  }


  function CRM_BAMBOO_UPDATE() {
    axios.get(this.url+'/api/leave-update-bamboo-crm/?action=CRM_TO_BAMBOO').then((response)=>{
      console.log(response,"resaa")
    })
  }

  function BAMBOO_CRM_UPDATE() {
    axios.get(this.url+'/api/leave-update-bamboo-crm/?action=BAMBOO_TO_CRM').then((response)=>{
      console.log(response,"resaa")
    })
  }


  function viewLeave() {
    $('.lv-label').html(`
    <div class="d-flex"><div class="lv-item-label lv-weekly"></div>Weekly  </div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-annual"></div>Annual </div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-sick"></div>Sick </div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-unpaid"></div>Unpaid </div> 
            <div class="d-flex ml-20"><div class="lv-item-label lv-compassionate"></div>Compassionate </div> 
            
    `)
    $('.lv-loader').show()
    document.getElementById("leave_id").style.display = "block";
    document.getElementById("work_id").style.display = "none";
    $("#work_button_id").removeClass("productivity-tab-border");
    $("#leave_button_id").addClass("productivity-tab-border");

   
    dateCounter=0;
    $('#select-counter').text('0')
    $('#ls-select-counter').text('0')
     resourceList=[];
     cleanerList=[];
     teamLeaderList=[];
     leaveSheet=[];
     leaveId='';
     modaluser='';
     newResource=[];
  

    $(".lv-result-box").hide();
    $(".lv-conf").hide();
    $('.lv-modal').hide();
     modalBox=false;
     DateTime = luxon.DateTime;

     selectedId = [];
     days=['M','T','W','T','F','S','S'];
     currentMonth = DateTime.local().month; //CURRENT MONTH
     currentYear=DateTime.local().year;   //CURRENT YEAR
     currentDay=DateTime.local(2017, 10, 30).weekday; //CURRENT DAY

    $('#lv-month-select').text(DateTime.local().monthLong+' '+ DateTime.local().year);
     resources=[];
     selectedDates=[];
     resourceLeave=[];
    getUsers();
  }

</script>
{% endblock %}
