
.lv-shift-btn {
    margin-left: 10px !important;
    padding: 12px;
    cursor: pointer;
    background-color:#12a72f;
    color: #ffffff;
    border-radius: 20px;
    font-size: 14px;
    height: 100%;
    border: none;
}
.lv-shift-btn:hover {
    border:1px solid #12a72f;
    background-color:#ffffff;
    color: #12a72f;

}
.mt-10{
    margin-top:10px;
}
.num-input{
    padding: 5px;
   
    border: 1px solid #426ec8;
    }
.lv-shift2-btn {
    margin-left: 10px !important;
    padding: 12px;
    cursor: pointer;
    background-color: #0e87c5;
    color: #ffffff;
    border-radius: 20px;
    font-size: 14px;
    height: 100%;
    border: none;
}
.lv-shift2-btn:hover {

    border:1px solid #0e87c5;
    background-color:#ffffff;
    color: #0e87c5;

}
.lv-shift3-btn{
    margin-left: 10px !important;
    padding: 12px;
    cursor: pointer;
    
    color: #ffffff;
    border-radius: 20px;
    font-size: 14px;
    height: 100%;
    border: none;
    background-color: #db9f3a;
}
.lv-shift3-btn:hover {

    border:1px solid #db9f3a;
    background-color:#ffffff;
    color: #db9f3a;

}
/*Styling Selectbox*/
.ls-dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
  }
  .ls-dropdown .select {
      cursor: pointer;
      display: block;
      padding: 10px
  }
  .ls-dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .ls-dropdown:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
  }
  .ls-dropdown:active {
      background-color: #f8f8f8
  }
  .ls-dropdown.active:hover,
  .ls-dropdown.active {
      box-shadow: 0 0 4px rgb(204, 204, 204);
      border-radius: 5px 5px 0 0;
      background-color: #f8f8f8
  }
  .ls-dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .ls-dropdown .ls-dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 5px 5px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .ls-dropdown .ls-dropdown-menu li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .ls-dropdown .ls-dropdown-menu {
      padding: 0;
      list-style: none
  }
  .ls-dropdown .ls-dropdown-menu li:hover {
      background-color: #f2f2f2
  }
  .ls-dropdown .ls-dropdown-menu li:active {
      background-color: #e2e2e2
  }
  .duration-inactive{
    pointer-events: none;
    background-color: #eeeeee;
}
.duration-active{
    border: 1px solid #2e4e85;
    border-radius: 5px;
    cursor:pointer;
}
.duration{
    border:1px solid #dee2e6;
    border-radius:5px;
    cursor:pointer;
}
  .err-msg{
    color: #e40606;
    border: 1px solid red;
    border-radius: 4px;
    padding: 4px;
    background: #ef0c0c14;

  }
  .lv-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3968c6;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    display:none;
  }
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #err-msg{
      display: none;
  }
.lv-day{
    padding:10px;
    font-size:14px;
    

}
#leave-table{
    width:100%;
    height:100%;
}
.lv-date{
    cursor:pointer;
    padding:5px;
}
.lv-shift-date{
    cursor:pointer;
    padding:5px;
}
.lv-day-container{
    margin-left:145px;
}
.lv-resource{
    font-size:18px;
    padding:10px;
  
}
.d-flex{
    display:flex;
}
.pt-10{
    padding-top: 10px;
}
.noBorder {
    border:none !important;
}
.day-head{
    font-weight:300;
    text-align: center;
}
.profile-icon{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right:5%;
}
.lv-selected-date{
   
    border:2px solid #555555;
    
}
.lv-annual{
    background-color:#10a82f;
    color:#ffffff;
    
}
.lv-covid{
    background-color:#919191;
    color:#ffffff;
    
}
.lv-covid-text{
    color:#919191 !important;
}
#occupied-modal-dialog{
    border:1px solid #707070 !important;
    border-bottom:6px solid #2C4C82 !important;
}
.occupied-date{
    font-size:14px;
    color:#707070;
}
.occupied-blc-text{
    font-size:18px;
    font-weight:500;
    cursor: pointer;
}
.occupied-edit{
    cursor:pointer;
}
.lv-absent-text{
    color:#c91212 !important;
}
.lv-absent{
    background-color:#c91212;
    color:#ffffff;
    
}
.lv-annual-text{
    color:#10a82f !important;
}
.lv-maternity{
    background-color:#dba03a;
    color:#ffffff;
}
.lv-maternity-text{
    color:#db9f3a !important;
  
}
.lv-weekly{
    background-color:#0D87C5;
    color:#ffffff;
}
.lv-weekly-text{
    color:#0D87C5 !important;
    
}
.lv-item-label{
   
    width:10px;
    height:10px;
    
    margin:5px;
}

.justify-end{
    justify-content:end;
}
.lv-label{
    font-size: 12px;
}
.lv-sick{
    background-color:#393983;
    color:#ffffff;
}
.lv-sick-text{
    color:#393983 !important;
  
}
.lv-holiday{
    background-color:#e8e9ec;
   
}
.lv-month{
 
   font-weight:300;
   font-size:24px;
   margin-bottom:20px;
}
.lv-category{
    width: 180px;
    margin-right: 20px;
}
.next-arrow{
    color: #3968c6;
    padding-left:10px;
    cursor:pointer;
    padding-top:5px;
    width:30px;
}
.prev-arrow{
    color: #2f4e85;
    cursor:pointer;
    padding-top:5px;
}
.lv-month-select{
    padding-left:20px;
    padding-top:10px;
}
.lv-add-btn{
    text-align: center;
    margin-left: 30px;
    background-color: #3968c6;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding-top: 13px;
    color: #ffffff;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
}
.lv-clear-btn{
    margin-left:auto !important;
    padding:10px;
    cursor:pointer;
    background-color: #3968c6;
    color: #ffffff;
    border-radius:20px;
    font-size:14px;
    height:100%;
}
.lv-result-box{
   
 
    z-index: 999;
    background-color: #ffffff;
  
    border-radius: 20px;
    position: absolute;
    right: 7%;
    
    border: 1px solid #eeeeee;
}

.lv-form-group{
    padding:10px;
    margin-bottom:30px;
}
.lv-result-label{
    font-size:18px;
}
.lv-submit-btn{
    background-color: #2f4e85;
    color: #ffffff;
    text-align: center;
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    margin-bottom: 30px;

}

#lv-result-content{
    margin-top:10px;
}
.text-primary{
    color: #3968c6;
}
.modal {
    text-align: center;
    padding: 0!important;
    
  }
  .modal-dialog{
    border: 1px solid #000000 !important;
    border-radius: 5px !important;
  }
  .lv-occupied{
      background: #D1DEF3 !important;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .modal-date{
      font-size:18px;
      font-weight:600;
  }
  .close{
      opacity: 1 !important;
  }
  .resource-profile{
    margin-top: auto;
    margin-bottom: auto;
  }
  .lv-position{
      color:#1F2B4A;
      font-weight:300;
      font-size:12px;
  }
  #table-wrapper {
    position: relative;
    max-height: 70vh;
    overflow: auto;

  }
  #table-scroll {
    
    overflow:auto;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table * {
   
   
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
  .lv-counter{
    text-align: center;
    height: 20px;
    width: 26px;
    font-size: 13px;
    color: #ffffff;
    left: 0%;
    
    top: 4px;
    position: absolute;
    border-radius: 14px;
    background-color: #426ec8;
  }
  .select{
    border: 1px solid #3968c6;
  }
  .lv-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:#ffffff;
    min-width: 300px;
    z-index:999;
    border: 1px solid #eeeeee;
    border-radius:20px;
  }
  .lv-close{
      padding:10px;
     
  }
  .lv-conf{
    padding: 10px;
  }
  .lv-option-btn{
    background-color: #3968c6;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color:#ffffff;
  }
  .lv-option-btn:hover{
      color:#000000;
  }
  .lv-close-btn{
    cursor:pointer;
  }
  .lv-modal-body{
      padding:10px;
      
  }
  #lv-cancel-btn{
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .lv-modal-btn{
    background-color: #d20e36;
    color: #ffffff;
    text-align: center;
    margin: auto;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px;
    width: 130px;
    margin-bottom: 30px;
  }
  .lv-modal-footer{
      
  }
  .modal-title{
      font-size:18px;
      
  }
  .modal-resource{
      padding-top:20px;
  }
  .lv-modal{
      display:none;
  }
  .resource-name{
      font-size:14px;
  }
  .lv-select-counter{
    background-color: #333;
 
    border-radius: 14px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    width: 30px;
  }
  .pr-20{
      padding-right:20px;
  }
  .lv-weekend{
      background-color:#f2f2f2;
  }
  .lv-friday{
    background-color:#f2f2f2;
}


  
  @media only screen and (max-width: 600px) {
      .lv-month{
        width: 200%;
      }
      .lv-modal{
        position: absolute;
        
        top: 30%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color:#ffffff;
        width:80%;
        z-index:999;
        border: 1px solid #eeeeee;
        border-radius:20px;
      }
  }

  