{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="section-new-login">


<div class="login-new-container"><!--login-new-container-->
	<div class="center-item-login"><!--center-item-login-->
    	<div class="login-inner-wrapper login-inner-boxes"><!--login-inner-wrapper login-inner-boxes-->
        	<div class="login-inner-left"><!--login-inner-left-->
            <div class="login-logo"><img src="{% static 'files/images/logo.png' %}"></div>
            <h1>My Bleach</h1>
            <p>Welcome to Bleach’s Customer Relationship Management System Version 0.1  (Beta). Developed and owned by Bleach Kuwait </p>
            </div><!--login-inner-left-->
            <div class="login-inner-right"><!--login-inner-right-->
            	<form class="newlogin-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                	<h1>Welcome Aboard</h1>
                    <div><input class="textBox" name="username" type="text" class="login-username" placeholder="User Name" id="username"></div>
                    <div class="pwd"><input class="textBox" name="password" id="password_field" type="password" class="login-password" placeholder="Password" autocomplete="off"><div class="login-eye toggle-password"><i class="fa fa-eye-slash"></i></div></div>
                    <p><input name="" type="checkbox" value=""> Remember password</p>
                    <div><input name="Sign in" type="submit" class="sign-button" value="Login">&nbsp;<input name="cancel" type="button" class="reset-button" value="Cancel"></div>
                    
                </form>
            </div><!--login-inner-right-->
        </div><!--login-inner-wrapper login-inner-boxes-->
    </div><!--ccenter-item-login-->
</div><!--login-new-container-->

</section>
{% endblock %}
 


